[2017-10-03 21:28] #1088 closed

[2017-10-03 21:30] BYK commented on #4586
Closing due to lack of response. You can reopen when you are back with more info.

[2017-10-03 21:30] #4586 closed

[2017-10-03 21:31] mwpastore opened #4620 "yarn v1.1.0 upgrade does not respect caret version specifier"
I have this in my package.json:

[code]

ember-chrome-devtools v0.1.3 is installed. ember-chrome-devtools v0.2.0 is available:

[code]

The version specifier "^x.y.z" means "take the latest x with any y and z," correct? So I would expect `yarn upgrade` to install ember-chrome-devtools v0.2.0 in this case, since it is available. However, **it does not**. After a `yarn upgrade`, ember-chrome-devtool

[2017-10-03 21:31] #4450 closed

[2017-10-03 23:21] Daniel15 commented on #4289
lol, @hzoo you can probably blame me for that 😛  We can always move babel-standalone out of the repo, but I think the REPL functionality is very useful.

[2017-10-03 23:32] hershmire opened #4622 "yarn pack does not include src/node_modules when added as negative in gitignore"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Folder structure of our node libraries we publish are as follows:

[code]

**.gitignore contents:**

[code]

When packaging up the library, Yarn will ignore **all** folders that are named `node_modules` even though .gitignore specifies that `src/node_modules` should be included. Seems to be due to `D

[2017-10-04 00:07] hzoo commented on #4289
I was thinking that we should make a smaller version of babel-standalone (babel-repl, babel-standalone-repl) that only includes what we need to test PRs/repl?

[2017-10-04 00:09] Daniel15 commented on #4289
Do you mean just for the plugins / presets modified in the PR? What if you want to test the interaction between the modified plugins and some other plugins? I suspect a lot of builds would want the 'full' REPL build available. Maybe we could split up the build into several files and only build the files that need to be rebuilt.

Anyways, we should move this discussion to the Babel repo 😛

[2017-10-04 01:35] alvincrespo commented on #4441
Yup. Just tried to run `yarn init` and had this issue:

[code]

[2017-10-04 03:20] novascreen opened #4623 "Offline mirror is missing scoped modules from private registry"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
Offline mirror does not include tarballs from npm registry on Nexus Repository Manager in private network

**If the current behavior is a bug, please provide the steps to reproduce.**

`.npmrc`:
[code]
(also had  `yarn-offline-mirror "node_modules_cache"` in `.yarnrc`, no difference)
- removed lock fi

[2017-10-04 04:37] pungggi opened #4624 "Installing Yarn via npm does not set installationMethod in its package.json correctly"
I get a warning:
warning Your current version of Yarn is out of date. The latest version is "1.1.0" while you're on "1.0.2".
info To upgrade, run the following command:
$ curl -o- -L https://yarnpkg.com/install.sh | bash

For me as a windows user this doesnt really help ;)

[2017-10-04 04:56] bestander commented on #1297
Can you do `yarn link some-module` without the double quotes?

[2017-10-04 05:12] bestander commented on #4615
Thanks for raising the issue and providing examples.
cc @BYK

I am not sure reverting the change at this stage would be the right way, almost 5 months has passed and it would cause churn but from the opposite direction.

Any suggestion what could be done around your use case while keeping the current behavior?

[2017-10-04 05:19] bestander commented on #3797
@nbarray, thanks for stepping in

[2017-10-04 05:29] bestander commented on #3294
Thanks everyone, I'll mark this issue as closed.
Please go ahead and raise issues for particular cases.

[2017-10-04 05:29] #3294 closed

[2017-10-04 06:51] jontelm commented on #3485
"npm rebuild node-sass" was a way around for now.

[2017-10-04 07:12] akosyakov opened #4625 "[question] managing workspaces with yarn CLI"
Is there a way to link/unlink existing workspaces with yarn CLI? Or only with adding/removing them via package.json and running yarn again?

[2017-10-04 07:30] artursvonda commented on #4620
Actually, it's correct behaviour. You can read the specifics here https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004

[2017-10-04 07:54] BorntraegerMarc opened #4626 "Error when installing over curl (did not happen 24 hours ago)"
**Do you want to request a *feature* or report a *bug*?**

Bug
**What is the current behavior?**
The following error get thrown when installing yarn on linux via curl:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

Run:
[code]
**What is the expected behavior?**
The installation does not fail. This used to work 24 hours ago...

**Please mention your node.js, ya

[2017-10-04 08:26] cobyism commented on #1297
Exactly the same behaviour, regardless of presence/absence or quote type (`'` vs. `"`).

[2017-10-04 09:20] Danack opened #4627 "setting cache-folder to non-existent directory blocks further changes to cache-folder"
**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

When you set the cache-folder to be an directory that does not exist, and that needs super user privileges to create, it then becomes impossible to set the cache-folder to be a different directory.

I discovered this when moving yarn from a docker container, where the application files were mounte

[2017-10-04 09:56] earnubs opened #4628 "as root user, yarn writes to /usr/local/share"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

As root user, yarn writes a .yarnrc file to `/usr/local/share` on install. root users can't always write to `/usr/local/share`, for example when in a chrooted build environment.

**If the current behavior is a bug, please provide the steps to reproduce.**

In a chrooted build environment, `yarn inst

[2017-10-04 10:21] danez commented on #4476
I already got used to always passing the `--latest` flag to `upgrade-interactive`, as for me too it doesn't make sense to run without this flag. In my case this is because (for example the phantomjs update) I only use upgrade-interactive for updates that are not included in the ranges I have in package.json (pahntom 1.x -> 2.x, when using ^1.0.0 in pkg.json). If I would want to get the latest vers

[2017-10-04 10:25] maximeg commented on #4439
@rally25rs sorry to hijack the ticket, but I have a question related to your explanation.
before, when running `yarn upgrade`, the sub-dependancies were upgraded (according to versions constraints of dependancies). And since 1.0, this doesn't work anymore.
How can we do that now ?

[2017-10-04 10:40] shawn-dsz commented on #4586
I don't think so, any ideas on how I can fix this.

[2017-10-04 10:42] Puneeth-n commented on #3845
I face the same issue with `yarn: 0.27.5` However, this issue doesn't exist in the latest version of `Yarn`

[2017-10-04 11:11] rarkins commented on #4476
@danez what behaviour did you experience if you did simply `rm -rf yarn.lock && yarn install` vs `rm -rf yarn.lock && rm -rf node_modules && yarn install` ? I also remove `node_modules` to be safe but wasn't 100% sure how it can impact lock file resolutions, which I thought were done first/independently of fetching packages.

[2017-10-04 11:34] Daniel15 commented on #4404
[code]

This seems specific to that package, rather than a Yarn issue?

[2017-10-04 11:35] Daniel15 commented on #4626
The errors in your output are for other repos (repo.mysql.com and us-east1.gce.archive.ubuntu.com), not for the Yarn repo.

[2017-10-04 11:35] #4626 closed

[2017-10-04 11:36] Daniel15 commented on #4620
As @artursvonda mentioned, this is expected behaviour for prerelease versions. Please see the semver docs linked in his comment for more information.

[2017-10-04 11:36] #4620 closed

[2017-10-04 11:37] Daniel15 commented on #4624
lolwut.

How did you install Yarn? It should suggest downloading the installer (https://yarnpkg.com/latest.msi) or using Chocolatey (`choco install yarn`) depending on how you installed Yarn.

[2017-10-04 11:39] Daniel15 commented on #4593
Duplicate of #816.

[2017-10-04 11:39] #4593 closed

[2017-10-04 11:39] pungggi commented on #4624
Aaaah yes i used npm to install yarn

Am 04.10.2017 1:37 nachm. schrieb "Daniel Lo Nigro" <
notifications@github.com>:

[2017-10-04 11:41] Daniel15 commented on #4624
Good catch, I think #3866 broke this. It should be suggesting to use `npm install --global yarn` if you installed Yarn via npm. I'll adjust the title of this issue to reflect the problem.

[2017-10-04 11:43] koops76 commented on #816
Currently NPM has SHA-512 for new packages and SHA-1 for old ones.

[2017-10-04 11:44] danez commented on #4476
Yeah same for me, not sure if it makes a difference I just wanted to be safe.

[2017-10-04 12:19] rally25rs commented on #4476
@danez I think I mentioned it above in this discussion, but it wasn't my intent to remove the upgrade of sub-dependencies  when I made these changes. Yarn already had a built-in function to find outdated packages, so I just used that instead of blindly feeding all packages to the process, whether they needed upgraded or not. I saw it as an efficiency/speed gain (no sense in "upgrading" a package f

[2017-10-04 12:49] BorntraegerMarc commented on #4626
and it's working again anyhow... thanks!

[2017-10-04 13:27] lumio opened #4631 "Oppress info message when script failed with exit code != 0"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
When a script failes with an exit code != 0 an info message appears saying `info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.`

That is indeed helpful for beginners but a bit annoying and unnecessary for andvanced users or CI tools.

**What is the expected behavio

[2017-10-04 14:24] bartvanandel commented on #4390
I agree that the current behaviour is a bit weird. Suppose you have a package.json like this (mock code):

[code]

The real installed versions are 1.1.0 and 2.0.0 respectively, while the latest versions are 1.1.0 and 2.1.0. Now running `yarn upgrade --latest` will install pkg-b@2.1.0 and update package.json accordingly, but pkg-a will not be updated and hence, package.json will still point to 1.0.

[2017-10-04 14:45] alexdevero commented on #4390
@bartvanandel I like the idea you proposed about command for syncing yarn.lock and package.json files.

[2017-10-04 14:49] BYK commented on #4619
Duplicate of #4557.

[2017-10-04 14:49] #4619 closed

[2017-10-04 14:49] BYK commented on #4631
Sound good. Submit a PR implementing this? :)

[2017-10-04 14:50] BYK commented on #4631
Something like `auto-command-help false` in `.yarnrc` sounds like a good start to me.

[2017-10-04 14:52] BYK commented on #4586
Can you inspect your connection to that URL to see what is happening? Since you are the only one reporting this issue right now it is quite likely that there's something specific in your setup causing the issue. It is possible that there is a bug but we need to identify the root cause to be able to fix it first.

[2017-10-04 15:58] bestander commented on #816
Well someone send us a PR

[2017-10-04 15:59] bestander commented on #1297
Oh wait, your yarn is version 0.17.8, that is very old, can you upgrade to latest?
https://yarnpkg.com/en/docs/install

[2017-10-04 16:22] bdwain commented on #4476
@rally25rs seems like yarn upgrade could share code with yarn install right? since it does the same thing assuming there is no yarn.lock

[2017-10-04 18:07] tomasAlabes opened #4632 "Yarn upgrade modifying package.json tag dependency"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
`yarn upgrade` changes the `package.json`'s dependencies with versions defined as tags.

**If the current behavior is a bug, please provide the steps to reproduce.**

Having a package.json with:
[code]
After running yarn, `yarn.lock` -> `myDep@1.0.0-next.0`
If I ran `yarn upgrade`, everything stays the

[2017-10-04 18:27] andrewhavens commented on #3255
Just an update for anyone who comes across this issue via Google search...Yarn documentation now says that Yarn can be installed on a Mac, via Homebrew, without node, like this:
[code]

[2017-10-04 18:29] bestander commented on #4181
@bys92, sorry for the delay.
There has been a regression in how upgrade works, can you update to latest version and see if the problem remains https://yarnpkg.com/en/docs/install?

[2017-10-04 19:53] idkjs commented on #3255
@andrewhavens your note timestamp is right on time. TY

[2017-10-04 21:03] mysterycommand commented on #1882
I would love to see this fixed. If I may rephrase the problem:

1. I install Yarn early via Homebrew (`brew install yarn`) and get v0.27.5 and generate a lock file/commit that to Git.
2. Developer B installs Yarn later via Homebrew (`brew install yarn`) and gets v1.1.0.
3. In his or her first `yarn install` that version of Yarn invalidates the lock file (unexpected/confusing), and possibly resolve

[2017-10-04 21:03] mwpastore commented on #4620
I learn something new every day! Thank you both for explaining this little quirk, and my apologies for the noise.

[2017-10-04 21:33] mysterycommand commented on #4558
I was also confused by this, and in my case it's because I want my workspace root to be my app, and my local packages folder to contain sub-components and/or utilities thereof. For example:
[code]
I want my workspace root to list out the top-level third-party dependencies I'm using (e.g. React or Angular or Express or whatever) and be able to make use of my local first-party dependencies (either a

[2017-10-04 21:36] mysterycommand commented on #4558
Ah! It's not just me thinking about workspaces in this way, check out this:
http://www.benjiegillam.com/2017/08/switching-graphile-to-yarn-workspaces/
https://github.com/graphile/graphile-build/pull/36/files

[2017-10-04 21:37] Bnaya commented on #4558
@mysterycommand you don't have access from the top level package to the workspaces packages.
Only packages under `"workspaces": ["packages/*"]` see each other.
(I mean unless you publish them the install from your registry, which beats the purpose)

[2017-10-04 21:40] Bnaya commented on #4558
All of their code sits inside packages

[2017-10-04 22:47] elidupuis commented on #4612
I believe this issue just broke our CircleCI setup. I was installing `yarn@latest` and when I dropped it down to 1.0.2 the test suite started passing again.

[2017-10-04 22:48] zkat commented on #816
I would definitely not assume that field will be sha512. It just happens to be that right now, but that will not always be the case going forward. You should be able to parse SRI and use _that_.

[2017-10-04 22:53] IAMtheIAM commented on #3135
Any progress on this? Currently scoop installs 0.27.5 but the latest is 1.1.0

[2017-10-04 22:58] tech4him1 commented on #3135
@IAMtheIAM Did you run `scoop update` first? It is installing 1.1.0 for me.

[2017-10-04 23:14] IAMtheIAM commented on #4363
the yarn owner said they're [working on it](https://github.com/yarnpkg/yarn/issues/3751#issuecomment-332166987)

[2017-10-04 23:44] AgentME opened #4634 "`yarn publish` runs prepare script *after* publishing to npm"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I have a project (https://github.com/StreakYC/react-smooth-collapse/) which has a prepare script which erases the js directory, then repopulates it with the output of running babel on the src directory. I made some changes, tested (with browserify and jest, not by using the prepare script) and commit

[2017-10-05 00:04] jjjacksn commented on #1915
I suspect many people may have slightly different issues which all surface as the same thing.

In my case, the solution was to make sure I was using Python 2.7 (and not Python 3). Hope that helps someone!

[2017-10-05 00:12] nikshepsvn commented on #816
I would love to work on this but this is my first open source contribution
and I'm a little confused with everything that is being said. If it isn't
asking for too much can someone walk me through the steps needed to
accomplish this? Sorry for asking for so much

On Oct 4, 2017 6:49 PM, "Kat Marchán" <notifications@github.com> wrote:

[2017-10-05 02:03] zyklus opened #4635 "`yarn add` is losing workspace symlinks"
Using yarn 1.1.0, node 8.3.0:

[code]

There are no errors during the `yarn add`, it just seems to blow away workspace links.  Running `yarn` again restores them.

[2017-10-05 02:06] OmgImAlexis commented on #3384
Closed in https://github.com/yarnpkg/yarn/commit/b9fe983307ed426ee02624f219519c52b828d110

[2017-10-05 02:06] #3384 closed

[2017-10-05 02:44] rally25rs commented on #4476
For those keeping tabs on this issue... I pushed PR #4636 if anyone wants to try it out and verify that it works as expected.

Sorry for the delay getting this together. It was more complicated than I thought because of the new features that were added as part of v1.

@bdwain to respond to your comment, internally `upgrade` just passes `install` a series of packages to install (so they do share co

[2017-10-05 03:27] OmgImAlexis commented on #3384
@cpojer I don't know if it's a one off or if it's an actual bug but if you have a look at these commits you'll notice that I ended up with a weird `yarn.lock` because of `yarn upgrade --latest`.

I bumped the deps using `yarn upgrade --latest` in the template directory(https://github.com/ladjs/lad/commit/9ae4973453228637b9dba52d2f2c04b5b567dee7). I ran my tests and they all broke so I deleted `yar

[2017-10-05 04:54] Daniel15 commented on #4620
No problem at all! 😄

[2017-10-05 05:45] mrhammadasif commented on #3421
+1

[2017-10-05 07:05] dc3671 opened #4637 "added config item is not compatible with the original config items"
Yarn v1.1.0
Add config with:
`yarn config set registry https://registry.npm.taobao.org`
List config items:
![image](https://user-images.githubusercontent.com/5948851/31214515-17eb678c-a971-11e7-9156-1aa935d44523.png)

The added `registry` item is not quoted while the original ones are quoted. But npm config's default style is no quote. I think coordinate with npm's will be better.

[2017-10-05 08:26] derwaldgeist commented on #2394
I just faced this problem when a bug in a deep dependency was fixed, but yarn still installed the version that had been installed at the very first install. Is there an easy way to refresh this?

[2017-10-05 08:47] dmke commented on #4453
@Daniel15, the deb-multimedia.org repository ships a [`deb-multimedia-keyring`](http://deb-multimedia.org/dists/stable/main/binary-amd64/package/deb-multimedia-keyring) package, which contains and updates the keys.

Maybe you should get in contact with Christian Marillat (`marillat at deb-multimedia.org`), or better yet, drop a line into the [`dmo-discussion` mailing list](http://deb-multimedia.or

[2017-10-05 09:37] koops76 opened #4638 "Files are extracted before their hashes are checked."
**Do you want to request a *feature* or report a *bug*?**
A bug.

**What is the current behavior?**
Currently, downloaded files are extracted before their hashes are checked.
https://github.com/yarnpkg/yarn/blob/master/src/fetchers/tarball-fetcher.js#L75

**What is the expected behavior?**
Files should be verified before they are extracted.

[2017-10-05 09:55] edi9999 opened #4639 "yarn add file.tar.gz does not work anymore since version 0.23"
**What is the current behavior?**

When I do `yarn add build/my-super-module.tar.gz`, I get :

[code]

**What is the expected behavior?**

It should install the module, it is working on yarn version 0.22.0

nodejs version : 8.6.0
yarn-version-with-bug : 0.23.0, 1.1.0, probably every version after 0.23
yarn-version-without-bug: 0.22.0

[2017-10-05 10:04] edi9999 commented on #4639
I think I found that you have to use "file:my-super-module.tar.gz" (found in the docs), it seems to work.

[2017-10-05 10:05] edi9999 commented on #4639
Could you put this kind of information in CHANGELOG.md ?

[2017-10-05 13:28] lucbelliveau opened #4640 "Yarn unable to execute binaries installed in higher level node_modules/.bin"
Given the following folder hierarchy:

- packageA
  - node_modules
  - .bin
     - myprogram
  - packageB

`yarn run somecommand`

from inside **packageA/node_modules/packageB** fails.  The same command using npm works.

The problem showed up because **packageB** has a postinstall directive that executes **myprogram**.

I've determined the problem is because yarn doesn't traverse the directory tre

[2017-10-05 13:48] timrs2998 commented on #2680
This is still an issue with yarn v1.1.0, running `yarn add --help | grep opt` I see:

[code]

I can find it in the CLI help documentation, but not the yarn website docs. When I do:

[code]

I can verify that the optional dtrace-provider dependency is installed anyways. As a result, I can't ignore optional dependencies for a specific package.

[2017-10-05 14:19] alex-pex opened #4641 "production=false flag doesn't work as expected"
**Do you want to request a *feature* or report a *bug*?**
It is a bug

**What is the current behavior?**
```NODE_ENV=production yarn install --production=false``` doesn't install devDependencies. It's like the flag is ignored.

**If the current behavior is a bug, please provide the steps to reproduce.**
You can use this package.json
[code]

**What is the expected behavior?**
I should have the "aaa

[2017-10-05 14:49] mikemaccana commented on #4558
I wish to add a piece of softare I use for production. It is not my original code, so I'd like to add it to `node_modules`.

Yes. That's the way I currently get around `yarn add` being broken:

 - Add the package to `package.json`
 - Run `yarn install`

OK (assuming none-dev means 'non-dev', aka production).

Why?

Because it's a piece of software I use for production

I have a module which my sof

[2017-10-05 14:55] arcanis commented on #4558
Fwiw this confusion will be cleared by #4630, which should ship with the next release :)

[2017-10-05 14:55] mikemaccana commented on #4558
Thanks @arcanis for your answer which helps a lot

OK. Personally I use devDependencies as they've always been defined, ie development dependencies that are not required for production. So installing to devDependencies doesn't work.

The reason I want to not have the package in my workspace  (called `packages`) is that I own all the code in the workspace: its a mono-repo that includes `packages`).

[2017-10-05 14:58] mikemaccana commented on #4558
Thanks again @arcanis. Could ` --ignore-workspace-root-check` just be `--workspace-root`? I'm not doing anything bad by installing something to my workspace root.

[2017-10-05 15:08] arcanis commented on #4558
I'd like to keep `--workspace-root` for a possible future usage where it would add the package to the workspace root, wherever you are in the workspace. If the command name is too long, you can use its shorthand, `-W`.

[2017-10-05 15:13] mikemaccana commented on #4558
It's not that it's too long, it's just that it's what I want to do - add it to the workspace root, rather than skipping a check preventing me from doing something bad.

It's like:

    clothing --avoid-white-sneaker-check

vs

    clothing --wear-white-sneakers

If you get what I mean.

But it sounds like `-workspace-root` is what I want, and a sensible name for that, so I can happily use the weir

[2017-10-05 15:14] mikemaccana commented on #4558
PS. Any idea when `-workspace-root` is coming?

[2017-10-05 15:18] arcanis commented on #4558
Not on my personal roadmap atm, but I'd be happy to review a PR that would implement it 🙂

[2017-10-05 17:00] avindra commented on #4186
Relevant breaking issue right now with private registry libs completely failing to install

https://github.com/yarnpkg/yarn/issues/4157

[2017-10-05 17:06] kaylieEB commented on #4585
@BYK yup, i'll work on this during the weekend.

[2017-10-05 17:15] IAMtheIAM commented on #3135
I think my scoop install went bad. It was giving errors when running `scoop update` so I just wacked the folder and reinstalled scoop. Now `scoop install yarn` does install v 1.1.0. Thanks for the tip

[2017-10-05 17:41] kaylieEB commented on #4585
Well actually thinking about this, I think the intended use case wasn't for selective resolutions to be respected for nested dependencies and only used at the project level. We theoretically could do something like use the resolution of each dependency level then override them again at the project level, but this seems like adding a lot of complexity. Thoughts @cpojer @yarnpkg/core ?

[2017-10-05 17:57] johncrim commented on #3614
Stack Overflow thread discussing one of the problems resulting from having 2 flavors of lock files:

https://stackoverflow.com/questions/44552348/should-i-commit-yarn-lock-and-package-lock-json-files

[2017-10-05 18:34] bfricka commented on #541
Bumpity bump! I can work on this if you guys want?

[2017-10-05 18:50] thedaniel commented on #3630
That PR has been closed without merging, any idea when a new one might make it onto the schedule?

[2017-10-05 19:14] olingern commented on #3630
The issue is slightly complex. I believe the solution could be attaching metadata of sorts to the lockfile, but I defer to @arcanis @BYK

[2017-10-05 19:33] cpojer commented on #4585
Yep, resolutions are only meant to work within a project, just like yarn.lock files. I think that's the right design decision and this feature is meant to give control to the user of a project rather than the library authors.

[2017-10-05 19:46] kaylieEB commented on #4585
thanks for clarifying @cpojer

 @TomiS closing this for now as you mentioned

is the intended use of selective resolutions

[2017-10-05 19:46] #4585 closed

[2017-10-05 20:33] nebulr commented on #990
this is still a piece of shit for MacOSX

[2017-10-05 21:41] unRob opened #4645 "Yarn ignores scoped package registry"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Given a .npmrc that specifies a registry for the organization scope, `yarn` tries to fetch the restricted org package from `https://registry.yarnpkg.org and fails with

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Start with yarn v1.1.0 from `npm install --glo

[2017-10-05 21:51] kaiyoma commented on #3540
OMG, the answer was right in front of my face the whole time. So dumb. :-/

The problem is indeed with the commit I posted above. Previous to that change, `use_winpty` would be set to true for `MSYS*|MINGW*` shells, which includes Git Bash for Windows. After the change, the environment variable `$YARN_FORCE_WINPTY` is checked instead, which is clearly false if you don't set it yourself.

I can ver

[2017-10-05 22:13] dereuromark commented on #2782
I second that!
If https://bower.io/blog/2017/how-to-migrate-away-from-bower/ the please with the same config in the json config file.

[2017-10-05 22:31] AgentME commented on #4634
Apparently I also had the same issue with the last time I published the package react-float-anchor. I just found that the latest version published on npm has the compiled output from the previous release. These are the only two times so far that I've used `yarn publish`.

I've tested to see whether it always happens for me, and so far it seems that the answer is yes. Here's the log of me demonstra

[2017-10-05 22:41] AgentME commented on #4634
I just tested prepublishOnly and found that it's also run after the files have already been published to npm. (Different but related relevant issue: https://github.com/yarnpkg/yarn/issues/3992)

[2017-10-05 23:36] hulkish commented on #4275
Can i just point out that this issue is *not* limited to `yarn pack`? I am seeing a large lacking of support for `bundledDependencies` in general.

For example, just install a dependency which utilizes `bundledDependencies`. Such as `nyc`.

Can we please raise the priority on this?

[2017-10-05 23:46] waynebloss commented on #3270
Double quoting the argument works in plain old *cmd.exe* on Windows 10 x64 with yarnv1.1.0.

Example:

`yarn add react@15.6.2 react-dom@15.6.2 "prop-types@^15.5.0" react-bootstrap@0.31.3 react-sidebar@2.3.2`

[2017-10-05 23:47] hulkish commented on #3751
Related: https://github.com/yarnpkg/yarn/issues/4275

I'd just like to point out that this is still very much an issue. Every yarn version thereafter `yarn@0.27.5` seems to barf when there is a dependency that specifies any `bundledDependencies`.

I'm a bit concerned with why `yarn@1.x.x` was released with this issue outstanding.

[2017-10-05 23:49] dguo commented on #3045
On Yarn v1.1, I ran into the same issue with the string "false" being prefixed. I tried using `save-prefix ''`, but that caused an error. Using double quotes in my `.yarnrc` fixed it for me: `save-prefix ""`.

[2017-10-06 05:15] calidion commented on #1027
confirmed.

`yarn global add` is not installed respectively according to different node versions.

Installing packages into yarn's private bin is not what node.js can anticipate, and it is problematic.

[2017-10-06 05:43] HaleTom commented on #4493
@BYK I'd be happy to raise this problem with JSON.parse(). What is the repo link to do it in?

[2017-10-06 09:26] phun-ky commented on #2304
Still running into this issue in v1.1.0 ...

[2017-10-06 09:32] egmanoj commented on #1508
@mnpenner Tried it, worked quite well.

Caveat: Aliases do not work with installed TypeScript type definitions (**Please** correct me if I'm wrong). I.e. if you have both `package` and  (aliased) `package-latest`, and want to use the `@types` type definitions for both `package` and `package-latest`, you are out of luck.

[2017-10-06 09:32] phun-ky opened #4646 "Yarn install --production installs a devDependencies package"
Related to https://github.com/yarnpkg/yarn/issues/2304 but still reproduced in v1.1.0

Still running into this issue in v1.1.0 ...

Trying to install a private package that has `gulp-stylint` (which depends on `stylint`, which depends on `strip-json-comments`) as dev dep, and have 20 deps that all have `gulp-stylint` as a dev dep, resulting in:

    $ yarn -i --ignore-scripts --production=true

[2017-10-06 09:41] mmoreaux opened #4647 "Progress bar prints each update on a new line"
Note that this bug is not fixed by #4317, it has a different cause.

The erratic behaviour, on Yarn 1.1.0, NodeJS v6.11.4, Debian 9.1, rxvt terminal emulator (`TERM=rxvt`):

![yarn_progressbar](https://user-images.githubusercontent.com/7665839/31271656-9793aa4a-aa88-11e7-8fc8-b75dde9dcc1d.png)

Strace shows that Yarn prints the progress bar without any control characters such as `\r` (in fact, not

[2017-10-06 10:51] HaleTom opened #4648 "Put `node_modules` under ~/.local/data/yarn"
**Bug report**

**Current behavior**

Yarn keeps modules under `.config/yarn/global/node_modules`.

**What is the expected behavior?**

As these are not config files but data files, as such I expect `node_modules` to reside under:

[code]

**Version info**
[code]

[2017-10-06 11:02] arcanis commented on #4640
Imo you shouldn't rely on this behavior, whether it's on Yarn or NPM. You should declare packageA as a peer dependency of packageB instead, which would make Yarn add a symlink to `packageA/myprogram` from `packageB/.bin/myprogram`, effectively making `myprogram` accessible from `packageB` scripts.

To prove to you that the original behavior you describe is unreliable, just consider that the hoiste

[2017-10-06 11:11] Quintasan opened #4649 "npm can't handle yarn's package.json"
I have tried to migrate from bower to yarn using bower-away. The end result is that `npm install` can't handle my `package.json`. What did I do wrong?

[code]

package.json
[code]

npm install log
[code]

[2017-10-06 11:14] arcanis commented on #4649
I'm not sure, I don't use npm often 🙂 Any reason you're not using `yarn install`?

[2017-10-06 11:17] Quintasan commented on #4649
@arcanis Not really, I just hoped I wouldn't have to force my developers to install another thing since yarn's documentation claims it can consume the same format as npm does.

[2017-10-06 11:19] #4649 closed

[2017-10-06 11:20] arcanis commented on #4649
We don't have much way to make sure that npm (which we obviously don't maintain ourselves) work with bower-away (which we don't maintain ourselves either). If you run `yarn install` and it doesn't work, I'd be happy to help, tho.

[2017-10-06 12:07] whitecolor commented on #1508
I tried to install `yarn add @type/package@types/package-latest` but it fails it seems that there this method doesn't support scoped packages, so this is a bug then and issue should be created if not exists.

[2017-10-06 12:29] richardvenneman commented on #2091
https://github.com/yarnpkg/yarn/pull/4330 was recently merged and published in Yarn 1.1.0 but unfortunately does not seem to fix this issue.

For us this required adding a `.npmrc` file with custom registry and token which gets read from ENV to be able to deploy on Heroku with our Gemfury-hosted NPM module. This requires the token to be present in ENV in development which is quite troublesome.

[2017-10-06 12:55] lucbelliveau commented on #4640
I was under the impression that yarn should mimic, whenever possible `npm`'s behavior to ensure it can be used as a drop-in replacement?

For the sake of argument I tried moving the offending package into the peerDependencies of `packageB` to test, and it still fails with a command not found error...

[2017-10-06 13:15] raido opened #4650 "yarn outdated does not show URLs"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Running "yarn outdated" displays a lists of dependencies with no URLs

**If the current behavior is a bug, please provide the steps to reproduce.**

Not sure, yarn is installed with "brew install yarn", version is v1.1.0. Same v1.1.0 version on another machine works fine.

**What is the expected beha

[2017-10-06 14:05] buschtoens commented on #3601
I was getting the same error with Node 8 and Yarn v0.27.5 inside a Ubuntu 17.04 Docker container.

[code]

The yarn cache folder is set to a docker volume, so that it is shared between builds. The build runners also share a mutex, so that they don't corrupt data.

My stack trace looks a bit different, which supports the theory, that some random archive was corrupted (during the download?).

[code]

[2017-10-06 14:15] hammer65 commented on #2029
I'm getting this too. My cert is fine and if it was the cert wouldn't it fail for all the the Yarn urls? The only one which seems to have an issue is `https://dl.yarnpkg.com/debian stable Release`. I followed the instructions to install yarn and this isn't a problem with the software. I'm now trying to install something with RVM and can't do it because apt-get update errors out.

[2017-10-06 14:43] ryansmith94 commented on #3614
Been doing some reading around this today, stumbled across this in the npm docs.

https://docs.npmjs.com/files/package-lock.json

Maybe this is common knowledge, but I certainly thought npm would use the lock file in dependencies. I thought that might be interesting to other people that land on this issue, since I was mostly concerned about people installing my packages with npm 5 given that we're

[2017-10-06 14:53] staabm commented on #2029
in my setup it was a problem with whitelisting of certain urls in a apt-mirror we use internally.

[2017-10-06 15:02] HaleTom opened #4651 "Include "licence" in ~/.config/yarn/global/package.json"
**Bug report**

**What is the current behavior?**

`yarn` generates a `~/.config/yarn/global/package.json` without a `licence` field.

This causes a warning when linking a global package:
[code]

Steps to reproduce:

[code]
Contents of `yarn`-generated file:
[code]

**What is the expected behavior?**

1. Auto-generated `package.json` contains:
[code]
2. The `warning` when linking is not present

I

[2017-10-06 15:07] jeffrson opened #4652 "yarn install from git repository closes Windows command prompt"
I want to report a bug. When I have this package.json:
[code]
calling "yarn" inside a Windows command prompt window closes this window, however the command appears to work somehow (node_modules populated)

yarn version is 1.1.0, node is 8.6.0 - running on Windows 10 x64

[2017-10-06 15:24] hoodie commented on #4640
I have a similar issue on windows where I run `yarn clean` (`rimraf`) in a workspace as postinstall. Yarn executes scripts from the wrong location and therefore does not find them.

## example
[code]

my postinstall script is executed from within `node_modules/@company/my_package` and not `modules/my_package`, so the .cmd looks for a location outside of the root folder.

@lucbelliveau is that what

[2017-10-06 15:48] nottrobin commented on #3614
@ryansmith94 this behaviour in `package-lock.json` mimics the [exact same behaviour in `yarn.lock`](https://yarnpkg.com/blog/2016/11/24/lockfiles-for-all/):

[2017-10-06 15:50] delhibabu86 commented on #4582
Any help would be appreciated.

[2017-10-06 15:51] xdumaine commented on #3967
The issue was around upgrading a specific package `yarn upgrade shared-dep` and still applies. It still requires manual modification of the yarn lockfile every time this happens. I'd really love for the `needs-repro-script` tag to be removed, because this has a repro script, and can be reproduced every time. @BYK @voxpelli

[2017-10-06 16:14] ryansmith94 commented on #3614
Thanks @nottrobin, that's good to know 😄

[2017-10-06 16:50] lucbelliveau commented on #4640
@hoodie yes that is what I mean... PR #4642 should fix your issue as well...

[2017-10-06 16:57] guigrpa commented on #4615
Worked around this in oao by setting YARN_SILENT to 0, ass suggested by @edmorley.

[2017-10-06 18:39] KyleAMathews commented on #629
It seems like this issue is showing up again in Yarn 1.1.0.

Consistently seeing problems on my Linux CI server building Gatsby sites.

[2017-10-06 21:45] ianstormtaylor opened #4653 "yarn doesn't do anything when adding `socket.io` dependency"
First, with no dependencies:

[code]

Then adding `socket.io`:

[code]

But `package.json` wasn't updated:

[code]

And there's no `yarn.lock` file created:

[code]

---

System information:

[code]

And I just tried with `1.1.0`, same issue.

[2017-10-06 21:50] ianstormtaylor commented on #4653
Further, if you manually add `socket.io` to `dependencies`, then any attempt to use `yarn` will not update the lock file in the future, and so every time you try to run any other yarn commands, you'll end up getting:

[code]

Basically seems impossible to use `socket.io`?

[2017-10-06 21:53] ianstormtaylor commented on #4653
Sometimes, `yarn add socket.io` won't actually finish, it will just hang will building the `uws` package. So potentially this is related to https://github.com/yarnpkg/yarn/issues/3867?

[2017-10-06 22:22] jharris4 commented on #4653
@ianstormtaylor This is the exact issue I stumbled on in #3728

You can work around the issue by just running `npm i -g node-gyp`

[2017-10-06 22:25] jharris4 commented on #3728
Looks like the issues #4097 and #4653 are related to this issue

[2017-10-06 22:31] ianstormtaylor commented on #4653
Ah shoot, I had been doing `yarn global add node-gyp` instead of the `npm` variant. Thank you very much @jharris4!

[2017-10-07 01:25] HaleTom opened #4655 "`yarn link` of a global package doesn't link the bin entries from its package.json"
## Bug report

**What is the current behavior?**

Linking to a global module `target` does not create links to `target`'s bin entries as specified in `target`'s `package.json`.

**Steps to reproduce**

[code]
**What is the expected behavior?**

I expect that `~/tmp/prj/node_modules/.bin/testrpc-sc` is a symlink to `.config/yarn/global/node_modules/ethereumjs-testrpc-sc/build/cli.node.js`

**Please

[2017-10-07 02:09] jpca999 opened #4656 "yarn rebuild v1.0.1 error Command "rebuild" not found."
![image](https://user-images.githubusercontent.com/1026325/31303843-de7869fa-aae2-11e7-8d22-a1a9dce3e5ee.png)

![image](https://user-images.githubusercontent.com/1026325/31303845-e549ac8a-aae2-11e7-9f2b-53f140e2304a.png)

![image](https://user-images.githubusercontent.com/1026325/31303849-eea74616-aae2-11e7-921f-8704e00cfa46.png)

**Do you want to request a *feature* or report a *bug*?**

**What i

[2017-10-07 04:32] Lumexralph commented on #944
`--network-concurrency 1` solved it for me, wanted to try yarn out but this issue has not been solved yet looking at the thread

[2017-10-07 05:39] shaunc commented on #1034
NB `yarn add package` by itself won't upgrade package to a new version if its from a private repo -- rather it will give you an error (Couldn't find package ...). Would be nice to have a way simply to upgrade a package not re-add....

[2017-10-07 06:37] cameronhunter commented on #4275
A failing test case has been merged for this: #4598

[2017-10-07 14:06] devoto13 commented on #4650
Possible duplicate of https://github.com/yarnpkg/yarn/issues/3444. This issues seems to be related to misconfiguration of particular CDN nodes.

[2017-10-07 16:13] raido commented on #4650
Hmm, actually on the machine that it is not working as expected I have local registry running on - https://github.com/verdaccio/verdaccio - I’ll first check if I am running the latest version and check then if the issue persists.

[2017-10-07 16:44] artlogic commented on #4379
@BYK Thanks for your response. For my team's projects, we're now using `frozen-lockfile` and things are working (relatively) fine. This issue remains rather concerning for me, however. Specifically the unnecessary optimizations yarn is making to the lock file when running `yarn install`.

Here's the clearest example I can give of where this behavior causes problems:
1. I add a new dependency using

[2017-10-07 18:01] unfunco commented on #4336
I stumbled across this having the same error, my solution is different but it's here incase it helps anyone else, I was getting this Yarn error `"EISDIR: illegal operation on a directory, read"` when running `create-react-app`.

Running it again with the verbose option: `create-react-app <app> --versbose` I got:

[code]

It seems it's looking for an `.npmrc` file, but finds a directory with the sa

[2017-10-07 18:34] ninja- commented on #4275
@hulkish I can create a PR fixing the part that I mentioned, I gave up trying to get a result that's matching $ npm pack...
especially if you have bundled dependencies that have other linked depdencies they need a package.json 'fix' etc. I don't know how it works exactly

[2017-10-07 18:48] BYK commented on #4656
Yarn does not have a `rebuild` command. I guess this is related to your project.

[2017-10-07 18:48] #4656 closed

[2017-10-07 18:48] jpca999 commented on #4656
remove all the node_modules and do it again,, will fix it.

[2017-10-07 18:49] BYK commented on #4653
Duplicate of #3728.

[2017-10-07 18:49] #4653 closed

[2017-10-07 18:51] BYK commented on #4638
This is a performance optimization since calculating the file hash requires us to read it twice.

We do remove the extracted assets AFAIK so it should be equivalent at the end. What do you think? //cc @arcanis @kaylieEB

[2017-10-07 18:52] BYK commented on #4647
Ah, great find! Would you like to submit a PR and get your name in the commit history for both discovering and fixing this annoyance? :)

[2017-10-07 19:06] hulkish commented on #4275
@ninja- shouldn't this just be a matter of using `realpath`?

[2017-10-07 19:18] BYK commented on #4634
I think this would be fixed by #4553. Am I right?

[2017-10-07 19:19] ninja- commented on #4275
As i said there this option in tar-fs which does just that. Is that what you refer to?

 But package.json of these deps need a change to install property so can't be directly copied.

[2017-10-07 23:17] koops76 commented on #4638
I don't like that any processing happens on a file before its hash is checked. The file could be a [ZIP bomb](https://en.wikipedia.org/wiki/Zip_bomb) or contain an exploit causing malicious code to execute if the file is decompressed.

[2017-10-08 00:27] kaylieEB commented on #4638
Not a bug per se, but I agree would be a nice enhancement :)

[2017-10-08 00:31] kaylieEB commented on #4639
Thanks for reporting. Will close this for now since this in the docs: https://yarnpkg.com/en/docs/cli/add

[2017-10-08 00:31] #4639 closed

[2017-10-08 01:12] kaylieEB commented on #4616
Yup, you can save it to your .yarnrc https://yarnpkg.com/en/docs/yarnrc#toc-cli-arguments.

[2017-10-08 01:12] #4616 closed

[2017-10-08 01:21] kaylieEB commented on #4595
I can't repro either on latest master @OliverJAsh can you try one of the nightly builds? https://yarnpkg.com/en/docs/nightly

[2017-10-08 01:25] #3660 closed

[2017-10-08 06:39] nikshepsvn commented on #816
Hey guys, is this something I should attempt or would it be more efficient for me to find something else that is more easier?

[2017-10-08 07:19] HaleTom opened #4658 "`yarn install -force` succeeds ignorning `-force`. Should be `--force`"
### Bug report

**What is the current behavior?**

`yarn install -force` doesn't output an error message about an invalid argument. It should be `yarn install --force` with two `-` characters.

[code]
Compare with the desired:
[code]

**What is the expected behavior?**
An error message such as:
[code]

**Versions**
[code]

[2017-10-08 09:16] vichle commented on #3639
This was fixed in #3721.

[2017-10-08 10:30] vichle opened #4659 "`yarn unlink` does not unlink global binaries"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn unlink` does not unlink global binaries.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
**What is the expected behavior?**
yarn-unlink-test should be removed from `$(yarn global bin)`.

**Please mention your node.js, yarn and operating system version.**
[code

[2017-10-08 10:37] vichle commented on #4659
I will try fixing this myself.

[2017-10-08 11:13] BYK commented on #4638
I thought about these also, but it doesn't prevent one from putting a zip bomb with a correct hash so not sure if this would __really__ help preventing such cases. The aim was mostly to prevent unknown/malicious code being injected into applications which is a lot more dangerous than zip bombs.

I mean I do agree with you that it is not absolute security but for the problem, it was designed to sol

[2017-10-08 11:13] BYK commented on #4638
Well, an alternative approach that may be as fast is checking the checksum during download. How about that?

[2017-10-08 11:15] rasor commented on #4187
I have same problem with `yarn import`.
Just doing `yarn`  succeeded with yarn v1.1.0

[2017-10-08 17:20] alexbrazier commented on #4641
This is also an issue for me on macOS

yarn `v1.1.0`

[2017-10-08 17:55] alexbrazier commented on #4641
Looks like this has been resolved, and will be in the next release - 8580a5831e6239353d0ffba1c4df678eaa31161e

Should also fix #4646

Related: #4557

[2017-10-08 18:06] richtera opened #4661 "Error when installing various react things on Mac OS."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Every once in a while my node_modules get into the state where I can no longer install anything because yarn just says:
[code]
Usually removing and re-doing yarn will fix it. Or installing things using npm and then re-running yarn to update yarn.lock. Is there another way to work around this problem? It do

[2017-10-08 19:56] vichle commented on #4659
I wrote a test for this case but was unable to reproduce. And when I tried following my own instructions above it suddenly worked. I guess I did something weird ¯\_(ツ)_/¯

Submitted PR with the test, as there were none for the linking of global binaries.

[2017-10-08 22:40] koops76 commented on #4638
@BYK Great!

[2017-10-08 22:41] koops76 commented on #4638
@BYK What about an exploit for tar or gzip format? That would be more dangerous.

[2017-10-08 23:55] binarykitchen opened #4663 "When changing .npmrc, yarn still has outdated configs"
Following happens on yarn v1.1.0 on latest MacOS and node v8.3.0:

1. I have two different npmrc configs in my home folder like `.npmrc` and `.npmrc_public`, both point to different registries. The latter one to the default public npm registry.
2. The current `.npmrc` points to a private npm registry.
2. I copy public npmrc to the default npmrc like that `cp .npmrc_public .npmrc`
3. Now I expect t

[2017-10-08 23:57] binarykitchen commented on #4663
Btw, `.yarnrc` in my home folder still refers to the entries from `.npmrc` (the private one). And it's autogenerated. Somehow this autogeneration does not occur when `.npmrc` has changed and hence remains invalid.

[2017-10-09 00:00] binarykitchen commented on #4663
Intermediary solution is to manually delete `.yarnrc` to force autogeneration with latest npm configs

[2017-10-09 03:40] jcheroske opened #4664 "`yarn add` in workspace adds to devDependencies if added package is in root's devDependencies"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using workspaces!

If a package is added to the root's `package.json` as a dev dependency, that package can not be also added to workspace packages as a regular dependency using the cli. Attempting to do so results in the dependency being added to the workspace package as a dev dependency as well.

**I

[2017-10-09 08:38] TomiS commented on #4585
Fair enough. We'll just need to find another approach. Thanks for clarification. :)

[2017-10-09 10:52] OoDeLally commented on #1743
I don't understand why the owners are so opiniated about this. If you see a usage of it doesn't mean there is none. I believe if people ask for it, it means they need it, and they are not necessarely stupid.
Adding a optional `--no-save` option would solve some people's problem and bring no drawback at all.

[2017-10-09 11:04] BYK commented on #4641
Closing since this is fixed on master.

[2017-10-09 11:04] #4641 closed

[2017-10-09 11:22] raido commented on #4650
I updated my Verdaccio based registry, no change. Looking through "npm-registry.js" it seems it should work fine. First trying to get "homepage" value with fallback to "repository.url".

[2017-10-09 11:59] zorosun commented on #2117
I still got this error

`error Refusing to download the git repo {"hostname":"bitbucket.org","protocol":"https:","repository":"https://git@bitbucket.org:xxxx/xxxx.git"} over HTTPS without a commit hash - possible certificate error?`

v1.1.0

[2017-10-09 12:00] code-by commented on #3570
$ cd /
$ sudo apt-get update && sudo apt-get install yarn
yarn is already the newest version (1.0.1-1).
$ yarn --version
0.24.4
o_O...

[2017-10-09 12:08] arcanis commented on #3570
[code]
?

[2017-10-09 12:09] code-by commented on #3570
/home/user_name/.yarn/bin/yarn

[2017-10-09 13:47] Nxt3 opened #4665 "--ignore-optional doesn't behave like --no-optional"
v1.1.0

**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
yarn attempts to install optionalDependencies despite running the command "yarn install --ignore-optional"

**If the current behavior is a bug, please provide the steps to reproduce.**
* Have a `package.json` file with `optionalDependencies` declared.
* Run `yarn install --ignore-optional`
* ya

[2017-10-09 14:43] arcanis commented on #4602
`is-fullwidth-code-point` is a dev dependency, so if it's missing it's probably because you've ran Yarn in production mode (either via `yarn install --production` or by having `NODE_ENV=production` in your environment).

[2017-10-09 14:55] code-by commented on #3570
removed, now is ok )

[2017-10-09 15:03] phrazed opened #4666 "yarn global add not behaving correctly"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
Adding a package with the following command

`yarn global add react-create-app`

seems to install the package, but later neither running

`create-react-app `

nor

`which create-react-app `

finds the command. Running

`yarn global bin `

returns an empty directory. However, running

`yarn global list

[2017-10-09 15:05] adamdunkley opened #4667 "Exits with code 1 on SIGTERM without waiting for child"
**Do you want to request a *feature* or report a *bug*?**
This is a bug

**What is the current behavior?**
Currently yarn terminates with exit code 1 when it receives a SIGTERM without waiting for the child to exit and without passing its child's exit status up the chain.

The issue that this stemmed from was about handling SIGTERM events (#3424) and was introduced in pull request #3789.

**If the

[2017-10-09 15:07] adamdunkley commented on #4667
I am very willing to commit time/code to getting this fixed properly as I think it's in a bit of a state at the moment but would like to get some agreement on direction first :)

[2017-10-09 16:54] Neats29 commented on #2117
+1

[2017-10-09 17:49] reergymerej commented on #2117
FWIW, I had the same issue until I changed my password to something without `#`.

[2017-10-09 18:04] #4328 closed

[2017-10-09 18:04] #4334 closed

[2017-10-09 18:04] #4348 closed

[2017-10-09 18:22] TxHawks commented on #4635
I can confirm being bitten by this as well

[2017-10-09 18:27] gandazgul opened #4668 "Feature Request: New option to ignore package.json and just use the lock file."
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
yarn --frozen-lockfile exits if an update is needed

**What is the expected behavior?**
I would like for --frozen-lockfile to say what the needed updates are.

AND/OR

I would like a new command-line option to ignore package.json and just use the lock file. This way we can have fully repr

[2017-10-09 18:46] blindfish3 commented on #1122
@javlc You may have already resolved your issue; but for the benefit of others: I was having a similar problem on Ubuntu Budgie 16.04...

Note the yarn install guide's instruction "to configure the NodeSource repository" by running:

`curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -`

When I ran that I got an error about missing "apt-transport-https"; so installed that with `sudo apt

[2017-10-09 20:27] BYK commented on #4668
It is not possible to build a tree without the package.json file. You can read more about this here: https://yarnpkg.com/blog/2017/05/31/determinism/

[2017-10-09 20:27] #4668 closed

[2017-10-09 20:28] BYK commented on #4668
This may be an interesting feature. What do you think @arcanis?

[2017-10-09 23:17] Vivekbhusal commented on #1595
Apologies for digging the dead but I am stuck around this issue.
[code]
I want to check for the version of installing package at preinstall and verify that it's version is above "1.0.0" (or other policy) else don't let them install.

I would expect, pre and post hooks/scripts to have same context or access to same context as original script.

If I was doing `yarn add preact`
Then on preinstall scr

[2017-10-10 04:05] shiftkey commented on #2724
xref comment by @BYK here https://github.com/yarnpkg/yarn/issues/4529#issuecomment-331729429

I'm still seeing this on Windows `10.0.15063`, yarn `1.1.0` and PowerShell `5.1.15063.632` non-legacy console, (which is the default):

<img width="873" src="https://user-images.githubusercontent.com/359239/31368800-a3643560-adcb-11e7-887e-0a9f4bbc4eee.png">

Happy to help troubleshoot further, let me kno

[2017-10-10 07:02] nicojs commented on #3614
Can someone of yarns core contributors comment on this issue? I would be very interested to hear their opinion. :v:

[2017-10-10 08:38] jpdriver opened #4670 "`yarn create` doesn't appear to pass parameters"
**Do you want to request a *feature* or report a *bug*?**

### Bug

---

**What is the current behavior?**
### Parameters do not appear to be passed through when using yarn create

- using `create-react-app my-app --scripts-version custom-react-scripts`

<img width="424" alt="screen shot 2017-10-10 at 9 35 04 am" src="https://user-images.githubusercontent.com/2393035/31376921-5a3986d8-ad9e-11e7-97

[2017-10-10 08:39] SimenB opened #4671 "yarn init does not write package.json if one exists up the tree"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
With this structure
[code]

Calling `yarn init -y` in `nested` make yarn output that a new package.json was created, while it was actually not.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**
Either actually create the file, or

[2017-10-10 08:39] rarkins commented on #4600
I can confirm this is fixed in yarn `1.2.0`

[2017-10-10 08:39] #4600 closed

[2017-10-10 08:58] andreineculau commented on #3992
I've just had a baby, so pinky promise that my time for quality PRs got slashed /shrug

[2017-10-10 09:13] ryansmith94 commented on #3614
@nicojs I mentioned it on Discord before I replied here, if I remember correctly, they hadn't had time to properly look into it, but did want to get to it. I'm assuming I was talking to a core contributor in the support channel.

[2017-10-10 09:29] jhabdas commented on #3614
From Irish's [comment above](https://github.com/yarnpkg/yarn/issues/3614#issuecomment-315441779)

So who has a tool they can share?

[2017-10-10 09:52] ianp commented on #2117
@BYK I can confirm that this is still present in 1.1.0

[2017-10-10 10:03] edmorley commented on #4664
The just-released Yarn 1.2.0 fixes a few workspaces bugs (via #4630 and #4654). Could you give that a go and see if it still reproduces? :-)

[2017-10-10 10:10] marguskoiduste commented on #2394
Current workaround seems to be `yarn remove meck-test-aa` and then `yarn add meck-test-aa`

[2017-10-10 10:11] edmorley commented on #3972
Hi! I think this is a (forward) dupe of #4334 which is meant to be fixed by #4654, which is in the recently released yarn 1.2.0. Could you give the new version a try? :-)

[2017-10-10 10:21] edmorley commented on #4098
I can reproduce this even after the workspaces fixes in yarn 1.2.0. (Note: The STR in the OP are missing the steps to switch into the `normal` and `workspaces` directories before running `npm test`.)

[2017-10-10 10:25] ptusch opened #4672 "Private registry: Fetching packages not possible"
**Versions**
* `yarn@1.2.0`
* `node@8.6.0`
* `Linux (arch) x86_64`

**Do you want to request a *feature* or report a *bug*?**
`Bug` - or - `missing feature`

**What is the current behavior?**
`yarn add PRIVATE_PACKAGE` does not work - I'm never authenticated
(this happens with a freshly set-up `~/.yarnrc` with not pre existing `~/.npmrc`)

**If the current behavior is a bug, please provide the ste

[2017-10-10 10:31] edmorley commented on #4359
I can still reproduce this after the various workspaces fixes in yarn 1.2.0.

[2017-10-10 10:33] edmorley commented on #4442
Hi! I think the fixes in #4654 might have solved this. Could you give yarn 1.2.0 a go and see if it still reproduces? :-)

[2017-10-10 10:35] edmorley commented on #4466
Hi! Has #4630 or #4654 (in the just-released yarn 1.2.0) helped with this?

[2017-10-10 10:36] edmorley commented on #4469
Hi! I think the fixes in #4654 might have solved this. Could you give yarn 1.2.0 a go and see if it still reproduces? :-)

[2017-10-10 10:43] edmorley commented on #4513
Fwiw this reproduces with yarn 1.2.0 (ie after #4630 and #4654).

[2017-10-10 10:56] donaldpipowitch commented on #4469
Seems to work great!

[2017-10-10 10:57] donaldpipowitch commented on #3972
This works 😍  Thank you.

[2017-10-10 10:57] #3972 closed

[2017-10-10 11:29] graingert opened #4674 "strange peer-dep resolution"
yep: 1.2.0

**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
strange issue with enzyme and react-faux-dom, enzyme-adapter-utils gets react 15 nested under it. Even though it should peer dep with enzyme-adapter-react-16's react@^16 dep.

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/graingert/enzyme-wt

[2017-10-10 11:34] graingert commented on #4674
of course with:

[code]

everything is fine.

[2017-10-10 11:49] edmorley opened #4675 ""unmet peer dependency" warning shown for transitive dependency that npm accepts"
Hi!

**Do you want to request a *feature* or report a *bug*?**
A bug.

**STR:**
1. Clone https://github.com/edmorley/yarn-unmet-peerdependency-testcase
2. From the repo root, run: `rm -rf node_modules/ && yarn install`
3. And then: `rm -rf node_modules/ && npm install`

**Expected:**
* unmet peer dependency warnings aren't shown for dependencies that are installed transitively.
* yarn and npm erro

[2017-10-10 12:37] jcheroske commented on #4664
Yep, it's still happening.

[2017-10-10 12:53] ericclemmons commented on #4469
@edmorley Confirmed #4654 (v1.2.0) fixes this!

[2017-10-10 13:31] JasonKleban opened #4676 "Upgrade instructions should be appropriate for whatever shell is being used"
yarn's upgrade instructions used to use npm and were therefore cross-platform.

Now these are the instructions:

[code]

which aren't correct for, say, powershell or cmd on Windows.

[2017-10-10 14:27] Neats29 commented on #2117
My colleague and I worked through this issue all day so bit hard to pinpoint exactly what fixed it but I believe the following should help.

If you are on macOS Sierra, it might be a SSH agent forwarding issue, so follow the steps bellow:
https://developer.github.com/v3/guides/using-ssh-agent-forwarding/

If you get to the end and running `/usr/bin/ssh-add -K yourkey` asks you for a passphrase you

[2017-10-10 14:42] shaunlmason opened #4677 "yarn publish [folder] in workspace throws error"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**

In a monorepo with workspaces, publishing a workspace via `yarn publish [folder]` results in the following error:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
Monorepo with a package.json file in the root, and in a workspace.

Folder structure
[code]

Per the work

[2017-10-10 14:44] javlc commented on #1122
@blindfish3 : Yes I fixed it using a symlink t the yarn executable, which, although inaccessible, it was indeed installed. The downside is that I will need to redo the entire process to update yarn.
For the _nodesoruce repo_ thing, I am using **nvm** to manage nodejs versions, so I may have missed this step. I think installing yarn in ubuntu when using nvm is a bit trickier than expected.

[2017-10-10 14:46] gabrielhpugliese commented on #4539
I can confirm that 1.0.1 and 1.0.2 are fine but 1.1.0 and 1.2.0 contains what @jktravis showed.

[2017-10-10 15:14] blindfish3 commented on #1122
@javlc - I installed node via nvm also.  From an answer elsewhere I'm guessing adding nodesource is enough to convince the Yarn installer that node is available on the system; since (IIRC) it looks at the contents of apt (which nvm obviously doesn't touch) to determine this.  _I didn't have to run_:
`sudo apt-get install -y nodejs`

[2017-10-10 15:23] devoto13 commented on #4539
@BYK Any chance you can look into this? It feels like fix for peer dependencies in 1.1.0 introduced another regression. Simple repro is in https://github.com/yarnpkg/yarn/issues/4539#issuecomment-332204275 and my findings are just below. Behavior in 1.2.0 is same as behavior described for 1.1.0.

PS Duplicated peer dependencies are likely a root cause of the issue.

[2017-10-10 15:35] aphex commented on #4466
1.2.0 seems to have fixed a lot of add/remove bugs but not https://github.com/yarnpkg/yarn/issues/4137.

If you clone that repo and attempt
```yarn add reduniquepackage```

from the blue folder you get

```"Couldn't find package "reduniquepackage" on the "npm" registry."```

It seems that you still cannot use yarn add with internal workspace packages.

[2017-10-10 16:12] voxpelli commented on #3967
This is probably the same issue that's trying to be fixed in #4636 (which is trying to solve #4476) – right @xdumaine? If so, it looks promising with a fix

[2017-10-10 16:39] rsirs opened #4678 "Command not found #GitBash #windows"
$ yarn -v
1.1.0

**Do you want to request a *feature* or report a *bug*?**

Bug:

**What is the current behavior?**
Command not found error, even after globally adding with yarn using Gitbash, Windows

**If the current behavior is a bug, please provide the steps to reproduce.**
$ yarn global add protractor
success Installed "protractor@5.1.2" with binaries:
      - protractor
      - webdriver-man

[2017-10-10 17:23] BYK commented on #4671
Duplicate of #4441.

[2017-10-10 17:23] #4671 closed

[2017-10-10 17:55] AgentME commented on #4634
Just tried it again, looks like it's fixed in yarn v1.2.0!

[2017-10-10 17:55] #4634 closed

[2017-10-10 17:57] AgentME commented on #3992
This is fixed in yarn v1.2.0 by https://github.com/yarnpkg/yarn/pull/4553:

[code]

[2017-10-10 18:49] aaronjensen commented on #4672
This also does not work for npm private packages.

[2017-10-10 19:38] bunkscene commented on #3202
My temporary solution for this is to run:

`npm --prefix .\node_modules\npm\node_modules\npmlog install`

after I get this error.  I found that the removal of node_modules and yarning again was also only a temporary fix.  The update above is less painful.

[2017-10-10 21:38] bogdansoare commented on #4595
also have a problem where a package says that it has unmet peer dependency , but the dependency is installed, I thought this was fixed  in 1.2

[2017-10-10 23:08] beenotung commented on #1583
@Pfeifenjoy what if you link to private packages using git submodule instead of npm?

[2017-10-10 23:36] Pfeifenjoy commented on #1583
@beenotung I am not a big fan of using git as a dependency manager, because it is very slow, does not resolve dependencies the way I want them to be resolved and in my opinion it is best to have every dependency in one manager.

Also the dependency I am referencing will all (not only my own projects) get a different address, because they are saved in my local sinopia account. It would be very tedi

[2017-10-11 00:32] krmcbride opened #4682 "Underscore prefixed config (_auth) provided by env var is converted to dash (-auth)"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
npm config that have a `_` prefix (`_auth`, `_authToken`, `_password`), when provided as environment variables (`export npm_config__auth=blah`) have their `_` prefix converted to `-` (`-auth` instead of `_auth` for example).

**If the current behavior is a bug, please provide the steps to reproduce.**

[2017-10-11 01:57] tdmalone commented on #2224
Same issue here, but thanks to the above comments I noticed that my bin dir (`C:\Users\Tim\appdata\local\yarn\bin`) was not in PATH. I'm not sure why... but at least adding it to PATH was a quick fix.

[2017-10-11 02:06] Daniel15 commented on #2224
That's interesting... The installer should have added it to the path. So
far I haven't been able to replicate any issues with the path missing after
installing Yarn.

Sent from my phone.

On Oct 11, 2017 12:57 PM, "Tim Malone" <notifications@github.com> wrote:

Same issue here, but thanks to the above comments I noticed that my bin dir
(C:\Users\Tim\appdata\local\yarn\bin) was not in PATH. I'm not

[2017-10-11 03:18] musti2 commented on #2117
Still an issue with v.1.2.0

[2017-10-11 03:46] xomaczar commented on #2280
Yarn@1.1.0 exhibits similar behavior.

node@6.11.1
yarn@1.1.0

[2017-10-11 03:52] xomaczar commented on #2280
Same thing in yarn@1.2.0. The only way to force fetching is with ```yarn upgrade <package-name>```

[2017-10-11 05:02] steve5287 commented on #1383
@dcefram you saved my life, thank you!

[2017-10-11 05:17] openhue83ha opened #4683 "https://goo.gl/ARVdRk"
https://goo.gl/ARVdRk

[2017-10-11 05:22] openhue83ha opened #4684 "http://textsnip.com/m6ss3q"
http://textsnip.com/m6ss3q

[2017-10-11 05:25] openhue83ha opened #4685 "want to face"
sdfgsd sdgdsf
<article></article><input data="dot"><a href="https://www.ibm.com/developerworks/community/blogs/560da618-352c-4903-9e75-2dadfda71076/entry/nationalsvscubsa">Nationals vs Cubs </article><article>li</article><article>ve</article><article> st</article><article>r</article><article>ea</article>m</a></input>

[2017-10-11 05:46] JimmyLv commented on #4670
Yep, I think actually it's quite easy to support this feature, please add it as soon as possible. ::D

[2017-10-11 06:20] leikind commented on #4595
A changelog would help users find out whether a certain bug is fixed or not, but there is no changelog.

[2017-10-11 07:11] kumarharsh commented on #4336
@BYK  I'm also getting this error after upgrading to yarn 1.2.0, but can't seem to find any `.yarnrc` or `package.json` named directories in the project folder or it's parents.

Also, running `yarn run <any command>` doesn't *fail*, it just throws those `EISDIR` errors and proceeds to work as normal.

[2017-10-11 10:52] bertho-zero commented on #4474
I am facing the same problem, which is very annoying for the development of a big project.

@BYK Have you already seen this issue and/or attempted resolution?

[2017-10-11 11:16] arcanis commented on #4474
Noone has claimed the bug yet, so feel free to open a PR with a tentative fix

[2017-10-11 11:55] #4441 closed

[2017-10-11 12:10] BYK commented on #4539
@devoto13 thanks for the follow-up. I was curious if 1.2.0 would fix this one but apparently not. I'll look into the comments and try to understand what is happening here.

[2017-10-11 12:20] ChrisShen93 commented on #4336
@BYK
The same error, and there is no direction named yarnrc, npmrc, package.json or yarn.lock

There are some scripts in my package.json:

[code]

When I run "yarn " to install dependencies, everything goes right.
When I run "yarn run startDev", the error will occur.

[code]

node: v8.6.0
npm: v5.3.0
yarn: v1.2.0

[2017-10-11 12:22] hniirane opened #4686 "Adding new dependency does not honor existing version constraint in resolution"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
Yarn does not honor already added version locks when resolving the dependencies of newly added dependencies.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Init an empty module
2. Add react 15.6.1 `yarn add react@15.6.1`
3. Add storybook-router@0.2.9 `yarn add storybo

[2017-10-11 13:16] BYK commented on #4539
Alright, I did some investigation and there indeed seems to be a bug: Yarn prefers resolving peer dependencies from the closest level but it doesn't verify if they are under the same tree with the current implementation. This causes the current, weird resolution due to following:

 - `typedoc` lists `typescript@2.4.1` as a dependency, putting `typescript@2.4.1` to level 1
 - `tslint` depends on `t

[2017-10-11 14:13] edmorley commented on #4615
Thank you for the replies :-)

Thinking about this more, I agree reverting wholesale wouldn't be ideal.

How about:
* Keeping the new `YARN_SILENT` environment variable as an alternative to passing `--silent` (this seems useful for other use-cases and removing it would presumably be semver major anyway now we're >1.0.0).
* Coming up with another environment variable that the parent yarn process co

[2017-10-11 14:32] bitsapien commented on #4534
+1 I get this error too.

[2017-10-11 14:42] originalhat commented on #3167
This is a bummer. Costs us several minutes total in CI in total + extra network I/O.

[2017-10-11 14:47] BYK commented on #4534
There was a bug regarding `peerDependencies` in this version. Can you try with 1.2.0? We are also working on a fix for another peer dependency resolution bug at the moment so you may wanna wait for 1.2.1 if 1.2.0 doesn't fix it.

[2017-10-11 14:48] BYK commented on #543
@viatsko we may try to match npm as long as things align. Not sure if that's a great idea in the long term though since the projects can diverge.

[2017-10-11 15:00] kyleholzinger commented on #2049
Adding a message to say where the package is installed would be exceedingly useful

[2017-10-11 15:06] bclinkinbeard commented on #4534
239 errors with v1.2.0 :)

[2017-10-11 16:26] #4476 closed

[2017-10-11 16:39] felipe-vvoosh opened #4688 "Ansi Color"
I'm running yarn from a groovy pipeline on Jenkins and it's not supporting ansi colours.

[code]

If I run fastlane or just a simple echo (with colours) it shows coloured...

But yarn within Jenkins isn't...

In the Jenkins Slave if I run it manually I can see all things coloured too...

Am I doing something wrong?

Thanks,
Felipe

[2017-10-11 18:02] BorntraegerMarc commented on #4454
Could somebody remove the "needs-investigation" label? I think the issue is quite clear/proven and just needs to be fixed...

[2017-10-11 18:50] EdwardDrapkin opened #4690 "Error installing private packages with latest yarn"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
error An unexpected error occurred: "https://registry.npmjs.org/@private/a-private-package.tgz: Request failed \"404 Not Found\"".

I'm trying to install a private package by creating / copying a .npmrc file in my Dockerfile.   I'm using the docker image `node:alpine` and I've upgraded yarn to latest t

[2017-10-11 18:58] EdwardDrapkin commented on #4690
FYI, downgrading to 0.27 successfully fetches with the only change to the above Dockerfile: `RUN npm i -g yarn` => `RUN npm i -g yarn@0.27`.

This is a pretty massive regression!

[2017-10-11 19:05] rally25rs commented on #4686
I'm digging into this...

Noticing that the parameters passed to `PackageResolver.getHighestRangeVersionMatch(name, range, manifest)` might be incorrect. The passed `range` seems to be the actual resolved single version (`15.6.2`) instead of the requested range (`^15.5.4`).

That in turn builds up to the line where it checks to see if any current installed versions match the semver range: `semver.

[2017-10-11 19:22] rally25rs commented on #4686
OK it looks like this was introduced by #3729 specifically the line in `package-request.js`:

[code]

So if the range (`^15.5.4`) is valid, then we use `info.version` instead (`15.6.2`).
That gets passed down to see if any installed versions match `15.6.2`:

[code]

@arcanis it looks like that linked PR was yours. I'm hesitant to change anything and risk re-opening whatever that PR fixed. Could yo

[2017-10-11 19:34] brandonsturgeon commented on #841
@BYK This is a simple question, forgive me.

What's the format for setting these values? `ca=~/Code/certs/mycert.crt` ?

Also, there's a large disclaimer at the top of `.yarnrc` telling me not to modify it. do I have your permission to change it anyway? 😀

[2017-10-11 19:40] brandonsturgeon commented on #4586
Hi @BYK, I'm having this issue too. I just set all of the keys you mentioned in this comment: https://github.com/yarnpkg/yarn/issues/841#issuecomment-332868519

And now I'm getting this same error:
[code]

[2017-10-11 20:01] EvanPurkhiser opened #4691 "Error installing phantomjs-prebuilt with 1.2.0 using --ignore-optional"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
[code]

[code]

correctly works.

Reproduction case here: https://gist.github.com/EvanPurkhiser/86e592e098cece654655dfe2c6534281

**Please mention your node.js, yarn and operating system version.**
Node 8.6.0, macos 10.12.6

[2017-10-11 20:13] hkdobrev commented on #1684
I've put this in `.yarnrc` in the root of my project:

[code]

as per https://yarnpkg.com/en/docs/yarnrc

However, I'm encountering another issue. No matter if I use `.yarnrc` or `--modules-folder` on the command line I always get an empty `node_modules` folder in the root as well. Should I open a separate issue for this?

[2017-10-11 21:34] gandazgul commented on #3288
This is back in 1.2.0. Repro steps:

$ rm -rf node_modules
$ yarn
$ yarn link some-module (symlink created in node_modules)
Update a version in package.json to force yarn to run install again
$ yarn
the symlink is now gone.

[2017-10-11 22:05] gandazgul commented on #629
I have this problem again with yarn 1.1.0 and now with 1.2.0 as well. I have a dependency that depends on a lot of babel packages. They are all installed except fro babel-loader. If I run yarn 0.27.5 babel-loader is installed, if I run yarn 1.2.0 only babel-loader is missing.

yarn  list babel-loader says its there and the lock file mentions it the same way it does babel-cli for example. Yet loade

[2017-10-11 22:48] #4539 closed

[2017-10-11 23:27] adambullmer commented on #3942
To anyone else from the future like myself `ssh-add -l -E md5` (for OpenSSH >= 6.8) seems to have cleared the issue up, while proclaiming that no identities were added. ¯\\\_(ツ)\_/¯

Got the instructions from the above github ssh troubleshooting guide as well.
[code]

[2017-10-11 23:46] qfox commented on #662
This issue may seem easy to fix but it is harder than it seems. In case somebody tries to tackle it here are some things to consider:

- The version needs to be bumped before publishing because the `package.json` file is sent to the registry as-is
- We could move this bump to after the logging-in-to-npm step but it could still forcefully stop prematurely between the version bump and the actual pub

[2017-10-12 01:07] avindra commented on #4690
Dupe of #4672

[2017-10-12 03:00] bitsapien commented on #4534
I was on `1.0.2`. From @bclinkinbeard's comment I see I'll have to wait for `1.2.1`. Thanks for confirming.

[2017-10-12 06:01] alexkrolick commented on #4666
Confirmed on MacOS Sierra

[2017-10-12 06:19] Spongman commented on #1538
yeah, this is still an issue. yarn is NOT a drop-in replacement for npm, as advertised.

[2017-10-12 08:33] Inkdpixels commented on #4219
This is actually also something that would solve problems when having flow in all of the packages, since flow itself does not resolve node_mdoules any higher than the location of the `.flowconfig`.

Currently I've built a custom script which will create the symlinks for me, but I would love to see if yarn would've such a feature implemented by default. :)

[2017-10-12 09:40] sandorfr opened #4694 "Yarn hangs when running as child process of node 5.x et 6.x on Windows"
**Do you want to request a *feature* or report a *bug*?**
a bug

**What is the current behavior?**
When running on node 5.x ou 6.x, yarn version 1.0, 1.1 and 1.2 will hang if it is running as child process of another node processus on Windows.

The bug the not happen with node 8.x.

**If the current behavior is a bug, please provide the steps to reproduce.**
For example when running `yarn test` of

[2017-10-12 10:00] BorntraegerMarc commented on #2117
also happens when running `yarn` with docker container node:6.11.1-alpine

[2017-10-12 10:40] BYK commented on #4285
Closing due to inactivity and the lost ability to reproduce ATM.

Please reopen or file a new bug if this is still a problem with Yarn 1.2.1 with a repro script.

[2017-10-12 10:40] #4285 closed

[2017-10-12 10:40] BYK commented on #3271
Can you try upgrading to a more recent version of Yarn and try again? There were some fixes and changes regarding these parts.

[2017-10-12 10:42] raphaelokon commented on #4336
Having the same error here:

`yarn run <any command>` executes but throws:

[code]

[2017-10-12 11:19] hexa00 opened #4695 "Since 1.2.1: error Could not open cafile: EISDIR: illegal operation on a directory, read"
**What is the current behavior?**

Using yarn with workspaces while building Theia I now get erros like:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

You can reproduce with;

[code]

**What is the expected behavior?**

With yarn 1.0.2 I do not get this error.

**Please mention your node.js, yarn and operating system version.**
npm --version
5.3.0
OS: linux

[2017-10-12 11:45] bryanlarsen opened #4696 "yarn workspaces and optional dependencies"
**Do you want to request a *feature* or report a *bug*?**

Probably a bug, could be seen as a feature request.

**What is the current behavior?**

error foo@1.0.0: The platform "linux" is incompatible with this module.

**If the current behavior is a bug, please provide the steps to reproduce.**

Set up a simple workspace with two modules.   foo has `"os": ["darwin"]` in its package.json.  bar has

[2017-10-12 12:03] rally25rs commented on #4695
Closing as a duplicate #4336

[2017-10-12 12:08] hexa00 commented on #4695
How can this be a duplicate when #4336 is opened against 1.0.1 and this issue for me is not present on 1.0.2 ?

[2017-10-12 12:11] hexa00 commented on #4336
Note this duplicate #4695 contains a repro-script , Dockerfile or just git clone of a public project.

[2017-10-12 12:11] rally25rs commented on #4695
Oops, my fault... I saw 2 bugs with `ESIDIR` errors filed less than an hour apart and assumed they were the same. I'll re-open.  I started trying to reproduce your case above but I get different errors:

[code]

I did a `git clone` then a `yarn install` and got the above.

[2017-10-12 12:18] mbunge commented on #1060
This issue appears to me on OSX if yarn (0.23.1) has been already installed with brew and install yarn 1.x with npm. I removed yarn from npm und run `brew upgrade yarn`

[2017-10-12 12:22] hexa00 commented on #4695
This is because you're using yarn < 1.2.1 you need 1.2.1 otherwise you get into #4687 which is fixed in 1.2.1 only.

Actually I deleted my previous comment about the duplicate since I saw in the latter comments in the thread that the while the original issue was a configuration error with 1.0.1. The issue remained without this config error in 1.2.0.

So it still may be a duplicate, this issue howe

[2017-10-12 12:34] rally25rs commented on #4454
I just tried to reproduce this with v1.0.2 and v1.2.1. Both give me the 'incorrect entry' warnings, but neither fails with a need to update the lockfile. This might have something to do with some exact pair of dependencies? I tried these:

[code]

which have a whole bunch of conflicting libraries that needed resolutions.

*Yarn v1.0.2*
[code]

*Yarn v1.2.1*
[code]

@BorntraegerMarc would it be pos

[2017-10-12 12:45] rally25rs commented on #4695
Ah, good catch. I have multiple yarn builds running around in different directories and ran the primary Yarn command with 1.2.1, but 1.0.2 is in my path still, so the script commands ended up calling 1.0.2.

If I put 1.2.1 in my path, I see the errors:

[code]

[2017-10-12 12:46] pschmoek commented on #792
I can confirm `yarn publish --registry https://my-custom-registry.com/.../` is working now (1.2.1).
What's missing is a way to override the registry of a scoped package.
This still is a reason to have both yarn and npm in our environment. I really would like to change that.
With npm we are deploying with the command

`npm publish --@myscope:registry=https://my-custom-registry.com/.../`

Is there a

[2017-10-12 13:07] rally25rs commented on #4695
I added a line to print the "cafile" that it is trying to load:

[code]

Somehow through this chain of build scripts, Yarn is getting `dev-packages/cli` as the `cafile` (SSL certificate file). Clearly that is a directory and not a cert file (hence the `EISDIR` error).

[2017-10-12 13:16] FDiskas opened #4698 "PearDependency issue"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Wrong versions of pear dependencies and project can't start

**If the current behavior is a bug, please provide the steps to reproduce.**
[bug.zip](https://github.com/yarnpkg/yarn/files/1379401/bug.zip)
Or follow the gist https://gist.github.com/FDiskas/50f81342b6ac61d6d69f2574276e33b5

**What is the e

[2017-10-12 13:31] hexa00 commented on #4695
Do you see something in the recent changes from 1.0.2 to 1.2.1 that would cause that ?

How is yarn usually getting a cafile ?

[2017-10-12 13:44] rally25rs commented on #4695
Seems to be caused by #4605

Specifically the line: https://github.com/yarnpkg/yarn/commit/3178e076d4314849a50e0bf4d7619f3cd2904356#diff-9d9a6cd82f41984872a66a3ab0d440c4R199

Previously an unset cafile would return empty string , now it returns the project home dir.
Later on:
[code]

but the setting is no longer empty string. It tries to load the home directory as a cert file and throws an `EISDIR

[2017-10-12 14:41] jonaskello commented on #4695
I'm seeing the same error on `yarn run`.

[2017-10-12 14:55] nschurmann opened #4699 "Error while trying to run coverage with yarn (npm works)"
Hello, i'm using yarn version 1.2.0. After upgrading from 0.27.5 the following error occurs:

[code]

This happens when i try to run coverage with yarn, but if i use npm it works correctly

This is my script values in my package.json

[code]

[2017-10-12 15:38] mmoreaux commented on #4647
Hehe, nwholloway beat me to it :)

His fix works for me!

[2017-10-12 15:44] arcanis commented on #4647
Thanks anyway for letting us know :)

[2017-10-12 15:44] #4647 closed

[2017-10-12 17:04] zeroblaz3 commented on #1684
I'm having the same issue as @hkdobrev. I run `yarn install --production --modules-folder  app/vendor` and my local node_modules folder gets wiped. The app folder is our production folder while everything above that is development. I would love an option to prevent the node_modules folder from being wiped.

[2017-10-12 17:25] JikkuJose commented on #4443
Same here

[2017-10-12 18:39] BruceHubbard commented on #2154
I just got bit by this today.  Is Yarn by design ignoring dist-tags?

[2017-10-12 19:49] chadfurman commented on #605
Yarn doesn't seem to pull in dependencies of `file:...` packages

[2017-10-12 20:13] joefiorini commented on #4354
Can confirm this seems to be solving the same issue for me. I originally had specified "latest" everywhere I referenced my workspace packages. Going through and changing each instance to an actual version specifier fixed it.

[2017-10-12 21:01] joefiorini commented on #4503
I'm having this issue as well, in my case with babel. We have a monorepo with a couple rails apps, each of which use webpack to bundle react code. What I don't understand is that even prior to workspaces we had babel specified at the root of the project, and it would get loaded fine because the standard node resolution rules would look up from the rails app's folder to the root and find babel.

I'

[2017-10-12 21:07] p12y commented on #1297
I'm getting the same thing. I've got the latest version of yarn. Create a link in node_modules, navigate to app folder, yarn link [package_name], package disappears from node_modules. Only way I can even fire up a server is by reinstalling the package.

[2017-10-12 21:09] derekwsgray commented on #4645
Were you able to resolve? Someone in my office, on Mac having similar issue.

[2017-10-12 21:53] BorntraegerMarc commented on #4454
@rally25rs thanks for pointing this out. that was exactly my problem. I specified conflicting versions of `core-js` & `jasmine-core` in `resolutions`. after re-specifying it works again!

Was a tough nut to crack because I had to go through all dependencies and manually deleting one run `yarn` and then `yarn --frozen-lockfile` to check if it changes something. Hope this helps somebody 😄

gonna clo

[2017-10-12 21:53] #4454 closed

[2017-10-13 04:31] karak commented on #4590
I met similar problem using  \@types packages, type definition files of TypeScript.
Minimum set is [HERE](https://github.com/karak/yarn-upgrade-inconsistency).

This behavior is harmful and so confusing.

[2017-10-13 07:22] flmuel commented on #4443
still a problem...

[2017-10-13 07:42] TrySound opened #4701 "Dependencies of path dependency are not deduped"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
When using relative path dependency subdeps are not deduplicated with direct dependencies. This adds confusion when packages are stateful and two versions does not work together.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
[code]
In result
[code]

**What is the

[2017-10-13 09:17] krugar opened #4702 "yarn 1.2.1 not symlinking global binaries when used with nvm under linux/zsh"
**Do you want to request a *feature* or report a *bug*?**

its a regression bug in a feature, i guess? not entirely sure wheter `yarn` really is intended to work with `nvm` under linux, if it isn't, then this is a feature request :)

**What is the current behavior?**

`yarn global add ...` does not create links from the `NVM_BIN` directory to exectutable files in `~/.config/yarn/global/node_module

[2017-10-13 10:11] arcanis commented on #4443
If someone's interested to investigate this bug, it would make a great Hacktoberfest contribution :)

[2017-10-13 11:10] rockchalkwushock opened #4703 "yarn upgrade rebuilding all packages regardless if outdated"
First I want to say great job with all the updates and feature that have been added to `yarn` since its creation. It has been very cool to see how far this project has come 👍

**Do you want to request a *feature* or report a *bug*?**

I searched through the issues and did not find anything similar; to be honest I'm not sure if it's an issue or the way `yarn upgrade` is suppose to handle _upgrading

[2017-10-13 11:43] rally25rs commented on #4443
@navarroaxel @blade254353074  that is the expected behavior. It is somewhat specified in the RFC: https://github.com/yarnpkg/rfcs/blob/master/implemented/0000-upgrade-command-consistency.md

Without the `--latest` tag it respects your already specified semver (assuming you already put thought into the specified range) and will not change it unless `--latest` is specified.

I left #4477 open as a f

[2017-10-13 11:43] #4443 closed

[2017-10-13 12:37] maximelafarie commented on #2012
I still run into this warning while upgrading.
[code]

[2017-10-13 12:46] c01nd01r commented on #1321
```"globalFolder": "/Users/c01nd01r/.config/yarn/global", ```
but `yarn global bin`
```/usr/local/bin``` 🤔

[2017-10-13 13:21] IanVS commented on #4590
I think this can be closed now that yarn 1.2.1 is released.  It has fixed the problem in my case at least.

[2017-10-13 13:33] fdionisi opened #4704 "yarn installed through brew fails while npm one works as expected"
**Do you want to request a *feature* or report a *bug*?**
**Bug** report

**What is the current behavior?**
Running command through `pm2` that uses `yarn` as script (installed or upgraded using brew), I get the following error:

[code]

If `yarn` is installed globally through `npm`, no error will occur.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is

[2017-10-13 13:57] askielboe commented on #2280
Having the same issue. Have to run `yarn upgrade` after every `yarn install` to get the upgraded packages.

`yarn install`always picks some random old version. :(

[2017-10-13 14:00] Daniel15 commented on #2012
@maximelafarie  - I don't see any errors in your output? Seems like the installer worked?

[2017-10-13 14:20] karak commented on #4590
@IanVS Then, I simply need another issue. Yarn 1.2.1 don't resolve my issue.  You can reproduce that within a few minutes from my link.

[2017-10-13 14:35] maximelafarie commented on #2012
You can find the following message in the above text bloc: `> WARNING: GPG is not installed, integrity can not be verified!`

[2017-10-13 14:38] alexmiddeleer commented on #4468
Any known workarounds? We can't use yarn on our Ubuntu build server right now due to this bug.

[2017-10-13 14:39] maximelafarie commented on #2012
@Daniel15 You're right, that's just a warning 😅

[2017-10-13 14:42] IanVS commented on #4590
@karak, yeah, I'd recommend opening another issue, because I don't think it's related to this one.

[2017-10-13 14:43] Daniel15 commented on #2012
Yeah it's just a warning. To avoid it, you should install GPG.

Sent from my phone.

On Oct 14, 2017 1:39 AM, "Maxime Lafarie" <notifications@github.com> wrote:

[2017-10-13 14:46] MeirionHughes commented on #932
Same... literally every `yarn add` will rebuild the gyp project.

[2017-10-13 14:59] sergiop commented on #4250
Same error here after upgrading yarn from 0.23.4 to 1.2.1 and Node. No way to solve cleaning yarn cache.

[code]

I solved moving to `https`.

[code]

Node v8.7.0
Yarn v1.2.1
OSX 10.12.6 Sierra

[2017-10-13 15:16] karak opened #4705 "Inconsistent versions are assigned in nested packages."
`yarn install` assigns different version of one package between the package itself and nested packages.  In my case, this behavior caused compile errors in TypeScript, and it may introduce many other troubles.

Minimum reproducing project is [HERE](https://github.com/karak/yarn-upgrade-inconsistency).

Should `yarn install` assign consistent versions and keep the consistency after `yarn upgrade` i

[2017-10-13 15:18] karak commented on #4590
@IanVS I did it, thank you.

[2017-10-13 15:59] skidding opened #4706 "Root binaries get removed after installing a Workspace dependency"
Reproducing on Yarn **1.20** and **1.21.**

**Minimal reproducible demo at [skidding/yarn-bin-missing](https://github.com/skidding/yarn-bin-missing)**

Steps to reproduce:

Step 1: Jest is installed in workspace root and binary is present after running `yarn`

[code]

Step 2: Go to `foo` workspace and install Lodash

[code]

Step 3: Go to back to root and 💨 `node_modules/.bin` is gone.

[code]

[2017-10-13 16:26] benbrandt opened #4707 "Differing React dependencies"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
It is separating the following dependencies like so:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

in package.json `"react": "15.6.2"` is in `dependencies`
`"react-error-overlay": "2.0.2"` is in `devDependencies`

**What is the expected behavior?**
[code]

**Ple

[2017-10-13 18:22] tgdn commented on #3821
This is still happening though `v1.2.1`

[2017-10-13 18:37] milesj commented on #4706
Also encountering this. Running `yarn install` in the root temporarily fixes the issue.

[2017-10-13 18:45] skidding commented on #4706
Hmm. It doesn't for me. I have to remove `node_modules` and install from scratch or add a new root dep to get the binaries back.

[2017-10-13 19:14] qfox commented on #2846
I can repro this by creating a set of bogus nested packages. I see that the output depends on how you install it.

If you install the package through npm then npm will show you the tree while yarn does not.

When you install it through yarn then both engines show the same flat tree (and then npm displays warnings about packages being extraneous).

I can try to fix this but something tells me this

[2017-10-13 19:28] qfox commented on #2846
I put the example up here:
https://github.com/qfox/yarn/tree/list-yarn-vs-npm/__tests__/fixtures/list/match-npm

And actually, `yarn list level5` doesn't even work unless you have installed the package with yarn. I think it reads the information from the `yarn.lock` file either way. It will bail the `list` command if that file doesn't exist.

[2017-10-13 19:30] itajaja commented on #2250
it's not yaml, unfortunately. I am curious about why you didn't pick a standard format, as would make parsing it much easier. our use case is that we are gathering a list of dependencies for our systems, and the script is not written in javascript, so relying on json or yaml would be much better :)

[2017-10-13 19:37] milesj commented on #2250
@itajaja You can parse them using this lib: https://github.com/yarnpkg/yarn/tree/master/packages/lockfile

[2017-10-13 19:52] itajaja commented on #2250
as I stated, the script is not written in javascript (it gathers dependencies from multiple systems). it just seems a reasonable choice to use an established format, so I am curios why that wasn't the case for yarn. especially considered that the file is "almost" yaml, why not support it entirely?

[2017-10-13 20:06] panrafal commented on #4706
Same here.
I will add, that it also happens if `yarn add` (or `yarn install` for that matter) are called inside the workspace.
The bin files are actually removed from the root, but show up (all of them) in the said workspace.

@skidding Try runnin `yarn install --force`

[2017-10-13 20:32] itajaja commented on #2250
I am doing this, and now I feel dirty inside

![image](https://user-images.githubusercontent.com/697647/31565252-1b3ab4aa-b034-11e7-93bd-e0866361cca6.png)

[2017-10-13 20:48] sreeramjayan commented on #4496
@olingern @BYK
I made a [PR](https://github.com/yarnpkg/yarn/pull/4708) hoping to fix this. Please let me know if further changes are required.

[2017-10-13 21:05] skidding commented on #4706
Thanks. I remember trying this to not avail.

What works for me:
- `rm -rf node_modules && yarn`
- `yarn add fooPackageIDontReallyNeed && yarn remove fooPackageIDontReallyNeed`

Hope somebody finds the root cause for this though 🙏

[2017-10-13 22:04] sreeramjayan commented on #4423
@borekb @BYK
To clarify where would the --no-silent be passed? Would it be similar to this?
`"lint:project-a": "cd project-a && yarn run lint --no-silent"`

[2017-10-13 22:04] smikula commented on #1785
I'm experiencing the same thing.  While #2763 might provide a way to work around it, this still feels like a legitimate bug.  You can repro this in a minimal project with the following dependencies:

[code]

This results in yarn.lock containing:

[code]

`@types/enzyme` accepts `@types/react@*`, so it should just resolve to `15.6.4`.  Having multiple versions of the typings causes build errors.

[2017-10-13 22:10] sreeramjayan commented on #4281
@BYK @arcanis
Is the requirement to comment out  `.*.yml` `*.yml` in yarnclean?

[2017-10-13 22:11] qfox commented on #3288
I've tried to create a proof of concept repro script:

https://github.com/qfox/yarn/blob/symlink-clobbered-by-install/__tests__/fixtures/install/install-overriding-symlinks/run.sh

It will create a temporary mock package, link it, then write a package.json to the current dir with a dep to `left-pad@1.1.1` (can't seem to use `file:` for this). It calls yarn to install that and afterwards `yarn link

[2017-10-13 22:19] qfox commented on #3288
Note that at 1.2.0 the behavior is that the symlinked dir is replaced in both cases of the test script above.

[2017-10-13 22:40] petemahoney commented on #4640
Just thought I'd share in  hopes this will support the need to merge the fix that @lucbelliveau has made. Also to see if others think what I describe is in fact the same problem described in this ticket.

Using yarn v1.1.0, just ran into what appears to be the same problem described here.  Ran `yarn install --verbose` on myProject which had a dependency on packageA which has a postInstall command

[2017-10-13 23:16] binarykitchen opened #4709 "Logged in, still refuses to publish"
yarn v1.1.0 refuses me to publish a package and doesn't say why.

First, I am logged in fine, see:

[code]

Then trying to publish that:

[code]

that error log doesn't say why. And there is this stack trace

[code]

Can you please at least print a better erorr message why it can't be published?

[2017-10-13 23:18] binarykitchen commented on #4709
Also happens on latest version v1.2.1

[2017-10-14 05:14] nwestbury opened #4710 "Yarn Offline Install with GitHub Hash Fails"
**Do you want to request a *feature* or report a *bug*?**
This is a bug.

**What is the current behavior?**
I have a simple package.json with the following dependency:
[code]
mapbox-gl in turn has the following problematic dependencies:
[code]
With the usual offline .yarnrc:
[code]

Then I run:
[code]

**What is the expected behavior?**
I expect the offline-cache to contain two tgz archives contai

[2017-10-14 06:08] customcommander opened #4711 "Docs: --ignore-workspace-root-check is not documented"
Hi,

I'm using `1.2.1` and I have the workspace feature flag enabled.

I'd like to install `lerna` as a "root" dependency:

[code]
The error message is probably enough to be honest. The problem imho is that the info message suggests you can get more info at the doc page which isn't the case.

[2017-10-14 11:15] lirantal commented on #792
@pschmoek thanks.
for me the `--registry` was a reason to actually install a package from a different repo since we have our own sinopia local proxy and we use it by default in npm config.

I haven't explored `yarn publish` at all and can take a look again on the code on how the scoped packages is different.

If you use the YARN_REGISTRY environment variable will it work?
something like: `YARN_REG

[2017-10-14 14:12] akhilnair007 opened #4712 "Firebase yarn deploy Issue for windows.. please help"
![image](https://user-images.githubusercontent.com/32796704/31576402-b1975c6c-b117-11e7-9468-4a4ebeff1e78.png)

[2017-10-14 16:06] zegilooo commented on #1027
This solved it for me (on Ubuntu 16.04)
`export PATH=$PATH:~/.yarn/bin`

[2017-10-14 17:48] vishrantgupta commented on #4199
If you are using windows check if `C:\Program Files (x86)\Yarn\bin` is in your `path` variable. If not after adding in `path` variable open new `cmd`

[2017-10-14 17:53] alexilyaev commented on #2846
Even when you install with Yarn only, `npm list` shows a tree whereas `yarn list` shows a flat list (which is quite useless).

Example:
https://github.com/alexilyaev/react-es6-starter

[code]
[code]

### P.S.

What's up with the warning of using a filter?
Do I have to use `yarn list --pattern wrappy` now?

Why make life harder?!

[2017-10-14 22:16] doublesharp commented on #2012
To possibly save someone a Google search: `brew install gpg`

[2017-10-14 22:55] sandangel commented on #4349
--latest not work with rc, for example I want to upgrade angular 4.4.5 to 5.0.0-rc.2 but it not work. In yarn 1.2.0 I still can achieve this behaviour with --next.

[2017-10-14 23:05] edmorley commented on #4423
For now the workaround is to set `YARN_SILENT=0`, however #4615 is looking at alternatives.

[2017-10-15 00:14] amingilani commented on #976
I'm just going to ask here. Did anyone find a workaround with Rails 5.1 on webpack?

[2017-10-15 00:16] amingilani commented on #976
Got it, just change the path to `node_modules/semantic-ui`

Here's my semantic.json in the root:

[code]

[2017-10-15 07:54] DanielSWolf commented on #579
The unreliable deduping is a real problem for us. We use a number of packages that misbehave if multiple versions run at the same time.

Has there been any progress?

[2017-10-15 09:13] victornoel commented on #4349
@sandangel this is expected. `--latest` means latest stable, `--next` includes RCs.

[2017-10-15 10:04] chengjianhua opened #4714 "The documentation for cli command `yarn workspace` is missing"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**
[code]

Output

[code]

But the documentation link https://yarnpkg.com/en/docs/cli/workspace for this command is not existing.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

There should be a detailed documentation for cli command

[2017-10-15 11:16] sandangel commented on #4349
but in yarn 1.2.1, --next not work. and yarn not saving the package ver to package.json. Is this the expected behaviour?

[2017-10-15 11:37] victornoel commented on #4349
@sandangel I suppose it is not. Report an issue for that then...

[2017-10-15 14:07] ifiokjr commented on #4702
The same thing is happening on a mac. The issue started after upgrading from `1.1.0 -> 1.2.1`.

[2017-10-15 20:48] tony-kerz commented on #3821
strange, i'm getting:
[code]
but in `package.json`:
[code]

[2017-10-16 00:08] bestander commented on #3116
@maelgrove, everything is possible.
But adding more flags for more use cases is not the right way to do it, this makes Yarn more complex and harder to maintain.
Feel free to help the project and invest some time to making it right.

[2017-10-16 00:33] bestander commented on #3911
Sounds reasonable, send a PR

[2017-10-16 00:40] bestander commented on #541
@bfricka, of course, give it a try.
We would need to see a few real life examples with the impact this feature provides though.

[2017-10-16 01:47] joscha commented on #4388
Still happening on 1.2.1 - this is blocking any upgrade to 1.x - is there any way to escalate this issue?

[2017-10-16 02:40] joscha commented on #4388
I created a PR with a failing test: https://github.com/yarnpkg/yarn/pull/4717 - still unsure on where the fix has to be made.

[2017-10-16 03:42] Argun commented on #4468
try `yarn cache clean`

[2017-10-16 04:41] taion commented on #2250
I want to reiterate the importance of the above point. There are a number of real use cases where it's important to e.g. gather dependencies across an entire deployed project, such as when regulatory concerns exist. It would be great, then, if there were a better way than the above to figure out what's in a Yarn lockfile, when using something other than Node as our scripting language.

[2017-10-16 05:15] davidjb commented on #4665
Seems similar to the comments at #2680. I'm seeing the same issue on yarn 1.2.1 (Mac 10.13; Node v8.6.0).  `--ignore-optional` appears to have no effect:

[code]

However, `dtrace-provider` is an optional dependency of `bunyan`: https://github.com/trentm/node-bunyan/blob/master/package.json#L26.

[2017-10-16 05:16] davidjb commented on #2680
Like @timrs2998, I'm seeing the same issue on yarn 1.2.1 (Mac, 10.13).  Comments added to #4665.

[2017-10-16 06:12] davidjb commented on #1915
@xdissent Thanks for your thorough breakdown of the problem.  In order to get the errors resolved, I had to ensure that `dtrace-provider@0.8.5` had `node-gyp` available before being installed as a (optional) dependency by running:

[code]

`dtrace-provider` then successfully builds its native code, meaning the modules are actually available which ensures the `require()` call doesn't fail, and so o

[2017-10-16 07:10] e-cloud opened #4718 "strange latency with yarn install"
**Do you want to request a *feature* or report a *bug*?**

a bug

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/5255354/31599214-fded6684-b283-11e7-9256-e7a397560b3a.png)

**If the current behavior is a bug, please provide the steps to reproduce.**
no clear step to reproduce. It occur only after upgrading to v1.2.1. It might related to my network condition.

[2017-10-16 09:23] pschmoek commented on #792
@lirantal no it does not.

A scopes registry is different to the 'global' registry. If you were to publish `@myscope/test` to your sinopia `--registry` would be insufficient since it only affects the 'global' registry.

The funny thing though, configuring a scopes registry via npm config file works fine.

Inside .npmrc
[code]

Having multiple registry instances to support, makes the .npmrc solutio

[2017-10-16 09:48] edmorley commented on #4589
Hi!

Using yarn 1.2.1, node 8.6.0, MSYS2 under Windows x64, I cannot reproduce (I get two react releated peer dependency warnings instead, but they seem legit).

@alansouzati, could you confirm this is fixed in latest yarn? :-)

For reference, I used the following STR:
1. `git clone https://github.com/babel/babel-loader`
2. `cd babel-loader`
3. `yarn install`

[2017-10-16 09:52] edmorley commented on #4595
The issue as reported in the OP looks fixed to me in latest yarn (1.2.1), so this can be closed.

There are likely multiple causes, could you file a new issue with full STR? :-)
(See also #4675 which is peer dependency warnings from transitive dependencies)

[2017-10-16 09:56] edmorley commented on #4675
This also reproduces with yarn 1.2.1.

[2017-10-16 09:56] BYK commented on #4718
That's quite odd. Looks like when there is a network issue, Yarn keeps trying.

[2017-10-16 09:57] BYK commented on #4718
Is it possible for you to run `yarn --verbose` and share the output?

[2017-10-16 09:59] BYK commented on #4714
Duplicate of https://github.com/yarnpkg/website/issues/563

[2017-10-16 09:59] #4714 closed

[2017-10-16 10:01] BYK commented on #4712
Sorry this is not a help forum and this issue doesn't even seem to be related to Yarn except for the fact you are using `yarn run` to trigger the failing script.

[2017-10-16 10:01] #4712 closed

[2017-10-16 10:03] BYK commented on #4711
Moved to https://github.com/yarnpkg/website/issues/681

[2017-10-16 10:03] #4711 closed

[2017-10-16 10:07] BYK commented on #3195
Closing due to inactivity.

[2017-10-16 10:07] #3195 closed

[2017-10-16 10:09] BYK commented on #2774
The code around this functionality is quite a lot cleaner now so if anyone wants to give a shot at submitting a PR, *now* is a great time :)

[2017-10-16 10:10] BYK commented on #4710
This seems related or duplicate of #2671. What do you think?

[2017-10-16 10:11] BYK commented on #4705
Please provide the Yarn version you are having issues with.

[2017-10-16 10:12] BYK commented on #4704
@arcanis @Daniel15 any ideas?

[2017-10-16 10:13] BYK commented on #4699
Looks like something is trying to parse Yarn's source. We need more details than this to investigate the issue.

[2017-10-16 10:24] #4695 closed

[2017-10-16 10:40] BYK commented on #4707
@arcanis I remember us having an issue about improving deduplication/hoister. Do you think this falls into that?

[2017-10-16 10:52] arcanis commented on #4686
Will look into this today 👍

[2017-10-16 10:55] httpete-ire opened #4719 "r"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**

[2017-10-16 10:55] #4719 closed

[2017-10-16 10:56] httpete-ire commented on #4719
oops... didnt mean to open that

[2017-10-16 11:21] hexa00 commented on #4695
Thanks!

[2017-10-16 11:53] BYK commented on #4707
Found it #3778

[2017-10-16 11:53] #4393 closed

[2017-10-16 11:53] #4480 closed

[2017-10-16 11:54] BYK commented on #4589
I think we've fixed this with the 1.2.0 line. Thanks a lot @edmorley for checking :)

[2017-10-16 11:54] #4589 closed

[2017-10-16 11:55] karak commented on #4705
@BYK yarn 1.2.1 reproduced this.

[2017-10-16 11:59] BYK commented on #4535
This package is listed as a dependency of `eslint-config-bliss` and is correctly placed under it. Why do you expect it to be hoisted at all times when it is not listed as a peer dependency?

[2017-10-16 12:01] BYK commented on #4595
Yeah, I've also verified that I cannot repro this on latest master (post 1.2.1) so closing.

[2017-10-16 12:01] #4595 closed

[2017-10-16 12:08] nwestbury commented on #4710
@BYK Thanks for your response, it may be somewhat related. Unlike that issue though, I am getting the git dependencies compressed as a tar file, but it just has the hash number as a filename instead of something with the .tgz. I know this because can rename these files to something like 'mapbox-gl-shaders-1.0.0.tgz' and change the yarn.lock version number to get these to work without making a requ

[2017-10-16 12:22] lydell commented on #4535
I don’t, that was just my attempt to reduce the problem :) As long as the “Real-world“ example above (with ESLint) works I’m happy.

[2017-10-16 12:35] lydell commented on #4535
Ok, I found the problem. Seems not to be an issue with yarn at all. Sorry for wasting your time!

What happens is this:

- eslint-config-bliss depends on several eslint plugins.
- yarn hoists all those eslint plugins
- until you install flow-bin: Then yarn has to move eslint-plugin-flowtype-errors into eslint-config-bliss/node_modules/ because of conflicting flow-bin versions.
- then ESLint can’t

[2017-10-16 12:35] #4535 closed

[2017-10-16 12:38] BYK commented on #4674
I think this was an issue with `react-faux-dom` and was resolved with https://github.com/Olical/react-faux-dom/pull/114/files

[2017-10-16 12:40] BYK commented on #4674
Yeah, I've just verified that this is not an issue with `react-faux-dom@^4.0.4`

[2017-10-16 12:40] #4674 closed

[2017-10-16 12:45] graingert commented on #4674
@BYK sure, but yarn should not have resolved the tree as it did.

[2017-10-16 12:46] graingert commented on #4674
enzyme-adapter-utils should never have got react 15. It should have gone under react-faux-dom

[2017-10-16 13:13] leikind commented on #4595
if it is fixes, what am I doing wrong?

[code]

file-loader **is** installed

[2017-10-16 13:59] chrisdothtml commented on #3821
@tony-kerz I was getting this warning when I had a `package.json` sitting in my `Projects` root dir (e.g. `Projects/my-package`). I must have accidentally run `yarn` in that directory one time, but deleting that file made the warnings go away

[2017-10-16 14:27] BYK commented on #3936
We have released another set of peer dependency fixes with Yarn 1.2.1 and I cannot reproduce this right now on latest master. Can you confirm that 1.2.1 solves the issues or provide us with sample reproduction repo?

[2017-10-16 14:42] BYK commented on #4675
This doesn't seem like a bug to me. `neutrino-preset-airbnb-base` does not list anything related to `eslint` in its dependencies and I get the following warnings when I try:
[code]

This plugin and the config are direct dependencies of `neutrino-preset-airbnb-base` so there should be an ESLint dependency listed compatible with these ranges in the same tree. That means either at the project root or

[2017-10-16 14:42] #4675 closed

[2017-10-16 14:59] edmorley commented on #4675
But `neutrino-preset-airbnb-base` lists `neutrino-middleware-eslint` as a dependency, which does depend on `eslint`. I know this relies on hoisting to work, but this is the intended use-case - these are handy wrappers around common configuration, where the user isn't meant to have to install additional dependencies at the top level, nor do we want `neutrino-preset-airbnb-base` to use a different e

[2017-10-16 15:17] tony-kerz commented on #3821
@chrisdothtml that was totally it, thx man!

[2017-10-16 16:00] alvincrespo commented on #1882
Yeah running into the same issue as @mysterycommand - your recommendation is what I've been using for a while now.

[2017-10-16 16:12] #4670 closed

[2017-10-16 18:29] jwalton opened #4721 "yarn install installs wrong version"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Grab package.json from [here](https://gist.github.com/jwalton/ea74328e342e56b53e161823fd6aa973)

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

See above.

**What is the expected behavior?**

Expecting coffee-script 1.7.1, get 2.0.0-beta8.

**Please mention your

[2017-10-16 19:53] 1jerry commented on #4424
Still | again happening.  Node 7.9 | 8.7, Windows 10, yarn 1.2.1.
Every yarn command (except yarn -v) changes the screen to white letters.

[2017-10-16 21:48] SEAPUNK opened #4722 "yarn misuses cache on git dependencies"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**

[2017-10-16 21:48] SEAPUNK commented on #4722
ack hold on

[2017-10-16 21:58] SEAPUNK commented on #4722
i'm lazy so i created what i think the tl;dr of the repro steps are, if they don't work, lmk and i'll write a 5-page MLA style essay on what i did exactly for it to not work

[2017-10-17 00:04] Jack-Works opened #4723 "Yarn with private git package, replace credential problem"
Yarn: ^1.0 (on Windows)
Git is using Windows credentials manager.
**What is the current behavior?**
If there is a private package in dependencies in form of "something": "http://Peter:pswd@domain.com/package"
Every time I update this package like my credentials of domain.com will be replaced by Peter(which is not my account)

**If the current behavior is a bug, please provide the steps to reproduc

[2017-10-17 02:16] e-cloud commented on #4718
@BYK thanks for timely response. The fact is when I switch off my vpn, yarn exits itself quickly.

I can't reproduce it for now. Sorry.

Looks like yarn's network handling is separated from install logic? Otherwise even network is slow, it should  terminate the network request, or wait util network request succeed then continue installation.

[2017-10-17 03:18] akshetpandey opened #4725 "Allow subdirectories within git repos in yarn install"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Unable to install packages that are inside subdirectories in git repos. This is a very common case for monorepos and just repositories that can't have the node package in the root repo.

**If the current behavior is a bug, please provide the steps to reproduce.**
Not a but

**What is the expected b

[2017-10-17 03:24] akshetpandey commented on #4725
There are a couple of good ideas for syntax to use to specify subdirectories in the linked issue (npm/npm#2974)

Use pip's way of using a query parameter
`git+https://git.repo/some_repo.git?subdirectory=subdir_path#branch`
or
`git+https://git.repo/some_repo.git#branch?path=subdir_path`
Although I would assume most url parsers won't parse this one.

Use `::` as it is not a valid token for a branch

[2017-10-17 04:37] olingern commented on #4496
@sreeramjayan Awesome. I'm traveling around Japan right now, and didn't get to this before leaving. Thanks for picking it up!

Looks like @BYK has a couple of things that need addressing in the PR. Cheers

[2017-10-17 10:26] arcanis commented on #792
I'll close this issue, as the original feature is now implemented - can you open a separate issue for the scope thing? Thanks! 😄

[2017-10-17 10:26] #792 closed

[2017-10-17 10:28] arcanis commented on #2234
Yarn 0.17.10 is a VERY old release, please try on the latest one and reopen this issue if it's still an issue.

[2017-10-17 10:28] #2234 closed

[2017-10-17 10:28] arcanis commented on #2442
Going to close this issue, let me know if it needs to be reopened

[2017-10-17 10:28] #2442 closed

[2017-10-17 10:30] arcanis commented on #2466
Original repro steps doesn't reproduce the issue anymore, so I'm going to close this. Feel free to open a new issue if you still experience it!

[2017-10-17 10:30] #2466 closed

[2017-10-17 10:49] #2276 closed

[2017-10-17 10:49] #4281 closed

[2017-10-17 12:17] lucbelliveau commented on #4640
@petemahoney It definitely sounds like the same issue...

[2017-10-17 12:23] valorize commented on #2280
I vote for reopening this issue.

[2017-10-17 12:52] xomaczar commented on #2280
Yes same here, this can cause an incorrect release being bundled in our production code...

[2017-10-17 13:04] ThomasVuillaume opened #4727 "NO_PUBKEY error on Linux Ubuntu, when apt-get install yarn"
Hello everyone !

I'm trying to install yarn up to the latest version on my Ubuntu server ( Ubuntu 14.04.5 LTS (GNU/Linux 4.4.0-31-generic x86_64)), but I'm stuck on 1.0.1 because when I hit the command line with apt-get install yarn, I'm getting this error (in French, sorry):

But basically, it says that PGP keys are not OK because there are no public key available to check this "https://dl.yarnp

[2017-10-17 13:29] TimvdLippe opened #4728 "Global upgrade-interactive leaves behind package.json and yarn.lock"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn global upgrade-interactive` creates a `package.json` and `yarn.lock` in the folder that you invoke the command
**If the current behavior is a bug, please provide the steps to reproduce.**
* Have some globally installed outdated packages
* Go to a folder
* Invoke `yarn global upgrade-interactive`

[2017-10-17 13:53] BYK commented on #4102
@bertjwregeer any news?

[2017-10-17 13:54] BYK commented on #2457
Do we still need this or can we close it since `yarn config set -- --mutex network` works?

[2017-10-17 13:55] BYK commented on #683
I feel like we can close this. Objections? @MartinHaeusler @neophob or anyone else?

[2017-10-17 14:00] arcanis commented on #2677
This seems to have been fixed, please open a new issue if you're still experiencing this.

[2017-10-17 14:00] #2677 closed

[2017-10-17 14:00] #3145 closed

[2017-10-17 14:03] #3639 closed

[2017-10-17 14:22] jgreen210 commented on #683
Being able to corrupt the cache if run yarn concurrently with itself using its default options is a bug. Using a sensible default for --mutex (i.e. a per-cache-folder path) or reimplementing cache so that it doesn't need a mutex would solve this (see my above comments for how this might be possible).

[2017-10-17 14:32] marc-guenther commented on #683
Close this? Has it been fixed in a different ticket? Cause I haven't seen anything here. What's the fix?

[2017-10-17 16:02] theGrue opened #4729 "Can't install package over git+ssh with non-standard port when using plink on Windows"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
A `plink: unknown option "-p"` error is shown.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Attempt to install a package over git+ssh, specifying a port number, on Windows with Git configured to use plink.

When researching other git+ssh issues, I found this com

[2017-10-17 16:28] arcanis commented on #683
Correct, and we will happily review and merge any PR that would help with that.

Using the `--mutex` flag solves the issue reported in the OP (running two Yarn instances concurrently will not corrupt the cache). At this point what you're asking seem to be an improvement over this, which deserves its own issue (but as you might have guessed by my previous statement, we would very much prefer a PR o

[2017-10-17 16:28] #683 closed

[2017-10-17 16:30] mblackritter commented on #2090
Hmmm, any news on that? I was just surprised when adding a dependency to a local modules via _"<package-name>": "file:../<path>"_ and found ~300 MB in the imported ~10kb module.

[2017-10-17 16:44] bertjwregeer commented on #4102
I ended up using the mutex flag, which works perfectly! Trying the latest nightly in our CI environment introduced too much potential for failures related to non-released tools.

[2017-10-17 16:46] mnpenner commented on #2466
Just tested this on Yarn 1.0.1. It will ask you to pick a version as before:

[code]

But will now add the chosen version to your package.json:

[code]

Note that `yarn add is-array@~100` will yield the same result, i.e., the operator is ignored and it will always use `^`.

[2017-10-17 16:55] dbechrd commented on #1882
The recommend solution in [this StackOverflow answer](https://stackoverflow.com/a/44535538) fixed it well enough for my script to proceed, but I'm not sure what side effects it has. It certainly doesn't enable a `brew switch`.

`npm install --global yarn@[version]`

[2017-10-17 17:34] 4cm4k1 commented on #4728
I duplicate this; also, the global binaries all end up being unlinked to my set prefix (`/usr/local`) and therefore not in my `$PATH`. The packages listed in the `package.json` are only the ones that were upgraded.

* Node: 8.7.0
* Yarn: 1.2.1
* OS: macOS 10.13.1 Beta 2

Temporary workaround: run `yarn global add` to get everything back in `$PATH` and `rm -rf node_modules package.json yarn.lock` i

[2017-10-17 17:44] athaax commented on #4244
Has this fix been released yet?

[2017-10-17 18:40] delhibabu86 commented on #4582
Any resolution ?

[2017-10-17 19:51] edmorley commented on #4706
The log output for the `yarn add lodash` step when using `--verbose` includes many lines of form:
[code]

Looking at the Git log shows #4630 made some changes to the extraneous file removal code:
https://github.com/yarnpkg/yarn/pull/4630/files#diff-306a2caea89d886b11134fb770d1ebf6

@arcanis I don't suppose you might know what's happening in this case? :-)
(Also CC @jgoz)

[2017-10-17 20:06] edmorley commented on #4706
I wonder if this is related to:

(From #4513)

In this case, the workspace package has zero dependencies, so if it was overwriting the root `node_modules` I guess that would explain why the `.bin` was seen as extraneous.

There's also #4359 about issues with binary linking.

[2017-10-17 20:18] jgoz commented on #4706
I wonder if the root cause is that the bin links are being incorrectly determined _after_ extraneous files are being removed (i.e., starting here: https://github.com/arcanis/yarn/blob/8ba49660fd96c4155af29e784a4891e2c263ce03/src/package-linker.js#L393).

Removing the bin links shouldn't be a problem as long as they are re-created properly, which isn't happening.

[2017-10-17 20:48] bestander commented on #2457
@BYK is right, this config can be done via https://yarnpkg.com/en/docs/yarnrc#toc-cli-arguments

[2017-10-17 20:48] #2457 closed

[2017-10-17 20:56] bestander commented on #4706
@jgoz you are on the right path.
I think this code has an error when determining the right set of top level binaries.
A PR is welcome

[2017-10-17 21:07] bestander commented on #816
@nikshepsvn go ahead and give it a try.
Have a look how npm CLI does the sha validation, this is where it is done in Yarn https://github.com/yarnpkg/yarn/blob/master/src/fetchers/tarball-fetcher.js#L83

[2017-10-17 21:27] lirantal commented on #792
@pschmoek open the ticket and I will take a look later, maybe it's a small fix in the `publish.js` command.

[2017-10-18 01:25] xomaczar commented on #2280
cc @bestander

[2017-10-18 01:39] bestander commented on #2280
@xomaczar, could you open a new issue with a repro step please?

[2017-10-18 04:06] Daniel15 commented on #4727
Did you add the key?
[code]

[2017-10-18 04:06] Daniel15 commented on #4403
Currently working on acquiring a new code signing cert from DigiCert. They don't require USB tokens or smart cards yet, so we might still be good.

[2017-10-18 04:51] AndersDJohnson commented on #1684
I'm having same issue, where `node_modules` in currently directory is emptied when running `yarn install --production --modules-folder=...`.

[2017-10-18 05:02] tomasAlabes opened #4731 ""yarn upgrade" of tagged dependency fails with "expected manifest""
**Do you want to request a *feature* or report a *bug*?**

Bug
**What is the current behavior?**
An error running `yarn upgrade myDep` where `myDep` needs `"next"` version.
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

With a `package.json` with:
[code]
Running `yarn upgrade myDep` generates this error.

[code]

**What is the expected behavior?**
Not throw a

[2017-10-18 07:23] ThomasVuillaume commented on #4727
Woops, sorry I thought I did, but must have been on my other VM ...

Thanks for the answer !

Closed

[2017-10-18 07:23] #4727 closed

[2017-10-18 08:06] pschmoek opened #4732 "yarn publish should support --registry for scoped packages"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
[Issue 792](https://github.com/yarnpkg/yarn/issues/792) implemented --registry option. It allows to override the global registry. So `yarn publish --registry https://my-custom-registry.com/.../` publishes a package to https://my-custom-registry.com/.../.

What's missing is a way to override a scope

[2017-10-18 08:30] TauPan commented on #4546
I'd like to reopen because it doesn't work  - See https://github.com/yarnpkg/yarn/pull/4614#issuecomment-336079861

[2017-10-18 08:34] simonkberg commented on #4703
Note that `yarn upgrade` also upgrades transitive dependencies, so I'm pretty sure it has to traverse the entire dependency tree and upgrade each dependency individually. If you want to limit the scope to one or more packages you can pass them as arguments to the command `yarn upgrade foo bar`.

[2017-10-18 08:44] alessiodionisi opened #4733 "rc-hammerjs-0.6.5.tgz not found"
I'm trying to install rc-hammerjs version 0.6.5, tgz archive is not found.

[code]

[code]

[2017-10-18 08:47] askielboe opened #4734 "Install from a branch with yarn.lock present installs old version"
**This is bug report and a follow-up to issue #2280.**

### Problem:
When installing from a git branch with a correct `yarn.lock` file present, yarn installs an old version of the package instead of the most recent commit (`HEAD`), as defined in `yarn.lock`.

### Steps to reproduce:

1. **Create a `package.json` file** with the following content:

[code]

2. **Run `yarn install`**: yarn correctly

[2017-10-18 08:51] jamiewinder commented on #4489
Can we establish whose problem this is at least?

The problem as far as I can see is that the latest **@types/react** is versioned '16.x' and the latest **@types/react-dom** has a dependency of `'@types/react': '15^'`. As such, yarn seems to be installing the latest version of **@types/react** and **@types/react-dom**, but because the dependency of the later is '15^', it installs the older **types

[2017-10-18 09:48] ipanasenko opened #4735 "`upgrade-interactive --latest` suggests to downgrade dependency"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
when running `yarn upgrade-interactive --latest` it suggests to install version 1.0.1

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**
I think it shouldn't suggest to downgrade

**Please mention your node.js, yarn and operating sy

[2017-10-18 10:47] rockchalkwushock commented on #4703
@simonkberg

Ah I see. I was not sure if what I was seeing was _normal_ behavior or not. I'd been on vacation for 3 weeks so everything looked new & different to me. Plus I'd upgraded from `0.27.5` to the `latest`. Thank you for the information, learn something new every 10 minutes! 😄

Feel free to close.

[2017-10-18 12:12] LaserUnicorns opened #4736 "Yarn installs child dependency when there already is root dependency with matching version"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Yarn installs child dependency, yet there is root dependency with matching version
[code]
moment-timezone depends on moment@>=2.9.0, there already is moment@2.18.1, but Yarn still installs additional moment package with different version as child of moment-timezone

**If the current behavior is a bug,

[2017-10-18 13:12] askielboe commented on #2280
I've created a new issue with steps to reproduce: #4734

[2017-10-18 13:51] DennisLindblom commented on #2396
I also experienced this issue.

This workaround was successful for me:
`yarn install --cache-folder ./yarn-cache`

See also: [yarn cache](https://yarnpkg.com/en/docs/cli/cache#toc-change-the-cache-path-for-yarn)

[2017-10-18 14:54] edmorley commented on #4675
Perhaps a middle ground would be for yarn to only warn in this case if it wasn't hoisting? Since if hoisting occurs then it's not actually an issue - and for Neutrino (and other ecosystems that use a similar plugin system), the hoisting is actually necessary/expected otherwise nothing would work.

[2017-10-18 16:27] daveisfera opened #4737 "is-obj and is-object merged incorrectly"
**Do you want to request a *feature* or report a *bug*?**
Bug report

**What is the current behavior?**
`is-obj` and `is-object` were merged incorrectly but they should be kept separate.

**If the current behavior is a bug, please provide the steps to reproduce.**
`is-obj` was changed like this in one branch:
[code]

Then `is-object` was added in another branch:
[code]

Then the merge from git res

[2017-10-18 17:30] Daniel15 commented on #4403
I think we're okay here since DigiCert still issue 'regular' certificates and don't require USB tokens yet.

[2017-10-18 17:30] #4403 closed

[2017-10-18 17:30] Daniel15 commented on #4254
Working on acquiring a new cert from DigiCert. Should be done by tomorrow.

[2017-10-18 17:32] Daniel15 commented on #4704
Hmm, from that error message, it looks like it's trying to execute a shell script as JavaScript? Can you try using `yarn.js` instead of `yarn` for the `script` in pm2?

[2017-10-18 17:34] Daniel15 commented on #4733
0.6.5 doesn't seem to exist on npm's end either: https://registry.npmjs.org/rc-hammerjs/-/rc-hammerjs-0.6.5.tgz

0.6.4 and 0.6.6 both exist, so maybe 0.6.5 was unpublished.

This is not a Yarn issue, please follow up with the npm team as this is on their end 😃

[2017-10-18 17:34] #4733 closed

[2017-10-18 17:37] Daniel15 commented on #4702
Have you tried installing Yarn using Homebrew rather than npm? Installing via npm sometimes does strange things.

What do you get if you run `yarn global bin`?

[2017-10-18 17:48] milesj commented on #4702
Are you using workspaces? It's a known issue: https://github.com/yarnpkg/yarn/issues/4706

[2017-10-18 18:15] bestander commented on #4734
Thanks, @askielboe, this is a great bug report.
The core team will look a this eventually but they are very busy at the moment.
Do you think you could spend some time debugging git-resolver.js and see why is it resolving to the wrong revision?

[2017-10-18 18:23] connectdotz opened #4738 "yarn async tests timeout on mac"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
cloned the yarn repository
yarn build
yarn test

tests run painfully slow, followed by timeout errors for some async tests, for example:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

see above

**What is the expected behavior?**

Looks like the master should be

[2017-10-18 18:39] realtebo commented on #3821
I've the need to keep package.json in the root of my react-native app.

How to turn off this warning in this case?

[2017-10-18 18:48] chrisdothtml commented on #3821
@realtebo If you don't intend on publishing it as a package, you can just set `"private": true`. That should disable the warning

[2017-10-18 18:55] mateatslc commented on #3299
I'm still seeing the same warnings on `v1.2.1` Did this ever get released?
https://github.com/yarnpkg/yarn/pull/3337#event-1089400498 says that "2 of 3 checks passed"
No mention in https://github.com/yarnpkg/yarn/releases either.

[2017-10-18 19:13] IAMtheIAM commented on #3202
I wish they fix this soon. Its so bad to have to reinstall every time I add a new dependency since it automatically does `yarn update` when running `yarn add somepackage`

[2017-10-18 20:24] rally25rs commented on #4546
On vacation and don't have computer. Trying to reply from phone email...

I think the env var set too empty string might override the yarnrc. If you remove the env var does it work?

On Oct 18, 2017, 4:30 AM, at 4:30 AM, Friedrich Delgado <notifications@github.com> wrote:

[2017-10-18 20:25] connectdotz commented on #4738
looking at one of the failed test of `__tests__/integration.js: --registry option with non-exiting registry and show an error`: it is trying to match a pretty explicit string that looks like could be platform or node dependent...

I could fix that but was just wondering if these tests suppose to pass on mac or only on specific linux/node combination (looks like the circle test is setup for debian

[2017-10-18 20:53] fcoury commented on #1214
This is happening again with yarn v1.2.1:

[code]

Should I create a new issue?

[2017-10-18 21:44] sreeramjayan commented on #3733
@bestander
I was looking into this issue and wanted to know if my thought regarding the fix is right. Would it involve making sure that we don't only take the first suitable folder while deleting the cache but also every cache folder that yarn has write permissions to? Right now it only deletes the first suitable folder that it comes across in https://github.com/yarnpkg/yarn/blob/95a3aa9538ea6b7a6

[2017-10-18 21:46] rattrayalex-stripe commented on #4695
Is there a workaround available in the meantime? eg; a safe value for `export npm_config_file=??`?

[2017-10-18 23:16] gerrywastaken commented on #648
And then link to it here please, because that's where google sent everybody.

[2017-10-18 23:50] Daniel15 opened #4739 "Remove RC GPG key with no expiration date"
From @KwadroNaut on https://github.com/yarnpkg/website/issues/664

I agree with this. This key is only used for RC releases. To fix this, I'll either create a new subkey with an expiration date, or I'll create a totally separate key for signing RC releases.

[2017-10-19 05:02] HaleTom commented on #1285
I also see the same as @pgnd:

[code]

[2017-10-19 06:58] reinseth commented on #4589
I can still reproduce this error.

Steps to reproduce:
[code]

Gives the following output:
[code]

Node: v8.6.0
Yarn: 1.2.1
OS: Ubuntu 16.04

[2017-10-19 07:44] TauPan commented on #4546
I appreciate this, but there's no urgency. I would just like to try out yarn. ;)

Nope.

`unset https_proxy; export https_proxy` has no effect.

`npm config set https_proxy false` also has no effect (so now both configs have https_proxy false instead of null.

`npm config delete https_proxy` also doesn't help.

All lead to `info There appears to be trouble with your network connection. Retrying...

[2017-10-19 08:20] fdionisi commented on #4704
When I try to use `yarn.js` for the pm2's script, nothing is happening: it doesn't boot any processes and no errors are shown.

[2017-10-19 08:20] krugar commented on #4702
`yarn global bin` yields `/home/<username>/.yarn/bin`
`npm` version is 5.5.1

i'm assuming the Homebrew question was directed at ifiokjr, as i'm running linux. no workspaces, no other type of monorepo. i do have, however, some local dependencies wired up via `yarn link`.

[2017-10-19 08:36] HaleTom opened #4740 "Allow shell variables in `.yarnrc`"
### **Feature** (supported by `npm`)

**Current behavior**

`npm` allows in the `.npmrc`:

[code]

However, when I type in my shell:
[code]

I see this in my `~/.yarnrc`:
[code]

**What is the expected behavior?**
.yarnrc contains:
[code]

**Please mention your node.js, yarn and operating system version.**
[code]

[2017-10-19 08:38] HaleTom commented on #4740
Will likely be required in conjunction with #2334.

[2017-10-19 09:14] askielboe commented on #4734
I'll take a look if I have time.

Meanwhile I've updated the bug report to reflect the fact that you have to do an install between git commits for the bug to arise. I believe it's due to the fact that yarn then keeps references to several commits in its cache, resulting in inconsistent installations.

I've also included a new script to reproduce the bug in this way.

[2017-10-19 09:42] edmorley commented on #4589
@reinseth, the error is correct in that example - those dependencies are missing (that example doesn't install them, unlike the STR in the original post). babel-loader 7.1.2 has a `peerDependencies` that includes babel-core and webpack, but you're not installing them:
https://github.com/babel/babel-loader/blob/v7.1.2/package.json#L17-L20

See the installation instructions here:
https://github.com/

[2017-10-19 10:43] tranvansang opened #4741 "Cannot add local dependency which contains nested local dependency"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
Can not add local dependency that contains a nested dependency

**If the current behavior is a bug, please provide the steps to reproduce.**

See this repository: https://github.com/tranvansang/yarn-test

It is very very simple

It is not possible to add dependency `a` by `yarn add ./vendor/a`

Here i

[2017-10-19 10:43] HaleTom commented on #2049
Ask yarn itself to tell you (as config `prefix` may set a different location):

[code]

[2017-10-19 10:53] reinseth commented on #4589
Ah, thanks, I missed that. But there is still something interesting going on:
If I install `webpack babel-core babel-loader` everything is fine. If I also install `babel-cli`, however, I get the same error:

[code]

[2017-10-19 10:54] NeoLegends commented on #2394
As seen in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/18738, the absence of this feature creates issues when upgrading typings. This forces us to execute `rm yarn.lock && yarn` every time we want to upgrade our type definitions.

[2017-10-19 11:00] askielboe commented on #4734
I've done a bit of debugging. The yarn codebase is a bit opaque to me unfortunately, and I won't be able to spend more time this week, but here is what I've managed to find so far.

It seems that the issue appears when the package is fetched with a manifest where `uid` is equal to the package version instead of the commit hash. This happens when `fresh: false`, and makes `BaseFetcher` create a fol

[2017-10-19 11:29] omouse commented on #2049
@HaleTom awesome thanks!

is that documented somewhere on the website or docs? seems non-obvious and too useful not to call out somewhere else

[2017-10-19 12:02] HaleTom commented on #2049
@omouse
I documented it at [Where does yarn keep global packages?](https://stackoverflow.com/q/46829339/5353461), but you could help out by having it officially documented (it is missing from [here](https://yarnpkg.com/lang/en/docs/cli/global/)) either directly or by raising an issue.

[2017-10-19 12:48] MatrixOfDeath commented on #1285
Same here on my production server, where as on my MacOS no issue with npm or yarn. I'm using latest nodeJs tried with 6 and 8, and i'm using latest Yarn 1.2.1.

or this:
`npm ERR! code EBADPLATFORM
npm ERR! notsup Unsupported platform for fsevents@1.1.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})
npm ERR! notsup Valid OS:    darwin
npm ERR! notsup Valid Arch:  any
n

[2017-10-19 13:24] edmorley commented on #4359
To clarify the STR slightly, it looks like the bug only occurs if `yarn install` **was not** run before in the repo root.

ie:
1. `git clone https://github.com/ohana54/yarn-bug`
2. `cd yarn-bug/package-b/`
3. `yarn install`
4. Inspect `yarn-bug/package-b/node_modules/.bin/webpack`

**Expected:**
Symlink to (or on Windows a wrapper pointing at) `[root-folder]/node_modules/webpack/bin/webpack.js`

*

[2017-10-19 13:27] connectdotz commented on #3882
we bump into this issue with react-native so working on this PR. Question regarding the preference of where to put the nohoist configuration. A few options to consider:
1. put it in projects.json, like the workspaces, create a top-level nohoist:[] property
1. put it in projects.json, but create a new namespace, such as yarn or workspaces, and put all workspaces related info there, including nohois

[2017-10-19 15:26] jquense opened #4743 "Workspaces complain about missing hoisted peer dependencies"
**What is the current behavior?**

peer deps that are hoisted to the repo root are seen as missing by each workspace

**If the current behavior is a bug, please provide the steps to reproduce.**

Add two workspaces with a Peer dependency and dev dependency on `react` (or anything in npm). Running `yarn` results in "[Workspaces package] has unmet peer dependency" warning

You can try it out with: h

[2017-10-19 15:59] Wohlie commented on #4736
We have the same problem with jquery:

[code]

The `jquery` dependency in `bootstrap-datepicker` is defined as followed:
[code]

This results in double inclusion of `jquery` in our `browserify` process. :(

[2017-10-19 16:12] alexpriceonline commented on #2743
Deleting the `tmp` dir fixes the issue too

[code]

[2017-10-19 17:13] BYK commented on #4743
There was a fix in 1.2.1 which may affect the behavior around this: https://github.com/yarnpkg/yarn/pull/4687

Would you like to give it a try?

[2017-10-19 17:16] leosco commented on #4336
It happens to me during my `husky` git hook scripts. Doesn't seem to actually affect anything though...

Basically all I'm doing is defining a "lint" script that eslints my codebase and then calling `yarn lint` in my precommit.

[code]

When I call `yarn start` or something similar that doesn't call `yarn` again, it doesn't have any error message. Maybe this error is only being thrown when you cal

[2017-10-19 17:20] jquense commented on #4743
Aww I was hoping that was it, but i'm still seeing the warnings on 1.2.1 (just checked)

[2017-10-19 17:28] am opened #4744 "Running version with --no-git-tag-version skips script hook"
**What is the current behavior?**
Running `yarn version  --no-git-tag-version` does not run the script hook `version`.

**Steps to reproduce**

1. Init the project:

[code]

2. Change `package.json` to include a script version hook:

[code]
3. Now bump the version:

[code]

**What is the expected behavior?**
Run `yarn version  --no-git-tag-version` should run the script hook `version`.

The output

[2017-10-19 17:30] Daniel15 opened #4745 "Start pruning older nightly releases"
The server with the nightly releases (https://yarnpkg.com/en/docs/nightly) now has over a year's worth of Yarn builds, taking up around 9 GB of space.
[code]

Space isn't an issue (this server has 80 GB total, and 23 GB free at the moment) but we should start pruning older releases so that it doesn't keep growing indefinitely. I don't think anyone particularly cares about nightly releases from a y

[2017-10-19 20:03] andrewmcwatters commented on #3882
At AAA, we have some packages that still depend on Grunt and `grunt.loadNpmTasks` looks at only the relative `node_modules` directory. Additionally, `grunt-contrib-jasmine` has an `options.vendor` parameter that uses relative directories.

Having `nohoist` available in `package.json/workspaces/nohoist` would help us out a lot.

**package.json/workspaces:array**
[code]

**package.json/workspaces:ob

[2017-10-19 21:20] connectdotz commented on #3882
@andrewmcwatters , I like it

[2017-10-19 22:10] bestander commented on #2712
thanks for bumping, yes it was done

[2017-10-19 22:10] #2712 closed

[2017-10-19 22:17] alexreg opened #4746 "Add unpublish command"
Could we get an `unpublish` command, like what `npm` has?

[2017-10-19 22:20] pyramation commented on #1625
If it helps find this bug, I ran into this when using a git submodule and trying to run `yarn install` inside of the submodule.

I was able to copy the `package.json` into a clean folder and it ran just fine. However, any time, even after deleting yarn cache (manually and with `yarn cache clean`), it always failed to install properly inside of the submodule.

Currently my workaround is ok for me,

[2017-10-19 22:42] KwadroNaut commented on #4739
You could also revoke it, or edit it by adding an expiry. Only creating a new subkey wouldn't make the original one invalid.

[2017-10-19 23:54] #4359 closed

[2017-10-19 23:54] #4706 closed

[2017-10-20 02:48] TonyYule commented on #786
`npm install node-sass --sass-binary-site=https://npm.taobao.org/mirrors/node-sass/`

[2017-10-20 03:05] benma commented on #4542
👍

I thought the `--prod` flag would do that, but it doesn't seem to have any impact.

[2017-10-20 04:41] griest024 commented on #4336
`yarn` only throws this error for me when its run as an npm script.

[2017-10-20 05:52] Daniel15 commented on #4739
Oh I didn't realise I could simply edit it and add an expiry. If so, that's easy :)

Of course, by "create a new subkey" I also meant to say "and revoke the old one". I don't think many people would be using the RC repository.

[2017-10-20 07:00] ohana54 commented on #4359
Thanks everyone for handling this, I really appreciate it. Can't wait to upgrade the version and try again!

[2017-10-20 08:17] DanBuild opened #4747 "yarn-e2e/label=docker,os=ubuntu-16.04 #352 failed"
Build 'yarn-e2e/label=docker,os=ubuntu-16.04' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [nison.mael] 519b818b0ad0ec7f863feb8f7ec465b1d5eb3fc0 - docs(linker): Use breadcrumbs in peer dependency warnings (#4720)

- [ben] 58ae45ee73426f04ec58dc3d3f483e278e43ffa9 - fix(linker): use lockfileFolder when creating bin links (#4730)

[View full output](http

[2017-10-20 08:17] DanBuild opened #4748 "yarn-e2e/label=docker,os=ubuntu-12.04 #352 failed"
Build 'yarn-e2e/label=docker,os=ubuntu-12.04' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [nison.mael] 519b818b0ad0ec7f863feb8f7ec465b1d5eb3fc0 - docs(linker): Use breadcrumbs in peer dependency warnings (#4720)

- [ben] 58ae45ee73426f04ec58dc3d3f483e278e43ffa9 - fix(linker): use lockfileFolder when creating bin links (#4730)

[View full output](http

[2017-10-20 08:18] DanBuild opened #4749 "yarn-e2e/label=docker,os=ubuntu-14.04 #352 failed"
Build 'yarn-e2e/label=docker,os=ubuntu-14.04' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [nison.mael] 519b818b0ad0ec7f863feb8f7ec465b1d5eb3fc0 - docs(linker): Use breadcrumbs in peer dependency warnings (#4720)

- [ben] 58ae45ee73426f04ec58dc3d3f483e278e43ffa9 - fix(linker): use lockfileFolder when creating bin links (#4730)

[View full output](http

[2017-10-20 11:50] phun-ky commented on #4336
I have the same issue, but no "file" folders as described above ( directory named package.json, .yarnrc or .npmrc)

[2017-10-20 12:45] ruslan-polutsygan commented on #788
`yarn upgrade --silent` does output. Or this command was not changed?
yarn version - 1.2.1

[2017-10-20 15:28] vigintas commented on #3724
Having the same problem. Came up with this to fix the deployment script while it gets fixed:
[code]

[2017-10-20 16:04] vernak2539 opened #4751 "yarn interactive-upgrade doesn't list dependencies that can be updated correctly (cannot update major versions)"
**bug**

**What is the current behavior?**
After upgrading to `1.2.1` from `0.27.5` the `yarn interactive-upgrade` command isn't working correctly. It doesn't seem to try to upgrade the `devDepenencies`.

The extra packages in the run with version `0.27.5` are in the devDependencies in our package.json

I've put the output below from both versions running on the same codebase.

[code]

[2017-10-20 16:08] edmorley commented on #4735
The most recent stable release of `react-refetch` is 1.0.1, with the `1.0.3-0` release being on the `beta` tag:
[code]

Whilst it seems logical for `upgrade-interactive --latest` to not suggest upgrading to the beta release (if one is on an older release), I agree that perhaps it should not **downgrade** if already on the higher version beta.

[2017-10-20 16:15] edmorley commented on #4734
#4722 seems related (CC @SEAPUNK)

[2017-10-20 16:45] edmorley commented on #4721
I can reproduce using those STR with yarn 1.21, node 8.6.0, Windows 10.

**Reduced STR:**
1. Create the following package.json:
[code]
2. `rm -rf yarn.lock node_modules`
3. `yarn install`
4. `./node_modules/.bin/coffee -v`
5. Inspect the symlink (or on Windows, wrapper) target of `./node_modules/.bin/coffee`

**Expected:**
* Step 4 outputs "CoffeeScript version 1.7.1"
* At step 5, the .bin link po

[2017-10-20 17:30] SEAPUNK commented on #4734
it might be the exact same issue, but not 100% sure
i'll keep my issue up just in case

[2017-10-20 17:42] simoncpu commented on #1743
I'm trying to use Yarn for a NodeJS project that's run on AWS Lambda. I'm kindda surprised why this feature isn't supported. My use case is that I need to install aws-sdk on my local dev environment, but I don't want it to saved in `package.json` because AWS Lambda already have this installed on their environment. Including aws-sdk means that our final package would be bloated.

[2017-10-20 17:43] andreawyss opened #4752 "[DOC] Installing yarn on docker images"
Add language in the installation instruction to be aware to first remove existing versions of yarn installed. This is a common problem when installing the latest version of yarn with apt-get on a docker image such as the docket hub 'node:6.11.4'.

This 2 command are required before installing yarn with apt-get
#### Remove yarn: symbolic links and binary that where installed as part of the node ima

[2017-10-20 18:04] BYK commented on #4212
We do not have plans for implementing this for now so closing the issue.

@webmobiles I cannot figure out what the issue might be from your comment but it doesn't sound related to this issue so feel free to file a new issue with more details about how to reproduce it.

[2017-10-20 18:04] #4212 closed

[2017-10-20 18:04] BYK commented on #4245
Is this still happening with more recent versions of Yarn?

[2017-10-20 19:42] jimsugg commented on #1503
Or - at least - provide a way to separately install the peer dependencies without touching the package.json file. When using add to install a peer dependency, the entry in the JSON file is modified. If you have set up your semver expression in a way different than what yarn writes by default, it is changed.

I think the idea of adding a --peer switch to install is fine, but I actually like to be a

[2017-10-20 19:51] AndrewFreese commented on #2809
This thread https://github.com/npm/npm/issues/2938 lead me to try "call yarn" and that makes it work that way you'd expect.

[2017-10-20 21:06] rmmeans commented on #2614
Note to others hacking on this - we were only able to get this to work if putting it in your GLOBAL gitconfig. It was still failing for us when the exact same config was put in the local git config.

Here is what we had to do to pull from a private github repo with an access token:
[code]

[2017-10-20 21:54] fazouane-marouane commented on #4489
@jamiewinder as explained in the issue description, that’s mainly a yarn related issue. As far as I’m concerned, if npm can install `@types` packages without hassle I assume yarn should do the same.
It’s not a react types related either, since the issue can be reproduced with other `@types` packages.
So my guess is that yarn should better handle type packages by installing them in a flattened mode

[2017-10-21 00:00] hayubeker19 opened #4753 "Installation Problem: [title]"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**

[2017-10-21 00:45] IgorMinar opened #4754 "the "resolutions" block of package.json is not documented"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
no docs for `resolutions` anywhere in the yarn docs. Specifically I'd expect to see a documentation block as part of the `package.json` document: https://yarnpkg.com/en/docs/package-json

The only info about this feature that I could find is in the PR and RFC:
- https://github.com/yarnpkg/yarn/pull/410

[2017-10-21 07:09] nodesocket commented on #4533
@BYK any ideas on this? Still don't have a solution, thanks.

[2017-10-21 07:20] nodesocket commented on #2291
Thank you @markstos for your suggestion of `yarn global add file:$PWD`, worked perfect.  I had this exact problem and reported at [Install global package that is not published](https://github.com/yarnpkg/yarn/issues/4533).

This is honestly a huge issue, and I can't believe more people don't have this question. WIth **npm** you can simply do `npm install -g .`.

There is no documentation, or none

[2017-10-21 08:00] Daniel15 commented on #4752
Feel free to submit a pull request adding this to the site, if you like :)

[2017-10-21 08:21] aalexgabi commented on #4205
I confirm that the issue is not present in yarn@1.1.0.

[2017-10-21 12:19] nin-jin opened #4755 "Installation Problem: Can not select platform"
**Which operating system are you using:**

Windows 10 , Yandex Browser

**Please describe the steps you took when trying to install Yarn and what went wrong:**

I was click on "Windows" on page https://yarnpkg.com/en/docs/install
Nothing happens.

In console:
[code]

[2017-10-21 12:52] tobyroworth commented on #4646
I'm getting the same (or a similar) issue in 1.2.1 still.

`yarn` seems to be ignoring the `--production` flag, it's aliases and `NODE_ENV=production`, and will go ahead and install the devDependencies.

As a workaround, if I delete the `devDependencies` object I get just the main dependencies, as expected with the `--production` flag.

[2017-10-21 18:15] kaylieEB commented on #4754
@IgorMinar thanks for the issue! Would you be open to submitting a pr in the website repo?
The file is here: https://github.com/yarnpkg/website/blob/master/lang/en/docs/package-json.md

[2017-10-21 18:16] kaylieEB commented on #4753
@hayubeker19 feel free to file a new issue, closing this one for now

[2017-10-21 18:16] #4753 closed

[2017-10-22 03:01] saifelse commented on #2931
@bestander : Hmm, I don't think either of the referenced issues match the original feature request. The CLI arguments only works globally, which is often undesirable. Here's an example:

If I have package A with optional deps (A1, A2) and package B with optional deps (B1, B2)... and I actually want to install A along with A1, and A2, as well as B, but WITHOUT B1 and B2, I can run: `yarn add A` and

[2017-10-22 11:52] florianbepunkt commented on #4589
Same here. I also get this error as soon as I also install babel-cli.

[2017-10-22 13:21] Diokuz commented on #696
@vladgolubev in my case it was not possible because our private npm server (not an npm.org) was physically unreachable from docker.

[2017-10-22 13:49] connectdotz commented on #3882
_[discussion]_
bump into the following dependency scenario: if A marks B as nohoist, what should the final graph be like?

[code]

**1. hoist as much as possible:**
[code]
**2. hoist only in direct-descendent tree:**
[code]
**3. nohoist as much as possible:**
[code]

What do you guys think?

[2017-10-22 15:49] connectdotz commented on #3882
@bestander which option is more aligned with the yarn philosophy? @andrewmcwatters, any of the options above will not work for your use case?

[2017-10-22 16:26] gandazgul commented on #3288
@qfox does that mean if by design?

[2017-10-22 16:50] Okoyl commented on #932
Happens here as well.
(yarn 1.2.1)

[2017-10-22 19:35] gandazgul commented on #3288
I found where the issue is, and what the problem is but I'm not sure how to solve it.

@bestander was right is in package-linker.js. On line `380 await fs.unlink(loc);` yarn unlinks the only left possibleExtraneous which is the linked package. Which means the logic to remove it form the list is not working.

Problem:

On line 302: it loops through linkedModules and fills linkTargets with the name

[2017-10-22 20:40] gandazgul commented on #3288
Ok. I resolved it by using fs.realpath instead of readlink which returns the entire path of the symlink. If both are the same then this is a yarn linked module and should not be removed. I tested locally with my repro scenario both installing and upgrading. I'll submit a PR.

[2017-10-22 21:06] tmarshall commented on #2214
I was able to resolve it by just removing `yarn.lock` and re-installing dependencies

[2017-10-22 23:08] IgorMinar commented on #4754
@kaylieEB done

[2017-10-22 23:09] IgorMinar commented on #4754
https://github.com/yarnpkg/website/pull/687

[2017-10-22 23:51] joscha commented on #4388
is there anyone here that would be able to have a look at #4717 and maybe give me a hint on where the fix needs to be?

[2017-10-23 00:54] gandazgul commented on #3288
I can write a test that will break with this issue. I have the issue fixed but would love some help with the unit test.

[2017-10-23 01:17] DanBuild commented on #4747
Build was fixed!

[2017-10-23 01:17] #4747 closed

[2017-10-23 01:17] DanBuild commented on #4748
Build was fixed!

[2017-10-23 01:17] #4748 closed

[2017-10-23 04:33] pdeva opened #4758 "`yarn outdated` output not visible in powershell"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The `latest version` column is invisible in powershell.

Screenshot 1:
![image](https://user-images.githubusercontent.com/3190176/31872386-61360f66-b770-11e7-8eb6-f68a5eca0a6c.png)

Screenshot 2 (with selection):
![image](https://user-images.githubusercontent.com/3190176/31872392-6b8182c0-b770-11e7-8

[2017-10-23 05:17] HaleTom commented on #57
Is there any user-settable config option to use symlinks?

[2017-10-23 07:19] jordwalke commented on #4710
I'm seeing this same issue - inside the offline mirror directory, I have just a few files whose file names are long hashes, not the names of packages. I believe something in my dependency tree also have git hash dependencies. `npm`'s support for `git` hash dependencies is increasing (with git tag ranges) so I suspect this is going to be a big issue.

[2017-10-23 07:48] namgk commented on #1743
yarn link and yarn add cannot live together. yarn add depends on package.json while yarn link just links the local packages over to another location.

Suppose you're developing a package X that depends on Y, you're both the developer of X and Y so you keep X and Y locally and link Y into the directory of X. When you do yarn add in X, it wipes out the link to Y.

How do you get around this?

[2017-10-23 08:18] DanBuild commented on #4749
Build was fixed!

[2017-10-23 08:18] #4749 closed

[2017-10-23 11:05] DannyvanderJagt commented on #3882
We run also into this with `react-native` and I created my own script for now. Started to do some experiments and I think it would be great if the developer could specify the `nohoist` for each `/package/[name]`. This will provide the most flexibility and will provide a solution for a lot of use & edge cases.

Our use case:
- In my `react-native` package it is required to have the module `react-na

[2017-10-23 11:56] sschuberth commented on #3543
While I could reproduce the issue with all yarn versions from 0.24.5 to 0.28.4, it I could *not* reproduce the issue anymore starting with yarn version 1.0.0.

[2017-10-23 11:56] #3543 closed

[2017-10-23 12:01] realtebo commented on #3821
Thanks, @chrisdothtml . I already did that, but nothing changes.

[2017-10-23 13:06] hoodie commented on #4640
@BYK, could you perhaps review @lucbelliveau's PR #4642 ?
thank you

[2017-10-23 13:12] ThisWillDoIt commented on #4758
@pdeva Did you by any chance install the Windows Fall Creators Update (1709 / 16299.19) already?

I am pretty sure nothing changed on one of my projects (not the yarn version, not the node version, nor any package.json file) since last week when it still worked perfectly fine.

[2017-10-23 13:55] connectdotz commented on #3882
@DannyvanderJagt thanks for the feedback, yes the nohoist will be available in *any* package.json, not just the root.

It is pretty clear how to make react-native itself nohoist, the question is more about how we should handle react-native's dependency. Use your scenario as an example, let's assume your react-native-project uses jest and so does the react-native:
1. shallow-nohoist: you might end

[2017-10-23 14:24] connectdotz commented on #3882
the more I think about it, the more I think maybe the deep-nohoist is the safest way to go. It is definitely not space-efficient, but since nohoist is mainly a workaround for packages that are not using the normal package management facility, a trade-off in space-efficiency is probably acceptable.

Ideally, react-native and others should be updated to use the package manager and not walking the fi

[2017-10-23 15:21] morhook commented on #648
Maybe @hookdump , @Spongman or @bennypowers are having the same issue as me? https://github.com/yarnpkg/yarn/issues/4702 ?

[2017-10-23 15:24] rally25rs commented on #4546
OK so Yarn is using this [request](https://github.com/request/request) package to perform its network calls.

It looks like that package itself falls back to `HTTP_PROXY` if it is set in the environment. https://github.com/request/request/blob/master/lib/getProxyFromURI.js#L66

Not sure what the best solution would be here... do you have the env vars defined for a reason? Can you just unset them?

[2017-10-23 15:34] morhook commented on #4702
On my Ubuntu I'm getting similar error installing globally `ember-cli` package:

[code]

For fixing it, I did the following patchy-way-sequence:

[code]

[2017-10-23 16:20] connectdotz commented on #3882
Maybe we could do better...

just thought about something that might make shallow-hoist a better option: By default, every nohoist package is "shallow", if some package is looking to also nohoist a deep dependency, for example, jest under react-native, it could just add "jest" into the react-native-project's package.json:
[code]
in this case, every "jest" package under react-native-project will al

[2017-10-23 16:56] evgenyt1 opened #4760 "yarn add in workspace removes .bin from root node_modules"
yarn 1.2.1
node 8.7.0
windows

`yarn add package` in workspace removes .bin directory from root node_modules
cleanup and `yarn` from root restores this dir

root package.json contains devDependencies with tools required to npm start

[2017-10-23 17:17] pdeva commented on #4758
My version of windows:

[code]

[2017-10-23 17:30] rally25rs commented on #4546
@TauPan could you give this PR ☝️  a try and see if it works for you?

[2017-10-23 18:50] swellingt0n commented on #2117
+1

[2017-10-23 19:39] tomasAlabes commented on #4731
Having

- package.json -> `"myDep": "next"`
- yarn.lock -> `myDep@1.0.0-next.1`

I found that yarn is looking for the manifest of `myDep@next` when the pattern is `1.0.0-next.1` (the version in the `yarn.lock`). Shouldn't yarn have the above pattern?

[2017-10-23 19:52] DannyvanderJagt commented on #3882
@connectdotz Thanks for the explanation! The last one looks solid.

Just quickly tested this for a react-native project by simulating a no hoist for only the `react-native` package and everything looks good.

[2017-10-23 19:52] tomasAlabes commented on #4731
Hi @kaylieEB, there's seems to be many opportunities for improvement in `yarn upgrade`, I've listed some of the issues raised before besides mine. Do you think you can help?
Thanks!

[2017-10-23 20:08] rally25rs commented on #4735
I think this was my fault; I had some code in `getOutdatedPackages` that would ignore filtering out packages that actually needed an upgrade, and just return them all when not upgrading a specific package. I believe that code is no longer needed and can be removed. I'll make a PR...

[2017-10-23 20:12] Sylphony commented on #4758
I don't have this issue but I am on Windows 7.  Chances are it is a Windows 10 Powershell version issue.

![image](https://user-images.githubusercontent.com/1796078/31910838-9a36a6a8-b7f3-11e7-8445-f5e14da89f76.png)

[2017-10-23 20:13] Hizmarck opened #4762 "Cannot find module 'bind-build'"
**What is the current behavior?**
I execute the following command: **yarn install --modules-folder ./public/resources** and get following output :

![error_yarn](https://user-images.githubusercontent.com/4828196/31910832-5b0226cc-b804-11e7-9177-b67ebf5a6d44.png)

But when running ** install --modules-folder ./public/node_modules** no problem, maybe for the name 'node_modules'. Another interesting

[2017-10-23 20:26] whitecolor opened #4764 "yarn --force touches module's files without need (in docker)"
Well this is probably also some docker related issue, but the thing is that it didn't happen on older version of yarn.

Compare results of following steps in container:
[code]

For yarn 1.2.0 (alpine-node:8.7.0):
`docker run --rm -it mhart/alpine-node:8.7.0 sh`
![image](https://user-images.githubusercontent.com/736697/31911343-c6e9c192-b859-11e7-85d2-1a0bc777cd52.png)

and older yarn 0.24.6 (alpin

[2017-10-23 21:37] chaddjohnson commented on #1214
Still outstanding and needs to be fixed.

When I run `yarn add lodash` (for example) it removes any links I had set up for my project, and I have to manually run `yarn link my-package-name` again.

[2017-10-23 22:23] Hizmarck commented on #4762
https://github.com/yarnpkg/yarn/pull/3792

[2017-10-23 22:46] bstro commented on #4321
I get the same error when trying to deploy to Heroku, but not when running `yarn` locally.

[2017-10-23 23:16] #4735 closed

[2017-10-24 00:12] no-stack-dub-sack commented on #2438
Wow - thank goodness for this issue. My project has a command named "clean" to clean up production build files before re-building them, and I accidentally ran `yarn clean` at some point instead of running `yarn run clean` - I immediately realized what I did, but without any warnings or immediately noticeable results, I thought what I had done was fairly innocuous. I also encountered no problems at

[2017-10-24 00:15] bdwain opened #4765 "Unnecessary warnings reported for missing peer dependencies"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
warnings about unmet peer dependencies are being reported on yarn install/upgrade.

**If the current behavior is a bug, please provide the steps to reproduce.**
Install a package that has a dependency on React. Create a peer dependency on React in your root package. Install a package that has

[2017-10-24 00:31] pedro-mass commented on #4702
@morhook That worked! I wonder what's up with zsh

[2017-10-24 01:09] gandazgul commented on #629
I narrowed down the babel-loader issue to this PR. https://github.com/yarnpkg/yarn/pull/4086 reverting the merge into master make yarn behave like 0.27.5. I will investigate further what exactly is the bug. Somehow babel-loader is not being hoisted while other similar deps are.

You can reproduce this issue by adding react-scripts to a project, then run yarn to install. With 0.27.5 all react-scrip

[2017-10-24 01:19] connectdotz commented on #3882
perfect! thx @DannyvanderJagt

[2017-10-24 01:23] Adamfsk commented on #1567
I am experiencing this issue on windows 10 with v1.2.1

[2017-10-24 01:57] strarsis opened #4766 "Version constraint issue (~)"
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

Repository with code:
https://github.com/svg/svgo/blob/645908923bb163e177023ca21fe04a380fade126/package.json

[code]
Tests fail (error messages).

The resaon is that package `css-tree` version `1.0.0-alpha9` has been installed by yarn instead
`1.0.0-alpha25`.

When changing the version

[2017-10-24 04:18] bestander commented on #1214
Looks like the original issue was fixed but there may be other cases when it is still relevant.
For everyone seeing this please open a new issue with the repro script.
It would be hard to reopen this one as it tracks too many things.

[2017-10-24 04:41] bestander commented on #2931
@saifelse, you are right.
We have a few flags in Yarn that indicate some installation mode: --ignore-optional, --production etc.
If you use this flag in add/remove/upgrade command Yarn would execute the command but it will apply the flag to whole node_modules and all dependencies.

This is not intuitive because people assume that `yarn add` with a flag would make this flag stick to the dependency

[2017-10-24 04:44] bestander commented on #3288
@gandazgul, I love it how you debugged the code, thanks a lot for contributing!

[2017-10-24 05:54] bestander commented on #4734
@askielboe, that is a great analysis and a huge help, thanks a lot for digging that deep.
It looks like the problem is in cache folder for git dependencies, maybe the name is using package.json version instead of git hash.

cc @arcanis as he knows more about Yarn/git integration.

More help getting to the bottom of this is always welcome.

[2017-10-24 05:57] bestander commented on #3733
@sreeramjayan, it would make sense to clean legacy cache folders.
Feel free to send a PR.

[2017-10-24 06:00] bestander commented on #662
@qfox, yeah this is a complex problem, publish is not an atomic operation with side effects around multiple systems.
Thanks for sharing your line of thought.

[2017-10-24 06:02] bestander commented on #4615
@edmorley, that makes sense

[2017-10-24 06:03] bestander commented on #4615
Please send a PR with the proposal you think would be the best.
I think we can do it without RFC as the change could be small and not breaking.

[2017-10-24 06:07] bestander commented on #2724
@shiftkey, could you check whether the fix from https://github.com/yarnpkg/yarn/pull/3607 gets executed in your environment?
Also looks like the fix from chalk has some problems and is blocked by some Windows bug https://github.com/chalk/chalk/issues/145.

@mika76 and everyone else can you confirm if the fix works for you?

[2017-10-24 07:04] TauPan commented on #4546
That is clearly wrong behaviour in the request package. I feel that the appropriate course of action would be to file an issue against it.

There were similar bugs in npm, pip and I think ruby gems (and probably the python requests package as well).

I need the proxy settings in the environment so other tools, such as curl or wget, or even lynx/w3m/links work properly.

I can try the PR but last t

[2017-10-24 07:28] Evilweebl commented on #4736
I'm experiencing the exact same issue with Moment. I noticed a similar issue for the root cause here #4686

[2017-10-24 08:01] ViceIce commented on #2724
Have seen this error before i upgraded to Fall Creator's update yesterday. There the unbold is fixed.

I will check this on an other pc without Fall Creator's update.

[2017-10-24 08:37] ViceIce commented on #2724
I've looked at it and it seems that the condition fails, because the `process.env.TERM` is `undefined`

[2017-10-24 09:33] guillaume-d commented on #4542
Listing only dependencies is possible with ENV NODE_ENV=production (since #3788 got fixed).

[2017-10-24 09:42] palaniichukdmytro commented on #4336
@phun-ky I have the same issue

[2017-10-24 09:47] palaniichukdmytro commented on #1567
@Adamfsk I am tried on windows 10 with v.1.2.1 and catch the error, I run it with ConEmu with git bash

[code]
my package.json
[code]

[2017-10-24 12:50] DanielNoga commented on #1383
@dcefram You should import GPG key to avoid signature warning

[2017-10-24 12:55] hoodie commented on #4336
I am launching yarn 1.2.1 through lerna on windows and get the same thing from time to time:
`error Could not open cafile: ENOENT: no such file or directory, open 'C:\build\...\...\...\...\undefined'`

[2017-10-24 13:55] whitecolor opened #4768 "link: is not fixating version in yarn.lock"
Currenlty `link:` dependencies always have `version: 0.0.0` in `yarn.lock`

[code]

So on upgrade, even if local package version changed `yarn.lock` won't be changed. This is not very good for some scenarios that are watching yarn.lock for changes to apply.

So why is version is not fixated in yarn.lock?

[2017-10-24 13:58] morhook commented on #4702
My versions:
[code]
@pedro-mass looks like a weird cache/startup/bootup problem (as after this first run from bash it seem to make the symlinks fine).

Previously I had yarn 1.2.0 and didn't have this problem if that helps as info too!

[2017-10-24 14:03] rally25rs commented on #4336
This error when being run as part of an NPM or Yarn hook/script is a duplicate of #4695 and is fixed by #4700 however that fix is not yet in a released version. @griest024

[2017-10-24 14:05] aaronbdixon commented on #3882
Is there a possible ETA on when we could hope to merge this functionality in?

[2017-10-24 14:36] rally25rs commented on #4766
This issue seems familiar... I think we looked into this a while back...

[code]

installs `alpha25`

[code]

installs `alpha9`

-----

IIRC in the semver specification the part after the `-` is interpreted as alpha, so `alpha9` > `alpha25` in alphabetical order. In fact NPM's own `semver` library confirms this:

[code]

NPM seems to have some kind of magical handling for this that we never quite

[2017-10-24 14:40] gandazgul commented on #3288
@bestander :) thanks.

[2017-10-24 14:47] crobi opened #4769 "Add license text to yarn licenses list"
**Do you want to request a *feature* or report a *bug*?**

A feature

**What is the current behavior?**

It is difficult to write a script that consumes the output of `yarn licenses list` and creates a customized disclaimer (same content as `yarn licenses generate-disclaimer`, but with a custom format)

- `yarn licenses list --json --no-progress` is not documented.
- `yarn licenses list` does not

[2017-10-24 14:51] hoodie commented on #4336
can we expect a 1.2.2? there have only been fix commits since 1.2.1

[2017-10-24 15:22] chaddjohnson opened #4770 "Running yarn link unlinks any modules linked via yarn link."
Yarn version 1.2.1.

**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

Running `yarn add [package-name]` unlinks any linked modules. Here is a screenshot showing this:

<img width="874" alt="screen shot 2017-10-24 at 10 18 15 am" src="https://user-images.githubusercontent.com/676134/31951841-beefaa06-b8a4-11e7-9152-a3ce297b3658.png">

**If the curr

[2017-10-24 15:22] chaddjohnson commented on #1214
Created new issue #4770 as requested.

[2017-10-24 15:29] aimad-majdou opened #4771 "Received malformed response from registry for undefined. When adding proxy to yarn config file"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

I moved from using bower to yarn, and in my `.bowerrc` file I had as following:

[code]

And in `.npmrc` file I had as following :

[code]

So I removed these two files and I run the following commands :

[code]

And then I run the following command :

`yarn install --force --flat --production --mo

[2017-10-24 15:57] whitecolor commented on #4770
Right, before v1 `yarn` didn't touch symlinks in `node_modules`, but now when it performs some actions in `node_modles` it removes the symlinks of deps folders if it is not `link:` dependency.

[2017-10-24 16:07] mattnathan opened #4772 "'yarn link' for binary global install on Windows results in linked .js file but no .cmd"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn link` within a project having `"bin": {"something": "./index.js"}` in the `package.json` results in a junction being created between `\Users\<user>\AppData\Local\Yarn\bin\something` and the file `<project>\index.js`. Unfortunately windows cannot run or does not see this file.

**If the current be

[2017-10-24 16:26] aimad-majdou opened #4773 "Specify both folders location for devDependencies and dependencies in .yarnrc"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

In my application I defined the Front-End dependencies inside the `bower.json` and the dev dependencies which are used by gulp inside `package.json`, and inside the bower config file `.bowerrc`  I specified the directory where the Front-End dependencies should be installed:

`"directory": "src/ma

[2017-10-24 16:29] bestander commented on #4770
@arcanis @BYK, raising this to your attention, looks like a noticeable regression.

[2017-10-24 16:37] ViceIce commented on #2724
PR was merged. Next nightly should have the fix. Hopefully it will get into next stable release.

[2017-10-24 17:25] dmtroyer commented on #2042
Is this just expected behavior? Am I missing something?

[2017-10-24 17:56] noahbenham commented on #3984
I'm able to do `yarn upgrade -P /babel-/`. Should this be closed?

[2017-10-24 18:12] #4546 closed

[2017-10-24 19:33] qfox commented on #3288
@gandazgul;

I don't know :) That was before my time.

Awesome!

[2017-10-24 20:01] bestander commented on #3882
@connectdotz, I enjoy seeing so much enthusiasm around solving this issue!
Great work so far.
Please consider one aspect is that not all users of npm registry use Yarn, there are quite a few package managers now and if you want to add the nohoist field for publishable packages you may be affecting the ecosystem.
A safer step would allow no-hoist only for private packages or workspace roots.

I thi

[2017-10-24 20:19] richtera commented on #4661
I am still running into this issue. It seems that the latest version now lets me correctly do "yarn upgrade dev" but "yarn add dev" is not possible due to the inotify error even though I can't really find any npm dependencies to inotify inside of my node_modules tree. How do I find the module that's trying to pull this in and how do I prevent it from loading by preventing it to install since it's

[2017-10-24 20:20] Peeja opened #4774 ""//" keys should be ignored in "resolution" section of package.json"
**What is the current behavior?**

`"//"` keys (comments) in the `"resolution"` section are not ignored.

Steps to reproduce:
1. Add a key to the `"resolution"` section of a `package.json` like:

[code]

2. Run `yarn install`.

3. See warning:

[code]

**What is the expected behavior?**

The key should be ignored. `"//"` keys are a standard way of commenting in `package.json` files in lieu of actu

[2017-10-24 20:23] rally25rs commented on #4771
Could you also add the flag `--verbose` and get the output? Hopefully that will indicate what URL it is trying to hit when it reports this error.

[2017-10-24 20:30] theandrewlane commented on #3288
@gandazgul I'm using your branch on my local for now, thank you :) 💯

[2017-10-24 20:32] rally25rs commented on #4774
This should have been fixed a while ago #2484

It seems to work for me in Yarn 1.2.1

[code]

[2017-10-24 21:49] thrashard commented on #4736
This is not an issue in 1.1.0 - I have downgraded from 1.2.x because of this issue.

[2017-10-24 22:19] darknoon commented on #3936
@BYK I just tried this again on 1.2.1 and I'm getting the exact same issue.

[code]

[code]

[code]

[2017-10-24 22:36] darknoon commented on #3936
OK, I think this is some kind of interaction with the babel version.

I ran `yarn upgrade-interactive --latest` and selected `babel-jest`, `babel-preset-env`, and `babel-preset-react-native` to upgrade.

I'm going to see if I can narrow down what package upgrade caused it to start working.

diff --git a/package.json b/package.json
index 2a8e762..3719fbc 100644
--- a/package.json
+++ b/package.json

[2017-10-24 22:46] darknoon commented on #3936
It looks like this might be fixed on the `react-native` side in `0.50.0-rc.1`:

[code]

[code]

Still, it seems like there might be a yarn bug if the behavior differs significantly from npm and causes this.

[2017-10-24 23:15] lukescott commented on #4725
How about `git+https://git.repo/some_repo.git/subdir_path#branch`.

[2017-10-24 23:20] akshetpandey commented on #4725
That might be ambiguous depending on how the git server urls are setup.

The url might be something like

`git+https://github.com/yarnpkg/yarn/<subdir_path>#branch`

Then it become hard to say what is part of the repo path and what is the subdir_path

[2017-10-24 23:32] lukescott commented on #4725
Not sure if this applies to every repo, but with Github both `git+https://github.com/yarnpkg/yarn` and `git+https://github.com/yarnpkg/yarn.git` work. You could assume anything after `.git/` is a sub-directory.

Regardless of syntax it would be nice to have this feature either way. It would nice to make the syntax intuitive though :).

[2017-10-24 23:34] akshetpandey commented on #4725
Oh yea, I was mostly talking about other website, not really github. Sorry my example wasn't the best one to explain it.

[2017-10-25 02:56] jesseschalken opened #4775 "Using yarn on Windows leaves terminal font in bold/bright mode"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Usage of Yarn on Windows, either via `cmd.exe` or PowerShell leaves the terminal font in a "bright/bold" mode.

![image](https://user-images.githubusercontent.com/1559204/31978056-52263452-b98b-11e7-9742-68944aebb8a9.png)

![image](https://user-images.githubusercontent.com/1559204/31978090-735034b6-b

[2017-10-25 03:58] rtsao commented on #4206
Are there any known workarounds for this?

[2017-10-25 06:37] likeavirgil commented on #4743
Same here with 1.2.1.

`warning "react-redux@5.0.6" has unmet peer dependency "react@^0.14.0 || ^15.0.0-0 || ^16.0.0-0".`

[code]

[2017-10-25 07:29] TauPan commented on #4546
Ok, I was able to build yarn with yarn (so the dependency on rx.lite which npm could not resolve was not a problem).

The resulting yarn works correctly over my proxy with `https_proxy: false` and *with* all my proxy settings in the environment.

Many thanks and best regards!

[2017-10-25 08:33] aimad-majdou commented on #4771
This is what I got running the install with the flag `--verbose` :

[code]

[2017-10-25 08:54] roger2hk commented on #4775
Possibly related to #2724

[2017-10-25 08:54] AlastairTaft commented on #4770
Would be really useful for me if this one was fixed.

[2017-10-25 09:35] edmorley commented on #3882
The eslint-plugin-import [no-extraneous-dependencies](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md) rule can help prevent this fwiw.

[2017-10-25 09:37] HectorLS opened #4776 "Error running install script for optional dependency SQLITE3"
Node: 8.7.0
-
Yarn:  0.27.5
-
OS: 10.12.6  Sierra
-
Terminal:  iTerm2

Hello, this warning/error started to appear for all the packages that i'm trying to install or uninstall

[code]

[2017-10-25 10:41] aimad-majdou opened #4777 "Defining multiple registries and proxies"
I want to migrate from using bower to yarn, the bower dependencies are installed from the bower registry, and npm modules are installed in our private registry, when I moved to Yarn I defined the bower dependencies inside `dependencies`  and the npm modules inside 'devDependencies', so I need to install the dependencies using the npm registry, and the devDependencies using our private registry.

A

[2017-10-25 11:43] kompot opened #4778 "`yarn install --frozen-lockfile` exits with error, but `yarn install` does nothing afterwards"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
1. Run `yarn install` with package.json present and no `yarn.lock` present.
2. Immediately after run `yarn install --frozen-lockfile`
3. Errors states that `error Your lockfile needs to be updated, but yarn was run with --frozen-lockfile.`
4. Run `yarn install` again - no changes are made to `yarn.lock

[2017-10-25 15:21] vernak2539 commented on #4751
this actually still doesn't work. We have our lock file generated against a internal registry. With the following dependencies, none are slated for update

[code]

nightwatch cucumber is at v8.x

[2017-10-25 15:28] jbrooksuk commented on #932
I see this with `node-sass`.

[2017-10-25 16:16] alansouzati commented on #4590
updating to 1.2.1 does fix the issue.

[2017-10-25 16:16] #4590 closed

[2017-10-25 17:34] rally25rs commented on #4778
From a quick glance, it looks like for some reason Yarn is reporting that `babel-runtime@^6.26.0` is a missing pattern in the lockfile, but that pattern does exist:

[code]

I'll continue digging in ...

[2017-10-25 18:08] jewbetcha opened #4780 "Ability to specify location of Node in .yarnrc"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Yarn only looks for a global instance of Node, while some environments require different versions that are installed locally. Specifying to use a local instance of yarn still results in yarn using whichever global version of node is installed. This creates a lot of issues with other node modules if

[2017-10-25 19:07] vernak2539 commented on #4751
So i've tested and it seems that upgrade-interactive now shows upgrades based on the semver range provided in the package.json.

If that's true, how does one actually upgrade a major version? `^` does minor, `~` does patch, how does you do major?

Based on the output
[code]
there should be a way?

[2017-10-25 19:19] vernak2539 commented on #4751
answered my own question. use the `--latest` flag i think

[2017-10-25 19:42] rally25rs commented on #4778
More research notes:

It looks like what happens is that:

* the lockfile is loaded and includes `babel-runtime@^6.26.0`

* PackageResolver.resolveToResolution() removes a lot of entries from the lockfile, including `babel-runtime@^6.26.0`
[code]

* Then Yarn decides it needs to add `babel-runtime@^6.26.0` back to the lockfile.

* The `--frozen-lockfile` flag prevents this re-addition of `babel-ru

[2017-10-25 21:31] whitecolor opened #4781 "yarn doesn't remove not actual nested dependencies"
Yarn v1.2.1

`minimatch` depends on `"brace-expansion": "^1.1.7"`

Steps to reproduce:
[code]
see `node_modules/minimatch/node_modules` have its own version of `brace-expansion`
[code]
After this `node_modules` has new version of `brace-expansion`, but old is not removed from `node_modules/minimatch/node_modules`

Really basic scenario bag, didn't expect to see such.

[2017-10-25 22:50] fhewitt opened #4782 "--no-bin-links options skip the .bin folder creation"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
`yarn install --no-bin-links` skip the creation of the node_modules/.bin folder

This broke the installation and prevent usage of CLI command in yarn scripts. Our current workaround is to install globally the dependencies for which we need the CLI commands, but this is a wrong solution.

**What is th

[2017-10-25 23:05] juanallo commented on #4731
I can confirm that this happens in yarn 1.2.1 but it doesn't in 1.1.0

[2017-10-25 23:22] skevy commented on #3019
There's been a lot of work in the last 7 months on `yarn pack` and this is no longer an issue.

[2017-10-25 23:36] kaylieEB commented on #4731
@tomasAlabes thanks for filing the issue! I think you're right dist-tags can be better handled since we currently only really support `latest`. How would you like me to help? If you want to submit a PR, this is a good place to start looking https://github.com/yarnpkg/yarn/blob/3d6a03935e17db88891bb9673b245edd99a23bc5/src/package-request.js

[2017-10-26 00:21] erhathaway opened #4783 "Yarn install with v1.2.1 but not v1.1.0 causes missing modules warnings in Flow"
Version: 1.2.1

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
After running `yarn install` with version `1.2.1`, Flow fails to find certain modules. This doesn't occur when using yarn `1.1.0`

The flow errors that this version causes are:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Private repo, but it sh

[2017-10-26 00:52] rally25rs commented on #4771
looks like your registry is throwing an error. Try opening that URL http://abc-pic:8081/nexus/content/repositories/npmjs/angular in your browser and see what it returns?

[2017-10-26 00:54] rally25rs commented on #4771
makes it sound like the registry might be throwing an error when Yarn hits it.

[2017-10-26 02:06] hpg-mheck commented on #4589
Me three.  Reprouced this today in a sterile development environment being set up from scratch with @latest everything.  babel-core, babel-loader, babel-cli.  Getting complaints as if babel-core 7.x is a requirement, when it isn't out yet.

[2017-10-26 05:41] #4754 closed

[2017-10-26 07:34] piehei commented on #932
Happens to mee to with Cypress for instance.

node -v
v8.8.1
yarn -v
1.2.1

[2017-10-26 08:06] sandstrom commented on #932
*Instead of writing "Me too" with no additional info, use the +1 feature in Github on the [top post](https://github.com/yarnpkg/yarn/issues/932#issue-182633582). Every time you write a "me too" comment with no additional info 35 subscribers are needlessly notified.*

[2017-10-26 08:07] HafizAhmedMoon commented on #932
+1

[2017-10-26 08:07] printercu commented on #932
Please just click `Subscribe` if you want to receive updates.

@BYK can you please lock thread, and make it available only for owners.

[2017-10-26 09:32] simonihmig opened #4784 "`yarn pack/publish` fails to include required files"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn pack` or `yarn publish` does not include a lot of files in the (published) tarball, that should be included, breaking the whole package.

**If the current behavior is a bug, please provide the steps to reproduce.**
While I was able to successfully `yarn publish` some packages, I encountered the e

[2017-10-26 09:41] #4774 closed

[2017-10-26 10:05] aimad-majdou commented on #4771
@rally25rs I noticed that this behavior only occurs when I set proxy and `https-proxy` to  `http://webdefence.global.blackspider.com:80` which I used in .bowerrc

[2017-10-26 10:18] #756 closed

[2017-10-26 10:41] ganlanyuan opened #4786 "Couldn't install yarn in Unbuntu based docker image"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Got the following error when trying to install yarn in unbuntu image:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Dockerfile:
[code]

Error output:
[code]

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**
I'

[2017-10-26 11:07] edmorley commented on #4786
Hi!

The error quoted isn't actually the root cause of the problem. When seeing a message about a non-zero exit code, it's best to read further back in the log to try and spot the reason for it.

In this case there is:
`Do you want to continue? [Y/n] Abort.`

Googling that gives:
https://askubuntu.com/questions/509852/why-does-apt-get-abort-by-itself-as-though-id-pressed-n

ie: This isn't a proble

[2017-10-26 11:18] edmorley commented on #4784
Hi!

I can't reproduce this using yarn 1.2.1 with node 8.7.0 on Windows 10 (at least all the files that should be there appear to be?):

[code]

If you try in a clean checkout / another environment, can you still reproduce?

[2017-10-26 11:29] ganlanyuan commented on #4786
Thanks for the quick reply.
Problem solved!

[2017-10-26 11:29] #4786 closed

[2017-10-26 11:33] edmorley commented on #4783
Hi!

As someone who's not yet familiar with flow, I don't suppose you could provide some more detailed STR? Also, does running `yarn list` for the node_modules generated with both versions show any obvious differences?

[2017-10-26 11:40] simonihmig commented on #4784
Uh, I think I found something. After cleaning up some of the npm-ignored folders, the tarball was as expected. Before that I had some packages in `bower_components` (although bower was not used anymore, no `bower.json` present, but still some leftovers from a previous version where bower was still used). When I add some bower packages (I did `bower install ember`), I was getting the faulty behavio

[2017-10-26 11:48] edmorley commented on #4781
Hi!

I can't reproduce this using yarn 1.2.1 with node 8.7.0 on Windows 10:

[code]

Might there be some steps of the STR missing? What version of node / what platform are you using?

[2017-10-26 11:50] BYK commented on #4640
@lucbelliveau

Looks like it should be the other way around. Since `packageB` needs `myprogram` which is provided by `packageA`, `packageB` should list `packageA` as a peer dependency.

[2017-10-26 11:52] BYK commented on #4640
Since this is not a bug, closing the issue. You can file a new issue if there are problems with the script running when listing dependencies properly via peer dependencies or by other means.

[2017-10-26 12:03] edmorley commented on #4755
Hi! This repo is for yarn the tool, for the website there's yarnpkg/website. Looking there I think this may be a dupe of yarnpkg/website#674 ? :-)

[2017-10-26 12:12] edmorley commented on #4744
It looks like the `version` lifecycle call here:
https://github.com/yarnpkg/yarn/blob/v1.2.1/src/cli/commands/version.js#L139

...should be moved before the early return here:
https://github.com/yarnpkg/yarn/blob/v1.2.1/src/cli/commands/version.js#L118-L122

(Given that [the npm docs](https://docs.npmjs.com/misc/scripts) say "version: Run AFTER bumping the package version, but BEFORE commit.". Pre

[2017-10-26 12:22] lucbelliveau commented on #4640
@BYK I don't agree...  I'm concerned my use case isn't being understood correctly.  Let me try again, last time. :)

`webpack-custom-plugin` has a devDependency on `gulp`
`webpack-custom-plugin` has a postinstall directive that executes the gulp binary.
`my-great-react-app` has a devDependency on `webpack-custom-plugin`.
yarn install fails.

A valid peerDependency in this situation would be `webpa

[2017-10-26 12:37] rally25rs commented on #4731
This is an interesting issue.The behavior for tag names in package.json seems... not well defined. NPM5 actually leaves the tag in place during install, but replaces them with the actual semver version when you upgrade:

[code]

Attempting to reproduce it with Yarn, I actually get the same behavior with 1.2.1:

[code]

[2017-10-26 12:45] rally25rs commented on #4632
NPM 5.5 does the same thing (replaces the tag on upgrade).

[code]

Although that does feel "wrong" to me too...
However unless there is some big reason to not do what NPM does, I think we should consider this behavior to be "correct" in terms of compatibility with NPM.

@yarnpkg/core thoughts on this one? bug, or as designed?

[2017-10-26 12:53] michalstocki commented on #4731
@rally25rs I can confirm this behavior in yarn 1.2.1, however I run into a problem described in the issue in the following situation:
[code]
I have the same behavior with the `yarn` installed with `--nightly` flag (`v1.2.1-20171026.1140`)

[2017-10-26 13:08] rally25rs commented on #2788
Does anyone have a setup where they can easily retest this on Yarn 1.2.1? If not, I can publish a dummy package to NPM and unpublish it later, just wanted to avoid adding a garbage package to NPM...

[2017-10-26 13:09] rally25rs commented on #1884
Going to close this as a duplicate #2788 (even though this issue was filed first, but the other has a more detailed summary)

[2017-10-26 13:09] #1884 closed

[2017-10-26 13:26] rally25rs commented on #2648
Just tried this with Yarn 1.2.1 and it seems worse:

in package.json:
[code]

then run `yarn install`

yarn.lock gets 2.2.0:
[code]

[2017-10-26 13:34] rally25rs commented on #2648
On second thought, maybe this is correct in 1.2.1? According to NPM semver:

[code]

I originally thought that because there was a `-beta` at the end, it would constrain the versions to only other pre-release tags, but I guess not?

In that case, I think this is working as intended in Yarn v1.2.1.

[2017-10-26 13:36] edmorley commented on #4705
Hi! The STR are a bit unclear at the moment, since they don't include a before-upgrade state. Could you expand them slightly?

Running `yarn install` from that repo, `yarn list` then shows:
[code]

...whereas if I `rm -rf yarn.lock node_modules && yarn install`, I then get:
[code]

I'm presuming after the `yarn upgrade` you were expected the latter (the versions to be consolidated)?

[2017-10-26 13:41] rally25rs commented on #4766
Closing as duplicate of #3560

[2017-10-26 13:41] #4766 closed

[2017-10-26 13:41] #2648 closed

[2017-10-26 13:45] edmorley commented on #4705
Though I guess this is a dupe of #3951 / #4136 - ie: `@types/react-dom` should fix it's version ranges or start using `peerDependencies`?

[2017-10-26 13:51] rally25rs commented on #3560
I'm going to reopen this for a moment for more discussion...

I did some digging in NPM's source (what a mess) and found that what they do is, before falling-back to `semver.maxSatisfying` is to check the `latest` tag and see if it satisfies the requested tag.

In other words:

* if you have a repo that has versions: `[1.3.0, 1.2.0, 1.1.0]`
* And the registry has `dist-tags: { latest: '1.2.0'}`
*