[2017-05-06 19:49] sreevisakh opened #3341 "style-loader not found"
Using yarn v0.22.0
Reporitng Bug

`yarn add style-loader -D`  returned style-loader not found
but npm install worked

nodejs: 6.10.3
os : elementary Loki.

[2017-05-06 22:36] valnub commented on #1458
Bug still not fixed.

This is unusable. 781 open tickets are nuts.

[2017-05-07 03:17] virgofx commented on #1832
How to reproduce consistently:

CircleCI 2.0 Docker program.

1) Create your project as is with a package.json. Create yarn lock file via yarn install/upgrade.
2) Add `node-sass` or `gulp-sass` into project (Currently testing with `gulp-sass`)
3) Ensure proper tokens are hooked into repository to allow webhooks for CircleCI
4) Ensure project is configured to use CircleCI Beta 2.0 (Apply on their w

[2017-05-07 04:38] Daniel15 commented on #2029
@staabm, that sounds like an issue with whatever proxy you're using:

[2017-05-07 06:07] nueko commented on #3287
this fixed on 0.23.4 and `yarn config set prefix $(npm config get prefix)`
on 0.23.3, `yarn config set prefix $(npm config get prefix)` didn't fix the issue.

[2017-05-07 06:07] #3287 closed

[2017-05-07 06:16] #2665 closed

[2017-05-07 10:20] flamusdiu opened #3343 "[BUG] Windows and `yarn link`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Running `yarn link` fails on Windows due to permissions by default.

[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

`yarn link` from linking package.

**What is the expected behavior?**
It should create the link inside `C:\Users\{yarn}\AppData\Local\Yarn\.bin` or a

[2017-05-07 10:21] gipsy-king commented on #2432
gave me

[code]
and it just hangs there forever.

Running `yarn cache clean` **fixed the issue for me**.

[2017-05-07 10:22] whitecolor opened #3344 "Should not copy `node_modules` of `file:` dependencies"
0.23.4
When we do `yarn add file:..path` yarn should copy existing contents of `node_modules`, currently it copies it to cache as well.

[2017-05-07 11:54] whitecolor commented on #683
[This thing](https://github.com/whitecolor/yall) should handle yarn concurrent runs cache issues.

[2017-05-07 12:36] #1917 closed

[2017-05-07 12:36] #1913 closed

[2017-05-07 12:36] #1074 closed

[2017-05-07 12:39] ishitatsuyuki commented on #1060
@soredake Please add a reference to the fix if you confirm this is solved. Otherwise, please add some explanation of closure or reopen if it was a mistake.

[2017-05-07 16:05] agibralter commented on #3194
I think we can close this ticket... the issue is actually this one: https://github.com/yarnpkg/yarn/issues/3154#issuecomment-299579495

[2017-05-07 16:22] griffinmichl commented on #3154
I believe there's a mismatch between the new `resolve` format and how the with pruning feature checks if something should be pruned. It was just pruning every new package for me.

[2017-05-07 17:16] doxiaodong commented on #3330
@bestander ， any template here? I don't know what and how to do that.

[2017-05-07 18:24] evocateur commented on #3327
I wonder what the `yarn-error.log` says. Nothing about the error is specific to lerna, unless a Docker container doesn't support network ports above 40,000 for some odd reason?

[2017-05-07 19:03] gforceg commented on #3320
I'll PR what I can figure out. It's very flexible, that is it will add any keys to my config that I specify in the command line: `yarn config set big-hairy-ape "https://github.com"`
I'm looking for the keys that are actually consumed by yarn. I'll begin by searching the source code for references to the keys found when I run `yarn config list`

``
{ 'version-tag-prefix': 'v',
  'version-git-tag':

[2017-05-07 19:08] gforceg commented on #3320
Looks like .yarnrc also differs from .npmrc in that it doesn't use [INI format](https://en.wikipedia.org/wiki/INI_file) `KEY=VALUE` but instead is space delimited: `KEY "VALUE"` it also wraps the value in quotes.

`yarn config set little-ape 5`

.yarnrc:
[code]

[2017-05-07 19:36] whitecolor commented on #2685
For me this happens when I run bin executable in WSL. after this have to reinstall package to restore bins.

[2017-05-07 22:25] adjohnson916 commented on #1732
@alexanderwallin @graingert
I've also just released a helper for [Danger](http://danger.systems/js/) to check this on CI:
https://github.com/adjohnson916/danger-yarn-lock

[2017-05-07 22:28] Daniel15 commented on #3333
Is there a use case for the key in package.json differing from the package name?

[2017-05-07 22:29] Daniel15 commented on #3343
Are you on the latest Windows update (creators update)? The ability for non-elevated processes to create symlink was only added in that update.

[2017-05-07 22:32] gforceg commented on #3320
with a bit of grepping and regex string replacement I was able to create a list of keys. Most are kebab case. lastUpdateCheck seems to be the exception to the rule.

[code]

[2017-05-07 22:33] gforceg commented on #3320
I'm wondering if the key 'key' is the auth token ?

[2017-05-07 22:49] sebastiaanluca commented on #686
Tried all variations mentioned here, none works. So how to add package by branch or commit? :/

[2017-05-08 05:22] Alonski commented on #2809
Any new info about this or quick fixes?

[2017-05-08 06:43] Globegitter commented on #2428
Somehow managed to get it to work. I copied around the `.git/config` in a docker container. Turns out I did not need to do that and that also seems like it was the thing that broke yarn.

[2017-05-08 08:39] davidpicarra commented on #3333
Working with a private repository where the owner changed the name of the package when there was a migration from gitlab to github.

All references in my project changed to the new private repository except the key in the ```package.json``` to keep a reference to the old private repo name. Just wondering if this is expected behaviour when it's different from npm install.

[2017-05-08 09:01] trevorwang opened #3345 "Cannot install global binaries"
**Do you want to request a *feature* or report a *bug*?**

bug
**What is the current behavior?**

[code]
**What is the expected behavior?**
`create-react-app` can be installed at `/usr/local/bin`
**If the current behavior is a bug, please provide the steps to reproduce.**

`yarn global add create-react-app --prefix /usr/local`
**Please mention your node.js, yarn and operating system version.**
yar

[2017-05-08 11:45] Mamoru1234 opened #3346 "[BUG] Yarn doesn't install devDependecies"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
yarn doesn't install devDependencies
**If the current behavior is a bug, please provide the steps to reproduce.**
STR:
1. `yarn add eslint -D`
2. `yarn run lint` -> it works
3. `yarn cache clean && rm -rf node_modules/` -> make some clean-up
4. `yarn install` -> install everything
5. `yarn run lint` ->

[2017-05-08 12:17] elibal commented on #521
I am also having the same issue with kendo-angular components.

[2017-05-08 12:23] mmoreaux commented on #1222
I'm seeing a similar issue on some but not all Linux hosts:

![screenshot from 2017-05-08 14 19 20](https://cloud.githubusercontent.com/assets/7665839/25803889/73be7fe2-33f9-11e7-9ff1-af95dfc4aac8.png)

Strace shows that yarn emits `\33[1G` (moving the cursor) between iterations of the progress bar when it works properly, but fails to emit this when it's not working.

Some digging lead me to the `

[2017-05-08 12:50] rally25rs commented on #3346
I was unable to reproduce this on OSX:

[code]

Could you provide any additional info? The message "eslint not found" sounds like maybe the symlink wasn't created in `node_modules/.bin/eslint`.

[2017-05-08 13:10] Mamoru1234 commented on #3346
@rally25rs Thank you for your comment.

Here what I do in repo dir.
[code]
Maybe cache cleaning is the problem?

[2017-05-08 13:51] rally25rs commented on #3346
[code]

that is really weird. I'm not sure what would be causing the issue you are seeing.

Could you try running the install with the `--verbose` flag?

[code]

You should be able to search the output and see where it is putting the eslint files. For example, from my output:

[2017-05-08 14:05] farrago commented on #828
This is still happening for me in v0.23.4.
Occurs when doing `yarn install` for a https://github.com/zurb/foundation-emails-template project.

Platform: Windows 10, i7-45100U, 16GB RAM, slow spinning disk in a laptop.

[2017-05-08 14:24] rally25rs commented on #3341
Unable to reproduce:

[code]

Could you provide more information?

[2017-05-08 14:25] valentinlup commented on #2538
Any updates on this?

[2017-05-08 14:31] NiloCK opened #3347 "On 'yarn install', yarn should report on bandwidth usage along with time taken"
**Do you want to request a *feature* or report a *bug*?**
Feature request. Not substantial (as far as I can guess).

**What is the current behavior?**
After running `yarn install`, yarn reports on the time taken by the installation - `Done in Xs`.

**What is the (desired) behavior?**
It should also report on the bandwidth usage.

I'm on a bandwidth budget, and I decided to adopt yarn after learnin

[2017-05-08 14:39] rally25rs commented on #3340
From a quick look at the Yarn code, that error message would seem to indicate that the command

[code]

returned a non-0 result code.

However if I run that command myself, I get a 0 result code, which would indicate success.
Perhaps you can try this from your command line?

[code]

[2017-05-08 14:45] rally25rs commented on #3334
I don't get a timeout if I try adding the same package. Are you still having this issue?

You should be able to copy/paste the URL that is timing out (https://registry.yarnpkg.com/broccoli-babel-transpiler) directly to your web browser address bar, and with browser dev-tools open, see how long the response takes.

[2017-05-08 14:56] Mamoru1234 commented on #3346
Hm... really strange, at some point STR becomes not valid :(
I need to investigate problem more...

[2017-05-08 14:59] rally25rs commented on #3329
Verified on Yarn 0.23.4

I suspect that this happens because the "default" `yarn` command does an `install`. A `yarn install -v` would create a lock file. Probably need to add a check for no explicit command, and the only option is `-v`.

[2017-05-08 14:59] agibralter commented on #3154
Also, it seems that in no circumstances will `yarn` add a missing package to the offline cache. The only time `yarn` adds a package to the cache is the _first_ time it adds the package to `yarn.lock`

[2017-05-08 15:03] rally25rs commented on #3346
@bestander could you add labels [ triaged | needs clarification ]

[2017-05-08 15:05] daprahamian opened #3348 "[question] what is the difference between `yarn install` and `yarn upgrade`"
It seems that `yarn install` updates dependencies and modifies the lockfile in the same way as `yarn upgrade`. What is the difference?

[2017-05-08 15:05] rally25rs commented on #3328
The address "https://registry.yarnpkg.com/bower" seems to be responding at the moment. Are you still having this problem? If so, could you just try opening "https://registry.yarnpkg.com/bower" in your web browser and see if you get a response?

[2017-05-08 15:08] Mamoru1234 commented on #3346
@rally25rs Actually... I can't

[2017-05-08 15:10] rally25rs commented on #3346
@Mamoru1234 sorry for any confusion, I was asking @bestander to add those labels, because I can't either 😄

[2017-05-08 15:14] EvNaverniouk opened #3349 "0.23.4 causes "Cannot find module './request'" error"
**What is the current behavior?**

After upgrading from yarn 0.23.3 to 0.23.4 I can no longer use yarn due this error:

[code]

This is reported several times after any `yarn ___` command such as `yarn test`.

This issue was not occurring when using 0.23.3

**If the current behavior is a bug, please provide the steps to reproduce.**

I am using MacOS and starting with `yarn@0.23.3` I ran:

[code]

[2017-05-08 15:14] bestander commented on #828
@farrago please open a new issue with steps to reproduce.

[2017-05-08 15:18] rally25rs commented on #3325
I'm curious if this works in NPM.

We could possibly just ignore lines in the response that don't "look like refs" with some kind of regex, but that seems like a can of worms. The custom message could still "look like a ref" and pass a regex check.

[2017-05-08 15:25] EvNaverniouk commented on #3349
Appears to be caused when `brew upgrade` upgraded me from node `7.9.0` to `7.10.0` which also broke `npm` installed.

This is not `yarn` related. Closing.

[2017-05-08 15:25] #3349 closed

[2017-05-08 15:44] Profpatsch commented on #3334
Yes, the response was instant.

Right now it works, but it is definitely a kind of error that has bitten me several times now.

[2017-05-08 15:47] ChristopheVandePoel commented on #3327
I tried with lower network ports (<10000) and it gave me the same result. I'll look into providing that log when I have the time.

[2017-05-08 15:50] farrago opened #3350 "Corrupted node_modules/.bin/gulp.cmd after `yarn install`"
**What is the current behavior?**

`yarn install` with https://github.com/zurb/foundation-emails-template ends up with garbage characters in `node_modules/.bin/gulp.cmd`.

This appears to be exactly as described in #828.
#828 was *closed fixed* based on [PR2795](https://github.com/yarnpkg/yarn/pull/2795), but in the comments on that PR you can find a number of comments that this does not entirely

[2017-05-08 15:56] #2874 closed

[2017-05-08 16:09] bestander commented on #2685
The code is here https://github.com/yarnpkg/yarn/blob/master/src/package-linker.js#L36.
I wonder if it is related to how fs.symlink is working on windows.
Maybe it should check if symlink exists and points to the same location first?

This looks like a great opportunity to send a PR.

[2017-05-08 16:16] bestander commented on #3330
Sure, here are a couple of good examples https://github.com/yarnpkg/rfcs/pull/40/files https://github.com/yarnpkg/rfcs/pull/34/files

[2017-05-08 16:17] #3194 closed

[2017-05-08 17:12] ChristopheVandePoel commented on #3327
That `yarn-error.log` doesn't provide much more information other than:

[code]
I've created a test-repo with which I can replicate the behavior:
https://github.com/ChristopheVandePoel/lerna-test

If you have a windows-machine lying around (I know, right?) with WSL installed on it, maybe try running it with

[code]

The repo simply tries to install lodash & babel-core in the first and only babel-c

[2017-05-08 17:25] bestander commented on #2976
Thanks for more data.
We are tracking a set of issues related to git hosted dependencies, apparently there are many edge cases to consider.
We'll sort it out soon.

[2017-05-08 17:39] rally25rs commented on #3325
@mmucklo could you take a look at this PR ☝️ and see if it fits your needs?

[2017-05-08 18:01] rally25rs commented on #3329
@bestander triage: Duplicate of #2710

[2017-05-08 19:16] rally25rs commented on #3254
I wouldn't even mind the case where you can manage multiple directories. Take for example projects that currently use Bower as a package manager.

I need devDependencies like Grunt, Babel, Browserify that I still NPM install into `node_modules/`

However my web-deployed packages like Backbone, Underscore, jQuery are all Bower installed into `bower_components/`

So my workflow is:

[code]

It would

[2017-05-08 20:15] bestander commented on #3254
I've seen successful examples of people using folders frontend and backend
each with package.json.

So far it looks like a somewhat more convenient dependency management in
one file is worth the extra complexity.

On Mon, 8 May 2017 at 20:17, Jeff Valore <notifications@github.com> wrote:

[2017-05-08 20:19] geuis opened #3352 "Detect outdated yarn.lock before commit"
**Do you want to request a *feature* or report a *bug*?**
Prevent commits when yarn.lock differs from package.json

**What is the current behavior?**
yarn.lock state is entirely dependent on a user to `yarn install` after changing `package.json`.

Our team switched to using yarn a couple of weeks ago. One issue that persistently reoccurs is when someone changes `package.json`, does `yarn install`

[2017-05-08 20:24] joelsand commented on #1496
I'm seeing this as well, makes it frustrating to iterate quickly while developing a package because it takes so long to update a single package.

[2017-05-08 20:32] rally25rs commented on #3254
In reply to myself about replacing Bower, it seems that is a thing that was previously removed #617
I forgot that it wouldn't use Bower's package repo anyway, so you can't really totally replace it with Yarn (i.e. you would get the npm-published package, not the bower-published package. they use different online repositories). Just ignore me :)

[2017-05-08 20:36] ddgenome commented on #3313
I have reported the shifting dependencies here: #3315

[2017-05-08 20:36] ddgenome commented on #3348
What you are seeing might be a bug: #3315

Are versions getting updated or just collapsed/rearranged?

[2017-05-08 20:45] glasser opened #3353 "Seeing 500s from yarnpkg.com"
I'm seeing sporadic errors like

[code]

They are occurring at a high enough rate to prevent me from working or deploying.

Is there a status page somewhere for issues with registry.yarnpkg.com?

[2017-05-08 20:51] SEAPUNK commented on #3353
Confirmed; our CI builds are failing because of this error.

[code]

[2017-05-08 21:04] devony commented on #3353
It also looks like this can corrupt packages that are concurrently being installed. On clean caches we saw these instances. If a later version of yarn resolves this, apologies:

[code]

[2017-05-08 21:06] flamusdiu commented on #3343
Umm, probably. I was looking around but this computer is using a Win 10 Ed license. I am not seeing a build number anywhere. Still, it should fall back to the User profile location.

[2017-05-08 21:08] cliffmeyers commented on #2457
I discovered recently that there is a totally reasonable "workaround" for setting command line params in .yarnrc:

`yarn config set -- --mutex network`

The use of the bare double-dash allows the subsequent parameters to be passed down to yarn rather than evaluated as part of the command.

I'm not sure if that resolves @tobico 's issue too. If it does, then perhaps this issue can be closed and no

[2017-05-08 21:09] marc-guenther commented on #683
How does that thing solve the problem? All I could find in the README is a link pointing back here.

It would still need to set the global lock for the cache, something which we already do automatically in our CI setup, so I'm not sure how it would help (at least in a CI setup).

[2017-05-08 21:13] gberberoglu commented on #3124
sorry but installing yarn globally seems like a workaround. Can you please reopen this issue ?

[2017-05-08 21:32] cooljl31 commented on #1628
node -v
v6.6.0
yarn ls v0.23.2
error Did you mean `yarn list`?
info Visit https://yarnpkg.com/en/docs/cli/list for documentation about this command.

[2017-05-08 21:38] mysterycommand commented on #3313
@ddgenome @henryptung shouldn't the command be `yarn --pure-lockfile`?
https://yarnpkg.com/en/docs/cli/install#toc-yarn-install-pure-lockfile

[2017-05-08 21:39] whitecolor commented on #683
@marc-guenther how do you run yarn in parallel in CI, do you have monorepo?

[2017-05-08 22:02] mysterycommand commented on #3315
I think I am running into this same issue. It def. seems weird that it's shuffling dependencies when the resultant dependency tree is identical, but I think this comment might also apply here:
https://github.com/yarnpkg/yarn/issues/3313#issuecomment-299998596

@kittens, @thejameskyle, sorry for digging up an oldy, but is what you meant by this comment:
https://github.com/yarnpkg/yarn/issues/570#is

[2017-05-08 22:14] jamirais38 commented on #2858
Alk suppirt only me

[2017-05-08 22:17] gforceg commented on #547
This would help with my use-case:

I am using TFS 2017 behind a firewall and publishing internal packages (specific to my organization) to the npm feed. However, the TFS npm feed is unable to cache upstream packages because of security restrictions.

It would be nice if I could specify a default registry and then a secondary named registry via dot notation.
e.g., I would say something like this:

[2017-05-08 23:03] tmarshall commented on #3118
I've hit this as well, when using nvm on centos

[2017-05-08 23:04] gforceg commented on #547
addressing this might require 'sections' the way git configure handles sections
for each registry specified, you'll want to also be able to specify a proxy, https-proxy, ssl-verify, etc...

[2017-05-08 23:54] ddgenome commented on #3313
@mysterycommand `--pure-lockfile` is a different option with a different meaning.

From the `yarn --help` output:

[code]

To my understanding, the intent of `--pure-lockfile` is to have yarn operate as it normally would, but just not write out the `yarn.lock` file. The intent of `--frozen-lockfile` is to install things exactly as expressed in the `yarn.lock`, failing if those modules do not satis

[2017-05-09 02:02] jonschlinkert commented on #2165
Does yarn overwrite local symlinked project files with files from yarn's cache?

[2017-05-09 02:47] jonschlinkert commented on #1214
I'm still trying to confirm if this is what happened, but it appears that yarn overwrote local files across multiple files with cached symlinked versions. I'm using yarn `0.23.4`

[2017-05-09 03:01] glasser commented on #3353
This seems to have cleared up, but it would really be great if there was a status page and a documented place to report outages.

[2017-05-09 03:47] syntactic-salt opened #3354 "Bad hash error when running 'yarn install' using private nexus registry"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
I have the registry set to a private registry in my .npmrc file. When running 'yarn install' yarn throws the following error:
[code]
If I remove the registry config and remove the packages from that registry from my package.json, yarn installs the public packages successfully.

**If the current behavi

[2017-05-09 04:01] syntactic-salt commented on #3354
Some additional information on this issue. If I remove all the public packages from my package.json and leave the packages from the private registry, I still get a bad hash error.

Does yarn work with private registries?

[2017-05-09 05:55] doxiaodong commented on #3330
I have sent a pr https://github.com/yarnpkg/rfcs/pull/64

[2017-05-09 06:58] alphakevin commented on #648
yarn version 0.23.4, Windows 10, MinGW
It seems yarn stores global packages in:
[code]
global command works after add it to system path.

[2017-05-09 08:07] maortoubian opened #3356 "Install loading maximize & minimize window bug"
(http://i64.tinypic.com/16ht25f.png)
**Do you want to request a *feature* or report a *bug*?**
Report a Bug

**What is the current behavior?**
when maximizing the cmd window the loading bar is stretched to the sides of the window
and then when minimizing back the loading bar did not minimize and stays the same (see reference above)

**If the current behavior is a bug, please provide the steps to r

[2017-05-09 08:34] chanduforstudy opened #3357 "Yarn install fails"
**Do you want to request a *feature* or report a *bug*?**
Report a **bug**

**What is the current behavior?**
`yarn install` fails, see below stacktrace:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Clone repo: https://github.com/chanduforstudy/testApp
2. Run `yarn install`

**What is the expected behavior?**
Install all packages without any error.

**Ple

[2017-05-09 09:31] quirkyshop commented on #2276
still get a problem when exec yarn clean, such as .svgo.yml problem reproduce everytime.

yarn version: v0.23.4

[2017-05-09 10:36] m-andrew-albright commented on #3169
This is still prevalent for me and very annoying.  We are about to switch back to npm because of this issue.  If anyone knows a workaround, please let me know.  Manually `npm i datatables.net-dt` every time I `yarn` is not fun.

[2017-05-09 14:00] arcanis commented on #3294
@bestander @cpojer I was thinking about the `workspaces` field. In the RFC we merged, we decided to use a globing to find all the package data (`packages/**/*`). I like the syntax, but won't this be an issue from a perf standpoint? It means that any cross-workspace command that we execute must stat a lot of sub-directories, then read all the package.json files in order to extract the names. That's

[2017-05-09 14:20] bestander commented on #3294
It could add up to the start time as Yarn would need to find and read multiple package.json files.
But for most cases I don't think it will be a problem, if glob find becomes slow people could be motivated to use less aggressive glob rule.
Or we could come up with a cache.

[2017-05-09 14:38] whitecolor commented on #2685
The problem is that file in `.bin` may be locked and yarn aggressively trying to clean up node_modules before installing, in this case can not unlink/remove `.bin`: https://github.com/yarnpkg/yarn/blob/master/src/package-linker.js#L264

But I'm not sure if it is correct to exclude `.bin` folder from this list, and after this yarn tries to read this link can is not able too.

So the problem is in l

[2017-05-09 14:42] bestander commented on #2685
package-linker removes symlinks form possibleExtraneous https://github.com/yarnpkg/yarn/blob/master/src/package-linker.js#L215

[2017-05-09 14:44] MalcolmDwyer commented on #1327
Another vote for this... frontend-maven-plugin gives us a really nice way to integrate frontend builds with the rest of our (non-Javascript) deployment infrastructure.  Yarn is currently a sticking point though because of the lack of a public, browsable distribution directory a la http://nodejs.org/dist/

With the current github release process, I need to either ask my CI people to create a custom

[2017-05-09 14:46] Deathis commented on #3345
At website https://yarnpkg.com/en/docs/install,the infomation of `Path Setup`:
`Add export PATH="$PATH:`yarn global bin`" to your profile (this may be in your .profile, .bashrc, .zshrc, etc.)`;
I did `export PATH="$PATH:`yarn global bin`"` , it dosn't work;
The right way is ` export PATH="$PATH:$(yarn global bin)"  `.

**# Add export PATH="$PATH:$(yarn global bin)" to your profile (this may be in

[2017-05-09 14:48] whitecolor commented on #2685
Yes I see this, to solve this there may be required more complex logic of removal of .bin folder, not whole folder but file by file, handling exception, becase file is still removed and though an exception is thown.

The workaround for the issue is not use `.bin` scripts for long running (watching) tasks but replace them with direct location for example `node node_modules/typescript/bin/tsc` inste

[2017-05-09 14:58] bestander commented on #2685
Well, modifying node_modules folder while the Node app is running is quite
non deterministic anyway.
So maybe we can't do much about it.

On 9 May 2017 at 15:48, Alex <notifications@github.com> wrote:

[2017-05-09 15:01] cpojer commented on #3294
I think this should be fine from a perf-perspective for now. I expect the number of shared projects to be a small number (<100) in most cases. As @bestander said, large projects can also directly embed all the paths.

[2017-05-09 15:14] mysterycommand commented on #3313
@ddgenome, thank you for that. `--frozen-lockfile` isn't listed in the documentation for the `install` command, so I thought maybe it was an old flag.

[2017-05-09 15:19] whitecolor commented on #2685
Usual case in development, who stops all the services to add/upgrade each new dependency? Usually watching utilities can handle those changes.

[2017-05-09 15:30] bestander commented on #2685
Yeah, it can be common.
The problem is that yarn may rebuild the node_modules when you add/upgrade
a dependency because it guarantees deterministic folder structure.
But I support that symlinks in .bin folder should not be removed if they
don't change.

On 9 May 2017 at 16:19, Alex <notifications@github.com> wrote:

[2017-05-09 15:58] bestander opened #3360 "use workers to unzip tarballs"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the expected behavior?**

Would be cool to experiment and see if fetch phase becomes faster if we do fetch/unzip to cache using workers.

[2017-05-09 18:32] jmsmrgn commented on #3142
Fixed in RC v0.24.2

[2017-05-09 18:32] #3142 closed

[2017-05-09 20:19] patrick-mcdougle commented on #3352
There is, when adding dependencies run `yarn add <package-name>` and don't update the package.json file manually.

[2017-05-09 21:45] marc-guenther commented on #683
Not sure I understand the question. Our CI contains thousands of jobs. A lot of them run in parallel, each of which could run `yarn` at any time. As all those running in the same CI slave share the same cache, we get bitten by this bug a lot.

We made a wrapper around the `yarn` binary, which adds the mutex option, so people don't have to do it in their jobs. This limits us to one `yarn` execution

[2017-05-09 22:13] bstro commented on #3282
+1 I work in an organization where the `ignore-engines` default behavior is super unpractical.

[2017-05-09 22:14] whitecolor commented on #683
@marc-guenther
For big complex environments ideally there is a need of some kind of "yarn server" that would be the only authority to make network requests and write to cache. But this seem to be tough.

Though there can be other simpler solutions for the problem, for example when client want to start to work with cache folder (when it doesn't find needed package version) just before write it shou

[2017-05-09 22:18] whitecolor commented on #3282
BTW https://github.com/whitecolor/yall supports this you can add to package.json:
[code]

[2017-05-10 03:34] Daniel15 commented on #3353
I'm considering setting up a status page using Cachet (https://cachethq.io/), but I'll need to see whether the rest of the team think it's a good idea.

Apart from that, there's an open GitHub issue around having some optional logging for request failures so we can see how often they happen. I suspect the numbers that CloudFlare give us in their reports aren't capturing all the failures, so having

[2017-05-10 03:36] Daniel15 commented on #3345
Are you running as root? Normally regular users don't have permission to create files in `/usr/local`.

[2017-05-10 05:03] trevorwang commented on #3345
@Deathis I have set this in my .zshrc file

[2017-05-10 05:06] trevorwang commented on #3345
@Daniel15 I am sure that I have the permission for `/usr/local`
It doesn't work for `~/.local` folder.
[code]

[2017-05-10 05:50] voxsim commented on #3345
@trevorwang could please update your version or yarn and see if there are still problems?

[2017-05-10 06:33] taileshrbamankar commented on #3328
Still Facing same issue

[2017-05-10 06:34] trevorwang commented on #3345
@voxsim
I have already updated to the latest 0.23.4 by `brew`. The same issue exists.
[code]

[2017-05-10 07:48] cpojer commented on #3360
Where in the code would we add the worker call?

[2017-05-10 08:18] fpauser commented on #3203
Same problems here. Installed `0.24.2` via `curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.24.2`, which solved the problem.

[2017-05-10 09:12] svipben commented on #1619
Same here, with `yarn publish` issue is with `Invalid tar header`, but with `npm publish` everything is correct. For 2-3 times it worked with `yarn publish`...

[2017-05-10 09:56] wereHamster opened #3363 "Yarn is not deterministic when adding a new package to an existing project vs. a clean install"
If you start with a clean create-react-app (v1.2.1) project, yarn installs `babel-loader` but its dependency `babel-core` is moved to the top-level node_modules so that it can be shared by all packages.

When you then add the two packages `react-svg-loader` and `svg-react-loader` yarn keeps the top-level `babel-core`, so that `babel-loader` continues to use that version (v6.22.1).

However when yo

[2017-05-10 10:28] g-plane commented on #3329
In fact, to display version of Yarn we must run `yarn -V` or `yarn --version`. But in most of the time, we are used to using `-v` to do that.

[2017-05-10 10:30] bestander commented on #3329
I agree, this is annoying behavior

On 10 May 2017 at 11:28, Pig Fang <notifications@github.com> wrote:

[2017-05-10 10:50] ishitatsuyuki commented on #1060
PLEASE. DO. SOMETHING. @bestander @soredake

[2017-05-10 11:17] #3326 closed

[2017-05-10 11:43] whitecolor commented on #2685
don't change.

There are actually no symlinks in `.bin` there are just executable scripts that run some scripts in node_modules, yarn tries to remove `.bin` folder and recreate it again on each install operation, and fails if any of containing scripts happens to be locked, though it actually removes the locked file that causes the exception, so potentially it could just handle this exception, thou

[2017-05-10 11:47] aseem2625 opened #3364 "Bug: how to update package.json on yarn add"
Yarn version v0.21.3

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn add <packagename> -D` isn't adding the package to package.json

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**
node version v7.7.3
OSX 10.12

[2017-05-10 11:47] bestander commented on #1060
Let's reopen this for now

[2017-05-10 11:50] aseem2625 commented on #3364
Not able to reproduce. Closing

[2017-05-10 11:50] #3364 closed

[2017-05-10 11:52] bestander commented on #2685
Thanks for investigating more.
What would it take to make Yarn smarter and not delete those if they don't
change?

On Wed, 10 May 2017 at 12:43, Alex <notifications@github.com> wrote:

[2017-05-10 12:07] whitecolor commented on #2685
Yes it could compare the content of existing file in `.bin`.

[2017-05-10 12:32] mbifulco commented on #3332
Ditto - I'm in the same boat as cmoesel on my project.

[2017-05-10 12:34] DavidOliver commented on #3016
In case it's useful to anyone finding/participating in this discussion, I've just found there's a currently undocumented `upgrade-interactive` command. Which is brilliant.

[code]

`j` and `k` navigate through the packages.

[2017-05-10 12:40] voxsim commented on #3318
Hey @cpojer I agree with you; do you have any suggestions on how we can use it? I mean we can format the yarn code on pre-commit or before merging a pull request or maybe before a release, etc.. O.o maybe you can share on how you use it in other projects!

[2017-05-10 12:50] daprahamian commented on #3348
they are getting update.

To give a full overview of my behavior, here are my steps:

1. Do a clean `yarn install`
2. Do a second `yarn install` to verify that nothing has changed.
3. Change a dependency in `package.json`
4. Run either `yarn install` or `yarn upgrade`

I don't necessarily believe this is a bug, since I am not running with `--pure-lockfile` (and I know there is a discussion over th

[2017-05-10 12:57] voxsim commented on #1202
@Daniel15 is this resolved? I am asking for two reasons:
* I saw the script called  https://github.com/yarnpkg/yarn/blob/master/scripts/update-homebrew.sh
* but in homebrew we still have 0.23.4 (https://github.com/Homebrew/homebrew-core/blob/master/Formula/yarn.rb)

Am I missing something? Can I help in some way?

[2017-05-10 13:00] jbrooksuk commented on #1619
Same here. Bumped the tag and published with `npm` instead.

[2017-05-10 13:06] cpojer commented on #3318
See https://github.com/facebook/jest

[2017-05-10 13:49] silent1mezzo commented on #944
I can confirm @rosshadden's solution. adding `--network-concurrency 1` solves this for us.

[2017-05-10 13:53] ddgenome commented on #3348
If all were working correctly, my understanding is that there is a difference.

`yarn` or `yarn install`: if the current yarn.lock file satisfies current package.json, it installs things according to the yarn.lock. If the current yarn.lock does not satisfy the current package.json, upgrade packages and yarn.lock as necessary to satisfy package.json.

`yarn upgrade`: upgrade all dependencies to the

[2017-05-10 14:11] bestander commented on #2685
@whitecolor, should we expect a PR? :)

[2017-05-10 14:21] santiagoaguiar commented on #3028
Having the same problem, the provided `package.json` also reproduces the issue for me. This issue probably needs to be re-opened.

[2017-05-10 14:26] santiagoaguiar commented on #3028
Smaller repro case:

[code]

Waits forever.

Running on windows 10, x64, node-gyp 3.6.1, node 7.9.0

[2017-05-10 15:16] Daniel15 commented on #1202
Yes, it is. 0.23.4 is currently the latest release. We don't publish
release candidates to Homebrew.

Sent from my phone.

On May 10, 2017 5:57 AM, "Simon Vocella" <notifications@github.com> wrote:

[2017-05-10 15:17] #1202 closed

[2017-05-10 15:51] kirrg001 opened #3368 "Ignore list for upgrade-interactive"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**
I have a couple of dependencies to ignore.
I've used GK in the past and GK offers a list to ignore dependency updates.
It would be great to have a yarn config file to add a list of dependencies to ignore, which won't show up when executing `upgrade-interactive`.

[2017-05-10 15:53] voxsim commented on #1202
ok thanks @Daniel15 :)

[2017-05-10 16:30] wyattjoh commented on #1619
Same issue, resolved with `npm publish`, yarn's publish is still broken.

[2017-05-10 16:45] bestander commented on #3028
Thanks a lot.
The issue is obviously in lifecycle scripts execution phase https://github.com/yarnpkg/yarn/blob/master/src/util/execute-lifecycle-script.js#L179 and spawn command is clearly not finishing.
Anyone wants to help out and debug why it fails?

[2017-05-10 16:48] abenhamdine opened #3369 "Please publish last release 0.24.2 on npm, current available version is 0.23.4"
**Do you want to request a *feature* or report a *bug*?**
release issue

**What is the current behavior?**
yarn 0.23.2 is currently installed by npm install yarn

**If the current behavior is a bug, please provide the steps to reproduce.**
npm install yarn

**What is the expected behavior?**
0.24.2 available on npm

**Please mention your node.js, yarn and operating system version.**
yarn 0.23.2, n

[2017-05-10 16:51] abenhamdine commented on #3369
Sorry for the noise, I just realized that 0.24 and above are pre-releases

[2017-05-10 16:51] #3369 closed

[2017-05-10 16:52] FDiskas opened #3370 "How to install and use optipng node module"
**Do you want to request a *feature* or report a *bug*?**
*BUG*

**What is the current behavior?**
Missing executable file
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
1. `yarn init -y`
1. `yarn add optipng`
1. add script to *package.json* `"scripts": { "test": "optipng img/*" },`
1. `yarn run test`
**What is the expected behavior?**
yarn should not ignore h

[2017-05-10 16:58] bestander opened #3371 "What does Yarn 1.0 mean?"
- [ ] get issues under control: categorized, critical ones fixed, with a plan to solve the majority of outstanding ones (POC @bestander)
- [ ] introduce breaking changes that we did not do pre 1.0 (e.g. npm@5 changes to lifecycle scripts)
- [ ] fix pack and publish commands and experience
- [ ] workspaces
- [x] make CI stable
- [x] start CLI performance improvement project
- [ ] Cleanup release ar

[2017-05-10 17:22] nickjack19 opened #3372 "qb error"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**

[2017-05-10 17:26] martinek opened #3373 "Possibility to add warning when running yarn in directory containing node_modules but missing yarn.lock"
Would it be possible to add some kind of warning when running yarn inside directory where `node_modules` already exist, but there is no `yarn.lock` file?

The only use-case for this should be when migrating from npm to yarn. I realized yarn updated all my `node_modules` only after I ran `yarn` command and then it was too late to search for `yarn import`.

It would be nice to get warning, that runn

[2017-05-10 17:31] Daniel15 commented on #3371
Let's fix the Yarn release tarballs for 1.0, they still contain a directory called `dist` rather than something like `yarn-v0.23.0`

[2017-05-10 17:33] bestander commented on #3371
@Daniel15, will it be compatible with ecosystem?
I think majority of tarballs have `package` folder

[2017-05-10 17:35] Daniel15 commented on #3371
I mean Yarn's tarball itself: https://yarnpkg.com/latest.tar.gz. We were going to change the directory name but never got around with it. The issue is if you do something like this:
[code]

You'll end up with `/opt/dist/` rather than `/opt/yarn-v0.23.0`, and need to manually rename it. If you already have stuff in `/opt/dist/`, Yarn will be mixed in with all those files. That's not what we want 😛

[2017-05-10 17:51] cmoesel commented on #3332
If anyone wants to see this in action, I've created a simple project that reproduces the problem:

https://github.com/cmoesel/eslint-8547

In fact, it's even worse than my real project since there are also some react rules that can't be found (but again, it all works fine if you install with npm instead of yarn).

[2017-05-10 18:02] #153 closed

[2017-05-10 19:27] santiagoaguiar commented on #3028
I've spent some time trying to see why it doesn't end, but to no avail. The `spawn` is executed but, from my tests, no callback is called at all after the `updateStdout` call on https://github.com/yarnpkg/yarn/blob/master/src/util/child.js#L48 sends the `⢀ fibers: spawn args   '-Goutput_dir=.' ]`. I tried checking if some callback was throwing, but it doesn't seem to be the case either. I'm not su

[2017-05-10 19:35] calvinhuang opened #3376 "--dev/-D flag ignored if package is already listed under dependencies"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
If a package has already been added as a dependency, running `yarn add <pkg> -D` does not add it to `devDependencies`. The `-D` switch is ignored with no indication to the user that it's still only listed as a regular dependency.

**If the current behavior is a bug, please provide the steps to reproduc

[2017-05-10 20:13] gss2002 commented on #3141
This is also plaguing downloads through corporate proxy servers. It's very frustrating when attempting to build projects like Zeppelin/Ambari. They both have flipped their projects to yarn which is great for the yarnpkg project but the problem is if you cannot download the packages because the corporate proxy servers are scanning the tgz and only sending a byte or two at a time until it completes

[2017-05-10 20:16] doowb commented on #3356
This might be able to be solved with the latest version of [window-size](https://www.npmjs.com/package/window-size).

The api has a `.get()` method that can be called any time (either each time the render method is called or on `resize` events). I'm happy to submit a PR.

[2017-05-10 20:26] gss2002 commented on #1619
This is also plaguing downloads through corporate proxy servers. It's very frustrating when attempting to build projects like Zeppelin/Ambari. They both have flipped their projects to yarn which is great for the yarnpkg project but the problem is if you cannot download the packages because the corporate proxy servers are scanning the tgz and only sending a byte or two at a time until it completes

[2017-05-10 22:09] alvincrespo commented on #648
I'm encountering this issue as well using nvm.

[2017-05-10 23:01] serg-gavel opened #3377 "Not working yarn init -y command [Linux Mint 18.1]"
Not create **package.json** file with command `yarn init -y`
[code]

node version: **v6.10.3**
yarn version: **0.22**

OS: **Linux Mint 18.1 Xfce [x64]**

[2017-05-11 01:38] alvincrespo opened #3378 "Getting authentication error when running yarn install"
**What is the current behavior?**

I'm currently using ember-cli to install a package:

[code]

While running this command, I get the following:

[code]

My environment is:

[code]

I'm on macOS Sierra 10.12.4

➜  ember-links-with-follower git:(ac-upgrade) ✗ yarn -v
yarn install v0.23.4

PS - while running `yarn -v` I received:

[code]

[2017-05-11 01:40] alvincrespo commented on #3378
My yarn-error.log is [here](https://gist.github.com/alvincrespo/9a1309a0feabe6c8fa4f12f6fe848c0a).

[2017-05-11 02:59] agibralter commented on #3154
@arcanis any thoughts on the script I created? Do you get the same behavior when you run it?

[2017-05-11 06:29] binarykitchen commented on #3011
@bestander is this still not out?

[2017-05-11 07:20] FDiskas commented on #3377
try to update first and see if its still an issue. cant reproduce on **yarn v0.23.4**

[2017-05-11 08:23] #3206 closed

[2017-05-11 08:24] noyobo commented on #3206
https://github.com/yarnpkg/yarn/issues/2629#issuecomment-283691556

[2017-05-11 08:29] stuff commented on #2442
not sure if related but....
[code]
[code]

I can put anything in my `css` entry, it's correctly executed but there is this error at the end

[2017-05-11 08:52] yanisvieilly commented on #3266
For those of you like myself who were confused by @rally25rs comment:

There's a small typo on the first command, it's `yarn upgrade`, not `yarn update`:
`yarn upgrade <package_name>`

Otherwise, I can confirm that it works as expected!

[2017-05-11 09:47] wirmar commented on #3315
I am running into the same issue, which results in my Build Tooling (create-react-app/react-scripts fork) breaking whenever I add a new dependency or run `yarn install` a second time. (When using yarn@0.23.4)

A workaround for me was downgrading yarn to v0.21.3.

[2017-05-11 10:00] bestander commented on #3011
It is in branch 0.24
<img width="550" alt="screen shot 2017-05-11 at 10 59 55 am" src="https://cloud.githubusercontent.com/assets/2121048/25943795/01c8e796-3639-11e7-957f-81d09880c3a8.png">

We just keep it as RC till tomorrow but you can install it anyway.

[2017-05-11 11:33] pribilinskiy commented on #3223
Looks like [`yarn install --check-files` is the answer](https://github.com/yarnpkg/yarn/issues/2240), but why [it's not documented](https://yarnpkg.com/lang/en/docs/cli/install/).

[2017-05-11 11:34] pribilinskiy commented on #2240
Looks like [`yarn install --check-files` is the answer](https://github.com/yarnpkg/yarn/issues/3223), but why [it's not documented](https://yarnpkg.com/lang/en/docs/cli/install/).

[2017-05-11 11:39] aalpgiray commented on #1222
![image](https://cloud.githubusercontent.com/assets/6337113/25947295/8a137454-3657-11e7-8813-2be38c9c4996.png)
same here on version 1.12.1

[2017-05-11 13:13] belozer commented on #3323
https://github.com/yarnpkg/yarn/issues/3312

[2017-05-11 13:40] bestander commented on #3348
Sounds right, @ddgenome

[2017-05-11 13:40] #3348 closed

[2017-05-11 14:23] dwasyluk commented on #1168
This appears to still be not fixed... can we please reopen or get a pointer to a new bug that shows this is being addressed? The biggest problem is when non-deterministic lockfile regeneration leads to lockfile conflicts between developers. This has happened to our organization's dev team _frequently_ we've had so much so that we've had to craft a process for dealing with these "lockfile conflicts

[2017-05-11 14:29] bestander commented on #3360
This is where the queue is built https://github.com/yarnpkg/yarn/blob/master/src/package-fetcher.js#L94.
Then it delegates to tarball-fetcher which does the download and unzip

[2017-05-11 14:38] bestander opened #3380 "switch to node-tar@3 if it got faster than tar-fs"
https://github.com/npm/node-tar/pull/108.

Check how new node-tar performs with Yarn and consider switching back to it.

[2017-05-11 15:19] lforme commented on #1565
$ npm config set registry "https://registry.npmjs.org"
it works for me

[2017-05-11 15:56] rally25rs commented on #3266
oops, sorry for the confusion. NPM and Bower both have an `update` command. I always forget that Yarn doesn't until I try it and it errors.

[2017-05-11 17:04] destroyerofbuilds commented on #2566
There is now a pending RFC to address this issue - yarnpkg/rfcs#64

[2017-05-11 17:20] victornoel commented on #2566
Closing this issue in favour of #3330 (since it was opened by the rfc's author).

Thanks @destroyerofbuilds

[2017-05-11 17:20] #2566 closed

[2017-05-11 17:31] cpojer commented on #3371
- [ ] Consider `yr` (or similar) to reinvent running scripts. Similar to https://github.com/kentcdodds/nps.
- [ ] Re-architect Yarn based on experiments by @arcanis.
- [ ] Find some testimonials about how Yarn helped them for the blog post.

[2017-05-11 17:36] jamesongithub opened #3381 "Feature Request - mutex option with cache clean"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
yarn clean act independently of yarn install

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
We clean our yarn cache often on our build servers. These happen at the same as our yarn installs. Sometimes we get strange errors, like missing fil

[2017-05-11 17:37] victorges commented on #3160
Hey, I struggled with this error for a while when I finally managed to find the root cause, at least in my case:

For a `.tar.gz` to be used by `yarn add` it must have the file names starting with a `./`. I checked your tarball and all files are listed without the leading local directory ref (`tar -tf build.tar.gz`).

This can be fixed simply by modifying how you refer to your files when calling `

[2017-05-11 18:15] ricardovf commented on #976
+1, this would be great.

[2017-05-11 18:37] arcanis commented on #3371
An issue that we might have to consider: it will be hard to ship Yarn as a single file if we do this. Possible solutions are: making `yr` optional, or using `process.argv0` to launch the right binary depending on how the script has been invoked (similar to what busybox is doing).

[2017-05-11 19:04] srl295 commented on #2124
@jamieholliday as I said in the full-icu issue linked above, i'm not sure what I should do when called from `yarn`

[2017-05-11 19:18] mysterycommand commented on #3352
This sounds related to https://github.com/yarnpkg/yarn/issues/3363 … I am experiencing this too, `yarn add package-name` updates `package.json` and `yarn.lock`, but then `rm -rf node_modules/ && yarn install` (or when a co-working runs `yarn install` on a fresh clone) updates the `yarn.lock` again/differently.

[2017-05-11 19:21] jonschlinkert commented on #3288
I'm also experiencing this. For the second time this week I lost data in 8 or 9 different projects that were symlinked (not to one another, just symlinked globally). Unfortunately, I didn't know it was yarn that caused the data to be lost the first time. I assumed it was the tool I use for git.

[2017-05-11 19:35] SPSpwetter commented on #1168
Hmmm... Wondering if this is a regression? I'm using 0.18.1 and I only get yarn.lock file changes when package.json changes, even across platforms.

[2017-05-11 20:30] serg-gavel commented on #3377
I can't update from **0.22**, always got this message in **Terminal**, how can i solve this problem?

[code]

[2017-05-11 21:49] tomoguisuru commented on #3309
I am also seeing this same behavior with Yarn 0.23.2

[2017-05-11 23:44] cpojer commented on #3371
- [ ] Improve performance

[2017-05-11 23:48] blikblum commented on #3160
Thanks. That worked. Leaving open since at least a note in documentation is in order

[2017-05-11 23:51] blikblum commented on #3243
@bertramn you may want look at the workaround pointed at #3160

[2017-05-12 02:45] Daniel15 commented on #3371
We could make `yarn run` awesome (or a new `yarn awesome-run` or something like that), and then have `yr` simply be an alias for it. If you use the tarball version of Yarn (or the Windows installer or Homebrew package or whatever else), `yr` could simply be a shell script that runs `yarn run $@`

[2017-05-12 02:56] gluons opened #3383 "[Windows] New lines are created for progressive update after Creators Update"
I face zeit/hyper#1732 but I also see it on Windows **PowerShell** and **CMD**. It maybe Yarn issue?

---

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?** New lines are created for progressive update

- **On PowerShell:**

  <img width="793" alt="1" src="https://cloud.githubusercontent.com/assets/4688092/25980299/d3c6bc14-36f7-11e7-811c-8e9918b05097

[2017-05-12 06:03] OmgImAlexis opened #3384 "yarn upgrade should have a force flag"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
`yarn upgrade -f` ignores the `-f` flag

**What is the expected behavior?**
`yarn upgrade -f` should update the packages to the latest version ignoring the version range specified in the `package.json`.

[2017-05-12 06:51] gulderov commented on #686
only http works for me now:
`yarn add https://github.com/yarnpkg/yarn.git#20e5779ec324b3103ef9cca14ce9f96d29fd93c6`

[2017-05-12 08:54] cpojer commented on #3371
The only thing I care about is that we are careful not to introduce breaking changes. We can build things outside of the current "scripts" `package.json` field, but only if we also support the old way of doing things.

[2017-05-12 09:44] pimvdmolen commented on #2782
We could really use this feature!

[2017-05-12 09:48] nicoschoenmaker commented on #1143
Duplicate of #961, was fixed in #2826. Works for me in yarn `v0.23.3`.

[code]

[2017-05-12 10:24] ckarlbe commented on #2442
I have the same issue. "yarn run css" fails while  "npm run css" is successful.

[2017-05-12 10:32] arcanis commented on #3154
Yep, I'm on it 👍

[2017-05-12 11:04] Tiendq commented on #1321
`npm install -g` is helpful this case :)

[2017-05-12 13:29] i-prashant commented on #3203
Yup!...
With v0.23.4 , yarn install fails with git+ssh private repos.
With v0.24.2, yarn install works well!!

[2017-05-12 13:38] i-prashant opened #3385 "Yarn clones entire git+ssh repo instead of including only folders defined in package.json files: [] field."
**Do you want to request a *feature* or report a *bug*?**
Bug/feature ??

**What is the current behavior?**
yarn installs private git repo node_module by cloning it entirely

**What is the expected behavior?**
npm installs private git repo's only relevant files and folders by reading files: [] field in package.json
It would be great if yarn could do the same.

**Please mention your node.js, yarn a

[2017-05-12 13:38] bestander commented on #3381
I like the idea!
Want to send a PR?

[2017-05-12 13:40] bestander commented on #3383
There is a duplicate somewhere

[2017-05-12 13:43] bestander commented on #3376
Not sure which is better.
I think Yarn should definitely warn that this dep is already present.

[2017-05-12 13:47] bestander commented on #3373
That sounds like a nice idea.
Send a PR.

[2017-05-12 13:47] arcanis commented on #3154
Fyi, we're cutting the 0.25 release, which will **not** ship with a fix. There's various issues in play here, and I'd like to make the patch right, so it will probably ship in the next patch release. I'll keep you updated.

[2017-05-12 13:50] #3372 closed

[2017-05-12 13:53] olingern commented on #3381
@bestander I'd like to jump back in and tackle this and #1845.

[2017-05-12 13:53] bestander commented on #3368
We have started discussing a possibility to pass a --ignore/--filter list to upgrade/upgrade-interactive command.
I think Yarn should have something like that.
Maybe worth starting an RFC.

[2017-05-12 13:57] bestander commented on #3363
That sucks, we need to fix it, thanks for the steps

[2017-05-12 13:58] bestander commented on #3363
What is the error message?

[2017-05-12 13:58] swilde commented on #2536
same here

[2017-05-12 14:04] swilde commented on #2536
On a second look, the version I experience the problem with are different,

Using 0.21.3-1 debian package generation using fakeroot works.
But with 0.23.4-1 it fails.

[2017-05-12 14:12] bestander commented on #3357
The problem is in your environment, I reckon you have an environment variable that maybe starts with `yarn_` that breaks Yarn startup

[2017-05-12 14:12] #3357 closed

[2017-05-12 14:13] wereHamster commented on #3363
[code]

[2017-05-12 14:15] bestander commented on #3354
Does regenerating yarn.lock help?

[2017-05-12 14:15] bestander commented on #3353
I agree with you @Daniel15

[2017-05-12 14:17] bestander commented on #3352
`--frozen-lockfile` argument will notify if yarn.lock is outdated

[2017-05-12 14:17] #3352 closed

[2017-05-12 14:20] bestander commented on #3347
Send a PR, sounds cool

[2017-05-12 14:22] bestander commented on #3344
This is related to workspaces and monorepos and link: specifier.
I guess an RFC is needed to discuss

[2017-05-12 14:24] bestander commented on #3343
Probably this is because symlinks were not enabled on the computer, it requires and Admin access to enable development mode in windows and then symlinks should be available to non root users

[2017-05-12 14:25] agibralter commented on #3154
😭

😄  okie dokie

[2017-05-12 14:25] bestander commented on #3341
Can't repro, need more info to reproduce

[2017-05-12 14:25] #3341 closed

[2017-05-12 14:27] bestander commented on #3381
Thanks, @olingern, please do!

[2017-05-12 14:29] bestander commented on #3336
Send a PR with tests please :)

[2017-05-12 14:30] bestander commented on #3334
Could be related to CDN responses maybe, cc @Daniel15.
I'll close as this can't be reproduced anymore.
Thanks for reporting.

[2017-05-12 14:30] #3334 closed

[2017-05-12 14:39] DanBuild opened #3386 "yarn-homebrew #10 failed"
Build 'yarn-homebrew' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [bestander] fff16860744ac89d9fcb40e855133c2e30d52157 - Don't always prune mirrored scoped packages resolved by URLs (#3342)

- [bestander] 1b1706484eeab4f56103a4cfc51e1f5ffdc06c05 - link bins of transitive deps to top level (#3310)

- [bestander] 525ce9c34c074dea25ddf487b0ba57e6cfacea0

[2017-05-12 14:53] bestander commented on #3363
I think I know the reason.
There is a step during resolution in install command when Yarn merges semver compatible dependencies and installs the highest compatible one.
This step is not run during add command for some reason, which is a bug.

The error you see is probably caused by a breaking change in a library (babel-loader?).
PR and help in debugging would be welcome

[2017-05-12 14:54] gluons commented on #3383
@bestander I've tried to search it before. I can't find it. 😅

You can close if you found duplicate. (And please tell me, I'll subscribe.)

[2017-05-12 14:56] bestander commented on #3383
https://github.com/yarnpkg/yarn/issues/2530

[2017-05-12 14:56] #3383 closed

[2017-05-12 14:57] bestander commented on #3333
PR welcome :)

[2017-05-12 15:00] bestander commented on #3332
Thanks for a report.
Some more help with investigating what versions are installed in the tree and what is the expected structure will be welcome

[2017-05-12 15:01] gluons commented on #2530
Same problem with Windows 10 Creators Update.

Copy from #3383

- **On PowerShell:**

  <img width="793" alt="1" src="https://cloud.githubusercontent.com/assets/4688092/25980299/d3c6bc14-36f7-11e7-811c-8e9918b05097.PNG">

  <img width="780" alt="2" src="https://cloud.githubusercontent.com/assets/4688092/25980301/d81fd836-36f7-11e7-8d71-28449231fc4f.PNG">

- **On CMD:**

  <img width="828" alt="3"

[2017-05-12 15:02] bestander commented on #3329
Send a PR for Yarn `install` to not create a yarn.lock if there is no package.json in the folder.
Also maybe send a PR to make -v -and -V to be the same, I get confused all the time. But that one may be debatable because of some unix CMD standarfds

[2017-05-12 15:04] bestander commented on #3328
There are no steps to reproduce on the issue.
Please provide a package.json/yarn.lock how to get this issue reproduced.

[2017-05-12 15:04] #3328 closed

[2017-05-12 15:05] bestander commented on #3325
A PR with a test is welcome.

[2017-05-12 15:06] bestander commented on #3324
Nice feature, send a PR

[2017-05-12 15:07] jrop commented on #3336
@bestander I have a PR here: yarnpkg/yarn/pull/3339, and per your request I have added a fixture + a test that tests this.  I am having trouble getting the tests to pass: sometimes an async timeout error is thrown.  Is that normal?

[2017-05-12 15:07] #3323 closed

[2017-05-12 15:08] rally25rs commented on #3325
@bestander I did submit a PR with a test ;) #3351
I had hoped @mmucklo would take a look at it, but :tumbleweeds:

[2017-05-12 15:08] bestander commented on #3312
Yeah, I suppose there is no need to download and unzip the tarballs that are dev only dependencies.
Send a PR

[2017-05-12 15:12] DanBuild commented on #3386
Build was fixed!

[2017-05-12 15:12] #3386 closed

[2017-05-12 15:14] #3325 closed

[2017-05-12 15:14] syntactic-salt commented on #3354
@bestander I'm unable to generate a yarn.lock file because 'yarn install' fails with a bad hash error. This is an existing project that I'm trying to integrate yarn into, so I already have a package.json full of dependencies.

[2017-05-12 15:15] bestander commented on #3336
Yeah, I am ashamed that our tests are flaky sometimes.
Just don't have time to make them more robust.

[2017-05-12 15:19] bestander commented on #3354
Can you share package.json?
Is it failing only when using private registry?

Could it be that the nexus registry is returning a changed tarball vs npm?

[2017-05-12 15:19] #2760 closed

[2017-05-12 15:21] syntactic-salt commented on #3354
@bestander here's my package.json
[code]

What's the best way to test if the tarball is modified?

[2017-05-12 15:23] syntactic-salt commented on #3354
And yes, this only fails when using the private registry. If I use the default npm registry and remove my internal dependencies from the manifest, 'yarn install' is successful.

[2017-05-12 15:29] #3336 closed

[2017-05-12 15:34] bestander commented on #3354
The registry returns sha1 for each dependency and a link to download the .tgz file.

Try running `yarn install --verbose` to see the links it downloads.
Then download open the link eslint-loader metadata, e.g. `verbose 0.667 Request "https://registry.yarnpkg.com/left-pad" finished with status code 200.`
Download the .tgz file `eslint-loader-1.6.1.tgz` and check if shasum matches the actual file.

[2017-05-12 15:50] g-plane commented on #3329
Personally, I prefer to making `-v` and `-V` to be the same. May I send a PR?

[2017-05-12 15:50] syntactic-salt commented on #3354
I just did some testing and it looks like a problem with the registry or a bug with nexus. The tgz I'm getting through nexus isn't even compressed like the one the one you get from npm. Which is weird because nexus  is supposed to just proxy to the npm registry. Even weirder is that nexus seems to just be misrepresenting the file. The hash of the .tar I extract from the npm tgz has the same hash a

[2017-05-12 15:51] bestander commented on #3329
Please do

On 12 May 2017 at 16:50, Pig Fang <notifications@github.com> wrote:

[2017-05-12 15:54] #2938 closed

[2017-05-12 16:00] syntactic-salt commented on #3354
@bestander do you know if there is an option to disable the hash check while I work through this issue?

[2017-05-12 16:01] bestander commented on #3354
No, only in the code in tarball-fetcher.js

[2017-05-12 16:11] bestander commented on #3336
@jrop when to expect the PR?
I'd like to cut 0.25 release

[2017-05-12 16:29] devotis commented on #1116
Developer uses create-react-app. Developer sees yarn. Developer goes wtf is yarn. Developer goes  Google yarn. Developer sees `brew install yarn`. Developer runs `brew install yarn`. Developer drinks sip of coffee. Developer sees on screen and finds out node just called installed. Developer thinks wtf, I already had that with nvm. Developer freaks out having multiple node instances on computer. De

[2017-05-12 16:33] strarsis commented on #3081
@perevezencev: What atom plugin are you using for the icons? 😄

[2017-05-12 16:33] cmoesel commented on #3332
Thanks @bestander.  I've updated my example project with the data for your (and others) convenience.

**NPM**

You will find the results of `npm ls` and the resulting `node_modules` here:
https://github.com/cmoesel/eslint-8547/tree/master/npm_data

In the `npm ls` output, the `eslint-plugin-import` package shows up at the root:
[code]
and under react-scripts@0.9.5:
[code]

**Yarn**

You will find

[2017-05-12 16:40] cmoesel commented on #3332
Forgot to mention the versions of tools I'm working with:
* Operating System: macOS Sierra 10.12.4
* Node: v6.6.0
* NPM: 3.10.3
* Yarn: 0.23.4

[2017-05-12 18:10] dsifford commented on #609
FYI: just pushed an update which makes the completions feature-complete up to yarn `v0.24.4` https://github.com/dsifford/yarn-completion/releases/tag/v0.3.0

[2017-05-12 18:38] georgeedwards commented on #3345
I am seeing the exact same issue on Windows, yarn v23.4 - previously working but updates with the `.msi`
node version 6.10.3

[2017-05-12 19:27] jart opened #3392 "Privacy policy"
We noticed your proxy has no privacy policy, so we can't use it. We like yarn though, so can we fix that?

[2017-05-12 19:37] #2505 closed

[2017-05-12 19:38] vsimko commented on #2191
I experienced it too, but setting the network-concurrency parameter to 1 solved it in my case:
[code]

[2017-05-12 19:49] Daniel15 commented on #3295
This was done

[2017-05-12 19:49] #3295 closed

[2017-05-12 19:51] bestander opened #3393 "~ in config should be interpreted as HOME"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the expected behavior?**

[code]
Should create a folder in HOME/yarn-caches and use it for caches.
Currently ~ is not interpreted as HOME and yarn just creates folder named `~` in CWD of yarn execution.

This will be useful for multiple Yarn commands, so it would be nice to make this generic.

[2017-05-12 19:53] bestander commented on #3393
Duplicate of https://github.com/yarnpkg/yarn/issues/2008

[2017-05-12 19:57] bestander commented on #2008
The bug in issue description is fixed in 0.24.3.
Although I opened https://github.com/yarnpkg/yarn/issues/3393 related to the discussion here

[2017-05-12 19:57] #2008 closed

[2017-05-12 20:02] bestander commented on #3393
Contributions are very much welcome

[2017-05-12 20:08] Daniel15 commented on #3108
Hit this again today, this time with 504 gateway timeout:
[code]

[2017-05-12 20:27] bestander commented on #2662
@Antherkiv could you provide a package.json with an example how to reproduce the bug?
I'll close it for now as I can't reproduce it this way

[2017-05-12 20:27] #2662 closed

[2017-05-12 20:28] elyobo commented on #960
Above PR has been merged, so `--emoji` is now in master for non-Mac users :tada:

[2017-05-12 20:31] bestander opened #3394 "Use ES6 import syntax everywhere"
**Do you want to request a *feature* or report a *bug*?**
refactoring

**What is the expected behavior?**

We need to use ES6 imports for all code and not a mix of imports and requires.
This will make code more consistent and easier to automate with tools

[2017-05-12 20:46] bestander commented on #3332
So far looks like Yarn is behaving correctly.

The double output of `eslint-plugin-import@2.0.1` is weird but that is ok.

I ran `yarn check --verify-tree` to see if `install` created a correct folder structure from Node.js module resolution point of view.
It passes fine.

And according to your findings both npm and yarn give you correct

[code]

I checked the package.json files of all 3 of them a

[2017-05-12 20:49] markstos commented on #1168
It's hard to know what's a regression when there is no published spec for  use of the `yarn.lock` file.

[2017-05-12 21:02] sjmueller commented on #1116
Exactly @devotis, x1000. However the folks at homebrew want to sit in their ivory tower on this one and shoot arrows at anyone who raises an alternate perspective: https://github.com/Homebrew/brew/pull/1408#issuecomment-272343833

[2017-05-12 21:06] bestander commented on #3198
@arcanis is on this, we should fix it soom

[2017-05-12 21:13] bestander commented on #3028
Thanks for more data.
I'll investigate it a bit more as well, more help is welcome

[2017-05-12 21:14] bestander commented on #1832
Commenting on old closed issue won't help, please create a new one if you have repro steps with latest yarn

[2017-05-12 21:16] bestander commented on #2671
PR to implement this feature is very much welcome.
Should be a few lines actually

[2017-05-12 21:17] bestander commented on #2847
Done in 0.25

[2017-05-12 21:17] #2847 closed

[2017-05-12 21:21] bestander commented on #2738
Just a reminder that PR from the community is welcome, no one in the core team is currently looking into this

[2017-05-12 21:26] bestander commented on #764
Looks like most cases are fixed with a Node update.
Another way to help debug this is running with `--verbose` flag, to see what request is hanging.
Otherwise not sure we can do anything here

[2017-05-12 21:28] bestander commented on #1027
@justinfagnani, could you open a new issue if repro steps are different from the one in the issue description?
A PR or an investigation what goes wrong with the folders is very much welcome

[2017-05-12 21:31] bestander commented on #3005
Thanks, now how about a PR? :)

[2017-05-12 21:32] #3003 closed

[2017-05-12 21:32] SPSpwetter commented on #1168
Well, the docs make it pretty clear that you're supposed to checkin your yarn.lock file with your source, and know that running yarn again should give you the same set of node_modules and the same yarn.lock file.

Our workflow here is:

1. UI Dev use Yarn add or whatever to get new package.
2. UI Dev checkin updated package.json and yarn.lock.
3. CI System builds on Linux, yarn.lock doesn't change

[2017-05-12 21:35] bestander commented on #1684
@jimtom2713, yes this is intended,  Yarn guarantees that node_modules is clean every time you install.

[2017-05-12 21:40] SPSpwetter commented on #1168
Hmmm... Ok, I'm getting a diff in the yarn.lock file, where I didn't used to:

[code]

[2017-05-12 21:43] SPSpwetter commented on #1168
Reverting to 0.18.1:

[code]

So doesn't happen with old version.

[2017-05-12 21:57] Couto commented on #2181
Slightly related but is it possible to configure the cache dir as a command flag during the instalation process?

e.g.: `yarn install --cache-folder=/opt/project/.local-yarn-cache`

This is useful in some CI environments where you can't write outside of the project's folder.

[2017-05-12 23:06] syntactic-salt commented on #3354
I've confirmed this issue is due to bad files being served up by my nexus repository. Closing this issue.

[2017-05-12 23:06] #3354 closed

[2017-05-12 23:45] nsgundy commented on #1684
@bestander would love to be able to run `yarn install` and `yarn install --production --modules-folder ./dist/node_modules` (or some new version of that) one after the other and as a result have all modules (both dev-dependencies and production-dependencies) in `node_modules` and only the production dependencies in `./dist/node_modules`.

Currently that's only possible if you rename the `node_modu

[2017-05-12 23:49] bestander commented on #1684
Ah, I think it makes sense now.

So the --production run removes node_modules from CWD?

On Sat, 13 May 2017 at 00:46, Gundy <notifications@github.com> wrote:

[2017-05-13 01:03] binarykitchen commented on #3011
@bestander now gave this a try and something does not look right. it gets stuck when publishing.

[code]

[2017-05-13 01:34] zkat commented on #816
Hi y'all.

Just dropping in to point out that the npm registry has started serving more secure hashes with packages that have been published with it.

You'll find the new hashes in the `dist.integrity` field of package manifests, in the same object as `dist.tarball` and `dist.shasum`. The integrity field is a proper [subresource integrity](https://npm.im/ssri) field. Please note that in order to b

[2017-05-13 04:03] chanduforstudy commented on #3357
My local environment don't have any environment variable starting from `yarn_`. There may be some other reason.

[2017-05-13 07:14] Daniel15 opened #3396 "Retry using different registry mirror if registry.yarnpkg.com fails?"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
If the connection to `registry.yarnpkg.com` fails and the retries also fail, the installation totally fails

**What is the expected behavior?**
It would be nice to have a fallback mechanism. If hitting `registry.yarnpkg.com` fails multiple times, maybe try using CloudFlare's mirror (`npmjs.cf`) or

[2017-05-13 07:17] Daniel15 commented on #3392
I can't really comment on the privacy policy side of things (as that's not an area I'm familiar with), but you can change the registry to the regular npm one by running `yarn config set registry https://registry.npmjs.com/`.

[2017-05-13 10:10] serg-gavel commented on #3377
update to **v0.24.4** all working correctly

[2017-05-13 10:26] serg-gavel commented on #3377
#3377

[2017-05-13 10:40] #3377 closed

[2017-05-13 16:03] nsgundy commented on #1684
@bestander Yes, that's exactly what is happening.

[2017-05-13 16:48] kirs commented on #764
You can also use `strace` to see what exactly it hanging.

[2017-05-13 22:30] calvinhuang commented on #3376
Yea, I'm not sure if there's actually any use case for it being in both. A warning would certainly be nice and avoid any confusion that might be caused by the current behavior.

[2017-05-13 23:31] skfd opened #3398 "Yarn suggests using deprecated verb `install` on calling `yarn i`"
### Steps
1. Run `yarn i example`.
2. Follow the suggestion and run `yarn install example`.
### Expected
Yarn would infer that we're trying to call `install` and remind that we should use `add`.

### Actual
Yarn bamboozles us by suggesting to use deprecated `yarn install`:
`error Did you mean 'yarn install'?`

### Versions
yarn: `0.24.4`
node: `v6.9.1`

[2017-05-13 23:59] bertramn commented on #3243
@blikblum unfortunately the workaround does not work in my case. I am using the standard GitHub source download API to pull down the package. Changing the way the sources are zipped is solely controlled by that API.

[2017-05-14 04:33] dashed commented on #1619
Reporting as of May 14, 2017, that `yarn publish` seems to be borking things. `npm publish` works though 😄

[2017-05-14 07:55] ifzm opened #3399 "Support emoji for Ubuntu ?"
![2017-05-14 15-51-45](https://cloud.githubusercontent.com/assets/12740295/26032124/a126a4b4-38bd-11e7-98a4-4e69446a7f0b.png)
OS：Ubuntu 16.04 LTS
Shell：oh-my-zsh

I want to show emoji, but without success, what else do i need to do?
Hope someone can help me, thanks.

[2017-05-14 10:00] maxcr opened #3400 "tar jxvf instead of tar -jxvf wtf???"
[code]

Notice the lack of dash for indicating flag. Is this a yarn problem, or a phantomjs-prebuilt problem?

[2017-05-14 14:08] sharikovvladislav opened #3402 "Why I am not able to run yarn globally installed packages (macOS Sierra)?"
Hi!

I just installed `yarn`. Version is: `0.24.4`
**Do you want to request a *feature* or report a *bug*?**

I think it is a bug or I installed yarn incorrect.

**What is the current behavior?**
I am not able to run globally installed packages.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. I installed yarn with: `brew install yarn`
(note: Firsty, I accidently i

[2017-05-14 14:17] Tonkonozhenko opened #3403 "Cannot install package from file"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Yarn does not install npm packages from local .tgz file

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behaviour?**
In version 0.21.3 it worked.

**Please mention your node.js, yarn and operating system version.**
[code]

[2017-05-14 14:27] OmerHerera commented on #3115
@gpoole The problem deleting the entry in the `yarn.lock` file manually its that after that `yarn` will yield a message that `yarn.lock` about integrity and create a new yarn.lock file loosing all entries

[2017-05-14 15:28] damonmaria opened #3404 "yarn does not handle case-only filename change on case insensitive OS"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

1. Publish a package (I used npm to publish)
2. `yarn add` the package to a project
2. Rename a file in the package **only changing the case of the filename**
3. Publish again (using npm again)
4. `yarn upgrade` the package in the project
5. The renamed file will be missing from the installed package

[2017-05-14 16:31] Bamieh opened #3405 "yarn SyntaxError"
im trying to run a pm2 node server through yarn by running the command `pm2 start yarn -- start`. this command works completely fine when replacing `yarn` with `npm`

after lookig at the log file,  it seems that its a yarn bug

[code]

yarn version: 0.24.4

[2017-05-14 18:09] sharikovvladislav commented on #3402
This issue is possibly duplicate https://github.com/yarnpkg/yarn/issues/648

[2017-05-14 18:09] #3402 closed

[2017-05-14 18:10] sharikovvladislav commented on #648
Same issue there:

[code]

[2017-05-14 19:01] Daniel15 commented on #3405
It looks like it's trying to execute `yarn`'s shell script as a JavaScript file 😛  That won't work.

Try `pm2 start yarn.js -- start` instead and see if that works?

[2017-05-14 19:03] Daniel15 commented on #3400
Dashes are optional for `tar`.

This looks like a bug in phantomjs - This error seems to be coming from Phantom rather than from Yarn. Please feel free to reopen this issue if you can confirm that it's a Yarn bug.

[2017-05-14 19:03] #3400 closed

[2017-05-14 19:35] dantix commented on #3363
I have a similar problem with my project. https://github.com/dantix/waterly/tree/eslint-airbnb
If I do a clean install, eslint is not working properly. If I install `eslint` 3.15.0 first, then update it to the 3.19.0 - it will work properly.

I've made a diff of file tree and there is a difference in how `eslint` dependency is included in modules.
In my case, after clean install `eslint-config-air

[2017-05-14 20:11] bestander commented on #3363
Thanks for repro steps

On Sun, 14 May 2017 at 20:36, Roman Holovin <notifications@github.com>
wrote:

[2017-05-14 20:54] cebor opened #3406 "Install bcrypt fails with yarn 0.24 (node-pre-gyp)"
Installing `bcrypt` with yarn fails, reproducible with the following steps:

[code]

Error:
[code]

Installing bcrypt with npm or yarn 0.23.4 works fine.

macOS Sierra 10.12.4
node v7.10.0
yarn 0.24.4

[2017-05-14 23:31] mmucklo commented on #3325
@rally25rs - sorry I've been out of town.  I should be able to test the patch on Monday if not later today...

[2017-05-14 23:56] gpoole commented on #3115
Oh yep, I can see an integrity check warning but for me removing a single entry didn't cause the any other entries to be updated, just the missing entry was re-added with a newer version. I also deleted the lockfile to compare results and a whole bunch of entries were changed in the regenerated version, so it does seem to work in 0.23.3.

[2017-05-15 02:07] tomitrescak commented on #2786
Same environment, same problem.

[2017-05-15 06:16] vvo commented on #1915
It happened to me right now and I believe it happens when you do this:

[code]

Maybe because those dtrace provider modules where cached and shared somehow.

[2017-05-15 07:29] buschtoens opened #3407 "Only send authentication header for the correct registries"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

If the user previously logged in to some registry, for instance the public npm registry, yarn always sends an `Authorization` header when requesting scoped packages, even if these are unrestricted packages or are requested from a different registry.

Some private registries (specifically [Nexus, iss

[2017-05-15 07:50] Congelli501 commented on #692
I generally try not to change directory in my bash scripts.
The problem is that you need to add a lot of code to just make a yarn install and go back to the previous state. From a developer POV, the cwd is a global state, and I prefer to pass it as an argument than keeping it global. You may also move code and forget a "cd ..", breaking further and unrelated parts of your script.
[code]
Most comma

[2017-05-15 10:20] bestander commented on #3360
https://github.com/yarnpkg/yarn/pull/3382

[2017-05-15 10:22] htulipe commented on #2240
@pribilinskiy tip does not work for me unfortunately.

[2017-05-15 10:56] voxsim opened #3408 "Use yargs npm project for the command line"
I took some time to study some cli npm packages. We did many hacks and tricks to adopt commander.js and I think we should move to yargs (https://github.com/yargs/yargs). It seems promising and it is quite active.

Pro:
- It has support for sub commands
- We can have one file for each command or sub-command
- it has support for alias

Cons:
- It has not native support `yarn help`, but it has native

[2017-05-15 11:04] Bamieh commented on #3405
you are right :D it worked.

[2017-05-15 11:04] #3405 closed

[2017-05-15 11:49] redstrike commented on #1222
OMG! yarn is buggy again on the latest stable version: **0.24.4** 😭

![yarn bug](https://cloud.githubusercontent.com/assets/2168227/26056300/ee18a876-399e-11e7-9398-86b19e34314c.png)

**Windows 10 Pro** v1703 (OS Build 15063.296)

[2017-05-15 12:03] dunnock commented on #1915
This seems related to another issue with tap-consumer https://github.com/yarnpkg/yarn/issues/886 , because when I manually run yarn install from dtrace-provider it fails with error
[code]

[2017-05-15 12:08] bestander commented on #2832
Can't repro on 0.24.3

[code]

[2017-05-15 12:08] #2832 closed

[2017-05-15 12:12] bestander commented on #2690
This is fixed in 0.23.
Now yarn.lock contains remote URL always and the tarballs should be saved correctly

[2017-05-15 12:12] #2690 closed

[2017-05-15 12:21] bestander commented on #2903
I reckon this is fixed in 0.24 now.
[code]

[2017-05-15 12:21] #2903 closed

[2017-05-15 12:26] nikolakanacki commented on #1503
Hmm... If one needs dependencies for development / testing, shouldn't one put them under `devDependencies`? Not trying to drop a bomb or anything...

[2017-05-15 12:28] rally25rs commented on #3406
bcrypt installs OK for me on:

OSX Sierra
Node 6.3.0 and 7.7.1
Yarn 0.23.4 and 0.24.4

[code]

I thought maybe this was a regression from 0.23 to 0.24, but I tried it before and after upgrading and it worked for me with both Yarn versions.

From some searches, it seems like node-gyp loves to fail for lots of people for lots of different reasons. Seems like every open source project out there that

[2017-05-15 12:34] bestander commented on #3005
If I understand the problem correctly, running `yarn install` when there are linked dependencies may modify installed node_modules of the linked dependencies.

This needs some investigation for sure.
In general this bug should be addressed with workspaces that we are working on now.

[2017-05-15 12:36] rally25rs commented on #3394
Could consider adding this ESLint plugin https://github.com/benmosher/eslint-plugin-import and use the `no-commonjs` rule in .eslintrc

[2017-05-15 12:40] rally25rs commented on #3385
Duplicate of #2822 @bestander

[2017-05-15 12:40] #3385 closed

[2017-05-15 12:42] rally25rs commented on #3384
As a workaround, you could use `yarn upgrade-interactive` which already ignores the version ranges.

[2017-05-15 12:46] rally25rs commented on #3371
This wouldn't be part of a tagged "1.0" codebase, but I'd like to see a stable CI environment.

Every PR fails currently, so it is really difficult to tell if a PR is actually safe to merge. Or as a contributor, know if your code actually works across multiple systems.

This would also go toward @cpojer 's comment:

[2017-05-15 12:48] bestander commented on #3371
@rally25rs, indeed.
Do you have any idea what causes the timeouts?
I'd love to spend some time logging where exactly tests start hanging

[2017-05-15 12:52] kittens commented on #3408
The cons you've described are pretty significant. We've already got support for all the pros you listed so there's zero benefits to switching.

[2017-05-15 12:54] voxsim commented on #3408
Hey @kittens ! Yep you are right, but we do a lot of custom choices, we just use commander.js just for the options/flags part. Adopting yargs would mean reducing a lot the codebase and the number of hacks in yarn.

[2017-05-15 12:59] rally25rs commented on #3371
I looked at the last 3 PRs, and 2 of them timed out in the same test:

But one of them only timed out in CircleCI, the other only times out on 1 of the 6 Travis builds.
So it seems really inconsistent. Must be some odd timing issue or something locked where it is hanging for 2.5 minutes.

Not sure how to best dig into that. I've never seen it fail locally.

[2017-05-15 13:13] bryanlarsen commented on #3005
It's not just linked dependencies, that's just the easiest way to reproduce it.   The basic problem is that the node_modules directory layout is not stable.   Another way to do it is to have an optional dependency.  If the optional dependency installs, the node_modules layout can be considerably different than when it doesn't install.    Or an upgrade might totally rejigger the node_modules layout

[2017-05-15 13:20] bryanlarsen commented on #3005
But workspaces look awesome.    lerna doesn't work for us but it does look like workspaces will.  I fully agree with tabling this issue until after workspace support is released.

[2017-05-15 13:25] bestander commented on #3005
Yarn should install the same structure of node_modules no matter if package is actually installed or not.
E.g. the layout will be the same when you do `yarn install` and `yarn install --production` although in the `--production` install node_modules will have some dev-only packages missing.

Yarn can restructure all node_modules with an upgrade, e.g. when a package becomes more common and it gets

[2017-05-15 13:26] dalsh commented on #2983
Are you inside a VM ? May be related to [this issue (929)](https://github.com/yarnpkg/yarn/issues/929)

[2017-05-15 13:35] codebymikey commented on #3223
@torifat awesome., is there a reason it's not promoted in the [documentation](https://yarnpkg.com/lang/en/docs/cli/install/)?

[2017-05-15 13:52] sarbbottam commented on #2118
Is there any update on this issue?

[2017-05-15 14:29] cebor commented on #3406
@rally25rs
I think it has something to do with that I have only the commandlinetools installed and not xcode.

[2017-05-15 14:51] dadamssg opened #3409 "Yarn on windows does not install all packages"
Bug

Platform:
Windows 7 Professional 64-bit
Node 7.10.0
Yarn 0.24.4

After using `yarn insall`, i get the following output but there are packages that never get installed. For example, none of the webpack packages are installed or eslint.

![screen shot 05-15-17 at 09 47 am](https://cloud.githubusercontent.com/assets/881986/26063422/a08ebc6c-3953-11e7-9682-a4651cd3ce2b.PNG)

`package.json` here:

[2017-05-15 15:07] bestander commented on #3104
Is it a docker only problem?
Can this be reproduced with lerna only?

[2017-05-15 15:08] bestander commented on #3276
I'll need a package.json to verify if the fix works but I've put up a PR with a possible fix.

[2017-05-15 15:08] FezVrasta commented on #3104
On lerna side, they fixed it with [this approach](https://github.com/lerna/lerna/issues/752#issuecomment-293313797), but I think Yarn should find a way to allow simultaneous instances to run.

[2017-05-15 15:09] dadamssg commented on #3409
i'm an idiot. For some reason i have NODE_ENV set to production locally.

[2017-05-15 15:09] #3409 closed

[2017-05-15 15:22] himanshuphirke commented on #2983
Yes
Its VM and working on mounted partition

[2017-05-15 15:24] mltel commented on #3309
I am also seeing this issue with Yarn v0.23.4

[2017-05-15 15:51] sarbbottam opened #3411 "`yarn` not respecting the local `.npmrc` if `~/.npmrc` is present."
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
`yarn` in the presence of `~/.npmrc` does not respect the `~/local/.npmrc`.

**If the current behavior is a bug, please provide the steps to reproduce.**

This is to do with scoped internal packages.
You can only reproduce it if you are dealing with scoped internal (non-npm hosted packages).
- create

[2017-05-15 16:03] olingern commented on #3381
Looking over `install.js`'s `init` function, I could add a flag to disable cleaning.

Something like `yarn clean && yarn install --noClean` seems like it takes care of this use case.

Thoughts @bestander @jamesongithub ?

[2017-05-15 16:23] arcanis commented on #3211
I've tried with Yarn 0.24.3, and I didn't see this warning when using `"private": true`. Please reopen this issue if you think I'm mistaken, thanks!

[2017-05-15 16:23] #3211 closed

[2017-05-15 17:21] rally25rs opened #3413 "seems to sometimes try to download tgz from wrong url, causing 404"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Attempts to run Yarn0.24.4 back to back, _note that the failing package is different both times_:

[code]

The download URLs for those tgz files appear to be missing part of the URL.

See the metadata for grunt-lesslint: https://registry.yarnpkg.com/grunt-lesslint

It includes:

[code]

Based on this

[2017-05-15 17:29] rally25rs commented on #3413
This seems to be related to the cache. After upgrading from 0.23.4 to 0.24.4 I started seeing these errors.

Doing a `yarn cache clean` seems to have resolved it

[2017-05-15 17:29] #3413 closed

[2017-05-15 17:59] Daniel15 commented on #3406
This may be an issue with `node-pre-gyp` specifically.

[2017-05-15 18:37] bestander commented on #3381
I think the clean in install is different, that one cleans node_modules from files like README and tests.

This is more like calling `cache clean` command at the start of install, before resolution maybe.

After thinking about it I think you can solve this for your CI needs another way.
Just provide a unique (temp) folder for caches via `--cache-folder` argument.
Then caches won't be interfering w

[2017-05-15 18:46] jamesongithub commented on #3381
so we already have multiple cache folders on our build servers (one / build slot). this issue is how do clean these while installs are running and using the cache?

[2017-05-15 18:48] bestander commented on #3381
Do you want to clean cache after the install to save disk space for eample?

[2017-05-15 18:48] jamesongithub commented on #3381
we moved to multiple cache folders since running concurrent yarns with mutex was causing waiting times from 20-30 minutes

[2017-05-15 18:49] jamesongithub commented on #3381
yeah. after some time, builds servers will run out of space. since we're using 16 cache dirs. it fills up fast.

[2017-05-15 18:50] jamesongithub commented on #3381
what would be nice is per package installs and have those shared across yarn installs. you could lock individually on those instead. then we wouldn't have to have multiple cache dirs. space would also be less of an issue.

[2017-05-15 18:52] bestander commented on #3381
Yeah, it would be great to make Yarn resilient to concurrent installs and lock individual cache folders.
Then the problem would be solved for many.
That could be a bit complex but you could build something on top of the current locking solution we use in install

[2017-05-15 18:53] jamesongithub commented on #3381
when you say "individual cache folders" you mean "individual modules"?

[2017-05-15 18:54] jamesongithub commented on #3381
"individual module locking / shared modules across installs" would solve most of these problems i think

[2017-05-15 18:56] bestander commented on #3381
I mean if a process wants to build a download a package `leftpad@0.0.1` it could lock the folder at
`/Users/bestander/Library/Caches/Yarn/v1/npm-leftpad-0.0.1-86b1a4de4face180ac545a83f1503523d8fed115` when it explodes the .tgz file in there.
Then no other Yarn process can read from or write to this folder until the first one finishes.

Our `--mutex` feature is built on top of a basic socket server

[2017-05-15 19:04] DanBuild opened #3414 "yarn-homebrew #14 failed"
Build 'yarn-homebrew' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [bestander] a371bc2e851c48ba2c922c5eb2834aea5feafa11 - LICENSE: Specify BSD 2-Clause (#3133)

- [bestander] b501276ab7c7281ee1cd4ba41840a97f1cd8ce1a - update eslint, eslint-config-fb-strict and other dependencies (#3390)

- [noreply] 6fc6d6279dbba3ec40cc3a0dad31755b5a90f7c2 - fixed ord

[2017-05-15 19:09] DanBuild commented on #3414
Build was fixed!

[2017-05-15 19:09] #3414 closed

[2017-05-15 19:14] cmoesel commented on #3332
Thank you for looking into this, @bestander.  It sounds like both yarn and npm are _technically_ doing the right things from a dependency installation/resolution point of view -- so any difference in eslint behavior is likely due to some variance that is not technically _illegal_ but still somehow affects eslint plugin resolution.

There have been a couple of "me too"s over on the eslint side (see

[2017-05-15 19:14] Daniel15 opened #3415 "update-homebrew.sh needs to run "git pull" before running " brew bump-formula-pr""
Otherwise the build fails (#3414) and it needs to be ran a second time to actually work.

[2017-05-15 19:15] raido commented on #2240
@pribilinskiy https://github.com/yarnpkg/website/pull/497

[2017-05-15 19:15] raido commented on #3223
@codebymikey https://github.com/yarnpkg/website/pull/497

[2017-05-15 19:16] bestander commented on #3332
I'll have another look when I have a moment.
Eslint is known for being sensitive to node_modules structure.
Any help to pin point the problem is very much welcome

On 15 May 2017 at 20:14, Chris Moesel <notifications@github.com> wrote:

[2017-05-15 19:23] sarbbottam commented on #3411
Possibly related issues:
- #521
- #606
- #2118
- #2193
- #2541

[2017-05-15 19:24] sarbbottam commented on #3411
Please note `yarn` does not respect the `~/local/.npmrc` only if there is a `~/.npmrc`.
If there is no `~/.npmrc`, `yarn` works as expected.

[2017-05-15 19:26] bestander commented on #976
Digging into that now.
The reason for installation getting stuck is in `gulp install` script in `install` phase of `semantic-ui` package.

[2017-05-15 19:29] bestander commented on #976
Looks like semantic-ui has some interactive installation step that Yarn does not print

[code]

[2017-05-15 19:29] #2361 closed

[2017-05-15 19:30] bestander commented on #2361
Commented in the linked package

[2017-05-15 20:01] bestander commented on #1144
Not relevant at this point, we'll get back to this later

[2017-05-15 20:01] #1144 closed

[2017-05-15 21:08] cebor commented on #3406
@DanBuild can i force yarn to use `node-gyp` not `node-pre-gyp`?

[2017-05-15 21:39] Vanuan commented on #1961
Docker is intended to isolate from the filesystem differences.
Unfortunately when you mount a folder from the host you break that isolation.
To seal the hole you have to use a docker volume in the folder where you intend to create symlinks:
[code]
This way yarn wouldn't fail.

P.S. I'm not saying yarn doesn't have an issue when dealing with SMB-mounted volume.

[2017-05-16 00:38] jamesongithub commented on #3381
i see, so back to the original issue. it seem it's still would happen with package locking. just would happen less, since one would presumably clean less.

[2017-05-16 00:50] mattwiller commented on #1570
@mattbrunetti @kittens This would be useful for us as well; +1 to reopening

[2017-05-16 01:49] lyhoanglong commented on #3406
I have the same problem. I rollback yarn to version 0.22.0 and its works.

[2017-05-16 04:13] Daniel15 commented on #3406
There's a discussion about this going on in #3240

[2017-05-16 04:44] ramasilveyra commented on #573
https://github.com/yarnpkg/yarn/pull/2992 added support for private git repos when using shorted repo syntax (this landed on v0.24.0).

The generation for the first time of a `yarn.lock` file works well, but then with a yarn.lock file if you try `rm -rf node_modules && yarn` fails with this error:
[code]
That error comes from https://github.com/request/request/blob/b12a6245d9acdb1e13c6486d427801e1

[2017-05-16 05:29] rogchap commented on #2738
@bestander Are there any pointers from the core team where the issues may be?
Our current workaround is to go back to using npm 😞

[2017-05-16 06:36] mmucklo commented on #3325
Fixed as of yarn v0.25.2

[2017-05-16 07:15] yuanyuanshen opened #3418 "yarn需要像npm一样配置代理么？"
公司网络需要配置代理。npm配置完可以正常下载依赖包，但是安装完yarn之后连不上网，
yarn config set proxy http://XX  依然连不上网

[2017-05-16 07:15] bestander commented on #3381
Yes, I assume that then you don't need cleanup because cache can be reused.

Still there might be a valid use case when we want to automatically call
clean after install.
Maybe a setting 'clean-after' and invoke cache clean at the end of install?

On Tue, 16 May 2017 at 01:38, James Yang <notifications@github.com> wrote:

[2017-05-16 07:18] bestander commented on #2738
Somewhere in package-resolver or package-fetcher.

On Tue, 16 May 2017 at 06:29, Roger Chapman <notifications@github.com>
wrote:

[2017-05-16 07:33] victornoel commented on #2763
Unfortunately, this workaround does not work anymore with yarn 0.24.x since #2629 was solved with #3106...

@bestander this issue is becoming critical now, because it's really complex to handle manually situations where the resolved dependencies are incorrect (because of faulty dependencies package.json).

My use case is the following:
One of my dependency (angular-cli) insists to use the followin

[2017-05-16 07:41] EthanMichaels commented on #932
Seeing this on macOS with Yarn 0.23.4. Rebuilds `sqlite3` every time I run `yarn add`.

[code]

[2017-05-16 07:43] victornoel commented on #2763
And for the record, it's not always for convenience reasons that this happens, the same happened during the transition between angular v2 to v4, when many dependencies forced the dependency to angular 2 even though v4 was API compatible with v2.

[2017-05-16 07:51] Daniel15 commented on #859
This should be fixed in 0.24.x

[2017-05-16 07:51] #859 closed

[2017-05-16 07:52] Daniel15 commented on #1226
This was fixed in 0.24.x

[2017-05-16 07:52] #1226 closed

[2017-05-16 08:04] mcfedr opened #3419 "Add/install confusion for global install"
**What is the current behavior?**

    $ yarn -g add nodemon
    yarn install v0.24.5
    error `install` has been replaced with `add` to add new dependencies. Run "yarn global add add nodemon" instead.
    info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

**What is the expected behavior?**

Yarn installs `nodemon` globally

**Please mention your node.js, ya

[2017-05-16 08:30] dalsh commented on #2983
Then I guess you should try adding --no-bin-links to your call

[2017-05-16 09:22] gcazaciuc commented on #1756
Same problem here on v0.24.5 with "@types/node"

[2017-05-16 09:49] victornoel opened #3420 "frozen-lockfile does not fail when lockfile is autocorrected because of incorrect entries"
Since #3106, yarn autocorrect the lockfile in some cases.

I was expecting that using `--frozen-lockfile` would fail in that case, since it means modifying the lockfile.

I suppose that check should fail too, as well as `--pure-lockfile`…

[2017-05-16 09:50] victornoel commented on #3420
By the way, there is a typo (ignoring) in the warning message:
[code]

[2017-05-16 09:51] chr1shaefn3r commented on #3309
I am also seeing this issue with Yarn v0.24.5

[2017-05-16 10:01] whitecolor commented on #1570
[This things called yalc](https://github.com/whitecolor/yalc) maybe useful who work with multiple self-authored packages in development, it simplifies workflow of package usage in the project before package is properly published, better than `npm link` or installing from git.

[2017-05-16 10:32] kmdm commented on #2636
Would seem to at least be caused by:-

 * 'node_modules' being added to FOLDERS_IGNORE d1d5343082cd5a3b2020962c0bb6f2d6fb1ac4f3
 *  Accessing of bundledDependencies incorrect in commands/pack.js
  - src/cli/commands/pack.js:  const {bundledDependencies, main, files: onlyFiles} = pkg;
  - src/util/normalize-manifest/fix.js:    info.bundleDependencies = info.bundledDependencies;
  - src/util/normali

[2017-05-16 10:42] mkastner commented on #536
Same on my current target system with v0.24.5 on `is-number`.

[2017-05-16 11:36] atrauzzi commented on #1961
To @Vanuan's point, I like to put an entry for `node_modules` inside of a `.dockerignore` file.  This permanently protects against ever accidentally snagging the native deps.

[2017-05-16 12:53] mitsuhiko commented on #1311
For what it's worth I see the same behavior with local file references.

[2017-05-16 13:02] Vanuan commented on #1961
@atrauzzi Well, `.dockerignore` file doesn't protect against mounted volume.

[2017-05-16 13:19] mitsuhiko opened #3421 "Yarn does not symlink missing binaries"
**What is the current behavior?**
When you npm install a package like sentry-cli-binary or vscode-ripgrep the postinstall step will download a platform specific executable and put it into the bin folder. With yarn the symlink is not generated because the file does not exist yet.

**If the current behavior is a bug, please provide the steps to reproduce.**
Make a dependency to `sentry-cli-binary` a

[2017-05-16 13:34] UnwashedMeme commented on #3010
I found at https://github.com/yarnpkg/yarn/blob/4a37df0a72922ac584bc84aaa8b8a077ce9d07ef/src/cli/commands/global.js#L89  that it looks at the node executable and calculates a prefix relative to that; it will then look in that prefix for a `.yarnrc` file. so in the docker library node:6 image I was able to make `/usr/local/.yarnrc` and actually set config globally.

Don't like it, but it works unti

[2017-05-16 14:07] atrauzzi commented on #1961
Ah yeah, definitely gotta watch for that :D

[2017-05-16 14:35] kellyrmilligan commented on #1834
same issue here as well, os x sierra, node 6.9.2, latest yarn

[2017-05-16 16:02] samccone commented on #536
confirmed, let's reopen.

[2017-05-16 16:06] luislobo commented on #960
@elyobo thank you! btw, I tried it but for some reason on my terminal I don't see any Emoji (Not that it takes my sleep away...). may be @daltones can share what he did to make Emojis work on his setup?
I'm using Ubuntu + i3

[2017-05-16 16:44] samjacobclift commented on #3393
This seems to be fixed in later versions of yarn
[code]

or am I missing something :)

[2017-05-16 16:49] bestander commented on #3393
It translates `~` to home folder on the way into .yarnrc.
In .yarnrc it will be saved as `/Users/samclift/yarn-caches` which can't be shared among multiple users

[2017-05-16 16:49] bestander commented on #3393
I'd like ~ inside .yarnrc to be interpreted as home folder

[2017-05-16 17:42] rufman opened #3423 "yarn pack not packaging node_modules for bundledDependencies"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
`yarn pack` on a package with bundled dependencies does not include `node_modules`, whereas `npm pack` does.

**If the current behavior is a bug, please provide the steps to reproduce.**

- Create a `package.json` with specifying `bundledDependencies`
- Run `npm pack`
- Run `yarn pack`
- Untar both. T

[2017-05-16 17:52] miskreant commented on #937
You can also workaround by deleting yarn.lock, instead of nuking node_modules

[2017-05-16 17:52] frank-weindel opened #3424 "'yarn run' does not forward SIGTERM to process"
When running an application via 'yarn run' and a SIGTERM is signaled on it, yarn does not forward the SIGTERM to its child process(es). Hence an application's graceful shutdown code cannot run.

[2017-05-16 17:53] samjacobclift commented on #3393
Ahh I see

[2017-05-16 18:08] bestander commented on #2763
If a dependency depends on `typescript@>=2.0.0 <2.3.0` and it works with `typescript 2.3.x` then ask the library maintainer to loosen the dependency semver or fork it an loosen it yourself.
Why should yarn violate dependency requirements?

[2017-05-16 18:10] bestander commented on #573
@ramasilveyra, do you have a PR in mind that could fix it?

[2017-05-16 18:12] #3318 closed

[2017-05-16 18:14] ramasilveyra commented on #573
@bestander Hey I just created a pr with the fix https://github.com/yarnpkg/yarn/pull/3425, but I'm not sure if it's the best solution.

[2017-05-16 18:22] maxime1992 commented on #2763
@bestander we can't ask every maintainer to do that nor do it ourselves.
Why a resolution in `package.json` would be so problematic ?

[2017-05-16 18:26] bestander commented on #2763
Maybe I don't understand it right but looks like that Yarn is resolving the dependencies correctly according to semver.
What is the proposal for Yarn to do?

[2017-05-16 18:30] bestander commented on #976
Does anyone have an idea how to detect that a package is trying to open an interactive console in install scripts?
I think in this case Yarn should fail installation, this is not the type of install scripts that is supported by Yarn.

[2017-05-16 18:31] maximeg commented on #3315
I'm running into this too.

Some context: I currently work from 2 different laptops (work & home, same config, same versions of yarn & node) on two branches (say "master" & "work" with work having some new deps not in master yet).
I switch a lot between the branches, running upgrades from "master" then merging "master" into "work", adding deps in isolated commits (with related handwork) in "master

[2017-05-16 18:41] victornoel commented on #2763
@bestander we want the same thing that `--flatten` does, but on a per-package basis.

It's a feature used a lot in maven for example. Sometimes you use libraries that are not maintained anymore and that depends on buggy versions and the only choice you have is to force a version for one of its dependency.

Something like a resolve field where you can enforce a given version for a given dependency'

[2017-05-16 18:41] victornoel commented on #2763
(by the way, it's more a feature than a bug, except if `resolve` was meant to solve this situation).

[2017-05-16 18:43] Sunyang730 commented on #3418
可以列出你用的步骤吗？ 不太懂 “安装完yarn之后连不上网” 是什么意思。你是不是有自己的npm服务器？

[2017-05-16 19:13] bestander commented on #2763
Ok, I understand it now.
This is a feature request that Yarn could satisfy if there is enough demand to override semver restrictions.
How many packages are there with incorrect peerDependencies and that are unmaintained?
I am still not sold that no one can just do a fork and publish fixes.

[2017-05-16 19:17] kylecordes commented on #2763
Anecdotally, many. npm.js contains 350,000 packages. I wonder what percentage of them *are* maintained and have up to date dependencies?

Anyone who needs to can fork package A, creating package A2 with various fixes and update. Unfortunately, convincing the maintainers of package B, if it is maintained at all, to change their dependency to the new A2 fork, might or might not be possible.

[2017-05-16 19:29] bestander commented on #2763
I wonder the same, it is possible to fetch all package metadata from npm couchdb and do a query, so actual number does not need to be a speculation.
This feature is required only for packages that require outdated peer dependencies that are actually compatible with their new versions, I don't think there are as many.

[2017-05-16 19:30] rally25rs commented on #3419
The only bug I see here is that the message duplicates the word "add":

Otherwise, the output message explains that "install -g" is not a Yarn command and points you to the documentation.

You should run `yarn global add nodemon` instead. This is the Yarn equivalent of `npm install -g nodemon`

[2017-05-16 19:36] rally25rs commented on #3418
Make sure you also set the HTTPS proxy.
确保您还设置HTTPS代理。 ( from Google Translate. Hope that is close enough to understand 😃  )

[code]

[2017-05-16 19:36] victornoel commented on #2763
what is simpler? override the version of a dependency from your project or fork another project, change the dependency, fork all the dependencies of your project depending on the forker dependency and do the same, and so on, publish all of that to npm and then release you project with the forked dependency? :)

This actually raises the question of propagating overridden dependencies to project tha

[2017-05-16 19:42] rally25rs commented on #3403
Could you try the `tarball:` prefix instead of `file:`?

[code]

[2017-05-16 19:53] bestander commented on #2763
Thanks for sharing your point, @victornoel, those are the sad parts of a decentralized dependency ecosystem that we have.

My concern was that this looks like a patch that masks a symptom of a serious issue and every one in the same situation has to apply this patch instead of fixing the cause.

However I am on your side now :)
Would you want to drive an RFC and implementation?
I think we might wa

[2017-05-16 19:57] BlueRaja commented on #2173
Probably related to https://github.com/yarnpkg/yarn/issues/1482

[2017-05-16 19:57] rally25rs commented on #3398
`install` isn't really deprecated. `yarn install` is still a valid command to install the dependencies in `package.json`.

Really it just isn't smart enough to count the number of parameters and realize install with a package name after it should recommend `add` instead of `install`.

But `yarn i` should still recommend `yarn install`.

[2017-05-16 21:20] lfender6445 commented on #1693
Similar issue on mac, running `yarn upgrade gl` fixed the version mismatch for me.

[2017-05-16 23:41] dustyjewett opened #3427 ""Yarn Clean" should be renamed to indicate its uncommon usage."
We are consistently seeing developers use `yarn clean` instead of `yarn cache clean`... but `yarn clean` often leads to broken / missing modules.

For such an innocuously named command, `yarn clean` has quite the disclaimer in the docs:
[code]
... a "Clean" command should *always* be safe... if you can't make it safe, it shouldn't be called clean.

Can I recommend `yarn clear-up-space` or `yarn re

[2017-05-16 23:46] #3427 closed

[2017-05-16 23:46] dustyjewett commented on #3427
Just found this https://github.com/yarnpkg/yarn/issues/2438

[2017-05-17 00:59] L1fescape commented on #2438
`yarn prune`?

[2017-05-17 02:36] Loyalsoldier commented on #1226
`OS:` Windows 10 Creators Update
`node version:` v6.10.3 (with npm v3.10.10)
`yarn version:` v0.24.5
`Terminal:` CMD and Cmder

If there is a "prefix" key-value in npm config file, yarn's globally added package would not be found because the "prefix" value(the path set for npm globally added packages) would be add before the yarn global bin path, and CMD or Cmder could not find that non-existed pa

[2017-05-17 03:23] ifzm commented on #960
@luislobo  Hello, I have encountered this problem, tried various methods, including the installation of color emoji can not be achieved.
Can refer to http://www.omgubuntu.co.uk/2016/12/quickly-find-emoji-from-the-command-line
If you can succeed, hope to be able to share here.  :)

[2017-05-17 03:50] gengxuelei commented on #3371
Replace npm & Have own registry ?
NPM5.x will have lock file and supports offline download and local caching.
So what's the advantage of yarn against npm5 ?

I support competition to the open source software for more suitable  development

[2017-05-17 05:34] elyobo commented on #960
@luislobo I suspect not wanting to deal with Linux users' emoji issues is why they didn't originally support this... I have no idea why your emojis aren't working, but I'm on Ubuntu too and mine are fine (although not in colour).

[2017-05-17 05:41] qinly commented on #3345
Note: your profile may be in your .profile, .bash_profile, .bashrc, .zshrc, etc.

1. Add this to your profile:
[code]
2. In the terminal, log in and log out for the changes to take effect

[2017-05-17 06:24] cebor commented on #3406
Meanwhile the following is a workaround to get it working:

[code]

[2017-05-17 06:24] Daniel15 commented on #3406
Yeah, that's a reasonable fix @cebor. Either that or add npm's `node-gyp` directory to your `PATH`, if you have npm installed.

[2017-05-17 06:41] mcfedr commented on #3419
There are two bugs:

1. Duplicate word "add"
2. The command I ran is `add` - Its telling me not to use `install` when I ran `add`.
    Maybe yarn doesnt support using `-g` for global, in which case that should be the error.

[2017-05-17 06:58] ChrisShen93 opened #3428 "[BUG, REPORT] Yarn does not download the newest node_module"
I was using yarn install my dependencies from npm.org and a private gitlab

Once there was a bug in the private module called A from the private gitlab. After I fixed it and I run
'yarn' again to install the newest one.
Unfortunately, I still get the old one.

I have tried 'yarn cache clean' and then 'yarn', but still get the previous release.

nodejs: 6.10.2
npm: 3.10.10
yarn: 0.25.2
OS: windows

[2017-05-17 07:10] bengeorge opened #3429 "yarn install for git dependency does not 'pack'"
**Do you want to request a *feature* or report a *bug*?**
bug

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

`yarn install`

Results in entire contents of the foo repo in the `node_modules/foo` folder.   I should note the same occurs when refering to a file location eg: a dependency of `"foo": "../foo"`

**What is the expected behavior?**
Should behave like n

[2017-05-17 07:18] jmjpro opened #3430 "yarn install incompatible module"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I receive the following error when running `yarn install`. I also tried running `yarn install --verbose` but it didn't shed any light on the problem. _npm install works fine._
[code]
From package.json:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the

[2017-05-17 08:06] ifzm commented on #960
@elyobo thanks )
I also encountered the same problem, can not show emoji on Linux, i would like to configure what or install special fonts?
OS：Ubuntu 16.04

@daltones I hope you can share under the Linux emoji font and related configuration，thank you very much )

[2017-05-17 08:16] jmjpro commented on #3430
After further investigation I removed "grunt-protractor-runner": "^2.1.2" and "protractor-jasmine2-html-reporter": "0.0.6" from my devDependencies. There is still a difference in behavior between yarn and npm that should be understood.

[2017-05-17 08:18] elyobo commented on #960
I'm also on 16.04, didn't do anything in particular to set it up.

On 17 May 2017 at 18:06, Jim <notifications@github.com> wrote:

[2017-05-17 08:29] victornoel commented on #2763
@bestander so to be sure I understand (before I try to make an RFC, I'm not so sure I will be able to help for implementation though ^^), you propose to be able to express, in the `package.json` of a project, that `typescript >=2.0.0 <2.3.0` should be mapped to `typescript ^4.0.0` for example?

Something like that:
[code]

What I don't like with this is that I have to know that `@angular/cli` is e

[2017-05-17 08:40] yunti opened #3431 "yarn global install of create-react-app installs but isn't found."
yarn version 0.24.5
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
installed `create-react-app` with yarn globally but although listed as installed by yarn via `yarn global ls` it is not found on system and create-react-app command does not work.

**If the current behavior is a bug, please provide the steps to reproduce.**
`create-react-app` was in

[2017-05-17 08:59] k1sul1 opened #3432 "Look for yarn.lock in parent directories"
**Do you want to request a *feature* or report a *bug*?** Feature.

**What is the current behavior?**
When I run `yarn add [package]` while editing JS files inside `app/js`, I get the following output:

[code]

However, there already is a `package.json`, `yarn.lock` and `node_modules` in the project, just located in `/`.

**What is the expected behavior?**
Check if project already has a lockfile,

[2017-05-17 09:07] Congelli501 opened #3433 "Yarn doesn't provide authorization header to download private package"
**Type: bug**

**What is the current behavior?**

When using the Verdaccio private npm registry, yarn fail to install a package. It fires a first request to get the packages version & meta, which is authenticated and works.
Then it issues a second request to download the tgz file, which fails, as the request is not authenticated.

On the other hand, npm does the same first request and successfully

[2017-05-17 09:25] skfd commented on #3398
It fails installation with error, so it's pretty deprecated.

    $ yarn install example
    error `install` has been replaced with `add` to add new dependencies.
    Run "yarn add example" instead.

I think for `yarn i example` it should write the combination of two errors:

[2017-05-17 09:35] kmdm commented on #3423
Probable duplicate of #2636

[2017-05-17 09:58] pmorch opened #3435 "yarn-offline-mirror-pruning also removes .git file"
**Do you want to request a *feature* or report a *bug*?**
An improvement suggestion or a bug. You decide.
This is a minor issue for us, I just thought I'd report it. See workaround below.

**What is the current behavior?**
The current behavior is that yarn-offline-mirror-pruning (apparently) removes every single file in the folder that is not a current tarball.

**If the current behavior is a bug,

[2017-05-17 10:08] yunti commented on #3431
Hmm possibly connected to #3421

[2017-05-17 11:03] TLDay commented on #976
this issue also happened when I want to install flexjs.
`yarn global add flexjs`
[code]

Then I can't enter anything  except Ctrl+C

[2017-05-17 11:07] muhajirframe opened #3436 "Is there any plan to ship yarn with snap?"
**Do you want to request a *feature* or report a *bug*?**

Feature Request

Is there any plan to bring yarn to [snappy pakage manager](https://snapcraft.io/) ?

[2017-05-17 11:09] TLDay commented on #976
@bestander I think give user an interactive building process is an expected operation.But I don't know if it's  difficult to implement.

[2017-05-17 11:54] marian-r commented on #3411
I can confirm that `repository` config works fine for me as also mentioned in https://github.com/yarnpkg/yarn/issues/2193#issuecomment-265802472.

[2017-05-17 11:56] tapz commented on #648
I tried to yarn global add ios-deploy. The binary exists in ~/.config/yarn/global/node_modules/ios-deploy/build/Release/ but not in /usr/local/bin or any other location, which is in the PATH.

[2017-05-17 12:02] James-A1 commented on #2932
Have the same issue here!

Also happens on `yarn remove`

[2017-05-17 12:04] bestander commented on #976
Yarn could have an alternative/optional serial scripts builder for those cases.
PR from the community members is welcome.

[2017-05-17 12:05] bestander commented on #976
At this moment the core team is not focusing on fixing this issue because we believe that dependencies should be able to be installed automatically and in parallel mode.
When a dependency is trying to steal stdin even in a non TTY mode this seems to me an antipattern.

[2017-05-17 12:10] bestander commented on #2438
The core team is quite happy with autoclean at this moment.
I suppose this is one of those cases where a lot of people have different
opinions and it would be hard to satisfy everyone.

autoclean will be accepted now.
Other alternatives like prune will require more discussion and
argumentation.

On 17 May 2017 at 01:59, Andrew Kennedy <notifications@github.com> wrote:

[2017-05-17 12:13] bestander commented on #2173
This is fixed in 0.25

[2017-05-17 12:13] #2173 closed

[2017-05-17 12:18] bestander commented on #1482
`yarn install --prefer-offline` with `@kadira/storybook` in package.json works successfully in 0.25

[2017-05-17 12:18] #1482 closed

[2017-05-17 12:21] marian-r commented on #2541
Just to let you know Yarn seems to work fine with [Sinopia](https://github.com/rlidwka/sinopia) as it just proxies packages from npm registry when they are missing in Sinopia.

[2017-05-17 12:37] rally25rs commented on #3430
That is interesting...

xmlbuilder@9.0.0 specifies in it's package.json that it requires Node >= 6
https://github.com/oozcitak/xmlbuilder-js/blob/v9.0.0/package.json

You are using Node v4, so this does seem like a reasonable error (xmlbuilder is not compatible with your version of Node).

I wonder if NPM doesn't actually check the node version for transient dependencies?

[2017-05-17 12:51] rally25rs commented on #3421
Currently Yarn creates these bin links during it's 'link packages' step. Install and post-install scripts are not run until after this step.

It might be feasible to re-order these steps, but the 'link' step is currently more complicated that just creating the bin links, so that 'link' step would need to be split up.

I could work on refactoring this if that behavior change seems reasonable.

[2017-05-17 13:02] oliversalzburg commented on #1214
@bestander Can you reopen this issue? It is not solved. I would really appreciate some feedback on this.

[2017-05-17 13:04] bestander commented on #1214
@oliversalzburg please open a new one with a scenario how to reproduce it.
Ideally if you could provide a bash script to make it automated.

[2017-05-17 13:08] rally25rs commented on #3430
It seems NPM stopped bothering to error on `engines` violations in v3:

Quote from: https://github.com/npm/npm/releases/tag/v3.0.0

_(emphasis mine)_

Real nice 😕

[2017-05-17 13:10] bestander commented on #2763
Propose in an RFC the one you think will be the best for most people.

Then others from the community can comment and we'll agree on something.
I think all have reasonable pros/cons.

[2017-05-17 13:12] victornoel commented on #2763
ok, thanks!

[2017-05-17 13:20] Tonkonozhenko commented on #3403
Now it works.
Thanks @rally25rs!

[2017-05-17 13:20] #3403 closed

[2017-05-17 13:53] alkaline9500 commented on #3309
I am also, also seeing this on Yarn v0.24.5.

If you'd like a terrible terrible workaround, I found one. Change the hash in your yarn.lock and your offline mirror filename to match what yarn in expecting (the sha hash of the tarball). If everything matches up, yarn will install from the tarball without inspecting the fake git hash.

[2017-05-17 14:26] oliversalzburg commented on #1214
@bestander I had already opened #3288, but I'm having a really hard time reproducing the issue in isolation. It happens multiple times every day in our main project tree though. It would be really nice to investigate this with someone who is more familiar with the code base and maybe give me some pointers on what to look for.

[2017-05-17 14:44] klouskingsley commented on #3430
try `yarn --ignore-engines`

[2017-05-17 14:46] fiznool opened #3437 "yarn issues warnings when cordova plugins are defined in `package.json`"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The latest version of the cordova CLI (7.0.0) adds cordova plugins to `package.json` when running `cordova plugin add <plugin-name>`. The spec for Cordova plugins [states that you can manage cordova version dependencies using the `engines.cordovaDependencies` property](https://cordova.apache.org/docs

[2017-05-17 14:49] bestander commented on #3288
Help investigating this is welcome.
I would just start with debugging (putting log statements if don't want to bother with Node.js debugging) package-resolver.js and package-linker.js (this is where it is not supposed to overwrite linked modules https://github.com/yarnpkg/yarn/blob/master/src/package-linker.js#L216)

[2017-05-17 16:36] jeffshek commented on #764
Same issue, had nvm and would switch node versions to find one that works.

Went from 4.4.6 and 5.12 (no success). node 6.7.0 works, but it's harder to convince team that yarn is a drop-in replacement if we have to switch node versions.

[2017-05-17 16:46] oliversalzburg commented on #3288
@bestander Awesome. Thanks a lot. I'll get to it :)

[2017-05-17 16:46] vchrm opened #3439 "Installed devDependencies in --production"
Hi, although there are no production dependencies at all, using `yarn install --production`  yarn still installs four packages (164 kB) to `node_modules/` with the following package.json:

[code]

Shouldn't be `node_modules/` empty? Am I missing something? With our full package.json with 26 devDependencies (still no production dependencies) yarn goes to 21 MB.

I am using:
- yarn 0.24.4
- node 6.1

[2017-05-17 16:51] ericgundrum commented on #3309
The breaking change occurred in eac1836c. I haven't yet found what part of eac1836c causes the problem.

[2017-05-17 16:56] kirs commented on #764
@jeffshek can you try to `strace` stuck yarn on node 4.4.6 or 5.12? That could potentially help us to find the issue.

[2017-05-17 17:09] jeffshek commented on #764
So after I switched over to node 6.7, I was able to install, etc.

To try to recreate this issue, I wiped out the yarn.lock, removed all node_modules and switched to node 4.4.6.

I was getting
[code]
So okay, that looks like some type of diagnosable message ... (Was this error message just hiding the entire time?)

But now when I run yarn install, it just magically ... works (node 4.4.6). So now e

[2017-05-17 17:29] oliversalzburg commented on #3288
1. Situation is very hard to repro. Re-running `yarn install` never repros the issue. To repro, I have to delete every `node_modules` folder in my entire tree (`rm -rf */node_modules`), then run `yarn install` in a *specific* project in the tree.
2. The location pointed out by @bestander does not appear to have any relevance with this issue. The project that is overwritten is contained in the `pos

[2017-05-17 17:32] oliversalzburg commented on #3288
![image](https://cloud.githubusercontent.com/assets/1658949/26167603/7a8a4b04-3b37-11e7-9a89-4d970c7f9b35.png)

To clarify, `@fairmanager/core-aws` is the project that keeps being overwritten in my source project directory during `yarn install` operations.
`@fairmanager/core-rpc2` is the "trigger" project in which I run `yarn install`.

[2017-05-17 18:38] devoto13 opened #3441 "URL column is empty in `yarn outdated`"
**Do you want to request a *feature* or report a *bug*?**

Bug (regression)

**What is the current behavior?**

Note missing values in URL column.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

To reproduce run `yarn outdated` with yarn >=0.24.0 with any outdated dependencies.

This is a regression after [this commit](https://github.com/yarnpkg/yarn/commit/c

[2017-05-17 18:44] arthuranderson3 opened #3443 "yarn add human-readable-ids crashes app at runtime."
## yarn 0.24.4

 `yarn add human-readable-ids`
-- removes the assets and test directories under node_modules/human-readable-ids, which causes the code to crash.

if I install with` npm install human-readable-ids` the package is runnable and does not crash.

Is there a flag I can use or something in the package.json that tells yarn to not remove these other directories? Would like to pass this info

[2017-05-17 19:22] devoto13 opened #3444 "Yarn Registry does not return abbreviated response if package name ends with .js"
**Do you want to request a *feature* or report a *bug*?**

Bug

It's about registry, not about the client.
https://registry.yarnpkg.com seems to obey `Accept` header to return abbreviated response as described [here](https://github.com/npm/registry/blob/master/docs/responses/package-metadata.md). But not when package name ends with `.js`.

Found it accidentally, while investigating #3441.

**What

[2017-05-17 20:03] DevWurm commented on #2858
So, what do you think?

[2017-05-17 20:22] thedumbterminal commented on #2774
New PR to allow more git URL formats: https://github.com/yarnpkg/yarn/pull/3445

[2017-05-17 20:44] EECOLOR opened #3446 "Can not publish organisation package"
The error: `An unexpected error occurred: "https://registry.yarnpkg.com/@kaliber%2fbuild: Forbidden"`

The command I issue:
[code]
[yarn-error.log](https://github.com/yarnpkg/yarn/files/1009078/yarn-error.log.txt)

Library source: https://github.com/kaliberjs/build/tree/master/library

`yarn config list`

[code]

I am owner of `@kaliber`:

![member-kaliber](https://cloud.githubusercontent.com/asse

[2017-05-17 20:49] EECOLOR commented on #3446
`yarn config list`

[code]

[2017-05-17 20:54] EECOLOR commented on #3446
I am owner of `@kaliber`:

![member-kaliber](https://cloud.githubusercontent.com/assets/1486362/26175662/a8dc6de0-3b53-11e7-87fc-0868e4a87953.png)

[2017-05-17 20:57] jvhoven commented on #3439
This is indeed pretty weird.

**Test case**

Installing with `yarn install --production`.

*Input*
[code]
*Output*
Modules inside the resulting `node_modules`.
[code]

What makes it even stranger is that these four packages, are not directly related to the dependencies that webpack 2.5.1 [requires](https://pastebin.com/tMXVp0g7). Thankfully we can identify where they come from using `yarn why`.

#

[2017-05-17 21:03] RobGraham commented on #1619
Also receiving invalid tar file errors when installing dependencies in our project. Each `yarn` attempt seems to bork in different dependencies

[2017-05-17 21:03] jonschlinkert commented on #3288
This is a response to https://github.com/yarnpkg/yarn/issues/1214#issuecomment-302083621, as it seems like it belongs on this issue.

Before we go too far down the debugging path... can we get some clarification on whether or not this is actually a bug? Because it sure smells like a design decision at the moment.

In particular:

- [ ] Is yarn globally caching local symlinked projects (on purpose)

[2017-05-17 21:55] oliversalzburg commented on #3288
I'm primarily interested in finding out why this happens for some projects and not others. I have 40 projects in my tree, all depending on each other in some way, but only some projects are affected by this behavior.

To me that indicates that it is a bug, as it should either always preserve the symlinked modules or it should never do it.

It is my understanding that preserving the projects is the

[2017-05-17 22:13] jvhoven commented on #3439
After some digging in the source code I've found that [this part](https://github.com/yarnpkg/yarn/blob/master/src/package-linker.js#L126) contains the faulty(?) data which enables the modules to pass through the installation process.

`console.log` gives the following information:

[code]

[2017-05-17 22:46] bradserbu opened #3447 "Running `yarn global upgrade ...` without `sudo` should report issues"
# BUG

### Running `yarn global upgrade ...` without `sudo` should report issues
*(on systems that require it)*

Description:

- Reports command was successful to the user
- However, the global package is not upgraded

## Expected Behavior ##
The `yarn global upgrade` command should report errors similar to the `yarn global add` command, which does reports errors when linking to the underlying `bi

[2017-05-18 00:15] digiwano commented on #3439
I'm experiencing the same issue. I wrote a little script (https://gist.github.com/digiwano/1df204da60eb628beb4c6146b8a58ec4) which does a bunch of various install types (with or without a devDependencies field, with either npm or yarn, with or without the --production flag) to compare what's getting installed.

The script creates package.jsons which include the production dependency `json-stringif

[2017-05-18 02:04] jamesongithub commented on #3381
running them serially doesn't seem it will be a problem. id say clean and install should be mutex aware, just lower priority than package/folder locking if that will happen

[2017-05-18 04:15] jdickey commented on #976
Don't know if this is relevant, but I was browsing the Semantic UI docs yesterday and found the [auto install](https://semantic-ui.com/introduction/advanced-usage.html#auto-install) recipe.

[2017-05-18 04:31] xiankai commented on #3303
I think this can result from trying to install a deleted git branch as well - I was using a custom fork over here https://github.com/apollographql/graphql-tag/pull/52, but when it got merged/deleted, I started encountering a similar error:

[code]

Where on the last line, was the commit hash of the deleted branch. I switched to the main branch since the pull request had been merged, for my fix.

[2017-05-18 06:03] ericgundrum commented on #3309
The error message's _expected hash_ actually matches the git commit hash. The `GitFetcher.hash`  property appears to be initialized with the commit hash. Then `fetchFromLocal()` compares this to the tarball hash and rejects it. But, the older code seems to do the same. The intent of the new codes looks to be removing the mirror tarball `resolved` pathname returned by the fetcher.

For the older co

[2017-05-18 07:02] ifzm commented on #960
Thank you for your answer )
I  will find a good reason

[2017-05-18 08:23] voxsim commented on #3363
@bestander maybe I found why it is not deterministic: when we prepare the requests (https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/add.js#L39) for the command `yarn add <mypackage>` we push errounously `<mypackage>` instead we should push `<mypackage>@<version>` like we do in the install command. I tried to fix, but it doesn't work as expected O.o I prefer to share the information, s

[2017-05-18 09:46] bestander commented on #3363
Thanks.
The trick is that Yarn replaces <mypackage> with <maypackage@version> here https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/add.js#L90 at resolution step.

IIRC here https://github.com/yarnpkg/yarn/blob/master/src/package-request.js#L245 the optimization of yarn.lock happens and unused resolutions are getting left out.
Would be good to debug and see why it fails for add command

[2017-05-18 11:18] tjormola commented on #2276
+1

[2017-05-18 11:36] slikts opened #3448 "OS packages shouldn't be the recommended way to install yarn"
Installing yarn using an OS package manager like apt

1. conflicts with nvm, requiring a special flag (not documented, see #3255)
1. requires elevated privileges, making it less convenient
1. adding a 3rd party system package repo has system-wide security implications, while global npm packages with nvm are actually just local

The third point is the most important; a security-conscious user shoul

[2017-05-18 14:18] Congelli501 commented on #3433
I made some more checks, and bug is caused by the Verdaccio configuration:
I login to "http://localhost:4873/"
Verdaccio answers with an absolute URL to the tarball, to "http://127.0.0.1:4873/".

When Yarn goes back to the getAuth function, it search a config with the key "//127.0.0.1:4873/:_authToken", with doesn't exist (only //localhost:4873/:_authToken fails).

A good solution would be to reso

[2017-05-18 15:09] Ramblurr opened #3450 "Login not supported with —non-interactive"
Even with the existence of ` —non-interactive` from #2770, it seems that login still requires a TTY.

If you try to programmatically login where a TTY doesn't exist you get:

[code]

[2017-05-18 16:25] balanceiskey commented on #3354
@syntactic-salt any chance you're using the [Offline Mirror](https://yarnpkg.com/blog/2016/11/24/offline-mirror/) functionality with `yarn`?

[2017-05-18 17:09] rally25rs commented on #3371
To elaborate on @gengxuelei 's comment...

From the NPM v5 discussion: https://github.com/npm/npm/pull/16244

[2017-05-18 17:15] bestander commented on #3371
We are thrilled with advances that npm CLI does and we believe that healthy competition will motivate everyone to invest in great developer experience.

But let's not derail the conversation, this issue is focused on what we think Yarn 1.0 should be.
I'll be moderating the comments to keep us on track.

[2017-05-18 17:33] kumar303 opened #3451 "Manually selecting a version during `yarn add` edits `package.json` incorrectly"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

`yarn add` edits `package.json` incorrectly when you select a manual version of a package

**If the current behavior is a bug, please provide the steps to reproduce.**

* Install a version of a package just like you normally would. Example:
[code]
I used an exact version here only to make it reproduc

[2017-05-18 17:55] JoshCheek commented on #787
So I can't point it at a directory with a bunch of packages and have it install from there? Internet access is somehow baked into it at structural level?

[2017-05-18 18:50] cansin commented on #2763
@victornoel @bestander thanks for trying to figure this out. @victornoel I agree that your last proposal makes the most sense.

[2017-05-18 19:11] victornoel commented on #2763
@cansin yep, I think am going for this one, and it goes well with the current flatten behaviour, so it's more of an improvement than a complete new feature, so less chance to confuse people and maybe easier to implement.
@bestander I will make a PR for an RFC next week-end.

[2017-05-18 19:25] mrichins commented on #2786
Theres been some debugging done on this https://github.com/yarnpkg/yarn/issues/1694 But no-one has come up with a fix. It doesnt seem to be universal.
Getting the same issues with 0.24.5 and the nightly build.

[2017-05-18 20:13] aliatsis commented on #683
Are there any plans for a better solution to this than using --mutex?

[2017-05-18 21:01] whitecolor commented on #683
Need to implement this:

[2017-05-18 21:14] juanca commented on #3439
devDependencies need to be considered when installing with `--production` because they could impose semver restrictions on actual production dependencies -- theoretically, dependencies should use the same versions in production and development. However, this data is only needed to determine which versions to install (and not actually install devDependencies trees).

Note: I've only read the hoisti

[2017-05-18 21:38] aliatsis commented on #683
@whitecolor excellent! will that progress be tracked here or in another issue?

[2017-05-18 21:40] aij commented on #683
@whitecolor I don't see how a mutex only for writers would be enough.

If the writes are not atomic, readers need to be prevented from reading partial writes, so we'd want RW locks.

If the writes can be made atomic, then mutual exclusion would not be needed. (Except as an optimization.)

[2017-05-18 21:50] digiwano commented on #3439
That feels weird too -- why would a dev dependency change the semver requirements of a production dependency? I'd rather have devDependencies be entirely unhoisted/unflattened than have them interfering with production dependency versions.

And if that's an issue, if we've followed best practices advice and checked in our yarn.lock, shouldn't `yarn install --production` just be able to ignore devD

[2017-05-18 22:14] MartinHaeusler commented on #2276
This issue just bit me as well. I'm by no means an expert in this field, but why do you even bother to selectively delete/keep files? On `yarn clean`, I would expect something like

    rm -rf node_modules
    yarn install

... or similar.

[2017-05-18 23:06] slester commented on #3276
This issue still occurs with 0.24.5; node v7.10.0, same OS.

`Trace:
  Error: ENOENT: no such file or directory, symlink '' -> '/var/www/ba/node_modules/browserify/test/symlink_dedupe/one/dir'`

[2017-05-18 23:11] andrewhavens commented on #3303
I think I found the reason for my original error. I think one of the packages that was linked to a branch had a commit deleted, or force-pushed updates. Unfortunately, I don't know for sure and the yarn error message does not make it clear if that was the case or not.

[2017-05-19 01:25] trevorwang commented on #3345
@qinly Thanks. It works for me.

But it really strange that `yarn global bin` equals `/usr/local/Cellar/node/7.10.0/bin` instead of `$HOME/.config/yarn/global/node_modules/.bin`

[2017-05-19 01:57] Daniel15 commented on #3345
That is probably similar to a bug we had on Windows where Yarn tries to
install executables for global packages into the Node.js directory (which
most users won't have write access to without superuser permissions)
 rather than the proper Yarn bin directory.

Sent from my phone.

On May 19, 2017 11:25 AM, "Trevor" <notifications@github.com> wrote:

[2017-05-19 04:01] OmgImAlexis opened #3452 ""yarn clean cache" should show progress bar"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
[code]

**What is the expected behavior?**
Either a progress bar to be shown or some kind of indication that the command is still running.

**Other**
The main issue is if your cache is large enough there's no indication at all that anything is still running and that the command hasn't frozen.

[2017-05-19 04:10] dancoates commented on #1981
This unfortunately seemed to only temporarily fix the issue for us also. @bestander perhaps this should be reopened? Or should we create a new issue?

[2017-05-19 04:43] artlogic commented on #2819
I just experienced this issue again using v0.24.5. Has there been a regression?

[2017-05-19 04:58] artlogic commented on #1981
I'm seeing this issue with v0.24.5 and bcrypt - different package, same problem.

[2017-05-19 07:12] bestander commented on #2819
Please open a new issue with repro steps

On Fri, 19 May 2017 at 05:43, James Kruth <notifications@github.com> wrote:

[2017-05-19 07:13] bestander commented on #1981
New issue with repro steps is the best way to go

On Fri, 19 May 2017 at 05:10, Dan Coates <notifications@github.com> wrote:

[2017-05-19 08:17] mitsuhiko opened #3453 "Excessive Cache Usage for Local Dependencies"
**What is the current behavior?**

When you yarn install a local dependency instead of using something like `npm pack` it would appear yarn copies the entire target path into the cache folder and then installs a packed version from that path later. I have a local folder which has about 800MB of node_modules and other stuff in it and a `package.json` which references about 8KB of data. When you yar

[2017-05-19 08:28] centigrade-thomas-becker commented on #3270
Why close the issue if it is not resolved?

I have the same problem when trying to add a **caret** on Windows 10. Executing `yarn add nodegit@^0.16.0` will result in `nodegit@0.16.0` in package.json and yarn.lock.

[2017-05-19 09:35] bestander opened #3454 "Add legend to colors in upgrade-iteractive"
**Do you want to request a *feature* or report a *bug*?**
improvement

**What is the current behavior?**

![18555248_478165102527699_1583036487_n](https://cloud.githubusercontent.com/assets/2121048/26242026/db755420-3c7e-11e7-87a1-0f65edf57374.png)

Would be nice to explain what read and yellow colors mean

[2017-05-19 10:32] bestander commented on #3453
Thanks for reporting this.
Indeed the file: dependency just copies the whole folder into cache every time you install.

We could start with clearing the cache after using it because this cache is not used anymore after the installation (PR is welcome!).

Besides that we are working on Workspaces https://github.com/yarnpkg/yarn/issues/3294 that will address local development via symlinks.
A lighter

[2017-05-19 11:36] bestander commented on #3276
Thanks, @slester.
Could you add steps to reproduce the issue please

[2017-05-19 11:52] bestander commented on #2763
Looking forward, when maintaining OSS builds in React Native I remember quite a few situations when a breaking patch in a deep dependency broke the whole application and there was no other way out except for begging the project maintainers to release a new patch.

[2017-05-19 11:54] #3299 closed

[2017-05-19 12:08] bestander commented on #816
Thanks for commenting this, @zkat, very much appreciated!

[2017-05-19 12:10] bestander commented on #816
Afaik this is not a large change to do now, so a PR with a fix is welcome

[2017-05-19 12:31] gossi commented on #3202
A workaround is to `rm -rf node_modules/` and `yarn install` again. The workaround also may help once... I also did this:

`yarn install gauge -D`

however this forces you to `yarn upgrade gauge` EVERYTIME after using yarn... and if you forget it you can't go back to your regular workflow.

[2017-05-19 13:16] rally25rs commented on #3270
I closed this because `^` is a special character on windows. The command prompt does not pass it directly to commands. You should be able to escape it with another caret before it `nodegit@^^0.16.0` or possibly putting it in double quotes (I don't have a Win machine in front of me right now to try it).

Reference: https://msdn.microsoft.com/en-us/library/c785s0kz.aspx

Git has/had the same issue:

[2017-05-19 13:21] centigrade-thomas-becker commented on #3270
Thanks for clearing this up

[2017-05-19 13:44] rally25rs commented on #3452
`cache clean` just uses `rimraf` https://www.npmjs.com/package/rimraf to delete the cache directory (equivalent to doing an `rm -rf`) so it doesn't have any way to report actual progress with a status bar.

We can put a "spinner" up during the deletion. This is what is used during the resolving of packages too.

I'll submit a PR in a bit...

[2017-05-19 13:52] li-xinyang commented on #3202
Re-install entire `node_modules` does solve the issue. I wonder why no everyone has this issue. Is this because it only affects certain packages?

[2017-05-19 14:03] rally25rs opened #3455 "Figure out why unit tests occasionally time out"
CI builds often fail due to tests timing out. It also happens (very infrequently) when running tests locally.

Example output (this was from a local test run on a Macbook Pro, OSX Sierra, Node v6.3.0):

[code]

I'll try to dig into this as best I can, but I would appreciate some help... 🆘

[2017-05-19 14:16] rally25rs commented on #3371
Do you guys thing it would be useful to start a new "Project" to track v1 tasks and progress (instead of tracking everything in this "Issue")?

I've never used them, but I think it could be useful to get everyone focused on fixing the issues that are specifically a hurtle to get Yarn to a v1 release.

[2017-05-19 14:19] JamieMason commented on #2671
Incase it is useful to anyone, how this is done in shrinkpack is [src/lib/copy-file.js:24-30](https://github.com/JamieMason/shrinkpack/blob/master/src/lib/copy-file.js#L24-L30).

[2017-05-19 14:43] cpojer commented on #3371
Projects or milestones work pretty well on GitHub actually :)

[2017-05-19 15:00] pcj opened #3457 "sha256 for a set of dependencies"
I'd like to derive a sha256 hash for a set of yarn dependencies.

Can I take the sha256 of the yarn.lock file itself?  Is it naive to assume the sequence of bytes in the yarn.lock file will be identical across different environments for the same set of deps?

Is there another way to derive this hash?

[2017-05-19 15:12] sdwvit commented on #2522
+1

[2017-05-19 15:45] rally25rs commented on #3444
I seem to just get inconsistent results. I plugged the URL and accept header into Postman and keep requesting it with and without the header, or change URLs a few times then try a `.js` one again...

Sometimes I get the abbreviated response, sometimes I don't.

Making the same requests to `registry.npmjs.org` seemed to always reply correctly though.
Maybe the Yarn proxy is caching previous request

[2017-05-19 15:52] slester commented on #3276
I am running `yarn` on a `package.json` with a GitHub `username/repo` flag instead of a version number in `devDependencies`. What sort of other information would be helpful besides what I posted in the original issue?

[2017-05-19 16:11] bestander commented on #3371
I would not mind if someone would volunteer and set up a project for 1.0.

[2017-05-19 16:42] bestander commented on #3276
Unless there is an easy way to reproduce the issue it is unlikely that anyone will prioritize on fixing it over the other ones that have easy to repeat scenario.

The `ENOENT: no such file or directory, symlink` error looks very specific to the dependencies you have.
Thanks for reporting it, @slester, but your help to isolate the issue would be needed.
Ideally a shell script that would bootstrap a

[2017-05-19 16:49] #3452 closed

[2017-05-19 18:15] jhabdas opened #3459 "yarn create razzle"
**Do you want to request a *feature* or report a *bug*?** Feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
https://github.com/jaredpalmer/razzle

**Please mention your node.js, yarn and operating system version.**

[2017-05-19 19:14] bwittenberg commented on #937
The following command was a sufficient workaround for me:

`yarn install --check-files`

https://yarnpkg.com/en/docs/cli/install#toc-yarn-install-check-files

[2017-05-20 00:01] Hendrixer commented on #2740
There is an API file that is completely empty. I also remember, when yarn released, one of the selling points were its pragmatica API.

[2017-05-20 00:09] Hendrixer commented on #906
@samccone can we re open this issue please?

[2017-05-20 01:26] AlejandroHuerta commented on #786
I'm having issues with this where a dependency has a postinstall script that requires node-sass. Adding `"postinstall": "npm rebuild node-sass"` doesn't solve this for me. This is with Yarn v0.24.5

[2017-05-20 05:53] hjl19911127 opened #3460 "yarn upgrade-interactive doesn't seem to find out all the latest version of pkg.json"
This is my pkg.json ,as u can see the version of vue-router is ^2.3.1

![image](https://cloud.githubusercontent.com/assets/9312114/26273395/0bf58eb0-3d62-11e7-887a-05e276522db0.png)

when i run `yarn upgrade-interactive` ,it says :

![image](https://cloud.githubusercontent.com/assets/9312114/26273393/fb687832-3d61-11e7-892b-becfe8013576.png)

but  the latest version of vue-router is 2.5.3

![image

[2017-05-20 09:10] xuanvan229 commented on #1915
@xibuka thanks. it work for me

[2017-05-20 10:30] dragGH102 commented on #623
With latest version of **Yarn**, I stil get the issue on Debian 8.5.

error selenium-webdriver@3.4.0: The engine "node" is incompatible with this module. Expected version ">= 6.9.0".
error Found incompatible module
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

[2017-05-20 15:18] aversini commented on #3168
@bestander I see that you closed this issue but I can still reproduce it 100% of the time with the latest version of Yarn (0.25.2) by simply adding one step to the scenario above: `yarn cache clean`.
With a clean cache and no installed modules, every single time installing a local package tarball fails into a 404 error, trying to fetch it from the registry:
[code]

Any pointers? I can try to see i

[2017-05-20 15:23] bestander commented on #3168
Does relative path work?

[code]

[2017-05-20 15:28] aversini commented on #3168
Ah! It does work indeed!

[2017-05-20 17:42] iamfreee commented on #1458
Windows 10, yarn v0.23.4 still does not update the package.json when doing `yarn upgrade`

[2017-05-20 18:58] mohitgarg commented on #3454
I would like to help with this issue.

[2017-05-20 19:25] bestander commented on #3454
Awesome! Send a PR and cc me

[2017-05-20 20:11] mohitgarg commented on #3454
I am a beginner in OSS. I understood the issue but can you walk me through the files and point me in the right direction. I would really appreciate it!

[2017-05-20 23:45] astudio8 commented on #743
Even upgrading Git to the latest version, it fails for me:

yarn init (yarn 0.24.5)
error An unexpected error occurred: "Can't answer a question unless a user TTY".

[2017-05-21 08:19] JesseWeb opened #3463 "why i add a cli packge,then i cant use the command of cli like vue\webpack"
i only use yarn add command,not yarn global add,
oh by the way,my system is windows10

[2017-05-21 09:48] victornoel commented on #2763
RFC submitted: yarnpkg/rfcs/pull/68 :)

[2017-05-21 10:31] ifzm opened #3464 "ubuntu emoji support has bug ?"
![2017-05-21 18-18-41](https://cloud.githubusercontent.com/assets/12740295/26283101/bfee534c-3e53-11e7-8a0d-04798b2d493c.png)
OS：Ubuntu 16.04

[2017-05-21 15:02] richburdon commented on #2863
@timoxley did you find a solution for this?

I agree this issue will be covered by the workspaces project (https://github.com/yarnpkg/yarn/issues/3294), but that seems like a longterm project; a small fix here could be a really big win.

`lerna` works really well today, except for this issue that prevents it working well with `yarn`. I.e., I use lerna with yarn to manage my monorepo, but ironicall

[2017-05-21 18:12] CanRau commented on #2108
just a little note for os x at least if yarn was installed by brew
yarn global bin outputted
`/Users/Can/~/.npm-packages/bin`
which actually created a directory called ~ within my home dir so ~/~/.npm-packages
don't know why it was set like this..

but changing it to
`/Users/Can/.npm-packages/bin`
were still little weird as a yarn global add package would install to
`/Users/Can/~/.npm-packages/bin

[2017-05-21 20:26] blexrob commented on #3439
This bug is caused by the package hoister. In `_seed`, an initial assessment is done if a package is required. Packages that are not compatible are always ignored. Packages without a parent are marked required if the package reference `ignore` flag is not set (which is done for ignored devDependencies). Packages with a parent copy their parent's required status.

This process assumes that packages

[2017-05-21 20:53] EECOLOR commented on #3446
This was solved by creating a team and adding myself as a member of that team on npmjs.com

[2017-05-21 20:53] #3446 closed

[2017-05-22 00:09] blexrob opened #3466 "Package version resolve from registry is not deterministic"
This issue is a bug.

** Summary **

The package version resolving mechanism (resolving a pattern to a actual version) in package-request/package-resolver.js is not deterministic. Specifically, the order of the responses to version request can influence the resolving of a pattern.

** Analysis **

In package-request.js, the following code (in `find`) is relevant:
[code]
Let's say we have a package

[2017-05-22 00:11] blexrob commented on #3363
When running `yarn check` after the `yarn` command from the repro steps, I immediately got some errors. This was caused by the package resolver resolving patterns to different versions based on the order of package version resolve answers. I have filed issue #3466 for that.

[2017-05-22 00:35] chriskrycho commented on #2108
Note for other fish users out there:

[code]

[2017-05-22 02:09] artlogic opened #3468 "Development dependencies can cause production dependencies to install differently"
**What is the current behavior?**

When production installing a dependency which has a child dependency that's also a devDependency, the child dependency isn't installed at the top level. If the devDependency is removed, the child dependency is installed as expected. I think this is a bug because devDependencies shouldn't affect production in any way.

**If the current behavior is a bug, please pr

[2017-05-22 02:40] Daniel15 commented on #3448
This has been discussed in depth, you can search the repo for previous posts on it (for example, #385).

Anyone is welcome to submit a pull request to update the documentation.

You can use the shell script or just manually extract the tarball if you want to install without elevation. However, I don't understand the benefit of not requiring elevation, particularly for something that you only do on

[2017-05-22 02:40] #3448 closed

[2017-05-22 02:47] Daniel15 commented on #3459
Looks like a pull request was sent for this: https://github.com/jaredpalmer/razzle/pull/267

[2017-05-22 02:47] #3459 closed

[2017-05-22 03:14] tarr11 commented on #1981
This seems to have worked for me (on heroku)

package.json:
[code]

app.json:

[code]

[2017-05-22 06:27] vesterij opened #3469 "yarn install --offline with jenkins"
build environment: linux-x64
node: v7.8.0
yarn version v0.24.5

Hi,

I am trying to make build that runs with Jenkins in server that has no access to public internet.
Building local npm cache works and offline build works on my machine but in the offline build server this happens

[code]

If I go to the workspace dir and run the command again with sudo, it works.

If I run command once without off

[2017-05-22 09:21] blexrob commented on #3143
Still happens with current git head, I see that the downloaded https://registry.yarnpkg.com/vkbeautify/-/vkbeautify-0.99.1.tgz has version '0.99.01' in its package.json.

[2017-05-22 09:25] slikts commented on #3448
I don't see discussion in the issue you linked, they just state (or overstate) the issues with npm.

npm global packages aren't necessarily installed system-wide, and there's no good reason to push them to be system-wide. You call npm packages 'special snowflakes', but this actually makes yarn stand out in that it doesn't play nice with common local node setups like nvm.

Signing in npm would be n

[2017-05-22 10:21] apertureless opened #3470 "yarn won't update from 0.24.4 to 0.24.5"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Installing / updating yarn over `npm i -g yarn installs always 0.24.4

**If the current behavior is a bug, please provide the steps to reproduce.**
- Tried to use `npm-check -u -g` to update my global packages. However yarn does not get listed there.
- Tried to `npm i -g yarn` but this also installs on

[2017-05-22 10:27] dragGH102 commented on #623
Installing the latest version of node (non-LTS) fixed the issue. some other issues came up but that's solved

[2017-05-22 12:02] Daniel15 commented on #3448
You can download keys from a key server instead of downloading them over HTTP, if you wanted to.

They're much more difficult to compromise though, as the attacker would need the GPG key used to sign the repo.

Most users have their Node.js and npm bin directory on their PATH so system compromise could be done just by installing a malicious npm package globally (or even a package having a post-ins

[2017-05-22 12:27] donni106 opened #3471 "External dependencies will not install"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I  installed yarn for the first time per brew on mac. When trying to yarn install a project (https://github.com/diegomura/react-pdf) it seems to freeze on installing external dependencies. Nothing is happening for a long time:
![bildschirmfoto 2017-05-22 um 14 21 26](https://cloud.githubusercontent.com

[2017-05-22 12:57] rally25rs commented on #3470
"latest" is still set to 0.24.4:

[code]

Not sure if this is intentional or just a release oversight...

[2017-05-22 13:10] rally25rs commented on #3464
Duplicate of #3399

[2017-05-22 13:25] apertureless commented on #3470
Ok weird. I've got an info message, that my yarn is outdated and I should update. Seems that the npm package got the wrong dist-tag. However the homebrew version is at `0.25.5`

[2017-05-22 13:25] ifzm commented on #3399
Unfortunately, no one can help me, I opened a new issue (

[2017-05-22 13:25] #3399 closed

[2017-05-22 13:26] arcanis opened #3472 "[Code style] The boolean trap"
If you're not familiar with the [boolean trap](https://ariya.io/2011/08/hall-of-api-shame-boolean-trap), here is a short summary extracted from the article:

We have a few place where we fall into the boolean trap. For example, without looking, can you tell without any doubt the signification of the boolean arguments in the following places?

[code]

Note that the last one is actually a double tra

[2017-05-22 13:27] rally25rs commented on #3471
This is happening while running `react-pdf`'s `postinstall` script:

[code]

It looks like [Lerna](https://www.npmjs.com/package/lerna) sets some things up then uses `npm` to do additional installs.

-----

You could try manually running `lerna bootstrap` in that directory and see if it has the same result. If so, then this is not related to Yarn.

Otherwise, there might be some compatibility issu

[2017-05-22 13:27] arcanis commented on #3472
cc @bestander @voxsim and anyone else interested into giving their opinion! 😃

[2017-05-22 13:40] rally25rs commented on #3472
From a 'clean code' perspective, I like this. In fact I would support just moving all the parameters to a single object; make functions have an arity of 1. Especially since ES6 shorthand property names eliminate having to duplicate the object key and value when they match. The additional benefit is that you don't need to remember the argument order any more either ("was it _flags_ then _args_, or

[2017-05-22 13:56] donni106 commented on #3471
Thank you. I referenced this in the react-pdf repository issue for further action.

[2017-05-22 13:56] #3471 closed

[2017-05-22 14:16] jhabdas opened #3473 "Downloads unexpected dependencies"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`camelcase` included in `node_modules` in addition to `fetch-inject`

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn add fetch-inject --production`

**What is the expected behavior?**
only the `fetch-inject` is added

**Please mention your node.js, yarn and operating

[2017-05-22 14:19] bestander commented on #3472
+💯 on getting rid of it

[2017-05-22 14:23] johngeorgewright commented on #2717
I get the error, but everything seems to have been published successfully.

OSX 10.11.6
yarn v0.24.5

[2017-05-22 14:39] bazyli-brzoska commented on #2090
Same problem occurs when you try to install from a local directory https://github.com/yarnpkg/yarn/issues/685.

[2017-05-22 14:49] voxsim commented on #3472
That's awesome!!! I totally agree :) I thought about implementing an eslint plugin to switch on in some cases and see what it says :P (like someone did here https://github.com/eslint/eslint/pull/7713).

[2017-05-22 15:23] hellatan commented on #3204
@rally25rs

The problem with this is that the `yarn.lock` file does not reflect this change. Instead, it will peg it to the specific version you had run instead of actually respecting the tilde or caret.

For example, if I want to upgrade jest to a minor version:

[code]

I get this error:

[code]

If I remove the caret, it installs properly but outputs multiple versions in the `yarn.lock` file:

[2017-05-22 15:30] bestander opened #3474 "MAY 22 - JUNE 1 TRIAGE SESSION"
Similar to https://github.com/yarnpkg/yarn/issues/3258 we are going to triage Yarn bugs.

We need to add some order to the issues and are going to triage ALL open issues in the project.

Goals:
- Reduce the number of duplicated issues by grouping them by category first
- Close non actionable issues
- Prioritize important issues over the rest

What we are planning to do:
- categorize by issue type

[2017-05-22 15:31] bestander commented on #3474
Ok, GitHub is not really great at permissions granularity and so this is what we can do this time.

Mention me in a comment and I'll do the trick, e.g.

@bestander label bug, bug-resolution
@bestander duplicate #xxxx

We want to categorize issues by the phase of Yarn installation, increase visibility of high priority issues and increase visibility of good issues for beginners.

Also we want to clo

[2017-05-22 15:36] bestander commented on #3371
As @rally25rs suggested (cleaned discussion), let's do "Project" with milestones to track progress.
Never used it before but created the project here https://github.com/yarnpkg/yarn/projects/3.

My plan is to track 1.0 progress via the project.

[2017-05-22 16:04] arcanis commented on #3472
Then let's try to do this during the next months 👍

@voxsim if you want to make an eslint plugin and are looking for a home to host it, I have an [eslint plugin repository](https://github.com/arcanis/eslint-plugin-arca) that would gladly accept a PR! - but if you prefer to do it on your own repo, I have no issue with this 👐

@rally25rs I'm not completely sold on moving *all* parameters to a single

[2017-05-22 16:11] ds300 opened #3475 "Implement a lifecycle hook which gets called each time node_modules is re-built"
## Rationale

Unlike NPM, when you run `yarn`, `yarn add`, or `yarn remove`, yarn will completely replace the node_modules folder. As a tooling author, I would like to know whenever this happens without having a daemon watch the filesystem. In other words, I would like a new lifecycle hook.

My use case is singular: to make [patch-package](https://github.com/ds300/patch-package) hack-free.

patch-

[2017-05-22 16:26] bestander commented on #3466
Thanks for the steps and analysis!
This is a hi pri issue, we need to sort it out ASAP.
Anyone wants to help?

[2017-05-22 16:29] bestander commented on #3454
Sure, are you comfortable making changes to Yarn source code, building it and running any command?
The code for upgrade-interactive is here https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/upgrade-interactive.js

[2017-05-22 16:35] AntiFish03 commented on #3154
Is there any update to this... I really don't want to get stuck on `0.21.3`  I need offline-mirror to work properly and anything above `0.21.3` will fail when using `yarn install --offline`

[2017-05-22 18:50] jaredpalmer commented on #3459
Continued this PR in jaredpalmer/razzle#273

[2017-05-22 19:07] krousseau commented on #3075
Unfortunately this didn't fix the issue for my team. We are still getting intermittent build failures with a similar message using version 0.24.5 in our CI environment.

`12:24:37 Error: ENOENT: no such file or directory, scandir 'D:\J\workspace\build_branch_frontend\Phoenix\Source\Communispace\Administration\Web\Public\frontend\node_modules\node-sass\vendor'
12:24:37     at Object.fs.readdirSync

[2017-05-22 19:25] gsklee commented on #3191
@bestander close

The consensus seems to be that we're removing aliases from Yarn.

[2017-05-22 19:30] gsklee commented on #2718
@bestander close

The situation has been resolved with the removal of aliases.

[2017-05-22 19:32] gsklee commented on #1628
@bestander close

The consensus seems to be that we're removing aliases from Yarn.

[2017-05-22 19:40] gsklee commented on #1301
@bestander close

The scale of this feature request means that it needs to go through the [proper RFC process](https://github.com/yarnpkg/rfcs).

[2017-05-22 19:52] gsklee commented on #2675
@bestander close

This is perfectly in line with `npm`'s behavior; see facebookincubator/create-react-app#1510, lytics/ember-cli-release#21.

[2017-05-22 20:09] gsklee commented on #1291
@bestander close

I'd say Yarn is an _"npm-package"_ manager; it manages whatever the `npm` registry would accept as valid packages.

[2017-05-22 20:20] hediet commented on #1291
The front page still does not say that. And just saying 'Yarn is an "npm-package"' is not really helpful if you didn't use npm before.

[2017-05-22 21:12] kyleholzinger commented on #1503
@nikolakanacki Totally see where you're coming from, I think the weirdness is that it'd be both a peer dependency and dev dependency, since you should never force your consumers installing your dev dependencies. I vote making it easy to install peers!

[2017-05-23 00:52] gsklee commented on #1291
@hediet That probably means most people are adequately okay with the current wording. In that case I'd suggest you submit a PR directly to further specify the wordings you're looking to change in order to facilitate further improvement.

[2017-05-23 01:00] gsklee commented on #1172
@bestander close

The scale of this feature request means that it needs to go through the [proper RFC process](https://github.com/yarnpkg/rfcs).

[2017-05-23 01:03] gsklee commented on #1170
@bestander close

The scale of this feature request means that it needs to go through the [proper RFC process](https://github.com/yarnpkg/rfcs).

[2017-05-23 01:10] gsklee commented on #1335
@bestander close

The docs now cover this caveat: https://yarnpkg.com/en/docs/cli/global

Semantic-wise I think it's also very reasonable to expect this outcome. I don't think there's any ambiguity here.

[2017-05-23 02:07] gsklee commented on #3474
So this might be a little bit different than the proposed methodology; I'm using some keywords and tags to find out issues that can be safely deduced as non-actionable items and thus swiftly closed.

**Non-actionable issues:**

#1170 #1172 #1291 #1301 #1335 #1628 #2675 #2718 #3191

[2017-05-23 02:49] gsklee commented on #3474
How do you wanna see related issues being categorized? For example, #521 is the original issue about private package support, with a few other highly-related issues here and there (eg. #3433). Do you wanna see these related issues being tagged inside #521, or, would you rather like to see a new overarching parent issue being created with an up-to-date summary, with all related issues big or small

[2017-05-23 06:11] imawuman commented on #2304
On version 0.24.4 still running into this issue

[2017-05-23 06:21] magiclen commented on #3061
I have the same problem. Yarn should not rebuilt the existed modules which are not upgraded this time. It's too waste of time.

[2017-05-23 06:25] maxlk commented on #3089
@jddxf The problem is that globally installed modules are not available in **REPL**.
I know 2 valid (not considered as bad practices) use cases of using global modules:
* CLI
* REPL

The first is covered by `yarn global` while the second isn't.

[2017-05-23 07:48] xakep139 commented on #1222
Same problem, npm 4.3.0, node 7.7.2, Yarn 0.24.5, Windows 10 Enterprise 1703 (build 15063.296)

![image](https://cloud.githubusercontent.com/assets/6381023/26343502/683aead8-3fc6-11e7-9b21-103e80b6d226.png)

[2017-05-23 08:45] vesterij commented on #3469
It seems to be that problem is either with "yarn-offline-mirror-pruning true" option or Yarn's cache

When some packages get newer version and you just run "yarn" new packages are fetch for Yarn's cache but not for the yarn-offline-mirror.

Then yarn-offline-mirror-pruning removes old packages but it doesn't replace them with new ones and you end up with missing packages from yarn-offline-mirror.

[2017-05-23 09:57] #2718 closed

[2017-05-23 09:58] #1335 closed

[2017-05-23 09:59] bestander commented on #1170
@ghost, the idea seems legit, send an RFC

[2017-05-23 09:59] #1170 closed

[2017-05-23 10:00] #1172 closed

[2017-05-23 10:03] bestander commented on #1291
npm registry is more than just JavaScript and Yarn works primarily with npm but it also can work with Github hosted packages.
I think the current broad definition is not confusing but rather removing the limits for what it can be used.

[2017-05-23 10:03] #1291 closed

[2017-05-23 10:04] #1628 closed

[2017-05-23 10:08] #1301 closed

[2017-05-23 10:09] bestander commented on #1301
From first sight, this looks like an unnecessary complication but feel free to send RFC to discuss use cases

[2017-05-23 10:09] #3191 closed

[2017-05-23 10:11] #2675 closed

[2017-05-23 10:13] #3439 closed

[2017-05-23 10:14] hediet commented on #1291
So yarn is intended to be an php package manager?

[2017-05-23 10:15] bestander commented on #1291
Any reasons for not to be?

[2017-05-23 10:23] hediet commented on #1291
Yeah, php's namespace structure is completely incompatible with how yarn manages dependencies. In php, you need a proper constraint solver, since packages can be installed at most once (even if they have different versions).
I am sure that other languages have similar restrictions.

[2017-05-23 10:35] marc-guenther commented on #683
@whitecolor: It seems you missed an important implication of what I wrote, so let me try to repeat it. You wrote a tool whose whole purpose is to run yarn in a way which triggers this bug here. This bug can lead to currupt cache directories and therefore broken builds. You do not warn your users about this, instead you even claim that you "handle" this bug (which you don't).

Regarding "yarn serve

[2017-05-23 10:53] #3466 closed

[2017-05-23 11:43] bestander commented on #3474
@gsklee, huge thanks for helping out.

IMHO the most important is to get `yarn install` (and add/remove/upgrade) working for everyone reliably before we can say Yarn is 1.0 (https://github.com/yarnpkg/yarn/issues/3371).

For that I'd like to categorize the issues by install phase when the issues are taking place:
- configuration (before install starts, something at system level)
- resolving (when

[2017-05-23 11:50] stephan-v commented on #1487
Back to `npm` we go.

[2017-05-23 11:52] bestander commented on #3474
Claiming #3424 - #3475

[2017-05-23 12:10] bestander commented on #3475
Thanks for bringing this up, @ds300.
Would you start it as RFC https://github.com/yarnpkg/rfcs/blob/master/README.md?

From my perspective we need API to execute JavaScript based on installation events: lock file updated, install finished, install skipped because integrity check passes, running post install scripts skipped because they were cached, etc.

We could come up with a solution when discu

[2017-05-23 12:10] #3475 closed

[2017-05-23 12:11] timfish commented on #2429
Is there a node-gyp issue for this?

[2017-05-23 12:14] erwinw commented on #3470
Same here. Hope this isn't intentional? The (yarn installation page](https://yarnpkg.com/en/docs/install#alternatives-tab) does indicate npm installation isn't recommended, but in order for yarn to play with nvm it's by far the easiest (only?) solution....

[2017-05-23 12:16] bestander commented on #2429
Here https://github.com/yarnpkg/yarn/issues/1874 and here https://github.com/nodejs/node-gyp/issues/1054

[2017-05-23 12:25] bestander commented on #3473
Can't repro
[code]

[2017-05-23 12:25] #3473 closed

[2017-05-23 12:29] bestander commented on #3470
0.24.5 marked as latest now, thanks

[2017-05-23 12:29] #3470 closed

[2017-05-23 12:32] bestander commented on #3468
That is expected behavior.
Yarn would build the same tree (with some branches removed) for the same package.json/yarn.lock no matter if it is installed with `--production` flag or not.
And that is a good thing, you end up with the same versions of dependencies trees when you are developing and deploying.

[2017-05-23 12:32] #3468 closed

[2017-05-23 12:32] julien-f opened #3479 "Package (arp-a) fails to install with yarn but succeeds with npm"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

[code]

**What is the expected behavior?**

Works with npm 4:

[code]

And npm5:

[code]

**Please mention your node.js, yarn and operating system version.**

- **Node:** 7.10.0
- **yarn**: tested with 0.24.5 and 0.25.2
- **OS**: Debian GNU/Linux 9 (stretch)

[2017-05-23 12:32] jhabdas commented on #3473
NPM package registry shows: `'dist-tags': { latest: '0.24.5', rc: '0.25.2' }`.

[2017-05-23 12:34] bestander commented on #3464
Emoji is enabled on mac by default, on other systems you can enable it with `--emoji` flag

[2017-05-23 12:34] #3464 closed

[2017-05-23 12:34] bestander commented on #3473
0.26.0-0 is master branch

[2017-05-23 12:35] jhabdas commented on #3473
Right, so I wouldn't close this until it's released, yeah?

[2017-05-23 12:36] bestander commented on #3463
You need your node_modules/.bin folder to be in your PATH to automatically use the installed CLI command.
Alternatively you can run `yarn <cli-commnad>` inside your project and it should run the installed bin.

[2017-05-23 12:36] #3463 closed

[2017-05-23 12:39] bestander commented on #3473
Sorry for being a bit proactive on closing issues right now.
We are in a bug crunch mode and trying to reduce our debt issue-wise.
As I can't reproduce this issue on the latest Yarn I'll just close it now,
otherwise I will just forget to do it later.

Your help to test this on latest master branch is very much appreciated.

On 23 May 2017 at 13:35, Josh Habdas <notifications@github.com> wrote:

[2017-05-23 12:41] jhabdas commented on #3473
Neither of those reasons justifies you just closed a valid bug in your current release.

You've already tested it. Why duplicate the effort?

[2017-05-23 12:42] bestander commented on #3457
Currently yarn.lock contains sha-1 hashes, we plan to change to sha-512 as npm registry now supports it.
If you need to derive sha256 then download the .tgz files using offline mirror https://yarnpkg.com/blog/2016/11/24/offline-mirror/ and then generate it for all the .tgz files in the folder

[2017-05-23 12:42] #3457 closed

[2017-05-23 12:46] bestander commented on #3451
Duplicate https://github.com/yarnpkg/yarn/issues/3214

[2017-05-23 12:46] #3451 closed

[2017-05-23 12:47] jhabdas commented on #3473
Okie dokie then. But let me tell explain you cannot go fast until you know what's actually happening. And as it stands what seems to be happening seems to be a sign of a mismanaged release process. Given the nature of this bug that does not make me feel comfortable using your product.

[2017-05-23 12:50] bestander commented on #3473
Sorry that you have that experience, Josh, I did not intend to make you
feel bad about it.

From my point of view the bug can't be reproduced on the latest master
branch that is soon to be released, so I decided to not spend more time
looking into the issue.
The project belongs to the community and everyone has a chance to step in
and help to manage it better.

On 23 May 2017 at 13:47, Josh Habdas

[2017-05-23 12:51] jhabdas commented on #3473
Hence my feedback.

[2017-05-23 12:55] bestander commented on #2830
duplicate https://github.com/yarnpkg/yarn/issues/2466

[2017-05-23 12:55] #2830 closed

[2017-05-23 12:55] bestander commented on #2802
duplicate https://github.com/yarnpkg/yarn/issues/2466

[2017-05-23 12:55] #2802 closed

[2017-05-23 12:56] bestander commented on #2582
duplicate https://github.com/yarnpkg/yarn/issues/2466

[2017-05-23 12:56] #2582 closed

[2017-05-23 12:56] bestander commented on #3214
duplicate https://github.com/yarnpkg/yarn/issues/2466

[2017-05-23 12:56] #3214 closed

[2017-05-23 12:57] bestander commented on #2466
This is still an issue, help to fix it is welcome.

[2017-05-23 12:58] bestander commented on #3424
Send a PR :)

[2017-05-23 12:59] bestander commented on #3428
Sorry, with this description I can't reproduce the issue.
Maybe you need to remove yarn.lock as well.

[2017-05-23 12:59] #3428 closed

[2017-05-23 13:06] bestander commented on #3429
knit is an RFC that addresses a similar problem https://github.com/yarnpkg/rfcs/pull/41.
Currently Yarn does not have a feature that it would pack a folder before installing it automatically.
Sounds like a good opportunity to send an RFC, I'll close the issue as there is no action I can make right now.

[2017-05-23 13:06] #3429 closed

[2017-05-23 13:08] bestander commented on #3430
If anyone wants `--ignore-engines` to be default in Yarn as well then open an RFC

[2017-05-23 13:08] #3430 closed

[2017-05-23 13:10] bestander commented on #3450
Help needed, send a PR

[2017-05-23 13:11] bestander commented on #3447
PR is welcome

[2017-05-23 13:14] bestander commented on #3443
Did you run `yarn clean` by any chance?
If you have a .yarnclean, remove it and try again.
We are in progress of renaming this command.

[2017-05-23 13:14] #3443 closed

[2017-05-23 13:21] bestander commented on #3437
@fiznool I suppose you can send a PR to add cordova to exclusions https://github.com/yarnpkg/yarn/blob/master/src/package-compatibility.js#L48.
A slightly better approach could be to make this field configurable.

[2017-05-23 13:22] bestander commented on #3436
Not that I know of, any advantages to do that?

[2017-05-23 13:27] bestander commented on #3433
@Congelli501, what would be the next action then?

[2017-05-23 13:28] bestander commented on #3432
Yeah, I think Yarn should look for the closest package.json in that case.
Anyone wants to send a PR?

[2017-05-23 13:34] bestander commented on #3431
Well you need to add `$(yarn global bin)` to PATH and it should work.

[2017-05-23 13:34] #3431 closed

[2017-05-23 13:37] muhajirframe commented on #3436
Sure, it's works universally on all linux distro. Auto build from github repo, auto update

Well i found it is easier to install with snap .
Aa simple as `snap install yarn` rather than configuring repository  and then update repository,
then install it ( for Ubuntu and debian).

[2017-05-23 13:40] bestander commented on #3474
To look for issues I filter by open issues that don't have `triaged` tag https://github.com/yarnpkg/yarn/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20-label%3Atriaged%20.

On May 23 we started with 650 untriaged open issues.

[2017-05-23 13:42] bestander commented on #3436
Sounds cool, @Daniel15, what do you think?
If no one objects I think we are open to get a PR to release Yarn via Snap along with other OS package managers.

[2017-05-23 13:47] apertureless commented on #3470
@erwinw yeah thats the reason why I installed it over npm. I am using [n](https://github.com/tj/n) to manage my node versions. But if I install yarn over homebrew, the node dependency also get installed which pollutes the system and I don't need multiple duplicated node versions :D

@bestander thanks! it works now.

[2017-05-23 13:48] ifzm commented on #3464
@bestander  I used the order, still no effect, did you read my screenshot?
 Is this feasible `yarn --emoji`?

[2017-05-23 14:01] bestander commented on #3464
Sorry, this was added just in https://github.com/yarnpkg/yarn/commit/10b82bb063c2e2feee669ddb9dfaf4126b74c7a7.
It will be released in 0.26

[2017-05-23 14:04] bestander commented on #3474
Claiming #541 - #786

[2017-05-23 14:06] ifzm commented on #3464
@bestander  Oh! I am looking forward.  thank you :D

[2017-05-23 14:09] bestander commented on #627
Afaik we fixed it, the reason was in the same tar file being downloaded and unpacked twice, unpacking would crash occasionally.
Please reopen if can reproduce after 0.25

[2017-05-23 14:09] #627 closed

[2017-05-23 14:13] wildeyes opened #3481 "yarn install fails"
yarn install fails with an error

[code]
yarn: 0.24.5
windows 10.
node 7.8.0

[2017-05-23 14:14] bestander commented on #657
I am not happy about scripts either, I think Yarn should integrate better with native build tools instead of shelling out to arbitrary commands the maintain their own caches, builds and downloads.

I'll close this for now as we can't act on this issue in particular.

[2017-05-23 14:14] #657 closed

[2017-05-23 14:15] bestander commented on #660
Should be fixed now

[2017-05-23 14:15] #660 closed

[2017-05-23 14:16] bestander commented on #662
We'll focus on a better publish experience soon

[2017-05-23 14:18] bestander commented on #666
Should be fixed now, can anyone share repro steps?

[2017-05-23 14:18] #666 closed

[2017-05-23 14:25] bestander commented on #3301
Yarn won't install peerDependnecy if it is not present at top level as a dependency.
You have `This module exists because it's specified in "dependencies".` and that is why it is installed.
I guess `why` could also list what packages have it as peer dependency.

[2017-05-23 14:35] bestander commented on #3274
npm does not remove packages from npm if they are unpublished, they are still available for download.
Anyone has a reliable repro step?

[2017-05-23 14:40] bestander commented on #2893
If you need to depend on a specific version of babel-runtime then don't rely on having via hoisting, list it in package.json.

[2017-05-23 14:40] #2893 closed

[2017-05-23 14:41] #2405 closed

[2017-05-23 14:49] bestander commented on #3145
Confirm, `npm pack` includes dist folder and `yarn pack` does not

[2017-05-23 14:49] timfish commented on #2429
Ah, so no consensus as to where this should be fixed!

[2017-05-23 14:54] bestander commented on #2429
Help from the community is needed.

[2017-05-23 15:00] xzyfer commented on #3274
The package wasn't unpublished. The latest dist-tag was removed and added
to a previous version. Possibly some kind of registry sync lag?

On 23 May 2017 4:35 pm, "Konstantin Raev" <notifications@github.com> wrote:

[2017-05-23 15:02] bestander commented on #3274
Yes, CDN can have a delay

[2017-05-23 15:05] jharris4 commented on #3274
Thanks for looking into this issue. The issue persisted for at least 24 hours until the author published a newer version of the sass-graph package, which resolved the problem since yarn then picked up the newer version.

The problem seems to be specific to when yarn installs packages as sub-dependencies vs top-level dependencies. Installing the package directly worked fine, so I doubt it was as si

[2017-05-23 15:08] bestander commented on #3116
Caching binary files across projects will cause other problems, e.g. sometimes binaries imprint project paths during compilation, so they can't be shared across projects.

The right way would be to make Yarn work with those gyp/sass packages that need complex install steps and allow them to be configured.
Actually you can pass configs vai .npmrc/.yarnrc to the install scripts https://github.com/ya

[2017-05-23 15:09] timfish commented on #2429
How about disabling parallel builds on Windows until we have an option. I'm sure most would prefer slightly slower installs over intermittent install failures without using an environment variable!

[2017-05-23 15:12] bestander commented on #3274
This RFC is related https://github.com/yarnpkg/rfcs/pull/68

On 23 May 2017 at 16:06, Jon Harris <notifications@github.com> wrote:

[2017-05-23 15:14] bestander commented on #2429
This is configured via `child-concurrency` setting via .yarnrc or env variable.
If we set it to 1 by default then there will be no pressure on package authors to make their packages behave well.

[2017-05-23 15:19] bestander commented on #2442
Can anyone produce a package.json which allows me to repro this thing 100%?

[2017-05-23 15:21] bestander commented on #2317
nvm should work with Yarn.
Although when you install yarn with brew it may fetch Node via brew as well

[2017-05-23 15:24] bestander commented on #2317
Can't reproduce it, so I can't act on this.
Please reopen if you have steps to reproduce

[2017-05-23 15:24] #2317 closed

[2017-05-23 15:28] bestander commented on #2287
This are some fair points, we are teaching Yarn proper English a little bit at a time :)

The integrity checks became more silent if they are not actionable and they do run by default when you install.

The warnings `warning standard#eslint-config-standard-jsx#eslint@>=3.0.0 could be deduped from 3.12.2 to eslint@3.12.2` I think got fixed in 0.26.

But if they are not please send a PR!

[2017-05-23 15:28] edwardpayton commented on #3437
+1

[2017-05-23 15:32] mnpenner commented on #2466
I think it'd be nicer if the `^` or `~` from the original request was retained, regardless of what version was actually picked. And if not that, then default to to adding `^` which is the most common scenario, no?

Omitting the symbol seems nearly as bad as saving the wrong version to package.json. In either scenario, you'll have to manually correct it.

[2017-05-23 15:33] bestander commented on #2466
totally, where is the PR? :)

On 23 May 2017 at 16:32, Mark Penner <notifications@github.com> wrote:

[2017-05-23 15:49] tobiastom commented on #2442
@bestander To reproduce the `Input Error: Did not receive any STDIN` you can use this one:

[code]

Just run `yarn run css` and you should see this output:

[code]

**My initial issue** about the task not getting finished **was solved** by an update of `postcss-cli`.

[2017-05-23 16:00] bestander commented on #2442
Thanks.
The problem is here https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/run.js#L66.

When you do `yarn run css`, Yarn tries to run commands `precss`, `css` and `postcss` and postcss is a dependency with a binary.

[2017-05-23 16:01] bestander commented on #2442
Not sure actually how to properly solve it, any ideas?

[2017-05-23 16:04] bestander commented on #2259
Can't reproduce
[code]

[2017-05-23 16:04] #2259 closed

[2017-05-23 16:08] bestander commented on #3314
This is fixed in 0.24.3 now.

[2017-05-23 16:08] #3314 closed

[2017-05-23 16:10] bradserbu commented on #3447
Understood.

This issue is as much as a reminder for myself, as well as any other
developer who may want to implement a quick fix.

Cheers,
Brad Serbu

On Tue, May 23, 2017 at 9:11 AM Konstantin Raev <notifications@github.com>
wrote:

[2017-05-23 16:20] bestander commented on #1937
With Yarn 0.24.3 on MacOS this works fine

[2017-05-23 16:20] #1937 closed

[2017-05-23 16:21] tobiastom commented on #2442
I think the easiest solution would be to check which pre/post scripts are defined inside the `package.json` and only run them if they exist.

[2017-05-23 16:23] bestander commented on #786
@AlejandroHuerta, can you share the steps to reproduce your issue?

[2017-05-23 16:25] bestander commented on #2442
Would you send a PR?

[2017-05-23 16:28] bestander commented on #1998
As @Daniel15 commented

[2017-05-23 16:28] #1998 closed

[2017-05-23 16:28] bestander commented on #2221
PR is welcome

[2017-05-23 16:30] bestander commented on #749
Looks like there are plenty of ways now.
If anyone wants to submit a good way to do this, feel free to send a PR for the docs website https://github.com/yarnpkg/website

[2017-05-23 16:30] #749 closed

[2017-05-23 16:31] bestander commented on #921
Also you can use `--network-concurrency` flag to limit the amount of parallel downloads

[2017-05-23 16:31] #921 closed

[2017-05-23 16:32] bestander commented on #2376
Looks like it is fixed now

[2017-05-23 16:32] #2376 closed

[2017-05-23 16:33] bestander commented on #2109
This feature is available https://yarnpkg.com/en/docs/prune-offline-mirror

[2017-05-23 16:33] #2109 closed

[2017-05-23 16:37] #2350 closed

[2017-05-23 16:39] tobiastom commented on #2442
I cannot promise anything and it might take a while but: yes. I'll look into it. :)

[2017-05-23 16:39] ivan-kolmychek opened #3483 "Make "yarn outdated" exit with a non-zero exit code when there are outdated dependencies"
**Do you want to request a *feature* or report a *bug*?**

Feature (probably).

**What is the current behavior?**

With outdated packages present, `yarn outdated` exits with `0`

The `npm outdated ` in the same situation will exit with `1` (as of NPM `4.2.0`).

**What is the expected behavior?**

With outdated packages present, `yarn outdated` should exit with non-zero exit code.

**Please mention

[2017-05-23 16:50] bestander commented on #3474
claiming #3298 - #3483

[2017-05-23 16:52] bestander commented on #3483
Sounds reasonable, send a PR

[2017-05-23 16:54] bestander commented on #3481
Sorry, that is not enough to reproduce the issue.
A sequence of commands to reproduce this error would help

[2017-05-23 16:54] #3481 closed

[2017-05-23 16:55] #3423 closed

[2017-05-23 16:56] bestander commented on #2636
A PR with a test is welcome

[2017-05-23 17:14] tobiastom commented on #3051
This seems to be a duplicate of #2442.

[2017-05-23 17:19] bestander commented on #3242
In 0.23 (and 0.26 added a patch) Yarn learned to optimize lockfile to reduce the number of distinct packages downloaded.
This should be a one-off optimization.
--frozen-lockfile got broken, we'll fix it in https://github.com/yarnpkg/yarn/issues/3313

[2017-05-23 17:19] #3242 closed

[2017-05-23 17:22] bestander commented on #3315
This got fixed in https://github.com/yarnpkg/yarn/pull/3477 and released in 0.26 this Friday.
After that it should do a one-off dependency optimization and that is all

[2017-05-23 17:22] #3315 closed

[2017-05-23 17:23] bestander commented on #3420
duplicate https://github.com/yarnpkg/yarn/issues/3313

[2017-05-23 17:23] #3420 closed

[2017-05-23 17:24] bestander commented on #3313
This is where it should fail but does not https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/install.js#L340.

Help debugging and a PR are welcome

[2017-05-23 17:28] bestander commented on #3419
I think the error message is quite explicit, there is a package add https://yarnpkg.com/en/package/add so it might be a user's intention

Feel free to send a PR to improve.

[2017-05-23 17:28] #3419 closed

[2017-05-23 17:31] bestander commented on #3302
Thanks for reporting but we can't act on this description.
Any chance you could set up a repro scenario?

[2017-05-23 17:31] #3302 closed

[2017-05-23 17:33] bestander commented on #3303
I think there are several issues discussed here.
We have fixed a git related issue in 0.25.
Feel free to open a new issue with steps to reproduce if it still remains.

[2017-05-23 17:33] #3303 closed

[2017-05-23 17:37] bestander commented on #3306
Thanks for repro steps, I confirm it happens

[2017-05-23 17:38] bestander commented on #3307
I think you can pass env variables via ,npmrc and .yarnrc.

[2017-05-23 17:39] bestander commented on #3307
Documenting the current ways to pass arguments to node-gyp and sending a PR to pass CLI args to node-gyp are welcome.

[2017-05-23 17:41] #3418 closed

[2017-05-23 17:43] bestander commented on #2541
It should be fixed now

[2017-05-23 17:43] #2541 closed

[2017-05-23 17:44] bestander commented on #2193
Yarn has its own settings in .yarnrc file https://yarnpkg.com/en/docs/yarnrc.
Yarn supports some of the .npmrc configs.
Help in documenting this is welcome

[2017-05-23 17:44] #2193 closed

[2017-05-23 17:45] bestander commented on #3411
duplicate of https://github.com/yarnpkg/yarn/issues/2118

[2017-05-23 17:45] #3411 closed

[2017-05-23 17:47] bestander commented on #521
It should be fixed now.
If you have some custom example where it does not work please open a new issue.
It is important to provide steps to reproduce in this cases.

[2017-05-23 17:47] #521 closed

[2017-05-23 17:48] bestander commented on #2118
Yarn reads .npmrc recursively https://github.com/yarnpkg/yarn/blob/master/src/registries/npm-registry.js#L132

[2017-05-23 17:50] bestander commented on #2118
But Yarn does not support all npm configurations.
Feel free to send a PR to support any specific configuration that you thing Yarn should support as well.

[2017-05-23 17:50] #2118 closed

[2017-05-23 17:52] bestander commented on #3408
@voxsim, feel free to give it a try and check if the code becomes more readable.
Would be great if there is a way around the CONS

[2017-05-23 17:55] bestander commented on #3407
A PR is welcome

[2017-05-23 17:59] bestander commented on #3398
Looks quite straightforward to me.
[code]

[2017-05-23 18:00] bestander commented on #3398
If you send a PR that would address `i + <package>` case in one error message, that would be great.
I'll close the issue.

[2017-05-23 18:00] #3398 closed

[2017-05-23 18:02] byokota commented on #3028
I've had the same thing happen to me for one of my projects (not all). Install worked maybe once, and then failed to complete as stated in the ticket. Then somehow I got it to work. Now its failing after trying to install updated versions.

We have local/private packages that we import... wondering if that has to do with it. Not sure which package its failing on though... not sure how to tell.

I'

[2017-05-23 18:08] bestander commented on #3317
It should send a warning, PR is welcome.
Commander.js emits an event when argument is unknown, just print reproter.warn with error message.

[2017-05-23 18:09] arkaic commented on #623
[code]

Still getting the same issue even with yarn's latest (v0.24.5) and latest non-LTS node (v7.10.0).

[2017-05-23 18:10] bestander commented on #3340
Please provide a package.json for us to reproduce.

From the error message this looks quite actionable
{"protocol":"https:","hostname":"bitbucket.org","repository":"https://git@bitbucket.org/fiveminutes/react-native-calendar-manager.git"} over HTTPS without a commit hash - possible certificate error?
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

[2017-05-23 18:10] #3340 closed

[2017-05-23 18:22] wsfuller commented on #3042
There's a bit of a discussion on this on [#1139](https://github.com/yarnpkg/yarn/issues/1139) that ties into other issues.

`npm install -g yarn` solved the issue for me when nothing happened running `npm update --global yarn`.

Curious as to why there is a prompt for `npm update --global yarn` when the command doesn't do anything. And [Yarn `self-update`](https://yarnpkg.com/en/docs/cli/self-upda

[2017-05-23 18:27] byokota commented on #3028
I'm not sure if this is just a temporary fix like last time (and it will happen again)...

I deleted `node_modules` and `yarn.lock` and updated from yarn version `0.22.0` to `0.24.5` and now it works.

[2017-05-23 18:35] kachkaev commented on #521
Awesome @bestander! What's the minimum yarn version where it’s expected to work?

[2017-05-23 18:49] bestander commented on #521
There were multiple fixes across versions.
0.26 should have them all

On Tue, 23 May 2017 at 19:44, Alexander Kachkaev <notifications@github.com>
wrote:

[2017-05-23 19:06] xzyfer commented on #3274
That would explain many of the node-sass issues we've seen reported. Node
sass is almost always installed as a transient dependency.

On 23 May 2017 5:12 pm, "Konstantin Raev" <notifications@github.com> wrote:

This RFC is related https://github.com/yarnpkg/rfcs/pull/68

On 23 May 2017 at 16:06, Jon Harris <notifications@github.com> wrote:

package,

directly

mute

ACBdWEzy20ckJcogTMOb0Eba425qs3u

[2017-05-23 19:40] jiaweihli opened #3485 "[0.24.5] Issues with node-sass"
**What is the current behavior?**
`node-sass`, and other libraries with build artifacts, occasionally fail at runtime when installed with yarn.  The workaround is to run `npm rebuild node-sass` after doing a yarn update.

**If the current behavior is a bug, please provide the steps to reproduce.**

Quoting a [post](https://github.com/yarnpkg/yarn/issues/1832#issuecomment-299679639) on the same iss

[2017-05-23 19:59] phyllisstein commented on #2830
Whoops, sorry about that! Thanks for pointing to the right issue.

[2017-05-23 20:30] DanBuild opened #3486 "yarn-homebrew #18 failed"
Build 'yarn-homebrew' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://build.dan.cx/job/yarn-homebrew/18/)

cc @Daniel15

[2017-05-23 20:30] wildeyes commented on #3481
There was only a `yarn install`...

On Tue, 23 May 2017, 19:55 Konstantin Raev, <notifications@github.com>
wrote:

--

Sincerely, Daniel.

[2017-05-23 20:32] DanBuild opened #3487 "yarn-chocolatey #17 failed"
Build 'yarn-chocolatey' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://build.dan.cx/job/yarn-chocolatey/17/)

cc @Daniel15

[2017-05-23 20:53] rally25rs commented on #3384
I'm thinking about adding a `--latest` flag instead of `-f` to be clearer in it's meaning.
It would ignore the package.json defined semver range when a package name with no explicit version is passed.

Examples:

Given a package.json

[code]

And the `left-pad` package has these versions defined in the registry:

[code]

# Existing Behavior:

Upgrades to 1.1.1 because it matches the package.json s