[2016-11-11 06:36] PrismPrince opened #1781 "Error: connect ETIMEDOUT 192.30.253.113:443"
**Which operating system are you using:**
Windows 10 x64

**Please describe the steps you took when trying to install Yarn and what went wrong:**
===from log file of yarn===

Trace:
  Error: connect ETIMEDOUT 192.30.253.113:443
      at Object.exports._errnoException (util.js:1026:11)
      at exports._exceptionWithHostPort (util.js:1049:20)
      at TCPConnectWrap.afterConnect [as oncomplete] (ne

[2016-11-11 07:21] phestermcs commented on #1761
Sebastian, Thank you kindly for taking the time to explain your experience with symlinking. It's greatly appreciated.

## OS File System Linking Differences
Regarding file system linking, I'm presuming `yarn` did something similar to how `ied` works, in that folders lower in the physical dependency tree were linked to top level folders under `project/node_modules` where the modules physically exis

[2016-11-11 07:24] Daniel15 commented on #1761
@phestermcs - What do you think of the idea of using a copy-on-write filesystem to achieve the disk space reduction? That's something I've been thinking about a bit as well (as per my comment above)

[2016-11-11 07:35] phestermcs commented on #1761
@Daniel15 What do I think? I think any solution that fixes this !@$# problem needs to be implemented IMMEDIATELY!!! hahaha.

One of the great things of `node` is how it normalizes the OS to irrelevancy. If an OS effectively supports some COW solution, that is unknown to `node`, and if you can use it you should.

I have machines with all three major OS's (and others), and I've done lots of both OS

[2016-11-11 08:50] maybeec commented on #513
One essential part of this issue seems to be the inconsistency of package.json and yarn.lock as described by @FredyC : The package.json does not contain the `git+ssh://git@` prefix, which is maintained in yarn.lock during installation. I was thinking, that yarn is prefering to look at the yarn.lock file rather than retrieving the resolution information from package.json

[2016-11-11 10:17] jorgenbs opened #1783 "Yarn doesnt add a specific peer dependency"
I'm not 100% sure when this issue started, it might have been after a yarn clean. But the issue persists even after a clean fork, removing yarn.lock and starting over does not resolve it either.

The issue is the peer dep react-router#history.
Every time I add/remove a package with yarn, `history` gets removed from my `node_modules`.
I've tried manually adding it with yarn afterwards, but it does

[2016-11-11 10:52] FredyC commented on #513
@maybeec That problem is actually already solved in master branch... https://github.com/yarnpkg/yarn/issues/1312#issuecomment-258230803

[2016-11-11 11:05] maybeec commented on #513
Well done, I am looking forward for the next release. I thing it will fix a lot of issues.

[2016-11-11 12:19] FredyC commented on #513
Yea, I am totally doumbfounded what's the holdup with making new releases. This one is around like a month now? I guess it's some strict Facebook policy or what... 😢

[2016-11-11 13:19] alanhogan opened #1784 "Please release a new version of yarn"
Some rather important fixes have landed in master, such as improving compatibility with private git repositories as module sources. By releasing a new version of yarn, you will immediately allow more teams to switch over and collectively save uncounted many hours of trouble :)

[2016-11-11 13:21] alanhogan commented on #513
#1784 requests a new release. Please just leave a thumbs-up reaction!

[2016-11-11 13:28] IOAyman commented on #1773
Thank you :)

[2016-11-11 13:33] IOAyman commented on #1784
Problems such as #1773 as well!

:+1:

[2016-11-11 13:47] wyze commented on #1681
I'm not sure when the next stable release is, but if you would like, you could try out the nightly release by doing the following:

[code]

[2016-11-11 13:53] wyze commented on #1780
Duplicate #760 and was fixed by #1210.

[2016-11-11 13:53] #1780 closed

[2016-11-11 13:54] wyze commented on #1781
Duplicate #944.

[2016-11-11 13:54] #1781 closed

[2016-11-11 14:43] jh3y commented on #1164
I seem to be having much better luck with everything now 😸

`browser-sync` has been working fine for me :tada:

@jh3y

[2016-11-11 14:46] dennisfrank commented on #616
Yes . Please release!

I ran into this problem myself while traveling offline. yarn’s offline mode was the primary reason to use yarn in the first place. Without a local backup I had not been able to restore bower_components. This is serious. The workarounds from the comments above don’t work offline.

Thanks!

[2016-11-11 14:58] develar commented on #1749
Checked — it works in the released 0.1.6.1 and broken in the nightly 0.17

[2016-11-11 14:59] develar commented on #1784
BTW, `yarn run [script] [-- <args>]` (#1749) is broken in the nightly builds :(

[2016-11-11 15:01] patcoll commented on #616
@dennisfrank Thanks for saying that.

I'm tempted to offer a bounty for someone re-instating and completing bower support. It's still widely used, even if it is being deprecated in a lot of places. And its ability to have repeatable installs is very poor.

[2016-11-11 15:06] barryvdh commented on #616
I don't think the biggest problem is missing Bower, it's the unexpected deletion of the bower directory :/

Not really sure why this isn't seen as a critical enough issue to release a new (minor) tag for, this can cause serious problems for someone who isn't using version control.

[2016-11-11 15:12] dennisfrank commented on #616
@barryvdh Exactly. But even if you you use version control the bower directory often gets ignored on purpose.

[2016-11-11 15:20] alexisvincent commented on #738
Another project that might interest members of this thread is [alexisvincent/systemjs-config-builder](https://github.com/alexisvincent/systemjs-config-builder/).

[2016-11-11 15:20] alexisvincent commented on #1446
Another project that might interest members of this thread is [alexisvincent/systemjs-config-builder](https://github.com/alexisvincent/systemjs-config-builder/).

[2016-11-11 15:51] MaximRouiller commented on #616
Once this get published, I'm ditching npm for our team. Meanwhile? I'll wait,

[2016-11-11 15:56] posva commented on #1194
The latest version of yarn seems to have `~/.yarn-config/global/node_modules/.bin`
So instead of adding `export PATH="$HOME/.yarn/bin:$PATH"` we have to add
[code]

[2016-11-11 16:28] jsdario opened #1785 "Installing wrong version of a package when version is specified as asterisk"
**Do you want to request a *feature* or report a *bug*?**
I am not sure this is a *question* or a *bug*. When using `yarn` in my react-native project I found a behaviour that got me stuck for a couple of hours.

[react-native-video-player](https://www.npmjs.com/package/react-native-video-player) has specified an asterisk as `react-native` version.
The rest of my project works on `react-native@^0.3

[2016-11-11 16:45] IanVS commented on #1597
I've had this as well, with the `moment-weekday-calc` plugin.  It (IMHO incorrectly) specifies `moment` as a dependency instead of a peer dependency, and then adds some methods to `moment`.  With yarn, it has its own `moment` that it finds when it does a require, instead of finding the top-level `moment` that my app code is using.

To be more clear, my package.json includes:

[code]

and the packa

[2016-11-11 17:03] MichaReiser commented on #1087
I had the same issue. Deleting the original package from yarn cache resolved the issue (for the moment)

[2016-11-11 17:19] landonpoch commented on #1182
yarn 0.16.1, node v5.12.0, mac osx. Having the same issue with private repo also.  We're using artifactory.

[2016-11-11 17:45] joeandaverde commented on #918
+1

[2016-11-11 17:46] joeandaverde commented on #869
+1

[2016-11-11 17:58] gonzoyumo opened #1786 ""yarn add -D" doesn't install as dev dependencies"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
`yarn add pkg -D` install pkg as production dependency instead of dev Dependency

**If the current behavior is a bug, please provide the steps to reproduce.**
* `yarn add pkg -D`
* Look at package.json

**What is the expected behavior?**
`yarn add pkg -D` should add pkg to devDependencies instead of

[2016-11-11 18:06] rkurbatov commented on #1182
I had to do some cleaning and yarn/npm login/logout to fix that problem

[2016-11-11 18:21] kittens commented on #1747
Created #1787 to fix this, pending approval.

[2016-11-11 18:23] kittens commented on #1786
This is fixed in `master`.

[2016-11-11 18:23] #1786 closed

[2016-11-11 18:25] kittens commented on #1776
No it shouldn't. The file is plain text and there can be merge conflicts in the file that you may need to resolve.

[2016-11-11 18:25] #1776 closed

[2016-11-11 18:31] kittens commented on #1784
We're still in the process of getting our releases automated. Right now there's a lot of manual churn to get Yarn released. For example we have installers for Windows that need to be signed and the team is currently split across timezones which means that coordinating these is particularly tricky. The next release will either be today or Monday.

[2016-11-11 18:31] #1784 closed

[2016-11-11 18:48] landonpoch commented on #1182
I did a npm logout/login
npm cache clean
yarn cache clean

Still seeing the invalid tar file issue.

@rkurbatov Do you recall any other details that you may have had to do?

[2016-11-11 19:37] troydemonbreun commented on #1379
FYI, #1739 landed, which was a fix for #761 (don't have time at the moment to verify if it fixes OP's issue)

[2016-11-11 20:10] phestermcs commented on #1761
@Daniel15 I've spent a little time pondering you comments.

I think using hard links could be a decent option. I was so locked on to linking the whole folder (but never it's `node_modules` subfolder) as the absolute fastest way, I missed the hardlink approach entirely (*blush*)! In fact, I'm going to explore that a little more, as you're correct that it should still save just about the same amount

[2016-11-11 20:20] thetrevdev commented on #616
Not sure what is blocking the release or the target eta.  With an early library like this it would be better to see them make changes faster.  This has been sitting for a month.

[2016-11-11 20:37] guncha commented on #711
We have the same setup as @StephanBijzitter and are using `yarn --modules-folder=../node_modules` to recursively install all of the dependencies in the top level `node_modules`.

This is our top level `preinstall` script:

[code]

This sort of works, but is highly unsafe. In case of conflicts, a later package will overwrite the dependencies in `node_modules` without a warning, for example.

What w

[2016-11-11 21:00] Pauan commented on #711
@guncha Did you try the [solution that I mentioned in this issue](https://github.com/yarnpkg/yarn/issues/711#issuecomment-253747882)?

[2016-11-11 21:26] ide commented on #917
Similarly we run into this warning when using modules like `url` and `querystring` in universal JS that runs on the server and client. In fact we intentionally don't want to use Node's built-in version since we want to ensure the same behavior in all environments.

[2016-11-11 21:27] guncha commented on #711
@Pauan I did and it would work perfectly if Yarn would symlink the `file: blah` dependencies into `node_modules` instead of copying them.

1. Because of the copying, we can't work on one of the dependencies and have the changes be reflected in the code that requires it.
2. Yarn seems to cache the `file:./blah` dependencies such that if you update dependencies in `./blah/package.json`, it will not

[2016-11-11 21:40] ide commented on #917
I sent a PR ^ that removes the warning, feel free to reject it though.

[2016-11-11 21:52] rkurbatov commented on #1182
@landonpoch try to remove .npm and all .yarn* folders at your home folder and .npmrc file

[2016-11-11 22:15] Pauan commented on #711
@guncha Issue 1 is tracked in #499 and #1761 (and possibly #1334 as well).

Keep in mind that a lot of people don't *want* the implicit sharing, because it means that if you change a library, it will affect *every single Node.js package on your computer, including unrelated applications and libraries*. That isn't a problem with npm or Yarn's current behavior. If you want to modify a package, I rec

[2016-11-12 00:41] whitecolor commented on #1214
This is very confusing problem, a big source of hassle,  have you managed fix the logic behind it?

[2016-11-12 04:19] bsed commented on #668
[code]

[2016-11-12 10:21] sandy-adi commented on #944
I'm on OSX 10.11.6 and I'm seeing the same error

[2016-11-12 15:06] robinbullocks4rb commented on #1182
@rkurbatov @landonpoch don't know if this helps or hinders, but I have the same problem using NPM-hosted private packages on both Heroku (not with Docker) and Docker running locally, both clean environments. For reasons I can't determine though, I don't get the problem on my local, non-Dockerised Mac OS environment.

[2016-11-12 16:58] whitecolor opened #1794 "Inconsistent work with local (file:)/ remote (git) dependencies"
I decided to create this issue following https://github.com/yarnpkg/yarn/issues/1214 to make a consistent description of yarn's (probably inconsistent) behaviour when dealing with local (`file:`) dependencies.

If we have dependency in package.json:
[code]
I **On first install**, or when the dependency is added (using `yarn add`), happens following:
1) in yarn creates `node_modules/my-local` and c

[2016-11-12 16:59] whitecolor commented on #1214
I've described inconsistent behaviour or yarn that leads to the issue: https://github.com/yarnpkg/yarn/issues/1794

[2016-11-12 18:27] pornel opened #1795 "Hangs forever on git repositories asking for authentication"
Adding/installing from a git repository that requires a password makes yarn wait forever for git, which is stuck waiting for password entry.

To reproduce:

[code]

This hang happens because internally yarn runs equivalent of:

[code]

The hang can be prevented in git 2.3+ by setting `GIT_TERMINAL_PROMPT=0` env var when running `git`. For older versions of git `GIT_ASKPASS=true` (where `true` is n

[2016-11-12 19:20] jonaskello commented on #573
If we could get support for semantic versioning also that would be awesome! What I mean is that something like this could work:

`git+ssh://git@github.com/org/repo.git^1.0.1`

jspm already has this feature but npm does not.

[2016-11-12 19:51] MatteoGabriele commented on #1776
In the [documentation](https://yarnpkg.com/en/docs/yarn-lock) is written that the yarn.lock file should not be touched to avoid problems but only yarn itself should deal with it. Then how I resolve a merge conflict?

[2016-11-12 22:59] matthewkastor commented on #680
Umm. I got lots of pings from this. Glad it's fixed now. Thanks and stuff!

[2016-11-12 23:54] pornel opened #1796 "ssh:// prefix is not removed from URLs passed to git CLI"
Bug in v0.17.0. Still in v0.20.3.

**What is the current behavior?**

URL in the format `git+ssh://host_alias:path.git` is given to git clone as `ssh://host_alias:path.git`. This is not compatible with npm, which clones `host_alias:path.git` (without the `ssh://` prefix). This changes the meaning of the URL in `git`.

(By `host_alias` I mean a name given in `Host` setting in `~/.ssh/config`. I'm u

[2016-11-13 00:22] guncha commented on #1794
I'm seeing the same issue with Yarn caching the local folder and ignoring all changes to it until I run `yarn cache clean`. What's interesting is that the actual dependencies in `node_modules` reflect the changes to the `package.json` file in the local folder, but `yarn.lock` still has the old dependencies listed.

[2016-11-13 00:27] thejameskyle commented on #573
I agree with @isaacs here, I don't think it makes sense to apply semver to something that isn't explicitly semver. It also breaks compatibility with npm without a huge benefit.

[2016-11-13 02:54] whitecolor commented on #1794
Yes, behaviour is inconsistent.

[2016-11-13 04:21] whitecolor commented on #919
@rkusuma those issues refers to windows users, and windows users must suffer =)

[2016-11-13 05:28] thesbros commented on #1672
`bin/yarn.js` still creates `GLOBAL_INSTALL_DIRECTORY -> .yarn`, which doesn't seem to actually be used for anything.

[2016-11-13 07:24] ikhilko opened #1797 "An unexpected error occured while using "Scoped packages""
An unexpected error occured while trying to execute `yarn outdated`. The error report is here:

[code]

[2016-11-13 07:27] ikhilko commented on #1797
Looks like relates with https://github.com/yarnpkg/yarn/issues/620

[2016-11-13 09:20] jonaskello commented on #573
@thejameskyle Actually the issue I referenced [states](https://github.com/npm/npm/issues/3328) that it will be added to npm:

So I wouldn't see it as breaking compatibility with `npm` but rather keeping feature parity with `npm`, `jspm` and `bower`.

To me this feature makes perfect sense for organisations that are too small to maintain a private package server, but still need to share some packag

[2016-11-13 12:16] whitecolor opened #1798 "Gives a fatal error when can not clone git repo from optionalDependencies"
**What is the current behavior?**
`optionalDependencies` has git repo that needs correct SSH keys, that are not present on the host.
[code]
Yarn can not fetch remote repo, but it should leave it, as it is just in **optionalDependencies**.
Npm work fine with such deps.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Proceed with warn

[2016-11-13 12:45] vmlinz commented on #1767
same error here, yarn clean yields error if you have cleaned before.

[2016-11-13 12:57] kyoungrok0517 opened #1799 "`yarn global add vue-cli` causes error"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I'm in Windows 10. I tried to install `vue-cli` using yarn with the command `yarn global add vue-cli`, and see the error report I attached.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn global add vue-cli`

**What is the expected behavior?**
No error

**Ple

[2016-11-13 13:54] wyze commented on #1797
Duplicate #620. This is fixed on master and will be in the next release.

[2016-11-13 13:54] #1797 closed

[2016-11-13 13:55] wyze commented on #1798
Could you please provide a simple `package.json` we could use to reproduce?

[2016-11-13 14:03] heikomat commented on #711
Where i work, we use the same project structure, with local modules, that themselves can have local modules etc. We too faced the problem of unnecessary duplicate dependency installs (which made the install bigger and slower)

To solve this, i created a postinstall script, that installs all the dependencies of local modules and submodules etc into the root-node_modules, except when conflicting dep

[2016-11-13 14:28] whitecolor commented on #1798
This causes the problem:
[code]
This is a private repo that requires ssh keys that are not on the host.

[2016-11-13 14:37] TotallyInformation opened #1800 "BUG: yarn ls --depth=0"
Windows 10, Node v0.6, Yarn v0.16.1

    yarn ls --depth=0

Does not work:

       error: unknown option `--depth'

The docs say it should work, it works on npm.

[2016-11-13 14:48] whitecolor commented on #1214
For those who experience this problem I made a [quick fix](https://github.com/whitecolor/my-yarn) that disables getting from cache for local (file:) dependencies, you may look and ad create you version or yarn.

[2016-11-13 16:01] jvhoven commented on #1800
Hi! This seems to be fixed in master :smiley:. You could use the [nightly version](https://nightly.yarnpkg.com/) if you really wanted to use this feature right now.

[2016-11-13 16:10] jvhoven commented on #1799
Hi! It seems there is an issue regarding permissions for installing global modules,  see #1491.

For now you could do as daniel15 suggested:

[2016-11-13 17:01] josefsachsconning opened #1801 "`yarn install` causes inscrutable modification to `yarn.lock` file"
**Do you want to request a *feature* or report a *bug*?**
bug/question

**What is the current behavior?**
`yarn install` causes inscrutable modification to `yarn.lock` file, e.g.
[code]

[2016-11-13 17:02] whitecolor opened #1802 "`github:` defines fetcher type as tallbar"
Dependency `github:someuser/somerepo` while fetcher type is set as `tallbar` not `git`. Not sure how it should be but it is strange to me.

If replace dep location with: `ssh://git@github.com/someuser/somerepo` it fetcher type will be `git`

[2016-11-13 17:20] thibmaek opened #1803 "`yarn global add package` does not update packages to a newer version"
**Do you want to request a *feature* or report a *bug*?**

Bug
**What is the current behavior?**
Running `yarn global add now` does not update the globally installed package
**If the current behavior is a bug, please provide the steps to reproduce.**
Install an older version of a package (eg. now) globally and try to update it with `yarn global add <pkg>`
**What is the expected behavior?**
It upda

[2016-11-13 19:47] torifat commented on #1722
How about something similar to `global`?

`Usage: yarn link [add|ls|remove] [flags]`

[2016-11-13 20:14] niieani commented on #1087
For me installing anything from a github branch does not work with yarn. I had to go back to `npm`.
It always installs the default branch, does not use the specified one after `#`.

[2016-11-13 20:18] whitecolor commented on #1722
Yes I think that would be very explicit and nice.

[2016-11-13 20:19] wmhilton commented on #1285
+1
[code]

Expected behavior:

[code]

Actual behavior:

[code]

Repeated installation attempts eventually makes it happy, but clearing out node_modules and package.json and doing a fresh install of `chokidar` reliably fails.

**Update:**
It looks to me like what is happening is that `PackageCompatibility.check` is merely printing a warning for optionalDependencies that fail the validation check.

[2016-11-13 22:32] wyze commented on #1800
This is only available on master, but will be in the next release.

[2016-11-13 22:32] #1800 closed

[2016-11-13 22:34] wyze commented on #1799
Duplicate #859.

[2016-11-13 22:34] #1799 closed

[2016-11-13 22:36] wyze commented on #1801
Duplicate #1308. It is fixed on master and will be in the next release.

[2016-11-13 22:36] #1801 closed

[2016-11-13 22:39] wyze commented on #1803
Duplicate #1321. Seems it installs successful, but not in the correct path.

[2016-11-13 22:39] #1803 closed

[2016-11-13 23:17] Daniel15 commented on #1474
Done! Documented, and end-to-end tests are using the nightly builds now too.

[2016-11-13 23:17] #1474 closed

[2016-11-13 23:20] Daniel15 commented on #908
There's ~2.3 MB of files in node_modules\rx\ts we probably don't need

[2016-11-13 23:33] phestermcs commented on #1761
Finally took some initial measurements using react repo ~ 21k files. Ran the tests 3 times each, so here's their ballparks.

SSD "Install"  (482MBs seq, 30k iops rand)

yarn lnkdep | hardlink | adj-nm & symlink
--------------- | --------- | -------------------
70 sec | 28 sec | 2 sec

SSD Delete `node_modules`

yarn lnkdep | hardlink | adj-nm & symlink
--------------- | --------- | ---------------

[2016-11-13 23:36] Daniel15 commented on #1724
I just encountered this on Linux too (Windows Subsystem for Linux on Windows 10):

[2016-11-14 00:30] Daniel15 commented on #1326
Currently blocked by https://github.com/jordansissel/fpm/issues/1227

[2016-11-14 00:31] shnhrrsn opened #1804 "`yarn bin` path incorrect"
Running `yarn bin` in subdirs of the main project dir is reporting an incorrect path:

[code]

I don’t have a `node_modules` dir in `/apps/api/build/bin`, the root `package.json` file and main `node_modules` dir is located in `/apps/api`.

`npm bin` correctly finds the root dir and outputs it, where as it appears `yarn bin` just takes the current dir and appends `node_modules/.bin`

[2016-11-14 01:25] thejameskyle commented on #908
Here's a fun idea, you could use [`module-deps`](https://github.com/substack/module-deps) to find all the things that are actually necessary to run Yarn and only copy those files into `dist`

[2016-11-14 01:27] Daniel15 commented on #908
That's an interesting idea. We do have the standalone .js file built using Webpack, I wonder if we can get Webpack to output the dependency tree in a similar way.

We do need to keep the LICENSE files, so we should be sure to special-case those regardless of the approach we take 😄

[2016-11-14 02:05] Pauan commented on #1761
@phestermcs Thank you for pushing for this. In my opinion, slow installation is the current biggest problem with yarn (though it's still faster than npm).

It makes sense to me that hardlinks would be the same performance on both SSD and HDD, because they both do the same amount of work: they simply increment the ref count, but don't do any actual copying.

Symlinks are faster than hardlinks becau

[2016-11-14 03:02] ljharb commented on #1761
@Pauan yet, the ability to do that is a long-standing important part of node, and since node's `require` only cares about what's on disk, i should always be able to edit a file on disk and have the changes show up appropriately.

[2016-11-14 03:10] phestermcs commented on #1761
I wouldn't necessarily characterize slow install times as a problem with any package manager in particular, as it's primarily a consequence of a constraint in `node` that no package manager can get around (which Is why I've submitted a [PR](https://github.com/nodejs/node/pull/9456) to change, and is what the "adj-nm" refers to).

I'm still surprised creating hardlinks took the same time between th

[2016-11-14 04:07] phestermcs commented on #1761
@ljharb I'm curious if changing content under `node_modules` is something you do on a routine basis? And if so what are your uses cases the necessitate that? Just curious is all.

In my own experience, I have on rare occasions tweaked an installed module while trying to understand some behavior. I've then gone on to some other thing, and when I come back to the project, I've forgotten I made a cha

[2016-11-14 06:19] lawliet89 commented on #1750
Let us consider the tarball from https://registry.yarnpkg.com/react-select-plus/-/react-select-plus-1.0.0-rc.1.patch1.tgz

If we list the tar contents:

[code]

You can see that the UID for `package/package.json` stored in the tarball is `57095740`. If we `strace` `yarn`, you can see that it is trying to `chown` the extracted file to this UID, which fails when the UID is outside of the subuid rang

[2016-11-14 06:36] stoffern opened #1805 "Add commitizen and semantic release for automatic versioning and NPM releasing."
https://github.com/commitizen/cz-cli
https://github.com/semantic-release/semantic-release

more info here
https://egghead.io/lessons/javascript-how-to-write-a-javascript-library-automating-releases-with-semantic-release

[2016-11-14 07:15] matart15 opened #1806 "EACCES: permission denied on yarn install"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
react native project `yarn install` gives me this error

[code]

I tried chmod 777 the file. but error is same even there is 777 permission

**Please mention your node.js, yarn and operating system version.**
npm -v : 3.10.9
node -v : v7.1.0

[2016-11-14 08:04] reflog commented on #392
same here. also, on a new 'ng new' project, yarn fails due to 'zopfli' problems.

[2016-11-14 08:26] TotallyInformation commented on #1800
That's great, thanks.

[2016-11-14 09:55] rogervila commented on #1806
try `sudo yarn install`, and post the yarn.log content

[2016-11-14 10:09] #1749 closed

[2016-11-14 10:10] kittens commented on #1802
This is intentional. We use GitHub APIs when resolving/fetching GitHub repos as it's more efficient.

[2016-11-14 10:10] #1802 closed

[2016-11-14 10:11] kittens commented on #1805
Please write up an RFC and submit it in the [yarnpkg/rfcs](https://github.com/yarnpkg/rfcs) repo.

[2016-11-14 10:11] #1805 closed

[2016-11-14 10:11] #1723 closed

[2016-11-14 10:20] teehemkay commented on #1321
Same issue here (Mac OS X Yosemite 10.10.5, Node 7.1.0, , Yarn 0.16.1 installed via brew):

[code]
This is a *also* a problem because the path is specific to the version of node used to install globally

[2016-11-14 10:25] gyujincho commented on #616
I have same issue here, wonder why the fixed version is not being released :(

[2016-11-14 10:28] Alonski opened #1807 "After yarn add. Command -> System cannot find the path specified. WINDOWS 10"
**Do you want to request a *feature* or report a *bug*?**

Bug Report
**What is the current behavior?**
After installing with Yarn I type into my cmd:
ember.
I get back:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Installed Yarn using Chocolatey via: choco install yarn
2. Installed ember-cli@1.13.0 via: yarn global add ember-cli@1.13.0
3. Install finis

[2016-11-14 11:11] matart15 commented on #1806
OK sudo did it.

Is `sudo yarn` safe?. I mean its safe in react native but is it safe in general?

[2016-11-14 11:11] #1806 closed

[2016-11-14 11:16] rogervila commented on #1806
It's always better to run it without `sudo`, but the fact that it has worked means that is not a yarn bug.
I assume that you are on Ubuntu or OSX. Try `sudo chmod 0777 the-project-path`, and then remove the `node_modules` path and the`yarn.lock` file. Then run `yarn`

[2016-11-14 11:51] dreyks opened #1808 "--prod skips dependencies"
May be related to #629 but this only happens with `--prod`

Some nested dependencies shared between `dependencies` and `devDependencies` are skipped

***When including only `webpack`***
[code]
[code]

***When including both `webpack` and `eslint-plugin-import` in `dependencies`***
[code]
[code]

***When moving `eslint-plugin-import` to `devDependencies`***
[code]
[code]

[code]

[2016-11-14 12:37] SimenB opened #1809 "Add info about which package has missing peer dep"
**Do you want to request a *feature* or report a *bug*?**
Feature (I think)

**What is the current behavior?**
If there's a missing peer dep, a warning is printed, but not which package needs it.

E.g. `warning Incorrect peer dependency "graphql@^0.5.0-b || ^0.6.0 || ^0.7.0".`

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn add express-graphql@^0.5 graphql`

**W

[2016-11-14 12:37] AlexTes commented on #668
@bsed Why not use [githubs' reactions feature](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments)?

[2016-11-14 13:14] wyze commented on #1599
This is now available on master and will be in the next release.

@lukeed If you want the glob pattern matching functionality, please open a separate issue describing it, thanks!

[2016-11-14 13:14] #1599 closed

[2016-11-14 13:16] wyze commented on #1807
Duplicate #859.

[2016-11-14 13:16] #1807 closed

[2016-11-14 13:16] #1206 closed

[2016-11-14 13:22] FredyC commented on #1784
Just found out about nightly builds available. It's really well hidden on the site :) If anyone is interested trying how new stuff, go ahead ! https://yarnpkg.com/en/docs/nightly

[2016-11-14 13:32] dbashford commented on #1776
@kittens is the right thing to do when there are conflicts to blow away the lock file and re-run yarn? Seems to me that'd get what you need?

[2016-11-14 14:50] izelnakri opened #1812 "SERIOUS BUG: package.json "name" parsing with spaces"
Yarn version: 0.16.1 (LATEST)

if my project name contains spaces yarn cannot parse/download packages with ```yarn add packageName```

example my package.json:
[code]
"name" has spaces.

Then one cannot install any package or use yarn with ```yarn add``` !!

[2016-11-14 14:56] MaximRouiller commented on #616
No idea. In the mid time, this is preventing adoption.

[2016-11-14 15:08] wyze commented on #1812
For comparison npm just warns:

[code]

[2016-11-14 15:54] ziolau commented on #1806
@rogervila does not working for me. I previous have .git in the-project-path, that command changed everything in my repo. So, It get worst.

[2016-11-14 15:57] ziolau commented on #1806
But `sudo chmod -R 777 node_module` just fine

[2016-11-14 16:09] Alonski commented on #1807
This is not the same issue...

[2016-11-14 16:26] wyze commented on #1807
Maybe not exactly, but there are plenty of issues about `yarn global add` on Windows.

Possibly #1324

[2016-11-14 16:35] aaronjensen commented on #1573
fwiw, just like with npm, I typically bump the version on git hosted packages when I change them to work around this. If it's a fork, I just add `-1` to the version (`1.1.3-1`) and increment it if I make additional changes. Obviously this requires access to the repo, so if it's someone else's, you'd need to fork it as well.

It's great that this is being treated like a bug on yarn, hopefully it is

[2016-11-14 16:35] izelnakri commented on #1812
yes thanks, apparently there should never be spaces in package.json. yarn could give a better warning.

[2016-11-14 16:59] kube commented on #1458
Still not fixed, I'm using latest Yarn installed via Homebrew.

[2016-11-14 17:03] Alonski commented on #1807
From the error message it seems that the problem isn't with global add but with the pathing afterwards.

[2016-11-14 17:04] didierfranc opened #1815 "How to know number of downloads of a package with yarn ?"
Hi I'm doing that to count the numbers of download on npm for my company projects :

<img width="581" alt="capture d ecran 2016-11-14 a 17 38 49" src="https://cloud.githubusercontent.com/assets/14132464/20274173/f9a08a8c-aa93-11e6-88b3-d91152d83b87.png">

So, now that yarn is becoming the first package manager for node, packages are downloaded from https://registry.yarnpkg.com/  is there some api

[2016-11-14 17:30] sapegin commented on #1724
I have the same on Travis CI with a stable version (`npm install -g yarn`).

[2016-11-14 18:06] jbruni commented on #1724
It just happened to me using Ubuntu inside Virtual Box (host is Windows 10).
As suggested above, I installed any package using `yarn add` and the error goes away.

[2016-11-14 18:09] jbruni commented on #686
I have just tried on latest nightly (0.18.0-20161114.1729) and the issue remains.

Is there a workaround? Is this bug difficult to resolve? It seems to simple to avoid mangling the git URL we inform in the command line...

[2016-11-14 18:14] rajatkumar opened #1817 "`yarn add grpc` throws error [0.17.0]"
I get the following error:

[code]

Surprisingly this works with `npm install`

node --version
v4.6.1
npm --version
2.15.9
yarn --version
0.17.0
OS:
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.5 LTS
Release:	14.04
Codename:	trusty

[2016-11-14 18:14] FredyC opened #1818 "[0.17.0] Cannot add dependency in org/repo format"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[Error log](https://gist.github.com/FredyC/6f5abf2676aac300c36d51e7c8a5c35f#file-yarn-error-log)

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn cache clean`
`yarn init`
`yarn add blackdice/errorception`

**What is the expected behavior?**
To install dependency

**Pl

[2016-11-14 18:16] reederz commented on #1724
Same here on Archlinux and yarn@v0.17.0

[2016-11-14 18:19] scholtzm commented on #1818
I was just about to report this.

Adding the same dependency with v0.16.1 works flawlessly though.

[2016-11-14 18:20] scothis commented on #1818
Digging into the yarn cache, the dependency is saved to disk without a sha, the read from the cache is looking with the sha.

[2016-11-14 18:32] IanVS opened #1819 "[0.17.0] yarn --version fails (looking for a cache file)"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

[code]

I'm also unable to `yarn install` due to another cache file not being found:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
- Install yarn@0.17.0 from npm
- Run `yarn --version`

**What is the expected behavior?**
Should not error

**Please mention your n

[2016-11-14 19:04] scholtzm commented on #1819
The second issue has been reported in https://github.com/yarnpkg/yarn/issues/1818.

[2016-11-14 19:05] wyze commented on #1458
@kube Could you please add more details if it is still an issue? Versions for OS, Node, Yarn? A `package.json` that can be used to reproduce?

[2016-11-14 19:06] joefiorini opened #1821 "Cannot globally install 0.17 on Ubuntu due to spawn-sync issue"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

post-install exception trying to install yarn on ubuntu server due to ForbesLindesay/spawn-sync#42. I know the issue is with spawn-sync, but with yarn being such a core dependency, it should not depend on something that requires special workarounds to install on a build server.

**If the current beha

[2016-11-14 19:17] Tapppi opened #1822 "Changelog for v0.17.0"
**Do you want to request a *feature* or report a *bug*?**
Feature, with a sprinkle of human error or delay.

**What is the current behavior?**
No changelog with v0.17.0 release. Cannot find a definitive changelog anywhere.

**What is the expected behavior?**
There should be a changelog accompanied in the release.

There should be an updated changelog available somewhere, e.g. CHANGELOG.md in githu

[2016-11-14 19:32] IanVS commented on #1819
That was a `yarn add`, but I agree it's all probably related.

[2016-11-14 19:37] hobofan commented on #1819
Also a duplicate of https://github.com/yarnpkg/yarn/issues/1724

[2016-11-14 19:41] dbashford opened #1823 "[0.17.0] Error chmod-ing .bin files on 'yarn install'"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Running large install after updating to `0.17.0`, yarn erroring out at random times in the build running `chmod` on `.bin` files. This works on `0.16.1`

1st run

error An unexpected error occurred: "ENOENT: no such file or directory, chmod 'PATH/project/node_modules/.bin/esparse'".

2nd run

error An

[2016-11-14 19:42] basvdwollenberg opened #1824 "Cannot globally install any package: "expected manifest""
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Output when trying to install `create-react-app` as it's the example [here](https://yarnpkg.com/en/docs/cli/global).
[code]
From the log:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
- Try to globally install any package (e.g.: `yarn global add create-react-app`)

[2016-11-14 19:42] FredyC commented on #1822
In my opinion it's very rare to see changelog for projects this heavily under development and with zero major version. I don't even think it's important to have that till we reach the point where Yarn at least works on level of NPM without any critical issues.

[2016-11-14 19:43] joefiorini commented on #1821
Also worth mentoining, the `spawn-sync` dep exists because of the addition of `inquirer` as a dependency in 0.17.

[2016-11-14 20:01] carlansley opened #1825 "Does not correctly install tslint under devDependencies"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
If the tslint package is contained within devDependencies, Yarn does not install files under node_modules/tslint/lib/test which tslint requires to operate.

**If the current behavior is a bug, please provide the steps to reproduce.**

With a package.json like this:
[code]

Using yarn to install produc

[2016-11-14 20:01] shaneog commented on #1724
Same here when installed on CI via curl/bash:
[code]

results in:

[code]

[2016-11-14 20:06] szimek opened #1826 "[0.17.0] yarn outdated doesn't report new version of a package that uses a tag"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`npm outdated` returns:
[code]
`yarn outdated` returns nothing.

**If the current behavior is a bug, please provide the steps to reproduce.**
Add the following entries to `package.json` file:
[code]
and somehow make sure you don't have the latest beta versions installed ;)

**What is the expected behav

[2016-11-14 20:08] wyze commented on #1822
You can get a basic idea from here: https://github.com/yarnpkg/yarn/compare/v0.16.1...v0.17.0

Which is basically what was posted on the release for [`0.16.0`](https://github.com/yarnpkg/yarn/releases/tag/v0.16.0).

[2016-11-14 20:10] amasad commented on #1724
Hitting this issue on heroku too. (ref https://github.com/heroku/heroku-buildpack-nodejs/issues/337#issuecomment-255140610)

[2016-11-14 20:16] Gpx commented on #1724
A temporary solution is to rollback to 0.16.1

[2016-11-14 20:16] wyze commented on #1826
This is due to #1562 and #1696.

[2016-11-14 20:28] kube commented on #1458
[code]

I'm on macOS 10.12.1, installed Yarn with Homebrew.

And here is the [`package.json`](https://github.com/black-monolith/LightCycle/blob/228a8e150ba55b06755e9bb3372e597942ea9062/package.json
) on which I tried :

`ts-loader` and `webpack-merge` are outdated, upgrading them with yarn added them to dependencies, leaving devDependencies outdated.

[2016-11-14 20:30] wyze commented on #1458
@kube Please try on `0.17.0` that was just released today, this fix was included in that release, but not in `0.16.1`.

[2016-11-14 20:31] kube commented on #1458
Sure, but Homebrew still has 0.16.1
[code]

Tried installing with NPM and just had the latest version, but seems strange to install Yarn with NPM.

[2016-11-14 20:40] kube commented on #1458
Ok everything works fine when using 0.17.0, but maybe you should update Brew version.
Which is the preferred package manager or way to install Yarn ?

[2016-11-14 20:45] wyze commented on #1458
Brew is the preferred method of installation for OSX. It is still a manual process for getting it updated on Homebrew, so someone will have to request it being updated like they did here: https://github.com/Homebrew/homebrew-core/pull/6060

[2016-11-14 21:04] eisisig commented on #1824
Same error with jscodeshift

`yarn global add jscodeshift`

Node: 7.1.0
yarn: 0.17.0
macOS 10.12.2

[2016-11-14 21:07] imontiel commented on #1724
Having the same problem on CircleCI.

[2016-11-14 21:19] vitorgalvao commented on #1824
Can confirm on macOS `10.11.6` as well (same versions for everything else).

[2016-11-14 21:21] moliver-bb commented on #1823
seeing the same issue on v0.17, was previously working on v0.16.1. Can post my error log if it helps. thanks!

[2016-11-14 21:30] kaisermann commented on #1087
I'm currently having issues while trying to install gulp 4.0:

`An unexpected error occurred: "ENOENT: no such file or directory, lstat '/Users/kaisermann/Library/Caches/Yarn/npm-gulp-4.0.0-alpha.2-013259583212bf693d991846c62eb36b8a8e5971'".``

I'm trying to install it with `yarn add gulpjs/gulp#4.0`

[2016-11-14 21:45] mattlqx opened #1827 "userHome can get overridden even if process UID is not root"
**Do you want to request a *feature* or report a *bug*?**
Bug under a certain use-case.

**What is the current behavior?**
When running Yarn from another process like Chef that can specify UID and doesn't spawn under a new shell, userHome gets overridden even though the effective UID of Yarn is not root. This can lead to Yarn trying to create directories in `/usr/local/share` even though it may no

[2016-11-14 21:47] Tapppi commented on #1822
IMHO at least recording breaking changes in a changelog is crucial to allow people to upgrade without dwelling into a huge commit list, since its a big project.

Regardless of heavy development, a lot of people will be using yarn in e.g. CI, and having to update with a "well test it and see if it works" mentality every update is ridiculous when you can just record breaking changes in commits and a

[2016-11-14 21:50] pmoleri commented on #1823
Same issue in Windows 10 using bash console. Also working ok in v0.16.1.

[2016-11-14 22:18] onemen commented on #1824
Fix Invariant Violation: expected manifest from GlobalAdd (regressed by #1757)
[code]

[2016-11-14 22:32] sysadmiral commented on #1822
I beg to differ @FredyC - terraform is under heavy development yet they seem to be fine with maintaining a changelog - https://github.com/hashicorp/terraform/blob/v0.7.10/CHANGELOG.md

It should be easy to see what changed on the website rather than having to go to github and diffing two versions. _Some_ devs may never go to github and just "use" frontend tools so they should be able to see what c

[2016-11-14 22:52] sejoker commented on #1823
same issue
**Please mention your node.js, yarn and operating system version.**
v4.6.0
0.17.0
ubuntu 16.04 LTS

[2016-11-14 22:52] AntJanus commented on #919
I'm having an identical issue on windows 10, Node v6.9.1 running it in Powershell:

[code]

Pretty much makes Yarn completely unusable on Windows machines.

[2016-11-14 23:07] whitecolor commented on #919
@AntJanus I think it is a little bit different issue, the original issue is about disappearing modules from project's node_modules, not cache.

[2016-11-14 23:07] jrg3k5 commented on #746
The same happens to me too on 2 mbps line! Npm works fine...

[2016-11-14 23:18] navarroaxel opened #1829 "Yarn@0.17.0 cannot install node-sass on Windows@10"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
When I try to run ``yard add --dev node-sass`` I get the following error:

Trace:
  Error: ENOENT: no such file or directory, chmod 'C:\myProject\node_modules\.bin\mkdirp.cmd'
      at Error (native)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected b

[2016-11-14 23:22] ptim commented on #1761
I do this too, and I wonder if this could be helped by a convenience command which copies the module to the project and links it? maybe too wacky... but, in my experience, editing node_modules directly is a foot gun :laughing: not wanting to get offtopic here, but if making node-modules read only yields a 30x speed boost.. I'm in!

[2016-11-14 23:26] jbruni commented on #1829
I just reported same issue in the node-sass project: https://github.com/sass/node-sass/issues/1804

[2016-11-15 00:12] kilianc opened #1830 "`yarn` skips dev dependencies if NODE_ENV is set to "production""
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
calling `yarn` now skips dev dependencies

**If the current behavior is a bug, please provide the steps to reproduce.**

    $ NODE_ENV=production yarn ls | grep mocha # nothing
    $ NODE_ENV=development yarn ls | grep mocha # correct behavior

**What is the expected behavior?**
previous versions of y

[2016-11-15 00:15] willyb321 commented on #1824
Can't install any package globally here either. macOS 10.12.1.

[2016-11-15 00:52] mDibyo commented on #1824
Same problem on Ubuntu (as expected from the macOS reports above)

[2016-11-15 01:13] J-Katzen commented on #1164
Having similar issues with webpack

[2016-11-15 01:25] allcentury commented on #1830
The behavior you've outlined matches [the docs](https://yarnpkg.com/en/docs/cli/install)

[2016-11-15 01:28] kilianc commented on #1830
@allcentury I see, you are indeed correct, I just missed that part. What threw me off is the difference between `0.16.0` and `0.17.0`.

How do I install my dev packages then ?

[2016-11-15 01:33] allcentury commented on #1830
If you need your dev packages in production promote them to the `dependencies` group.

[2016-11-15 01:38] kilianc commented on #1830
@allcentury that sounds like a workaround. I want to install my deps with the production flag on and then run the test suite.

Ideally I would build my container with `NODE_ENV=production` and then `docker run yarn --dev && ./test.sh` or something similar.

[2016-11-15 02:11] AntJanus commented on #919
@whitecolor time to file a new issue then! Thanks!

[2016-11-15 02:32] joonki34 commented on #1823
Same Issue
node: 6.9.1
yarn: 0.17.0
windows 10

[2016-11-15 02:42] jscinoz commented on #1817
Oddly enough, if you run yarn add grpc again, it works from then on.

Removing ~/.cache/yarn will cause the issue to occur again the next time you try to run yarn add grpc.

I suspect yarn might not be properly handling bundledDependencies on the first-run, as grpc includes node-pre-gyp by way of bundledDepdencies.

[2016-11-15 02:54] ElvisChiang opened #1831 "[0.17.0] Cannot add module from github"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
**What is the expected behavior?**
There should be  a folder named
[code]
But yarn has only
[code]

**Please mention your node.js, yarn and operating system version.**
node: v4.6.0
yarn: 0.17.0
macOS: 10.11.6

[2016-11-15 03:04] RobAWilkinson commented on #1824
having the exact same issue here, on our travis builds

[2016-11-15 03:29] hassankhan opened #1832 "[0.17.0] Issues with node-sass"
**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Have a package that uses `node-sass` as a dependency, then run `yarn install`. Running it a second time will complete the install, but `node-sass` will not work.

**What is the expected behavior?**

No errors, just fun.

**Please mention your node.js, yarn and operating system ver

[2016-11-15 03:43] Kimleang commented on #1831
same issue here
try running yarn on fresh Laravel project and it trying to install a package from
[code]
and I got the follwing error
[code]
![screen shot 2016-11-15 at 9 57 46 am](https://cloud.githubusercontent.com/assets/2344413/20292406/e69ae55e-ab1f-11e6-82b9-5a3b0e502c54.png)

and here is my Yarn cache directory
![screen shot 2016-11-15 at 9 58 31 am](https://cloud.githubusercontent.com/asse

[2016-11-15 03:43] bjeanes commented on #1831
I'm also getting this with all my GitHub packages. E.g.:

[code]

If I `mv ~/Library/Caches/Yarn/npm-ExpandingTextareas-0.2.0{,-c8b5f4a63b99818343fd90653182da17e944236f}`, then I can proceed. If I don't have the dependency of a new or changed git dependency in my cache already (with the sha in name) I get this error 100% of the time when it tries to link these dependencies.

[2016-11-15 04:00] navarroaxel opened #1833 "Issues related to the releases/tags naming conventions"
**Do you want to request a *feature* or report a *bug*?** A possible bug.

**What is the current behavior?**
I think the ``v`` prefix on the tags name could cause an issues with the semantic versioning.

**If the current behavior is a bug, please provide the steps to reproduce.**
The issue is experienced here: winstonjs/winston-mongodb#77

**What is the expected behavior?**
The version should be c

[2016-11-15 04:46] AntJanus opened #1834 ""No such file file or directory, lstat" for Yarn cache during package install on Windows"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I'm on Windows 10, Node v6.9.1, and Yarn 0.17.0

I'm running `yarn` to install packages for a [personal project](https://github.com/AntJanus/omen/blob/master/package.json) and during installation, I get the error:

[code]

I'm guessing yarn is not a big fan of the Gulp version `"github:gulpjs/gulp#4.

[2016-11-15 04:53] xgqfrms-GitHub opened #1835 "yarn-error: can not install or add ?"
**yarn-error: can not install or add ?**

![yarn-error](https://cloud.githubusercontent.com/assets/18028768/20293559/7ad87008-ab32-11e6-8bb0-9300f3be49ea.png)

what's going on with this ?
Anybody can help?

[2016-11-15 04:58] jrean opened #1836 "error An unexpected error occurred: "ENOENT: no such file or directory, lstat '/Users/xxx/Library/Caches/Yarn/npm-webpack-stream-3.2.0-d679c2f1f964b5abae4c1f29d5cb695115deec7b'"."
This bug happens now on both Linux and OsX.

- OsX
node v6.0.0
npm 3.8.8
yarn 0.17.0

- Linux
node 6.9.1
npm 3.10.8
yarn 0.17.0

I simply perform a `yarn install`

`package.json`
[code]

Error trace:
[code]

[2016-11-15 05:24] elmariofredo commented on #616
It's released with version 0.17.0 🎉

[2016-11-15 05:30] calebeby commented on #1824
Same thing here. `yarn global add coffee-script`

[2016-11-15 05:30] domino14 commented on #1824
`yarn global add gulp-cli` doesn't work on circleCI

[2016-11-15 05:36] calebeby commented on #1824
OK. Was on node `4.6.1`, with `nvm`, and switched to `7.1.0` and now it works

[2016-11-15 05:40] cyyyu commented on #616
YES. Version 0.17.0 have fixed this. Already upgraded.

[2016-11-15 05:47] shafi49 commented on #616
yes... it is true guys. yarn is safe for bower users. thanks yarn team

[2016-11-15 06:14] MoOx opened #1838 "Regression between 0.16.1 and 0.17.0 when building package using node-gyp?"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Cannot run ``yarn`` on Travis-CI with 0.17.0

**If the current behavior is a bug, please provide the steps to reproduce.**

Install yarn with the recommended method

https://github.com/MoOx/phenomic/blob/9c63590fad541ff7be9af237954704fe4df88815/.travis.yml#L13-L20

(get 0.17.0)

https://travis-ci.org

[2016-11-15 06:16] jrean commented on #1836
Reverting to yarn `0.16.1` fixed my issue.
I hope the trace is helping.

[2016-11-15 06:57] adrai commented on #1834
same on ubuntu

[2016-11-15 07:25] MoOx opened #1839 "Cannot install previous version of yarn using apt-get/apt-cache"
**Do you want to request a *feature* or report a *bug*?**

Bug?

**What is the current behavior?**

If I list all existing version of yarn using `apt-get policy`, I only see latest version

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

I would expect to see 0.16.1-1.

Note: I am not a comfortable with apt-get/apt-cache so

[2016-11-15 07:29] Daniel15 commented on #1839
Sorry about that :( The issue is that we're using reprepro for the main repo, which only allows a single version per package.

Two workarounds:
1. Grab the package for the version you want and install it directly:
[code]
2. Use the nightly repo (see https://yarnpkg.com/en/docs/nightly), which is using Aptly instead of reprepro and currently keeps releases indefinitely. Note that this repo has **ev

[2016-11-15 07:30] MoOx commented on #1839
Thanks for the fast response. Meanwhile I am using `npm i -g yarn@0.16.1` :)

[2016-11-15 07:36] kossnocorp commented on #1836
Locking to `0.16.1` helped me too

[2016-11-15 07:37] Daniel15 commented on #1724
If you're on Ubuntu or Debian, you can temporarily roll back by doing:
[code]

I'll work on keeping multiple versions of Yarn in the Debian repo to make it easier in the future.

Similarly, if you're using a tarball, you can download the tarball from https://yarnpkg.com/downloads/0.16.1/yarn-v0.16.1.tar.gz to get 0.16.1.

[2016-11-15 07:38] Daniel15 commented on #1838
If you're on Ubuntu or Debian, you can temporarily roll back by doing this instead of `apt-get install yarn`:
[code]

I'll work on keeping multiple versions of Yarn in the Debian repo to make it easier in the future.

[2016-11-15 07:39] MoOx commented on #1838
Sure that's what I am doing. Thanks!

[2016-11-15 07:43] riccardoscalco commented on #1694
Same issue

[code]

Published with

[code]

[2016-11-15 07:53] faddee commented on #1829
Duplicate of #1823

[2016-11-15 07:55] FredyC commented on #1822
@sysadmiral Those are two quite different projects. I mean Yarn needs to catch up on NPM first to be even considered usable. I don't really care for a list of changes as long as I cannot use Yarn for my big project. I am not sure why people would even consider using Yarn in CI already, that's quite a step into a darkness.

[2016-11-15 07:56] matart15 commented on #1806
@rogervila seems like few more people have same problem.

yarn install works with sudo. But npm install works on same folder without sudo.
is it yarn problem? do you think it should be fixed?

[2016-11-15 08:04] Repox commented on #1824
Also confirming the issue.

[2016-11-15 08:13] random-stranger commented on #1822
@FredyC you don't need it, that's fine. If you are not sure about using it - don't use it.

Another devs, who use it everyday, need this and even a simple changelog helps to quickly view, what has changed, what bugs were fixed instead of diffing the commits.

Popular projects, that people tend to use every day, must have a changelog.

[2016-11-15 08:23] flemming-steinson commented on #1824
Same issue here

[2016-11-15 08:24] Daniel15 commented on #1815
registry.yarnpkg.com is just a caching proxy over the npm repository, hosted by Cloudflare. It doesn't currently have any additional functionality nor does it expose any statistics.

[2016-11-15 08:26] rogervila commented on #1806
@ziolau @matart15 Could you share your `package.json`? I will try to reproduce it.
What OS version do you have?

[2016-11-15 08:27] timoxley commented on #1824
If you want a workaround right now for installing global packages, use `@latest` after the package name, e.g.

[code]

This works with any exact `version` or `dist-tag` e.g.

[code]

You can get list of `dist-tags` for a package with `yarn info webpack dist-tags` e.g.

[code]

Also works with `yarn info webpack versions` for explicit versions that aren't currently tagged, though note this output c

[2016-11-15 08:28] Daniel15 commented on #1821
Please try installing Yarn through the Ubuntu package repo rather than npm. The Debian/Ubuntu package has some tweaks to make it perform better and install quicker on Ubuntu compared to installing via npm.

[2016-11-15 08:29] iraklisg commented on #1824
same issue

[2016-11-15 08:30] jscinoz commented on #1817
Actually, turns out grpc isn't properly installed even after the second run. Yarn thinks it is and completes successfully but the native module that failed to build due to the error in the original post isn't present.

[2016-11-15 08:31] matart15 commented on #1806
for me i created brand new ignite project and tried to add react-native-camera.

[code]

`Mac Sierra`
npm -v : 3.10.9
node -v : v7.1.0

[2016-11-15 08:36] Daniel15 opened #1841 "Improve coverage of end-to-end test"
A bunch of stuff broke in Yarn 0.17.0 (see recent tasks), but the end-to-end test didn't fail at all, nor did the unit tests.

The end-to-end test just installs Yarn on Ubuntu then runs `yarn add react`. We should add more stuff to it to test other use cases too.

[2016-11-15 08:48] antongb commented on #1836
OsX
node v6.6.0
npm 3.10.8
yarn 0.16.1

after running npm uninstall -g yarn and npm i -g yarn@0.16.1 was getting the following error:

[code]

fixed by going to `/Users/anton/.nvm/versions/node/v6.6.0/lib/node_modules/yarn/bin/yarn.js` and changing `possibles.push('../updates/current/lib/cli/index.js');` to `possibles.push('../updates/0.16.1/lib/cli/index.js');`

[2016-11-15 08:49] Daniel15 opened #1842 "Add tarball / install script to end-to-end test"
Currently the end-to-end test just tests installation of Yarn via the Debian package. We should test the installation script as well.

[2016-11-15 08:49] miduga opened #1843 "upgrade-interactive prompt to choose packages to update but there's none"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
It's showing the prompt yo choose a package when there's none to update.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Update to latest yarn version.
2. Update all packages to latest version.
3. Execute `yarn upgrade-interactive`
4. You will be prompted to choose whic

[2016-11-15 08:57] juliankrispel commented on #1836
:+1:  reverting to 0.16.1 fixed it for me thanks

[2016-11-15 09:05] SimenB opened #1845 "Yarn ls <pkg> still not providing dep tree"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn add del-cli nodemon && yarn ls package-json`

**What is the expected behavior?**
To match npm behavior, and actually print where the dep comes from

[code]

**Please mention your node.js, yarn and operating

[2016-11-15 09:08] SimenB commented on #1845
As a bonus, what I was really interested in was why I had `package-json@1`, but yarn doesn't seem to support version in the `ls` command

[code]

Again, npm does

[code]

[2016-11-15 09:39] xgqfrms-GitHub commented on #1835
**So, I just give up it!**
@npm
@yarnpkgbot

[2016-11-15 09:46] hobofan commented on #1835
Duplicate of #1268 and fixed by #1425.

Try a newer version of yarn.

[2016-11-15 10:20] MoeSattler commented on #1724
is there a way to lock the yarn version, like in a `.yarnrc`? (similar to `.nvmrc`)

[2016-11-15 10:29] bbak commented on #1724
On Debian, when upgrading a globally installed yarn 0.16.1 through npm, the path is: `'/usr/local/share/.cache/yarn/.roadrunner.json'`. There's no `cache` or `.cache` in `/usr/local/share`; however, the directory `'/usr/local/share/.yarn'` exists and is empty.

[2016-11-15 10:30] spoptchev commented on #1825
I can confirm this issue.

node v7.1.0
yarn v0.16.1
macOS 10.11.5

[2016-11-15 11:06] kostasmanionis commented on #1836
Or you could remove the `~/.yarn/.roadrunner.json` file after rollbacking.

[2016-11-15 11:13] simonihmig commented on #1836
I can confirm this. Happens for me with a github dependency. Here is the error.log:
[yarn-error.txt](https://github.com/yarnpkg/yarn/files/591747/yarn-error.txt)

Reverting to 0.16.1 fixed this as well.

[2016-11-15 11:24] kittens commented on #1812
The error message is correct, your `name` is invalid. We need this error or else we'll attempt to publish packages with incorrect names and all sorts of miscellaneous bugs.

[2016-11-15 11:24] #1812 closed

[2016-11-15 11:25] #1815 closed

[2016-11-15 11:26] VincentChataignier commented on #1824
Same issue, but if I install grunt-cli package with `yarn global add grunt-cli@latest`, the command `grunt` was not found and not linked in `/usr/bin` folder.

[2016-11-15 11:28] kittens commented on #1827
We don't do this detection ourselves, we use the `user-home` package. Source is [here](https://github.com/sindresorhus/os-homedir/blob/master/index.js). I'd recommend opening an issue over there.

[2016-11-15 11:28] #1827 closed

[2016-11-15 11:30] kittens commented on #1830
[code]

will do the equivalent of what you want. Subsequent shell commands will have the previous value of `NODE_ENV` too.

[2016-11-15 11:30] #1830 closed

[2016-11-15 11:30] kittens commented on #1833
What does this mean? Can you please elaborate on the specific scenario you're referring to

[2016-11-15 11:31] kittens commented on #1835
The error message is pretty clear, the `name` value in your own `package.json` is invalid. Remove all the invalid characters from it and it will work.

[2016-11-15 11:31] #1835 closed

[2016-11-15 11:34] kittens commented on #1843
Created #1846 to fix this, pending approval.

[2016-11-15 11:34] #1843 closed

[2016-11-15 11:39] jbruni commented on #1823
Same Issue
node: 6.7.0
yarn: 0.17.0
Lubuntu 15.10 (Virtual Box guest, inside Windows 10 host)

[2016-11-15 12:02] kuntau commented on #1836
👍 reverting to 0.16.1 give no error

[2016-11-15 12:17] miduga commented on #1843
Great! Thanks! ;)

[2016-11-15 12:20] sateffen opened #1847 "git+ssh install protocol is not used correctly"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

Yarn is not capable of installing git dependencies

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Add a git dependency to package.json (looking like _"myMod": "git+ssh://git@github.....git"_ (important is git+ssh)
2. type _yarn_ to install all packages
3. See yarn e

[2016-11-15 12:20] mgcrea commented on #393
I've been testing custom yarn-cache folder for a few weeks, but I'm encountering a lot of `Tarball is not in network and can not be located in cache` errors (on gitlab-ci, etc.) that would only be solved with a `yarn --no-lockfile` install. By any chance, would you have encountered such errors?

[code]

[2016-11-15 12:23] Tapppi commented on #1822
@FredyC yarn is actually very much so usable with only a few workarounds, I sped up a few builds I tested it on in CI by over 50% after fiddling around 10 mins with the workarounds. And you can be sure that especially people with no complex private package shenanigans etc. will be using yarn extensively in CI. The majority of devs don't use npm's more advanced/obscure features that yarn doesn't su

[2016-11-15 12:32] FredyC commented on #1831
I would say duplicate of my already reported #1829

[2016-11-15 12:34] arxpoetica commented on #1824
nodemon is also not linked using `@latest`

[2016-11-15 12:35] FredyC commented on #1822
@Tapppi Sadly sticking to only official releases of packages is not possible as people tend to leave packages unmaintained or simply don't want to change package in some way that might be more helpful in certain cases. That leads to creating forks and relying on installing packages from other locations. Calling this as a shenanigans is kinda short sighted in my opinion.

Not even mentioning that i

[2016-11-15 12:42] rogervila commented on #1806
I tried it in an empty folder, and had no problems with:
- Yarn 0.16.1 & 0.17.0
- OSX 10.11 El Capitan
- Node 6.2.2
- Npm 3.10.3

As I can see, the error happens to you when it tries to access to `AndroidManifest.xml`. Which service does need this file?

Maybe the error occurs after yarn and is related to ignite.

[2016-11-15 12:47] simonas-notcat commented on #1824
Same issue with `yarn global add code-push-cli `

[2016-11-15 13:07] gitawego opened #1848 "[0.17] Regression: Native modules (node-gyp) not built correctly after using "yarn add""
**Do you want to request a *feature* or report a *bug*?**

bug
**What is the current behavior?**
failed to build bcrypt correctly. it gives error:

[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
just install bcrypt
**What is the expected behavior?**
it should build correctly bcrypt. it works with npm. after ``npm rebuild``, it works normally.
**Please mention y

[2016-11-15 13:26] MaximRouiller commented on #616
Updated yarn to latest with:
[code]

Ran `yarn --version` and it resolved to `0.17.0.

Ran `yarn` on my solution and only detected 1 change: yarn.lock

You guys rock. We're putting a change in our backlog to change to yarn today. 😄

[2016-11-15 13:28] Tapppi commented on #1822
@FredyC I was talking about the majority, and the majority don't deal with private registries for dealing with unmaintained packages, but fork as you said, making it accessible from the npm registry. Regardless, that is besides my point, and is getting off-topic fast.

Just because you don't see something as fitting your use case, doesn't mean it doesn't fit others'. You are making broad generalis

[2016-11-15 13:42] ingro commented on #1823
Same errore here:

node: 6.7.0
yarn: 0.17.0
windows 10

[2016-11-15 13:51] wyze commented on #1829
Thanks @faddee!

[2016-11-15 13:51] #1829 closed

[2016-11-15 13:53] xgqfrms-GitHub commented on #1835
which is the invalid characters ?

[code]

[2016-11-15 14:03] FredyC commented on #1822
That can be said both ways. I've only expressed my opinion so far...

You are forgetting that this is an open source. People developing it don't owe you anything really and you can just as easily go and **make that changelog by yourself** for others to use it. It's nothing secret and doesn't really require knowledge of the code. I feel rather sick of people expecting some special services while th

[2016-11-15 14:04] wyze commented on #1833
I don't see any issue. If anything the author should learn how npm works when it comes to publishing. Just because the semver range is greater doesn't mean that is what will be installed when you do `yarn add winston-mongodb`.

[code]

They published `2.0.0` to the `latest` tag and later published `1.6.5` to the `latest` tag thereby making it the "latest" version to install.

[2016-11-15 14:04] #1833 closed

[2016-11-15 14:07] wyze commented on #1847
Duplicate #513.

[2016-11-15 14:07] #1847 closed

[2016-11-15 14:08] FredyC commented on #992
@Tapppi (quote from [issue](https://github.com/yarnpkg/yarn/issues/1822#issuecomment-260640945))

That would kinda erase usefulness of Yarn, don't you think? Removing those read-only flags makes Yarn do whole linking process again. Only performance save would about using cache instead of downloading over the network every time.

[2016-11-15 14:11] wyze commented on #1835
The space is an invalid character.

[2016-11-15 14:20] wyze commented on #1542
The `self-update` command was removed in https://github.com/yarnpkg/yarn/commit/15d011274eabe89a5fe8d5d32a966ba48c92755e so I think this issue is no longer valid.

[2016-11-15 14:20] #1542 closed

[2016-11-15 14:22] wyze commented on #1511
This is along the same lines as #1743 and you can see why we wont do this here: https://github.com/yarnpkg/yarn/issues/1743#issuecomment-259689586

[2016-11-15 14:22] #1511 closed

[2016-11-15 14:26] IanVS commented on #1822
I'll just leave this here.  There are some good points.  http://keepachangelog.com/en/0.3.0/

[2016-11-15 14:36] zwl1619 opened #1849 "error Found incompatible module"
I am using Windows `10` x64 and node.js `8.0` x64,

There is an error when running `yarn`,like this:

[code]

[2016-11-15 14:38] mattlqx commented on #1827
It actually is overridden somewhat by Yarn here: https://github.com/lucaskatayama/yarn/blob/91267dcb2faa46147af9699c5d3c20bfb3b64ada/src/constants.js#L4-L6

That's where the issue stems from.

[2016-11-15 14:39] xgqfrms-GitHub commented on #1835
where ?
please give a screen shortcut.

[2016-11-15 14:42] wyze commented on #1849
Duplicate #1285.

[2016-11-15 14:42] #1849 closed

[2016-11-15 14:43] wyze commented on #1835
Invalid:

`"name": "yarn test",`

[2016-11-15 14:51] arxpoetica commented on #1824
For anyone who needs to rollback while waiting for this fix, just do:

[code]

Make sure to uninstall and then reinstall global dependencies to include bin linking. yarn global remove ... and yarn global add ...

[2016-11-15 14:53] bestander commented on #1819
Closing this one in favor of https://github.com/yarnpkg/yarn/issues/1724.
Going to resolve this today

[2016-11-15 14:53] #1819 closed

[2016-11-15 14:57] jakehm commented on #1645
Same issue when running `yard add --dev babel-preset-latest`
Entered the same command again, and it worked.

`Trace:
  Error: connect ENETUNREACH 2400:cb00:2048:1::6810:3dad:443 - Local (:::0)
      at Object.exports._errnoException (util.js:1026:11)
      at exports._exceptionWithHostPort (util.js:1049:20)
      at connect (net.js:879:16)
      at net.js:1008:7
      at GetAddrInfoReqWrap.asyncCa

[2016-11-15 14:59] #1824 closed

[2016-11-15 15:02] MaximRouiller commented on #616
![out-npm](https://cloud.githubusercontent.com/assets/209384/20310589/9480a632-ab1a-11e6-96d0-66397f0b6fa7.jpg)

[Original](http://trappedinvacancy.deviantart.com/art/Defenestration-115846260)

[2016-11-15 15:08] joefiorini commented on #1821
Unfortunately, the way our images are built we don't have access to a system package manager like `apt-get`. That method will not work for us.

[2016-11-15 15:15] Tapppi commented on #992
@FredyC I fail to see how a postinstall script erases yarns usefulness? It's still most likely multiple times faster than npm when installing, and has a lock file. If that makes yarn unpreferable for you, I would think yarn is not preferable anyways in its current form?

[2016-11-15 15:19] dkrutsko commented on #1511
@wyze: It's not really the same though, that issue is referring to adding packages which would understandably have to modify the `package.json` file. Why should upgrade overwrite it though. It doesn't change anything in the file apart from the formatting.

[2016-11-15 15:20] VladShcherbin commented on #629
Back in 0.17.0 😕

[2016-11-15 15:22] wellyshen opened #1850 "Error: ENOENT: no such file or directory..."
Hi, I install yarn (0.17.0) through npm (4.0.2), and my node.js (7.1.0) was installed through nvm, when I finish my yarn installing (I also setup the PATH in .zshrc) I try `yarn --version` then I get the following error message, does anyone know how to solve it?

<img width="935" alt="2016-11-15 11 17 54" src="https://cloud.githubusercontent.com/assets/21308003/20311330/5249ee34-ab8a-11e6-9233-ffe

[2016-11-15 15:22] lime commented on #1242
A related discussion that may be of interest can be found in #393.

The way I read that discussion, it sounds like the `yarn-offline-mirror` setting already does this to some extent..? I can't find any documentation for it though.

Maybe @bestander could shine some light on the current behaviour? They seem to have a solid understanding of what the offline mirror can & can't currently do. :)

[2016-11-15 15:23] MoOx commented on #629
I opened https://github.com/yarnpkg/yarn/issues/1838, I guess it's the same issue?

[2016-11-15 15:23] bestander commented on #1818
Anyone wants to submit a PR?

[2016-11-15 15:24] bestander commented on #1242
Sorry guys, my blog post about this feature is in the last phases.
Once I release 0.17.1, I'll push it through.
It will be published on the website

[2016-11-15 15:27] eltuza commented on #1834
same on macOs Sierra 10.12.1

[2016-11-15 15:28] soredake opened #1851 "peerflix problems"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
yarn is not doing a this stage https://github.com/mafintosh/peerflix/blob/master/package.json#L17
and when manually linked throws this:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**

**Please mention your node.js, yarn an

[2016-11-15 15:30] xgqfrms-GitHub commented on #1835
Thanks!

[2016-11-15 15:34] imontiel commented on #1724
Ended up just doing `npm install -g yarn@0.16.1`.

[2016-11-15 15:34] wyze commented on #1850
Duplicate #1724.

[2016-11-15 15:34] #1850 closed

[2016-11-15 15:42] matoilic commented on #1836
Same issue here with yarn 0.17. Reverting back to 0.16.1 and deleting `~/.yarn/.roadrunner.json` resolved the issue.

[yarn-error.txt](https://github.com/yarnpkg/yarn/files/592428/yarn-error.txt)

[2016-11-15 15:53] STRML opened #1852 "[0.17.0] Regression: Doesn't run `install` script"
After upgrading to 0.17.0, I noticed `install` scripts are not running.

To test, run:

[code]

There should be an `index.js` built there, but there is not.

The `package.json` for that package:

[code]

This does not happen in 0.16.1.

[2016-11-15 15:54] soredake commented on #1579
Same, yarn is just not doing any binlinks after upgrade 0.17.0

[2016-11-15 15:55] shahmirn opened #1853 "[0.17.0] Error while linking dependencies"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
After running yarn install, during the linking dependencies... stage, I get the following error:

[3/4] Linking dependencies...
error An unexpected error occurred: "ENOENT: no such file or directory, chmod 'C:\\dev\
\RO.View.Dashboard.Copy\\View\\Slb.Prism.RO.View.Dashboard\\node_modules\\.bin\\html-m

[2016-11-15 16:00] bestander opened #1854 "[0.17] NODE_PATH problem when using Yarn from repo: can't find module yarn/node_modules/detect-indent/node_modules/repeating/index.js"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**

If you use yarn from `<github>/bin/yarn` it has a problem with node_modules path.

Yarn 0.16.1
[code]

In latest master:

[code]

**Please mention your node.js, yarn and operating system version.**
Node v6.2.1
Mac OS

[2016-11-15 16:01] iislucas opened #1855 "Yarn 0.17.0 unexpected manifest error in linux"
**bug**

**What is the current behavior?**

Install command fails with `error An unexpected error occurred: "expected manifest".`

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Try to build this Dockerfile:
[code]

Which can be done by putting that into a file called `Dockerfile`, and running `docker build .`. Or by using a fresh installed ubuntu and simply

[2016-11-15 16:03] Tapppi commented on #1822
@IanVS
Whole heartedly agree with the content of the link, except with some conventions 😉

-------------------------------

@FredyC

I certainly am not forgetting that this is OSS. I have not, at least intentionally, indicated that anyone owes me anything. I have made a case for the usefulness of a changelog to a big open source project such as `yarn`, which seems to have been echoed by plenty of

[2016-11-15 16:05] bestander commented on #1853
@shahmirn, can you provide a package.json which reproduces this?

[2016-11-15 16:06] donnoman commented on #1082
you are too dependent on package managers doing the right thing for you, with containerization and limited build environments first and foremost we need a manual install that always works.  Barring that the primary language package manager should be able to install it. Package management systems for dists are the last resort, they rarely have the latest package to install and you have to fall back

[2016-11-15 16:08] bestander commented on #1851
@soredake, is this a regression in 0.17 release?

[2016-11-15 16:13] bestander commented on #1848
Can't reproduce it in master
[code]

@gitawego, is it fixed now?

[2016-11-15 16:18] Daniel15 commented on #1082
We have the installation script if you need a manual install that always works. Alternatively you can extract the tarball yourself.

[2016-11-15 16:19] Daniel15 opened #1856 "Add --version flag to install script"
Add a --version flag to allow the user to install a specific version via the installation script.

[2016-11-15 16:20] Daniel15 commented on #1855
The Debian repo was rolled back to 0.16.1... Try installing through that (you've got it commented out) rather than npm.

[2016-11-15 16:21] markstos commented on #1855
Why the rollback?

[2016-11-15 16:22] Daniel15 commented on #1724
I'm going to work on adding a --version flag to the installer, and also having multiple versions in the Debian repo. That'll allow you to more easily lock down the version of Yarn.

[2016-11-15 16:23] wyze commented on #1853
Duplicate #1823.

[2016-11-15 16:23] #1853 closed

[2016-11-15 16:25] bestander commented on #1834
I can confirm, this is a regression after 0.16.1

[2016-11-15 16:27] markstos opened #1857 "`yarn help add` missing "short help" for --ignore-optional"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

`yarn help add` shows no documentation for `--ignore-optional`

**What is the expected behavior?**

`yarn help add` should show documentation for `--ignore-optional`

**Please mention your node.js, yarn and operating system version.**

Node.js 4.4.2.

[2016-11-15 16:27] wyze commented on #1855
Duplicate of #1824 and fixed via #1840.

[2016-11-15 16:27] #1855 closed

[2016-11-15 16:28] bestander commented on #1832
Can't reproduce this with latest master:
[code]

[2016-11-15 16:28] bestander commented on #1832
@hassankhan, can you checkout master and try on it?

[2016-11-15 16:29] bestander opened #1859 "Fixes to cherry-pick in [0.17-stable]"
0.17.0
- [x] Don't output list if all dependencies are up to date - https://github.com/yarnpkg/yarn/commit/567f8af51ab6ce67d345177ccc4cc514680827fd
- [x] Fix `expected manifest` on global add #1855 https://github.com/yarnpkg/yarn/commit/16a5268f1702fbfa54b89b995d7e86f48cb568bf
- [x] ENOENT: no such file or directory, chmod - https://github.com/yarnpkg/yarn/issues/1853 #1823
----
0.17.2 branch cut

[2016-11-15 16:33] rajatkumar commented on #1817
Exactly, yarn also needs a mechanism to identify if a module was successfully installed.

[2016-11-15 16:38] bestander commented on #1825
Can't reproduce it on master and node 6.2.1

[2016-11-15 16:42] Daniel15 commented on #1855
There's a bunch of issues with 0.17.0 so we temporarily rolled back to 0.16.1 until fixes are submitted.

[2016-11-15 16:42] markstos commented on #1725
I confirmed this issue exists in the 0.17.0 release. I can also confirm that the workaround of using the format of "git+https://github.com/facebook/react-native#master" appears to work.

[2016-11-15 16:46] dbashford commented on #1859
If this is you guys figuring out what needs to be prioritized for the next release... I think #1823 has made Yarn unusable for a lot of folks.

[2016-11-15 16:48] bestander commented on #1822
Hey everyone, I was planning to release a Changelog and add it to the 0.17.0 release.
But I was distracted by a lot of regressions in 0.17.0, tracking them in https://github.com/yarnpkg/yarn/issues/1859.

Also there was a big break in another OSS project yesterday, so I was spread thin.
Don't worry, the Changelog is coming, I am planning to do it today.
If anyone wants to contribute and write a Ch

[2016-11-15 16:48] #1822 closed

[2016-11-15 16:53] bestander commented on #1859
Thanks, @dbashford, yes, help with prioritization, fixes and tests is very much welcome

[2016-11-15 16:59] zenopopovici opened #1860 "Yarn doesn't fetch correctly dependencies and crashes"
**What is the current behavior?**
yarn

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
When installing a package that requries the css package, it adds a `/` after the extension and this results in a `500` server error.
The previous version `0.16.1` worked fine.

**What is the expected behavior?**
All depandencies should install without errors.

**Please menti

[2016-11-15 17:10] asprouse commented on #1832
I can confirm this is happening with our CI build with yarn 17. It works when I clear the cache but like @hassankhan mentioned it happens on the second run.

Node v6.1.0
Yarn v0.17.0
ubuntu 14.04

[2016-11-15 17:14] soredake commented on #1851
No, it was in 0.16.1 and older.

[2016-11-15 17:14] jswanner commented on #1832
I just tried with the latest master, and while I do see `Building fresh packages...` in the output, I need to run `npm rebuild node-sass` afterwards in order for the app to run.

Node 7.1.0
Yarn 0.18.0-0
OS X 10.11.6

[2016-11-15 17:20] balthild commented on #1371
Same issue. I use macOS. I use homebrew to install node and yarn.

[code]

[2016-11-15 17:22] dpoindexter opened #1861 "Scoped package installation sometimes fails on Windows"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When a project depends on a scoped package on Windows, the package linking step fails 50% of the time if any subdependencies of the scoped package aren't hoisted out of the scoped package.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. `yarn add` a scoped package (ex.

[2016-11-15 17:53] jshwei commented on #1255
Also, it would be very helpful to use a dedicated error code so that the caller can retry on timeout

[2016-11-15 17:53] bestander commented on #1823
We have `chmod` used only in one place in https://github.com/yarnpkg/yarn/blob/master/src/package-linker.js#L31, this did not change since 0.16.1

[2016-11-15 17:56] joyfulelement commented on #1823
We have also noticed the same issue with `0.17.0` reporting `error An unexpected error occurred: "ENOENT: no such file or directory, chmod '/node_modules/.bin/semver'".` with node version `v5.3.0`.

[2016-11-15 17:58] tomconroy opened #1863 "[0.17.0] nested dependencies' bin scripts get hoisted to the root .bin folder"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Yarn 0.17.0 seems to hoist `bin` scripts to the root module (this behavior varies from 0.16 and npm)

**If the current behavior is a bug, please provide the steps to reproduce.**

e.g. the main repo's package.json:

[code]

thing:

[code]

nested-thing:

[code]

---

The `nested-thing` script appears

[2016-11-15 18:01] pmoleri opened #1864 "error Couldn't find a package.json (or bower.json)... (installing chimp)"
Reporting a bug.

`Couldn't find a package.json` error when adding `xolvio/chimp` (github) dependency.
Steps:
[code]

node.js: v6.9.1
yarn: v0.16.1   (same with 0.17.0)
OS: Windows 10 / bash

This issue seems related to: #1215 and #1058.
`yarn cache clean` doesn't solve the issue.
If cache is clean and chimp is installed from npm (instead of github) it works fine. If after doing this, `yarn.lock`

[2016-11-15 18:24] bestander commented on #1823
I can't reproduce this.
Could anyone show a package.json where it happens?

[2016-11-15 18:36] markstos commented on #1860
I could not immediately reproduce this with `yarn` 0.17.0. Please provide a minimal package.json, yarn.lock or command steps which reproduce the issue.

[2016-11-15 18:39] pmoleri commented on #1823
Hi @bestander ,

You can use this steps to reproduce the bug:
[code]
[code]

node: v6.9.1
OS: Windows 10 / bash

[2016-11-15 18:41] markstos commented on #1863
@tomconroy did this cause an error when you ran a command. I think I ran into something like this with 0.17.0 where different depedencies depended on different versions of `mkdirp`. The result was an ENOENT error when trying to `chown` the `mkdirp` binary in the `.bin/` directory.

[2016-11-15 18:41] dbashford commented on #1823
Could be related to #1863?

[2016-11-15 18:42] bestander commented on #1823
@dbashford yeah, that could

[2016-11-15 18:50] zenopopovici commented on #1860
Here they are:

yarn.lock: "http://s3.zeno.in/yarn"
package.json: http://s3.zeno.in/package

[2016-11-15 19:02] bestander commented on #1863
This was introduced here https://github.com/yarnpkg/yarn/pull/1210

[2016-11-15 19:09] viridia commented on #1462
If I delete node_modules and run "yarn install --prod" it always fails. However, if I run it a second time after the failure, it works.

[2016-11-15 19:29] bestander commented on #1823
@pmoleri, I am on Mac and don't get an error like you but I get an unfinished install with a quick flash of error:
[code]

I am going to revert the change in #1210.
Can anyone check if applying this https://github.com/yarnpkg/yarn/pull/1867 fixes the problem?

[2016-11-15 20:06] pmoleri commented on #1823
It works.

I tried this:
[code]

[2016-11-15 20:07] mrkongo commented on #1863
Urgent fix, please. I can't install 0.16.1 for another bug on Windows 10.

[2016-11-15 20:12] bestander commented on #1823
Ok, I'll merge it and make a 0.17.1 in a couple of hours

On Tue, 15 Nov 2016 at 20:07, pmoleri <notifications@github.com> wrote:

[2016-11-15 20:16] mrandre commented on #1822
I just wanted to drop my opinion that it is very questionable to me to make a release that is used by many people with no explanation of what is happening. I am frankly baffled that this is a thing. How am I supposed to reason about this? I can appreciate that team members are deeply aware of every single thing that is happening, but out here, where I just want my problems solved, it is frankly bi

[2016-11-15 20:23] DmitryAuine opened #1869 "yarn upgrade-interactive 0.17.0. UI/UX"
This is awesome, but it has lack of UI
When pkg.json is empty, there aren't any modules to upgrade. So I can't select any. There is no key for exit, for cases when I haven't any pgks to upgrade, or just want to exit this tool
Curently 0.17.0
[code]
So I stuck here. How I can select if there isn't any modules? :)

Expected: Pls add button to exit from this utility
Any platform

[2016-11-15 20:57] mrandre commented on #1822
For what it is worth, it would make a big difference just to say "No release notes yet, but they are coming."

[2016-11-15 21:14] ebednarz commented on #1690
I ran into the same thing. This seems to go wrong in `NpmResolve#findVersionInRegistryResponse`, where `range` never is a key of `dist-tags` for transitive dependencies but simply a semver range, and `config.resolveConstraint` then simply returns the highest one.
(A good example of disaster striking is the horribly broken canary release mechanism of lerna, that produces semver pre-release versions

[2016-11-15 21:29] sateffen commented on #513
My [issue](https://github.com/yarnpkg/yarn/issues/1847) describes a problem, that is similar, even though not the same. I looked through the code a little, and found [this funny part](https://github.com/yarnpkg/yarn/blob/master/src/util/git.js#L46), which is actually used on every git url:

[code]

Soooo.... Can anyone tell me, what's the reason for removing the *git+* [for each git url](https://g

[2016-11-15 21:43] bjeanes commented on #1831
Not necessarily. It seems likely that the bug in this issue is due to not interpolating the git sha into the directory and so probably git clone specific. That issue is referencing a non-git dependency (`node-sass`). Maybe they share an underlying issue but I don't think there's much to indicate that yet.

[2016-11-15 21:44] inglkruiz opened #1870 "Command `yarn --version` throws an error."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Command `yarn --version` throws an error.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Install yarn 0.17.0 and run the command.

**What is the expected behavior?**
Get to know yarn version installed.

**Please mention your node.js, yarn and operating system vers

[2016-11-15 21:49] FredyC commented on #1831
Sorry, my bad, I meant #1818

[2016-11-15 21:58] hpurmann commented on #1870
Got nearly the same error, installed with brew.

node v7.1.0 - yarn 0.17.0 - macOS 10.12.1
[code]

[2016-11-15 22:06] hpurmann commented on #1856
Which installation script do you mean?

If the package is up-to-date in the `apt-get` repository (which 0.17.0 is _not_ btw), you can just specify it with `apt-get install -y yarn=0.17.0`.

[2016-11-15 22:10] thomaschaaf commented on #1834
I tried finding the reason and could nail it down to: https://github.com/yarnpkg/yarn/blob/master/src/resolvers/exotics/hosted-git-resolver.js#L140 missing the hash attribute. This results in the package being created in the cache folder with a name without the hash (https://github.com/yarnpkg/yarn/blob/master/src/config.js#L265). After it is downloaded however the hash is set here: https://github

[2016-11-15 22:10] wampiedriessen commented on #1870
Is probably the same error as in #1834.
Fix is probably being picked into 0.17.1

[2016-11-15 22:11] bjeanes commented on #1831
Ah yes, probably

[2016-11-15 22:14] bestander commented on #1834
@thomaschaaf, would you try sending a PR with a unit test?

[2016-11-15 22:15] #1823 closed

[2016-11-15 22:16] bestander commented on #1863
Fixed, releasing 0.17.1

[2016-11-15 22:16] #1863 closed

[2016-11-15 22:17] holm commented on #1848
I got similar on Yarn 0.17.0 installing `libpq`:

[code]

[2016-11-15 22:19] thomaschaaf commented on #1834
@bestander the better option would be to get the hash in https://github.com/yarnpkg/yarn/blob/master/src/resolvers/exotics/hosted-git-resolver.js#L140 here.
Removing the hash updating seems nasty. Or we could not add a hash if a hash was not set until that point.

I am still trying to navigate through the code but can't figure out how it was done before.

[2016-11-15 22:22] hpurmann commented on #1870
I just cloned the repository to look into the problem myself. Now everything works, even when executed through brew.

[2016-11-15 22:31] BryanCrotaz commented on #513
#1816 may well fix this - take a look at the code changes - it certainly fixes the problem with colon after the domain

[2016-11-15 22:38] Daniel15 commented on #1856
@hpurmann This one: https://yarnpkg.com/install.sh. It's an alternative method of installing Yarn. It currently supports a `--nightly` flag to install the latest nightly build, we should add something like `--version` too 😄

[2016-11-15 22:49] derkjn commented on #1836
Same issue with yarn 0.17.2

[2016-11-15 22:49] torifat commented on #1869
Reported in #1843 & Fixed in #1846

[2016-11-15 23:04] billyvg commented on #1864
I'm facing similar issue, not sure if they are related, following the steps above I get this error ONLY with 0.17.x - it seems to be fine with 0.16.1

[code]

Here is 0.17.2 when adding `xolvio/chimp`
[code]

[2016-11-15 23:09] thomaschaaf commented on #1836
This is a duplicate of https://github.com/yarnpkg/yarn/issues/1834

[2016-11-15 23:12] thomaschaaf commented on #1834
@bestander I am sorry I can't create a unit test at the moment - as I have to be up early in the morning.

The PR should fix the problem :)

[2016-11-15 23:12] kevinzwhuang opened #1872 "Bug: postinstall/install script not being run on dependencies"
**Do you want to request a *feature* or report a *bug*?**

This is a **bug/regression** - has been present since 0.17.0.

**What is the current behavior?**

Postinstall/Install scripts for dependencies are not being run. As a result, libraries that depend on an extra post install step will fail.

For example, I installed `node-sass` on my project with yarn. Trying to use `node-sass` will result in

[2016-11-15 23:21] rosskevin opened #1873 "yarn failing to lock version (when next version is 'rc'?)"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
Currently, installing `"react": "15.3.2"` installs version `15.4.0-rc.4`

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Here is a snapshot of `yarn info react`:

[code]
**What is the expected behavior?**
It installs the specified version `15.3.2`

**Please mentio

[2016-11-15 23:31] AntJanus commented on #1834
Wow that was quick! Thanks everyone! :)

[2016-11-15 23:54] Daniel15 commented on #1784
Let us know if you have a better idea of how to make the nightly builds more obvious 😄

[2016-11-15 23:55] cpojer commented on #1859
Thanks @bestander for trying to be on top of this. I know it's hard with all the issues/PRs coming in. Once we get to better test coverage we should figure out how we can focus on making the project a bit less of a burden to maintain :)

[2016-11-16 00:00] #1836 closed

[2016-11-16 00:09] kevinzwhuang commented on #1872
This might be a dupe of #1852

[2016-11-16 00:10] bestander commented on #1831
Closing in favor #1818 then

[2016-11-16 00:10] #1831 closed

[2016-11-16 00:10] janv opened #1874 "Parallel workers running install scripts can interfere"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

We have  a fairly large package.json. Since switching to yarn, our CI builds would randomly fail around 7% of the time when compiling binary modules.

What was super weird is that the C compiler complained about files that were apparently truncated. Those files were node.js header files, downloaded b

[2016-11-16 00:17] liatreis commented on #1725
+1 can confirm this exists in 0.17.0 as well, the workaround works ok.

[2016-11-16 00:20] mmrath commented on #825
This is still an issue with 0.17.2.

[2016-11-16 00:22] liatreis commented on #1059
+1

[2016-11-16 00:38] yunxing commented on #1874
Interesting. Each worker should only work within their own sandbox (the directory of the downloaded source files). That being said, nothing can stop them writing files to each other's directory in the "install" fields.

Maybe try to config the number of concurrent workers to 1?

[2016-11-16 00:40] daltones opened #1875 "`upgrade-interactive` makes confusion with dependency versions"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Command `upgrade-interactive` leads to a `yarn.lock` file with dependency versions that don't make sense. After another `upgrade`, version resolution is fixed.

**If the current behavior is a bug, please provide the steps to reproduce.**

Say you have this `package.json`:
[code]
Notice that `g

[2016-11-16 00:43] janv commented on #1874
In our particular case, the workers were running the install scripts, which in turn used node-gyp to compile binaries. Node-Gyp downloads headers into `~/.node-gyp/6.7.0/include/node/`

[2016-11-16 00:44] janv commented on #1874
We are solving this now by performing a `npm install -g node-gyp && node-gyp install` before running CI

[2016-11-16 00:52] lukebussey commented on #1860
I'm receiving the same error when trying to add a new package: `$ yarn add grunt-svg-sprite --dev`

[yarn.lock](https://dl.dropboxusercontent.com/u/2158176/yarn.lock)
[package.json](https://dl.dropboxusercontent.com/u/2158176/package.json)

[2016-11-16 01:05] bestander commented on #1818
Is this bug the same as #1834?

[2016-11-16 01:06] adambuczynski commented on #1283
I still bumped into this today.

[code]

[2016-11-16 01:07] Daniel15 commented on #1875
cc @torifat

[2016-11-16 01:08] Daniel15 commented on #1869
Closing as duplicate of #1843. Thank you for trying Yarn! 😄

[2016-11-16 01:08] #1869 closed

[2016-11-16 01:08] torifat commented on #1283
@adambuczynski it's because `yarnpkg/website` repo isn't updated yet. https://yarnpkg.com/latest-version

cc @Daniel15

[2016-11-16 01:09] Daniel15 commented on #1283
This is intentional, we're holding off on 0.17.x until a few more changes land (see #1859)

[2016-11-16 01:09] wyze commented on #1818
@bestander Yes it is. If I apply the fix in #1871 this works fine.

[2016-11-16 01:10] adambuczynski commented on #1283
Yes I got that from the contents of this issue, but as it was resolved as fixed 22 days ago, I assumed it wouldn't be happening anymore.

@Daniel15 ah ok, that makes sense then. But when I installed yarn on a new device, it did install 0.17.0 (which was rather buggy). So maybe those versions shouldn't be pushed to npm at all if they are not ready to be released publicly.

[2016-11-16 01:10] bestander commented on #1818
Let's close it then

[2016-11-16 01:10] #1818 closed

[2016-11-16 01:11] torifat commented on #1283
Yes, we had to revert it. https://github.com/yarnpkg/website/pull/264

[2016-11-16 01:12] Daniel15 commented on #1859
Just thought I'd mention that most installation methods have been rolled back to 0.16.1 until we fix the major issues. Sorry for the churn!

We'll be sure to add some more automated tests to catch all these issues if they ever occur again in the future. The end-to-end test we currently have is very simple (start Ubuntu Docker container, install Yarn, install React using Yarn), we'll definitely add

[2016-11-16 01:15] torifat commented on #1875
@daltones thanks for pointing it out. I'm on it.

[2016-11-16 01:29] xgqfrms-GitHub commented on #1835
test, OK!
![node yarn msi](https://cloud.githubusercontent.com/assets/18028768/20331238/22a8657a-abdf-11e6-9996-817bd37ffdeb.png)
![yarn add](https://cloud.githubusercontent.com/assets/18028768/20331239/22afa9a2-abdf-11e6-8f85-da1ed2780e29.png)
![yarn-error](https://cloud.githubusercontent.com/assets/18028768/20331240/22b12be2-abdf-11e6-9884-ad9db5efd420.png)

[2016-11-16 01:30] wyze commented on #1870
Duplicate #1724.

[2016-11-16 01:30] #1870 closed

[2016-11-16 01:32] wyze commented on #1872
Yes, duplicate of #1852.

[2016-11-16 01:37] wyze commented on #1873
The correct version is installed. When you run `yarn info` this hits the npm registry and reports the information from there.

[code]

[2016-11-16 01:42] torifat commented on #1875
It's a problem within `Add`.

`yarn upgrade --dev node-sass` or `yarn add --dev node-sass@3.13.0` produces the same unexpected result. If I run `yarn install` afterward then it fixes it.

Any pointers? cc @kittens

[2016-11-16 01:44] WillsonSmith commented on #1694
Same issue with some different issues if that helps debug.

[code]

**log**:
[code]

[2016-11-16 01:46] torifat commented on #1875
Working on a test case for this scenario.

[2016-11-16 01:57] rosskevin commented on #1873
Confirmed, the correct version is installed.  Is there a CLI command I should be using to find out which is installed?

[2016-11-16 01:58] wyze commented on #1873
`yarn ls react` would do it.

[2016-11-16 01:59] #1750 closed

[2016-11-16 02:02] torifat commented on #1875
During writing test for this. I found #79

cc @bestander

[2016-11-16 02:02] wyze commented on #1852
I just tested this on latest master and it does generate a `./node_modules/nodent-runtime/dist/index.js` file.

[2016-11-16 02:08] wyze commented on #1852
I tested this on 0.17.0 and the scripts run fine for me. What node version an OS are you on?

v6.7.0 on macOS Sierra for me.

[2016-11-16 02:22] torifat opened #1876 "Not generating yarn.lock file as expected"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
After a successful `yarn install` if I remove `yarn.lock` file and run `yarn install` again it doesn't generate the lockfile.

**If the current behavior is a bug, please provide the steps to reproduce.**
- `yarn add os-homedir`
- `rm yarn.lock`
- `yarn install`

**What is the expected behavior?**
It sh

[2016-11-16 02:31] STRML commented on #1852
OSX El Capitan, here's the output:

[code]

[2016-11-16 02:32] markstos commented on #1725
I'll note that Yarn doesn't currently document which kids of "git remote URLs" that it supports. I've opened a related ticket on the website repo about that:

https://github.com/yarnpkg/website/issues/266

One easy immediate relation is to not document that `github:` format URLs are supported. Later, if support that URL style is added, the docs can easily be updated to reflect that.

[2016-11-16 02:39] adambuczynski commented on #1848
I am getting the same with Yarn 0.17.2, had to run `npm rebuild` to fix it.

[code]

[2016-11-16 02:40] adambuczynski commented on #1848
@bestander it's worth noting that this error only occurs at runtime, not at yarn install time. The yarn install works fine, just when you start your app/script it throws that error when you require `bcrypt`.

[2016-11-16 02:43] markstos commented on #1860
@lukebussey, I could not reproduce the error using your package.json with Node.js 4.4.1 and yarn 0.17.0. I ran `yarn install` then `yarn add grunt-svg-sprite --dev`. Both were successful. I not try with `yarn.lock` repo. See if you can reproduce the issue in a clean repo with the latest release, now 0.17.2.

[2016-11-16 02:54] markstos commented on #1876
I reproduced this issue with Node.js 4.4.1 and `yarn 0.17.2`. From reviewing the docs of [yarn install](https://yarnpkg.com/en/docs/cli/install), there are only options to *suppress* yarn.lock being generated, implying that if those options aren't provided, the lockfile is expected to be regenerated.

The workaround is to run `yarn add` again for the top level dependencies. In this case, `yarn add

[2016-11-16 03:44] ShailynOrtiz commented on #743
How is this going ?
Still working on this ? I'm facing this issue at the moment.

[2016-11-16 03:44] dev-jpctrade opened #1877 "yarn global add bower --prefix /usr/local should add binary or link in /usr/local/bin"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**
yarn global add bower --prefix /usr/local does nothing in /usr/local/bin folder

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Have binary or link in /usr/local/bin

**Please mention your node.js, yarn and operating system version.

[2016-11-16 04:01] lukebussey commented on #1860
It seems to be an issue with the lock file. It fails with it in both 0.17.0 and 0.17.2, but works after removing it.

[2016-11-16 04:18] ide commented on #918
Closing this since I think https://github.com/yarnpkg/yarn/pull/1837 fixes it (untested).

[2016-11-16 04:18] #918 closed

[2016-11-16 04:22] alanhogan commented on #1784
Hey… there hasn't been a new release, has there? I don’t see a change log or a release date on the website.

[2016-11-16 04:33] alanhogan commented on #1784
Sorry, I just checked NPM and saw 0.17.2 was released just 6 hrs ago. That’s what I get for checking the wrong source :)

[2016-11-16 04:38] Daniel15 commented on #1784
There's a few bugs in 0.17.x so we're holding off "officially" releasing it for now. Right now it's only really listed on npm - the main installation methods are still installing 0.16.1. #1859 tracks the fixes required for the 0.17.x branch.

[2016-11-16 04:43] hustcer commented on #1834
Same here, with yarn@0.17.0, node@7.1.0, macOS10.12.1
[code]

[2016-11-16 05:43] smoothdvd opened #1879 "yarn 0.17 install by homebrew, and yarn global ls is empty"

[2016-11-16 06:18] vega-wong commented on #1877
I have the same problem.  I can't find the link in the path which print from  'yarn global bin' after i run 'yarn global  add pm2'. How can i resolve it?

[2016-11-16 06:27] reutopiaer commented on #1321
Same issue here (Mac OS Sierra 10.12, Node 6.2.2, , Yarn 0.17.2 installed via brew):
$yarn global add react-web-cli

$react-web

$yarn global bin

~/.yarn and ~/node_modules is emtpy
just find react-web-cli at ~/.config/yarn/global/node_modules/react-web-cli

[2016-11-16 06:35] olingern commented on #1845
@bestander @wyze I became well acquainted with the `ls` command working on the tree output, I'd be interested in taking this one up, too.

[2016-11-16 07:12] emveeoh opened #1880 "Gulp v4 dependency installation fails with: error An unexpected error occurred: ENOENT: no such file or directory, lstat"
**Ran '_yarn_' and got the following error:**

[code]

**Yarn-error.log:**

[code]

Please note that gulp v4 is linked to **GITHUB** as follows:
[code]

[2016-11-16 07:26] Daniel15 commented on #1839
This has been fixed!
[code]

You can specify an old version like this:
[code]

[2016-11-16 07:26] #1839 closed

[2016-11-16 07:29] MoOx commented on #1839
Well done! Thank you.

[2016-11-16 07:42] Daniel15 commented on #1724
I've updated the Debian repo to contain all releases, not just the latest one. I think we'll start suggesting locking the Yarn version for CI environments (such as CircleCI, TravisCI, etc). You can update the `apt-get` line in your build script to something like this:
[code]

Which will **always** install 0.16.1, even if a newer version comes out. This should prevent your builds from breaking due

[2016-11-16 08:06] GlurG opened #1881 "Running yarn --version throws after upgrade"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Running `yarn --version` after upgrade results in an error.

[code]

The issue disappears after running `yarn`.

**If the current behavior is a bug, please provide the steps to reproduce.**
1) `npm install -g yarn`
2) `yarn --version`

**What is the expected behavior?**
The version should be printed.

[2016-11-16 08:06] thomaschaaf commented on #1880
Duplicate of https://github.com/yarnpkg/yarn/issues/1834

[2016-11-16 08:20] WoodyWoodsta commented on #1881
Dupe https://github.com/yarnpkg/yarn/issues/1724

[2016-11-16 09:04] janv commented on #1874
I have a full log of the installation process now: https://gist.github.com/janv/f80454d2c631bfeac2d1966d69294d3b#file-parallel-node-gyp-L1182 (I stripped the `progressTick` lines)

Shows clearly that there are two parallel downloads of the node headers happening (for the `fibers` and `fsevents` modules)

[2016-11-16 09:28] janv commented on #1874
And a failing example: https://gist.github.com/janv/15c14873bb4d9e2909b66e204c5d2615#file-failing-parallel-install-L39-L43

In line 17 the fibers worker finishes downloading the headers.
In line 39 the fsevents worker _starts_ downloading the headers.
In line 40, now the fibers worker comes back in and starts unpacking the archive that is concurrently being overwritten by the fsevents worker's dow

[2016-11-16 09:48] janv commented on #1874
Even though the switch to yarn surfaced this issue, I think the problem lies more with node-gyp.
I opened an issue there: https://github.com/nodejs/node-gyp/issues/1054

[2016-11-16 10:06] qballer commented on #764
This seems to happen to me as well.
Ubuntu 14.04
Node 4.4.5
Yarn 0.16.1

[2016-11-16 10:28] jlouazel commented on #513
The  problem seems fixed on yarn v0.17.0. I was able to get one of my private Github repository on with a specific version.

[2016-11-16 10:31] zyy7259 opened #1882 "Use homebrew-versions to install an old version of yarn"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

I use yarn 0.16.1, and want to update a dev dep. But yarn does not properly update the `package.json` file.

So I search around and found #1458. In this issue, it said the latest yarn has fix the problem. So I use brew to update to yarn 0.17.2 but encounter another problem similar like this #1834

[2016-11-16 10:35] bestander commented on #1845
@olingern, go for it.
cc me when PR is ready

[2016-11-16 10:38] viswanathamsantosh commented on #513
Is this issue fixed? I m trying to migrate my project from npm to yarn but still facing this issue with yarn@0.17.2 !

[2016-11-16 10:47] jlouazel commented on #513
@viswanathamsantosh Seems to on my side

![image](https://cloud.githubusercontent.com/assets/2803310/20344289/710eb260-abf2-11e6-840d-fafa0ca5f7ab.png)

[2016-11-16 10:54] viswanathamsantosh commented on #513
looks like this is fixed here https://github.com/yarnpkg/yarn/pull/971 !replacing colon( : ) with slash( / ) actually worked. :')

[2016-11-16 10:54] iraklisg commented on #1824
@arxpoetica could you please provide more details about the following?

because after doing a rollback to yarn 0.16.1, I get the following error when running `yarn`

[code]

[2016-11-16 11:14] sateffen commented on #513
Replacing the colon with a slash doesn't work [in my case](https://github.com/yarnpkg/yarn/issues/513#issuecomment-260774591) :( *git+ssh://git@private...* still gets cut down to *ssh://git@private...*

[2016-11-16 11:42] kittens commented on #1857
Fixed by #1868.

[2016-11-16 11:42] #1857 closed

[2016-11-16 11:45] onemen opened #1883 "Unable to run yarn tests"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I have a local fork of yarn mater in my windows 10 laptop
I run ``` yarn run build``` after each pull, all the dependencies and devDependencies are up-to-date
When I run ``` npm run test-only``` or ``` yarn run test-only```
I get this message:
[code]

**If the current behavior is a bug, please provide

[2016-11-16 12:11] mvestergaard commented on #1059
This is also keeping my team back from switching to yarn.

[2016-11-16 12:52] kylecordes commented on #1321
I encountered this trouble on another platform (Ubuntu), in which yarn global ad did not set things up correctly on the path. I see above that @teehemkay installed via brew. I encountered the problem what I had installed yarn using NPM, which is listed as one of the acceptable ways to install it in the documentation. When I installed using its curl-bash installer (wincing at the security, and work

[2016-11-16 13:00] vitorgalvao commented on #1877
Confirmed on macOS `10.11.6` as well.

[2016-11-16 13:01] vitorgalvao commented on #1040
Not on my setup. Similarly, the new `--prefix` option [also does nothing](https://github.com/yarnpkg/yarn/issues/1877).

[2016-11-16 13:08] pmoleri commented on #1823
Verified, working fine in v0.17.2

[2016-11-16 13:14] whitecolor opened #1884 "Does not upgrade tagged packages"
Example of installing tagged version:
[code]

it installs last version with tag `next` (i.e `typescript@2.2.0-dev.20161101`) and adds to `package.json` (which is **not compatible with NPM** I think):
[code]

Few days later version is updated: but `yarn upgrade typescript`, `yarn add typescript@next` or something doesn't upgrade this version to the last have to remove package and add it again.

[2016-11-16 13:14] alexanderby commented on #1074
Windows 10, Node v7.1.0, npm 3.10.9.
Doesn't work either.

[2016-11-16 13:21] wyze commented on #1879
Please follow the issue template.

[2016-11-16 13:21] #1879 closed

[2016-11-16 13:22] #1880 closed

[2016-11-16 13:23] SimenB opened #1885 "Executables from scoped packages are wrong"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
`yarn run` prints executables that can be run.

[code]

(everything shows up twice as well...)

`@finn-no` is not a binary, `@finn-no/cdn-uploader` is, though (named cdn-uploader).

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn add @finn-no/cdn-uploader && yarn run

[2016-11-16 13:24] #1881 closed

[2016-11-16 13:51] tanx commented on #1831
I'm still getting this error with yarn 0.17.2 :(

[2016-11-16 13:55] FredyC commented on #1831
@tanx Apparently [changelog for 0.17.2](https://github.com/yarnpkg/yarn/releases/tag/v0.17.2) did not mention this to be fixed, so I am not even trying it.

[2016-11-16 14:10] colkito commented on #1877
same issue!
macOS sierra, node 7.1.0, yarn 0.17.2

[2016-11-16 14:12] victornoel opened #1886 "[regression] [0.17.2] Yarn global add doesn't add the binary nor warn"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

If I do `yarn global add angular-cli` as a user, the binary is nowhere to be found.

**What is the expected behavior?**

Either yarn should warn me that it cannot link the binary to /usr/bin or at least there should be, like before, a `.bin` directory inside `~/.config/yarn/global/node_modules`.

**P

[2016-11-16 14:14] victornoel commented on #1886
Actually, even if the prefix is set to something like `~/.config/yarn/bin`:
[code]

The binary does not seem to be present there!

[2016-11-16 14:17] kylecordes opened #1887 "global add binaries sometimes don't appear, please error check and state full path with -v"
This is using version 0.17.2. On Mac OS Sierra, but that doesn't matter here.

The current behavior is: in certain cases, which I've been unable to nail down, "yarn global add packagename" lists the name of a bin script, presumably as a claim that it has installed that been scrapped. After extensive investigation (searching the whole hard drive) the script is not present anywhere. I tested this on

[2016-11-16 14:17] RickyLin commented on #1877
Same issue.
Mac OS Sierra 10.12.1, node 7.1.0, yarn 0.17.2
Node and Yarn are installed via brew.

[2016-11-16 14:29] jswanner commented on #1832
This is now resolved for me with Yarn 0.17.2.

[2016-11-16 14:30] wyze commented on #1876
I confirmed this is a regression as `0.16.1` does generate the lockfile if it is missing.

[2016-11-16 14:33] torifat commented on #1832
Closing this. Please feel free to let us know if you face this problem in `>= v0.17.2`

[2016-11-16 14:34] DavidBabel commented on #1321
Same problem here, it's very anoying :

[code]

so i can't add "*/Users/david/.config/yarn/global/node_modules/*" to my $PATH, cause the problem is this directory is a complete trash with all node modules dependancies.

[2016-11-16 14:40] gekorob commented on #1321
I solved installing yarn@0.16.1 (the same version coming from the bash installer) via npm global.
Everything works now with the node 7.1.0 installed via nvm and yarn@0.16.1.
With the latest 0.17.2 the global install doesn't work for me.

[2016-11-16 14:43] DavidBabel commented on #1321
@gekorob thanks for the tips

[2016-11-16 14:49] pmoleri commented on #1864
I skipped 0.17.0 because of another bug.
With 0.17.2 (after a cache clean) I get the exact same error as @billyvg.
I tried Windows 10 with bash and cmd with the same result.

[2016-11-16 15:00] DavidBabel commented on #1389
@cwonrails seems not to work anymore with new versions since ".yarn-config" not exists see #1321
The only way for now is get back go 0.16.1

[2016-11-16 15:00] jswanner commented on #1832
I'm sorry, I spoke too soon. I thought I tested this with my `postinstall` work-around removed, but apparently not. I am still experiencing this problem with v0.17.2.

[2016-11-16 15:00] DavidBabel commented on #1389
@cwonrails seems not to work anymore with new versions since ".yarn-config" not exists see #1321
The only way for now is get back go 0.16.1

[2016-11-16 15:02] kylecordes commented on #1887
Looks like this is very similar to #1886 - that is the specific problem, this item is the way to fix that category of problem.

[2016-11-16 15:21] arxpoetica commented on #1824
@iraklisg I'm not sure I'll be much help, but good news, they've releases a fix in `0.17.2`, so you can install the latest version of Yarn, and should be good to go.

https://github.com/yarnpkg/yarn/releases/tag/v0.17.2

[2016-11-16 15:28] SimenB commented on #761
This is still not fixed in 0.17.2 😢

Repro: https://gist.github.com/SimenB/2b179f3b6bca73ba824e1273ea38aed3

[code]

/cc @jkrems

[2016-11-16 15:34] SimenB commented on #1014
#761 is closed, but I still have this issue (https://github.com/yarnpkg/yarn/issues/761#issuecomment-260975012).

[2016-11-16 15:36] VincentChataignier commented on #1886
Same issue (v0.17.2) with `yarn global add grunt-cli` in debian. Command `grunt` is not found.

[2016-11-16 15:55] victornoel commented on #1211
@ryanmt no PR? :)

[2016-11-16 15:55] victornoel commented on #1316
Would be a great feature!

[2016-11-16 16:08] lukebussey commented on #1860
Running `yarn upgrade` followed by `yarn` works...

[2016-11-16 16:14] beheh commented on #761
Doesn't seem fixed for me either in 0.17.2.

[2016-11-16 16:23] OliverJAsh opened #1890 "Not deduping"
Given `package.json`

[code]

If I `npm install && npm ls typescript` I get

[code]

Notice there is only one version of TypeScript.

If I instead run `yarn` I get:

[code]

Notice there are two versions of TypeScript, even though the specified 1.8.7 should satsify the requirements of tsify.

[2016-11-16 16:39] zenopopovici commented on #1860
I've removed the `node_modules` folder now I get another error. yarn.log:

[code]

[2016-11-16 16:44] zenopopovici commented on #1860
Again `yarn 0.16.1` works fine. So the issue is in the last 2 versions. The 2 issues may also be unrelated.

Also gulp is added via URL `"gulp": "github:gulpjs/gulp#4.0"`. This may trigger the new bug.

[2016-11-16 16:52] wyze commented on #761
I am going to reopen it as it can be easily reproduced with @SimenB's instructions.

[2016-11-16 16:58] warent commented on #1834
Experiencing this problem in `yarn v0.17.2` on Arch Linux `4.8.7-1-ARCH`

[2016-11-16 16:58] wyze commented on #1890
Which version are you using? My output on `0.17.2`/`master`:

[code]

[2016-11-16 17:00] msegado commented on #1869
Seems this issue was more about exit functionality than an empty listing ("Expected: Pls add button to exit from this utility"). For posterity, you can just use Ctrl+C to exit, though it might not hurt to make that explicit in the prompt.

[2016-11-16 17:04] warent commented on #1834
Interestingly, when I updated my npm prefix, per: https://docs.npmjs.com/getting-started/fixing-npm-permissions

and then I ran yarn v0.17.2, it worked fine

[2016-11-16 17:10] OliverJAsh commented on #1890
0.16.1. I will try updating.

[2016-11-16 17:16] olingern commented on #1890
@wyze I belive @OliverJAsh is speaking to the second level typescript dependency of tsify. Perhaps the question is: "If a root dependency already appears on the tree, should it also appear in children if version is the same?"

I've actually wondered about this, too.

[2016-11-16 17:20] wyze commented on #1890
@olingern, his output is different though, and actually list typescript 3 times, whereas ours only listed it twice.

I know there is the issue open on the website project to clarify what `yarn ls` is actually showing though.

[2016-11-16 17:25] olingern commented on #1890
@wyze Overlooked that!

I see. npm seems to not display packages that are parents as children ( typescript in this case ), which I'm not sure I agree with because it's misleading. The current yarn functionality seems more accurate.

[2016-11-16 17:37] daltones commented on #1848
Same here installing `bcrypt` after upgrade Yarn from v0.16.1 to v0.17.2. `yarn install` finishes without errors, but the installation is broken.

[2016-11-16 17:48] OliverJAsh commented on #1890
I can confirm my issue has gone in 0.17.2:

[code]

Empty dir, which is good :-) It's sharing TypeScript with the parent module

[2016-11-16 17:48] #1890 closed

[2016-11-16 18:00] bestander commented on #1848
Let's reopen this.
Please provide the minimum how e2e example to reproduce/

[2016-11-16 18:09] #1886 closed

[2016-11-16 18:09] adambuczynski commented on #1848
I've tried to create an isolated example, but have not succeeded on my laptop, which runs OS X El Capitan with yarn 0.17.2. The issue I had yesterday was on a different version I believe, will have to recheck later today.

[2016-11-16 18:11] daltones commented on #1848
`package.json`:
[code]

`index.js`:
[code]

After `yarn install`, run `node index.js`:
[code]

The whole directory `node_modules/bcrypt/build/` isn't there.

node.js: v7.1.0
yarn: v0.17.2
OS: Arch Linux

[2016-11-16 18:13] adambuczynski commented on #1848
Yes, I was going to suggest the same reproduction steps, but it seems to work on my current device. Will try again on the problematic device and try to provide additional details.

[2016-11-16 18:17] wyze commented on #1876
Fixed via #1888.

[2016-11-16 18:17] #1876 closed

[2016-11-16 18:20] martynchamberlin commented on #513
Yes I'm still having this problem too, even with version 0.17.2 of Yarn. The `git+` part gets removed and I end up with:

[code]

Given that it's working for some people though makes me confused. Any idea what we're doing wrong?

[2016-11-16 18:41] wyze commented on #1826
Fixed via #1865.

[2016-11-16 18:41] #1826 closed

[2016-11-16 18:47] jacobmischka commented on #1725
This wouldn't be as much of a problem for me if `yarn add facebook/react-native` would automatically convert to git+https urls.

I'm not particularly bothered that the record in package.json needs to be the full url, but I wish the `yarn add` command supported shorthand at least.

[2016-11-16 19:11] Ky6uk commented on #1607
Yarn `v0.17.2` still broken on it. NPM installs it correctly.

[2016-11-16 19:38] alansouzati commented on #346
I'm still facing this issue with both 0.16.1 and 0.17.2. Any ideas what to do to fix it ?

[2016-11-16 19:41] martynchamberlin opened #1892 "Private repositories as dependencies don't work in FreeBSD 10.2"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Unable to use Yarn in a FreeBSD VM

**If the current behavior is a bug, please provide the steps to reproduce.**
We are migrating from using NPM to Yarn.

When I run `yarn`, I get this output:

[code]

It locks up at this 99% mark of Step 2. The process is idling, `I+`, doing nothing.

When I run the e

[2016-11-16 20:00] sonicparke commented on #1882
I ran into this today and I do not have the previous version of yarn already installed via brew. So now I am a bit stuck.

[2016-11-16 20:06] kittens commented on #1684
I renamed that arg to `--cache-folder` if that helps.

[2016-11-16 20:07] ozsay commented on #973
https://github.com/yarnpkg/yarn/blob/ba5a20307992057c49663fce2569c01f59266701/src/resolvers/exotics/file-resolver.js#L26

seems like the file resolver always resolves relative to `cwd` when the module path is not absolute.

[2016-11-16 20:10] bestander commented on #1892
@martynchamberlin, can you narrow it down to what packages can't be installed this way?

[2016-11-16 20:13] qballer commented on #513
place this in ~/.ssh/config

[code]

[2016-11-16 20:15] martynchamberlin commented on #513
Yes! That fixed it for me. Thanks.

[It'd be nice though](https://github.com/yarnpkg/yarn/issues/513#issuecomment-260774591) if `cleanUrl` were not getting run, so we could have this directly in the URL instead. Having to change a configuration file requires a devops change where we could otherwise have version control handling it. Not sure what the thought process behind this was...?

[2016-11-16 20:17] #1834 closed

[2016-11-16 20:45] alansouzati commented on #346
My problem was that I had manually copied the yarn.lock with my `COPY` command in docker. I added the `yarn.lock` to my .dockerignore and everything works fine now.

[2016-11-16 20:47] tamird opened #1893 "switching from npm dep to a github dep requires a cache clean"
**What is the current behavior?**

Given the following `package.json`:
[code]
running `yarn install` correctly installs `jspm` into `node_modules`. However, changing the `package.json` to:
[code]
and re-running `yarn install` does not change the contents of `node_modules` (it does update `yarn.lock`. Running `yarn cache clear && yarn install` does correctly update the contents of `node_modules`.

[2016-11-16 20:49] martynchamberlin commented on #1892
@bestander Oh, you know what. It's a custom one. I narrowed it down to this entry:

[code]

Interestingly, two others of our custom ones work fine, but this one doesn't for some reason in FreeBSD (but it does just fine in macOS).

[2016-11-16 20:52] akloeber opened #1894 "yarn --version triggers ENOENT error before first install"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When requesting the version of yarn after installation the following error is thrown:
[code]

After installing any global module `/usr/local/share/.cache/yarn/.roadrunner.json` is present and `yarn version` gives the correct output:
[code]

**If the current behavior is a bug, please provide the steps t

[2016-11-16 20:54] KidkArolis opened #1895 "Private npm registry behaviour differs compared to npm"
This works:

[code]

This does not work:

[code]

This is a bit tricky to reproduce if you don't have a private npm registry (or any private registry) access.

The config that `npm login` creates by default is:

[code]

Looks like `npm` sends this token to the registry when installing private packages, but `yarn` doesn't. It's probably closely related to #1666 .

[2016-11-16 21:07] akloeber commented on #1877
Confirmed on Ubuntu 14.04.5 LTS, node 4.6.2 LTS, yarn v0.17.2 after installing pm2 globally which logs:
[code]
No pm2 binary has been linked at `/usr/bin/pm2` (`yarn global bin` returns `/usr/bin`).

[2016-11-16 21:35] martynchamberlin commented on #1892
After doing more digging, I narrowed it down to that specific ##56f3954 sha that was causing grief. Other shas would cause it to work just fine. It was specifically the #56f3954 sha that was causing it to lock up.

After doing a bunch of troubleshooting trying to figure out what might be the problem specifically with this sha, the problem went away. Vanished. Now I can't replicate it, even with th

[2016-11-16 21:43] bestander commented on #1859
0.17.3 is being deployed, please send more PRs and let us know what is the highest pri now

[2016-11-16 22:02] KidkArolis commented on #1883
Does running an individual test work? e.g. `jest __tests__/commands/init.js`

[2016-11-16 22:06] KidkArolis commented on #1859
Consider pulling in #1666, it fixes yarn for use with private authenticated registries.

[2016-11-16 22:07] SPSpwetter commented on #1168
Closing this because #1712 resolves the issue. While the lock file generation should be the same across platforms, if it doesn't get rewritten without and install change, I'm good.

[2016-11-16 22:13] bestander commented on #1892
It is weird.
Please try clearing caches on your FreeBSD system and check again.
If problem persists reopen the issue with details how to reproduce.
Thanks for the report.

[2016-11-16 22:13] #1892 closed

[2016-11-16 22:15] martynchamberlin commented on #1892
Yeah. As I think about it, I ran a command to refresh the VM and that might have been the turning point when it started working.

[2016-11-16 22:21] bestander commented on #1859
@KidkArolis I've added it to the list but to the bottom considering that it is still in progress and is not a regression (right?).

[2016-11-16 22:24] onemen commented on #1883
No.

[2016-11-16 22:33] KidkArolis commented on #1859
Thanks, nw.

[2016-11-16 22:38] hpurmann commented on #804
I guess this should be closed as https://github.com/yarnpkg/yarn/pull/805 is merged now?

[2016-11-16 22:43] DominicBoettger commented on #513
Same problem here. Urls of private repositories are not working as before (npm).

git+ssh://git@github.com:ORG/repo.git should work as it's needed to be compatible with npm during the migration phase...

[2016-11-16 22:43] Daniel15 commented on #1859
I think the roadrunner.json issue is fairly important to fix.

[2016-11-16 22:44] caseyhoward commented on #1342
It just failed for me on Mac OS X Sierra (10.12.1). It gets removed from the package.json but not the node_modules/@types directory. yarn check doesn't catch it. Removing node_modules and reinstalling works. But not having to clean my node_modules directory regularly is one of the main reasons I switched to yarn from npm.

[2016-11-16 22:46] martynchamberlin commented on #513
@DominicBoettger Once you've added `User git` to your `~/.ssh/config` you'll also want to change that colon to a forward slash. In my experience today, Yarn doesn't play well with the colon yet.

[code]

[2016-11-16 22:47] Daniel15 opened #1898 "Node.js version check in yarn.js should be done earlier"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`bin/yarn.js` is supposed to throw an error like "Node version x.xx is not supported, please use Node.js 4.0 or higher" when using an old Node.js version. However, when Node.js 0.10 it doesn't even reach that point, since it hits a syntax error beforehand:
[code]

**What is the expected behavior?**
I t

[2016-11-16 22:55] lyushenko commented on #1894
Having the same issue on MacOS with yarn 0.17.3 installed via npm.

[2016-11-16 22:56] ide opened #1899 "Interactive upgrade should look for greatest version if current version is a prerelease version"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Interactive upgrade currently looks for the `latest` version of a package and proposes it if the installed version is a prerelease version.

**If the current behavior is a bug, please provide the steps to reproduce.**
Create a package.json file with `webpack@2.1.0-beta.26` as a dependency. Run `yar

[2016-11-16 23:26] #917 closed

[2016-11-16 23:29] hpurmann opened #1900 "0.17.3 not found in debian repository"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
It still installs 0.16.1

**If the current behavior is a bug, please provide the steps to reproduce.**
Run `apt-get update && apt-get install -y yarn`

**What is the expected behavior?**
I want be able to upgrade manually by specifying the version of yarn in my `Dockerfile`:
[code]

**Please mention yo

[2016-11-16 23:39] hpurmann commented on #1898
That sounds like a good first issue for me 😀

[2016-11-16 23:56] bestander commented on #1848
Is it the same as #1852, i.e. install script not running on install?

[2016-11-16 23:57] wyze commented on #804
Yup, thanks @hpurmann!

[2016-11-16 23:57] #804 closed

[2016-11-17 00:01] wyze commented on #1894
Duplicate #1724.

[2016-11-17 00:01] #1894 closed

[2016-11-17 00:11] wyze commented on #1900
I would follow along #1859. I don't think there will be a release out to the official installation methods (e.g. Debian repository) until the checklist is finished.

[2016-11-17 00:11] #1900 closed

[2016-11-17 00:16] hpurmann commented on #1900
Thanks for the quick answer, @wyze. Is there any general way to know when a new version has been officially shipped? Until now I just followed the GitHub Releases.

[2016-11-17 00:23] daltones commented on #1848
@bestander sort of… except that bcrypt v0.8.7 doesn't have an explicit script `install` in `package.json` like the case in #1852. But it does some `gyp` stuff that I actually don't understand how it works.

[2016-11-17 01:01] Daniel15 opened #1903 "Dockerfile/Vagrantfile for developing on Yarn"
Inspired by (although somewhat tangential to) this Twitter thread: https://twitter.com/Daniel15/status/799044089035440141

We should add a Dockerfile or Vagrantfile for people that want to develop on Yarn itself, such that there's a consistent development environment and it's easy for people to get started.  There's already third-party Dockerfiles for using Yarn, but nothing for actually developin

[2016-11-17 01:38] dev-jpctrade commented on #1877
looks like it fixed on 0.17.3 with additional parameters, closing

`
yarn global add bower --prefix=/usr/local --global-folder /usr/local/lib/node_modules
`

[2016-11-17 02:03] torifat commented on #1903
I can work on it. I already use one for testing bug 😄

[2016-11-17 02:35] Zhomart commented on #1724
Yarn creates `MODULE_CACHE_DIRECTORY/. roadrunner .json`, where `MODULE_CACHE_DIRECTORY` can be `~/.cache` or `~/Library/Caches/Yarn` depending on the system.

- https://github.com/yarnpkg/yarn/blob/92399c4b323ce8033685b170f74a566e7879a266/src/constants.js#L55
- and https://github.com/yarnpkg/yarn/blob/553e55f146a465a4e773b53b0a93752163c4b039/bin/yarn.js#L12

I think either yarn should use tempora

[2016-11-17 02:38] Zhomart commented on #1817
I install latest yarn using `$ npm install --silent -g yarn@0.17.3` and force installed packages `$ yarn install --force`. It worked for me.

[2016-11-17 02:56] torifat commented on #1832
@jswanner no worries. Thanks for reporting it back though 😄

[2016-11-17 03:15] sarus commented on #513
dependencies of the form

[code]

do not work for me with the latest yarn `017.2`.  The error is:

[code]

Haven't tested the work arounds yet but hoping yarn will eventually support the same syntax as NPM.  Should this be a new issue or is this still applicable to this issue?

[2016-11-17 03:15] msmfsd commented on #1724
Mac OSX fix: ```mkdir -p ~/Library/Caches/Yarn```

[2016-11-17 03:47] hassankhan commented on #1832
Sorry, late to the party, but yeah same thing, no dice 😢

[2016-11-17 04:16] tomitrescak opened #1904 "yarn upgrade - weird behaviour"
**What is the current behavior?**

Yarn does not upgrade the package when requested with `yarn upgrade apollo-mantra`

1. In my package json version of the package is: `"apollo-mantra": "^1.3.0"`
2. I modify the package and publish a new version to npm, with new version "1.3.1:"
3. I perform `yarn upgrade apollo-mantra` and I get 0 updated dependencies

This is in my lock file:

[code]

Also, afte

[2016-11-17 05:08] Tomyail opened #1905 "set cache-path did not change yarn cache dir"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

set cache-path did not change yarn cache dir.

` yarn cache dir`  **always** return `/Users/username/Library/Caches/Yarn`

**If the current behavior is a bug, please provide the steps to reproduce.**

1. `yarn config set cache-path /my/own/yarn/cache/path`
2. `yarn cache dir`

**What is the expecte

[2016-11-17 05:50] torifat commented on #1904
Please don't ignore issue template.

**Please mention your node.js, yarn and operating system version.**

[2016-11-17 05:55] torifat commented on #1904
I couldn't reproduce it.

[code]

[2016-11-17 05:58] tomitrescak commented on #1904
It's MAC OS, node 6.3.1

It's different to reproduce as your way works for me as well:

1. Install a `package` at version 1.2.0
2. Bump `package` on npm to 1.2.1
3. yarn upgrade `package` **WORKS**
4. Bump `package` on npm to 1.2.2
5. yarn upgrade `package` **DOES NOT WORK**

The only way to upgrade at this moment is yarn upgrade `package@1.2.2`

[2016-11-17 06:07] jch254 commented on #629
+1

[2016-11-17 06:08] milesj commented on #1458
When I run `yarn upgrade`, it doesn't update any versions in `package.json`. This is quite annoying coming from NPM, in which it would automatically update the numbers.

[2016-11-17 06:20] DmitryAuine commented on #1869
@msegado Sure i can, but guys we talk about interactive tool, right?

[2016-11-17 06:23] torifat commented on #1869
@DmitryAuine feel free to send a PR. We would love to merge it.

You can do it like `npm-check` does. https://github.com/dylang/npm-check

<img width="454" alt="screenshot 2016-11-17 12 22 55" src="https://cloud.githubusercontent.com/assets/208544/20378479/9ff3cdf8-acc0-11e6-9346-35e148820589.png">

[2016-11-17 06:27] jch254 commented on #1059
+1

[2016-11-17 06:33] akloeber commented on #1877
With yarn v0.17.3 after running
`# yarn global add pm2 --prefix /usr/local --global-folder /usr/local/lib/node_modules`

linking of binaries into the `bin` folder seems to be working but a folder `/usr/local/lib/node_modules/node_modules` gets created with the node modules inside.

This causes additional errors which I suppose are related to this directory structure:
[code]

Furthermore IMHO insta

[2016-11-17 06:39] akloeber commented on #1877
When using `yarn global add pm2 --prefix /usr/local --global-folder /usr/local` instead pm2 is working as expected but the resulting folder structure with having modules directly under `/usr/local/node_modules` (should be `/usr/local/lib/node_modules`) and `package.json`/`yarn.lock` directly under `/usr/local`  is kind of sub-optimal.

[2016-11-17 06:45] iraklisg commented on #1824
@arxpoetica, indeed, I have updated yarn to  `v0.17.3` and everything seems to work fine thus far

[2016-11-17 07:49] smalike opened #1906 "SyntaxError: /home/smalike/.yarn-cache/npm-faye-websocket-0.10.0/.yarn-metadata.json: Unexpected end of JSON input"
Ubuntu 14.04

Nodejs: v6.0.0

yarn: 0.16.1

yarn-error.log:
[code]

[code]

[code]

[2016-11-17 08:11] centigrade-thomas-becker commented on #919
I have the same problem. Most of the time `yarn install` works, but sometimes I get the error that some file in `node_modules/@types` can not be found.

Windows 8.1
NodeJS 6.8.1
Yarn 0.17.2

@ManRueda How do you print that pretty table for your specs?

[2016-11-17 08:15] kanongil commented on #838
Yarn is useless to me when I can't trust the install command to fetch the right modules, or at least warn that it has done something dubious. @kittens can you reconsider this issue?

[2016-11-17 08:23] centigrade-thomas-becker commented on #919
I noticed that @wesamco, @marcomorain, and me all have "fsevents" in their output logs. Coincidence?

[2016-11-17 08:25] maybeec commented on #1861
Confirm: Running 0.17.2 the issue of 0.16.1 persists. Getting

[code]

on windows 7 x64 / node 6.9.1

[2016-11-17 08:37] Veikedo commented on #919
@centigrade-thomas-becker it can be easily reproduced following this step:

1. yarn add @types\node
2. yarn install
3. yarn install whatever-package
4. ???
5. Got an error

ie this bug appears anytime you change your `package.json` what is causing `yarn` to link dependencies.

[2016-11-17 08:37] tanx commented on #1831
@FredyC I tested again with 0.17.3 and the issue seems to be resolved now. Thanks everyone for your quick help!

[2016-11-17 09:00] csvan opened #1907 "Support relative paths for local packages"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Does not support local paths

**What is the expected behavior?**
Would be nice if it did

**Please mention your node.js, yarn and operating system version.**
Node 6.9.1, Yarn 0.17.3, Windows 7 Enterprise

Say I have a local package in my project root which is also in the NPM registry (e.g. `angular

[2016-11-17 09:28] wellyshen commented on #1724
Hi @msmfsd How to fix if the yarn was installed through nvm `npm -g -i yarn`?

[2016-11-17 09:29] MoeSattler commented on #1724
@wellyshen
Same thing, change to the nvm version that contains yarn globally and `npm -g -i yarn@0.16.1`

[2016-11-17 09:31] MoeSattler commented on #1724
@wellyshen `nvm clear-cache`

[2016-11-17 09:33] marcomorain commented on #919
It's the same for me - it happens after adding a package from the types user namespace on npm to package.json

[2016-11-17 09:39] SimenB commented on #761
@wyze The problem might be the install itself, and not the pruning?

`rm -rf node_modules/ && yarn && npm prune --production && node index.js` fails with the same error.

`rm -rf node_modules/ && npm i && npm prune --production && node index.js` works though

[2016-11-17 09:45] BryanCrotaz commented on #513
@sarus PR #1816 will fix this

[2016-11-17 09:50] casz commented on #825
0.17.3 seems to fix the issue 👍

[2016-11-17 09:51] casz commented on #825
[0.17.3](https://github.com/yarnpkg/yarn/releases/tag/v0.17.3) seems to fix the issue 👍

[2016-11-17 09:58] tristanbes commented on #1900
same question than @hpurmann I would except that github release would match what's available inside debian repository :(   // cc @wyze

[2016-11-17 10:17] jesperronn commented on #1832
FYI on my project (which has a lot of dependencies, but I think this is the problem).

I can see that Yarn (0.17.2) removes some dependencies after a run. Notice the lines stating `unbuild ...` below:

[code]

So, the dependencies being unbuilt in the final step are as far as I can see not being removed by npm prune. Somehow `npm prune` and yarn's `unbuild` do different things??

[2016-11-17 10:19] SimenB commented on #1899
I don't think yarn should suggest pre-releases (unless one is already installed, I suppose), but maybe give the user a choice between all `dist-tags`?

[2016-11-17 10:51] mheimschild commented on #1607
yarn unlike npm does not install phantomjs binary only script relying on it.
As a workaround I downloaded phantomjs binary a set PHANTOMJS_BIN env variable pointing to it.

[2016-11-17 10:57] Coderah opened #1910 "unable to find package.json in module's subdirectory"
`yarn add gamepad` is resulting in an error:

`
error Couldn't find a package.json file in "./node_modules/gamepad/node_modules/node-pre-gyp"
`
and of course `node_modules doesn't exist within the `gamepad` directory, however `node-pre-gyp` does exist in `./node_modules` directly and it contains a `package.json` file.

I've attempted removing node_modules and running yarn again.

NOTE: I've replac

[2016-11-17 11:03] Coderah commented on #1910
by running `yarn add node-pre-gyp` the issue is resolved, however there may still be a bug considering there is nothing that guided me to doing that, nor am I sure I should need to.

[2016-11-17 11:28] DominicBoettger commented on #513
Please merge PR #1816 and publish a new version 👍

[2016-11-17 11:29] Coderah commented on #1910
the installation issue was resolved with the above, however actually requiring the module results in the same-ish errors, perhaps this is just due to the `gamepad` module doing something wrong.

[2016-11-17 12:17] dev-jpctrade commented on #1877
ok, reopened, my original post was a feature request, but this become bug report.

[2016-11-17 12:25] torifat commented on #1877
Please open a new issue reporting the `--global-folder` bug. This is not a `--prefix` bug.

And, try `yarn global add pm2 --prefix /usr/local`

your don't need `--global-folder /usr/local` to install in `/usr/local/bin`

[2016-11-17 12:25] #1877 closed

[2016-11-17 12:48] #1061 closed

[2016-11-17 12:58] hpurmann commented on #1852
macOS Sierra 10.12.1, node 6.9.1

Can't reproduce neither with current `master` (4ce67f3d5da3ba99c3e8718100883e9f145ce125) nor with 0.17.0.

Can you maybe provide a Dockerfile to reproduce?

[2016-11-17 13:10] nifgraup commented on #1684
result of further bisecting:

There are only 'skip'ped commits left to test.
The first bad commit could be any of:
f5f77ed30fc1a0846305aa41645ab43ebdfdfa8a
61890e9e01e01af5c7fe782480f896bfa1d349e2
ec7b1e5f9e5dfa81f5e85f4491cf5d67f3bd8608
f13537fa9b60136d28095306d789756bdb4d9b8d
We cannot bisect more!

[2016-11-17 13:33] wyze commented on #1906
Duplicate #660.

[2016-11-17 13:33] #1906 closed

[2016-11-17 13:37] wyze commented on #1907
Duplicate #1698.

[2016-11-17 13:37] #1907 closed

[2016-11-17 13:38] wyze commented on #1907
Could you please add your information there. The issue is the same, but your relative path is different than the one mentioned in the other issue.

[2016-11-17 13:42] wyze commented on #1900
Normally, once you see it on the GitHub releases, that is when it would be in all the official channels. It's just that there was a lot of breakage with 0.17.0, that they rolled back to 0.16.1 until we can fix the major regressions with 0.17.x.

[2016-11-17 13:49] wyze commented on #1724
Fixed via #1902.

[2016-11-17 13:49] #1724 closed

[2016-11-17 14:03] maybeec commented on #1861
persists with 0.17.3

[code]

[2016-11-17 14:14] #1898 closed

[2016-11-17 14:14] torifat commented on #1904
I have tested it. It seems like a caching thing. Yarn registry takes about 5mins to catchup after publishing a new version in `npm`.

[2016-11-17 14:20] maybeec opened #1912 "inconsistent state of package.json/yarn.lock on execution error"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In case of errors like #1861, yarn may finish in an invalid state. It happened to me while removing a dependency, which has been removed from the package.json, but not from the yarn.lock. Subsequent executions of the command resulted in

[code]

**If the current behavior is a bug, please provide the st

[2016-11-17 14:22] torifat commented on #1877
If anyone else having trouble with `--prefix /usr/local` then please first remove the package `yarn global remove <package>`, and then try `yarn global add <package> --prefix /usr/local`. If it still doesn't work then report, we will reopen this issue.

[2016-11-17 14:28] soredake opened #1913 "Ability to link global binaries directly to prefix folder"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
My prefix folder is ~/ybin
Yarn links binaries to ybin/bin

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Ability to link directly to ~/ybin

**Please mention your node.js, yarn and operating system version.**

[2016-11-17 14:34] nifgraup commented on #1684
After working around skipped commits I found this to be the trouble maker:

commit ec7b1e5f9e5dfa81f5e85f4491cf5d67f3bd8608
Author: Sebastian McKenzie <kittens@users.noreply.github.com>
Date:   Mon Sep 5 15:45:55 2016 +0100

    Add integrity hash check to `kpm install`

[2016-11-17 14:37] S-YOU commented on #1913
Thats not how Unix/Linux systems works, has to be different name other than `prefix`

[2016-11-17 14:41] wyze commented on #1458
@milesj, this should probably be a separate issue and please provide steps to reproduce along with a `package.json` that we could use to reproduce.

[2016-11-17 14:45] soredake commented on #1851
0.17.3 fixed this, thanks.

[2016-11-17 14:45] #1851 closed

[2016-11-17 14:45] zerok commented on #1825
Cannot reproduce on...

yarn: 0.17.3
node: 4.6.0, 6.9.1
macOS 10.12.1

[2016-11-17 14:46] wyze commented on #1910
I suspect this is due to `gamepad` defining `node-pre-gyp` in `bundledDependencies` but yarn is hoisting it up to the top level anyways.

[2016-11-17 14:52] bestander commented on #1852
Can't reproduce this on latest either

[2016-11-17 14:53] bestander commented on #1852
@STRML, can you clear caches?

[2016-11-17 15:00] STRML commented on #1852
Clearing caches doesn't help - but it appears my `npmrc` is the culprit.

Moving it out fixed the issue. What's perplexing is that when moving back in, the issue remained fixed.

The contents of my global npmrc:

[code]

[2016-11-17 15:02] bestander commented on #1872
Looks like #1852 is different

[2016-11-17 15:03] markstos commented on #1848
We build bcrypt with yarn on our CI server frequently-- currently with 0.16.1-- and see intermittent failures. That could explain why some people see the issue here and some don't. I currently have no idea what triggers the failure, but will be looking at it some today, as I'm trying to run `yarn` in a Ubuntu 14.04 Docker container, and am getting bcrypt-related failures every time there, with bcr

[2016-11-17 15:07] phestermcs commented on #1761
For those interested, I'm creating an experimental branch of yarn, that will implement a new switch: `--mount`. 'Mount' was chosen so one can think of modules as having been attached from a different physical location, and because `link` was already being used for a different thing. You could then do `yarn --mount` which would result in symlink-installing all modules, with the links pointing to a

[2016-11-17 15:11] markstos commented on #1893
This may be a dupe of one of the other Github/caching issues already filed:

  * #1171
  * #1453
  * #1573

@tamird Could you look through other Github/caching issues including the above but possibly others (there are still more!) and confirm if you've really found a unique issue or if this is the same as one of the others? If it's a dupe, please close this copy of the issue, thanks.

[2016-11-17 15:11] wellyshen commented on #1724
Hi @wyze The problem still exist, I install the yarn through nvm and I also clear cache as @MoeSattler mentioned before run `yarn --version`, and the error occurs:

<img width="938" alt="2016-11-17 11 09 16" src="https://cloud.githubusercontent.com/assets/21308003/20394607/15861ae4-ad1b-11e6-87eb-adc18f889eb5.png">

[2016-11-17 15:14] tamird commented on #1893
It's possible that those issues are related, but none of them are direct
duplicates of this one (i.e. the root cause may be the same but the symptom
is different).

On Thu, Nov 17, 2016 at 10:11 AM, Mark Stosberg <notifications@github.com>
wrote:

[2016-11-17 15:16] STRML commented on #1852
I'm not able to reproduce this, even locally after moving my `.npmrc` in and out. Something pretty bizarre there, like a run of yarn without an `.npmrc` present reset something internal which fixed the bug.

If anyone else is experiencing this, working off https://github.com/STRML/yarn-install-lifecycle-bug might help you get to the bottom of it.

[2016-11-17 15:17] wyze commented on #1724
There hasn't been a release with this fix included yet. See #1859 to follow along our progress 0.17.x.

[2016-11-17 15:26] gijsroge commented on #1182
Just published a package with yarn 'swiper-thumbnails' and tried to add it in a project and fails.

`Arguments:
  /usr/local/bin/node /usr/local/bin/yarn add swiper-thumbnails

PATH:
  /usr/local/php5/bin:/Users/gijs.roge/.composer/vendor/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

Yarn version:
  0.16.1

Node version:
  7.0.0

Platform:
  darwin x64

npm manifest:
  {
    "name": "itr-theme

[2016-11-17 15:28] onemen commented on #1883
I found a workaround for this issue:
`jest __tests__/commands/init.js > nul`

all the tests work when i add `> nul`after the command

[2016-11-17 15:41] markstos commented on #1848
@gitawego  I see the error *Could not locate the bindings file.* at *run time*. Do you see any errors at *build time*, when running `yarn add bcrypt@0.8.7`?  There are a lot of dependencies for getting the binary bits built which could fail if expected packages haven't been installed in the OS. This is definitely an issue inside stripped-down container OS environments, but could also be an issue o

[2016-11-17 15:53] wellyshen commented on #1724
@wyze OK, thanks. I will waiting for the new version

[2016-11-17 16:06] bestander commented on #1872
So I am trying to repro on master branch:
[code]
Everything seems in place.
Can anyone give me a 100% list of commands to reproduce this?
Is it linux/windows only?

[2016-11-17 16:08] nragaz commented on #1877
@torifat  I'm still not seeing the correct behaviour after e.g.:

[code]

[2016-11-17 16:10] torifat commented on #1877
@nragaz what is your yarn version?

[2016-11-17 16:14] bestander commented on #1872
This is a duplicate of #1832, let's continue discussion there please.

[2016-11-17 16:14] #1872 closed

[2016-11-17 16:14] S-YOU commented on #1761
Not a yarn member, and no plan to advertise my experimental 0 star repo, but I use symlink only approach on my [package installer ](https://github.com/S-YOU/npmln)for myself and the project I work in my company.
You can see how its fail on repositories which use babel, gulpfile with babel, and some module loaders.

node_modules folder is really clean with only symlinks though.
[code]

[2016-11-17 16:15] bestander commented on #1832
So I am trying to repro on master branch:
[code]
Everything seems in place.
Can anyone give me a 100% list of commands to reproduce this?
Is it linux/windows only?

I think binding.node is downloaded instead of being rebuilt.
Could that be a reason?

Anyway, we need a step by step guide to repro this

[2016-11-17 16:22] BLamy commented on #1628
Would really like to see this. TBH I don't agree that it's confusing, I'd venture to say most developers working with yarn are familiar with the concept of aliases. Seems like the usability equivalent of a microoptimization to me, to be blunt It's kind of annoying to type rm out of habit only to be kicked out and have to type it again.

I use `npm i` over `npm install` all the time, Googling for `

[2016-11-17 16:28] bestander commented on #1821
I think yarn can't protect from a subdependency that has a problem being installed on ubuntu because Debian has this weird nodejs/node name clash.
There are ways around this:
- send a PR to inquirer or spawn-sync to fix this.
- use another method to install yarn (debian packagers, single file build)
- install nodejs-legacy on ubuntu as suggested on the linked issue

I'll close this issue for now b

[2016-11-17 16:28] #1821 closed

[2016-11-17 16:29] torifat commented on #1832
@bestander it wasn't working me for either. The build step wasn't happening. After a `yarn cache clean`, it worked.

[2016-11-17 16:36] bestander commented on #1817
Can't reproduce this on latest either

[2016-11-17 16:38] torifat commented on #1628
I would prefer something like `git alias` option over providing a lot of built in aliases.

And, currently I have a `alias y=yarn` in my env. So, for me `y add` is ok. And, if I wish I can go ham like `alias ya="yarn add"` `alias yr="yarn remove"`

[2016-11-17 16:39] bestander commented on #1817
Yeah, I can confirm that this was broken in 0.17.0 but works in 0.17.3

[2016-11-17 16:39] #1817 closed

[2016-11-17 16:40] bestander commented on #1838
0.17.3 should fix it, can you please confirm?

[2016-11-17 16:40] #1838 closed

[2016-11-17 16:43] jfirebaugh commented on #1171
I was hoping that this might have been fixed by #1641, but I tested yarn 0.17.3 and the bug still occurs.

[2016-11-17 16:45] bestander commented on #1912
Agree, I think we silence errors in build phase, this should not happen

[2016-11-17 16:55] bestander commented on #1859
Everything that people could consistently reproduce has been fixed and cherry-picked into 0.17.4 which is being released now.

[2016-11-17 16:56] SimenB commented on #1859
@bestander #761

[2016-11-17 16:57] bestander commented on #1912
Please send a PR and test

[2016-11-17 16:59] bestander commented on #1859
@SimenB, I understand this is an ongoing issue and not a regression.

[2016-11-17 17:02] lime commented on #1832
This seems to be very difficult to reproduce consistently. 😕 It easily brings up red herrings, since it's likely that something you try at first seemingly fixes it, and then it only resurfaces later.

@STRML has some ongoing work in https://github.com/yarnpkg/yarn/issues/1852#issuecomment-261273692 / https://github.com/STRML/yarn-install-lifecycle-bug if someone else manages to get a reliable repr

[2016-11-17 17:05] STRML commented on #1832
These all seem related.

For those of you currently experiencing it, could you please make copies of your local and homedir `.npmrc` and `.yarnrc`, if any, and then try removing them and reinstalling? See if that clears it up. If it does, let's see if there's a common thread among them.

In my case, removing and recreating my `.npmrc` fixed the issue, even though the new `.npmrc` had the same cont

[2016-11-17 17:05] hassankhan commented on #1832
So just updated to Yarn 0.17.4 and running `yarn` doesn't result in any errors. I would close but others seem to still be having issues.

[2016-11-17 17:06] bestander commented on #1832
Yes they all seem related.
#1817, related as well, got fixed between 0.17.0 and 0.17.3

[2016-11-17 17:06] wyze commented on #1832
@hassankhan, if you run `yarn cache clean && rm -rf node_modules`, it should reproduce this.

[2016-11-17 17:07] victornoel commented on #1832
I had the same problem, removing `node-sass` from the cache fixed it on the next run.

I also noticed some segmentation fault while running yarn on projects with a lot of dependencies and the cache was empty, and after it happened, node-sass had been put in the node_modules folder, but vendor wasn't there. So I suspect that the segmentation fault happens when the post install scripts are run.
And

[2016-11-17 17:09] hassankhan commented on #1832
@wyze Nope, did what you said but I can't reproduce the error any more. Seems to be working fine now 👍

[2016-11-17 17:10] bestander commented on #1832
https://github.com/yarnpkg/yarn/issues/1912 is important to fix - Yarn silences build errors and this leaves us with inconsistent state

[2016-11-17 17:12] yfain opened #1914 "Unexpected error occured"
I tried to install angular-cli with yarn. Got "Unexpected error occurred". Here's the log:

Arguments:
  /Users/yfain11/.nvm/versions/node/v6.7.0/bin/node /Users/yfain11/.nvm/versions/node/v6.7.0/bin/yarn global add angular-cli

PATH:
  /Users/yfain11/.nvm/versions/node/v6.7.0/bin:/Users/yfain11/dart/dart-sdk/bin:/Users/yfain11/dart/DartEditor.app/Contents/MacOS:/Users/yfain11/asciidoctor-epub3/bi

[2016-11-17 17:15] #1914 closed

[2016-11-17 17:15] aaronjensen commented on #1838
@bestander worked for me, but I had to `yarn cache clean` and blow away my `node_modules` to get it to work. Just upgrading yarn broke my native packages.

[2016-11-17 17:15] SimenB commented on #1859
It was made worse in 0.17. We had `yarn --prod` which worked, and with 0.17 it broke. My repro breaks in both 0.16 and 0.17 though

[2016-11-17 17:19] dbashford commented on #1832
Is this still a thing with `0.17.4`? Hard to track if it is fixed or not.

Had started seeing something along these lines with the bump to `0.17.2`.

[2016-11-17 17:21] victornoel commented on #1682
Hi, I have the same problem with empty node_modules and empty cache:
[code]
But I noticed something else:
the segmentation fault seems to happen only if the cache directory is completely removed (because I tried once with the cache directory empty, and the roadrunner.js file still in it, and it didn't segfault!)

Here is a stacktrace:
[code]

[2016-11-17 17:22] torifat commented on #1903
@Daniel15 need your suggestion. Currently we have a chicken egg problem in the first run.

[2016-11-17 17:23] victornoel commented on #1682
@Daniel15 I think you can try to reproduce it if you run yarn in the `frontend` folder of this [project](https://gitlab.com/victornoel/petals-cockpit/).
Remove ~/.cache/yarn/ first! I am using yarn 0.17.3 with node 7.1.0 on Linux

[2016-11-17 17:23] ryankask commented on #1806
These are Android build artfacts related to react-native. If you use a react-native package that requires Google Play Services, it looks like this issue comes up. You need to actually run Gradle for these to be downloaded (which is of course after Yarn runs).

The artifacts have a permission of `-r-xr-xr-x` which yarn doesn't like. I'm not sure why the files Gradle downloads have that permission o

[2016-11-17 17:23] phestermcs commented on #1761
@S-YOU Thanks for your input.

I must clarify, the approach that I'm taking uses symlinks in a way that is completely impossible to do today. In order to make it possible, two changes are required in `node`, one is to augment the list of search paths `node` evaluates when resolving `require()` calls regardless as to how they're made, and two, forcing `node` to preserve all symlinks in all cases al

[2016-11-17 17:24] wyze commented on #1832
I was unable to reproduce this on `0.17.4`.

[2016-11-17 17:28] wyze commented on #1682
@victornoel, can you try on the just released `0.17.4`? There was a fix merged to ensure the cache directory always exists.

[2016-11-17 17:30] Daniel15 commented on #1900
Hello @hpurmann! @wyze is correct - 0.17.0 had quite a few regressions so we had to roll back. A fixed 0.17 release should be coming out today, at which point we'll update the Debian repo. Normally the Debian repo is in sync with the GitHub releases. Thanks for your patience 😄

Alternatively, if you want to live on the edge, we have a 'nightly' Debian repo that contains the very latest code. I'd a

[2016-11-17 17:34] victornoel commented on #1682
@wyze that's what I was doing when you asked, I thought it would be related ;)

It worked once, but then, it segfaulted again, and this time I didn't even remove the cache, only the node_modules directory!
The backtrace is the same as before... not very helpful! if you know how to get better information as to when it happens with yarn, I would gladly help!

[2016-11-17 17:38] hpurmann commented on #1848
@markstos @bestander We run 0.16.1 locally in Docker and get the "Could not locate the bindings file" from time to time as well. Didn't test 0.17 though. Sometimes it happens right after a `git pull` of a changed `yarn.lock`, sometimes after `docker-compose run --rm --entrypoint yarn <container> install`.

Unfortunately, we cannot reproduce the cause. I suspect it to be yarn's cache. Maybe that's

[2016-11-17 17:40] wyze commented on #1910
Can still reproduce this on `0.17.4`.

[2016-11-17 17:41] phestermcs commented on #1761
I'm going to close this issue, as it's served its purpose, and at the moment it doesn't seem to be of much interest to the actual `yarn` members.

However, if you're interested in being notified when somethings ready, please just comment on here.

[2016-11-17 17:41] #1761 closed

[2016-11-17 17:56] markstos commented on #1848
@hpurmann I also suspect there's an issue with the cache, but can't pin it down. Today I had luck replacing a `yarn install`  with `yarn install --force` in a Docker container. I think the issue was that an earlier bcrypt build had failed because some of the binaries it required had been installed in the container yet. However, I think the build was still considered "successful" by yarn and was ca

[2016-11-17 18:07] Daniel15 commented on #1682
Thanks for the backtrace, @victornoel! I feel like this must be either a Node.js bug or a V8 bug... I wonder if we could make a standalone repo and file it as a Node.js bug.

[2016-11-17 18:27] whitecolor commented on #1762
Though it seems that it can be already done:

`yarn upgrade my-local-package-custom-name@file:./path/to/my/local/package`

Will close it.

[2016-11-17 18:27] #1762 closed

[2016-11-17 18:32] victornoel commented on #1682
@Daniel15 this kind of bug, it's hard to isolate :/
For example I don't get it on my CI system, even if I think it's the same situation...
Can you reproduce it using the project I told you about? Either without the cache here and with it. If yes, then that's almost a good reproduceable thing, then nodejs people could tell us what to do to get more relevant information...

[2016-11-17 18:33] jiripospisil commented on #932
I can no longer reproduce the original issue. It seems to have been fixed :+1:. @Daniel15 Can you confirm?

@hustcer I don't think that's the same issue. You might want to test with the latest version and file a new bug if it's still not working for you.

[2016-11-17 18:34] Daniel15 commented on #1682
I'll try it on the weekend and see if I can reproduce the issue.

[2016-11-17 19:06] sejoker commented on #1724
@wellyshen 0.17.4 includes exactly the fix for https://github.com/yarnpkg/yarn/issues/1859

[2016-11-17 19:18] markstos commented on #1848
I had my last bcrypt failure today. I was also getting "Could not locate bindings file" error. It didn't seem to matter if I used  `yarn` 0.16.x, or 0.17.x, whether I used `add --force` or `install --force` or `yarn cache clean`.  It took about 5 minutes to replace my `require` calls with [`bcryptjs`](https://www.npmjs.com/package/bcryptjs) instead This native-JavaScript alternative avoids all the

[2016-11-17 19:25] alansouzati opened #1915 "Cannot find module './build/Debug/DTraceProviderBindings'"
I'm using version 0.17.3. If I run `npm install` everything works fine. The problem only shows up when I do `yarn install`.

**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**

After doing yarn install and start a development server with webpack and react-hot-loader, I get a bunch of module not found issues like this:

[code]

**What is the ex

[2016-11-17 19:43] adambuczynski commented on #1848
@markstos "slightly" slower is actually about 3-4 times slower, as I have tested several weeks ago. I would recommend that instead of switching to bryptjs, you instead switch from yarn back to npm. The issue here is not with bcrypt, but with yarn.

It just seems yarn is not mature and stable enough to be a complete drop-in replacement for npm yet. Hopefully this and other issues that prevent that

[2016-11-17 19:44] devoto13 commented on #755
`"files"` seems to be very broken. I'll add my issue here instead of creating new one, since it's probably related. See example project https://github.com/devoto13/yarn-git with explanations.

[2016-11-17 19:52] alansouzati opened #1916 "yarn.lock bad hash for github branch"
I have a dependency from a Github branch which in my local the hash is different from a docker images (for example)

**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**

Inside yarn.lock the hash for the branch is always `ca2e901db63a8976d4eeb782aa11413ba43890f2` which presents problems when I'm trying to run a docker image.

[code]

**What is

[2016-11-17 19:59] Daniel15 commented on #1848
I can repro on a fresh Ubuntu 16.04 Docker container
[code]

[2016-11-17 20:01] soredake opened #1917 "Can't remove global packages"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
yarn global add jpm
yarn global remove jpm

**What is the expected behavior?**
Successfully removed global package.

**Please mention your node.js, yarn and operating system version.**
yarn v0.17.3

[2016-11-17 20:04] ecozoic commented on #1861
Also seeing it with 0.17.4

[2016-11-17 20:22] STRML commented on #1832
Bizarrely, now I have the sass error with `0.17.4`. So something's still broken for sure. Trying to figure it out.

[2016-11-17 20:25] Daniel15 commented on #1848
@bestander I confirmed that this is a regression from 0.16.1. It looks like `bcrypt` builds a native module after installation. This build runs in 0.16.1, but it's not even attempting to build it in 0.17.0, resulting in the error message. Perhaps it is related to #1852.

[2016-11-17 20:48] STRML commented on #1832
Clearing cache fixed the node-sass issue.

[2016-11-17 21:09] chocolateboy opened #1920 "Commands missing man pages"
Yarn: 0.17.4
Node.js: v7.1.0
OS: Linux (Arch)
See Also: #1119

`yarn help` says:

\- but this does not work for most (19/32) commands. Running `yarn help <command>` on the following commands produces the same generic output as `yarn help`.

[code]

* bin
* check
* clean
* generate-lock-entry
* info
* init
* link
* login
* logout
* ls
* pack
* remove
* run
* self-update
* unlink
* upgrade-interacti

[2016-11-17 21:12] flintinatux commented on #1694
Latest `yarn` has same issue:
[code]
log:
[code]
And then it hangs indefinitely.

[2016-11-17 21:17] markstos commented on #1852
I recommend closing this issue since the issue can't be reproduced. If someone can reproduce the issue, it can be re-opened.

[2016-11-17 21:18] milesj commented on #1458
I'll create a new issue.

[2016-11-17 21:37] kevinzwhuang commented on #1832
Just tested on OS X El Capitan with v0.17.4, seems to be fixed in `latest`. I'm curious, what fixed this bug?

[2016-11-17 21:41] #1852 closed

[2016-11-17 21:43] kevinzwhuang commented on #1852
@bestander This seems to have been fixed as of v0.17.4 - Also tested for the similar `node-sass` case in #1832: https://github.com/yarnpkg/yarn/issues/1832#issuecomment-261377646

[2016-11-17 21:44] markstos commented on #1194
As of 0.16.1 There's a problem with the design when doing `global` installs as root.  Packages land here `/root/.yarn-config/global/node_modules/.bin/` and are symlinked into `/usr/local/bin`.

However Ubuntu 14.04 and likely other distros set the permissions on `/root` to disallow group and "other" access into the directory.

So another user will get a "permission denied" error when trying to acc

[2016-11-17 21:54] markstos commented on #1916
Why do your Git branch hashes differ locally vs Docker?

One reason could be that you are automating merging one branch into another, which could produce different hashes.

If that's the issue, you can create a stable hash by creating a merged branch on Github, and then pulling that branch down locally and in your Docker so that the SHA is the same in the both cases.

If I've guessed the issue cor

[2016-11-17 22:01] alansouzati commented on #1916
This is a million dollar question 😄 The one in docker is the right one. If I delete my yarn.lock and create it again it remains the same always. I ran `yarn cache clean` and it finally grabbed the latest one. But I'm afraid this problem will eventually come again.

My `package.json` is like this:

[code]

I'm not explicitly using the SHA in the dependency, so I'm not sure what you mean but merged

[2016-11-17 22:01] jwerle opened #1921 "error An unexpected error occurred: "TODO"."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

`yarn` fails to install dependencies from a private repository on Github

**If the current behavior is a bug, please provide the steps to reproduce.**

Create a project a new project:

[code]

Try to install a module from a private Github repository:

[code]

Notice the following error:

[code]

**Wh

[2016-11-17 22:03] markstos commented on #1920
I recommend closing this as a dupe of #1603-- There is already a goal to make the Markdown docs available in the `website` repo to be available through the CLI as well.

[2016-11-17 22:06] #1920 closed

[2016-11-17 22:11] domoritz commented on #1576
This issues still seems to be present in verision 0.17.4.

<img width="565" alt="screen shot 2016-11-17 at 17 10 51" src="https://cloud.githubusercontent.com/assets/589034/20409771/de8bcf0c-ace8-11e6-86ef-78ac51bb2c72.png">

[2016-11-17 22:21] markstos commented on #1916
OK, maybe you want both locations to point to the HEAD of a constantly changing branch. If that's the end goal, I don't have answer for you.   If it's acceptable to point a specific commit in your case, I think that would resolve the issue for you and make sure your Docker and local workspace are using the exact same code. Then when you want to start using a newer version, you can change the SHA y

[2016-11-17 22:28] alansouzati commented on #1916
It is for sure the same code. I can point to HEAD which is my intended behavior.

I cannot validate that this will work because the yarn.lock results in the same hash as I have now. Whenever there is a update in my "stable" branch I can make sure that that cache will not break again.

I'm closing the issue for now. I can reopen if the problem persists.

Thanks for your help.

[2016-11-17 22:44] iredchuk commented on #1917
Works for me with yarn 0.17.4, node 7.1.0 and macOS 10.12.1

[2016-11-17 22:56] tomitrescak commented on #1904
So, I guess the only way is to use upgrade to a specific version. I guess we can close it then.

[2016-11-17 22:56] #1904 closed

[2016-11-17 22:57] steida opened #1922 "Wrong dependency installed for React Router 4"
'npm install' installs history 4.4.0, while yarn for some reason installs 4.3.0

![screen shot 2016-11-17 at 23 54 31](https://cloud.githubusercontent.com/assets/66249/20411366/7e228dfc-ad21-11e6-8fc2-d06f2bb296ea.png)

[2016-11-17 23:06] Daniel15 opened #1923 "GPG sign Yarn release tarballs"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Yarn's release tarballs (eg. https://yarnpkg.com/latest.tar.gz) are not GPG signed

**What is the expected behavior?**
Tarballs should be GPG signed, and the installer should verify the signature. This will increase the security to match that of the Debian repo.

Install script should not fail if G

[2016-11-17 23:21] ArthurMauricioDelgadillo commented on #1600
Same problem here...

[2016-11-17 23:24] alansouzati commented on #1916
Now this is what I'm getting:

[code]

[2016-11-17 23:24] domharrington opened #1924 "Issue printing out repository information during `yarn --init`"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When running `yarn init` yarn iterates through the keys listed here: https://github.com/yarnpkg/yarn/blob/58a4fa79d9ef92f640af5c90977d2e81c58c4ad6/src/cli/commands/init.js#L49

When it reaches the repository section it attempts to print out the default value for the repository from the package.json for

[2016-11-18 00:12] onlywei opened #1925 "Cannot install packages from github when offline"
**Do you want to request a *feature* or report a *bug*?**
Not sure

**What is the current behavior?**
Without an internet connection, I get:
[code]
And then the install fails and tells me which github address it was trying to reach on the internet.

**If the current behavior is a bug, please provide the steps to reproduce.**
Just make a `package.json` with a github dependency, such as:
[code]

Ins

[2016-11-18 00:14] wyze commented on #1832
I think it was #1663 that fixed this. Closing as it is resolved.

[2016-11-18 00:14] #1832 closed

[2016-11-18 00:31] viveleroi opened #1926 "Yarn 0.17.0+ fails on travis-ci: no such file or directory, open '/home/travis/.cache/yarn"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
A project of mine uses yarn and travis-ci. Until yarn 0.17.0, the `yarn install` process worked correctly on my travis-ci builds. As of 0.17.0, every build on both node 6 and 7 fails with this error:

[code]

Example of a failed build: https://travis-ci.org/helion3/inspire-tree/jobs/175817485
Example o

[2016-11-18 00:36] wyze commented on #1926
This was fixed in yarn 0.17.4. Your failing build shows it used yarn 0.17.0. `0.17.4` is available on npm, so give it a shot. Also, duplicate of #1724.

[2016-11-18 00:36] #1926 closed

[2016-11-18 01:16] nikhilmat opened #1927 "`yarn install --no-progress` still prints a progress bar"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using `yarn install --no-progress` yields a progress bar, despite adding the flag to skip.

**If the current behavior is a bug, please provide the steps to reproduce.**
Execute `yarn install --no-progress` and behold the progress bar.

**What is the expected behavior?**
It installs the packages without

[2016-11-18 01:22] S-YOU commented on #1761
Symlinks works too, here is the output of one of my module's node_modules folder

[code]

[2016-11-18 02:00] phestermcs commented on #1761
@S-YOU Thanks for the input.

Your example assumes that if you had multiple `express` projects installed on your machine, that in every case their `accepts` dependency would always be at version `1.3.3`. This is the fundamental constraint with `node`'s use of a `node_modules` subfolder that prevents symlinking all local module folders to single global instances. There can be several ways in which

[2016-11-18 02:16] wellyshen commented on #1724
@sejoker COOL I have verified, it fixed, thanks

[2016-11-18 02:27] martynchamberlin opened #1929 "Log information about what was installed"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Let's say I have a super simple `package.json` file:
[code]

Yarn is not outputting what new dependencies were installed when running `yarn install`:
[code]

In contrast, `npm install` provides helpful information:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[2016-11-18 02:30] coreyc commented on #998
Is this still an open request?  If so, I was going to take a swing at it.

[2016-11-18 02:32] Daniel15 commented on #1856
Fixed by #1928

[2016-11-18 02:40] phestermcs commented on #1761
@S-YOU With the approach I'm taking (and without bubbling), your machine might look like this
[code]

`projectA` ended up with an `accepts@1.1.2`, while `projectB` ended up with `accepts@1.3.3`. The way in which you symlink can't handle this.

However, because a `node_modules` is still searched first, global module copies with bundled node modules still works as expected

[2016-11-18 02:45] S-YOU commented on #1761
which you symlink can't handle this.

You are absolutely right on that case that my approach won't work,
but why? how do you get two versions of accepts installed on same express/4.14.0 with same package.json?

[2016-11-18 02:52] phestermcs commented on #1761
Because the version specifiers of dependencies in package.jsons are almost always some range of versions, and not specific versions, and so what version is actually installed (and without something like `yarn`'s lock file) dependends on what version happens to be current and within the specified range.

I just went to github.com/express/express/package.json:
[code]

[2016-11-18 02:58] S-YOU commented on #1761
I see what you mean now, with my approach projectB will still use acepts 1.3.3, until new version of express is released. It won't break the module loading, but that was my design choice.
Thanks for the lights up.

[2016-11-18 03:02] phestermcs commented on #1761
Thats right. If we appreciate version dependencies across and down an entire tree can change quite a bit, it's possible your application can have subtly changing behavior. Hence `yarn` to ensure once a logical tree has been `stamped` to a lock file containing the exact/precise versions, that lock file can be checked in, and now everyone else can be assured they get the same behavior because the ge

[2016-11-18 03:04] dpoindexter commented on #1861
@maybeec, @ecozoic: If this is blocking you at the moment, it's possible to work around if you have some control over your dependency tree. There's a complete description of the underlying problem on [this PR](https://github.com/yarnpkg/yarn/pull/1866), but the TL;DR is that all subdependencies of the scoped dependency must be hoistable.

[2016-11-18 03:08] phestermcs commented on #1761
Actually with your symlinking, projectA would end up using `accepts@1.3.3` once you installed projectB (assuming it overwrote the global folder), and if projectA was in some way indirectly dependent on some behavior in `accepts@1.1.2` that changed in `accepts@1.3.3`, you might have a rough day.

[2016-11-18 03:29] phestermcs commented on #1761
@S-YOU Not really knowing the environment you're doing this in, I would not recommend it if you're dealing with either several projects and/or several developers, and/or also symlinking on production servers.... I mean I just flat out wouldn't recommend.

You're creating the potential for a nightmare situation.. but that's just my opinion... I'm just thinking about the world of hurt you might be s

[2016-11-18 03:39] S-YOU commented on #1761
Thanks for the input, and yes, you are right and I am aware, project I am using my approach is fully under my dedicated control and I always use and test latest version of all libraries, so it's possible at least for me.

[2016-11-18 04:35] #1856 closed

[2016-11-18 08:49] bfred-it opened #1930 "Verify that files in bin, main, module, files exist on `yarn publish`"
A couple times I published packages without the required files or with the wrong paths in these properties:
- `bin`
- `main`
- `module`
- `files`

It would be great to verify that the files specified in there exist before packing and uploading the module. For example:

[code]

Does the file `bin/index.js` exist? If not, fail the upload, this is likely an error.

If that file is meant to be generat

[2016-11-18 09:26] jaramir opened #1931 "Yarn not reading /etc/npmrc while npm does"
I'm using yarn 0.17.3, this AFAIK is a bug.

In CI we have a file /etc/npmrc to point to the proxy we use for internet access:

[code]

npm is picking up this configuration:

[code]

But yarn does not:

[code]

[2016-11-18 09:46] avetisk opened #1932 "Issue with post install scripts"
**What is the current behavior?**
Currenty, I'm running into an error with the package `node-sass`, but when using `npm install` instead of `yarn` it works.

**If the current behavior is a bug, please provide the steps to reproduce.**
Well, it will be easier to check this comment https://github.com/sass/node-sass/issues/1579#issuecomment-251002136

**What is the expected behavior?**
Post install s

[2016-11-18 10:28] wmertens commented on #1848
*workaround*: run `npm rebuild` after any yarn install steps.

I have the same problem with 0.17.4 on El Capitan, even after clearing all caches (both the Library/Yarn one and .yarn-cache from the previous versions)

[2016-11-18 11:35] markstos commented on #1848
@wmertens, `yarn install --force` is supposed to be equivalent to `npm rebuild`, and it didn't always work for me to fix the `bcrypt` problem (but sometimes it did). https://yarnpkg.com/en/docs/migrating-from-npm#toc-cli-commands-comparison.

[2016-11-18 11:52] DevSide commented on #1932
**What is the current behavior?**
post-install script is not called

**If the current behavior is a bug, please provide the steps to reproduce.**
- yarn init
- yarn add imagemin-optipng
- (yarn install ?)

**What is the expected behavior?**
optipng which is a dependency of imagemin-optipng should execute its postinstall script and get as @avetisk a vendor folder

**Please mention your node.js, yar

[2016-11-18 12:00] SimenB commented on #1932
#1852

[2016-11-18 12:14] bestander opened #1933 "[0.17] dependency resolution is incompatible with 0.16.1"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Installation done by yarn 0.16.1 is not compatible with 0.17.4.

[code]

And vice versa

[code]

(ignore that I use bundled build for 0.17.4, the behavior is the same when you check with installed package)

[2016-11-18 12:23] bestander opened #1934 "yarn check "commonjs correctness" option"
**Do you want to request a *feature* or report a *bug*?**
*Feature*

**What is the current behavior?**

`check` command uses internal resolution mechanism to verify node_modules correctness.
If there is a bug in resolver then `install` will install node_modules incorrectly and `check` will fail to identify it.

**New behavior**

`yarn check --commonjs`

We need an option for "correctness" check th

[2016-11-18 12:42] jvhoven commented on #1924
The commit you mentioned seems to have broken backwards compatibility with existing `package.json` files. This commit was already present in 0.17, so it does not fix your issue.

This works perfectly fine:

[code]

This results in an error:

[code]

I'm not quite sure what the correct course of action is or if this method is considered deprecated in Yarn. I can imagine people preferring to write o

[2016-11-18 13:03] moimael commented on #1933
Yes after updating I have missing dependencies issue during my build and test phase.

[2016-11-18 13:14] bestander commented on #1933
Mael, can you provide an example how to repro?

On Fri, 18 Nov 2016 at 13:03, Maël Lavault <notifications@github.com> wrote:

[2016-11-18 13:21] moimael commented on #1933
https://gist.github.com/moimael/10ee8a4ff11c8e2a8ed31b87ada4b9b7

Try to use those dependencies in a package.json file with yarn.

Then try to run `NODE_ENV=production node --harmony ./node_modules/.bin/webpack -p `
You should get: `Error: Cannot find module 'optimist'`

Then try to run eslint and you'll get `Error: Cannot find module 'concat-stream'`

I'm using 0.17.4

[2016-11-18 13:31] wyze commented on #998
Go ahead @coreyc.

[2016-11-18 13:39] bestander commented on #1848
A possible fix https://github.com/yarnpkg/yarn/pull/1935

[2016-11-18 15:32] chytreg commented on #1673
Have quite the same problem:
[code]

[2016-11-18 15:36] rodrigogs commented on #1614
+1

[2016-11-18 15:36] hustcer commented on #1915
I have exactly the same issue
node@v7.1.0,yarn@0.17.4,macOS@10.12.1

[2016-11-18 15:39] rodrigogs commented on #739
+1

[2016-11-18 15:51] hustcer commented on #932
@jiripospisil Thanks, It's okay now after upgrade to yarn v0.17.4.

[2016-11-18 15:57] jbbr commented on #1825
I used to have this bug too:

yarn 0.17.0
node v7.1.0
Arch Linux x64

I can't reproduce it now using yarn 0.17.4
So it might have been fixed or it's caused by side effects which have to be figured out.

[2016-11-18 16:13] avetisk commented on #1932
@SimenB : just upgrade to `0.17.4` but still having the same issue.

[2016-11-18 16:16] avetisk commented on #1932
My bad, just had to clean the cache, etc.

[2016-11-18 16:20] Danita commented on #1832
FYI It wasn't working for me right after upgrading yarn to v0.17.4, but this fixed it:

[code]

[2016-11-18 16:36] SharpEdgeMarshall commented on #761
Same issue here, we were testing production building on docker and find out that with `yarn --production` the package `mime` was missing even if the parent module `send` (used by express) was installed.

I think this issue should be handled with maximum priority because cause unpredictable builds.

[2016-11-18 16:41] avetisk commented on #1932
Well, now I'm having issues with `sass-lint`...

And of course `npm i` solves it...

[code]

[2016-11-18 16:43] DevSide commented on #1932
Ok, it's weird that `yard cache clean` fix my problem since i never use yarn before.

[2016-11-18 16:53] bestander commented on #1933
@moimael, I can't reproduce the "Cannot find module" issues with your gist.
With yarn 0.17.4
[code]

Check shows some inconsistency but I can start webpack and eslint

[2016-11-18 17:00] moimael commented on #1933
That's weird I started it fresh (without lock file or node modules dir) several time and I can reproduce everytime. I am on Linux, not sure if that can be the cause

[2016-11-18 17:09] bestander commented on #1933
@moimael, this could be related to another bug we are crushing now related to caches.
Can you run `yarn cache clean` and reproduce?

[2016-11-18 17:12] moimael commented on #1933
I'll try this on Monday !

[2016-11-18 17:26] bestander commented on #1933
Interesting, some of the yarn check breakage is introduced by ec8ec8ac8b0eb459cf632cf26facb36615300124

[2016-11-18 17:34] bestander commented on #1933
The rest is fixed with reverting ec6a4508ad4aa748fc9ff9b2c665228bf5770696

[2016-11-18 17:54] hnryjms opened #1937 "Yarn Rebuild Fails w/ Multiple Node Versions + Cache"
When using NVM or some other type of version manager for Node.js, the new location for caches in `0.17`, which is shared between NVM installations, is reused between the different Yarn installations in the individual NVM version's global package path. This causes errors with modules like [`bcrypt`](https://github.com/kelektiv/node.bcrypt.js), which must be built uniquely for specific Node versions

[2016-11-18 18:30] gitawego commented on #1848
it doesn't work neither with --force flag.  hope the #1935 could fix the prob.

[2016-11-18 18:40] carlansley commented on #1825
I think this can be closed.   What I found is if you have a `.yarnclean` file lying around, `yarn install` will wipe out the test directory under tslint/lib.

Maybe the `clean` command should be removed from yarn, or renamed.  Not exactly sure what happened, I must've tried to do a `yarn run clean` at some point and missed the `run` part.  Looks like others have fallen into the same trap.

[2016-11-18 19:14] steebchen commented on #998
@coreyc This would be incredibly cool.

[2016-11-18 19:16] bestander commented on #1848
I'll push 0.17.5 in a couple of hours

On 18 November 2016 at 18:30, Hongbo LU <notifications@github.com> wrote:

[2016-11-18 19:45] bestander commented on #1933
I think the changes introduced in https://github.com/yarnpkg/yarn/commit/ec8ec8ac8b0eb459cf632cf26facb36615300124  https://github.com/yarnpkg/yarn/commit/ec6a4508ad4aa748fc9ff9b2c665228bf5770696 are legit and they can affect installation order.

In addition we need to introduce #1934 that should verify correctness of node_modules independent of sort or resolution implementation.

I'll close this t

[2016-11-18 19:45] #1933 closed

[2016-11-18 19:49] #1825 closed

[2016-11-18 19:54] jgliner commented on #1915
Same here as well after updating. `npm install` behaves normally.

* node@7.1.0
* npm@4.0.2
* yarn@0.17.4
* macOS@10.12.2

[2016-11-18 19:54] bestander commented on #1859
@SimenB, ok, we'll get this in

[2016-11-18 19:55] bestander commented on #1848
Should be fixed with https://github.com/yarnpkg/yarn/commit/3f765c354306bd8e6ca22b3bb333542d1a8fd6e2 in 0.17.5, please report if not

[2016-11-18 19:59] hph commented on #1848
@bestander This is unfortunately not fixed in 0.17.5. I still have to run `npm rebuild` after adding a package with yarn.

[2016-11-18 20:06] marvinhagemeister opened #1938 "Missing changelog for 0.17.5"
What's included with this release?

[2016-11-18 20:09] bestander commented on #1848
@hph, can you help me to sort it out then?
Could you open a separate issue with your exact case + all the data regarding what is missing.

[2016-11-18 20:12] daltones commented on #1848
I confirmed that v0.17.5 worked here (node v7.1.0, Arch Linux).

I also reverted to v0.17.3, did the same process, upgraded back to v0.17.5 and confirmed that it works now.

[2016-11-18 20:14] holm commented on #1848
I can also confirm that it works for me. I upgraded to 0.17.5, did a yarn install --force to get the bad cache sorted, and it works.

[2016-11-18 20:14] bestander commented on #1848
Ok, let's close this issue and open a new one for 0.17.5

[2016-11-18 20:14] #1848 closed

[2016-11-18 20:14] bestander commented on #1938
Fixed

[2016-11-18 20:14] #1938 closed

[2016-11-18 20:16] bestander commented on #1932
Can you check on 0.17.5, we have fixed how we purge build artifacts in caches, that should help

[2016-11-18 20:30] danielmcgraw commented on #1628
PR: https://github.com/yarnpkg/yarn/pull/1940

[2016-11-18 20:36] jambonrose opened #1941 "Feature: Allow soft-linking of yarn shell script"
I am running macOS 10.11.6, Node 6.9, and yarn 1.17.3.

[I've just created a Portfile for yarn to be installed in Macports.](https://github.com/macports/macports-ports/pull/48)

In doing so, I changed the code in `bin/yarn` from the line of code in 1 into the code in item 2.

1. `basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")`
2. `basedir=$(dirname "$(readlink "$0" || echo "$(echo "$0" | se

[2016-11-18 20:54] hph commented on #1848
@bestander Sorry for the confusion, I can confirm that it does indeed work (on Mac, latest Node.js, latest Yarn). Thanks for addressing this so quickly and for the prompt release!

[2016-11-18 21:03] domharrington commented on #1924
I think the documentation is slightly confusing as to whether you actually need to run `yarn init` or not. I went through the "getting started" journey on your website and then ended up at this page: https://yarnpkg.com/en/docs/usage. I already have an existing project setup using npm, i just wanted to switch to yarn - so i dont think i even needed to run `yarn init`.

I'm not sure if anyone else

[2016-11-18 21:14] avetisk commented on #1932
@bestander: just tried with the new version (after cleaning cache and all), but still not working.

[2016-11-18 21:19] bestander commented on #1932
@avetisk, please provide a gist how to reproduce this.
Is this a regression since 0.16.1?

[2016-11-18 21:39] olingern opened #1944 "Current repo commands failing on node version 5.xx.x"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
<img width="1277" alt="screen shot 2016-11-18 at 4 22 28 pm" src="https://cloud.githubusercontent.com/assets/1470297/20447292/158282a8-adac-11e6-9091-76746517719c.png">

**If the current behavior is a bug, please provide the steps to reproduce.**
pre-requisite: switch to node version `5.xx.x` using [n]

[2016-11-18 21:46] kalch opened #1946 "Error with yarn global upgrade"
**What is the current behavior?**

See trace in the yarn error log below.

**If the current behavior is a bug, please provide the steps to reproduce.**

1.  Make sure your system has zero yarn global packages.
2. yarn global upgrade

**What is the expected behavior?**

No error.

**Please mention your node.js, yarn and operating system version.**

'cat /Users/mfk/.config/yarn/global/yarn-error.log

[2016-11-18 21:54] olingern commented on #1921
@jwerle Could you post the contents of your error log?

Since you're on node version `5.12.0`, I'm curious if this is related to #1944

[2016-11-18 22:35] jwerle commented on #1921
@olingern

[code]

[2016-11-18 22:52] olingern commented on #1921
@jwerle Ah, it seems you have an invalid URL, but the error message for this wasn't updated. I have a PR open #1947 for this, but ensure what you're attempting to add is valid repo. [More info](http://stackoverflow.com/questions/15323268/git-upload-pack-not-found).

[2016-11-18 23:08] jwerle commented on #1921
@olingern hmm.. how should i install a private repository from github?

[2016-11-18 23:21] olingern commented on #1845
@bestander
**npm** has an [interesting set of rules around this](https://github.com/npm/npm/blob/latest/lib/ls.js), apparently.

If you do as @SimenB notes above, npm will show all _unique_ version of a package; however, if you install a package to be a "root" dependency, i.e. "yarn add package-json@x.x.x" that matches any child - you will loose all subsequent child listings of that package, only

[2016-11-18 23:34] olingern commented on #1845
One other thought is that, the current structure of `ls` throws all of the root packages into a hash and then goes and searches for children. This is fast, but it causes a couple of problems we're seeing.

Another approach would be to iterate through all root dependencies and children to create a tree and track all existing listed dependencies via a hash ( super similar to current approach ). My i

[2016-11-18 23:38] olingern commented on #1921
does `yarn add https://github.com/your_private_repo` give you the same error?

[2016-11-18 23:46] jwerle commented on #1921
it gives me a different error

[code]

[2016-11-19 00:02] olingern commented on #1921
It looks like this is an authentication issue. Are you able to `git clone https://github.com/littlstar/littlstarjs` with no problems?

[2016-11-19 00:11] jwerle commented on #1921
@olingern ah, shit sorry i had a typo! it is working

[2016-11-19 01:05] adambuczynski commented on #1848
No issues anymore building bcrypt with Yarn 0.17.6. Thanks for the quick response to this.

[2016-11-19 02:03] pumano opened #1948 "Invalid tar file (error occurred)"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

error An unexpected error occurred: "https://registry.yarnpkg.com/@types/node/-/node-6.0.48.tgz: invalid tar file".

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

Proper installation without errors

**Please mention your no

[2016-11-19 02:16] diwu1989 commented on #1059
+1 need this one to be fixed too

[2016-11-19 03:58] pshkrjshnde commented on #1946
Happens on `$ yarn upgrade` too, if no package is installed

[2016-11-19 06:10] Daniel15 commented on #1944
Note that Node.js 5 is no longer supported, please refer to this:
![](https://cdn.rawgit.com/nodejs/LTS/master/schedule.png)
(source: https://github.com/nodejs/LTS)

So any bugs that are specific to Node.js 5.x will most likely not get fixed unless we receive pull requests to fix them. If simply bumping the version number of debug fixes it, then that's great! 😄

[2016-11-19 07:16] SimenB commented on #1845
Yes please!

[2016-11-19 08:19] H34D commented on #1239
just tried v0.17.6 and the Problem still exists

[2016-11-19 09:43] Kineolyan commented on #1941
Agreeing with @jambonrose. This also happens if you install yarn in /opt - as suggested by [doc for manual installation](https://yarnpkg.com/en/docs/install#alternatives-tab), but instead of add the /opt folder to `$PATH`, you add a symlink in one of the existing bin folders - /usr/bin, /usr/local/bin, ...

Cheers

[2016-11-19 09:47] mattecapu commented on #1436
Same with `0.17.6`

[2016-11-19 10:40] S-YOU commented on #1436
yarn should warn if called with sudo or by root, like bower, file permissions are out of control by package manager, in my opinion.

[2016-11-19 10:42] Daniel15 commented on #1436
What does npm do? I feel like chowning `~/.yarn` to the real user ID is fine, and would solve this problem.

[2016-11-19 12:17] #1861 closed

[2016-11-19 12:58] jwerle commented on #1921
@olingern so it is safe to assume that installation of private repositories on github should be explicit?

[2016-11-19 13:31] #1921 closed

[2016-11-19 13:33] wyze commented on #1948
Duplicate #1619.

[2016-11-19 13:33] #1948 closed

[2016-11-19 14:17] olingern commented on #986
You can actually change your [global and cache folders folder](https://github.com/yarnpkg/yarn/blob/master/src/cli/index.js#L59), but there seems to be some linking errors at the moment.

` yarn  --global-folder ./node_modules/  --cache-folder ./node_modules/ `

[2016-11-19 14:39] doctyper commented on #1619
Getting the same error running ```yarn add appdynamics```

[code]

[2016-11-19 14:50] KidkArolis commented on #1619
I think we need to modify yarn to read response headers and handle the
cases when it's not a yarn all, which case print out the error etc
On Sat, 19 Nov 2016 at 14:39, Richard Herrera <notifications@github.com>
wrote:

[2016-11-19 15:24] olingern commented on #1921
@jwerle If by explicit you mean a fully qualified github url, then - yes. Yarn wouldn't know how to resolve `yarn add myPrivateProjectName` without a url.

Maybe, I'm missing what you're asking though

[2016-11-19 15:28] jwerle commented on #1921
@olingern in the context of a `npm` user transitioning to `yarn` I was used to `npm install org/repo --save` adding the `"package": "github:org/repo"` entry to my dependencies in my `package.json` file. I was also used to running `npm install` and the install process honoring those entries

[2016-11-19 15:30] yorch commented on #599
@hawkrives I think you meant to say: ...and all subsequent releases have been under the `yarn` name.

[2016-11-19 15:31] hpurmann commented on #1922
Can't reproduce locally. I installed `react-router@^4.0.0-alpha.5` both with `npm` and `yarn` and `history` is always at `4.4.0`.

[2016-11-19 15:32] hpurmann commented on #1923
That would be really nice indeed!

[2016-11-19 15:37] steida commented on #1922
I will try to reset cache.