[2017-02-10 16:05] nachoaIvarez commented on #630
@bastilimbach That's expected behaviour. Yarn is looking somewhere else for global packages once you changed the place where global packages get installed. Thanks @TimvdLippe, that was definitely the solution we were looking for!

[2017-02-10 16:11] bastilimbach commented on #630
@nachoaIvarez I fixed it by removing all packages and adding them back with `yarn global add`.

[2017-02-10 16:30] elishnevsky commented on #1491
Looks like it is still an open issue. Any progress on it?

[2017-02-10 17:43] wyuenho commented on #901
Ahh sorry guys, I just found out the reason for that weird dep tree is because our internal npm server has pinned to an old version of backbone.babysitter and backbone.wreqr that have an upper bound of backbone<=1.1.2. Sorry for the confusion.

[2017-02-10 17:43] #901 closed

[2017-02-10 18:20] noherczeg commented on #2541
@bcruddy How could yarn run successfully if you weren't even logged in your repo? That can not be possible.

[2017-02-10 18:26] bcruddy commented on #2541
fury.io puts the token in the registry url so there's no need to be logged in to anything. So yeah.. pretty sure it's possible. I'm wondering if having an auth token in my `$HOME/.npmrc` was breaking things (yarn possibly sending fury.io the token, fury.io says no that's the wrong token even though you sent us the correct one too).

[2017-02-10 20:32] leggomuhgreggo commented on #1488
+1

[2017-02-10 20:53] Daniel15 commented on #2679
It looks like there's a typo in the filename - stoybook-addon-links-1.0.1.tgz should be sto**r**ybook-addon-links-1.0.1.tgz. You could try remove this package and then reinstall it.

[2017-02-10 20:55] lekkerduidelijk commented on #1832
@intellix Check https://github.com/sass/node-sass/issues/1579#issuecomment-279062990

[2017-02-10 21:49] tyrsius commented on #1379
@kittens I am still seeing this behavior with the `0.20.0` release

[2017-02-11 05:20] jodigiordano commented on #1684
IMO `--modules-folder` should be available on all commands.
Simple use case:

[code]

[2017-02-11 05:56] #1903 closed

[2017-02-11 06:08] Daniel15 commented on #1903
Pushed to Docker Hub: https://hub.docker.com/r/yarnpkg/dev/

[2017-02-11 08:51] muhammadsayuti commented on #2645
thanks, it work but fail when trying to build , so i decide to publish the dependencies.

[2017-02-11 08:51] #2645 closed

[2017-02-11 11:30] leschekfm commented on #1379
I can see the issue still too. I renamed  the node_modules folders after installation for comparison.
[code]

[2017-02-11 14:35] dealloc commented on #986
I second @victornoel, the ability to just install straight into node_modules without having an intermediate cache has it's use cases.

(assuming I understand the issue of @victornoel correctly that is)

[2017-02-11 20:23] gaearon commented on #2132
Would you like to send a PR to fix it?

[2017-02-12 01:36] davidcalhoun commented on #2570
Suddenly have been having the same issue here.  Happens whenever I run any yarn command now.

yarn global bin: /usr/local/bin
node v7.2.0
yarn 0.19.1
Mac OSX El Capitan v10.11.6

[2017-02-12 07:41] fedorinoGore opened #2683 "Installation Problem: [title]"
**Which operating system are you using:**
OS X 10.12.3

**Please describe the steps you took when trying to install Yarn and what went wrong:**
I installed node using brew. I have switched to node@6 using
[code]
Then I tried to install yarn by brew install yarn and got this error
`Error: You must `brew link node` before yarn can be installed`
I donts use latest node version witch is `node` tap in

[2017-02-12 22:54] adamk33n3r opened #2685 "Windows gets unlink error when running yarn while an executable is running"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When running yarn while nodemon is running I get `EPERM: operation not permitted, unlink 'C:\\cygwin\\home\\Adam\\projects\\newyoc\\server\\node_modules\\.bin\\nodemon'`. This causes the files in `node_modules/.bin` to become non executable. This forces me to quit all running processes every time I wan

[2017-02-12 23:46] mattkime opened #2686 "Need official node-yarn docker image"
One of the biggest obstacles to my team adopting yarn was putting together a docker image that included yarn. After doing a bunch of work i've determined that this very easy but non-obvious. It doesn't help that search results return a number of individual contributions that are flawed in one way or another. Many use the npm install method which is not recommended and others use `curl -o- -L https

[2017-02-13 02:45] halfcrazy commented on #1458
yarn upgrade currently  only update yarn.lock, not update package.json.

[2017-02-13 03:09] MystK commented on #944
I've found a solution thanks to https://github.com/yarnpkg/yarn/pull/2129

EX: `yarn add -D webpack --network-concurrency 1`

[2017-02-13 04:31] wcj3 commented on #1434
Having a similar issue as well. Webpack cannot resolve a module installed as a nested dependency by Yarn but if I delete node_modules and do npm install, it works.

[2017-02-13 06:50] Daniel15 commented on #2021
No news at the moment. Pull requests are appreciated 😃

[2017-02-13 06:54] Daniel15 commented on #2686
It's hard to have an official image due to the number of possible variations. Some people might want to use Debian, others may want to use Ubuntu. Some people may want Node.js 4.x, others may want Node.js 6.x, and others may want Node.js 7.x. Some people may want npm too, other people may just want Yarn and not need npm. Should we have a Dockerfile for every single combination? We could just suppo

[2017-02-13 07:03] Daniel15 commented on #2671
For what it's worth, uncompressed tar files have some advantages:
 - If you're storing the dependencies in a Git or Mercurial repo, uncompressed tar files work better as it can actually diff the files between two versions rather than storing undiffable compressed blobs. Compressed files and Git don't get along very well
 - Faster installation time as it does not need to be decompressed

For exampl

[2017-02-13 07:27] guigrpa opened #2688 ""Unmet peer dependency" with peer dependency already installed as transitive dep"
Bug

**What is the current behavior?**

1. Install dependency **A** (with transitive dependency **AB**)
2. **Later** (contrary to #2132), install dependency **C** (with has **AB** as peer dep) -- an *unmet peer dependency* warning appears, even though **AB** was installed in the first step.

**Repro**

**Step 1** output (notice that `storyboard-core` is installed as a normal dependency of `storybo

[2017-02-13 09:50] victornoel commented on #2021
@Daniel15 here it is #2689 :)

It was even easier than I thought!

[2017-02-13 11:12] gnesher commented on #961
Seeing the same problem, only windows machines. Yarn v0.19.1 on Windows 10 package is RXJS 5.0.3

[2017-02-13 12:06] mattkime commented on #2686
@Daniel15 Extending the official node images should be sufficient.

[2017-02-13 12:25] bestander commented on #2671
1. We don't diff files in offline mirror because file name contains version

2. In this case we want to prioritise size over extraction speed so that we
can store them in source control.

On Mon, 13 Feb 2017 at 07:03, Daniel Lo Nigro <notifications@github.com>
wrote:

[2017-02-13 13:27] hsz commented on #1060
I have tried with
[code]

The problem is still present. I have clean the cache and after fetching `arr-flatten` package - it's saved again with wrong permissions.

`npm-array-unique` also has this problem:

[code]

[2017-02-13 14:37] Pfeifenjoy commented on #1583
@goenning
Maybe it is not always the best idea to put the yarn.lock file in your repository.
E.g. I am using sinopia. Therefore I have a custom npm registry. I use this registry mainly for other projects where I have private modules.
But when I push a public project to a git repository, which only has public dependencies, the yarn.lock has the wrong links to the dependencies and my CI system will

[2017-02-13 15:23] ibujs commented on #1435
bump

[2017-02-13 15:26] dev6rodn commented on #1648
I tried installing with chocolately and with the .msi and had the same problem in both cases. The PATH environment variable was updated to

`C:\Users\{username}\AppData\Local\Yarn\.bin`

in both cases. Yarn was not installed there. The install log indicated that Yarn was actually installed at C:\Program Files (x86)\Yarn.

Updating my PATH environment variable to

`C:\Program Files (x86)\Yarn\bin `

[2017-02-13 17:42] idibidiart commented on #2132
@gaearon

do you have any idea what part(s) of the Yarn code the PR would have to touch (potentially)? :)

[2017-02-13 18:40] balanceiskey commented on #1182
After some tooling around I've cornered the issue down a little more. I was using `yarn publish` to publish a scoped package. Attempts to then `yarn add` or `npm install` that package would result in the `cb` error. I switched back to the class `npm publish` and things appear to be A-OK. I don't have additional details on what might be causing issues during `yarn publish` but if anyone's got tips

[2017-02-13 19:00] rjb8682 opened #2690 "Some offline-cache dependancies are not being tarballed, and are being inserted into the yarn.lock as remote urls"
**Do you want to request a *feature* or report a *bug*?**

Report a potential bug

**What is the current behavior?**
After walking through the steps from [this guide](https://yarnpkg.com/blog/2016/11/24/offline-mirror/), it seems that some dependancies are being stored into the lock file as the remote urls instead of saving them as tarballs.

**If the current behavior is a bug, please provide the

[2017-02-13 19:03] rjb8682 commented on #2690
I noticed this ticket was made a while ago but was closed. Seems fairly similar. #318

[2017-02-13 19:04] plee-nm commented on #1756
What version was this fixed on?  I am using the latest stable v0.19.1 and I am seeing this issue.

[code]

[2017-02-13 23:34] oshalygin commented on #1182
Should we re-open this issue?  Why was it closed?

[2017-02-14 01:40] dlong500 opened #2691 "yarn outdated output not the same as npm outdated"
I think this is a bug, unless yarn is purposefully doing things differently with the `outdated` command.
Using yarn v0.19.1
`npm outdated` appears to list packages with installed versions different than "latest".  So, for example, if you have packageX where:
- package.json lists `^1.2.0-beta` for packageX in dependencies
- packageX npm `latest` tag is `1.1.1`
- packageX version 1.2.0-beta is insta

[2017-02-14 04:02] nfarina commented on #1690
Encountered this when installing `nightmare` via yarn - nightmare depends on `electron@^1.4.4` which resolves to `1.6.0` which is under the `beta` dist-tag on npm. Highest latest version is `1.4.15`. I unknowingly wrote code against a beta version of electron, now need to downgrade it to run on production.

[2017-02-14 04:16] hbetts commented on #1102
For projects I'm responsible for, I use the `engines` property as a way to indicate which versions of Node I actively support, and on which versions of Node that particular version of the package should be capable of running on for eternity. As soon as a version of Node reaches end-of-life, I remove it from the `engines` property and release a new major version of the package. When a new version o

[2017-02-14 06:23] Riokai opened #2692 "yarn crash on install pacakge"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
[code]

Log
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

`yarn add babel-plugin-transform-remove-console-enhance --dev`

**What is the expected behavior?**
add  package

**Please mention your node.js, yarn and operating system version.**
OS: MacOS 10.12

[2017-02-14 11:08] silverwind commented on #1930
The `browser` property should also be checked for existance in the published package, for the browserify users among us.

[2017-02-14 12:02] #2638 closed

[2017-02-14 12:45] SiggyF opened #2693 "Root package.json is not used"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
I try to install a package from a subdirectory. Yarn creates a new package.json in that subdirectory instead of in the package root.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
This results in 2 package.json files, on in parent and one in child, togeth

[2017-02-14 13:17] Iverson commented on #2337
@UnrememberMe I can't even install it from apt-get
[code]
yarnpkg binary not installed. Is there any workaround for Linux?

[2017-02-14 13:47] bestander commented on #2692
Can't repro on latest yarn and 0.19.1
[code]

[2017-02-14 13:48] bestander commented on #2692
Try removing self-update folder `rm -rf /usr/local/lib/node_modules/yarn/updates/`

[2017-02-14 13:49] bestander commented on #2690
I think there is still a problem with caches.
Try `yarn cache clean`, remove yarn.lock and try again

[2017-02-14 13:58] johngeorgewright commented on #1632
Something also to note; Any config variable set as `[package_name]:foo`, or variables listed under the `package.config` object will be added as "per-package" environment variables. E.g: `process.env.npm_package_config_foo`.

https://docs.npmjs.com/misc/config#per-package-config-settings

[2017-02-14 14:10] hbetts commented on #1552
@frank-dspeed what would be the value of saving `--ignore-engines` to a project's `yarn.lock` file be?

As a project maintainer, my project is very specific about the version of Node it supports. If users of `yarn` were to blanket ignore Node compatibly, I can only assume it will increase support load as people use incompatible versions of node, and not realize it.

[2017-02-14 14:14] hbetts commented on #1102
Perhaps we can just implement a `pushWarning`, similar to `pushError` (https://github.com/yarnpkg/yarn/blob/93fa0f7c2857b5e9301d554b2b4c362d20988324/src/package-compatibility.js#L123) to call `reporter.warn` with the incompatibly, instead of erroring out.

[2017-02-14 14:28] bestander commented on #570
@jspiro, thanks for writing this up.
There are a few issues raised here.
It would be better to open each issue separately otherwise they will be lost in the comments.

Are you on latest version of Yarn?
As of 0.18-0.19 we don't see modifications to yarn.lock files between machines.

Questions:

Dev and optional dependencies can be left out for the same lockfile.
But the ones that are bing installe

[2017-02-14 15:28] patrickd- commented on #2191
[code]
happening again all the time today

[2017-02-14 16:05] rjb8682 commented on #2690
That did it! I appreciate the help. Hopefully this can get fixed up in the future, but at least now i have a solution if it sticks.

Thanks a ton

[2017-02-14 16:39] aij commented on #1658
@shellscape I was looking for this same option, but I only see it as being useful for the initial transition to yarn flat mode.

As I see it, automated environments should be using `yarn.lock` rather than trying to resolve dependencies nondeterministically. (Though perhaps I'm just not understanding your use case.)

FWIW, I did find the unexpected interactivity rather surprising. The ordering of t

[2017-02-14 17:04] southpolesteve commented on #906
Anyone know what happened to this RFC? The link to https://github.com/yarnpkg/rfcs/issues/6 404's

[2017-02-14 17:11] destroyerofbuilds commented on #906
@southpolesteve from their GitHub repo page (https://github.com/yarnpkg/rfcs/pulls) you can see that they disabled the issues feature.

Therefore all issues non 404.

[2017-02-14 17:47] aij commented on #1198
Why would you expect anything different?

In the above example, both are the same. (c41f2f6c39fc16d1cd17ad4b5d896114ae470d55)

Or are you saying that hash is incorrect for one of the two? (Eg: If both repos are using the same package name and version number but for actually different packages.)

[2017-02-14 17:51] bmeck commented on #1198
yes, same name and version, but one has been compiled in my case so contents are different.

[2017-02-14 18:09] #1729 closed

[2017-02-14 18:57] reallistic commented on #1743
@GuillaumeLeclerc You might want to clean up your comment...

[2017-02-14 19:48] arrygoo commented on #2578
Same thing happened to me. Ran `brew install yarn` and it removed `npm` :(.

[2017-02-14 21:40] destroyerofbuilds commented on #1150
@otakustay and @Daniel15, I believe this issue will be mitigated, if not entirely resolved by #2676

[2017-02-14 22:08] needforspeed commented on #25
Is it going to be supported?

[2017-02-14 22:22] fenduru opened #2695 "`Unable to find a suitable version` when there is a suitable version"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

`my-app/package.json:`

[code]

`my-library/package.json:`

[code]

after `yarn install`:

[code]

`yarn install --flat`

[code]

**What is the expected behavior?**

yarn should automatically choose `1.5.11` instead of prompting because this version satisfies both `^1.5.0` and `~1.5.11`.

**

[2017-02-14 22:36] proProbe opened #2696 "Error with react-native"
Im currently running into a problem when installing my node_modules with yarn in my react-native project. I get the following error on version `0.19.1-1`:
[code]
Anyone that has runned into the same error?

[2017-02-14 23:18] davidbarratt commented on #1658
I expected this to work like [npm dedupe](https://docs.npmjs.com/cli/dedupe)

[2017-02-15 01:11] daltones commented on #2304
I'm having maybe the same problem with Yarn v0.20.3. I've noticed this:

If I have this `package.json`:
[code]
`yarn install --production` correctly installs nothing.

But when I have this:
[code]
`yarn install --production` installs `stylelint` (but not `stylelint-order`) and all it's dependencies.

That's very weird because `trim-right` is completely disconnected to `stylelint` (actually `trim-r

[2017-02-15 02:20] Riokai commented on #2692
@bestander I remove `yarn.lock` file and re-run `yarn`, everything is ok.

[2017-02-15 03:23] hbetts commented on #2695
This proposed solution may actually be detrimental to the behavior of the product, and expose a vulnerability.

The `npm` package manager actually behaves as you described, though only in the case where you install the package with the tighter constraint first. Please see - npm/npm#10999

In the scenario explored in that issue, a single package, through version pinning, could force other packages

[2017-02-15 06:14] Daniel15 commented on #1648
@dev6rodn - There's two parts to the path - The system path, and the user path. `C:\Program Files (x86)\Yarn\bin` is added to the system path by the installer, so it should already be there.

[2017-02-15 06:15] Daniel15 commented on #2696
This error looks unrelated to Yarn... Do you not see it when using npm instead?

[2017-02-15 06:17] Daniel15 commented on #2686
Sure, that's doable. I'll add a Docker image soon when I revise the dev one 👍

[2017-02-15 06:18] Daniel15 commented on #2021
Thank you so much! 😃

[2017-02-15 06:24] Daniel15 commented on #2634
It's pretty easy to do, I just need to figure out the right Aptly command to add a new architecture. I originally created the repo by running `aptly repo create -distribution=stable -component=main -architectures=amd64,i386,all yarn`, maybe [aptly repo edit](https://www.aptly.info/doc/aptly/repo/edit/) can add another architecture.

[2017-02-15 06:25] Daniel15 commented on #2634
It's pretty easy to do, I just need to figure out the right Aptly command to add a new architecture. I originally created the repo by running `aptly repo create -distribution=stable -component=main -architectures=amd64,i386,all yarn`, maybe [aptly repo edit](https://www.aptly.info/doc/aptly/repo/edit/) can add another architecture.

The Aptly metadata is over here if you want to try clone the repo

[2017-02-15 06:47] blackChef opened #2697 "Publish a sub directory"
Suppose we have a project that has this structure:

[code]
When publishing this project to npm, we want only the `components` folder is published. So that our consumer can use it like this:

[code]

Is it possible to accomplish this using yarn ?

[2017-02-15 08:59] victornoel opened #2698 "A failure of yarn did not have an error shell return code"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

On my CI system, the following happened (not sure why, but I think it is coming from my VMs, not yarn)
[code]

And instead of failing, the build continued, so I suppose that the shell return code was 0 at that point.

**If the current behavior is a bug, please provide the steps to reproduce.**

Not s

[2017-02-15 09:11] proProbe commented on #2696
I dont see this problem with npm. npm works fine

[2017-02-15 10:53] SamHH opened #2699 "Local test failing"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

Run `yarn run test`, and all tests pass except `commands/remove.js`. Here's the CLI output:

[code]

I'm also seeing some other errors pop up as well, possibly less important:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Fork Yarn, optionally run `yarn run b

[2017-02-15 11:04] AaronHarris commented on #2534
I want to chime in, installing using the recommended Windows Installer method on Windows 10 Pro x64 does not seem to add a yarnpkg alias to the PATH. I assume the reason for this is there is only a yarn.cmd file, but no yarnpkg.cmd file in the .bin folder. Would it be sensible to make a windows symlink named yarnpkg.cmd and point it to yarn.cmd?

[2017-02-15 11:19] SamHH commented on #1323
I'm happy to take this one.

What's Yarn's approach to compatibility with older versions of npm (or is that a non-issue regards how Yarn works?)? I ask because if we change the publish script to prepublishOnly then you lose support for npm <4. If we keep prepublish, then there's no point in adding prepublishOnly as it will be renamed back to prepublish eventually as you said, and presumably in the

[2017-02-15 11:48] bestander commented on #2699
I wonder if this is because of Node 7.
Can you try on Node 6?

[2017-02-15 11:50] bestander commented on #2698
Last time I checked Node 7 was crashing quite often because it uses latest and less tested V8

[2017-02-15 12:02] bestander commented on #2697
Currently Yarn has the same capabilities as npm in publishing.
For your case you can put a pakage.json into components folder and publish a new package from the subfolder.
We do similar thing for Jest.

[2017-02-15 12:02] #2697 closed

[2017-02-15 12:04] bestander commented on #2696
This looks like a wrong babel plugin configuration for React Native.
Maybe with Yarn a wrong version of babel runtime is hoisted on top and some scripts try to get the first one available.

[2017-02-15 12:05] bestander commented on #2696
Anyway, we need repro steps to help you out - a package.json and the script you are running.

[2017-02-15 12:43] gaganjakhotiya commented on #764
Happened with me as well. Hangs at last dependency.
Node: v5.12.0
Yarn: v0.20.3
Ubuntu 14.04

FIX: Updated Node to latest version(v7.5.0) and it worked.

[2017-02-15 13:12] victornoel commented on #2698
@bestander could be the reason why it crashes yes… still, yarn shouldn't return a return code of 0 in that case :)

[2017-02-15 13:21] SamHH commented on #2699
Good call! No error on 6.9.1.

[2017-02-15 13:25] ShawnAi commented on #1505
@mgol it works

[2017-02-15 13:31] chrisbujok commented on #2488
It seems to be already fixed (tested with v0.20.3).

[2017-02-15 14:06] errm commented on #1326
If you want node7 you can just install the `nodejs-current` package with apk

[2017-02-15 14:09] mhart commented on #1326
@errm will that help the situation with `yarn` depending on `nodejs` though? Will apk recognize that `nodejs-current` is a substitute for `nodejs`?

[2017-02-15 14:20] mhart commented on #1326
@errm oh – indeed it does:

[code]
Nice! 👍

[2017-02-15 14:21] rmm5t commented on #1751
I know getting `package.yml` support accepted might be a long-shot, because NPM was so against it and _"because backwards-compatibility,_" but it's a path that I whole-heartedly agree with. IMO, JSON is a great data interchange format, not something humans should write and read, and the benefits of YAML for a dependency management config (especially for deployed packages like websites and apps) fa

[2017-02-15 14:25] mhart commented on #1326
I see, because `APKBUILD` supports a `provides` declaration:

http://git.alpinelinux.org/cgit/aports/tree/community/nodejs-current/APKBUILD#n17

[2017-02-15 14:33] shprink commented on #2083
I confirm that 0.20 fixes it

[2017-02-15 14:35] proProbe commented on #2696
I realized that I somehow had installed yarn via npm thus having two version of yarn on the computer. Now the problem doesnt seem to appear any longer. Closing this issue. thanks for the quick responses everyone!

[2017-02-15 14:35] #2696 closed

[2017-02-15 14:45] aij commented on #1658
@davidbarratt No, `flat` mode will install a single version of each package (like bower AFAICT). `npm dedupe` only deduplicates non conflicting dependencies. (Which seems to only be for somewhat cleaning up after it's non-reproducibility?)

For example, with `yarn --flat` I get a single copy of babel-runtime. If instead I run `npm install` I get 59 copies. After running `npm dedupe` that is still

[2017-02-15 14:50] davidbarratt commented on #1658
@aij Ah yes. I agree. Let me rephrase, in my opinion it should resolve everything to a single version, and if it can't, it should throw an exception and explain the conflicts rather than making you decide.

[2017-02-15 15:00] moimikey commented on #1658
adding `flat: true` to `package.json` is a great interim.

[2017-02-15 16:16] bestander opened #2701 "Yarn needs to tell the impact of the changes"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the expected behavior?**

When adding new dependencies to package.json or updating existing ones I'd like to know how much more/less space will it take.

[2017-02-15 17:44] gregsheremeta commented on #393
@UnrememberMe did you happen to open one? Could you link to it?

[2017-02-15 18:12] frank-dspeed commented on #1552
@hbetts in a perfect world your right but as i sayed befor the Warning gets raised one time then the user will use --ignore-engines and so set that with having totally in mind what he does.

[code]

the options fild gets only added to the packages that raised befor --ignore-engines warnings.

thats it.

[2017-02-15 18:15] frank-dspeed commented on #2701
@bestander https://www.npmjs.com/package/slow-deps
maybe that helps

[2017-02-15 18:51] rmm5t commented on #2109
In the meantime, is there a equivalent command to manually prune the offline cache until https://github.com/yarnpkg/rfcs/issues/49 is implemented?

The only thing I can think of is to manually delete the directory referenced by the `yarn-offline-mirror` setting and then re-run `yarn install` again to rebuild based on the up-to-date `yarn.lock`.

[2017-02-15 19:00] da70 commented on #2649
In case anyone using an older version of yarn stumbles across this ticket while looking for answers about caching irregularities, the bug I was trying to describe above was resolved by [Add hash to cache path for non-NPM packages (#2074)](https://github.com/yarnpkg/yarn/commit/af4cc0ee08986e66c9fb54ace1f1ded1cbdf21eb).
This fix is in release [v0.20.3](https://github.com/yarnpkg/yarn/releases/tag/v

[2017-02-15 19:11] UnrememberMe commented on #393
I have started but have not finished the RFC yet.  I should submit the pull request for RFC no later than Thursday 2/16/17. @gregsheremeta

[2017-02-15 19:14] bestander commented on #2109
It can be a very simple grep of yarn.lock file with xargs that copies the
files to some other location temporarily and then removing the remaining
files.
Rerunning a fresh install won't help because yarn.lock refers to files and
not http urls, it will fail install.

On 15 February 2017 at 18:51, Ryan McGeary <notifications@github.com> wrote:

[2017-02-15 19:14] bstro commented on #2365
I am seeing this bug as well. It happens with different packages each time, as @Pinpickle stated.

[2017-02-15 19:24] mikegreiling commented on #2439
I can verify this as well...

In yarn v0.20.3 I get a lot of these:
[code]

[2017-02-15 19:37] rmm5t commented on #2109
@bestander Hmm 🤔

Interesting, but it seems to work for me. Are the files getting pulled automatically from the global cache under `~/Library/Caches/Yarn` and the `yarn-offline-mirror` directory is automatically re-built from that?

For example, I just wrote a quick bash function to automate this.
[code]

What am I misunderstanding?

Aside, this is a worthwhile solution to investigate as well.

[2017-02-15 20:04] destroyerofbuilds commented on #990
With @bestander's introduction of hardlinking in #2620 (Which works fine in Windows 7 without administrator privileges), my overall installation times, and `node_modules/` size, dropped.

Without hardlinking:

[code]

With hardlinking:

[code]

[2017-02-15 20:10] bestander commented on #990
Wait for 0.21.1, it will have @kittens' fix to hoisting.
Should be even faster

On Wed, 15 Feb 2017 at 20:04, Hutson Betts <notifications@github.com> wrote:

[2017-02-15 20:26] mattkime commented on #1204
I've been seeing a lot of these issues lately while building on travis. Its a drag.

[2017-02-15 20:27] eilinora commented on #1204
me too!!!

[2017-02-15 20:34] sadafie commented on #1204
Same issues as well

[2017-02-15 20:43] strife25 opened #2702 "Yarn CLI output hides SSH key password prompt"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When `yarn install` hits a package installed from a GitHub repo using an SSH URI, yarn appears to hang on the package forever. It turns out that a request for the SSH key password was printed, but that output got overwritten by the output of Yarn.

**If the current behavior is a bug, please provide t

[2017-02-15 20:44] strife25 commented on #2702
The workaround to this issue is to type the SSH key password once yarn seems to hang (or type a bogus password and press enter to trigger an input retry to be correctly printed).

[2017-02-15 20:49] strife25 commented on #1289
I encountered a similar issue w/ yarn hanging. Could this issue be related to SSH key passwords? https://github.com/yarnpkg/yarn/issues/2702

[2017-02-15 20:51] motet-a commented on #1204
Same issue with Travis here.

[2017-02-15 21:37] swozniak commented on #1204
Same here!

[2017-02-15 22:39] ConAntonakos commented on #1505
Just ran into this issue. I'm working off of `node@6` rather than `node` which pulls the v7.x at the moment. I have node v6.x installed instead. It seems like yarn is expecting only `brew link node` which equates to the latest version. Is there a way around this or am I doing something wrong?

[2017-02-15 22:45] ConAntonakos commented on #2683
Relates to https://github.com/yarnpkg/yarn/issues/1505.

[2017-02-15 22:51] Judahmeek commented on #1505
Removing yarn from brew is likely the simplest solution. Temporarily modifying file permissions as necessary is another possibility. Long-term, it looks like there needs to be some kind of interactive dependency injection.

[2017-02-16 00:52] adambiggs commented on #1269
I published a scoped package with `$ yarn publish`, but when I try to install it I get:

[code]

[2017-02-16 02:48] janaz opened #2703 "yarn install --production installs some dev packages"
**Do you want to request a *feature* or report a *bug*?**

**bug**

**What is the current behavior?**

`yarn install --production` installs some of the packages from `devDependencies` into `node_modules` directory

**If the current behavior is a bug, please provide the steps to reproduce.**

`package.json`

[code]

To reproduce, please create the `package.json` file with the above content and run:

[2017-02-16 05:21] mjswensen opened #2704 "Incorrectly reports an unmet peer dependency upon peer upgrade"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Yarn incorrectly reports an unmet peer dependency when a satisfactory peer is upgraded.

**If the current behavior is a bug, please provide the steps to reproduce.**
Clone https://github.com/mjswensen/yarn-peer-dependency-bug. I've set up a small repo with two packages there that reproduce this issue w

[2017-02-16 05:46] raycashmore commented on #2503
Same problem:
_Error: Cannot find module 'D:\c\Program Files (x86)\Yarn\bin\yarn.js'_

Note I'm running yarn command from folder on D: drive

- Windows 8.1
- Node 7.5.0

yarn-0.20.3.msi [same problem]
yarn-0.19.1.msi [same problem]
yarn-0.18.1.msi [OK]

[2017-02-16 05:47] wtgtybhertgeghgtwtg commented on #2701
Would that be counting deduplication?

[2017-02-16 07:11] whitecolor commented on #1751
@rmm5t I have no plans for this.

[2017-02-16 07:38] davegri commented on #2702
Running into this too, the first prompt is actually for a username and dosen't appear

[2017-02-16 08:18] bestander commented on #2701
I think it should

On Thu, 16 Feb 2017 at 05:47, wtgtybhertgeghgtwtg <notifications@github.com>
wrote:

[2017-02-16 09:28] alexdohmen commented on #2611
+1 same here
error: error Couldn't find package "the-next-big-module" on the "npm" registry.

[2017-02-16 10:02] frank-dspeed commented on #2701
@bestander @wtgtybhertgeghgtwtg it will not inform you about deduplication but this is a good starting point you could do a yarn version of it if really needed.

[2017-02-16 10:39] bestander commented on #2701
I mean that this feature, when implemented in Yarn, should inform about
impact of a dependency installed considering the deduplication.
slow-deps is an interesting module to get inspiration from.

On 16 February 2017 at 10:03, Frank Lemanschik <notifications@github.com>
wrote:

[2017-02-16 10:57] bobmoff commented on #2365
I have the same problem when trying to deploy to Heroku.

`error An unexpected error occurred: "https://registry.yarnpkg.com/colors/-/colors-1.1.2.tgz: Request failed "502 Bad Gateway""`

It fails on different modules on each try for me as well

[2017-02-16 11:00] IanOvenden commented on #2503
I've also just tried installing the latest stable 0.20.3 and have the same issue.  I initially ran as an upgrade, but also tried fresh install.  Same issue.

[2017-02-16 11:05] akloeber commented on #2649
@da70 Are you sure this fix is already contained in v0.20.3? In my cache folder the hashes are still missing for local file dependencies (`npm-<LOCAL_MODULE_NAME>-<LOCAL_MODULE_VERSION>`) and updates are only triggered if version number is incremented.

[2017-02-16 11:38] akloeber commented on #2649
I checked the sources of the yarn version that is installed on my machine and the changes from #2074 were present there. I have no idea why the hashing does still not occur.

This can be reproduced with:
[code]
`package.json`:
[code]
`local/package.json`:
[code]
`local/index.js`:
[code]

This produces `~/Library/Caches/Yarn/npm-local-1.0.0` folder after running `yarn`:
[code]
Subsequent changes to

[2017-02-16 11:38] bestander commented on #2503
The path `D:\c\` looks like a mix of linux and windows paths.
Maybe there us a regression somewhere

[2017-02-16 12:20] Arrow7000 commented on #820
I have the same problem as @dougmartin , it always throws this error for me

[code]

[2017-02-16 13:26] skirmess commented on #2698
We have the same problem. This output is from Yarn 0.18.1 but 0.20.3 has the same issue. We've reduced the old space size to ensure that webpack fails.

[code]

The problem is that yarn exits with a RC of 0 after that FATAL ERROR.
[code]

Now, let's run it with a wrapper shell script

[code]

This time Yarn recognizes the error and returns a non-zero RC.

[code]

[2017-02-16 13:38] bestander commented on #2698
Looks like Yarn catches exception when the failing code is wrapped in a shell script then.
The code that handles shells out to scripts is here https://github.com/yarnpkg/yarn/blob/master/src/util/execute-lifecycle-script.js#L191

Any ideas why exception is not thrown?

[2017-02-16 13:46] orlin commented on #786
I was getting the same with yarn `v0.19.1` and node `v6.9.4` on osx.  I thought about adding a preinstall `npm i node-sass --no-bin-links`.  However I just upgraded yarn to `v0.20.3` and it seems to install fine as well.

[2017-02-16 14:08] dougmartin commented on #820
@Arrow7000 This has resolved itself for me when I upgraded yarn.  I'm now running 0.19.1 and I no longer have the issue.

[2017-02-16 14:52] soywod commented on #1834
I had the same error using `yarn@0.20.3` (but no problem with `yarn@0.19.1`)
Here my repo where I reproduced it : https://github.com/soywod/yarn-bug-1834

Main error : `Error: ENOENT: no such file or directory, lstat '/Users/clementdouin/Documents/yarn-bug-1834/node_modules/chai-fs/test/fixtures/non-existing.txt'`

Uname -a : `Darwin MAC164 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21

[2017-02-16 15:06] skirmess commented on #2698
We get a return code of 134, which means the child process got killed by signal 6 (134-128).

Signal 6 is SIGABRT on my machine.

[code]

strace from the first run where yarn called node directly:

[code]

strace from the second run where yarn called bash which called node:

[code]

The shell returns a non-zero return code after node died. I assume Yarn must somehow catch that in the call to spawn

[2017-02-16 15:06] Arrow7000 commented on #820
@dougmartin I didn't even realise I was running an old version. Thanks!

[2017-02-16 15:17] patoncrispy opened #2706 "Yarn 0.20.3 reports as 0.19.1 on Windows using MSI"
I thought I was having problems updating Yarn, so I uninstalled the version I had on my machine, installed the new one from the MSI but the version number seems to be incorrect via the CLI.

![yarn](https://cloud.githubusercontent.com/assets/2559414/23027021/ff14e286-f45a-11e6-945a-6f3644bb9a4f.PNG)

[2017-02-16 15:22] bestander commented on #2706
That is strange.
Could you run self-update at some point?
In that case the self-updated location would override it

[2017-02-16 15:24] patoncrispy commented on #2706
Command 'self-update' not found. I take it then that the installation is incorrect, or something?

[2017-02-16 15:25] bestander commented on #2706
Try uninstalling it completely.
And installing again

On 16 February 2017 at 15:24, Chris Paton <notifications@github.com> wrote:

[2017-02-16 15:28] patoncrispy commented on #2706
I did. Checked the installation directory and all gone. Wouldn't work from the command line. No installation via NPM. Re-installed via MSI and I got the result in the image attached.

[2017-02-16 15:30] bestander opened #2707 "[feature] simplify patching of third-party dependencies"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the expected behavior?**

From time to time developers want to use a particular package but they need to patch it (e.g. replace a require with another one) and don't want to fork a public package for that because it would be a maintenance burden.

Developers can go around this by making a local shallow wrapper package wit

[2017-02-16 15:34] patoncrispy commented on #2706
Using NPM works fine.

[2017-02-16 15:37] bestander commented on #2706
Maybe the MSI installer leaves some traces from previous install cc @Daniel15

[2017-02-16 15:56] shishkin commented on #521
@Tapppi Yes, I tried. Same error.

[2017-02-16 16:11] JiaLiPassion opened #2708 "yarn generate Extraneous dependencies"
v0.22.0-20170215.1538 , 19.1 is the same behavior
**Do you want to request a *feature* or report a *bug*?**

bug
**What is the current behavior?**
yarn generate Extraneous dependencies.
**If the current behavior is a bug, please provide the steps to reproduce.**

I have a middleware repo which package.json is this

[code]

It is a middleware library repository and depends on angular 2.2.1

And I h

[2017-02-16 16:13] PatrickKing commented on #1379
+1 for this, with Yarn 0.20.3

[2017-02-16 16:37] stevenleeg commented on #2702
Seeing this as well. Pressing enter will cause the command to fail because it can't unlock the key.

[2017-02-16 17:04] npiguet commented on #2611
I have to add my voice to this one. Tested with yarn 0.18.1 and node 5.10.1.

The output from `yarn install` looks like:
[code]

`yarn-error.log` contains the following info:

[code]

[2017-02-16 17:47] wtgtybhertgeghgtwtg commented on #2707
Would https://github.com/yarnpkg/yarn/issues/946#issuecomment-264597575 be a sufficient alternative?

[2017-02-16 18:01] bestander commented on #2707
Not sure, this seems to be slightly different use case but in a way they are related.

[2017-02-16 19:00] StarpTech commented on #1324
Have the same issue. Any progress???

[2017-02-16 19:37] eessex commented on #1848
I'm seeing this issue come up in Yarn v0.20.0

[2017-02-16 19:45] alexkrolick commented on #1776
I'm not sure that automerging YAML will always result in a valid file, especially given:
- Multiple major versions in the package that are right next to each other in the lockfile
- The first line of two neighboring entries can change at the same time while resolving to the same or similar version:

[code]

[2017-02-16 20:16] joshrickert commented on #2069
Occasionally I have issues after switching environments around that are solved by an `npm rebuild`. It's one of the few tasks I still have to rely on npm for currently.

[2017-02-16 20:46] da70 commented on #2649
@akloeber The reason you are seeing this behavior is because in the v0.20.3 code, the directory name only includes a hash if the package's `.remote.hash` is set:

[src/config.js](https://github.com/yarnpkg/yarn/blob/495900a43d5cdd2e2fee39fd386022e69ef4927d/src/config.js?#L294-#L307):

[code]

For Github dependencies, `pkg.remote.hash` is the git commit id hash.  For local dependencies, however, su

[2017-02-16 21:09] pgporada commented on #1538
Is there any traction on this from yarn upstream?

[2017-02-16 21:13] jackhamburger commented on #393
Is there a concern about the offline mirror will start to bloat if it is stored in source control? Every minor version change will leave the old .tgz files.
Is there a plan for a clean up command that empties the offline mirror of module .tgzs that are not used in the yarn.lock?

[2017-02-16 22:34] markstos commented on #1848
@eessex If you never want to deal with this issue again, switching to brcryptjs just takes a few minutes if you can deal with the speed hit. See my [related comment](https://github.com/yarnpkg/yarn/issues/1848#issuecomment-261341592) above.

If you want to troubleshoot the issue with Yarn v0.20.0, please provide steps to reproduce including which version of bcrypt you were trying to install.

[2017-02-16 23:08] eurochriskelly opened #2709 "yarn ignores existing project package.json"
I've been using yarn happily for a while. For most things, it's pretty much a drop-in replacement for npm. However, it behaves very differently if you are working in folders other than the project root.  This is unintuitive, unlike npm in a bad way, and results in multiple _package.json_ files peppered throughout the source, all needing to be maintained separately.

For example, let's say my _pack

[2017-02-17 00:09] bestander commented on #393
Yeah, there is an RFC for that already.
An opt-in cleanup feature is coming

On 16 February 2017 at 21:13, jackhamburger <notifications@github.com>
wrote:

[2017-02-17 01:46] shadow512122313 commented on #1036
I encounted the same problem with git bash. (yarn version 0.20.3)

[2017-02-17 06:25] vitalbone commented on #521
Thought I'd put this here, in case anyone else is still having trouble installing private packages, even you have a newer version (`>v0.16`) of yarn installed on your local machine. You may be seeing a 404 error, something along the lines of:

[code]

This worked for me, hope it helps.

[code]

[2017-02-17 07:46] pedzed commented on #1036
@shadow512122313 That's what I said ;)

The most annoying thing is that `npm init` _does_ work, so I tend to use that and then continue with Yarn.

[2017-02-17 09:15] thomasklein opened #2710 "Unexpected side effect of `yarn -v`: it runs yarn / yarn install"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running `yarn -v`will also run `yarn` / `yarn install` when I only wanted to see the version.

**If the current behavior is a bug, please provide the steps to reproduce.**
Run `yarn -v` anywhere. It becomes most apparent in a folder with a package.json file.

**What is the expected behavior?**
Only the

[2017-02-17 09:42] erizocosmico commented on #648
Still not working for me in v0.20.3:

[code]

[2017-02-17 11:33] kachkaev commented on #2686
Possible duplicate of https://github.com/yarnpkg/yarn/issues/1577.

We'd also like to use yarn in GitLab CI, but the lack of an official Docker image keeps us in NPM.

[2017-02-17 11:47] jishnums opened #2711 "nodejs needs to remove for installing yarn"
Inside ubuntu 14.04 nodejs needs to remove while installing yarn

With sudo apt-get install yarn

The output is
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  gyp javascript-common libc-ares-dev libctemplate2 libgeos-3.4.2 libgeos-c1
  libhdf4-0-alt libhdf5-7 libjs-node-uuid

[2017-02-17 11:59] chrisbujok commented on #2710
I think it duplicates #2600

[2017-02-17 12:00] jantimon opened #2712 "status of yarn prepare"
Is there a any planned milestone for the 4 month old npm prepare feature?

Are you planing to keep up with npm features in future in general so it can completely replace npm or is yarn rather a tool for installing and clean dependency locking?

[2017-02-17 12:02] IgorAufricht commented on #2591
Still happening with yarn 0.20.3.

[2017-02-17 12:30] akloeber commented on #2649
@da70 Thanks for the clarification, that makes sense and solves this issue for deployment. For development I'm using [linklocal](https://www.npmjs.com/package/linklocal) anyway.

Only the prefix `npm-` (`${pkg.registry}`) is kind of missleading. In this case `local-`, `git-`, `scm-` or something else would me more appropriate as this package is not coming from the npm registry.

[2017-02-17 14:59] pdjota commented on #2187
I am experiencing similar error:
[code]
I checked and I could access the registry after login. Is there anything missing that should be configured?

[2017-02-17 15:25] samayo opened #2713 "Installing libraries into specific locations"
**Do you want to request a *feature* or report a *bug*?**
possibly a bug

**What is the current behavior?**
"directories" directive in package.json does not have any effect
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
the library should be installed in the location specified in "directories" value at the package.json file
**Please

[2017-02-17 15:29] yfain commented on #2504
I don't use Windows, but if you install yarn locally, you should run its local version:
./node_modules/.bin/yarn

[2017-02-17 15:32] SomeoneWeird opened #2714 "Install regression between 0.19.1 and 0.20.0"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

Package `skeletron` fails to install.

**If the current behavior is a bug, please provide the steps to reproduce.**

Installation works w/ `0.19.1`
[code]

Installation fails w/ `0.20.0` (also fails with latest stable `0.20.3` and latest prerelease `0.21.0`)
[code]

**What is the expected behavior?*

[2017-02-17 15:34] samayo commented on #2713
Just to add. I got help and it turns out we can add location during install as:
[code]
which works, but according to this yarndoc https://yarnpkg.com/en/docs/package-json#toc-directories it should have worked also to add the directory as seen the doc i.e:

[code]

[2017-02-17 15:37] da70 commented on #2649
@akloeber Yes from the point of view of someone looking at the cache it would probably be easier to have a greater variety of prefixes.  I think `yarn` is considering `registry` to be a registry format tied to a specific tool.  The list of registries is loaded in [src/registries/index.js](https://github.com/yarnpkg/yarn/blob/495900a43d5cdd2e2fee39fd386022e69ef4927d/src/registries/index.js), and th

[2017-02-17 16:00] JonathanWolfe commented on #2706
I've had this issue since `v0.18.1`. Haven't tried installing via `npm` to see if that fixes it

[2017-02-17 16:20] Daniel15 commented on #2706
I've seen this happen when people install Yarn via Yarn itself. It usually
means there's another Yarn on your PATH. Can you try searching your
computer for "yarn.cmd" and see if one exists outside the Program Files
directory?

Sent from my phone.

On Feb 17, 2017 8:00 AM, "Jon Wolfe" <notifications@github.com> wrote:

[2017-02-17 16:47] rhtpandeyIN commented on #2504
@yfain , I installed yarn through .msi (windows installer) file, and as per my understanding it should install globally by that, because it also got registered into the system path automatically. Hence it should recognize as a external command. Although when I changed path like above mentioned way, it got worked.

[2017-02-17 17:05] JonathanWolfe commented on #2706
I did find one in the old `self-update` folder that apparently wasn't cleaned up on uninstall. Uninstalling, deleting that folder, and reinstalling fixed the version issue, @Daniel15.

[2017-02-17 17:11] bestander commented on #2706
We need to sort out this self-update feature

On 17 February 2017 at 17:05, Jon Wolfe <notifications@github.com> wrote:

[2017-02-17 17:35] Daniel15 commented on #2706
I guess there's code that's looking at the `self-update` folder that should be deleted. Removing that should fix this

[2017-02-17 17:45] ianp opened #2716 "Yarn install breaks node module resolution"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

Module resolution fails. If I delete `node_modules` and recreate with `nom i` then it works. Note that I noticed this issue when trying to compile TypeScript code and the linked repo includes this, along with a `yarn start` script that dumps the TypeScript resolution trace, however the issu

[2017-02-17 17:49] jamiewinder opened #2717 ""Couldn't publish package""
Using yarn 0.20.3 on Windows, I'm publishing my module using `yarn publish`..

[code]
It does publish something, but it seems to be an incomplete package. I have the following in my package.json:
[code]
And indeed it seems to publish them, but `dist` - a directory - is empty. It looks like the contents is being ignored, and the publish fails as a result?

[2017-02-17 17:49] ianp commented on #2716
Oops! That link in steps to reproduce should be https://github.com/ianp/yarn-install-issue (I thought GitHub would have auto-linked it).

Steps to reproduce then should be

1. `git clone https://github.com/ianp/yarn-install-issue`
2. `cd yarn-install-issue`
3. `yarn install`
4. either `yarn start` or `node lib`

then to demonstrate the expected behaviour

1. `rm -r node_modules`
2. `npm i`
3. eith

[2017-02-17 18:02] justinbowes opened #2718 "`yarn help list` links to missing page"
**Do you want to request a *feature* or report a *bug*?**
* bug

**What is the current behavior?**
`yarn help list` returns a link to online documentation:
[code]
However, visiting https://yarnpkg.com/en/docs/cli/list results in a 404.

**If the current behavior is a bug, please provide the steps to reproduce.**

`yarn help list`

**What is the expected behavior?**
The URL returned by `yarn help l

[2017-02-17 18:43] adamyonk commented on #1027
Seems like yarn is installing globals to `.config/yarn/global/node_modules/.bin/` rather than `yarn global bin` (`/Users/you/.nvm/versions/node/vX.X.X/bin`)

[2017-02-17 18:49] eessex commented on #1848
Thanks @markstos, using the bcryptjs npm package did the trick

[2017-02-17 19:16] adamreisnz commented on #1848
Switching to bcryptjs is unfortunately not an option for us  due to the speed penalty (up to 5x slower in some cases)

[2017-02-17 20:00] tomkel opened #2719 "Put error logs in cache folder"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**
Yarn will store `yarn-error.log` in the current directory.

**What is the expected behavior?**
In [npm v4.2.0](https://github.com/npm/npm/releases/tag/v4.2.0), `npm-debug.log` is no longer placed in the current directory, but in the `(npm config get cache)/_logs` directory. I suggest yarn do somet

[2017-02-17 20:54] diclophis commented on #2304
How did the `>0.18.x` releases get through the QA / testing process if they blatantly ignore what the instructions say in regards to how `--production` is suppose to work?

This is extremely dangerous behavior, some applications could have serious consequences if development packages are installed on production hosts... not just from a "this code shouldn't be here" perspective... but from an audit

[2017-02-17 21:48] jmreicha commented on #2311
Has anybody got this to work?

Still seeing the `warning There appears to be trouble with your network connection. Retrying...` in v.0.20.3 using proxy in `.yarnrc` file.

[2017-02-17 22:16] Murphydbuffalo commented on #1917
Doesn't work for me on `0.20.3`

[2017-02-18 11:30] SgtPooki commented on #2718
It looks like the standard is to use the actual command name for the URL, but someone incorrectly set the URL for list as ls: https://yarnpkg.com/en/docs/cli/ls

But you can see from the following aliases, that the urls are not consistent: https://github.com/yarnpkg/yarn/blob/efa1c7a84082589e6f8c375c3fcbc82f07e7a238/src/cli/aliases.js#L6-L10

From the few highlighted shorthand items above:

Correc

[2017-02-18 12:09] gaearon commented on #2132
Not really :-). I'd just recommend searching for the error message string and then seeing where it's used.

[2017-02-18 13:59] andreiglingeanu commented on #2132
@gaearon Yeah, right [here](https://github.com/yarnpkg/yarn/blob/3dc9cf43448da51d3b8890de339a0ed27b12ca62/src/package-linker.js#L320-L322) :)

[2017-02-18 16:02] eurochriskelly commented on #685
+1 @Ciantic

Developing local packages can be a problem because of this  For example, if the package is on git, the entire `.git` folder gets installed, even though it's in .npmignore (also tried .yarnignore), but yarn can't cope with it. No further packages can be installed using yarn. The workaround is to use `npm install file://path/to/file` for local modules but I'd rather have just one depend

[2017-02-18 17:56] hpurmann commented on #1767
Can't reproduce on yarn `0.20.3`, got probably resolved. Can one of you confirm, @vmlinz, @ibbatta?

[2017-02-18 18:28] ibbatta commented on #1767
@hpurmann sounds like resolved for me

[2017-02-18 18:28] #1767 closed

[2017-02-18 18:53] buu700 commented on #2692
Started running into a similar issue starting with Yarn 20 on Debian Jessie:

[code]

[2017-02-18 18:57] hpurmann commented on #995
Tried to reproduce. Everything works if you do
[code]

https://github.com/yarnpkg/yarn/issues/513 is closed so this can be closed as well.

[2017-02-18 18:59] hpurmann commented on #1008
I'd vote for closing this if it's no longer reproducible.

[2017-02-18 20:07] hpurmann commented on #973
Solved by https://github.com/yarnpkg/yarn/pull/1498. I can confirm that this is fixed (macOS though).

[2017-02-18 20:09] hpurmann commented on #955
For me, the second `yarn link` now still reports the error but the exit code is 0. So it's more like a warning. Is this sufficient for you, @TheLarkInn, @jdalton?
[code]

[2017-02-18 21:06] sergiorojasa commented on #510
I would like to work on this. I never contributed before but this seems like a good starting point.

[2017-02-18 21:44] sergiorojasa commented on #2718
I would like to work on this

[2017-02-18 23:33] patoncrispy commented on #2706
I used the MSI, not `self-update`, which wasn't available as a command anyway.

[2017-02-18 23:45] Daniel15 commented on #2706
`self-update` is an old feature that doesn't exist any more (it needs to be reimplemented in a more reliable way). However, for people that have ran `self-update` in the past, they might still have old versions around.

[2017-02-19 01:22] #1577 closed

[2017-02-19 01:22] #2686 closed

[2017-02-19 01:24] Daniel15 commented on #1577
Now available as `yarnpkg/node-yarn` in the Docker Hub: https://hub.docker.com/r/yarnpkg/node-yarn/

[code]

[2017-02-19 01:24] Daniel15 commented on #2686
Now available as `yarnpkg/node-yarn` in the Docker Hub: https://hub.docker.com/r/yarnpkg/node-yarn/

[code]

[2017-02-19 03:35] dentemple opened #2722 "Installation Problem: "/Yarn/bin/yarn: line 19: winpty: command not found""
**EDIT (4/25/17): Updating to the latest version of git (2.12.2) resolves the issue for me.**

EDIT: I was indeed using git bash for this.

I apologize, but I'm a newbie when it comes to this, so I'm not sure what I can do beyond uninstalling/reinstalling different packages.  I attempted to upgrade from a previously working version of yarn, only to run into this problem.

**OS:** `Microsoft Window

[2017-02-19 06:43] mjswensen commented on #2704
I've got a fix for this and will send a pull request within the next few days.

[2017-02-19 13:02] mika76 opened #2724 "Yarn help changes text color in powershell"
bug in yarn 0.20.3 (installed through chocolatey)

**What is the current behavior?**
when running [yarn help] the help is displayed but the textcolor is changed and left to a dark color, so nothing can be read afterwards.

**If the current behavior is a bug, please provide the steps to reproduce.**
Just run yarn help in powershell (I also have poshgit installed in case that makes a difference)

**

[2017-02-19 13:12] mika76 commented on #778
Personally I think this would be a great function. Why would I have to go all the way to the browser, open a specific page, search, copy paste a name of a package into the terminal I just came from, when all I wanted was to check what the exact name of the package for "bootswatch" was so I could run yarn add on it?

I vote for this function 👍

[2017-02-19 13:33] eleonrk commented on #2656
I've the same result.
What is the status of this issue?

[2017-02-19 20:08] Daniel15 commented on #2724
Hmm, I can't reproduce this issue on my computer. Can you please post your PowerShell version? Run `$PSVersionTable` and copy+paste all the output.

[2017-02-19 20:10] Daniel15 commented on #2722
It sounds like you have some ports of Linux utilities (eg. maybe Git Bash) that aren't working as expected. Try running `yarn.cmd` rather than `yarn` and see if that works?

[2017-02-19 20:12] Daniel15 commented on #2711
Most likely you have an old version of Node.js (before 4.x) installed. Yarn is not compatible with these versions of Node.js. You'll need to install a newer version (eg. through the NodeSource Ubuntu repo).

[2017-02-19 20:13] Daniel15 commented on #2706
#2720 will fix this.

[2017-02-19 20:55] liorzisman commented on #2719
Hi, can I try working on this?

[2017-02-19 22:08] knoguchi commented on #764
hangs on Mac.  node v7.5.0 installed via homebrew.

[2017-02-19 22:44] brownieboy commented on #1648
I installed Yarn via Chocolatey.  My bash shell was initially unable find Yarn, but a restart of my PC fixed the path issue.  (Probably a log out, then log back in would have been enough.)

[2017-02-19 22:53] #2021 closed

[2017-02-20 00:24] mrmckeb commented on #2724
This may or may not be applicable, but note that in Windows 10's upcoming update, Microsoft is supporting 256 colours (I've tested in the insider program in Bash).

[2017-02-20 00:37] matthewoates opened #2727 "143 MB npm install, 518 MB (!!!) yarn install"
Offending repo here:
https://github.com/matthewoates/yarn-example

[code]

Mac OS 10.12.2

[2017-02-20 00:58] wufeng87 commented on #2083
Happens with yarn 0.20.3 Node 6.9.5.

E:\codes\js\react\relax-master>yarn --version
0.20.3

E:\codes\js\react\relax-master>node -v
v6.9.5

E:\codes\js\react\relax-master>yarn install
yarn install v0.20.3
[1/4] Resolving packages...
[2/4] Fetching packages...
error Couldn't find the binary git
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

[2017-02-20 01:55] Daniel15 commented on #2524
Closing this out as you can use `--ignore-dependencies` if you don't want to install Node via Chocolatey.

[2017-02-20 01:55] #2524 closed

[2017-02-20 01:56] Daniel15 commented on #2303
Closing this out as it looks like a Chocolatey issue.

[2017-02-20 01:56] #2303 closed

[2017-02-20 01:56] Daniel15 commented on #2045
Not actually needed

[2017-02-20 01:56] #2045 closed

[2017-02-20 01:59] Daniel15 commented on #2288
I've correctly configured this to be automated. Similar to how we handle the Debian/Ubuntu releases, I have a Jenkins build job that watches `https://yarnpkg.com/latest-version` and updates the package once the version number changes. Hopefully it works - I can't exactly test it right now as the current version is already up-to-date. I'll find out if it actually works once we release a new stable

[2017-02-20 01:59] #2288 closed

[2017-02-20 02:17] Daniel15 opened #2728 "GPG sign single-file .js releases"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Out of all the files in the releases (eg. https://github.com/yarnpkg/yarn/releases/tag/v0.20.3), only the tarball and the MSI are signed. The tarball is signed using GPG, and the MSI is signed using an Authenticode certificate. Additionally, the .deb is signed as part of the Debian repo, but the in

[2017-02-20 02:40] redstrike commented on #2710
I think the command line interface is inconsistent here.
**node -v** => version
**npm -v** => version
**yarn -v** => install ??? and why **yarn -V** ???

[2017-02-20 03:44] x4storm commented on #1505
I found out what was the problem. When install yarn use `brew`, brew will install it's deps `node`.
So, the relationship between yarn and node is dependent.

Then I remove node in brew just like `rm /usr/local/Cellar/node`, I can reinstall yarn one more time.

[2017-02-20 05:01] broven commented on #1321
not work for me
Is global modules really install in `yarn global bin`? I enter and only node in there
[code]

[2017-02-20 05:38] Daniel15 commented on #2534
@AaronHarris - Yeah, Windows only has a `yarn.cmd` file, not a `yarnpkg.cmd` file. I think it'd be easiest to add a `yarnpkg.cmd` file that simply calls `yarn.cmd`. Would you like to send a pull request?

[2017-02-20 05:52] Daniel15 commented on #2412
No updates yet, sorry @dcu-sharepoint. A lot of people that work on Yarn do so in their free time, so we don't always have time to dedicate to investigate all bug reports. Since Yarn is open-source, anyone could investigate this bug if they wanted to 😃

[2017-02-20 06:01] Daniel15 commented on #2578
This sounds like a bug/issue with either Homebrew or the Yarn formula. Please file a task to the Homebrew developers. The Yarn formula is community-maintained and located in their repo: https://github.com/Homebrew/homebrew-core/blob/master/Formula/yarn.rb

[2017-02-20 06:01] #2578 closed

[2017-02-20 06:05] Daniel15 commented on #1122
Try the Yarn Docker image (https://hub.docker.com/r/yarnpkg/node-yarn/) and see if that works for you. It's based off `node:7`

[code]

[2017-02-20 06:09] KubaZ commented on #2554
Had exact same issue last friday, had to remove auth token from ~/.npmrc to be able to download scoped package from local artifactory.

[2017-02-20 06:19] Daniel15 commented on #2517
Yeah. You'll have to ask someone familiar with Homebrew to update the formula (or do it yourself, given it's all open source :) ). Here's the formula: https://github.com/Homebrew/homebrew-core/blob/master/Formula/yarn.rb

[2017-02-20 06:36] Daniel15 commented on #2332
I removed that `updates` logic in #2720

[2017-02-20 06:50] broven opened #2729 "stuck in last few packages almost every time"
**Do you want to request a *feature* or report a *bug*?**

bug
**What is the current behavior?**
stuck in last few packages almost every time during fetching packages operation
like 934/935     865/866
**If the current behavior is a bug, please provide the steps to reproduce.**

run `yarn` in every project packages bigger than 600 packages
**What is the expected behavior?**
 Fast.   or tell me wha

[2017-02-20 06:52] broven commented on #2729
Is yarn have debug mode?

[2017-02-20 07:35] jasonlam0619 opened #2730 "Always says 'error An unexpected error occurred: "Unknown token 1056:1".'"
I'm using the latest version (v0.20.3) of yarn.

**bug**

**Every yarn command leads to error: `error An unexpected error occurred: "Unknown token 1056:1`. Even `yarn` and `yarn -v` log this error.**

![image](https://cloud.githubusercontent.com/assets/8470477/23115792/29afd080-f782-11e6-9f71-426d3711bd18.png)

I've tried to uninstall and reinstall yarn, but the problem exists still.

**Node versi

[2017-02-20 07:41] ilaif commented on #1016
@markstos Can this be reopened? A few people have been experiencing this issue after [#987](https://github.com/yarnpkg/yarn/issues/987) was closed. Thanks!

[2017-02-20 08:30] Kimeko commented on #2656
With latest install(0.20.3) I still had the same problem.

[2017-02-20 09:31] jamiewinder commented on #2498
I've just encountered this too, but the workaround @majgis posted doesn't seem to work either:
[code]
Doesn't include anything from 'dist'. Tried every combination of these I can think of, and only the 'dist' directory is included, but never the contents.

[2017-02-20 10:36] SomeoneWeird commented on #2714
Looks like 65e89b5d02e06a15c65f13198c39271684c4f217 is the culprit

[2017-02-20 11:41] mgol commented on #1505
@x4storm don't remove Homebrew-related stuff manually, you'll leave it in an unstable state and you're on your own then; anything may break.

It's better to just ignore that `brew install yarn` also installs node; you can use a different Node version, e.g. using [nvm](https://github.com/creationix/nvm).

[2017-02-20 12:07] laggingreflex commented on #1244
#1496 would also solve this tbh. I just thought this is normal - i.e. (re-)linking takes time. But then I saw how quick it is on linux machine (in the the above example it only takes <5-10s). It's actually how it should be on Windows too.

[2017-02-20 12:52] rafayepes commented on #1732
@kittens how do you use yarn inside teams? I'm trying to come up with a workflow for our team and I don't see how that could work if I can't make sure that every dependency is modified through yarn and I can avoid making changes on package.json via npm or via manual modification. Any thoughts?

[2017-02-20 13:00] graingert commented on #1732
I think you can run yarn install on CI then check if yarn.lock changed

[2017-02-20 14:03] TimvdLippe commented on #682
I think this issue can be closed as #2580 has been merged.

[2017-02-20 14:29] centigrade-thomas-becker commented on #919
The referenced issue is now marked as resolved: https://github.com/yarnpkg/yarn/issues/1861

[2017-02-20 14:38] dwmkerr commented on #1379
Same issue for me, causes a lot of problems with my build as dev dependencies contain things like custom linting rules which require SSH access to internal repos...

[2017-02-20 14:50] bestander commented on #2727
Fixed in 0.21.2
[code]

[2017-02-20 14:50] #2727 closed

[2017-02-20 16:00] #605 closed

[2017-02-20 16:11] charpeni commented on #919
I can confirm that it was fixed. cc @bestander

[2017-02-20 16:12] bestander commented on #919
Thanks, let's close this then

[2017-02-20 16:12] #919 closed

[2017-02-20 16:51] eddyerburgh commented on #1321
It wasn't working for me when using NVM because I had accidentally removed NVM_DIR from my bash_profile.

adding this:
[code]
to ~/.bash_profile fixed my problem

[2017-02-20 17:05] sebfindling opened #2732 "No icon on Windows console"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
It shows a weird character instead of an icon on the left

**If the current behavior is a bug, please provide the steps to reproduce.**

yarn add <anything>

**What is the expected behavior?**
Should not show a weird character

**Please mention your node.js, yarn and operating system version.**
Node v

[2017-02-20 18:04] matthewoates commented on #2727
Great, thanks for the quick response.

However, v 20.3 is not released to NPM yet. https://www.npmjs.com/package/yarn

[2017-02-20 18:10] bestander commented on #2727
'0.21.0': '2017-02-14T20:18:53.889Z',
     '0.20.3': '2017-02-14T20:41:56.134Z',
     '0.21.1': '2017-02-20T10:55:57.982Z',
     '0.21.2': '2017-02-20T13:29:36.091Z'

21.2 is released to npm

It is just marked as RC for a few days to let us get feedback

npm dist-tag ls yarn
latest: 0.20.3
rc: 0.21.2

On 20 February 2017 at 18:04, Matt <notifications@github.com> wrote:

[2017-02-20 18:17] STRML opened #2734 "--link-duplicates error"
**Do you want to request a *feature* or report a *bug*?**

This is a bug in the pre-release `0.21.2` version with the `--link-duplicates` flag.

**What is the current behavior?**

Installing a project with `@kadira/storybook` and `webpack@2` results in the following error:

**Please mention your node.js, yarn and operating system version.**

Node 6.9.2, Yarn 0.21.2, OSX Sierra.

**Reproduction Rep

[2017-02-20 19:09] sebfindling commented on #521
So can I install a private package today by just using `yarn add` ? or do I need to do something else

[2017-02-20 19:39] TrustNik commented on #2546
Linked https://github.com/yarnpkg/yarn/issues/886

[2017-02-20 19:58] AaronHarris commented on #2534
Sure

On Sun, Feb 19, 2017 at 9:38 PM, Daniel Lo Nigro <notifications@github.com>
wrote:

[2017-02-20 20:05] jbreckel opened #2735 "`--ignore-scripts` is ignored"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
 yarn [command] --ignore-scripts does not ignore scripts

**If the current behavior is a bug, please provide the steps to reproduce.**

`package.json`:
[code]

[code]
**What is the expected behavior?**
[code]

**Please mention your node.js, yarn and operating system version.**

| what | version |
| ---

[2017-02-20 20:05] jbreckel commented on #2735
https://github.com/yarnpkg/yarn/issues/1713

[2017-02-20 20:05] jbreckel commented on #2735
https://github.com/yarnpkg/yarn/pull/1422

[2017-02-20 20:36] MikeTaylor commented on #2611
I have this problem, too, and it's a killer. I means that before I can start development work on a new package linked in via `yarn link`, I first have to release a null version -- which will then be ignored, but whose presence will allow the link to work. I am keen to see this fixed.

[2017-02-20 20:51] hpurmann commented on #815
Solved by #1498. I can confirm that this is fixed. @torifat can you close?

[2017-02-20 20:53] #815 closed

[2017-02-20 20:55] hpurmann commented on #815
Thank you! While at it, can you close the duplicate of this, https://github.com/yarnpkg/yarn/issues/973, as well? 😜

[2017-02-20 20:56] #973 closed

[2017-02-20 22:14] dcu-sharepoint commented on #2412
That sounds like a treat.... just kidding [😊]

I would like to take a look at it but I don't know how to even start.... can you give me some tips on how to start?

Thanks

"LuisCarlos" Rodriguez

________________________________
From: Daniel Lo Nigro <notifications@github.com>
Sent: Monday, February 20, 2017 12:52 AM
To: yarnpkg/yarn
Cc: L. Carlos Rodriguez; Mention
Subject: Re: [yarnpkg/yarn] yar

[2017-02-20 22:50] liorzisman commented on #2719
@Daniel15 Do you have a suggestion regarding simulating errors in tests that would invoke a log file? Couldn't find anything in the current tests

[2017-02-20 23:13] Daniel15 commented on #2719
Sure :)

Not sure, sorry. You might need to look around the code a bit. Maybe see if there's any existing tests for the log files?

[2017-02-20 23:15] liorzisman commented on #2719
Thanks for the quick reply. I'll try digging in. So far, no tests related to log files that I could find.
Hopefully will have the PR ready tomorrow.

[2017-02-20 23:47] Daniel15 opened #2737 "Add Dockerfile for Node.js 6"
See @SimenB's comments on https://github.com/yarnpkg/yarn/pull/2721

[2017-02-21 00:24] DannyBrown opened #2738 "An unexpected error occurred: Request failed \"404 Not Found\""."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I have a package which only depends on modules from the `npmjs` repository. They are predominantly public repositories, however 5 of them are private repositories scoped using an @ symbol. Again, these are hosted on `npmjs`.

Up until some time today all of them would download an install without issue.

[2017-02-21 00:32] #2634 closed

[2017-02-21 00:32] Daniel15 commented on #2634
I added `armhf` and `arm64` to the repo, so this should be fixed now! Let me know if you still encounter issues :)

[2017-02-21 00:38] DannyBrown commented on #2738
As an aside, the package clearly does exist and `yarn` is clearly accessing the package in some way because the url contains the version number it is attempting to retrieve.

[2017-02-21 01:13] DannyBrown commented on #2738
Having ran some more tests, I've found that the same package fails to install from other repositories that require it when using `Yarn`. However, it works fine when using `npm`.

This leads me to think it isn't my repository specific config. Could it be something to do with the name of the package tripping `Yarn` up, or the url encoding or something?

Clutching at straws here, but hopefully this m

[2017-02-21 01:15] #2728 closed

[2017-02-21 01:33] DannyBrown commented on #2738
I fixed this: I simply re-published the offending package with a new version number.

I have no idea why that fixed it.

I will leave this here in case it aids debugging.

[2017-02-21 03:33] zcong1993 commented on #2496
Same issue for me

- Node version 7.5.0
- npm versiion 4.1.2
- Yarn version 0.20.3
- Windows 10

[2017-02-21 04:45] dcu-sharepoint commented on #2192
@juvasquezg  I don't have yarn installed on my system and I get the same error when running create-react-app to create a boilerplate app. when running the create-react-app command on a cmd window, the windows disappears when the command fails. I only see the error when I run the command in powershell.

[2017-02-21 05:18] jpmckearin commented on #1648
I am also seeing the exact same issue  as @dev6rodn is reporting. The same solution worked for me.

[2017-02-21 05:33] oshalygin commented on #764
Getting this issue lately, any real resolution?

![image](https://cloud.githubusercontent.com/assets/7675942/23152059/2ee38b6e-f7b4-11e6-822d-77f556790d0b.png)

[2017-02-21 06:02] amaredeus commented on #1324
Tried uninstalling yarn and running `ng new test-proj` after installing @angular/cli with npm and got "$basedir/../../Users/UserName/AppData/Local/Yarn/.global/node_modules/.bin/ng.cmd"   "$@"
The system cannot find the path specified.

Looks like Yarn left some artifacts behind?

[2017-02-21 08:34] mldangelo opened #2739 "*bug* Yarn will not install devDependencies when NODE_ENV=production"
**Current behavior**
Currently, when `NODE_ENV=production`, yarn will only install dependencies and not devDependencies. This behavior mirrors npm, but isn't reflected anywhere in yarn's [documentation](https://yarnpkg.com/lang/en/docs/cli/install/). and there's no flag to force yarn to all dependencies. The ability to force all dependencies to be installed is useful to me for ci testing. My curre

[2017-02-21 09:04] lordgreg commented on #2111
Are there any updates on this issue? Can you, @kucharzyk, please update the issue title and remove the Windows OS from it? This exact issue can be reproduced on MacOS Sierra.

[code]

[2017-02-21 09:10] Jianru-Lin opened #2740 "How to embeded yarn and invoke it via JavaScript level API?"
Hello, everyone.

I am wrinting an node.js application which provides package management service over the web. I thought I can embeded yarn in my application as an normal package, and invoke it via some JavaScript APIs. However It's seems yarn didn't provide any API to support such kind of scene.

If it is true, will yarn provide in the future?

Thanks very much. 😄

[2017-02-21 10:48] jean-francois-labbe opened #2741 "error Couldn't find a package.json during Docker build"
Yarn version: 0.21.2
Nodejs version: 6.9 and 4.7

When running yarn locally it works
When running npm install it works
When running yarn install Dockerfile (`docker build .`) it fails with: `error Couldn't find a package.json file in "/root/.cache/yarn/npm-readable-stream-2.2.2-a9e6fec3c7dda85f8bb1b3ba7028604556fc825e"`
I have absolutely no idea why.

[code]

Yarn is installed this way in the Dock

[2017-02-21 12:37] xiaohp opened #2742 "Chinese docs, Install via Chocolatey title not display properly"
the link is https://yarnpkg.com/zh-Hans/docs/install#windows-tab

#### 用 Chocolatey 安装
display as

`#### 用 Chocolatey 安装`

It should a title

[2017-02-21 15:15] capaj opened #2743 "a git dependency defined as url cannot be updated-fails with a git conflict in my cache"
I am on yarn 0.20.3

**What is the current behavior?**
I have a url in my deps: `"trae": "https://github.com/capaj/trae.git",`
I run `yarn`
I make a commit to https://github.com/capaj/trae.git repo.
I run `yarn add https://github.com/capaj/trae.git` to get the latest version from my repo
I get:
[code]

**What is the expected behavior?**
Expected is that it install the trae package from my github u

[2017-02-21 15:28] bestander commented on #2673
should be fixed by #2676

[2017-02-21 15:28] #2673 closed

[2017-02-21 15:41] JaspervRijbroek commented on #2523
I have updated the module and it seems to work now (don't know why). Thanks.

[2017-02-21 15:41] #2523 closed

[2017-02-21 15:48] lucJW commented on #828
We are encountering the same problem as @DanReyLop with karma. Every second/third build on the buildserver fails because the cmd-file is corrupted.
Does someone has a workaround for this problem or is there a bugfix in sight?

[2017-02-21 16:28] gaearon commented on #2192
I think this is because you previously installed `create-react-app` *with* Yarn, so that's likely where the installation points to. Try running `npm install -g create-react-app` to reinstall it with npm.

[2017-02-21 16:47] dcu-sharepoint commented on #2192
done; don't work

[2017-02-21 17:02] gaearon commented on #2192
What do you get if you run `Get-Command create-react-app`?

[2017-02-21 17:05] FezVrasta commented on #2151
Is anyone working on this? It's pretty annoying and prevents me from using Yarn 😩

[2017-02-21 17:42] dcu-sharepoint commented on #2192
Dan;

this is what I've got from the powershell command:

Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. All rights reserved.

PS C:\Users\SPEXP> get-command create-react-app

CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Application     create-react-app.cmd

[2017-02-21 17:49] gaearon commented on #2192
This looks like it doesn't point to Yarn directory anymore.
So what exactly gets printed when you run `create-react-app myapp`?

[2017-02-21 18:19] #2439 closed

[2017-02-21 18:54] evan-scott-zocdoc commented on #1719
Sorry to necro this issue, but could we run postinstall after `yarn upgrade|upgrade-interactive` as well? @wyze

[2017-02-21 19:42] dcu-sharepoint commented on #2192
Windows PowerShell

Copyright (C) 2016 Microsoft Corporation. All rights reserved.

Cannot load PSReadline module.  Console is running without PSReadline.

PS C:\Users\SPEXP> create-react-app a0

C:\Users\SPEXP>"$basedir/../../Users/Carlos/AppData/Local/Yarn/config/global/node_modules/.bin/create-react-app.cmd"   "$@"
The system cannot find the path specified.

C:\Users\SPEXP>exit $?

____________

[2017-02-21 19:45] gaearon commented on #2192
Okay, maybe this command actually contains the path inside.
Can you figure out where `create-react-app` is currently located, and then delete the command?

Our goal is to break `create-react-app` completely so that it doesn't try to run the Yarn version.
Then we can try reinstalling it.

[2017-02-21 19:56] bestander commented on #2035
Bootcamped the issue

[2017-02-21 20:04] bestander commented on #2742
Cc @thejameskyle

[2017-02-21 20:06] bestander commented on #2701
Actually it can just report after installing how many files were added/removed and total size change

[2017-02-21 20:27] claughlin-r7 commented on #2086
tested on 0.20.3 and no longer seeing the issue

[2017-02-21 20:27] #2086 closed

[2017-02-21 20:37] dcu-sharepoint commented on #2192
sure;

Path: C:\Users\SPEXP\AppData\Roaming\npm-cache\create-react-app\1.0.4

Directory-content of => C:\Users\SPEXP\AppData\Roaming\npm-cache\create-react-app\1.0.4

this where I can see the installed version 1.0.4 is located.

it is also located in the administrator's account

Directory-content of => C:\Users\admin\AppData\Roaming\npm-cache\create-react-app\1.0.4

I cleaned all of the system and

[2017-02-21 20:51] gaearon commented on #2192
What about that `C:\Program Files\nodejs\...` path you mentioned in another issue? (I'm not sure how it finishes, but I'm assuming there's `create-react-app` script somewhere inside.

[2017-02-21 20:51] UnrememberMe commented on #393
@gregsheremeta The RFC was posted on Feb 16, 2017.

[2017-02-21 20:55] hemedani commented on #992
I have the same issue with `yarn add react-hot-loader --dev` it says :
[code]

I'm do a `yarn cache clean` and exec the `yarn add ...` again but the problem still there.

[2017-02-21 21:02] dcu-sharepoint commented on #2192
BINGO! BOINGO!BINGO! BOINGO!BINGO! BOINGO!BINGO! BOINGO!BINGO! BOINGO!BINGO! BOINGO!BINGO! BOINGO!BINGO! BOINGO!BINGO! BOINGO!

You've hit on something...

here's the directory contents and the contents of each of the create-react-app-files.. will delete and start all over again.

I would not even think of looking there and as you can see, THERE IS NO OTHER SUCH FILE FROM ANY OTHER INSTALL. AND TH

[2017-02-21 21:02] gregsheremeta commented on #393
@UnrememberMe do you have a link to it? I don't see it in https://github.com/yarnpkg/rfcs

[2017-02-21 21:09] UnrememberMe commented on #393
@gregsheremeta I updated the title  for https://github.com/yarnpkg/rfcs/pull/50  The initial RFC title was not correct.

[2017-02-21 21:15] dcu-sharepoint commented on #2192
the other wrinkle in this fiasco is that npm uninstall -g create-react-app DOES NOT CLEAN AFTER ITSELF, meaning that it leaves files all over the system. there has to be another cleaner way to create a react boilerplate scaffolding without breaking the system.

so far the issues are:

1)  installs  a software component without permissions on a restricted system directory creating a HUGE SECURITY R

[2017-02-21 21:29] moimikey commented on #884
@mgcrea did you end up making your RFC :D?!

[2017-02-21 21:33] davidcalhoun commented on #872
@alcmoraes Thanks, that seems to fix the issue I was having with the Yarn cache directory:

```error An unexpected error occurred: "EACCES: permission denied, mkdir '/Users/davidcalhoun/Library/Caches/Yarn/npm-whatwg-fetch-2.0.1-078b9461bbe91cea73cbce8bb122a05f9e92b772'".```

But now I'm seeing a new issue:
```Error: EACCES: permission denied, open '/Users/davidcalhoun/.yarnrc'```

[2017-02-21 21:44] dcu-sharepoint commented on #2192
Dan;

removing the create(crap) files from the NODEJS WINDOWS SYSTEM FOLDER RESOLVES THE ISSUE. this is a HUGE problem... those files should not be there, they should be in the user's app area and not in the system area..................  ESPECIALLY WHEN THE INSTALL PUTS THESE FILE WITHOUT ANY WARNING NOR DOES IT REQUEST PERMISSION WHEN THEY ARE INSTALLED EVEN THOUGH THE ACCOUNT BEING USED TO INST

[2017-02-21 21:52] dcu-sharepoint commented on #2192
and one more thing Dan;

Yarn DID not have to be uninstalled. all it did was to add the link to find the create-react files inside the create-react-app command files. just remove these files from the NODEJS directory and you are all set to go and re-install the boilerplate modules.....

hope this helps somebody else! and IT AIN'T WINDOWS FAULT!

________________________________
From: Dan Abramov <

[2017-02-21 22:03] Mikeysauce commented on #2192
All the caps and ranting comes across as extremely entitled. These tools are free and there is a right way and a wrong way to bring issues to the attention of the maintainers. I don't speak for anyone else, but if this were me I would be more inclined to put your specific problems to the back of the list based on how you're coming across.

I was one of the people with this very problem(if you scro

[2017-02-21 22:16] mgcrea commented on #884
Related RFC: https://github.com/yarnpkg/rfcs/pull/34

[2017-02-22 01:23] jgliner commented on #1458
Can confirm issue in v0.20.3

[2017-02-22 03:00] dcu-sharepoint commented on #2192
the message wasn't meant to be a rant but since I couldn't mark the text as bold, then I had not choice to to cap the statement. if it is a to point out a big security rick by a tool that clearly breaks security unlike any other tool, open source or not, then so be it.... I'm sure that if Microsoft were to break system security like this tool does, everybody would be up in arms.....

the fact is,

[2017-02-22 03:21] gaearon commented on #2192
Well, the whole permise of npm ecosystem is [you don't really know what you're installing](https://www.kb.cert.org/CERT_WEB/services/vul-notes.nsf/6eacfaeab94596f5852569290066a50b/018dbb99def6980185257f820013f175/$FILE/npmwormdisclosure.pdf). It's by design, and Yarn does not change this behavior by default since most users consider installing arbitrary packages a feature.

The reason it didn't cl

[2017-02-22 03:40] gsklee opened #2750 "Doesn't work well on Travis CI; invalid tar file"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
https://travis-ci.org/zeit/hyper/jobs/202036801#L378

Relevant discussion: https://github.com/zeit/hyper/commit/70822a31b531d8555db65b1ef9b7e781ac958ed5

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
It should not break.

**Please ment

[2017-02-22 05:06] dcu-sharepoint commented on #2192
Dan,

"Well, the whole permise of npm ecosystem is you don't really know what you're installing<https://www.kb.cert.org/CERT_WEB/services/vul-notes.nsf/6eacfaeab94596f5852569290066a50b/018dbb99def6980185257f820013f175/$FILE/npmwormdisclosure.pdf>. It's by design, and Yarn does not change this behavior by default since most users consider installing arbitrary packages a feature.

I hate to disagree

[2017-02-22 05:15] gaearon commented on #2192
You can file a new issue in this project, and describe the problem (i.e. "Yarn shouldn't require permissions for installing packages on Windows"). If npm behaves differently, the Yarn behavior could either be an oversight, or it could be a deliberate decision (e.g. to fix some other problem).

I hope this helps!

[2017-02-22 05:17] gaearon commented on #2192
Nothing makes it special, it's just an npm package. Your complaint is about how Yarn and npm install packages. It may be a bug in Yarn, or it may be something else. It's definitely not related to Create React App in any way because it has no control over the installation process, and doesn't get any special treatment from either Yarn or npm.

[2017-02-22 05:17] Daniel15 commented on #2192
@dcu-sharepoint, please avoid using excessive capital letters. You can make text bold if you write your comments on GitHub rather than via email :)

@dcu-sharepoint - There's no way to bypass Windows' directory permissions... It's likely that the Node.js directory is writable for your user or something similar, or you're running your command prompt as administrator. Alternatively, UAC File Virtual

[2017-02-22 06:07] CharlieKaufman opened #2751 "how to install the Yarn dependent package into a custom directory but not into node_modules"
**Do you want to request a *feature* or report a *bug*?**

request a feature

**What is the current behavior?**

 I want to use Yarn in the project to replace bower, how to install the Yarn dependent package into a custom directory but not into node_modules , similar to `{
    "directory" : "src/lib"
}` of ".bowerrc"
**If the current behavior is a bug, please provide the steps to reproduce.**

**W

[2017-02-22 07:21] Nexxado commented on #932
Please reopen as this still happens.
Just did `yarn add redux` and it rebuilt `bcrypt`, `node-sass` and several others.

Node v6.9.4
Yarn v0.20.3
Windows 10

[2017-02-22 08:42] patotoma commented on #1698
In the meantime I have made a workaroud with preinstall script that reveals local paths and postinstall script that hides them again. Works with yarn and lerna. You can make up your own just like that or if you are interested I can post my solution somewhere.

[2017-02-22 09:22] wenkanglin commented on #1324
the same issue ! I use :
node v6.9.1
npm 3.10.8
nvm
yarn 0.20.3

use the `yarn` add global package, the location of global package is not same as `nvm` installed global package.
And I have a question, the location of yarn installed global package is not `%LOCALAPPDATA%/Yarn/config/globa` (**window** https://github.com/yarnpkg/yarn/issues/2049)

[2017-02-22 09:23] jiripospisil commented on #932
@seansfkelley I followed your steps with the latest version and it worked. Could you try again?

[code]

@Nexxado Could you please add a few reproduction steps? I tried a few combinations but it worked.

Node 7.3.0
Yarn 0.20.3
MacOS 10.12.3

[2017-02-22 09:36] jakubzitny opened #2753 "yarn clean is not doing the same as clean during install"
**Do you want to request a *feature* or report a *bug*?**
**bug** and misleading **docs**

**What is the current behavior?**

`yarn clean` is according to [yarn clean docs](https://yarnpkg.com/lang/en/docs/cli/clean/) supposed to be done "as part of yarn install (or simply yarn) and yarn add."

When running `yarn clean` the console output says `[2/2] Cleaning modules...`. This is in the `yarn` and

[2017-02-22 10:43] roedit commented on #1961
+1

[2017-02-22 10:56] itsravenous commented on #2339
Very similar to https://github.com/yarnpkg/yarn/issues/2573

Feels like `yarn login` should ask for a password (as `npm login` does).

[2017-02-22 12:00] gustavoramos00 opened #2754 "Connection ECONNREFUSED behind a proxy with CNTLM"
**Do you want to request a *feature* or report a *bug*?**
Report a **bug**.

**What is the current behavior?**
Yarn doesn't work behind a corporate proxy with CNTLM on other port than 80. Npm works fine.

**If the current behavior is a bug, please provide the steps to reproduce.**
- Setup CNTLM with default port 3128
- Run "yarn global add yo"
- The following error occurs:

[code]

**What is the e

[2017-02-22 12:04] artbyrasen commented on #2656
how to resolve this problem?

[2017-02-22 13:20] enjikaka opened #2755 "Yarn forces install to node_modules when adding new dependencies"
**What is the current behavior?**

`yarn add --dev <package>` installs all dependencies to node_modules

**If the current behavior is a bug, please provide the steps to reproduce.**

- `rm -rf node_modules/`
- `yarn add --dev <package>`
- node_modules created and filled up

**What is the expected behavior?**

**Should be able to add dependencies without installing them.** For usage with docker whe

[2017-02-22 13:22] enjikaka commented on #2755
Dockerfile (based on https://hackernoon.com/using-yarn-with-docker-c116ad289d56#.vmx4jd31k )

[code]

docker-compose.yml
[code]

[2017-02-22 13:59] bernhardreiter commented on #1169
My suggestion is to split this issue in two or three different ones:
1. document the security approach (and getting the process started)
2. move off SHA1 to something better (recommended is SHA3 keccak for new applications like this one)
3. adding packet signing to the used repository. (Note that OpenPGP as implemented in GnuPG is a good idea and can be used with different trust models).

[2017-02-22 14:08] aouaki commented on #2730
This is most likely an error in your yarn.lock.
Try deleting it and running `yarn install` again
If this doesn't solve the issue, check the output written in the file `yarn-error.log` as advised by the CLI

[2017-02-22 14:12] bestander commented on #2755
The problem is in hoisting.
When you add a new dependency this may change your node_modules structure because some packages may be repositioned.
Yarn guarantees that node_modules structure won't be changed with the same lockfile.

The good thing is that if files are the same (mtime + size) then Yarn won't be rewriting them.

[2017-02-22 14:13] bestander commented on #2755
I'll close the issue for now.
If you have an idea how Yarn can preserve the structure while being fast with your setup feel free to reopen it.

[2017-02-22 14:14] bestander commented on #2751
Use `--modules-folder` flag

[2017-02-22 14:14] #2751 closed

[2017-02-22 14:19] bestander commented on #2750
Can't reproduce with https://github.com/zeit/hyper/blob/6842e8500a40d4218bd19ad3286ef08db96f5512/package.json.

Sometimes there may be a network response failure, maybe CDN returns error and Yarn can't  unzip the .tgz file.

Maybe this could be mitigated with a retry or switching to npm cdn.

[2017-02-22 14:20] enjikaka commented on #2755
@bestander The thing is that I need yarn to not write to node_modules at all when I do `yarn add`. The docker images handles the installation with yarn.

[2017-02-22 14:20] bestander commented on #2750
How often do you hit this?

[2017-02-22 14:22] bestander commented on #2755
Ah, you want to skip the linking phase (file copy and running scripts) but write yarn.lock and package.json in the end?

[2017-02-22 14:25] enjikaka commented on #2755
@bestander Correct. I just need the record in package.json and yarn.lock to update. A CLI option or something which makes the `add` command only do that is what I'm looking for. :)

[2017-02-22 14:28] bestander commented on #2743
Yarn clones git dependencies into a cache folder.
I think it tries to reuse the same folder second time, that might be hard because Yarn may copy some files into cache during linking phase.
I suppose instead of updating it should create a new cache folder if HEAD changed.
PR is welcome

[2017-02-22 14:29] bestander commented on #2755
As a workaround you can do this operation in a non docker environment and then copy those files into docker.
But I think the CLI option is justified, we could have it.
@enjikaka would you send a PR? :)

[2017-02-22 14:38] enjikaka commented on #2755
@bestander I can give it a try some day if I get time!

[2017-02-22 15:02] smitt04 commented on #906
Since the other repo has no issues, i think this should be opened again, unless there is an API.

[2017-02-22 15:43] hpurmann commented on #2513
@warpy Will you create a PR with this change? I can do it as well but don't want to steal this contribution.

[2017-02-22 16:09] markstos commented on #1016
@ilaif I don't have the ability to re-open it, but I'll mention @cpojer who does.

I still recommend using phantomjs-prebuilt instead (which is the latest version of phantomjs). With so many open issues, I could understand if the Yarn project chooses not to allocate resources fixing compatibility with an old, buggy package when yarn already works with the newer, recommended version of the package.

[2017-02-22 16:11] usmanatron commented on #1961
Thanks @novascreen - this worked beautifully for me!  Plus I still don't need to use npm :-)
Hope this gets fixed soon

[2017-02-22 16:51] dcu-sharepoint commented on #2192
Thanks Dan;

somehow you did not seem to get the message: YARN is not the problems, CREATE-REACT-APP IS..., nuff said..

Thank you again,

________________________________
From: Dan Abramov <notifications@github.com>
Sent: Wednesday, February 22, 2017 12:17 AM
To: yarnpkg/yarn
Cc: L. Carlos Rodriguez; Comment
Subject: Re: [yarnpkg/yarn] When installing global modules, Yarn tries to create .cmd fil

[2017-02-22 16:52] dcu-sharepoint commented on #2192
bold was not available as an option on an email message which is what I answered to...

Thanks

________________________________
From: Daniel Lo Nigro <notifications@github.com>
Sent: Wednesday, February 22, 2017 12:17 AM
To: yarnpkg/yarn
Cc: L. Carlos Rodriguez; Mention
Subject: Re: [yarnpkg/yarn] When installing global modules, Yarn tries to create .cmd file in wrong directory (#2192)

@dcu-shar

[2017-02-22 16:55] dcu-sharepoint commented on #2192
Daniel;

somehow you guys are reading what you want to read. re-read the so-called RANT and you will see (if you want to or care to) that I stated multiple times that YARN is not the problem, create-react-app is, and it installed batch files in a system directory, end of story...

________________________________
From: Daniel Lo Nigro <notifications@github.com>
Sent: Wednesday, February 22, 2017 1

[2017-02-22 17:08] gaearon commented on #2192
@dcu-sharepoint Sorry but what you’re claiming is just incorrect. Whatever the problem is, it’s entirely unrelated to `create-react-app` because it’s just an npm package and has zero control over how it gets installed.

[2017-02-22 17:29] pciavald commented on #1684
specifying in package.json would be amazing. Any ETA on this ?
http://stackoverflow.com/questions/40488421/how-to-change-yarn-default-packages-directory

[2017-02-22 18:06] cdaringe commented on #1698
@patotoma, that sounds great.  can you share?

[2017-02-22 18:15] sergey-koretsky opened #2756 "Its again and again and again: rror: EACCES: permission denied"
0.20.3

2.8.1

`
fs.js:558
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^

Error: EACCES: permission denied, open '/usr/local/share/.config/yarn/global/node_modules/arr-flatten/index.js'
    at Object.fs.openSync (fs.js:558:18)
    at Object.fs.readFileSync (fs.js:468:33)
    at Object.Module._extensions..js (module.js:579:20)
    at Module.load (

[2017-02-22 18:24] dcu-sharepoint commented on #2192
the way to correct me is for you to get a windows 10 system an install the create module. I had a friend try it and he was able to confirm my SO-CALLED claim.

otherwise, otherwise to continue is FUTILE as the saying goes.....

anywho: thanks a bunch; it's been fun.... I've got it working and for what the create-react-app, it's not worth the fight if you are not even willing to listen much less do

[2017-02-22 18:54] warpy commented on #2513
@hpurmann Please go ahead if you have the time. Thanks!

[2017-02-22 19:01] LINKIWI commented on #2739
I don't think this is a bug. As you mentioned, `npm` has exactly the same behavior when you set `NODE_ENV=production`. I don't see why `NODE_ENV=production` should *not* only install production dependencies.

[2017-02-22 19:32] cdaringe opened #2757 "yarn global add <pkg> is using the wrong repo & bogus manifest"
**What is the current behavior?**

`$ yarn global add greenkeeper@latest` fails when pointing to the public registry

[code]

 [yarn-error.log](https://gist.github.com/cdaringe/8dd54ea04601c13eddd64dde26384494)

- yarn is trying to access a registry that is used in some of my private projects, but is in **no `.npmrc` or `.yarnc`** from `<project-root>` to `/` is present ([proof of no rc, here](htt

[2017-02-22 19:44] cdaringe commented on #2757
a workaround, `sudo rm -rf ~/.config/yarn/global/*` + redo, :)

[2017-02-22 19:52] chrisblossom opened #2758 "Scoped packages missing .bin scripts"
**What is the current behavior?**
Scoped packages do not place files into node_modules/.bin

Related issues/PRs: https://github.com/yarnpkg/yarn/issues/2004 https://github.com/yarnpkg/yarn/issues/1885 https://github.com/yarnpkg/yarn/pull/2163 https://github.com/yarnpkg/yarn/pull/2313 https://github.com/yarnpkg/yarn/issues/1487 https://github.com/yarnpkg/yarn/issues/2493 https://github.com/yarnpkg/

[2017-02-22 21:28] thejameskyle commented on #2742
Reported to Crowdin, it's their markdown printer which is broken.

[2017-02-22 22:16] code-for-coffee commented on #2500
@jbw91 is correct and our organization uses a lot of private repositories that may also import others. I'm able to verify this fails as of version `0.19.1`. Maybe it is worth the time to go back and edit/test every `package.json` but that could lead to a lot of busy work. It would be great if Yarn could provide this functionality out of the box so our organization could consider it to replace usin

[2017-02-22 22:21] mldangelo commented on #2739
@LINKIWI I've got weird ci configurations that probably need to be refactored. [Here](https://github.com/mldangelo/mldangelo/blob/master/.travis.yml)'s one of them where I run tests (which rely on dev dependencies) with my application in production mode.

Would either of my suggestions be welcome? Or if this is something that you believe only I experience, I'll happily close the issue.

[2017-02-22 22:30] ide opened #2760 "[enhancement] Include prereleases (-beta.1) in peerDep semver ranges"
**Do you want to request a *feature* or report a *bug*?**
This is a half-feature request, half-bug report.

**What is the current behavior?**
Currently yarn (and npm) does not include prerelease versions of packages to satisfy semver ranges, unless those ranges explicitly ask for a prerelease version. For example, `react@16.0.0-alpha.2` does not satisfy the range `react >= 15` even though 16-dot-a

[2017-02-23 02:38] bunster commented on #1404
I'm seeing this issue as well.

[2017-02-23 06:05] DanielDeychakiwsky commented on #764
+1 ^^

[2017-02-23 06:24] rikur commented on #2260
same here with Yarn 0.20.3

[2017-02-23 07:08] Daniel15 commented on #1169
We're limited by npm... Their servers provide the hashes, and thus we can't fix the algorithm until npm moves to something better.

[2017-02-23 07:27] bernhardreiter commented on #1169
The hash has to be calculated on client side to be saved in `yarn.lock` and those files are shared to become fully reproducable, they could be extended to additionally include Keccak (=SHA3) hashes or use it alone. There are probably other potential solutions. My suggestion is to not discuss the possibilities here, but in a separate issue.

[2017-02-23 07:36] Nexxado commented on #932
@jiripospisil I have no reproduction steps to provide, simply installing an additional package causes yarn to link and rebuild everything.

Linking dependencies:
![linking dependencies](https://cloud.githubusercontent.com/assets/12609607/23249131/6daa0be0-f9ab-11e6-953e-a0176babfb35.png)

Rebuilding:
![rebuilding](https://cloud.githubusercontent.com/assets/12609607/23249141/7ccbaa02-f9ab-11e6-96d1

[2017-02-23 07:40] fizzvr commented on #2756
Fix your folder permissions /usr/local/share

[2017-02-23 08:06] halfcrazy opened #2762 "yarn add package to yarn.lock against registry in .yarnrc"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
resolved url in yarn.lock mismatch with registry in .yarnrc

**If the current behavior is a bug, please provide the steps to reproduce.**

 yarn config set registry 'https://registry.npm.taobao.org' and then yarn add xxxx,
in yarn.lock the resolved is "http://registry.npm.taobao.org/xxxxx"
**What is th

[2017-02-23 09:34] victornoel opened #2763 "Handling dependencies of dependencies and their resolution"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

This has been made visible via angular/angular-cli#4611 and angular/angular-cli#4787.

Basically, there are some dependencies to:
 - `"@angular/cli": "1.0.0-beta.32.3"` (as a `devDependencies`)
   - which depends on `"@angular/compiler" ">=2.3.1 <5.0.0"`
 - `"@angular/compiler": "4.0.0-beta.8"` (as a

[2017-02-23 10:34] ViceIce commented on #2724
Same here :(

Since upgrading nodejs from 7.3 to 7.6.
Using Windows 10 1607 (Build 14393.693).

![image](https://cloud.githubusercontent.com/assets/1798109/23255379/a4f861d6-f9bb-11e6-9bc5-ac1f6bc3f53c.png)

[2017-02-23 10:44] ingenalls opened #2764 "Publishing with yarn, breaks the installation of it"
Using yarn v0.20.3, node v7.5.0, macOS Sierra 10.12.3

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Publishing with yarn breaks the package and you can't install it. Tested on my computer and a colleagues

Installing with yarn returns
[code]
Installing with npm returns
[code]

**If the current behavior is a bug, please provide the steps to reprod

[2017-02-23 10:52] victornoel commented on #2629
I also have this problem with yarn 0.23.3, it's happening not when building an image but simply when running some CI.
The error is the following:
[code]

I think there may be some strange way of doing remove of files…

[2017-02-23 11:21] DavidBadura commented on #2739
@mldangelo You can install the dev dependencies in `NODE_ENV=production` with `yarn install --production=false`

[2017-02-23 13:13] victornoel commented on #2629
And on my machine, if I try to repro, I get this:
[code]

[2017-02-23 13:16] victornoel commented on #2629
And with yarn 0.21.2:
[code]

That's terrible!

[2017-02-23 13:23] victornoel opened #2766 "Yarn global is broken after upgrading from 0.20.3 to 0.21.2"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

I upgraded to yarn 0.21.2 by doing a `yarn global add yarn@0.21.2`
Now when I do `yarn global remove yarn` (for example), I get the following:
[code]

The same happen if I go to `/home/vnoel/.config/yarn/global/` and call any of the yarn commands.

[2017-02-23 13:24] najamkhn opened #2767 "Doesn't allow installation of local packages"
It seems like Yarn doesn't allow installation of unpublished packages. Especially if the package is fetched from a private repository?

[2017-02-23 13:32] victornoel commented on #2629
And I concur with @twooster about 0.18.1 working ok!

[2017-02-23 13:33] victornoel commented on #2629
@Daniel15 it doesn't work locally either. Actually, it NEVER work when the cache is empty for me!

[2017-02-23 13:55] ViceIce commented on #2724
I can see the same behavior with grunt. So I think is has somthing to do with [libuv 1.11.0](https://github.com/libuv/libuv/pull/1143) from [Node.js 7.6.0](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V7.md#2017-02-21-version-760-current-italoacasas).

[2017-02-23 13:59] #2513 closed

[2017-02-23 13:59] victornoel commented on #2763
For the record, I tried to use the resolutions field to force the version of the concerned dependencies, but they are just ignored…

[2017-02-23 14:15] magnushiie commented on #1585
This does not work on Windows where .cmd files are created in the bin directory for all the binaries - it is not enough to just symlink.

[2017-02-23 15:22] patotoma commented on #1698
Actually I had just find out that in new **yarn v0.20.3** you can use relative paths like:
[code]

@cdaringe so you dont need to do that thing with revealing and hiding absolute paths in lerna repo anymore. But if you want to use yarn in lerna you have to bypass lernas `bootstrap` method with `yarn install` and calling `yarn install` and creating symlinks for each package by yourself. At least tha

[2017-02-23 15:29] fmauNeko commented on #2364
I just had the same issue today when upgrading jest from ^18.0.0 to ^19.0.0, which depends on jest-cli ^18.0.0 that was also switched to ^19.0.0.
Yarn install on my CI did update jest to 19.0.0, but jest-cli stayed at version 18.x.x.
The yarn upgrade I did on my desktop before comitting everything correctly updated the lockfile with the right package.

[2017-02-23 15:50] zanza00 commented on #1698
Thanks @patotoma I have tried and it works for the first time.

With this line `"zanza00.app.commons": "file:src/commons"` yarn can install the dep without problems.

however after the install changes the import to `"zanza00.app.commons": "file://src/commons"` and with this new path it will fail.

[2017-02-23 16:10] patotoma commented on #1698
@zanza00 have you tried `file:./src/commons` ? maybe that will do the trick

[2017-02-23 16:19] zanza00 commented on #1698
Same result, after the first successful install it changes the path to the wrong one :(

[2017-02-23 16:22] samjbmason commented on #480
Is there any update on this? I am getting the same issue with `sharp` https://github.com/lovell/sharp/issues/722

[2017-02-23 16:22] seansfkelley commented on #932
@jiripospisil I am also still seeing this, but during my repro I got tripped up because it looks like leveldown (or a dependency thereof) may have started shipping an OS X-compatible binary, so the install times dropped suspiciously from 50s to 3s. If you're on OS X and you specifically `yarn add leveldown@1.4.6` instead of just `yarn add leveldown`, you should see the same behavior as before.

[2017-02-23 16:32] shinzui commented on #648
Still broken on `0.20.3` installed through homebrew on macOS.

[2017-02-23 17:14] pdesjardins90 commented on #648
Had the same problem today (homebrew installation, yarn v0.20.3). Figured that I forgot to export the bin folder to my PATH before installing global packages. I exported it using :
[code]
and then removing and re-adding global packages correctly linked the binaries. (Thanks @c0bra)

[2017-02-23 17:14] Daniel15 commented on #1169
Related:
https://security.googleblog.com/2017/02/announcing-first-sha1-collision.html?m=1

Sent from my phone.

On Feb 22, 2017 11:27 PM, "Bernhard E. Reiter" <notifications@github.com>
wrote:

[2017-02-23 17:34] voxsim commented on #633
I tried to see this with the last version of yarn and it works as expected, someone can close it?

[2017-02-23 18:47] #682 closed

[2017-02-23 19:47] gaearon commented on #2192
I will try to reproduce the issue, I'm not disputing it exists (we are discussing it in an open issue about this exact problem after all 😉 ).

All I’m saying is that your diagnosis is incorrect:

This is *not* a Create React App problem because it doesn’t manage its own installation. It is a Yarn bug, which is why we are discussing it in the Yarn repo.

[2017-02-23 20:07] dcu-sharepoint commented on #2192
Dan,

I appreciate your wisdom. however, yarn IS NOT installed on the system i'm working with now, it's never been installed and now while this issue is outstanding, it never will be installed in this system. so my question is how is it possible for yarn to come from the ether and install a couple of batch files for a single application on my window system where it's never been installed?

Anywho:

[2017-02-23 20:30] tjwebb opened #2769 "502 bad gateway"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
Installation on Heroku fails with:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Behavior is intermittent. A subsequent build with identical parameters worked.

**What is the expected behavior?**
It should not error

**Please mention your node.js, yarn and operati

[2017-02-23 20:34] gaearon commented on #2192
I assumed it is, judging by the path you provided: `\Users\Carlos\AppData\Local\Yarn\`. This is the path used by Yarn so I assumed you had it installed. If you still have issues with Create React App that are reproducible *without* Yarn, please do file a new issue in Create React App repo, and I’ll be happy to take a look.

[2017-02-23 20:39] gaearon commented on #2192
Just to clarify this point:

Create React App has no installer. npm works slightly differently from how you might be used to, from example, in Windows ecosystem.

`create-react-app` is an npm package. It doesn’t have its own installer. It doesn’t even have any code that runs on your computer until you run `create-react-app` yourself. There is no post-install code in it.

This is why you need eithe

[2017-02-23 20:52] nisaacson commented on #2769
I am seeing this as well

[2017-02-23 21:49] suchitagarwal opened #2771 "Bad release"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

``npm install -g yarn``

 installs 0.18.2

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**

[2017-02-24 00:17] emkrcko commented on #2771
This broke our CI as we install yarn via npm

[2017-02-24 01:40] warwr1ck commented on #999
[code]
node: v6.10.0
npm: v3.8.2
yarn: v0.20.3
OS: window10

[2017-02-24 02:16] beejei commented on #1658
Hi, is there any changes for this?

[2017-02-24 02:35] Daniel15 commented on #2771
Looks like this only affects the npm package. All other installation methods look fine, as does our endpoint for getting the latest version number (https://yarnpkg.com/latest-version)

[2017-02-24 02:38] Daniel15 commented on #2760
Isn't this an intentional feature of semver? The [semver spec says](http://semver.org/#spec-item-9):

"might not satisfy the intended compatibility requirements" implies that it should not match a version range that would otherwise be matched if it were not a prerelease.

[2017-02-24 03:12] gsklee commented on #2750
@bestander Not very often; guess I'll close it for now. BTW any idea on how do I retry upon failure?

[2017-02-24 03:12] #2750 closed

[2017-02-24 03:51] TOP-Chao opened #2772 "yarn add gulpjs/gulp#4.0 ~ ERROR"
error An unexpected error occurred: "https://raw.githubusercontent.com/gulpjs/gulp/3f5aba28718dc19e4bf600fb88f128158ff2ff83/package.json: connect ETIMEDOUT 151.101.100.133:443"

WTF?

**151.101.100.133:443** What is this server address?

[2017-02-24 05:33] dcu-sharepoint commented on #2192
Dan,

can we start from the beginning?

1. yarn was uninstalled from windows, COMPLETELY via the windows control panel

2. create-react-app was uninstalled via the npm uninstall -g create-react-app; this does not work in any case as nothing is removed by the npm -g unsinstall leaving the create-react-app in the system, in other word the create-react-app does not clean after itself if it is removed

[2017-02-24 05:34] dcu-sharepoint commented on #2192
this all will be fully explained later on today...

LuisCarlos

________________________________
From: Dan Abramov <notifications@github.com>
Sent: Thursday, February 23, 2017 3:39 PM
To: yarnpkg/yarn
Cc: L. Carlos Rodriguez; Mention
Subject: Re: [yarnpkg/yarn] When installing global modules, Yarn tries to create .cmd file in wrong directory (#2192)

Just to clarify this point:

I hate to disagree

[2017-02-24 06:08] ide commented on #2760
This is saying that there may be breaking changes between 16.0.0-alpha and 16.0.0 ("its associated normal version") or breaking changes between 16.1.0-alpha and 16.1.0. However, 16.1.0-alpha is implied to be compatible with `^16.0.0`. It then follows that 16.0.0-alpha satisfies `>= 15.0.0` even if 16.0.0-alpha doesn't satisfy `16.0.0`.

[2017-02-24 06:48] bjrnt commented on #2738
I'm experiencing the same issue. This seems to happen randomly and is often resolved by simply retrying the build.

[2017-02-24 08:39] SamVerschueren commented on #2771
I came across this issue because I wanted to upgrade `yarn` to the latest version so I ran `npm install -g yarn` but it kept showing version `0.18.2`.

![screen shot 2017-02-24 at 09 38 03](https://cloud.githubusercontent.com/assets/1913805/23296380/facc2c82-fa74-11e6-858a-33d58efb22ef.png)

So apparently only 15 hours ago a new release was cut. Why is it still stuck on `0.18.2`? Might be missing

[2017-02-24 08:41] Daniel15 commented on #2771
@bestander is going to fix this.

[2017-02-24 08:57] Venryx commented on #2696
Had the same issue, and solved it with solution here: https://github.com/facebook/react-native/issues/11336#issuecomment-265421547

(though in my case the problem was from running react-native-git-upgrade, rather than having two versions of yarn on my computer)

[2017-02-24 09:47] martincleto opened #2773 "Incomplete installation on Linux"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
On launching CI build job (with Travis in this case) when it comes with `yarn install` the following warning is throw: *fsevents@1.1.1: The platform "linux" is incompatible with this module.*
Then the subquently tasks fail.

**If the current behavior is a bug, please provide the steps to reproduce.**
L

[2017-02-24 09:56] jean-francois-labbe commented on #886
I just got the same issue:

[code]

It works if i run yarn install a second time

[2017-02-24 10:04] saeidalidadi commented on #2764
This issue is exactly the same that I have. for `yarn add shahcache` after `publishing` [the package](https://www.npmjs.com/package/shahcache).

[2017-02-24 10:13] martincleto commented on #2773
Update:
I finally get by to install yarn 0.20.3 locally and I can confirm the installation is OK, gonna update accordingly the issue description .

[2017-02-24 10:28] nrser commented on #1213
@ide we really want/need this... we are in the process of developing out a platform, and our preferred approach of using many small focused packages is *absolute hell* when you are co-developing them.

i wrote an ansible playbook to try and handle "knitting" the local packages (which are git submodules), but it's half-baked at best; we would love to have a solid solution incorporated into yarn, an

[2017-02-24 10:31] ide commented on #1213
I'm not sure if anyone is working on this (@bestander maybe?). If not you might be able to coordinate with the Yarn team and talk about what a PR would look like.

[2017-02-24 10:36] chadfurman commented on #944
`--network-concurrency 1` did not solve the problem for me.

[2017-02-24 10:36] chadfurman commented on #944
[code]

[2017-02-24 10:41] ramiel opened #2774 "Use shortand for gitlab dependencies"
**What is the current behavior?**
`yarn add "gitlab:mygitlabuser/myproject"`

gives an error

**What is the expected behavior?**

Should behave the same as
`npm install -S "gitlab:mygitlabuser/myproject"`

With npm this is a valid dependency also in package.json, while it doesn't work with yarn. This is actually a simple shorthand for a complete git url and work the same for bitbucket and gist

**

[2017-02-24 10:55] nrser commented on #1213
cool, thanks.

looks like you've done some contributing; what's the best way to talk to the yarn team? https://discord.gg/yarnpkg ?

as a side note, playing around with yarn 0.21.2 and looks like it now symlinks directly to the destination instead of going through a global directory, which would seem to mean you can use it link up packages and dependencies without worrying about a later `yarn link

[2017-02-24 11:04] bestander commented on #1213
Discord https://discord.gg/yarnpkg could be a good place for group discussions with the core team.

We are currently working on "workspaces" feature that should address workflows of multiple packages in a single source repository.
As for this RFC it is up for grabs, I don't think anyone is planning to work on this.

[2017-02-24 11:05] bestander commented on #2771
fixed

[2017-02-24 11:05] #2771 closed

[2017-02-24 11:06] SamVerschueren commented on #2771
Nice, thanks @bestander!

[2017-02-24 11:51] simonkberg commented on #2773
This is not an issue with yarn. The warning during installation is expected as `fsevents` is only used on OS X (which is why you get it on CI which is running on linux, and not locally where you run OS X).

Note that the message following the warning is `info "fsevents@1.1.1" is an optional dependency and failed compatibility check. Excluding it from installation`.

Your build task is failing beca

[2017-02-24 11:53] victornoel commented on #2766
Note that removing `/home/vnoel/.config/yarn/global/node_modules/` and running yarn in `/home/vnoel/.config/yarn/global/` fixes the problem.

[2017-02-24 11:56] simonkberg commented on #2772
151.101.100.133 is an address to the Fastly CDN network, which is used by npm. Sounds like you encountered a temporary connection issue. Can you still reproduce this error?

[2017-02-24 12:00] simonkberg commented on #2766
Afaik this is not a supported upgrade path. You should use one of the official installation methods for upgrades: https://yarnpkg.com/en/docs/install

Utilizing the `install.sh` script you can upgrade to the latest RC using:
[code]

[2017-02-24 12:22] victornoel commented on #2766
@simonkberg you are right, I didn't think of that… I will use the script in the future!

Still, it's strange that it doesn't work I think…

[2017-02-24 12:33] martincleto commented on #2773
Thanks @simonkberg for quick answering.
You're right on pointing it's with fsevent on non OS X systems, so I'm gonna close this issue.
Just for the records tests and build fail since I set webpack/jest modules aliases to be used throughout the codebase and they seem to require fsevents behind the scenes.

[2017-02-24 12:33] #2773 closed

[2017-02-24 12:58] gaearon commented on #2192
Well, in this case it shows that this is just how `npm` works 😉 . You can bring up your concerns with `npm` in this repo: https://github.com/npm/npm.

[2017-02-24 12:59] gaearon commented on #2192
In other words, you can run `npm install -g` with any other package, and it will be installed in the same folder. For example, `npm install -g grunt` will install `grunt` in the same place, demonstrating it is not an issue with `create-react-app`.

[2017-02-24 14:07] rbarilani commented on #2541
Same problem here. We are using nexus and yarn can't install private package correctly. In my case it refuse to install dependencies of the package that I want to install passing through the private registry.

I have an .npmrc in my project folder that looks like:

[code]

Trying to install a package published on our nexus private registry:

```yarn add @mc/ng-bundle --verbose```

This is the outp

[2017-02-24 14:50] jonaskello commented on #2769
I'm getting something similar. Intermittent `503 Service Unavailable`. Sometimes it works, sometimes it does not:

[code]

[2017-02-24 14:54] wadim commented on #828
Duplicate of https://github.com/yarnpkg/yarn/issues/2356

[2017-02-24 14:58] wadim commented on #828
@DanReyLop Thanks for sharing!

 I just got the same error with npm.

[code]

[2017-02-24 15:46] chadfurman commented on #944
Are we still going with "it's Cloudflare's fault" ?

[2017-02-24 15:56] caesarsol commented on #754
It's quite surprising, are you saying that an empty `.npmignore` does not prevent **yarn** to ignore all files in the `.gitignore`?

That is what I expect since it's what **npm** does...

[2017-02-24 15:56] caesarsol commented on #685
Isn't this an exact duplicate of https://github.com/yarnpkg/yarn/issues/754?

[2017-02-24 16:06] chadfurman commented on #944
Upgrading to the latest version for debian 8 doesn't seem to help:

[code]

[2017-02-24 16:41] #2741 closed

[2017-02-24 18:00] moimikey opened #2776 "yarn install flat not respecting semver?"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`yarn install --flat --force` isn't respecting semver

**If the current behavior is a bug, please provide the steps to reproduce.**
setting a dependency to a set semver version, in my case, `"css-loader": "0.26.1"`. the result was:

[code]

**What is the expected behavior?**
I would have expected the 2

[2017-02-24 18:09] moimikey commented on #2776
hm. somehow my `yarn.lock` got malformed:

[code]

[2017-02-24 18:43] #2776 closed

[2017-02-24 19:24] sixinli commented on #1016
seeing this in yarn@0.19.1 also

[2017-02-24 20:13] jribe commented on #1496
Not just a problem on windows. I've been seeing horrendous link times on my Mac Pro.

OS: OS X 10.11.6 (El Capitan)
Node: 7.6.0
Yarn: 0.20.3

![Imgur](http://i.imgur.com/fFyE8L3.png)

[2017-02-24 20:28] hpurmann commented on #2704
I guess this can be closed then, @bestander?

[2017-02-24 20:31] hpurmann commented on #2665
This sounds like it drastically increases complexity (and thus could introduce a lot of new bugs) for a speed improvement. I think it's actually not worth it.

[2017-02-24 20:33] hpurmann commented on #2606
Yes, we also ran into this the other day. When adding another package afterwards, yarn correctly removes the old entry in the lock file.

[2017-02-24 20:46] hpurmann commented on #2479
I can reproduce this and would like to invest some time fixing this. It would be very helpful though if one of the maintainers could shed a light on the actual intent of the `add` and `upgrade` command. It seems that [there is code which actively prevents](https://github.com/yarnpkg/yarn/blob/67cc334e5303c314f7a1949a7ddd2d77f66eb4f3/src/cli/commands/add.js#L170-L171) adding dependencies to other f

[2017-02-24 20:52] vikasra opened #2777 "package.json file generated for web-animations-js 2.2.2 is malformed"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?** Using the latest stable yarn build, package.json generated while downloading the web-animations-js ver 2.2.2 is malformed.

**If the current behavior is a bug, please provide the steps to reproduce.**

yarn install a package.json containing web-animations-js version "2.2.2"

JSON verification of the pa

[2017-02-24 21:03] hpurmann commented on #2777
It [looks like you should open](https://github.com/web-animations/web-animations-js/blob/fe71299ea0c3a61135c04d490836a8fb4259b984/package.json#L37-L39) this issue in the `web-animations-js` repository 😉

[2017-02-24 21:09] hpurmann commented on #2729
There is a verbose mode, enabled by adding the `verbose` flag, e.g. `yarn install --verbose`.

[2017-02-24 21:17] hpurmann commented on #2693
Unfortunately, most of the commands don't work if executed in sub-directories. I [don't know the desired behaviour here](https://github.com/yarnpkg/yarn/pull/1980#issuecomment-262836738).

[2017-02-24 21:31] hpurmann commented on #510
Is there any specific reason that no coverage service was enabled as of yet? It's just a few clicks and would help a lot. I think it would be good to be transparent about this.

[2017-02-24 22:08] vikasra commented on #2777
It's odd because NPM used to handle this and other packages fine. There are a number of packages that are malformed. Another example is "mime" version 1.3.4 that has a duplicate scripts key.

I'm guessing NPM used to sanitize this under the hood so a lot of projects have this issue as it never hard failed. Right now it causes issues when trying to migrate to NPM.

[2017-02-24 22:53] chadfurman commented on #944
[yarn-error.log.txt](https://github.com/yarnpkg/yarn/files/800637/yarn-error.log.txt)

[2017-02-24 22:56] chadfurman commented on #944
[code]

[2017-02-24 23:25] chadfurman commented on #944
Interestingly enough, the error seems to only happen with global installs...

`yarn add webpack` works fine
`yarn global add webpack` ETIMEDOUT

[2017-02-24 23:38] chadfurman commented on #944
I tried switching to node v6.10.0 and `apt-get purge yarn && apt-get install yarn`.

Even on node v7.6.0, `yarn global add nodemon` works.  This also works on node v6.10.0.

Same error, otherwise -- yarn-error.log attached for version 6.10.0 after installing nodemon
[yarn-error.log.txt](https://github.com/yarnpkg/yarn/files/800717/yarn-error.log.txt)

[2017-02-25 00:17] elliotchi commented on #2690
+1

[2017-02-25 00:32] cdomigan commented on #1297
Yarn link seems completely broken? Would be great to get an update from the devs on this. Is anybody having luck using link at all?

[2017-02-25 01:23] hpurmann commented on #2306
Isn't this fixed by https://github.com/yarnpkg/yarn/pull/2676?

[2017-02-25 01:26] hpurmann commented on #2324
I cannot reproduce this. Is this still present for you in current `yarn 0.20.3`? If so, can you tell us your operating system and node version?

[2017-02-25 01:27] thezanke commented on #2192
I believe I am having a similar issue... On windows (in git bash) I ran `yarn global add create-react-app` and when I tried to use it I get the following:

Strangely enough I was able to directly run that file myself, and it did exist. (Using the exact same full path starting at `/c/Program Files`.

I ran `npm i -g grunt` per your suggestion, @gaearon, and was able to run `grunt` in git bash succe

[2017-02-25 01:48] juanca commented on #2501
I opened [a pull request](https://github.com/yarnpkg/yarn/pull/2780) which mirros `npm upgrade` behavior.

[2017-02-25 01:48] juanca commented on #1573
I opened [a pull request](https://github.com/yarnpkg/yarn/pull/2780) which mirrors `npm upgrade` behavior.

[2017-02-25 02:30] n8n8baby commented on #1496
MacBook user here. I have found that it is quite a lot faster if I shut down my Visual Studio Code and Dropbox. Docker may have an effect, too.

[2017-02-25 02:40] broven commented on #2729
@hpurmann thanks, I'll try it

[2017-02-25 02:40] #2729 closed

[2017-02-25 06:24] alaadahmed commented on #1458
I have the same issue, when use yarn upgrade, it upgrade all packages, but doesn't reflect in package.json file. v0.20.3 .. really annoying. I noticed also when use "yarn install", it install latest versions of all list packages in package.json and doesn't stick with versions mentioned in it, so it is like yarn upgraded them to latest version and also doesn't reflect that in package.json but it sh

[2017-02-25 08:16] simoami commented on #2014
same issue here with circleci failing eslint:
[code]

[2017-02-25 08:27] simoami commented on #1215
still happening with yarn 0.18.1

[2017-02-25 08:50] nkt opened #2781 "Allow install only production dependencies in flat mode."
**What is the current behavior?**
`yarn install --prod --flat` asks resolution for both production and development modules and then install all of them.

**What is the expected behavior?**
`yarn install --prod --flat` should install only production dependencies.

[2017-02-25 11:43] meridius opened #2782 "Custom node_modules location via modules-folder in package.json"
**Do you want to request a *feature* or report a *bug*?**
feature complementing already existing and working `install` option

**What is the current behavior?**
There is no way to set Yarn to permanently (per project) install dependencies to custom directory.

**What is the expected behavior?**
Although custom install directory can be set on CLI via `yarn install --modules-folder vendor/node_modul

[2017-02-25 11:43] jordwalke commented on #480
We have a potential solution for binary relocation from cache. We've tried it with [esy](https://github.com/reasonml/esy) and we can bring the solution to Yarn, perhaps.

[2017-02-25 11:58] timlar commented on #2324
@hpurmann I've found the solution. Just need to remove `.yarnclean` file, remove `node_modules` directory and execute `yarn install`.

[2017-02-25 14:40] anagami opened #2783 "Problem with build production bundle in webpack@2"
**Do you want to request a *feature* or report a *bug*?**
possible bug

**What is the current behavior?**
When build production bundle with webpack, result bundle.js contain 4 version same library(in my case - lodash)

**What is the expected behavior?**
If delete `node_modules` and all reinstall with `npm i` - problem resolved. In production build only one lodash

**Please mention your node.js, ya

[2017-02-25 14:45] gaui commented on #1458
@kittens v0.20.3 @ Windows and still doesn't update package.json - only yarn.lock file. You should reopen this.

[2017-02-25 16:21] chadfurman commented on #944
adding the `-D` flag allows the operation to complete, but `webpack` does not install.  It's not present at `~/.config/yarn/global/node_modules/.bin/webpack` and cannot be run.  Same with `-O` and `-P`

Other things like `sudo, `--modules-folder`, `--cache-foloder`, `--global-folder` also have no effect.  Still getting timeouts

[2017-02-25 16:36] kylecordes commented on #2763
It is possible to work around this by running yarn, manually editing yarn.lock, deleting node modules, and rerunning yarn. Not fun.

[2017-02-25 18:17] philtay opened #2784 "check verify-tree doesn't work with modules-folder"
**Do you want to request a *feature* or report a *bug*?**
**bug**

**What is the current behavior?**
The `verify-tree` option of the `check` command doesn't take into account the `modules-folder` general option.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
It should just work...

**Please mention your node.js, yarn and ope

[2017-02-25 18:18] jonknapp commented on #1321
FYI, I had to add `yarn global bin` to `PATH` before I added NVM via Homebrew. Works great for me, yarn added through homebrew on Mac.

[2017-02-25 20:55] bradley-curran commented on #2064
I've been doing some more digging and it seems the issue is that yarn doesn't read all npm config files that npm itself uses.

Yarn should read all files defined in [npm's npmrc documentation](https://docs.npmjs.com/files/npmrc)

[Currently yarn only reads config files](https://github.com/yarnpkg/yarn/blob/67cc334e5303c314f7a1949a7ddd2d77f66eb4f3/src/registries/npm-registry.js#L98) from:

- `./.np

[2017-02-25 22:24] FredyC commented on #2665
Yea, I don't have any insight on inner working of Yarn, so it's very possible it's not fit for something like that. It's merely a suggestion for a future times in case someone would want to hunt a speed even more. Honestly sometimes I feel that Yarn is actually slower on bigger projects.

[2017-02-25 22:40] publicarray commented on #2064
@bradley-curran thanks so much for looking into this, from now on I'll use the npmrc file. (didn't know that the npmrc existed until now). Just a small word of warning that npm will also install global packages to prefix set in in the npmrc and no longer in `/usr/local/Cellar/node/7.6.0/` as previously.

[2017-02-25 23:41] mcavanagh opened #2785 "Yarn under Git Bash replaces forward slash in package name with escaped backslash"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When trying to add a package with a forward slash in the name using Git Bash (MinGW terminal), the forward slash is replaced by 2 backslashes

**If the current behavior is a bug, please provide the steps to reproduce.**
- Run yarn under the Git Bash terminal emulator on Windows 10.
- Try to add a packa

[2017-02-26 03:35] moimikey commented on #2165
so obviously this is still a problem? it's quite annoying to develop with, to be honest. it's causing a bit of a disruption for me on a personal level at work, where i'm making use of `file:` to create a modular development environment. the sucky part is that every local package that I edit (using the `file:` path in `package.json`), requires doing this, in order to pull down the refreshed content

[2017-02-26 03:47] janaz commented on #2703
Here are some additional details after debugging the code:

The `ignorePatterns` list is populated correctly with [`chai@3.5.0`, `nock@9.0.6`]

The `markIgnored` function is trying to calculate the total number of requests to the pattern. If there's more than 1 request the package will not be ignored.

When `markIgnored` is executed for `chai@3.5.0` the `ref.requests` array is:
[code]

The first e

[2017-02-26 03:51] janaz commented on #2703
To summarize, the issue is when

(1) in our `package.json` we define:

[code]

(2) The `package.json` of the module C is:

[code]

then:

`yarn install --production`

will install package B (+its dependecies)

[2017-02-26 05:44] robclancy commented on #764
Nope just being ignored like usual when big companies make an open source project. If it works for them then who cares if something like this happens.

[2017-02-26 07:21] carloscalla commented on #1505
@mgol I was just recommended by a friend to use yarn. I look into its installation steps and it says that brew install yarn will install yarn and nodejs if it is not installed. Since this installation is by homebrew I guess homebrew will check if node is installed by homebrew or if it is in /usr/local. I installed node using n with n-install (great choice to install n). I don't know if running bre

[2017-02-26 07:31] farhan711 commented on #2306
Yes Isn't fixed by #2676

[2017-02-26 08:24] noahziheng commented on #2197
same bug on Arch Linux,yarn 0.20.3

[2017-02-26 09:02] GordonSmith commented on #610
FWIW In my case it seems related to having uncommitted changes in the folder being published.

[2017-02-26 10:47] benlangfeld commented on #764
Contribute a fix or take a hike @robclancy

[2017-02-26 10:52] robclancy commented on #764
lmao I love that logic... if something is open source it doesn't matter how many billion dollar companies are behind it with an issue people come into over and over with zero response, the fanboys will defend it blindly.

It's angular and their broken docs all over again.

Go fanboy somewhere else.

[2017-02-26 11:09] benlangfeld commented on #764
You sir are a fool if you think I could ever be a fanboy of anything written in JavaScript. But or course you are only here to troll, not to contribute anything meaningful. You can probably expect this issue to be locked soon as a result.

[2017-02-26 11:12] robclancy commented on #764
Actually I was here complaining about an issue that should have a fix or at the very least a response by now, like others. You are here to argue with someone on the internet like a little fanboy.

How about you fix this or take a hike.

[2017-02-26 11:15] benlangfeld commented on #764
Others are her to ask politely about potential progress on the issue. Yarn was never sold to you, so keep your complaining to yourself. You're being "that guy" that makes open-source a pain in the ass.

[2017-02-26 11:17] robclancy commented on #764
How ironic.

You're one of these open-source heroes. Go on I'm sure there is another library out there being neglected that you can blindly defend. Be gone hero. Do your work.

[2017-02-26 13:10] #2772 closed

[2017-02-26 15:58] bestander commented on #2306
#2676 gives an acceptable hoisting structure for most cases based on how often a dependency would be repeated if installed without hoisting.
This feature request could address some edge cases where developers might want to override that logic.

I'd say this is now a low priority until we see some real life examples where it would help.
I don't think anyone is focusing on it currently, so anyone is

[2017-02-26 16:10] bestander commented on #2165
Everyone is welcome to contribute to the project.
It could be anything - submitting a broken integration test for this case, a fix or convincing someone to work on the fix.
If you want to chat about the best way to approach that, you can find help on the discord channel.

[2017-02-26 16:11] bestander commented on #2165
I actually think that the fix should be 10-15 lines of code, it will probably save a lot of time fixing it sooner

[2017-02-26 16:21] gaboesquivel commented on #1628
I'd personally prefer matching with Unix commands:  `ls`, `rm`.  For consistency across tooling.
Adding aliases would be nice.

[2017-02-26 16:23] #2704 closed

[2017-02-26 16:24] #2625 closed

[2017-02-26 16:26] bestander commented on #2690
I think this happens when you switch between a repo with offline cache and the one without it.
The non offline cache repo creates a global cache folder for every package in a non offline mirror compatible way.
We'll need to sort it out the sooner the better

[2017-02-26 16:28] bestander commented on #2690
The more reasons to keep yarn.lock unchanged when using offline mirror and making substitutions based on current config during install time.

[2017-02-26 16:34] bestander commented on #886
PR is welcome

[2017-02-26 16:58] c0d3rm0nk3y commented on #2570
ditto here.  i'm trying to install polymer-cli --dev and getting same issue.

environment pi0 w/latest pixel release.

[2017-02-26 17:40] c0d3rm0nk3y commented on #2570
it worked when i did 'yarn init' first on the directory i was in even though it was a --dev install.

[2017-02-26 22:40] SenHeng commented on #1505
Until brew finds a way to play nice with nvm, it's probably easier to install yarn using npm.

[2017-02-27 01:03] thegreatsunra commented on #2496
With this combination, `yarn add leveldown` works for me now:

* Node version 6.10.0
* npm version 4.3.0
* Yarn version 0.20.3
* macOS 10.12.3

[2017-02-27 01:11] Babazon commented on #1458
I'm dropping yarn and switching back to npm because of this bug. No matter how I try to upgrade my packages, yarn will fetch the newest ones into the cache, and keep the old versions in my package.json and in the node_modules folder. What's the point?..

[2017-02-27 01:12] chrisatomix commented on #2769
Also experiencing this issue, but we're using Gitlab:
[code]

[2017-02-27 01:21] joscha commented on #1834
I am still seeing this error with `0.20.3`:

[code]

[2017-02-27 01:35] Daniel15 commented on #2785
Since you said it works in cmd.exe but fails in Git Bash, I wonder if it's Git Bash that's doing something odd.

[2017-02-27 01:35] Daniel15 commented on #2774
Feel free to send a pull request adding this if you like.

[2017-02-27 01:37] Daniel15 commented on #2769
This is a Cloudflare issue as it's coming from their CDN edge servers (particularly the Varnish error 503). @thejameskyle, @kittens - Do we have a contact at Cloudflare that could help with this?

[2017-02-27 03:39] zamb3zi commented on #2496
I can confirm this is now fixed for me on Windows 10 after upgrading to Yarn 0.20.3.

[2017-02-27 04:48] splintercode commented on #2763
Was able to get this running with what  @kylecordes said as well

[2017-02-27 05:11] thejameskyle commented on #2769
There doesn't seem to be a significant issue:

<img width="979" alt="screen shot 2017-02-26 at 9 06 51 pm" src="https://cloud.githubusercontent.com/assets/952783/23349374/8db6ca90-fc67-11e6-986c-0a90b8c6f9e1.png">

In the last month these were the top errors (by when the peaked):

- 444 (No Response): 4,562 (0.02%)
- 522 (Origin Connection Timeout): 2,045 (0.00%)
- 521 (Origin Down): 256 (0.00%)
-

[2017-02-27 06:24] boneskull commented on #2666
👍  here.  `--ignore-optional` does *not* work with `install`, but only `add`.  e.g.:

- If I run `yarn add ascoltatori --ignore-optional` in my project, then `ascoltatori`'s optional packages **will not** be installed.
- If I run `yarn add bluebird` thereafter, Yarn attempts to install `ascoltatori`'s optional packages (ouch!).
- If I run `yarn install` in my project, Yarn attempts to install `asc

[2017-02-27 06:48] carloscalla commented on #1505
@SenHeng Hi, I read that in their installation page but they don't recommend it and I am not sure how that would impact on yarn's performance :(

[2017-02-27 07:52] oshalygin commented on #764
I would totally contribute and help but I was looking through the source code and I was legitimately confused on where to even start.

There are projects which I can contribute to with code and I tend to prefer that path.  There are other projects where I can only report an issue and hope that someone that's more knowledgeable with the codebase can help find the root cause.

This is definitely the

[2017-02-27 07:57] SenHeng commented on #1505
@carloscalla

It's not recommended because they wanted to avoid the 'using a package manager to install a package manager' joke. Performance wise it shouldn't affect anything.

[2017-02-27 08:10] carloscalla commented on #1505
@SenHeng Thank you very much, your comments were very helpful :D

[2017-02-27 08:47] mgol commented on #1505
@carloscalla the main problem is that you'll have to suffer npm bugs while installing yarn (it did happen to me a few times to get a broken package in the past).

[2017-02-27 08:52] JaysQubeXon commented on #743
I second with ArtistsTechGuy, upgrading to latest versions solved the issue.

[2017-02-27 09:16] Eladriell commented on #792
Has there been any update on this since October?
It's necessary for projects in my company to migrate to Yarn.

[2017-02-27 10:05] albertfdp commented on #2333
I added a failing test for this https://github.com/yarnpkg/yarn/pull/2775

[2017-02-27 10:54] donaldpipowitch commented on #1496
I can confirm that it is _very_ slow on Mac 10.12.3, too. And it seems it is _way_ slower than others in this thread. yarn sometimes tries to link around 600.000 files in small projects. This can take more than 30 minutes. I currently try it with a clean cache and nightly (v0.22.0-20170226.1626). I use the official registry as well as a custom private registry for certain scoped packages. However

[2017-02-27 11:30] SimenB commented on #792
You can add an .npmrc file?

[2017-02-27 11:33] bestander commented on #2699
Ok, I'll close this as we can't probably do anything about it

[2017-02-27 11:33] #2699 closed

[2017-02-27 11:33] bestander commented on #2784
Good point, PR is welcome

[2017-02-27 11:34] FezVrasta opened #2786 "yarn publish gets stuck on publishing"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The `yarn publish` command gets stuck on the `[3/4] Publishing...` step.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Clone https://github.com/FezVrasta/popper.js
2. Run `yarn publish`
3. Notice it gets stuck on "publishing"

**What is the expected behavior?**
The pu

[2017-02-27 11:34] bestander commented on #2783
Could you explain a bit more please?
How to reproduce the issue?

[2017-02-27 11:38] bestander commented on #2766
I think there should be warning about `yarn global add yarn` command.

I'll close for now because I don't see an action to do in this case.

[2017-02-27 11:38] #2766 closed

[2017-02-27 11:38] bestander commented on #2767
Please provide clarification with an example

[2017-02-27 11:40] bestander commented on #2781
PR is welcome

[2017-02-27 11:41] ramiel commented on #2774
If I have time it'll be a pleasure!

[2017-02-27 11:46] bestander commented on #2782
I think all flags should be configurable via .yarnrc.
Not sure if we should allow yarn specific config via package.json

[2017-02-27 11:51] bestander commented on #2109
Yeah, I think this worked out because you had caches intact.
From a clean slate Yarn would not know where to pull `JSONStream-1.2.1.tgz#32aa5790e799481083b49b4b7fa94e23bae69bf9` from.

[2017-02-27 12:58] ramiel commented on #2774
I investigated and discovered that yarn is totally capable to resolve that kind of dependency references (i.e. gitlab:mygitlabuser/myproject). The problem is, it is not able to download private packages. On the opposite npm is capable of doing it. The problem, I think, is that npm resolves the shorthand into the url
[code]
while yarn transforms it into
[code]
and so, it encounters authentication p

[2017-02-27 13:00] bestander commented on #2692
Yeah, I can repro that

[2017-02-27 13:00] ramiel commented on #2774
Or maybe that url is only used to get back the ref from the repository. In any case npm does something different to retrieve it.

[2017-02-27 13:13] donaldpipowitch commented on #2165
FYI: It could be that this issue is also relevant for slow `linking dependencies` steps. See my comment here: https://github.com/yarnpkg/yarn/issues/1496#issuecomment-282688818.

Sorry. I couldn't found the time to create another PR for this issue :( I was (and still am) very busy.

[2017-02-27 13:44] schacki commented on #2191
Any updates on this issue? I do have the same problem

[2017-02-27 13:57] sambernet opened #2788 "yarn upgrade [pkg@tag] does not upgrade dist-tag version"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

When using a dist-tag dependency in the `package.json`, (example using `kw-util@bump`), `yarn add` will install the version the tag currently points to and add it to `yarn.lock`.

Now when a new version is published to the repo and the tag is updated to point to the new version, `yarn outdated <packag

[2017-02-27 14:46] bestander commented on #2692
@Riokai, can you do `rm -rf /usr/local/lib/node_modules/yarn/updates`?
This should sort out issue with self-update feature that we removed now.

[2017-02-27 14:47] bestander commented on #2678
Could be duplicate of https://github.com/yarnpkg/yarn/issues/2714

[2017-02-27 14:47] bestander commented on #2629
@victornoel the recent error could be https://github.com/yarnpkg/yarn/issues/2714

[2017-02-27 14:49] bestander commented on #2552
Can you try removing `npm uninstall -g yarn` and install it again?

[2017-02-27 14:52] bestander commented on #2438
Renaming a command should go through RFC, feel free to send one.
As for improving, send a PR with extra logs to educate people what this command does ,I think no one will object to that

[2017-02-27 14:54] bestander commented on #2389
Can't repro
[code]

[2017-02-27 14:56] bestander commented on #2714
@SomeoneWeird, thanks for finding the cause, I'll follow up with #2744 now

[2017-02-27 14:56] #2714 closed

[2017-02-27 15:00] matanlb opened #2789 "yarn install --prod fails because of missing local devDependency"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`yarn install --prod` fails if a local devDependency is missing.
_error "/path/to/package" doesn't exist._

**If the current behavior is a bug, please provide the steps to reproduce.**
here is a subset of the my package.json:
[code]
Running `yarn install --prod` in an environment where fixtures project

[2017-02-27 15:04] willin opened #2790 "yarn global add no use"
**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**Please mention your node.js, yarn and operating system version.**

Yarn v0.20.3
Node v7.6.0 (brew)
OS X 10.12.3

[2017-02-27 15:06] victornoel commented on #2629
@bestander I did try 0.19.1 at the time and it didn't work…

I retried, and now the bug:
 - does not appear with an empty cache, but does appear in the following case (I really hope it is reproducible…):
   - `rm -rf` the yarn cache
   - clone https://gitlab.com/linagora/petals-cockpit.git
   - checkout 5f31ccb4b2357201baa50539b30702cffceb6992
   - run yarn in the `frontend` directory
   - checkou

[2017-02-27 15:08] victornoel commented on #2629
(actually, I just tried again and reproduced the bug with an empty cache and yarn 0.21.2 while it wasn't the case before, maybe there is another file somewhere else that is the source of this problem, and that is not in the cache?)

[2017-02-27 15:12] victornoel commented on #2629
@bestander I will still test yarn as soon as#2744 is available as a nightly build :)

[2017-02-27 15:24] jy95 commented on #1610
Same for me :
`npm install mulesoft-labs/osprey-method-handler#pull/18/head --save`

works but Yarn throw me an error with :

`yarn add mulesoft-labs/osprey-method-handler#pull/18/head`

[2017-02-27 15:25] bestander commented on #2629
Ping me if I can help.
The best action is to send a PR with a broken (and skipped) e2e test.

[2017-02-27 15:32] code-by commented on #764
Same issue, hangs on totalpackages - 1
ubuntu linux 4.4.0-64-generic x86_64
node 6.2

[2017-02-27 15:33] victornoel commented on #2629
@bestander well, nope, I still get errors such as:
[code]
or:
[code]

I will see if I can make an e2e test.

[2017-02-27 15:52] moimikey commented on #2783
@anagami i wouldn't necessarily consider this a `yarn` problem or even an `npm` problem for that matter; this is just the state of dealing with nested dependencies. Dependency A may use lodash@3 while Dependency B may use lodash@4, and you happen to pull in both Dependency A and B:

[code]

It may not even be this case, it might even be the same version of lodash. Once again, not a `yarn` or `npm`

[2017-02-27 15:57] moimikey commented on #2763
i've dealt with this too unfortunately. my solution has been to simply regenerate the lock file :/, even if it means rm'ing it and regenerating it. i install my dependencies `flat`, so during the "choose version" question and answer game, if I accidentally select the wrongly resolved semver, i'm stuck in that choice and need to rebuild yarn.lock again to get the correct version resolved.

[2017-02-27 16:23] maxime1992 commented on #2763
@moimikey erasing the `yarn.lock` is not an option here (for those who don't use flat). Indeed, upgrading to angular v4 while angular-cli still have a dep on angular v2 give something like that in `yarn.lock` :

[code]

So we have to change it by hand to
[code]

[2017-02-27 16:27] #2546 closed

[2017-02-27 16:28] bestander commented on #872
@davidcalhoun, probably your cache folder was created by a su user.
Try removing /Users/davidcalhoun/Library/Caches/Yarn

[2017-02-27 17:01] jonaskello commented on #2769
FWIW I'm still seeing a lot of intermittent 503 today. Our CI servers have a lot more than 20 builds that has failed with this error. I'm thinking maybe it is a DNS issue.

Anyway, I found this excellent [blog post](https://yarnpkg.com/blog/2016/11/24/offline-mirror/) about using offline-mirror in yarn. We are switching our projects to this workflow. I guess this workflow would be good for anyone

[2017-02-27 17:34] bestander commented on #2764
Does it break .tar.gz for good?
Can you install it with npm after that?

[2017-02-27 17:35] bestander commented on #2758
PR welcome

[2017-02-27 17:36] thejameskyle commented on #2769
@jonaskello I'm afraid that generally when errors are not spiking on our end, It's most likely something on yours that we cannot fix.

[2017-02-27 17:56] juanca commented on #2501
This should be fixed. Please double check.

[2017-02-27 17:56] juanca commented on #1573
This should be fixed. Please double check.

[2017-02-27 18:01] bendemboski commented on #2489
Isn't this a dup of #1435 ?

[2017-02-27 18:09] Daniel15 commented on #2769
@thejameskyle  I don't think that graph shows the full story. I feel like I've encountered the 503 error more than 10 times myself, and I don't even use Yarn that frequently. Whenever it happens, using npm works fine. @jonaskello also mentioned that he has more than 20 builds failed with that error, so CloudFlare's stats seem incorrect.

I might set up some basic monitoring (eg. try to download a

[2017-02-27 18:10] benjie commented on #764
Upgrading to Node 6.8.1 or above seems to fix this issue for most (but not all) people; give that a try. I've not seen the issue since upgrading back in October. Node 7.6 has native support for async/await if that sweetens the deal 😉

[2017-02-27 18:12] thejameskyle commented on #2769
Unless this issue becomes wide spread I'm gonna keep saying it's probably something wrong at your end. If we had a spike in errors there would be people pouring into our issue tracker.

[2017-02-27 18:34] anagami commented on #2783
@moimikey you right - different major versions lodash.
i try `yarn install --flat` - in my case this install ask to many questions about which version install
`webpack.optimize.DedupePlugin()` move inside wp2 and this call depricated

[2017-02-27 18:34] #2783 closed

[2017-02-27 19:29] krishnagupta21 opened #2793 "403 Forbidden Error when trying to run `yarn install`"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Getting a 403 error when trying to run `yarn install`
[code]
(btw it gives the same error on a different package everytime, so its not related to froala)

**If the current behavior is a bug, please provide the steps to reproduce.**
Run `yarn`

**What is the expected behavior?**
yarn.lock file should be

[2017-02-27 19:35] davidgoli commented on #756
`yarn install` is deprecated by `yarn add`, and `yarn add --force` does not respect the versions specified in package.json or yarn.lock. `yarn add --force` is not equivalent to `npm rebuild`.

[2017-02-27 20:39] sealocal opened #2794 "Installation Problem: AWS EC2 or Elastic Beanstalk"
**Which operating system are you using:**

Amazon Linux 2016.09 v2.3.1 running Ruby 2.3 (Puma)

**Please describe the steps you took when trying to install Yarn and what went wrong:**

This is not really a problem, but more of a feature request.

I'm attempting to go with the recommended installation methods and avoid installing with npm, so I used the yarn rpm repo.

I want to be able to install

[2017-02-27 20:51] pfazzino commented on #1462
Any update on this issue? Still failing with 0.19.1 on ubuntu

[2017-02-27 22:11] jonaskello commented on #2769
I would tend to agree that if it is only affecting a few clients it is something local. What strikes me as odd though is that the request gets a response from the server. If there were network issues that impeded the request, I would not expect the server to send a response like 503. From what I understand, getting this response implies that the http connection is fully functional all the way to t

[2017-02-27 22:31] kamilogorek commented on #2132
After some debugging, and using `yarn add request request-promise-native` as a test case, I found that the main issue is this code:

https://github.com/yarnpkg/yarn/blob/4e4075fd59d3db07632c884992bb17f664a291c1/src/package-linker.js#L315

[code]

is expecting a `pattern` in a very specific form eg. `request@^2.79.0`, which is available in `this.resolver.patterns` map.

However, what's passed is ju

[2017-02-27 23:01] jeffturcotte commented on #1487
**Would love to see this fixed**. npm scripts referencing local binaries must inconveniently use the full paths. Thanks!

[2017-02-27 23:13] MikeTaylor commented on #1213
@nrser wrote:

May I add a big AMEN? This is precisely how we're working too, and while `yarn link` is a big step forward from `npm link`, it's still far from the right thing. I would love to see `yarn knit` implemented.

[2017-02-27 23:47] MikeTaylor commented on #1585
How is this a bug? Surely a local yarn install shouldn't put _anything_ in a global area.

[2017-02-27 23:49] meridius commented on #2782
Maybe, but even using `yarn config set modules-folder vendor/node_modules` does not make it use the specified directory. Is it not implemented yet?

Btw, there is only one brief mention of `.yarnrc` file on https://yarnpkg.com

[2017-02-27 23:51] #828 closed

[2017-02-27 23:51] bestander commented on #2782
Yeah, it is not yet implemented.
Great if you send a PR :)

[2017-02-28 00:13] bestander commented on #2790
You just need to add ~/.config/yarn/global/node_modules/.bin to your PATH.

[2017-02-28 01:59] Alxandr opened #2798 "Homebrew formulae outdated"
Yarn gives warning that:

    warning Your current version of Yarn is out of date. The latest version is "0.21.3" while you're on "0.20.3".

yet, when I try to update it using homebrew this is the latest version available.

[2017-02-28 02:13] willin commented on #2790
i used to:

[code]

but now i have to add another one:

[code]

is it a bug of `yarn global bin`?

[2017-02-28 05:04] ingenalls commented on #2764
Nope, trying to install that .tar.gz manually does not work.
That got me thinking... It seems like the packaging is the breaking part. Ran `yarn pack` and tried to install that tar-file but it was broken aswell

[2017-02-28 06:11] Daniel15 commented on #2798
This needs to be sent to the Homebrew project using the `brew bump-formula-pr` command. Here's an example PR: https://github.com/Homebrew/homebrew-core/pull/9984

[2017-02-28 06:11] #2798 closed

[2017-02-28 06:19] Daniel15 opened #2799 "Race condition when creating GitHub releases"
The release scripts for Yarn create a new GitHub release.

 - The script that uploads Linux builds creates the GitHub release if it doesn't exist yet, and always creates it as a prerelease: https://github.com/yarnpkg/yarn/blob/408152960f75536ebad1d001e67fb365bbc0e644/circle.yml#L52
 - The script that uploads Windows builds also creates the GitHub release if it doesn't exist yet, and never creates

[2017-02-28 06:46] volkovasystems commented on #2678
I tried again I upgraded to 0.21.3 but it is still not working.

[2017-02-28 06:48] volkovasystems commented on #2678
Here's is the new error log file.
[yarn-error.txt](https://github.com/yarnpkg/yarn/files/805921/yarn-error.txt)

[2017-02-28 06:49] Eladriell commented on #792
Sure.
All our projects that publish modules look like this:

.npmrc
[code]

.yarnrc
[code]

package.json
[code]

Here both Yarn and npm will try to fetch foo from registry/a, however only npm will consider the publishConfig and try to publish on registry/b.

[2017-02-28 07:18] SimenB commented on #792
Ah, yarn doesn't respect `pubilshConfig`... Didn't know! I still publish using npm (habit, I suppose), so haven't hit that one

[2017-02-28 07:42] Riokai commented on #2692
@bestander Okay

[2017-02-28 08:04] alexdevero commented on #1458
Yes! I can confirm that Yarn v0.21.3 finally updates package.json, at least ```yarn upgrade-interactive``` command.

[2017-02-28 08:46] #2730 closed

[2017-02-28 08:57] csvan commented on #1016
I can reproduce this with yarn 0.20.3 and phantomjs-prebuilt 2.1.14.

**However, this is only reproducible under Linux.** On Windows 7 under Cygwin it works fine.

[2017-02-28 09:13] OmerHerera opened #2800 "Running Yarn engines in package.json are ignore"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`engines` in `package.json` are ignore at least for `node`

**If the current behavior is a bug, please provide the steps to reproduce.**

- Add to `package.json`

[code]

- Run `yarn`

**What is the expected behavior?**
Yarn won't success installing dependencies if `node` version doesn't match criteria

[2017-02-28 09:28] phxism commented on #2224
This problem occurs again.
Node v6.10.0,
Yarn 0.20.3,
npm v3.10.9,
Git 2.10.2,
OS Win7x64SP1
Node Path:E:\Dev\nodejs\
I install yarn with msi installer,when i run"yarn global add vue-cli", the text of"E:\Dev\nodejs\vue.cmd" is
`@"%~dp0\C:\Users\HAP\AppData\Local\Yarn\config\global\node_modules\.bin\vue.cmd"   %*`
It is wrong.

[2017-02-28 09:46] petetnt commented on #2799
I just ran into this myself (I think)? I installed some modules and saw a warning that `Your current version of Yarn is out of date. The latest version is "0.21.3" while you're on "0.20.3"`. Went to upgrade it with `brew`, but it wasn't available. Went to check the website and it said that latest version (https://yarnpkg.com/latest-version) is 0.21.3. Clicked the link on the front page that said `

[2017-02-28 10:28] bestander commented on #2678
Something is wrong with the paths to global folder.
levy is running some post install scripts and probably has wrong assumption about folder location.

[2017-02-28 10:55] bestander commented on #2764
So can you reproduce `yarn pack` producing a broken .tar.gz?

[2017-02-28 11:06] bestander commented on #2790
Not sure but I think it needs some investigation

[2017-02-28 11:21] Alxandr commented on #2798
Regardless of how it has to be updated it's still an issue, so I feel closing this is rather premature.

[2017-02-28 11:21] mirague commented on #998
+1 would love to see this!

[2017-02-28 12:23] hx-markterry commented on #2774
This line here tries to check to see if accessing a private repo would work over HTTP:

https://github.com/yarnpkg/yarn/blob/4fc2fe3ce4b19a90a3bbe2fd423bf543b3186f14/src/resolvers/exotics/hosted-git-resolver.js#L204

it always seems to pass, if you change it to return false, packages will be installed via git successfully.

I wonder if a "prefer git" CLI option could be used here, or have a better

[2017-02-28 12:45] mschipperheyn opened #2802 "yarn add @next adds "next" as version number"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When you install
yarn add package@next

package.json
"package": "next",

**What is the expected behavior?**
package.json
"package": "^0.0.2-beta4",

**Please mention your node.js, yarn and operating system version.**
node 6.1.0, yarn 0.21.3, mac osx

[2017-02-28 13:31] ramiel commented on #2774
Npm check http first,for what I can see in the logs,than fallback to git+ssh

[2017-02-28 14:21] alexisvincent commented on #648
For me (macOS Sierra and yarn `0.21.3`) this is now working for me (where it wasn't before). Had to `yarn global remove -----` && `yarn global add ----`.

[2017-02-28 14:42] markstos commented on #1016
@csvan Could you post the output of your failure to build `phantomjs-prebuilt` on Linux?

[2017-02-28 14:57] sonarct commented on #1016
@markstos Good day. There is no more problem with yarn and package phantomjs-prebuilt. I installed it successfully just now.
OS: Arch Linux 4.9.9-1
nodejs: v7.5.0
yarn: v0.21.3

Thanks to all

`xm@localhost:http/testtest $ yarn add phantomjs-prebuilt
yarn add v0.21.3
info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh pa

[2017-02-28 15:01] csvan commented on #1016
@markstos getting this on CentOS 7 when running `yarn install` in a project with ` "phantomjs-prebuilt": "^2.1.14"` as a dep:

[code]

[2017-02-28 15:03] sternbel opened #2803 "Yarn - typedoc theme assets folder is missing"
operating system: OSX El Capitan 10.11.6
node.js: 6.5.0
yarn version: 0.20.3
typescript: 2.1.6
typedoc: 0.5.7

**I want to report a *bug***

The following works fine with npm and doesn't with yarn.

**What is the current behavior?**

When running yarn install with the following package.json dep (Typedoc latest), assets folder is missing in typedoc-default-themes.

*package.json*
[code]

**What is

[2017-02-28 15:17] markstos commented on #1016
@csvan Your failure is in "findSuitableTempDirectory". You apparently don't have permission to write to several possible temp directories on your system. See:

https://github.com/Medium/phantomjs/blob/master/install.js#L105

That appears to be your problem, not `yarn`s. Try again after setting your own environment variable to a working value: `npm_config_tmp=/some/tmp/dir/you/can/actually/write/to

[2017-02-28 15:17] spongessuck opened #2804 "`yarn install` not populating node_modules with downloaded packages."
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

`yarn install` isn't copying downloaded packages to `node_modules`. It works properly with the `--force` flag (but then has to re-download all dependencies).

**If the current behavior is a bug, please provide the steps to reproduce.**

Run `yarn install` on a project without a `node_modules` folde

[2017-02-28 15:27] csvan commented on #1016
@markstos great catch, I will try that. Does NPM do this by default? The above project builds fine with NPM  3.10, it only fails under Yarn.

[2017-02-28 15:29] csvan commented on #1016
@markstos nvm, just noticed NPM does set this var whereas Yarn doesn't. My problem is thus actually this issue: https://github.com/yarnpkg/yarn/issues/1538. Thanks for your help!

[2017-02-28 15:35] graingert opened #2805 "Store the file size and hash in yarn.lock"
A follow up to https://github.com/yarnpkg/yarn/issues/816

Current SHA1 collisions can be mitigated by including the file size of the tar.gz in the yarn.lock and checking both the hash and the file size.

[2017-02-28 15:59] kamilogorek commented on #1956
This issue can be closed. It already works in `0.21.3`.

[code]

[2017-02-28 16:00] krishnagupta21 commented on #2793
Fixed the issue.We were using `https` for our registry even though it was `http`. NPM was still working with `https` though, but yarn was giving 403.

[2017-02-28 16:00] #2793 closed

[2017-02-28 16:01] kamilogorek commented on #1387
This issue has been resolved as well.

[2017-02-28 16:08] jugglingcats opened #2807 "sudo yarn global add on Debian (Raspbian) issue"
**Do you want to request a *feature* or report a *bug*?**

Bug. Apologies if this is a duplicate.

**What is the current behavior?**

[code]

[code]

Symbolic link is broken (as seen by non-root user):
[code]

Because root folder is not readable by non-root user:
[code]

**What is the expected behavior?**

After sudo install the command should be runnable as a normal user. I expect it's very norma

[2017-02-28 16:12] jugglingcats commented on #2807
Tried making /root readable but get further errors, eg:

[code]

[2017-02-28 16:43] #1387 closed

[2017-02-28 17:01] modosc commented on #683
we see this too, even if using the mutex option. if any attempt at using `yarn` to install simultaneously occurs, the cache is forever screwed and no installation will go forward (even tried `yarn cache clear`, `npm cache clean`, etc). if `package.json` or `yarn.lock` is updated there's a chance a subsequent install will run.

this is super annoying, is there any way to debug this?

[2017-02-28 18:14] Daniel15 commented on #2799
@petetnt  - That's not related, Homebrew is updated separately by the Homebrew community.

This is related, the GitHub release sometimes incorrectly says it's a prerelease.

This is the development version.

[2017-02-28 18:16] Daniel15 commented on #2807
This is odd... If running as root, it should be using `/usr/local/share/yarn` rather than `~/.yarn`. See https://github.com/yarnpkg/yarn/blob/32b62607e58f52bdbcca3d5069c968d4c5712714/src/util/user-home-dir.js#L5-L7

Can you see whether ROOT_USER is true in that file (you can just hack a `console.log` call into it)?

[2017-02-28 18:18] Daniel15 commented on #2794
I'm not very familiar with Yum, but see if this helps you: http://unix.stackexchange.com/a/151690

According to that post, you should be able to do something like `yum --showduplicates list yarn | expand` to see a list of available versions, and `sudo yum install yarn-<version>` to install a specific version. Let me know if that doesn't work!

[2017-02-28 18:26] ingenalls commented on #2764
Yes...

[2017-02-28 18:38] nrser commented on #1213
@MikeTaylor the (i think more recent?) `yarn link` behavior has been enough for me for the moment... i'm using this script to tie the dependent sub-packages together:

https://gist.github.com/nrser/9bc033cc59fa59f5ef3f2b5242892736

it's literally a few dozen lines but it band-aided my situation enough to keep going. it doesn't handle peer dependencies and will probably loop forever if you have cir

[2017-02-28 18:40] nrser commented on #1213
thanks @bestander. i've managed to get my stuff working with a few dozen lines of ruby and am going to have to live with that for the moment... just can't spend the cycles on it right now. i'll let you guys know if i find some time to take a crack at it.

[2017-02-28 18:47] bestander commented on #2764
Great, can you share the steps?
I try that on a clone of react native and .tgz is fine there.

[2017-02-28 18:55] djmadeira commented on #1505
You can also run `brew uninstall yarn && brew install yarn --ignore-dependencies`. For some reason, `brew upgrade` doesn't support the `--ignore-dependencies` flag.

[2017-02-28 19:06] Sharlaan commented on #1458
@alexdevero i just tried `yarn upgrade` on 3 projects of mine: it didnot update any package.json ....

but i confirm  `yarn upgrade-interactive` works

[2017-02-28 19:11] ingenalls commented on #2764
Steps to reproduce:
[code]

[2017-02-28 19:24] petetnt commented on #2799
@Daniel15 Yeah, the Homebrew part was more of back story (as was the `package.json` part) how this affected me as the enduser. The formula would have been trivial to update, but I just didn't have any clue what was the actual stable version.

[2017-02-28 19:41] bestander commented on #2764
Afaik we don't have this feature yet in Yarn, adding a .tgz file from disk.
It would be great to have it though.
After `yarn pack` the .tgz file unzips correctly, so it is not malformed

[2017-02-28 19:51] ingenalls commented on #2764
I think you do... I just installed a local package with yarn though using that very same command.
Either way, `npm install ../circularity/circularity-v0.4.0.tgz` doesnt work either

[2017-02-28 19:53] sealocal commented on #2794
Yes, thank you!

I am also not familiar with Yum - it did not occur to me that all releases could be in the repo.

Limited info in `yarn.repo`:
[code]

Confirmed:
[code]

[2017-02-28 19:53] #2794 closed

[2017-02-28 21:05] rdmurphy opened #2808 "Yarn install shell script uninstalls before successful download"
**Do you want to request a *feature* or report a *bug*?**
Likely a bug.

**What is the current behavior?**
Yarn will prompt you to update if it sees the version you are using is behind the current release. In my case, because I installed with the `install.sh` script, it prompts me to do so again. However, if the file it attempts to download is unavailable (say, during the S3 apocalypse of 2017), t

[2017-02-28 21:14] MikeTaylor commented on #1213
Thanks, @nrser. It's a bit sellotape-and-string, but better than nothing. But how I wish that `yarn link` would Just Work.

[2017-02-28 21:31] berwyn opened #2809 "Yarn causes batch files to bail early"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When a batch script on Windows contains a call to `yarn install`, the exit of `yarn install` causes the entire batch file to exit with yarn's exit code

**If the current behavior is a bug, please provide the steps to reproduce.**
Given:
- a folder with `package.json`/`yarn.lock`
- a script with somethi

[2017-02-28 21:38] berwyn commented on #2809
An interesting note is that this doesn't affect PowerShell. If the repro script is written as a PowerShell script (`test.ps1` rather than `test.bat`) and called via PowerShell, it works as expected.

[2017-02-28 22:29] #2357 closed

[2017-02-28 22:49] owendismuke commented on #961
I just ran into this as well on yarn v0.20.3. The interesting this is that `yarn install` worked twice, but the third time -> on, it started kicking this error everytime. package.json didn't change between the calls.

[2017-03-01 00:48] hpurmann commented on #2800
The `engines` field get's only checked for dependencies of your package. So you can specify that your package runs on a range of node versions and other people installing your package will (hopefully) get a warning if they do so with a non-matching node version.

But it doesn't check the current node version against the `engines` field of your application's `package.json` when installing _its depe

[2017-03-01 03:54] leeDong1981 opened #2813 "Installation Problem: [title]"
**Which operating system are you using:**

**Please describe the steps you took when trying to install Yarn and what went wrong:**

[2017-03-01 04:44] haishengwu-okta commented on #2541
for my case, I solved it by reorder entries in npmrc. particularly

[code]

[2017-03-01 05:20] rogchap commented on #2738
We're also experiencing the exact same issue.
Some private modules work some do not; all the same @scope.

[2017-03-01 08:23] sternbel commented on #2803
Strange enough `yarn cache clean` and `yarn install` worked...

[2017-03-01 08:23] #2803 closed

[2017-03-01 08:28] OmerHerera commented on #2800
Ok, now I understand, even this behaviour also in `npm` is a bit confusing.
I'll prefer that before trying to fetch new modules `yarn/npm` will check your installed node (`engines `) against your module and then try to fetch dependencies.

But I if we strive for compatibility with `npm`, this behaviors must stay.

I'll like to behave  like is done for `yarn` in `yarn.js` file that only `node` vers

[2017-03-01 09:30] Grawl commented on #630
@TimvdLippe

not works with 0.21.3 on macOS

[2017-03-01 09:56] sheepsteak opened #2814 "Add `yarn repo` command"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The `yarn repo [package]` command is not implemented.

**What is the expected behavior?**
Implement the command as in [npm](https://docs.npmjs.com/cli/repo)
 to open the repo of a package in the default browser (npm also has a `--browser` flag to override which browser).

If it's been decided that

[2017-03-01 10:02] jugglingcats commented on #2807
Very odd. I added some logging to the file you suggested and `constants.js` which is `require`d by it. There is something funny with the order of execution, like the `require` is returning before being fully executed. In the log statement printing value of `_require` I expected to see exported constants, not functions?!

*user-home-dir.js* snippet
[code]

*constants.js* snippet
[code]

*output*
[c

[2017-03-01 10:06] hilkeheremans commented on #2738
We just experienced the same issue. Some more context here in the hopes that it might help

- We were running yarn in our CI (Drone), which runs in ephemeral Docker containers [Alpine Linux]
- The issue occurred in only ONE of our services building, whereas nothing went wrong with the other services, even though they have the exact same dependency tree (!)
- a manual install on my Mac for the same

[2017-03-01 10:20] saeidalidadi commented on #2764
what should we do for now to fix this issue for publishing our package? will solve it turning back to `npm`?
I am using `nvm` and `npm` needs `root` permission for `publish` and I have not npm installed for `root` already. so the yarn publish was the best !!

[2017-03-01 11:01] jugglingcats commented on #2807
I reproduced this issue on PIXEL for PC (x86 live ISO distro of Raspbian) running nodejs v6.10.0. Same yarn version v0.21.3.

I downloaded and ran the PIXEL ISO in Virtual Box (http://downloads.raspberrypi.org/pixel_x86/images/pixel_x86-2016-12-13/2016-12-13-pixel-x86-jessie.iso). Then I followed instructions for Node v6 install (https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-ba

[2017-03-01 11:08] briandipalma commented on #2767
We are seeing this in our company repo

[code]

@najamkhn Could you give an example of your output?

It appears that if you have a local dependency that matches an npm package name yarn gets confused and tries to install the dependency from the npm repo (in our case the company artifactory server)?

[2017-03-01 12:28] mcavanagh commented on #2785
I thought that at first, but the equivalent command using `npm` instead of `yarn` works fine

No difference, unfortunately.  I'm sure it's a combination issue of git bash and yarn, but as evidenced by `npm` working fine with the same command, I don't think it's purely a flaw with MSYS-based terminals.

[2017-03-01 13:10] jugglingcats commented on #2790
Looks possibly related to #2807

[2017-03-01 13:10] lecstor commented on #1915
I just had similar errors when running jest tests for a new yarn install. `yarn cache clean && rm -rf node_modules && yarn` appears to have mysteriously resolved them.. tests run clean now..
[code]
node@6.10.0
yarn@0.21.3
macOS@10.12.3

[2017-03-01 14:45] victornoel commented on #2629
@bestander anyway I can get a complete stacktrace of the error?

I only see this in the yarn-error.log:
[code]

That's a bit useless :)

[2017-03-01 14:50] jrwiegand commented on #2111
This is still an issue for me as `npm install` allows me to use the webdriver in angular with `ng e2e`.

OS: OSX El Capitan 10.11.6
Node: v7.6.0
Yarn: v0.21.3
NPM: 4.4.0

However, `yarn` or `yarn install` does not seem to find the correct webdriver-manager. I get the following error:

[code]

[2017-03-01 15:29] victornoel commented on #2629
the detailled error is:
[code]

Not sure exactly what to do with this… it's happening at `package-fetcher.js`, line 56 exactly,  I have trouble finding the source though…

[2017-03-01 15:37] Arch-Mage commented on #2088
I got 544 MB just for babel and it's followers for this [package.json](https://github.com/reindexio/reindex-starter-kit-react/blob/9c29c975c29451f5af9f5df54f7195ec9bd3b649/package.json). Compared to npm, which just 135M just for babel and babel-*, I think it's too big.

here's `du -shc node_modules/babel-*` output for both on some es2015 transforms:

npm:

    ....
    1.1M	node_modules/babel-plug

[2017-03-01 16:02] victornoel commented on #2629
It seems stupid, but I feel like it fails only when my networked npm mirror (a sonatype nexus in my company) has mirrored the `@angular/core` artefact. If it hasn't, things go well and then it fails on another artefact that is already mirrored (`typescript` in this case).

If I remove the artefact from the nexus mirror by hand, it works!

So… it is a bit like yarn can't keep up if things arrive to

[2017-03-01 16:28] tobiastom commented on #2442
I think I do have the same problem here:

Inside `package.json` I have the following three scripts:

	"css": "npm-run-all css:*",
	"css:production": "postcss -o Public/assets/default.css Styleguide/Default.css",
	"css:debug": "postcss -o Public/assets/debug.css Styleguide/Debug.css",

Running this through yarn will display the following result and does not exit successfully:

	$ yarn run css
	yarn

[2017-03-01 18:03] cwmoo740 opened #2815 "yarn does not run lifecycle scripts when installing from repository"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Installing a dependency from a git repository does not run lifecycle scripts.

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/cwmoo740/yarn-lifecycle-github

[code]

**What is the expected behavior?**
I expect it to run lifecycle scripts like NPM.

[code

[2017-03-01 20:10] cwmoo740 commented on #2815
I made a mistake. Yarn does run preinstall, install, and postinstall for repositories, it just silences the output. Changing the scripts to "touch INSTALL" revealed this.

Feel free to close this.

[2017-03-01 20:10] #2815 closed

[2017-03-01 20:25] rosskevin commented on #2738
I am seeing the same issue.  I'm using a docker image in circleci 2.0 and having some unrelated issues that I'm debugging locally.

- when I `yarn` on the host OSX machine, everything works.
- when I `yarn` on the container (Ubuntu), I get the **error**.
- when I `yarn` on the ^^container (Ubuntu) running on circleci 2.0 infrastructure, it works.

I have setup `.npmrc` etc.  It's really a head-scr

[2017-03-01 20:33] dylanrhysscott opened #2816 "NPM refusing to install yarn globally"
**Do you want to request a *feature* or report a *bug*?**
Bug Report

**What is the current behavior?**

When trying to install the latest version of YARN via NPM with the global flag the install fails with the error:

[code]

I can install yarn locally without the global flag

**If the current behavior is a bug, please provide the steps to reproduce.**

* Run `npm i -g yarn`

**What is the expect

[2017-03-01 20:34] dylanrhysscott commented on #2816
Here is the full log file

[npm-debug.log.txt](https://github.com/yarnpkg/yarn/files/811963/npm-debug.log.txt)

[2017-03-01 20:41] wyattjoh commented on #2266
This is currently causing issues for our build, anything I can do to assist?

[2017-03-01 21:15] lxe opened #2817 "Support brotli compression"
**Do you want to request a *feature* or report a *bug*?**
- Feature

**What is the current behavior?**

Yarn currently sends "accept-encoding: gzip, deflate" by default, which works great with registry.yarnpkg.com and other custom registries and registry proxies. Maybe we should also add [brotli](https://github.com/google/brotli) support and see if we get any performance gains?

**If the current b

[2017-03-01 22:31] ckuyehar commented on #1183
I also experience this issue, that is I couldn't run globally added packages.

I followed @innerspirit suggestion and added C:\Users\chris\AppData\Local\Yarn\config\global\node_modules\.bin to my Windows environment path and now its fixed.

[2017-03-01 22:42] zmorris commented on #1321
https://github.com/yarnpkg/yarn/issues/630#issuecomment-277837483 worked for me as of Yarn 0.21.3 on Mac OS X 10.11.6.  After I set the prefix, I removed and re-added packages and global access worked from then on (remember to re-open any terminal windows that might have your old PATH):

[code]

Can list installed packages with:

[code]

[2017-03-01 22:46] bestander commented on #2629
Thanks for researching more, @victornoel, you might be on something here.

[2017-03-01 22:48] mcavanagh commented on #2785
Did some digging, and I think this might be the (rather odd) solution:

In the `npm` shell script, the node executable is referred to as `NODE_EXE="$basedir/node.exe"`

In yarn, it's just `node` (no .exe extension)

Apparently, this actually makes a difference when running node under Git Bash (as per [this stack overflow question](http://stackoverflow.com/questions/37051203/how-do-i-pass-a-literal

[2017-03-01 22:53] bestander commented on #2629
I can repro scenario from https://github.com/yarnpkg/yarn/issues/2629#issuecomment-282745896.
Looking into it

[2017-03-01 22:55] Daniel15 commented on #2785
Hmm that's tricky. The same shell script is used across all platforms (Linux, Mac OS, Windows), which is why it just calls `node` rather than `node.exe`. This is the script: https://github.com/yarnpkg/yarn/blob/master/bin/yarn

Two possible approaches I can think of:
1. Detect Windows in the script itself. It looks like there's already some custom logic for `MSYS` and `MINGW` terminals, maybe we j

[2017-03-01 23:00] devinus commented on #2816
This just started happening to us as well today.

[2017-03-01 23:15] dylanrhysscott commented on #2816
@devinus Hi @bestander just read through #2744 and saw your comment to ping you in related issues. Could this be a unintended result of the changes made in the latest release? Looking at the error its related to symlinks and I know the above issue made some changes there.

[2017-03-01 23:29] devinus commented on #2816
What's weird is I was using yarn 0.21.3 just earlier last night perfectly fine. Something changed within the past ~6 hours it seems.

[2017-03-01 23:34] davidxroth commented on #1959
Sorry for the delay in closing the loop on this, but I wanted to update everyone that our rewrite rules now handle yarn and well as npm, so the workarounds should no longer be necessary.

Please let me know if you see any problems.

[2017-03-01 23:47] mcavanagh commented on #2785
The npm shell script does the following:

[code]

Would this be an acceptable practice in yarn?  If so, we wouldn't need to alter the windows installer config (although it could be argued that it should be done there, as it's windows-specific)

I forked the repo so that I could open a pull request, but I wanted to be sure that none of the tests are affected, so I ran `yarn run test` first (before

[2017-03-01 23:51] bestander commented on #2629
Some help investigating why untaring those few dependencies (in my case typescript and angular-core) causes error is welcome.
Concurrency? Bug in https://github.com/npm/node-tar?

[2017-03-01 23:54] Daniel15 commented on #2785
Yeah, that should be fine!

Hmm, that's strange... We do run the test suite on Windows, see https://ci.appveyor.com/project/kittens/yarn/history so they should be passing. Some of them look a bit flaky now, though.

[2017-03-01 23:55] bestander commented on #2629
@victornoel, can you reproduce the bug with `yarn install --network-concurrency 1`?

[2017-03-01 23:59] bestander commented on #2816
Can you install earlier versions of yarn?
Did npm get updated?

[2017-03-02 00:11] mcavanagh commented on #2785
Never mind, just realised it's my windows git setup that's the problem (because I always use Git Bash for git, hence this entire situation :)

Tests pass under git bash.  I'll make a pull request.

[2017-03-02 01:30] mcavanagh commented on #2785
Ok, looks like there's a new wrinkle to this:

If yarn's shell script detects you're running under MINGW or MSYS, it runs `winpty node "$basedir/yarn.js" "$@"`

It seems like `winpty` also has an effect on how node deals with forward slashes in its args.  To summarize:

`> winpty node bin/yarn.js add @types/rx` fails
`> winpty node.exe bin/yarn.js add @types/rx` fails
`> node bin/yarn.js add @type

[2017-03-02 01:56] scinos commented on #2703
Dupe of #2304 ?

[2017-03-02 02:11] scinos opened #2819 "'yarn install --production' does not install transitive dependencies if listed as devDependencies in the project"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**

In a project A with a dependency on B and B having a dependency on C, `yarn install --production` wont install C if C is listed as a devDependency of A. `npm` does.

**If the current behavior is a bug, please provide the steps to reproduce.**

1.  Create a project with:

[code]

(note that `s

[2017-03-02 02:18] janaz commented on #2304
I've done an in-depth analysis of this bug [here](https://github.com/yarnpkg/yarn/issues/2703#issuecomment-282530737)

[2017-03-02 03:06] hueyhe commented on #2764
I have the same problem.
When I tried to publish a new version of my package, it works fine with `npm version patch` then `npm publish`.
But with `yarn publish`, I got following message when I tried `yarn add <pkg>`
[code]
And got following with `npm install <pkg>`
[code]

[2017-03-02 04:10] czyin commented on #1834
I had the similar error with `yarn@0.21.3`,

Arguments:
`  /usr/local/bin/node /usr/local/bin/yarn cache ls`

Yarn version:
 ` 0.21.3`

Node version:
`  7.7.1`

Platform:
`  darwin x64`

npm manifest:
  No manifest

yarn manifest:
  No manifest

Lockfile:
  No lockfile

Trace:
`  Error: ENOTDIR: not a directory, scandir '/Users/**/Library/Caches/Yarn/npm-engine.io-1.8.3-8de7f97895d20d39b85f88eeee7

[2017-03-02 04:14] snaptopixel commented on #2764
Same issue here, since trying yarn publish my module is not installable, even after a `version patch` and `npm publish` not sure where to go from here...

[2017-03-02 04:45] timoxley commented on #2712
Related:
* https://github.com/yarnpkg/yarn/pull/1499
* https://github.com/yarnpkg/yarn/issues/1323

[2017-03-02 05:04] timoxley commented on #1323
@SamHH you may want to investigate https://github.com/yarnpkg/yarn/pull/1499

[2017-03-02 05:07] Kovensky commented on #1323
Oh, yeah, feel free to take over that PR/branch. I've been kinda out of time to update it :cry:

[2017-03-02 05:10] timoxley commented on #1323
@Kovensky @SamHH appears they're asking for an RFC https://github.com/yarnpkg/rfcs

[2017-03-02 06:05] Daniel15 commented on #2785
The winpty stuff was added in #743 to fix another issue. Maybe the person that added it (@thetrompf) has some ideas.

[2017-03-02 06:13] thetrompf commented on #2785
Hmm..  will look into this today or tomorrow

[2017-03-02 07:41] AjiMIde commented on #944
So do i ,but when i exit my **xx-net** ,and it success downloaded!! Try to exit your vpn and others!

[2017-03-02 07:44] victornoel commented on #2629
@bestander with `--network-concurrency 1` the bug does not appear (while without it, it appears every time).
But what is the default value of this parameter? Whichever value I choose for it (1, 2, 4, 8), it works, while if I don't put it at all, it fails…

[2017-03-02 07:46] fishead commented on #2816
@dylanrhysscott I found why: the latest docker image already has yarn installed globally.

[2017-03-02 08:00] chadfurman commented on #944
No VPN here.  Straight through to my router -> modem -> Comcast.  Here's my network speed:  http://www.speedtest.net/my-result/6095665032

And my ping results:
[code]

[2017-03-02 08:23] Daniel15 commented on #2816
The Docker image already has Yarn installed globally. If you want to install your own version, please use the Debian or Alpine Linux package rather than npm, as that will work properly.

[2017-03-02 08:23] #2816 closed

[2017-03-02 08:24] Daniel15 commented on #2686
FYI, Yarn is now part of the official Node.js Docker image: https://github.com/nodejs/docker-node/issues/243. So you don't have to use the `node-yarn` image any more.

[2017-03-02 08:34] SimenB commented on #2737
No need to do this since it's included in the official images :smile:

[2017-03-02 08:36] Daniel15 commented on #2737
Yeah, good point. Yarn was added to the Node.js Docker image in https://github.com/nodejs/docker-node/issues/243

I was going to close this task but I couldn't find it. It turns out I was searching for issues containing "Docker" which doesn't match "Dockerfile" - Thanks, GitHub. 😠

[2017-03-02 08:36] #2737 closed

[2017-03-02 08:57] Dottenpixel commented on #764
C'mon! Brand new Mac. Homebrew installed node and npm. Still hangs on last package.
`$ node -v` v7.7.1
`$ npm -v` 4.1.2

[2017-03-02 08:57] dylanrhysscott commented on #2816
@fishead @Daniel15 Thanks for letting me know about this - I have a question though if yarn is already installed shouldn't NPM either do nothing / upgrade if there is a version available? Thats what happens with other NPM packages why not YARN?

[2017-03-02 08:58] Daniel15 commented on #2816
It's not installed via npm. The Node.js Docker images install Yarn by using the standalone .js file we provide.

[2017-03-02 09:01] dylanrhysscott commented on #2816
@Daniel15 OK so if the install is done outside of NPM then NPM can't manage it. Is that standard behaviour with all npm packages or something yarn specific?

[2017-03-02 09:05] flipace commented on #2738
Same here, it works locally on OSX but not on CircleCI container.

I tried to `yarn cache clean` - afterwards a different package failed installation.

[2017-03-02 09:06] Daniel15 commented on #2816
Not standard with all npm packages, but pretty common for system-wide apps. Most of the time, you'll want to manage system-wide apps using a native package manager, particularly on Linux (like apt-get on Debian/Ubuntu or yum on CentOS) rather than npm. Some of the rationale for not using npm to install Yarn is documented on https://yarnpkg.com/en/docs/install#alternatives-tab:

[2017-03-02 09:12] Kovensky commented on #932
I have an indirect dependency on `ttf2woff2`, which also rebuilds every time.

However, it only rebuilds every time when there is a change to `yarn.lock`. That is, `yarn` with a new `yarn.lock`, `yarn upgrade`, `yarn upgrade-interactive`. In the `yarn upgrade-interactive` case, if both devdeps and regular deps were updated, `ttf2woff2` gets rebuilt twice(!).

[2017-03-02 09:15] dylanrhysscott commented on #2816
@Daniel15 Thanks for the info that clears everything up! 👍

[2017-03-02 09:16] roman-bystrimovich commented on #1505
Same way as previous but using mac port:

Edit local port:
`sudo port edit yarn`
Comment lines with dependencies (add `#` in the beginning). In my case:
`depends_run         path:bin/node:nodejs6`
and
`depends_run-replace path:bin/node:nodejs6 path:bin/node:nodejs4`
Install yarn:
`sudo port install yarn`

Works with nvm. Updating with `sudo port upgrade outdated` is not tested

[2017-03-02 09:34] wangfaxi1985 opened #2821 "ERROR: There are no scenarios; must have at least one."
i want use "yarn " in my npm project
when run shell " **yarn** " in the shell,
it throw "**ERROR: There are no scenarios; must have at least one.** "

what problem?

yarn --version
0.27
node -v
v6.9.5
uname -a
Linux wfx-pc 4.4.0-3-deepin-amd64 #1 SMP Deepin 4.4.30-2 (2016-12-01) x86_64 GNU/Linux

[2017-03-02 09:39] jaen commented on #1658
Not having this feature is quite vexing, I actually have to write a script that tails the output of yarn, feeding it to a state machine that can answer those questions automatically to get this feature : C

[2017-03-02 10:06] curtdp commented on #1321
Hello. I use [fish shell](http://fishshell.com) with [OMF](https://github.com/oh-my-fish/oh-my-fish) on macOS and solved this problem by adding to my **~/.config/fish/config.fish** file
`set -x PATH $PATH $HOME"/.config/yarn/global/node_modules/.bin"`

[2017-03-02 10:07] jdelStrother commented on #764
It's a long shot, but I've also seen this on a Mac if you have a private package referenced in your package.json - it appears to hang, but it's actually asking for your keychain password for ssh.   The secure-input glyph (![image](https://cloud.githubusercontent.com/assets/2377/23502422/c0bb0ac6-ff2f-11e6-8281-b4ab0918c0ec.png)) appears on the right hand edge of the progress bar, but on a colleagu

[2017-03-02 10:33] robertkowalski commented on #2508
Have you tried to set yarns config for the registry?

[code]

[2017-03-02 10:44] bestander commented on #2629
The default is 15, I can repro the issue with concurrency 15 with a clean checkout of `https://gitlab.com/linagora/petals-cockpit.git#075bac4c54fee466568c000c7ffe8025f593e212`.

[2017-03-02 10:48] victornoel commented on #2629
Excellent news! One step further toward a solution AND a workaround :)

[2017-03-02 10:51] bestander commented on #1834
The lstat error is investigated in https://github.com/yarnpkg/yarn/issues/2629

[2017-03-02 11:38] OmerHerera commented on #2821
@wangfaxi1985, please check again your `yarn` version, the latest version is `0.21.3` and the tagged version is `0.22.0-0`.
Also check that you run `yarn` command in the folder where your `package.json`is located
Thanks

[2017-03-02 11:43] rogchap commented on #2738
So, we think we've managed to solve the problem; would be keen to see if it works for others:
We had to make a slight change to `.npmrc` which makes little sense why this works:

[code]

Thing to note is that we required both normal registry AND one for our private scoped registry. Just make sure you change `@ourscope` with your own.

Let me know if this helps anyone.

[2017-03-02 11:49] phtrivier opened #2822 "`yarn install` ignores `files` from local path"
**What is the current behavior?**

It seems that `yarn install` ignores `files` from `package.json` of projects that are  locally depended on.

**If the current behavior is a bug, please provide the steps to reproduce.**

Using two simple projects that depends on each other locally:

[code]

project1 specifies which files should be copied by dependent projects:

[code]

project2 depends on project

[2017-03-02 12:25] ingenalls commented on #2764
@snaptopixel Are you saying that you can't re-publish the same repo with npm? If so, that would be a different issue.
Have you tried to clone the repo again and then publish it with npm?

 I would open that as a new issue if you can't resolve it, since that would be more critical to fix.

[2017-03-02 13:34] flipace commented on #2738
@rogchap i just tried your solution but still see the same problem as before :(

we have a hyphen in our scope name, maybe that could be the culprit?

[code]

[2017-03-02 13:39] sharedprophet commented on #2508
What I've found is that you have to regenerate or modify your `yarn.lock` files. They have the full url of each dependency, including the registry it was originally pulled from.

[2017-03-02 13:40] mudrz opened #2823 "yarn add locally - EACCES: permission denied"
## Issue

**What is the current behavior?**
Yarn add (locally) fails with "An unexpected error occurred: "EACCES: permission denied,..."
(sudo *"fixes"* the access issue)

**If the current behavior is a bug, please provide the steps to reproduce.**
unknown what caused this

**Please mention your node.js, yarn and operating system version.**
node.js v6.10.0
npm@4.1.2
yarn version v0.21.3
macos 10.1

[2017-03-02 13:40] #2823 closed

[2017-03-02 13:41] mudrz commented on #2823
Opening issue in case anyone else has the same issue in the future
and closing it since there is a resolution/easy workaround