[2017-04-19 13:09] whitecolor commented on #3187
So I don't get, for me it doesnt'' work in 0.22.0 with --force option too?

[2017-04-19 13:11] beworker commented on #3187
@whitecolor This must be the version which didn't work for me too, because I clearly remember I tried `--force` and the dependency has not been updated. You should update to the latest 0.23.2 and it will work.

[2017-04-19 13:19] jbreckel commented on #3141
I get the same error when I publish our private (scoped) package with `yarn publish`.
When using `npm version patch && npm publish` everything works fine.

Both times I used `yarn upgrade` to get the new version.

[2017-04-19 13:20] tibdex commented on #3168
Hi, I stumbled on this issue too. Here is a script to reproduce it quickly:

[code]

[2017-04-19 13:21] tibdex commented on #3187
@arcanis, I commented on https://github.com/yarnpkg/yarn/issues/3168 for the `.tgz` issue.

[2017-04-19 13:53] arcanis commented on #2922
Yeah, it seems that `upgrade-interactive` only uses the version displayed for informational purpose, and instead runs `yarn add <package-name>`, which automatically bumps the version to the latest available in the registry (which of course doesn't work for exotic packages, such as git or `file:`).

[2017-04-19 14:18] DeGuitard commented on #1333
And in yarn@0.23.2 as well.

[2017-04-19 14:29] #1956 closed

[2017-04-19 14:49] Haroenv opened #3191 "yarn update-interactive should be an alias for yarn upgrade-interactive"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

[code]

**What is the expected behavior?**

It to mean the same as `upgrade-interactive`.

A similar situation is met in `yarn update`:

[code]

For both I'd like it to mean the same, since it's hard to know what's the difference between those two words

**Please mention your node.js, yarn and op

[2017-04-19 14:49] torifat commented on #3151
It's already fixed. Try yarn `v0.23.2`.

[2017-04-19 14:49] #3151 closed

[2017-04-19 14:51] Haroenv opened #3192 "yarn upgrade-interactive should show a difference between major, minor and patch versions"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

[code]

**What is the expected behavior?**

To clearly show if a version is major, minor or patch. I've before accidentally updated webpack 1 to 2 for example, which was more to deal with than I had time for at the time

[2017-04-19 14:54] torifat commented on #3164
Sorry, just saying `Installation Problem` doesn't provide us with enough information to help you.

[2017-04-19 14:54] #3164 closed

[2017-04-19 14:55] HarlemSquirrel opened #3193 "Update Install Docs for Arch Linux"
The [official docs](https://yarnpkg.com/en/docs/install#arch-linux) currently point to a deleted AUR page for installation on Arch Linux.

Now that yarn is in the community repo, the docs should point here: https://www.archlinux.org/packages/community/any/yarn/

[2017-04-19 14:58] HarlemSquirrel commented on #3193
Oh, I see this is handled on a different repo. Sorry!

[2017-04-19 14:58] #3193 closed

[2017-04-19 15:00] torifat commented on #3192
It already color codes the difference. And, IMO saying `major, minor or patch` is misleading because not everything is using semver.

<img width="444" alt="screen shot 2017-04-20 at 12 58 04 am" src="https://cloud.githubusercontent.com/assets/208544/25186763/78e4a972-2564-11e7-8a70-47e6f1a6bd72.png">

[2017-04-19 15:01] agibralter opened #3194 "yarn offline mirror behavior is very strange"
### setup

I am using yarn@0.22.0. I am using node v7.9.0 installed with nvm on macOS 10.12.4. yarn is installed as `npm install -g yarn@0.22.0`. I have also tried `brew install yarn`.

This is my repo's `.yarnrc`:
[code]

### bug
It seems that using yarn@0.22.0 does not consistently record the right value for `"resolved"` in the `yarn.lock` file (down to 0.19.x and up to 0.23.x also seem to have

[2017-04-19 15:01] whitecolor commented on #3187
I have just switched to stable-0.23 branch, it doesnt' work isn't it not enough?

[2017-04-19 15:04] vitalymak commented on #3189
That was actually my fault. I didn't add package repository properly.

[2017-04-19 15:04] #3189 closed

[2017-04-19 15:09] Haroenv commented on #3192
That is a good point, my terminal must have been set up a bit bad, because I couldn't tell the difference between white and green immediately.

I understand that not everyone uses the same versioning way, so making it more prominent is a bit impossible. Thanks

[2017-04-19 15:09] #3192 closed

[2017-04-19 15:32] beworker commented on #3187
@arcanis just wanted to mention that it would be cool having an option for forcing just volatile packages to be reinstalled. For simplicity I would call it `yarn install --please` ;)

[2017-04-19 15:52] kmmolex commented on #3194
I'm experiencing the same issue. I had the correct results in offline mode yesterday. Are you always able to get offline mirrors after using `yarn cache clean`? I'm still getting https://registry.yarnpkg.com

[2017-04-19 15:58] whitecolor commented on #3187
@arcanis should it work on `stable-0.23 branch` or not?

[2017-04-19 16:02] agibralter commented on #3194
@kmmolex hmm I only get the correct results when I blow away yarn.lock, clean the cache, an "re-yarn." Step-wise yarn-ing does not seem to exhibit consistently reliable behavior for me. I almost always re-yarn from scratch and look at the git diff. 😦

[2017-04-19 16:04] arcanis commented on #3187
Yes, it should. If it doesn't, can you please put together a small script I can use to reproduce this issue? Like the one above?

[2017-04-19 16:41] whitecolor commented on #3187
[code]
check `test/node_modules/my-loca-package` it should contain `change.txt`, but my doesn't

[2017-04-19 16:45] agilob commented on #648
Same on ArchLinux.

In my case package `yo` (and others) was installed to `/home/agilob/.config/yarn/global/node_modules/yo/lib`. I'm trying to use jhipster, but yanr claims it uses `/usr/bin` to install packages:

[code]

It doesn't even have privileges to create files there.

Executing command:
`/home/agilob/.config/yarn/global/node_modules/yo/lib/cli.js jhipster` worked correctly.

[2017-04-19 17:01] jmandzik commented on #3169
We've had two people on my team have this exact issue (macOS).  The files are present in the cache, but `yarn` (0.21, 0.22, & 0.23)  only brings _some_ of the files to the corresponding `node_modules` folder.  Interestingly, it was even the same package and missing files for the two engineers.

I cannot reproduce locally, but we're working around it locally with manual `npm install` of the 1/2 ins

[2017-04-19 17:43] arcanis commented on #3187
Thanks! I've been able to reproduce it, but not 100% of the time. It seems there's something fishy. Possibly a race condition somewhere. I'm gonna reopen this issue and investigate more.

[2017-04-19 18:36] mrandre opened #3195 "Yarn can hang on a git+ssh dependency if ssh private key password is set and not automatically sent"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I have a dependency that is a private github repo, of the sort git+ssh://git@github.com/company/repo#v27

I also have an ssh private key with a password on it that was set up to read from the OS X keychain, and that is used with my github account. The setting to auto-keychain was lost, and the result

[2017-04-19 18:49] outaTiME commented on #648
Thanks @bcessa, im getting the same issue. Using the following path `$HOME/.config/yarn/global/node_modules/.bin` work as expected.

[2017-04-19 20:35] caseywatts commented on #1981
Getting this to work on Heroku and CircleCI just now, we had to do two things:

add this to npm's `package.json`
[code]

add this to Heroku's `app.json`
[code]

And just an observation that I would've found helpful to read earlier:
`node-sass` seems to work on any first build (like on Heroku: creating a new branch which creates a new PR app), but not on any subsequent builds (like when pushing to

[2017-04-19 20:58] CrabDude commented on #2939
FWIW, looks like `"file:"` packages aren't automatically updated when running vanilla `yarn`, which makes sense b/c it's not upgrading automatically by default, but it doesn't make sense b/c `yarn install --force` or `yarn install` without an existing `node_modules` will grab the latest version of the `file:path/to/package`.

[2017-04-19 21:01] CrabDude opened #3196 "yarn install not grabbing latest version of local file:package"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
`yarn install` leaves `"file:path/to/package"` untouched in `node_modules` even when the local version has changed (newer version).

On the other hand, running `yarn install --force` or `yarn install` without a `node_modules` directory, results in the latest local version being grabbed.

**If the curr

[2017-04-19 21:06] holm commented on #1981
We have this problem also on both Circle CI and Heroku. It removes native builds on second installs. It seems to be related to changes to the `yarn.lock` file. I have tried to create a test case to replicate, but have not been able to, despite trying quite a bit.

It also seems to be the same issue a few other places, if that helps:

* https://github.com/yarnpkg/yarn/issues/3180
* https://github.c

[2017-04-19 21:11] CrabDude commented on #3081
`my-module` has no [`"bin"`](https://docs.npmjs.com/files/package.json#bin) entry and so does not get added to `node_modules/.bin` which is why `my-module` does not exist as an executable at `yarn start` time.

[2017-04-19 22:42] kristenmills opened #3197 "yarn add <package-name> should not run the prepublish hook"
**Do you want to request a feature or report a bug?**
Report a bug.

**What is the current behavior?**
Currently when you run `yarn add <package-name>` the prepublish hook is also run. This is not expected behavior as `npm install <package-name>` does not run the prepublish hook.

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn add <any package>`

**What is the e

[2017-04-19 23:27] ForsakenHarmony commented on #859
yeah, it tries to install into `C:\Program Files\nodejs` for me as well by default

[2017-04-20 01:32] juanca commented on #3197
`npm install` does run the publish hook. This is why there is `prepublishOnly` hook.

[2017-04-20 01:42] jaredru opened #3198 "GitFetcher fetchFromLocal compares the wrong hashes"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
GitFetcher `fetchFromLocal` compares the git commit hash with the hash of the tarball itself.  So, installing this way fails:

[code]

In this case, "a43715a08af0b06ac140db652da0c09dc6eacf01" is the git commit of the git dependency.  "86e25a19f2ae5d44ca5de710a2775a71f6c3f35f" is the hash of t

[2017-04-20 01:53] binarykitchen opened #3199 "Says tar is corrupted but it isn't"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn add spider-detector` throws an error saying the remote tar is corrupted or needs to be gunzipped. Here the whole error log:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Just run that command.

**What is the expected behavior?**
It should install fine.

**P

[2017-04-20 01:53] binarykitchen commented on #3199
Btw, initially reported here https://github.com/binarykitchen/spider-detector/issues/7

[2017-04-20 02:17] vdh commented on #2064
Please stop advocating the `/usr/local` prefix workaround. Some of us prefer to stick with the versioned bin directory (e.g. `/usr/local/Cellar/node/7.9.0/bin`) and keep `/usr/local/bin` clean. Editing `$PATH` is a whole lot easier than cleaning up dead symlinks from an overloaded `/usr/local/bin` directory.

[2017-04-20 02:34] jdub commented on #648
I'm seeing the `global bin` path out of sync issue too:

* macOS 10.12.4
* node.js LTS installed from nodejs.org pkg
* yarn installed by install script

[code]

[2017-04-20 02:57] patrickhulce commented on #932
Also experiencing this with `ttf2woff2` every call to `yarn add` rebuilds `ttf2woff2` despite it hasn't been published in over a year.

[2017-04-20 03:15] amcgee opened #3200 "Yarn offline cache is difficult to search"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**
`yarn cache ls` is difficult to search.  This makes it tough to confirm that a package exists in the local cache.  For instance:

[code]
(requires manually looking for the package since `yarn cache ls | grep <name>` doesn't work - this is probably a separate bug.)

A workaround is to use an interm

[2017-04-20 04:34] isiahmeadows commented on #2564
Related: https://github.com/npm/npm/issues/2006

[2017-04-20 05:20] mkutny commented on #2064
@vdh , it's not about which solution "is a whole lot easier". It's all about what is the right thing to do.

If you read the thread carefully there are currently several issues with global packages:
- they are not immediately available after `yarn global add` (they need to be manually symlinked)
- global packages won't work after node update (`$PATH` needs to be updated)
- global packages will be

[2017-04-20 05:50] hozefaj commented on #3163
You are right. Trying it out on new project, it worked. Closing the issue.

[code]

[2017-04-20 05:50] #3163 closed

[2017-04-20 06:23] HenrikWL commented on #2064
@vdh the solution to dead symlinks in /usr/local/bin is to fix the problem that causes dead symlinks in there, not to preserve broken behaviour. Like @mkutny says, there are several issues with `yarn global` the way it works now. I expect it to work like `npm -g` but it doesn't. If that's by design then that's ok, I'll just stick with `npm -g` for global packages and keep using yarn for project pa

[2017-04-20 06:54] OmgImAlexis commented on #1389
Duplicate: https://github.com/yarnpkg/yarn/issues/2064

[2017-04-20 06:54] OmgImAlexis commented on #1579
Duplicate: https://github.com/yarnpkg/yarn/issues/2064

[2017-04-20 06:54] OmgImAlexis commented on #1321
Duplicate: https://github.com/yarnpkg/yarn/issues/2064

[2017-04-20 06:56] OmgImAlexis commented on #648
Duplicate: https://github.com/yarnpkg/yarn/issues/2064

[2017-04-20 07:07] OmgImAlexis commented on #153
- [ ] [appveyor.yml](https://github.com/yarnpkg/yarn/blob/master/appveyor.yml#L22)
- [ ] [circle.yml](https://github.com/yarnpkg/yarn/blob/master/circle.yml#L52)
- [ ] [build-dist-debug.sh](https://github.com/yarnpkg/yarn/blob/3af60cf9c1df2e70bb688111ce4c88c134e43b19/scripts/build-dist-debug.sh#L9)
- [ ] [check-lockfile.sh](https://github.com/yarnpkg/yarn/blob/0f1db96846badbbe3b43c470c05196eb29437

[2017-04-20 07:11] OmgImAlexis commented on #779
Since the original issue is fixed this can be closed.

[2017-04-20 07:12] #779 closed

[2017-04-20 07:22] OmgImAlexis commented on #1563
@James-Parsons are you sure you didn't accidentally run `yarn add global react-native-cli` instead? If so this is a known issue as yarn accepts both `yarn add global <package_name>` as well as `yarn global add <package_name>`.

[2017-04-20 07:33] OmgImAlexis commented on #1657
Trying this with `yarn v0.22.0` on `Windows 10` with `node v7.9.0` it works perfectly.
If this isn't an issue anymore please close it otherwise please provide more details on how it's still failing.

[code]

[code]

[2017-04-20 07:34] reacthacker opened #3201 "Non-deterministic behavior of 'yarn install' with multiple dependencies of a package"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**
'yarn install' doesn't resolve the dependencies deterministically when the package react-scripts and an extaneous eslint-package are included. Yarn might use either the built-in eslint of react-scripts or the extraneous eslint when 'yarn eslint .' is run.

**If the current behavior is a bug, please p

[2017-04-20 07:36] OmgImAlexis commented on #1600
Duplicate: https://github.com/yarnpkg/yarn/issues/859

[2017-04-20 07:42] jdub commented on #648
@OmgImAlexis Not sure it's a clear duplicate -- there's examples of the issue that don't involve node or yarn installed from homebrew.

[2017-04-20 08:04] iongion commented on #1657
It seems it got fixed

[2017-04-20 08:04] #1657 closed

[2017-04-20 08:11] OmgImAlexis commented on #648
All good, still nice to have a ref between the issues incase a single commit fixes both issues. 👍

[2017-04-20 08:33] chinesedfan opened #3202 "`yarn upgrade` breaks dependencies"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

`yarn upgrade` updates the version of npmlog, but does not check its dependencies.

**If the current behavior is a bug, please provide the steps to reproduce.**

Suppose you have a very simple package.json file like following:
[code]
Run `yarn`. You will find the folder structure is like:
[code]
The

[2017-04-20 08:47] cskeppstedt opened #3203 "yarn 0.23.2 unable to install from git+ssh repo"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When trying to add a dependency with the git+ssh specification, yarn is unable to read from the remote repository. The repository is an internal Bitbucket server, where the read-access is controlled via ssh keys. The previous yarn-version I used (0.21.3) could install the package. The only difference

[2017-04-20 09:56] #3138 closed

[2017-04-20 09:57] francisoud commented on #1333
@kittens Can you re-open it pls
You said it was [pending approval](https://github.com/yarnpkg/yarn/issues/1333#issuecomment-257550421) and I see the fix has been merged but the bug still exist...

[2017-04-20 10:05] timaschew opened #3204 "yarn upgrade does not care about specified caret version range in package.json"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

I have this snippet of package.json
[code]

When I run `yarn upgrade-interactive` I get this output

[code]

The same result happening when I use just upgrade, without interactive mode.

**If the current behavior is a bug, please provide the steps to reproduce.**
Just install some of these libraries d

[2017-04-20 10:13] rcelha commented on #1684
@jodigiordano If this API is accepted by the maintainers I'd implement it... it'd make my life easier

[2017-04-20 10:33] brazitech commented on #1961
hello
 new to docker just installed latest version and am getting the symlink error. where do i find the
package-linker.js file to change from 4 to 1.

[2017-04-20 10:38] whitecolor commented on #1961
@brazitech look at the PR #3097.

[2017-04-20 11:02] noyobo commented on #1834
[code]

same problem

[2017-04-20 11:17] noyobo opened #3206 "error An unexpected error occurred"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
`yarn cache clean && yarn cache dir && tree /Users/noyobo/Library/Caches/Yarn && yarn install`

[code]

**Please mention your node.js, yarn and operating system version.**

yarn 0.21.3
node 6.10.2
OSX

[2017-04-20 11:18] noyobo commented on #3206
But `yarn upgrade` can work.

[2017-04-20 12:27] Nyoroon commented on #3203
Same on CentOS 7.

[2017-04-20 12:44] Nyoroon commented on #3203
I thing that PR is causing problem: https://github.com/yarnpkg/yarn/pull/2990

[2017-04-20 13:09] OmerHerera commented on #3202
I think all these issues are the same, all of them talking about sub-dependencies not updated:
[3115](https://github.com/yarnpkg/yarn/issues/3115)
[3082](https://github.com/yarnpkg/yarn/issues/3082)
[2394](https://github.com/yarnpkg/yarn/issues/2394)

We need to find a solution.

Thanks

[2017-04-20 13:49] colinodell opened #3208 "Environment variable for yarn cache directory location"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Cache location can only be configured via the `cache-folder` config option.

**What is the expected behavior?**
Being able to configure the cache location using an environment variable.

Other prominent package managers offer this functionality:

 - Composer: `COMPOSER_CACHE_DIR`
 - npm: `NPM_CONFI

[2017-04-20 13:50] colinodell commented on #1211
@nervo I have opened #3208 specifically for environment variable support.

[2017-04-20 14:55] gauthierm commented on #3201
Both versions of eslint are installed but the version linked in `node_modules/.bin` is different between `npm` and `yarn`.

[2017-04-20 15:38] whitecolor opened #3209 "prepublish is run on `yarn add package`"
0.23.2
`prepublish` script is run on `yarn add package`
I wonder why is it so? NPM does this only when `npm install` not `npm install package`

[2017-04-20 15:45] CrabDude commented on #3196
Duplicate: https://github.com/yarnpkg/yarn/issues/2165

[2017-04-20 15:45] #3196 closed

[2017-04-20 15:45] CrabDude commented on #3187
For local `file:` caching see https://github.com/yarnpkg/yarn/issues/2165

[2017-04-20 16:33] xibuka commented on #1915
I resolve this issue by run following command, remove dtrace-provider and re-install hexo-cli with sudo
[code]

[2017-04-20 17:11] partounian commented on #2064
I'm not sure if this is related or not, but with zsh, I have an export on startup with the path from `yarn global bin`, but on startup I always get `command not found: yarn` how it calling yarn does work. On top of this with global packages that have their own command, I get command not found when trying that call them, but it all works fine when I reload zsh in the same terminal window.

[2017-04-20 18:09] apexskier commented on #1573
https://github.com/yarnpkg/yarn/issues/3198 -- related

[2017-04-20 18:13] zurawiki commented on #3208
Sounds like a good first bug @colinodell

Can I take take a look and try to send in a PR?

[2017-04-20 18:23] colinodell commented on #3208
Yeah absolutely!

[2017-04-20 18:31] corsen2000 commented on #2695
Was this fixed? I don't seem to be able to reproduce the original issue filed.

[2017-04-20 18:46] ianstormtaylor opened #3211 "skip license check for private:true modules?"
**What is the current behavior?**

If you have a module that is marked `"private": true`, it still checks and prints a warning for `warning No license field`.

**What is the expected behavior?**

I think it should skip the check for private modules?

**Please mention your node.js, yarn and operating system version.**

[code]

[2017-04-20 20:25] cansin commented on #2763
@mattma is there a separate issue open for "resolutions bug" that I could subscribe to? I searched through the list but couldn't find any. Perhaps this is the right one to subscribe to? Thank you!

[2017-04-20 22:04] DanHarman commented on #3016
This has been puzzling me too. Also I'd expect a command to be a bit more explicit if it's jumping major versions.

[2017-04-20 22:35] therealklanni commented on #1952
This also affects `yarn install`

[2017-04-20 23:00] kristenmills commented on #3197
`npm install` with no args does. `npm install <a package>` does not.

[2017-04-20 23:46] steven10172 opened #3212 "Feature: Add license to lock file"
Due to the nature of the `yarn.lock` file and being in a user readable format it would be useful to include the license for each specific version of that package. Having the license in the `yarn.lock` would allow users to quickly see what versions and licenses will be used in the application. Allowing the user to quickly read the file will allow security reviews to easily check to make sure that t

[2017-04-20 23:52] publicarray commented on #2064
@partounian I recommend you open a new issue because your problem is unrelated. Is it possible that you are calling yarn before you initialised the $PATH? e.g.

~/.zshrc:
[code]

[2017-04-21 00:11] razor-x opened #3213 "Regression: Yarn in official docker image fails to install private modules (404)"
Encountering a pretty serious regression that has broken all our CI builds with no clear workaround (other then updating all builds to install and use a local fixed version of yarn 0.22.0, which is far from ideal) .

Looks like the node docker images were all updated today with yarn 0.23.2  which is about when I started seeing this issue on my CI tool.

Yarn will not install any private node modul

[2017-04-21 00:15] partounian commented on #2064
Thanks, I found that my dotfiles includes did not take into account dependencies.

[2017-04-21 00:50] bestander commented on #1832
For those who still have this issue please open a new one with steps to reproduce and cc me

[2017-04-21 00:55] taylorham opened #3214 "`yarn add package@typo` adds the typo to `package.json` and `yarn.lock`"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When using `yarn add` to add a specific version of a package to dependencies (or --dev), a typo in the version number yields a prompt that allows the user to select an existing, valid version.

The selected valid version is installed, but `package.json` reads `"package": "typo"`, and `yarn.lock` is e

[2017-04-21 01:00] bestander opened #3215 "yarn install should not report `warning Integrity check: Flags don't match`"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Reported by @SimenB at #3067

yarn init -y && yarn add sequelize-cli && yarn add gulp --dev && yarn --prod && yarn check --verify-tree --prod

I find the 2 last commands interesting

yarn install v0.23.2
[1/4] 🔍  Resolving packages...
warning Integrity check: Flags don't match
[2/4] 🚚  Fetching packa

[2017-04-21 01:01] bestander commented on #3215
Up for grabs, a simple restructure

[2017-04-21 01:10] bestander commented on #3168
@voxsim, should we revert #2723 or is there a fix possible?

[2017-04-21 01:10] Tiendq commented on #1832
FYI, I no longer see this issue with yarn 22 and now 23 on macOS. Including fresh install for new project.

[2017-04-21 01:17] bestander commented on #3168
Removed previous comment.
Reverting #2723 does not fix the issue

[2017-04-21 01:23] bestander commented on #3168
The bug was introduced in #3004.
cc @arcanis, we'll need to fix it and add use case to tests

[2017-04-21 01:24] bestander commented on #3168
@tibdex, thanks a lot for the repro steps, helped a lot.
There is a bug in a/package.json, I've modified it

[2017-04-21 01:33] tacomanator commented on #3142
Also have this issue. Possibly related to #648?

Tried removing and reinstalling node, npm, and yarn with various methods (from the package, from homebrew, script) each with the same result: `yarn global bin` gives `/usr/local/bin` but globally installed packages are being placed in `$HOME/.config/yarn/global/node_modules/.bin`.

Is the library moving things around and out of sync?

Also confirmed

[2017-04-21 02:10] vdh commented on #2064
@mkutny

Yes, and the right thing to do is to use `$PATH`. It's a fundamental underpinning of Unix. Version management tools like NVM and RVM are designed around automating changes to `$PATH`. On macOS, `/usr/local` is much more sane when managed by Homebrew. I'm sure Linux has similar conventions with their package mangers as well.

`/usr/local/bin` should be reserved for real binaries and symlin

[2017-04-21 02:21] bestander commented on #2859
0.23.2 should have this fixed

[2017-04-21 02:21] #2859 closed

[2017-04-21 02:26] bestander commented on #2538
Yes, looks like a regression

[2017-04-21 02:41] bestander commented on #3185
Thanks for repro steps.
I'll add a test and a fix in the next couple of days

[2017-04-21 03:07] bestander commented on #1955
Great explanation, @msegado.
Indeed we look at Yarn as the guard of node_modules and if something happens outside of Yarn's lifecycle scripts Yarn would undo it.

Does anyone (@msegado?) want to help the project with the direction in this area?
I think any change here needs to be done via RFC so that we could agree on the approach.

A few random thoughts:
- keeping a list of packages that abuse no

[2017-04-21 06:26] guenam commented on #3055
I tried the last couple of hours to migrate from npm, but I give up: every successful workaround leads to a new permission error on another file.

I'm not complaining since my current programming level doesn't allow me to contribute and help solving the issue. I could move to Ubuntu, so staying on Windows is my personal choice and there are consequences I must live with.

However, I still wonder:

[2017-04-21 07:39] zenopopovici commented on #2064
@vdh Sorry, but it's ridiculous to suggest a re-install all global packages with every new node version. Some of us have 20+ packages that take bandwidth and time to reinstall, and all of them worked fine for all major versions of node updates. It's not a _feature_ it's a _bug_.

Just manage for now your global packages with `npm` until they figure this out. More over Yarn doesn't have an `outdate

[2017-04-21 07:50] reacthacker commented on #3201
Bug description edited.
Yes, both versions are installed, but when I run 'yarn eslint .' I either get these errors or after another 'yarn install' and a prior change in the package.json the dependency of eslint by removing or adding a caret.

[2017-04-21 08:00] publicarray commented on #2064
@vdh I appreciate that yarn works for you just the way it is. For me I don't particularly care much about the implementation details but whatever the behavior it should be documented (to my knowledge the current behavior is not documented). So at the moment with the default behaviour global packages break in a bad way when I do a routine `brew upgrade`.

Most of the packages that I use are mostly

[2017-04-21 08:28] mkutny commented on #2064
@vdh ,
I see you have some difficulties with installing executables in `/usr/local/bin` but given your explanation, it's hard for me to realize what are they exactly.

Putting executables in `/usr/local/bin` is the "right way to do" not only because it's a de-facto standard for *nix-like systems but also it's a real standard (it's a part of POSIX).

When you do it in a non-standard way you break n

[2017-04-21 08:34] HenrikWL commented on #2064
And furthermore, if the interpreter and the stuff running on it is so fragile that it risks breaking at any given update of the interpreter then that's a sign of an unhealthy ecosystem.

That being said, I've never had anything break due to node upgrades, except for cases where our project had fell into disrepair for years. Is this actually such an issue that we need to invent these convoluted wor

[2017-04-21 08:48] IanOvenden commented on #2503
Same issue when installing 0.23.2, had to revert back to 0.18.1

[2017-04-21 10:38] betalb opened #3217 "Yarn is not generating integrity file when installing with --pure-lockfile"
**Do you want to request a *feature* or report a *bug*?**: bug

**What is the current behavior?**
when I do `yarn install --pure-lockfile` `.yarn-integrity` file is not generated in `node_modules`

**What is the expected behavior?**
`.yarn-integrity` file should be generated. Yarn v0.22.0 was generating this file during insall with pure-lockfile flag

**Please mention your node.js, yarn and operat

[2017-04-21 10:59] SaschaNaz commented on #2565
Just opened #3216 to fix this but by some reason some tests fail :/

[2017-04-21 11:54] arcanis commented on #3168
The issue doesn't come from this commit. Apparently, when the code reaches [this line](https://github.com/yarnpkg/yarn/blob/master/src/fetchers/tarball-fetcher.js#L41), the tarball isn't available in the cache yet (but I've checked, and it is when the command complete! weird). Will investigate.

[2017-04-21 12:27] Noiwex commented on #1116
I don't need nodejs to be installed, if I needed this, I would install it from .pkg

[2017-04-21 12:30] technicallyfeasible commented on #932
I have this with couchbase as well

[2017-04-21 12:35] twelve17 opened #3219 "inconsistent development dependency resolution between NPM and Yarn"
I came across this due to an apparent issue with nock breakage with a particular version of one of its dependencies.  I am leveraging that issue here to illustrate that the dependency is changing between NPM and Yarn.

I have [created a small test project](https://github.com/twelve17/yarn-test) to reproduce this behavior, and will copy the README below:

## Test Case

- node v7.9.0 (via nvm 0.33.0

[2017-04-21 14:01] AnatolyRugalev opened #3220 "Yarn package disappeared from AUR"
I can't install yarn because the package does not exist in AUR:

https://aur.archlinux.org/pkgbase/yarn/

But it was [cached by Google](https://webcache.googleusercontent.com/search?q=cache:FSDuU-1QT7wJ:https://aur.archlinux.org/pkgbase/yarn/%3Fcomments%3Dall+&cd=2&hl=ru&ct=clnk&gl=ru)

BTW it does exist in aur-dev repository, but I don't know how to install it from there

I can't find any informa

[2017-04-21 14:15] djMax commented on #2874
If the "transitive" bin script specification works cross platform, that seems like a fair compromise to me. If my package depends on A which depends on B and I need a script in B from MY code, I do indeed depend on that script being provided by A, even if it doesn't implement it directly, so that feels "correct" for A to provide the script.

[2017-04-21 14:17] twelve17 commented on #3219
I fixed this by moving the yarn cache dir out of the way and running the test case again.  I'm going to close this while I go diff the old and new cache to see if I can get some insight.

[2017-04-21 14:17] #3219 closed

[2017-04-21 14:18] sylvesteraswin commented on #521
I am also having the same issue with Sinopia. Did anyone find a solution for this?

[2017-04-21 14:31] unimonkiez commented on #648
Also experiencing this with yarn 0.22 on raspberry 😃

[2017-04-21 14:32] raleksandar commented on #932
It still happens to me on 0.23.1 (`argon2` and `node-sass` get rebuilt every time I add/remove some unrelated package like `moment` which has no dependencies)

[2017-04-21 15:05] darul75 commented on #841
@sylvesteraswin did the same and it worked, thx

[2017-04-21 16:01] mateodelnorte commented on #2874
npm works as you described. The crux of this issue is that yarn does not, breaking compat.

[2017-04-21 17:45] seansfkelley opened #3223 "`yarn install` doesn't install if node_modules is present but in the wrong state"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Removing packages that are listed in `yarn.lock` from `node_modules` without removing `node_modules` itself then running `yarn install` does _not_ see Yarn reinstall the missing packages.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected beh

[2017-04-21 18:11] denniswebb commented on #3136
By brute force attempts on Circle artifacts, I have discovered the commit that broke artifactory for us is d093c6cc1d2e28d906e0972b1d9a5ad5cd757bff
I'm running yarn during my docker build process and it runs as root.

[2017-04-21 18:55] denniswebb commented on #3136
And to elaborate on the fix, moving `.npmrc` from `/root/.npmrc` to `/usr/local/share/.npmrc` or `<PROJECT_DIR>/.npmrc` fixes the 401 errors.

[2017-04-21 19:17] shakefu commented on #1458
I just saw this again in 0.23.2.

In my case it seems that if at least 1 of the dependencies upgraded in a list is NOT a devDep, then it puts all the upgrades into dependencies in package.json.

[2017-04-21 19:36] kittens commented on #1981
Pretty sure I know the cause of this. Yarn is saving all known build artifacts to our internal cache. Heroku and others would just be caching `node_modules` and restoring that, since we don't have our original Yarn cache we don't know the possible artifacts.

[2017-04-21 20:10] kittens commented on #1981
Opened #3224 which *might* fix this.

[2017-04-21 20:27] sibelius opened #3225 "yarn 0.23.2 searches package.json in test directory"
yarn is looking in for package.json in  `test` of my boilerplate: https://github.com/entria/graphql-dataloader-boilerplate

![image](https://cloud.githubusercontent.com/assets/2005841/25294919/b2c04c38-26b7-11e7-96d3-6f4745afc8a1.png)

[code]

[2017-04-21 20:32] ckuyehar commented on #2331
something needs to be done to alleviate this error. yarn clean shouldn't break tslint.

tslint issue on yarn - https://github.com/palantir/tslint/issues/1770

[2017-04-21 20:54] #3136 closed

[2017-04-21 20:59] sibelius commented on #3225
I've found the issue

jest package was in `test` version

I think this should be marked as a bug

[2017-04-22 02:09] anudeepr28 opened #3227 "Unable to install react-native project using yarn"
This will walk you through creating a new React Native project in E:\startup\tinybag
Using yarn v0.23.2
Installing react-native...
yarn add v0.23.2
info No lockfile found.
[1/4] Resolving packages...
info If you think this is a bug, please open a bug report with the information provided in "E:\\startup\\tinybag\\yarn-error.log".
info Visit https://yarnpkg.com/en/docs/cli/add for documentation abou

[2017-04-22 05:21] elimcjah commented on #1981
Thanks @kittens, I'm happy to see you are on getting us a solution.  I am too am having the same issue on heroku.  Initial heroku deploy of the app worked fine.  Once the project was updated I continue to get this error:

`Error: ENOENT: no such file or directory, scandir '/app/node_modules/node-sass-middleware/node_modules/node-sass/vendor'
`
I will use above work around until issue is solved.

[2017-04-22 05:30] elimcjah commented on #1832
@kittens has taken notice to the issue and with issue #3224 hopefully we have a fix in the near future.

[2017-04-22 07:50] SimenB opened #3228 "yarn why <pkg> should list all instances of a package inside the dependency tree"
**Do you want to request a *feature* or report a *bug*?**

I'd like to call it a bug, might be feature, though 😄

**What is the current behavior?**
[code]

But there are two versions of that dep installed:
[code]
(can't really use `yarn list` here because of #1845)

**If the current behavior is a bug, please provide the steps to reproduce.**

See above

**What is the expected behavior?**
That I'd

[2017-04-22 07:51] WoodyWoodsta commented on #3198
See https://github.com/yarnpkg/yarn/issues/3109 as well.

[2017-04-22 09:32] trondstroemme commented on #2504
Same issue as @rhtpandeyIN on Win 10 Pro 64-bit. resolved as per @lubojanski 's last comment.

[2017-04-22 10:01] vdh commented on #2064
@zenopopovici

Yarn caches downloads, no bandwidth will be wasted. If Yarn decides you need a new version it will fetch it, otherwise it'll reuse the existing cache. Also, nobody is going to stop you from setting a prefix of `/usr/local` if you want your own setup to reuse existing builds the way NPM does.

@mkutny

"Difficulties"? Absolutely not. It's a conscious choice to not throw everything in

[2017-04-22 10:31] publicarray commented on #2064
@vdh We are not forcing anything we just want better behavior with brew/nvm. You have a certain way you work with a tool and that's fine. I have different needs than you do and since yarn is marketed as a faster replacement than npm it should be no surprise that this issue exists. if the tool does not support global packages like I expect that is fine. Just make it clear before I install it, updat

[2017-04-22 10:41] BohdanTkachenko commented on #521
It does not work properly in all environments with .npmrc located at `~/.npmrc`. On my local machine it works fine, but when I'm running this in Docker, it does not see `~/.npmrc` when cwd is not `~`. You can check it with `yarn config list` command.

On my local machine it outputs:
[code]

While inside of Docker it outputs:
[code]

So it looks like it does not execute `npm config` correctly.

As

[2017-04-22 11:46] vdh commented on #2064
@publicarray
Yarn is a drop-in replacement that makes different design choices than NPM. It shouldn't be expected to replicate exact behaviour. The literal title is "CLI commands comparison", and some are *(N/A)* because they differ in design. How is asking the default prefix to change to be more like NPM *not* forcing things?

[2017-04-22 11:58] publicarray commented on #2064
By that logic `npm install --global [package]` should = N/A. but it doesn't.

That was never the intention. Please re-read the entire issue.

From my comment above:

[2017-04-22 12:02] publicarray commented on #2064
The ideal solution is to make yarn read a global config file that brew can set. So that the brew package manager can set the prefix it defines e.g. /usr/local/yarn

[2017-04-22 12:25] vdh commented on #2064
@publicarray Yarn *already* installs into the same place as Homebrew. And Yarn can already be configured to install to a custom location. These arguments aren't making sense.

[2017-04-22 13:14] torifat commented on #3225
Sorry, can you please explain what does this actually mean?

[2017-04-22 13:24] torifat commented on #3227
Can you provide your `yarn-error.log` file? It looks like a network failure.

[2017-04-22 13:27] torifat commented on #3223
Currently this is the expected behavior. If you want to check every time you can run `yarn install --check-files`

[2017-04-22 13:33] torifat commented on #3201
Can you provide your `package.json`? You can strip other info except the dependencies.

[2017-04-22 13:34] sibelius commented on #3225
package.json
[code]

[2017-04-22 13:34] webark commented on #3203
Ran into this as well. Had to change to just using "ssh://" which seems to work for yarn, but not for npm which does want the "git+ssh://".

[2017-04-22 13:43] torifat commented on #3225
`npm dist-tags ls jest`

[code]
`"jest": "test"` treat `jest` as a local package.

[2017-04-22 15:45] #1981 closed

[2017-04-22 15:47] bestander commented on #3180
Should be fixed by #3224 and released in 0.24

[2017-04-22 15:47] #3180 closed

[2017-04-22 16:37] anudeepr28 commented on #3227
Yarn-error.log file

Arguments:
  G:\Softwares\Node JS\node.exe C:\Program Files (x86)\Yarn\bin\yarn.js add react-native --exact

PATH:
  C:\ProgramData\Oracle\Java\javapath;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\ATI Technologies\ATI.ACE\Core-Static;C:\Program Files (x86)\Intel\OpenCL SDK\3.0\bin\x86;C:\Program Fil

[2017-04-22 16:41] anudeepr28 commented on #3227
Actually it's showing network timeout but my internet connection is working fine.

[2017-04-22 16:54] torifat commented on #3227
Similar Issue #944, #1565

[2017-04-22 19:51] olalonde opened #3230 "--ignore-scripts ignores lifecycle scripts in dependencies?"
**Do you want to request a *feature* or report a *bug*?**

Both

**What is the current behavior?**

`yarn install --ignore-scripts` ignores lifecycle scripts of dependencies.

**What is the expected behavior?**

`yarn install --ignore-scripts` should only ignore lifecycle scripts of package being installed. I am not sure if this is intentional but if it is, having a separate flag for just ignoring

[2017-04-22 20:44] Morphexe commented on #1496
I can confirm that adding node and yarn to the Windows Defender exclusions reduced the Linking time in around 60% on my windows machine.

[2017-04-22 21:06] mikew commented on #2998
Any thoughts on changing the flag to an environment variable like `YARN_FORCE_WINPTY`?

[2017-04-23 01:33] Daniel15 commented on #3212
`yarn.lock` is just supposed to be a simple lockfile, it's not for storage of other metadata. Because of this, I doubt we'd add the licenses to it.

[2017-04-23 01:39] Daniel15 commented on #3199
Looks like this was specific to `spider-detector`, and fixed in 1.0.17.

The error message points to an invalid checksum (see https://github.com/mafintosh/tar-stream/blob/73176274e21b1ee92b06e419099430edb52d0e36/headers.js#L267). This is not a Yarn bug. If you see it again, please file an issue either for the library itself, or for [tar-stream](https://github.com/mafintosh/tar-stream) if the tar f

[2017-04-23 01:39] #3199 closed

[2017-04-23 01:40] Daniel15 commented on #3220
It's in the regular community repo now: https://www.archlinux.org/packages/community/any/yarn/

[2017-04-23 01:40] #3220 closed

[2017-04-23 01:42] Daniel15 commented on #3184
If it's a chroot, wouldn't this succeed and create `/usr/local/share/` in the chroot?

Do you have some repro commands?

[2017-04-23 01:44] Daniel15 commented on #908
Not needed now that we have a flat bundle (#3030)

[2017-04-23 01:44] #908 closed

[2017-04-23 04:33] luftywiranda13 commented on #3142
yes i have exactly the same problem.
Globally installed packages are working just fine

But `yarn global ls` shows nothing instead of just **done**

[2017-04-23 04:34] ratiw commented on #2503
Updating Git Bash to 2.12.2 seems to solve my problem.

[2017-04-23 04:40] luftywiranda13 commented on #2064
yes i'm exactly the same problem.
Globally installed packages are working just fine

But yarn global ls shows nothing instead of just done

[2017-04-23 04:45] luftywiranda13 commented on #648
the globally installed packages such as CRA, eslint, etc. are working just find for me.

but `yarn global ls` shows nothing but **done**

[2017-04-23 04:49] Daniel15 commented on #3055
Submitted a diff to fix this: #3233

[2017-04-23 04:51] Daniel15 commented on #3055
Submitted a diff to fix this: #3233

The bug only affects global packages, which are very rarely used compared to regular (local) packages. The only use case for global packages is for things that are not specific to one project (for example, scaffolding tools like `create-react-app` and `yeoman`). Almost everything else is specific to a project and thus should go into that project's `package.json

[2017-04-23 04:52] Daniel15 commented on #2630
Closing as duplicate of #2474

[2017-04-23 04:52] #2630 closed

[2017-04-23 04:53] Daniel15 commented on #2474
This is a bug with `cmd-shim`: https://github.com/ForbesLindesay/cmd-shim/issues/21. It should be fixed in cmd-shim. Once a new version is available, we can update the dependency in Yarn.

[2017-04-23 04:53] #2474 closed

[2017-04-23 04:54] Daniel15 commented on #2630
This is a bug with `cmd-shim`: https://github.com/ForbesLindesay/cmd-shim/issues/21. It should be fixed in cmd-shim. Once a new version is available, we can update the dependency in Yarn.

[2017-04-23 04:55] Daniel15 commented on #2192
Submitted a pull request to fix this: #3233

[2017-04-23 05:38] guenam commented on #3055
By the way, I found a workaround that worked on my pc: use chocolatey to install yarn (as proposed on the yarn website).

[2017-04-23 08:03] mkutny commented on #2064
The `PATH` variable is not a replacement for the organized filesystem. The whole purpose of `PATH` is to facilitate less typing so instead of `/usr/local/bower` you go just `bower`.

Executables SHOULD go to `/bin`, `/usr/bin`, `/usr/local/bin`, `/usr/X11R6/bin` etc and you MAY point `PATH` to them.

`brew` (Mac), `dpkg` (Debian), `rpm` (RedHat), `npm` - all package managers work this way.

Techni

[2017-04-23 11:44] whitecolor commented on #2914
using  `yarn link` with installing dependency and without changing package.json/yarn.lock would causes inconsistency in dependency set. Actually using `yarn/npm link` causes kind of inconsistency anyway and brings a lot of other issues.  Yarn installes only dependencies that derive from `package.json` and this is consistent approach. So far I use [yalc](https://github.com/whitecolor/yalc) for work

[2017-04-23 12:55] redstrike commented on #3142
Same problem on **Windows 10 Pro ver. 1703 (Creator Update)**
![image](https://cloud.githubusercontent.com/assets/2168227/25313718/989f9fe0-285e-11e7-8e38-8deca9ab800e.png)

[2017-04-23 13:06] jurekbarth commented on #2738
@Levino  Can you run `yarn config list` and have a look if yarn is picking up the .npmrc file? In #521 @BohdanTkachenko solved the issue similarly. At least this also works for me :)

[2017-04-23 16:03] #2852 closed

[2017-04-23 16:36] robdodson commented on #2781
Glad I found this issue as I was just trying to do the same combo of `--flat --production`.

For a frontend web project, is it safe to assume that you'd always want your `dependencies` to be flat installed? Otherwise you'd end up shipping multiple versions of a component or library down to the client which is inherently wasteful.

For `devDependencies` I think it's totally fine to use the regular

[2017-04-23 21:26] whitecolor commented on #1326
I'm running on mhart/alpine-node:7.1.0

[code]

Why I yarn installing and replacing node installed?

[2017-04-23 21:28] Daniel15 commented on #1326
I think doing `apk add nodejs-current yarn` will get you 7.x instead of 6.x, but you'll need to ask the maintainer of the Alpine package (see https://pkgs.alpinelinux.org/package/edge/community/x86/yarn)

[2017-04-23 21:28] mhart commented on #1326
@whitecolor because node in the base image wasn't installed using apk – so the yarn apk package knows nothing about it

[2017-04-23 21:30] mhart commented on #1326
@whitecolor you should install yarn manually if you want to use that docker image – see these comments: https://github.com/yarnpkg/yarn/issues/1326#issuecomment-277539561 or https://github.com/yarnpkg/yarn/issues/1326#issuecomment-277558635

[2017-04-23 22:33] Daniel15 commented on #967
This should have been fixed when we added an Authenticode signature to the installer. Please let us know if you still see this.

[2017-04-23 22:33] #967 closed

[2017-04-23 23:22] alanondra opened #3241 "Yarn install ignores lockfile"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When running `yarn install` it ignores the lockfile entirely and updates all packages.

**What is the expected behavior?**
Installing only the versions of packages listed in the lockfile. Since there is no documentation on forcing it to abide I hoped this was the expected default behavior.

**Please me

[2017-04-23 23:28] vdh commented on #2064
@mkutny What is all this "non-standard" and "goes against people's expectations" you keep throwing around?

Everything inside `/usr/local` is dictated by *you*, the user. There are no other people who's expectations matter to that directory except your own, unless you're running a multi-user machine (e.g. a server). Homebrew has built up its own *conventions* of how they want to structure their di

[2017-04-23 23:34] Daniel15 commented on #2998
Hmm, that might work. Alternatively, it's possible that there used to be a bug with Mingw or something, that's not a problem any more? I'm not sure.

[2017-04-24 00:21] taoeffect commented on #2287
Here's how it behaves with the latest `0.23.2` version:

![screen_shot_2017-04-23_at_5 18 10_pm](https://cloud.githubusercontent.com/assets/138706/25318706/332c4a7e-2849-11e7-9da6-574fca92230d.jpg)

W.T.F.

[2017-04-24 00:21] Artoria2e5 commented on #2287
These are [ANSI color codes](https://en.wikipedia.org/wiki/ANSI_escape_code#Colors). What kind of terminal are you using here? Pre-Windows 10 cmd?

[2017-04-24 00:27] taoeffect opened #3242 "Yarn doesn't stop if integrity check fails. Instead it creates a new yarn.lock"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

![screen_shot_2017-04-23_at_5 18 10_pm](https://cloud.githubusercontent.com/assets/138706/25318761/d5997e3a-2849-11e7-9bb7-950a9ccb2a4f.jpg)

**If the current behavior is a bug, please provide the steps to reproduce.**

See screenshot above.

**What is the expected behavior?**

1. For it to **immedi

[2017-04-24 00:29] mikew commented on #2998
I'm guessing you're correct, it just feels safer to still allow the flag somewhere.

[2017-04-24 00:36] taoeffect commented on #3242
Even worse: if I `rm -rf node_modules/` and re-run `yarn install`, it *still* re-creates `yarn.lock`, but without the integrity check warning.

Here's the diff:

[code]

[2017-04-24 00:46] bertramn opened #3243 "yarn fails to install packages with github tarball dependencies"
**Bug**

**What is the current behavior?**

I checked in a patched node package which has a patched dependency node package. The dependency tree look like this:

[code]

Why I would do such thing you might ask? Well ... there is no way in yarn to force version/location override of dependencies of a dependency. I tried a lot of things including the dependencies override in the `package.json` file w

[2017-04-24 04:26] Daniel15 commented on #2998
Sure, a flag sounds reasonable! Feel free to send a pull request - Should be pretty straightforward 😃

[2017-04-24 07:32] FDiskas commented on #3058
Same. .bin files are not created but created if npm is used ```npm install optipng --save-dev```

[2017-04-24 07:58] AlphaBetaPeter commented on #3184
Under certain circumstances this would be possible, yes. The environment my yarn process runs in doesn't allow that.
I am not running any specific commands. Simply `yarn (install)`.
It just felt a bit odd that i can't influence where yarn creates these files.

[2017-04-24 08:53] johannes-scharlach commented on #3242
I think what you're looking for is `yarn install --frozen-lockfile`, which is supposed to be used e.g. in the CI where you want to fail. Locally it's quite practical that the yarn.lock file is automatically updated, because it's the only way to fix the integrity issues.

[2017-04-24 09:26] antony commented on #648
This problem is also present when node is installed by nvm, I don't think it's homebrew specific.

[2017-04-24 09:44] #2266 closed

[2017-04-24 09:44] #3114 closed

[2017-04-24 09:56] #3055 closed

[2017-04-24 10:09] mkutny commented on #2064
I quoted it earlier but you apparently missed it. It is called Filesystem Hierarchy Standard and it's a part of POSIX. In particular, following [this link to spec](http://refspecs.linuxfoundation.org/FHS_2.3/fhs-2.3.html#USRLOCALLOCALHIERARCHY) you'll find what it says about `/usr/local`.

Note, that their "own" conventions just follow FHS (surprise). Also note, that standards **are** conventions.

[2017-04-24 10:22] benjie commented on #1552
This sounds like a good solution to me. There's only [one package](https://github.com/jshemas/openGraphScraper/pull/39) in our build that has "incompatible" engines (where they've stated Node 6 rather than Node >= 6) and now we have to `--ignore-engines` on every install action. This is irritating, but worse: it reduces the usefulness of the engines check because we now blanket-ignore engines.

Sp

[2017-04-24 10:26] arcanis commented on #3241
I can't reproduce this behavior:

[code]

[2017-04-24 11:32] reacthacker commented on #3201
{
  },
  "devDependencies": {
    "eslint": "3.19.0",
    "eslint-config-airbnb": "^14.1.0",
    "eslint-plugin-import": "^2.2.0",
    "eslint-plugin-jsx-a11y": "^4.0.0",
    "eslint-plugin-react": "^6.9.0",
    "react-scripts": "0.9.5"
  }
}

[2017-04-24 14:36] alanondra commented on #3241
I don't know what else there is to really tell except it installed different versions of packages than what's defined in the lockfile and then updated the lockfile. The package `cross-env` for example was at v3.2.3 but was updated to the broken v4.0.0.

[2017-04-24 14:38] arcanis commented on #3241
Can you update the sample I provided above so that we can reproduce the issue on our side?

[2017-04-24 14:40] staabm commented on #2029
same here...

[code]

[2017-04-24 15:25] mikew commented on #2998
Done!

[2017-04-24 16:47] Falieson commented on #1882
yarn (0.23.2) isn't tied to the node version, it will run whatever version of node your terminal environment has declared

My solution:
- uninstalled brew's version of node
- installed node 6 and 7 side-by-side with `nvm` (node version manager)
- use .nvmrc and auto-switch bash script for node6 repos

[2017-04-24 17:02] bestander commented on #1955
A follow up on this.
After #3224 .yarn-integrity file contains list of artifacts that were modified at scripts execution phase, that should address a few bugs related to this issue but it does not really address this one.

If `selenium-standalone` had `install: install` in package.json then built/downloaded artifacts would be recorded by Yarn as non-extraneous files.

But `selenium-standalone` doe

[2017-04-24 17:07] DonKirkham commented on #2412
Thanks dcu-sharepoint. and yes, this is definitely a windows issue.

I agree with your assessment of the problem, but I am not sure how to trace the issue either. If Yarn had a --verbose mode that could shed light on the specific check that is being improperly flagged as an error instead of a warning, that would help. I've currently tried the latest stable version (0.23.2), as well as nightly buil

[2017-04-24 17:16] pjean commented on #2488
It's seems that it's OS dependent because I can reproduce it on Ubuntu and not on macos.

For the same commands:
`yarn config set production false`
`yarn install`
`yarn build`

Succeed:
node v6.9.2
yarn v0.22
macOS Sierra 10.12

Failed:
node v6.9.2
yarn v0.22
ubuntu 12.04

Each OS has the file `.yarnrc` with `production false`

[2017-04-24 17:16] bestander commented on #2619
This should be fixed by #3224.
If not please report steps to reproduce

[2017-04-24 17:16] #2619 closed

[2017-04-24 17:20] felds commented on #1451
@bwhitty It's not fixed @ v0.21.3. I'm having the same bug when upgrading a package from github.

[code]

[code]

It works fine when upgrading all packages.

[2017-04-24 17:21] bestander opened #3247 ".yarn-integrity artifacts gets lost after add"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**

[code]

**What is the expected behavior?**

artifacts should remain after add operation

**Please mention your node.js, yarn and operating system version.**

yarn master 0.24.0-0

[2017-04-24 18:22] bestander commented on #3185
I think this got fixed with latest version of Yarn
[code]

[2017-04-24 18:22] #3185 closed

[2017-04-24 20:40] DylanVann commented on #685
This makes testing React Native modules a hassle. If you have `project/example` with a dependency on `"project": "../"` it will copy `project/node_modules` into `project/example/node_modules` which will generally break the React Native packager due to `@providesModule` conflicts (hopefully `@providesModule` will be deprecated soon but this is an issue now).

[2017-04-24 23:35] patrickhulce commented on #932
To add some more color, my perception of this happening on `yarn add <some-package>` was much greater than reality as many cases for me were actually triggered by combining with `yarn remove <unrelated-package>` immediately before due to the `force: true` on [this line](https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/remove.js#L84).

Certainly convenient to reuse the install logic in

[2017-04-24 23:42] s3ththompson commented on #2976
I thought 23.2 fixed this issue for a little while, but I ran into it again trying to remove a dependency from `yarn.lock`.

[2017-04-25 00:11] taoeffect commented on #3242
- Integrity issues should never happen in the first place
- If they do, something is *very wrong*, and **yarn needs to explain _what_ is wrong**

[2017-04-25 01:22] spencer-brown commented on #2260
It looks like this repro case is specific to jade (see this issue: https://github.com/yarnpkg/yarn/issues/3181). I've experienced this issue transiently in other cases, though. Typically I'm able to solve it by `rm -rf`ing `node_modules` and running `yarn` again.

[2017-04-25 03:03] klouskingsley commented on #2581
you should use `yarn remove xx`

[2017-04-25 07:45] dlong500 opened #3249 "yarn upgrade should report exactly what it did"
**Do you want to request a *feature* or report a *bug*?**
Feature request: yarn upgrade should report exactly what it did, so if it updated packages it should list those packages with old version and new version info, such as:
[code]
If any nested dependencies are updated those should be displayed as well (after the list of updated direct dependencies).  Otherwise it should report "No packages upg

[2017-04-25 07:47] lili21 commented on #2276
??

[2017-04-25 08:17] kittens commented on #2781
#3251 will fix this.

[2017-04-25 09:52] JonasGao commented on #2337
same for me

[2017-04-25 10:36] arcanis commented on #3249
That could be interesting. However, isn't diffing the lockfile enough?

[2017-04-25 10:56] OmerHerera opened #3252 "yarn install command ignoring if yarn.lock file exist"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn install` ignore existing `yarn.lock` file and install all modules with newest version

**If the current behavior is a bug, please provide the steps to reproduce.**
Run `yarn install` in a project that has `yarn.lock` file
See `yarn.lock` file created again, overriding old (see attached picture)

[2017-04-25 11:01] OmerHerera commented on #3241
Is this the same issue I open [here](https://github.com/yarnpkg/yarn/issues/3252)
I think is duplicated.
Thanks

[2017-04-25 11:06] #3247 closed

[2017-04-25 11:06] #2781 closed

[2017-04-25 12:48] enw commented on #2337
Workaround - alias hadoop yarn to '''yarn-hadoop''' before installing this yarn

[2017-04-25 15:02] mijamo commented on #3141
Same error when I publish a public package through `yarn publish` and then install it through `yarn add` (package `react-thumbor-img`). Publishing through NPM also solved the problem.

[2017-04-25 15:22] xinshangshangxin opened #3253 "after `brew upgrade yarn` lose yarnpkg"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
`command not found: yarnpkg`
**If the current behavior is a bug, please provide the steps to reproduce.**

I had hadoop-yarn, so when I `brew upgrade yarn` , it remind me `The `brew link` step did not complete successfully`
but I dont want to uninstall `hadoop-yarn`, I want use yarnpkg

**What is the

[2017-04-25 15:31] danny-andrews commented on #1776
@IanVS @idris's concern still applies to this solution. You will end up upgrading a lot of your dependencies this way, which may be unexpected.

[2017-04-25 16:46] IanVS commented on #1776
@danny-andrews can you explain how?

[2017-04-25 17:26] danny-andrews commented on #1776
When you wipe out `yarn.lock` and rerun `yarn install`, the entire `yarn.lock` gets rebuilt with the newest versions of dependencies that satisfy the version ranges specified in `package.json`, effectively upgrading any dependency which has changed since last running `yarn install`.

[2017-04-25 17:39] rally25rs commented on #1333
Also if the location for this setting is going to be in `.yarnrc` then it should be documented at: [https://yarnpkg.com/en/docs/yarnrc](https://yarnpkg.com/en/docs/yarnrc)

[2017-04-25 18:12] IanVS commented on #1776
That's why I suggested `git checkout origin/master -- yarn.lock` instead of deleting the `yarn.lock`.  That will reset your `yarn.lock` to the version on master, allowing the `yarn install` to update only the packages that have changed in your `package.json` (and their sub-deps, of course).

[2017-04-25 18:27] robdodson opened #3254 "Allow install only devDependencies"
**Do you want to request a *feature* or report a *bug*?**
Hopefully this is a small feature request. I'd like a flag that allows me to only install `devDependencies`. This would allow me to split my flat installed client code from my build tools code.

Thanks to the fix in https://github.com/yarnpkg/yarn/issues/2781#issuecomment-296955569 I can now do:

[code]

And only install `dependencies` in m

[2017-04-25 18:35] idris commented on #1776
@IanVS yes, that is the correct way to do it.

Though I'd recommend `git checkout -- yarn.lock`, which is more general and just resets it to whatever is committed on your current branch.

[2017-04-25 18:39] IanVS commented on #1776
Good point, @idris.  I typically rebase onto master, which is the example I used above, but that won't always be the case.

[2017-04-25 18:51] dlong500 commented on #3249
For projects committing the lockfile then yes, you could get the information out of that assuming you did a git commit every single time the lockfile changes.  However, even then I'd argue this would be a useful summary of information to see upon running the upgrade command.

But what about scenarios where the lockfile isn't being tracked (for quick test projects or playgrounds)?  If the lockfile

[2017-04-25 18:53] coreyleelarson commented on #2531
We had similar issues. We found that using the -r flag to pipe in the raw terminal output on concurrently solved these issues. Try that out.

[code]

[2017-04-25 19:35] danny-andrews commented on #1776
@IanVS I didn't understand what that command did. That's much better than manually copying and pasting like I have been doing. Thanks for sharing!

[2017-04-25 21:03] josheche commented on #2915
In my experience, the best way to get around this is just run `rm '/usr/local/bin/node'` then re install node from nodejs.org. It always does the trick for me when I accidentally start messing with yarn in a project I'm using npm on.

- So `rm '/usr/local/bin/node'` removes nodejs from your local environment.
- Re-installing it on their website is an order of magnitude easier than letting homebrew

[2017-04-25 21:14] Ciantic commented on #685
I think this should be renamed, it's not just "yarn pack" it's also "yarn install", which is far more common.

[2017-04-25 21:18] caesarsol commented on #685
I guess all yarn is ignoring `.npmignore` at this point?

This may be by design, in which case I'd say it's quite a strange decision!

[2017-04-25 21:51] zurawiki commented on #3208
This feature already seems to exist. The env variable name is `YARN_CACHE_FOLDER`

[code]

[2017-04-25 22:12] jonnyynnoj commented on #2722
Was having this same issue, updating git to 2.12.2 fixed this for me

[2017-04-25 22:34] vdh commented on #2064
@mkutny
Following FHS doesn't say anywhere there to throw every single one of your symlinks into `/usr/local/bin`. It doesn't even say whether to put symlinks in there vs the actual binaries. FHS just dictates common directory structures.

Yes it *does*, Homebrew manages symlinks inside `/usr/local/bin` just fine on its own. I don't need tons of non-Homebrew symlinks in there for a management head

[2017-04-25 23:12] binarykitchen opened #3255 "Document how to install yarn when you use nvm"
I have a mess here on my both machines, running on Ubuntu and Mac OS. Both have the same problem: how to install yarn properly when you use nvm?

nvm, as you know, is an isolated nodejs manager. But when you do `brew install yarn` or `sudo apt-get install yarn`, then a system-wide nodejs version is installed (as a dependency)

This nodejs dependency is breaking a lot on my machines. This isn't wor

[2017-04-25 23:15] binarykitchen commented on #3078
@gibfahn but install docs do not recommend installing yarn through npm. and yarn hasn't been updated on npm for a while ... can you explain this?

[2017-04-26 00:02] dcu-sharepoint commented on #2412
@DonKirkham  maybe we can join forces and work the issue, I love Yarn too. I had another issue with Yarn and the FB create-react-app utility FB provides to create app templates. their problem is that 1) the create-react-app bypasses windows security to put command files in a system directory and on the admin account and 2) the create-react-app then fails to work because it's creating the command f

[2017-04-26 00:11] rrdlpl commented on #3213
This is happening to me in linux with v0.23.2 without docker

[2017-04-26 00:56] mtraynham commented on #2165
Per #2165 and the subsequent merge commit https://github.com/yarnpkg/yarn/commit/7241de13bb236526fa439a2528fbed319f60ef24, you can now "refresh" `file:` protocol dependencies with
[code]
This will invalidate the dependency in the cache & reinstall it locally.  `yarn install` will also work if the dependencies version changed, which invalidates the yarn.lock file.

It was also made apparent to me t

[2017-04-26 02:43] #2943 closed

[2017-04-26 02:45] #2495 closed

[2017-04-26 03:00] dentemple commented on #2722
Can confirm. I just updated git to 2.12.2, and now my issue is resolved.

[2017-04-26 05:19] donaldpipowitch commented on #2165
@mtraynham Thank you for your pull request! 👌 This is awesome. Any reasons why `--force` is needed? I currently don't even know it does right now without looking it up :) Just asking, because npm doesn't need a  `--force` flag and it would have been nice to behave like npm.

[2017-04-26 06:34] sapegin commented on #3003
Yeah, `yarn global ls` and `yarn list` are inconsistent.

[2017-04-26 06:38] lukeggchapman commented on #2913
For me `Yarn add git+ssh://git@github.com/<gitUserName>/<projectName>.git#<Branch>` works when adding, but when running fresh `yarn install` the branch is ignored and it grabs `master`

[2017-04-26 07:25] OmerHerera commented on #3252
I got into the conclusion that if the `yarn.lock` file was changed manually (without using the `yarn cli`).
It fails integrity check and generate a new one, I was updating the file because there is a bug with sub-modules [here](https://github.com/yarnpkg/yarn/issues/3082).

I'm right about it?
Thanks

[2017-04-26 07:39] WoodyWoodsta opened #3256 "yarn global add . fails"
**What is the current behavior?**
Running `yarn global add .` in the directory of a local module results in:
[code]

**What is the expected behavior?**
This may or may not be a question/feature request, but I'm intending to perform the equivalent to
[code]
whereby the local module would be installed from the local code base to exist as a globally installed module. Is this currently possible?

**Pl

[2017-04-26 07:47] mkutny commented on #2064
My `brew doctor` does not warn me about non-Homebrew symlinks.
But even if it did... here's what it would print out:

[code]

Homebrew maintainers suggest you to not worry. You might not like non-Homebrew symlinks in `/usr/local/bin` but they are _not breaking_.
Homebrew is designed to not get in your way to work with `/usr/local`. It can manage symlinks either on its own or side by side with anot

[2017-04-26 08:16] edmorley commented on #2722
Please can you reopen?

This still occurs using MSYS2.

[2017-04-26 08:22] HenrikWL commented on #2064
I'd be happy if the prefix option worked. However, it only partially does:

![skjermbilde 2017-04-26 kl 10 20 47](https://cloud.githubusercontent.com/assets/116110/25424847/2a0a89a6-2a6a-11e7-9e12-99416a71f048.png)

[2017-04-26 08:31] mkutny commented on #2064
@HenrikWL , it worked in v0.21 and now it's broken (but I think it's a separate issue).

[2017-04-26 08:33] HenrikWL commented on #2064
@mkutny yeah, this thread has kinda bloated a bit, I think there's at least 3 different issues being discussed here. If there's a dedicated one for `yarn global ls` not working when the prefix option is set, I'll hit that one up instead.

[2017-04-26 09:32] lukehedger commented on #2976
Also seeing an error when managing the `eth-lightwallet` dependency with Yarn. After installing the dependency, subsequent `yarn` commands (`add`, `install`) fail with this error:

[code]

Running `yarn cache clean` and removing `node_modules` and the `yarn.lock` file resolves the issue but obviously re-running `yarn install` will cause the issue to resurface.

[2017-04-26 10:12] StarpTech commented on #1297
Run into the same issue. After linking and install the package I got:

[code]

[2017-04-26 10:27] StarpTech opened #3257 "Yarn link and install doesn't work"
There is definitely an issue with this. Look at [issue ](https://github.com/yarnpkg/yarn/issues/1297) it's 7 Months old and without a response from the yarn team.

[2017-04-26 11:32] joshgillies commented on #3141
I think this may be a duplicate of #2764 ?

[2017-04-26 12:05] Anahkiasen commented on #3249
This is also true for global dependencies, every time you run `yarn global upgrade` it spits out _all_ the global packages and their dependencies which a) is very verbose b) provides zero value. I 👍  the need for a more selective output that shows what was actually updated instead.

[2017-04-26 12:11] voxsim commented on #3257
I will look into this. Let me know if you have additional informations; thanks ;)

[2017-04-26 12:14] arcanis commented on #3249
I can see the point. Feel free to open a PR with a prototype!

[2017-04-26 12:21] timaschew commented on #3204
Please, can anyone confirm that this is an issue or tell me if I'm wrong.

[2017-04-26 12:30] fab1an commented on #1458
This is definitely not fixed. Lost an hour now on this.

[2017-04-26 12:52] StarpTech commented on #3257
Easy to reproduce

1. Link package
2. Install package via link
3. Run `yarn`

Output:
[code]

[code]

[2017-04-26 13:16] mkutny commented on #2064
@HenrikWL, issues with `yarn global ls` have been reported a while ago, they been being fixed in PR-3238.

[2017-04-26 13:55] bestander opened #3258 "APRIL 28 ISSUES TRIAGE SESSION"
We'll use this task to coordinate triage session this Friday (28.04.2017).

15:30 BST - 17:30 BST
07:30 PT - 09:30 PT
10:30 EDT - 12:30 EDT

We need to add some order to the issues and are going to do our first group triage session.

Goals:
- Reduce the number of duplicated issues by grouping them by category first
- Close non actionable issues
- Prioritize important issues over the rest

What we

[2017-04-26 14:20] jbreckel commented on #3141
possibly, but the error message is different.

If the error occurs while packaging, it may break differently on different systems.

[2017-04-26 14:24] mtraynham commented on #2165
Good question.  The short version is,

This really means it will skip the lockfile integrity check.  The lockfile integrity check will usually pass if you don't change the package.json file. Skipping it asks the cache to check for missing/mismatched dependencies against the lockfile, download them if missing, and copy back any newer/missing dependencies locally.  Then it runs npm `install`/`postIn

[2017-04-26 14:51] #3168 closed

[2017-04-26 15:29] athaax commented on #3257
On a related note, but perhaps a separate issue. I experience the following behavior:
1. `yarn link "my-local-module"`
2. `yarn unlink 'my-local-module'
3. `yarn install`
4. `success Already up-to-date`

In other words, yarn doesn't seem to be picking up the fact that when I unlink a local module, it's out of sync. I have to run `yarn install --force` to get it back, or `yarn add my-local-module@1

[2017-04-26 15:34] stijnvanderlaan commented on #2854
This does works in 0.22.0+ for me, yes.

[2017-04-26 15:36] arcanis commented on #2854
👍 I'm going to close this issue, then. Feel free to open a new one if something else doesn't work as expected with git / file packages.

[2017-04-26 15:36] #2854 closed

[2017-04-26 15:54] Sunyang730 opened #3259 "npm list flag private repo packages that are in dependencies as extraneous"
**Do you want to request a *feature* or report a *bug*?**

bug (maybe?)

**What is the current behavior?**
after yarn install, the private repo packages that are listed under dependencies are flag as extraneous when you do npm list.

**If the current behavior is a bug, please provide the steps to reproduce.**

yarn install some private repo packages and do npm list

**What is the expected behavior

[2017-04-26 16:01] bestander commented on #3208
Yes, actually Yarn converts all environment variables into
[YarnRegistry.config](https://github.com/yarnpkg/yarn/blob/master/src/registries/yarn-registry.js#L60) if they have `yarn_` prefix.

That is not a widely known fact, do you want to write start a doc on the [website](https://yarnpkg.com/en/docs/configuration) for that, @zurawiki ?

[2017-04-26 16:01] #3208 closed

[2017-04-26 16:19] gibfahn commented on #3078
@binarykitchen afraid not, I haven't worked on yarn, I just happened to see this issue.

Your issue https://github.com/yarnpkg/yarn/issues/3255 seems to cover the issue adequately.

[2017-04-26 16:38] arcanis commented on #3258
I was wondering something: a lot of the issue on this repo have no exact repro steps. It makes it very hard to debug the issue, and even harder to know if the issue is still there after a new release - of course in a wonderful world we would fix bugs reported on the bug tracker and close the related issues, but it's easy to miss a duplicate, to forget to close the issue, to wait for a confirmation

[2017-04-26 17:00] Sunyang730 commented on #3259
So I have notice, when you do npm install, it adds a few meta data to the package.json file. Yarn doesn't do that, so npm list can't parse the info?

[2017-04-26 17:36] Sunyang730 commented on #3259
After spending more time debugging, it seems like the _requested field that got added by npm is the one to define if it is valid or not. Yarn install does not add that field to the package json, therefore it will list as extraneous when you do npm list

[2017-04-26 18:10] diegovilar commented on #1458
@fab1an, for the moment use `yarn add package-name@latest [--dev]` to update a package. It behaves as `upgrade` is expected to, updating package.json correctly.

[2017-04-26 18:26] donaldpipowitch commented on #2165
Great answer. 👏 Thank you for writing this down.

[2017-04-26 18:56] seansfkelley commented on #3223
I just found https://github.com/yarnpkg/yarn/issues/2240 which appears to be a duplicate of this issue, so it looks like this is a point of confusion that has been around for quite some time.

[2017-04-26 18:56] #3223 closed

[2017-04-26 19:53] rally25rs commented on #1169
I'm giving a presentation on Yarn at a conference and was looking for actual details to back up this "mega secure" claim.  From my own testing, I actually noticed that NPM will check the hash of the downloaded .tgz file before extracting it.

[code]

Yarn on the other hand, does not, and passes it off to the extraction library.

[code]

If the underlying extraction library had a vulnerability then

[2017-04-26 21:24] stereobooster commented on #521
found here https://github.com/uber/react-map-gl

[code]

[2017-04-26 21:41] binarykitchen commented on #3078
yep ... wait see what will happen on that issue

[2017-04-26 22:05] Sunyang730 opened #3261 "Yarn install is including tests and docs folder"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**
I only tried this on a private repo, where yarn is including tests and docs folder when yarn install

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
To not include tests and docs folder

**Please mention your node.js, yarn and opera

[2017-04-26 22:16] fedwatch opened #3262 "yarn add global react react-native have errors"
Arguments:
  C:\Program Files\nodejs\node.exe C:\Users\Administrator\AppData\Roaming\npm\node_modules\yarn\bin\yarn.js add global react react-native

PATH:
  C:\Users\Administrator\bin;C:\Program Files\Git\mingw64\bin;C:\Program Files\Git\usr\local\bin;C:\Program Files\Git\usr\bin;C:\Program Files\Git\usr\bin;C:\Program Files\Git\mingw64\bin;C:\Program Files\Git\usr\bin;C:\Users\Administrator\bin;

[2017-04-26 22:29] fab1an commented on #1458
@diegovilar Thanks for the tipp, but that's too cumbersome for 25+ dev-dependencies. I just went back to using `npm-check -u` for upgrading them.

[2017-04-26 23:15] mitchlloyd opened #3263 "Yarn tries to resolve devDependencies with --production flag"
As of writing I'm on current version: 0.23.2.

**Do you want to request a *feature* or report a *bug*?**

I believe this is a bug because the behavior seems problematic and is different than the `npm` install behavior. However, perhaps there is something fundamentally different about how this should work with yarn and this is expected behavior.

**What is the current behavior?**

Given a package.j

[2017-04-26 23:24] mitchlloyd commented on #3263
Just discovered https://github.com/yarnpkg/yarn/issues/1115. So this seems like expected and required behavior.

[2017-04-26 23:24] #3263 closed

[2017-04-27 01:36] steve-taylor commented on #536
Still happens in v0.23.2 which should contain #2995 as it was merged before the release. Specifically, it hangs on `is-number` and `is-arrayish`.

[2017-04-27 03:00] kenan2002 opened #3264 "Scoped packages install failed on first install (without yarn.lock)"
**Do you want to request a *feature* or report a *bug*?**
I want to report a BUG.

**What is the current behavior?**
I'm migrating my project from npm to yarn following [this guide](https://yarnpkg.com/lang/en/docs/migrating-from-npm/). However the `yarn` command report the following error:
[code]
But when I delete the scoped packages from package.json, yarn installs and generates yarn.lock normal

[2017-04-27 03:08] virgofx commented on #1458
Still broken in Windows x64 , Yarn 0.23.2

[2017-04-27 03:21] milesj commented on #1458
For everyone commenting here, I suggest using `yarn upgrade-interactive` in the mean time. Has been working rather well here.

[2017-04-27 03:52] 1j01 commented on #1648
On Windows 10, I see both `PATH` env vars (system and user) were updated, but opening a fresh command prompt, it doesn't seem to be pulling in the updated PATH. `echo %PATH%` doesn't show `yarn` anywhere. Adding a backslash didn't help.

Is it possible the solutions of adding a backslash or replacing the `AppData\Local\Yarn\.bin` entry with the `Program Files (x86)\Yarn\bin` entry are working mere

[2017-04-27 03:54] Daniel15 commented on #1648
@1j01 - The AppData directory is only for global packages you install via Yarn (using `yarn global add`). Yarn itself should be in `c:\Program Files (x86)\Yarn\bin\`. Is the Program Files directory not on your system `PATH`?

[2017-04-27 03:57] 1j01 commented on #3087
If `yarn` isn't available as a command, see https://github.com/yarnpkg/yarn/issues/1648

[2017-04-27 05:10] mtpultz commented on #1458
Still broken and if you use `yarn upgrade-iteractive` and don't know what version of tslint, codelyzer, typescript, etc that packages depend on like Angular or the Angular CLI you can and will cause a bunch of errors that will haunt you even after you roll it all back.  Has this issue been re-posted?

[2017-04-27 05:17] mtpultz opened #3266 "Yarn Upgrade Doesn't Update Package.json"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
`yarn upgrade` doesn't update package.json unless you go package by package `yarn upgrade @angular`, and using `yarn upgrade-interactive` puts a lot of responsibility on knowing exactly what package depend on what as our team found out when the version of codelyzer, tslint, zone.js, and typescript wer

[2017-04-27 05:49] 1j01 commented on #1648
@Daniel15 I know. It is. It's just not being pulled in.

[2017-04-27 05:52] fxfactorial opened #3267 "Yarn using git incorrectly when remote pinning to git repo?"
Trying to pin from CLI, using this command:

[code]

But craps out with:

[code]

[2017-04-27 05:55] 1j01 commented on #2504
Is it possible the solution of adding a backslash is working (for some people) merely by triggering some sort of update? (That the installer isn't?) I see a lot of entries in PATH that leave off the backslash including git, nvm, nodejs, and Windows system paths. Does it still work if you change it back?

[2017-04-27 05:57] fxfactorial commented on #3267
Okay well this was super annoying and misleading, the problem was that I can a `~/.git` file which was gibberish.

[2017-04-27 05:57] #3267 closed

[2017-04-27 06:37] fab1an commented on #1458
@milesj NO. I'm here and I've been using ONLY `upgrade-interactive` with the exact same problems.

[2017-04-27 07:25] mtpultz commented on #1458
Wasn't sure if this was getting any face time since it has been closed for months so created a new issue - #3266

[2017-04-27 09:37] sedrik commented on #3213
I ran into the same issue, it so happens that if you have .npmrc in your working directory it works.

[code]

[2017-04-27 13:32] dbpieter commented on #1214
@whitecolor

Simple reproduction with file: protocol.

- Install a package through the registry (for example "lodash")
- Change your package.json so that lodash uses file protocol (eg: "lodash": file:./custom_packages/lodash")
- yarn install
- observe node_modules => lodash version from cache is used instead of the one from custom_packages

yarn v0.22.0

[2017-04-27 14:09] whitecolor commented on #1214
@dalmaer and on the latest stable 23.2?

[2017-04-27 14:10] bestander commented on #1214
We just landed a fix to file: dependencies on master.
Check out in 0.24 next week

On 27 April 2017 at 15:09, Alex <notifications@github.com> wrote:

[2017-04-27 14:39] MattMorgis commented on #1496
+1

[code]

[2017-04-27 15:27] rally25rs commented on #3204
The [docs for upgrade](https://yarnpkg.com/en/docs/cli/upgrade#toc-yarn-upgrade) state:

It actually seems to work OK for me in v0.23.2

* `yarn add jest@18.0.0` -- installs Jest 18.0.0
* edit package.json and set to a carrot version `"jest":"^18.0.0"`
* `yarn upgrade` -- does nothing, keeps 18.1.0 (updates to latest using package.json)
* `yarn upgrade jest` -- upgrades to 19.x (updates to latest

[2017-04-27 16:10] modusss commented on #764
I have this issue too with:
yarn v.0.23.2
nodejs v.7.9.0

and after trying this command:
yarn add semantic-ui

I waited more then two hours and it didn't finished to install

[2017-04-27 16:22] arcanis commented on #2913
The following script doesn't repro your issue - can you update it to highlight the problem you have (with the latest release), then create a new issue if it's still there? Thanks!

[code]

[2017-04-27 16:22] #2913 closed

[2017-04-27 16:30] arcanis commented on #2974
I'm going to close this issue, since we unfortunately cannot reproduce it :(

@byoigres Feel free to reopen it with repro steps if you still experience this bug!

[2017-04-27 16:30] #2974 closed

[2017-04-27 16:31] bestander commented on #3258
That is a nice idea, @arcanis.
I think eventually we could get there but we'll need to put an effort into educating people to submit reproducible steps, also quite often issues are specific to a user's environment or private projects.

I would start with that - close all bug reports that don't have steps to reproduce it unless they are categorized as discussion.

[2017-04-27 16:56] mysterycommand commented on #2337
@UnrememberMe, any advice on how you got `yarnpkg` working with Hadoop YARN already installed? Trying to automate installing `yarnpkg` through `yum` where `hadoop-yarn` is already installed as `yarn` … can't move/alias it away (as @enw suggests) because it might be in use/running at the time.

Would love to just `sudo yum install yarnpkg` … any chance this package could be published under 2 names?

[2017-04-27 17:04] milesj commented on #1458
@fab1an That's unfortunate. I've had no issues with it updating package.json :/

[2017-04-27 17:07] rally25rs opened #3270 "yarn add doesn't add carrot or tilde to package.json"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

`yarn add jest@^18.0.0` adds to package.json: `"jest":"18.0.0"` (missing the carrot)

**If the current behavior is a bug, please provide the steps to reproduce.**

Execute `yarn add jest@^18.0.0` and `npm install jest@^18.0.0 --save` and observe package.json changes.

**What is the expected behavior?

[2017-04-27 17:24] timthomp commented on #3169
+1 also getting this behavior with an local eslint plugin we install install from the file system.

Also Windows 10 professional.

  "devDependencies": {
...
    "eslint-plugin-xmatters": "file:../eslint-plugin-xmatters",
...

[2017-04-27 18:13] UnrememberMe commented on #2337
We use `yarnpkg` as command line entry point instead since what [yarn command line client](https://github.com/yarnpkg/yarn/blob/master/bin/yarn) does make no difference for my environment setup (all Linux machines).

[2017-04-27 18:19] Vanuan commented on #1194
This hit me too. My use case is installing global binaries in Dockerfile (under root) and then running yarn binaries under "normal" user. You get `permission denied`.

[2017-04-27 18:46] Vanuan commented on #1194
There are following workarounds:

- add +x permissions to `/root` which is undesirable
- move yarn config/change all symlinks (not an option)

AFAIK yarn config location is hardcoded to `$HOME/.config/yarn` so there's not a lot you can do.

[2017-04-27 18:55] bddenhartog commented on #1194
@Vanuan See #630 for a potential workaround.

[2017-04-27 20:51] cansin commented on #2763
Shoot. I meant to ask above question to @victornoel ^^

[2017-04-27 23:35] whitecolor commented on #3209
@bestander have you seen this? really annoying and strange.

[2017-04-28 01:08] nevir commented on #648
`$(yarn global bin)` is already on my path, but for example:

[code]

In this example, `yarn global add yo` isn't generating the `yo` binary in the bin path.

[2017-04-28 01:12] lukeggchapman commented on #2913
I wasn't able to reproduce with your script either, I must have been confused somewhere. Thanks!

[2017-04-28 02:26] whitecolor commented on #1213
To address this issue and generally problem of `yarn/npm link` workflow I made simple local package manager https://github.com/whitecolor/yalc it implements knitting, though not sure if it is really useful )

[2017-04-28 03:01] tombh commented on #178
Yarn is really our only morsel of hope. Npm is resolute in its intention not to include comments: https://github.com/npm/npm/issues/4482

I'm not going to keep rehashing the same arguments. The point here is, the lack of comments in Javascript's canonical configuration specification is indicative of the broader critiques often levelled at the language. Yarn, taking the burden of initiative, is a c

[2017-04-28 03:09] AntSworD commented on #2913
About my issue, I finally found out WHY.

I use `github:<gitUserName>/<projectName>#<Branch-not-master>` as my `git remote url`.
It use `https` protocol fetch data, but `npm` used `git`.

SO, I need provide procotol on the remote url!

@arcanis

[2017-04-28 03:32] ericberens commented on #3116
Not ideal but you could use the `--ignore-scripts` flag

`yarn install --ignore-scripts`

then manually copy in the binaries. This may have undesired side effects if you rely on lifecycle events.

[2017-04-28 05:05] Daniel15 commented on #3258
That should be doable using Docker, it would require a bit of work to set up though. There's often environment-specific issues which probably can't be automatically replicated.

[2017-04-28 05:08] Daniel15 commented on #3255
On Debian-based distros (including Ubuntu), you install Yarn this way:

[code]

Homebrew has a similar flag, but I can't remember it off the top of my head.

The install script will also work:
[code]

[2017-04-28 05:53] jay763190097 commented on #1321
i use this commond
`yarn config set prefix "D:\Program Files (x86)\Yarn\node-global"`
and add "D:\Program Files (x86)\Yarn\node-global" to PATH.
then
'yarn global add express-generator'
it add supervisor.cmd this file in "D:\Program Files (x86)\Yarn\node-global",
but when i use
`express -V`
An error occurred that means the file name, directory name, or volume label syntax is incorrect.

[2017-04-28 05:54] jay763190097 opened #3271 "An error occurred that means the file name, directory name, or volume label syntax is incorrect."
windows platform:
i use this commond
`yarn config set prefix "D:\Program Files (x86)\Yarn\node-global"`
and add "D:\Program Files (x86)\Yarn\node-global" to PATH.
then
'yarn global add express-generator'
it add supervisor.cmd this file in "D:\Program Files (x86)\Yarn\node-global",
but when i use
`express -V`
An error occurred that means the file name, directory name, or volume label syntax is inco

[2017-04-28 05:58] jay763190097 commented on #3271
but when i
`cd C:\Users\Administrator\AppData\Local\Yarn\config\global\node_modules\.bin`
then
`express -v`
it did work

[2017-04-28 06:34] OmgImAlexis commented on #1321
@jay763190097 this issue is about OSX not Windows.

[2017-04-28 07:06] victornoel commented on #2763
@cansin sorry, I saw it, but anyway I'm not sure how to answer that… what's your objective here? You just want to know about "resolutions bug" in general?

[2017-04-28 08:23] timaschew commented on #3204
@rally25rs thanks for feedback!

I can reproduce the same with jest. I misunderstood the usage, I was thinking `yarn upgrade` is upgrading the same way as `yarn upgrade MODULE_NAME`.

This means `yarn upgrade-interactive` is working not like `yarn upgrade` instead if does for each module a `yarn upgrade MODULE_NAME`.

That is somehow weird.
This also means I cannot upgrade a single module to its v

[2017-04-28 09:45] dagoss commented on #2191
I experienced this problem too. I ran yarn, got the error ([yarn-error.log here](https://pastebin.com/PxhKjNJb)), then immediately ran yarn again without changing anything and it worked.

Note that I was running `yarn install` on an empty project, not adding a package to an existing project.

[2017-04-28 11:30] aliatsis commented on #1658
Can there at least be a config option to auto-select the first/highest version in the specified range?
Not having this is a major issue for my workflow.

[2017-04-28 13:43] andreyslyusar commented on #3195
+1

[2017-04-28 13:47] rally25rs commented on #3270
The plot thickens.... This seems to ONLY happen on Windows.

No `dependencies` section in `package.json` (from a clean `yarn init`)
No `yarn.lock` file yet
No `node_modules` folder yet

On OSX after `yarn add jest@^18.0.0`:
* version 18.1.0 is installed (greatest version matching "^18.0")
* `"jest": "^18.0.0"` is in the `package.json`

On Windows after `yarn add jest@^18.0.0`:
* version 18.0.0 is

[2017-04-28 13:47] #3270 closed

[2017-04-28 13:53] rally25rs commented on #3261
I'm pretty sure there is a duplicate bug around here somewhere but I'm having a hard time finding it...

IIRC, Yarn only filters the `files` listed in `package.json` when it publishes a package. On extraction, or copy from a local repo, it does not clean up files that are not in the `files` listing.

NPM on the other hand, seems to filter the files both on publish and when copying the files into n

[2017-04-28 13:55] rally25rs commented on #3261
Ah, found it: duplicate of #2822

[2017-04-28 13:57] rally25rs commented on #3258
I don't have permission to close/edit issues, but where I have some input I'll try to leave a comment for a member to act accordingly.

See #3261 for example; I left a comment with a duplicate issue. 👍

[2017-04-28 13:58] bestander commented on #3258
I'll try to sort out permissions for participants.
for now just ping me, I'll react quickly

[2017-04-28 14:03] rally25rs commented on #3266
The [documented behavior](https://yarnpkg.com/en/docs/cli/upgrade) of `yarn upgrade` is:

So running a `yarn upgrade` should not result in anything needing to change in your `package.json`. The `yarn.lock` file, on the other hand, should contain the newest versions of packages that fit the semver range in package.json.

[2017-04-28 14:20] rally25rs commented on #3257
@bestander triage; could be closed as duplicate of #1297 and continue tracking the issue there.

[2017-04-28 14:26] spacegoing commented on #2287
@Artoria2e5 I'm using osx's built-in terminal

[2017-04-28 14:26] bestander commented on #3258
Ok, GitHub is not really great at permissions granularity and so this is what we can do this time.

Mention me in a comment and I'll do the trick, e.g.

@bestander label bug, bug-resolution
@bestander duplicate #xxxx

[2017-04-28 14:28] rally25rs commented on #3256
@bestander triage; This sounds like missing NPM compatibility / feature request.

NPM [documents this behavior here](https://docs.npmjs.com/cli/install):

[2017-04-28 14:36] rally25rs commented on #3255
@bestander triage; label: [documentation] (which doesn't seem to be an existing label... perhaps worth making?)

[2017-04-28 14:38] rally25rs commented on #3249
@bestander triage; label: [discussion | new feature]

[2017-04-28 14:38] Vanuan commented on #393
That's something I'm interested in too. I'll leave my thoughts here:

AFAIK, current yarn workflow is the following:

1. Set `$HOME` to isolated location for each build
2. Use `yarn install --pure-lock-file` to make sure people check in `yarn.lock`
3. Use `yarn add/remove` commands to change package.json and yarn.lock
4. When there are conflicts, remove `yarn.lock` and do clean yarn install :( <--

[2017-04-28 14:43] bestander commented on #3258
Good example how to use me-as-a-service https://github.com/yarnpkg/yarn/issues/3249#issuecomment-298015831

[2017-04-28 14:43] bestander commented on #3258
I claim issues #153 - #499

[2017-04-28 14:45] bestander commented on #3255
now we have :)

[2017-04-28 14:45] #3257 closed

[2017-04-28 14:49] voxsim commented on #633
@bestander you can close this

[2017-04-28 14:50] voxsim commented on #648
Here I added some tests here: https://github.com/yarnpkg/yarn/pull/3238 and for me this is closed. There are some corner cases, but there are other issue.

@bestander

[2017-04-28 14:52] voxsim commented on #679
for what i understand @bestander this should be closed

[2017-04-28 14:53] bestander commented on #394
Ok, now fixed

[2017-04-28 14:53] #394 closed

[2017-04-28 14:53] #633 closed

[2017-04-28 14:54] #648 closed

[2017-04-28 14:54] pweaver commented on #3155
Shouldn't --json imply --no-progress?

[2017-04-28 14:54] #679 closed

[2017-04-28 14:56] rally25rs commented on #3241
The only way I've come close to reproducing this is if I edit my package.json file then re-run `yarn install`.

For example:

* `yarn add jest@18.0.0` -- instals 18.0.0
* edit package.json, change to `^18.0.0`
* `yarn install` -- isntalls 18.1.0 and updates lock file

But that scenario makes sense because the "key" into the lock file is the package name and version:

[code]

So changing the versio

[2017-04-28 14:59] rally25rs commented on #3254
@bestander triage; label: [new feature]

[2017-04-28 14:59] arcanis commented on #3258
I take #781 - #510

[2017-04-28 15:00] #3241 closed

[2017-04-28 15:00] voxsim commented on #902
@bestander this seems a feature request, not a triage, do we want support this?

[2017-04-28 15:02] bestander commented on #3254
In a way discussed here https://github.com/yarnpkg/rfcs/pull/36

[2017-04-28 15:03] bestander commented on #902
@voxsim, feature requests we mark as "triaged" and "new-feature" and "discussion".

[2017-04-28 15:04] bestander commented on #902
This one was discussed before.
As of now Yarn does not add shortcuts to commands, users can add scripts "t" to their package.json to achieve the same thing

[2017-04-28 15:04] #902 closed

[2017-04-28 15:06] bestander commented on #431
I think it is resolved now now

[2017-04-28 15:06] #431 closed

[2017-04-28 15:07] arcanis commented on #759
Last releases shouldn't be affected, please reopen if it's still an issue

[2017-04-28 15:07] #759 closed

[2017-04-28 15:07] rally25rs commented on #3150
@bestander triage; duplicate #3256 (actually 3256 is a dup of this, but the other is already triaged...)

[2017-04-28 15:09] pi0 commented on #902
@bestander sorry if asking in wrong thread but just didn't wanted to open another unrelated issue :)) Why yarn team decided to replace `install` with `add` ? Is there any topic about that ?

[2017-04-28 15:10] #3150 closed

[2017-04-28 15:10] arcanis commented on #756
Note: `yarn install` is not deprecated by `yarn add` (however, `yarn install <pkg-name>` *is* deprecated by `yarn add`). Furthermore, the offline mirror feature makes it possible to run the install without needing any network capabilities.

[2017-04-28 15:12] bestander commented on #902
Yeah, I think it was discussed in the earlier issues.
We need to write a blog post about it :)

tl;dr `install` is a command that generates node_modules based on project's manifest and `add/upgrade/remove` are commands that change your manifest.
They have different semantics and intentions

[2017-04-28 15:15] arcanis commented on #739
Closing, since this issue seems to have been fixed

[2017-04-28 15:15] #739 closed

[2017-04-28 15:18] bestander commented on #392
I think it is outdated now, compatibility will be fixed on issues by issue basis

[2017-04-28 15:18] #392 closed

[2017-04-28 15:19] prasannavl commented on #2724
Yup, this is quite annoying. It not just changes the color. It messes things up. If you do a reset console, it's seemingly fine. But, any other program that uses color after that is messed up.

A program that displays correct colors - notice the "Cyan"

![image](https://cloud.githubusercontent.com/assets/559409/25535186/d33cb216-2c53-11e7-98c5-3d25233e79fa.png)

Now, even after the console reset,

[2017-04-28 15:19] bestander commented on #3258
claiming #958 - #1060

[2017-04-28 15:20] arcanis commented on #728
Should be fixed with `--no-progress` (#1190), please reopen if that's not enough.

[2017-04-28 15:20] #728 closed

[2017-04-28 15:21] arcanis commented on #714
That's not correct, you can use it with some tools. [jq](https://stedolan.github.io/jq/) comes into mind.

I'm going to close the issue for now, but feel free to discuss it if you feel like this is still a problem.

[2017-04-28 15:21] #714 closed

[2017-04-28 15:22] bestander commented on #958
This should be fixed in 0.24

[2017-04-28 15:22] #958 closed

[2017-04-28 15:23] arcanis commented on #713
This issue seems fixed, I'm going to close it. If you feel like this is a mistake, please feel free to reopen with repro steps. Thanks!

[2017-04-28 15:23] #713 closed

[2017-04-28 15:23] bestander commented on #976
Can repro in 0.24 with on macos
[code]

[2017-04-28 15:24] SimenB commented on #756
Well, certain post-installs might hit the network, like https://github.com/Medium/phantomjs/blob/master/install.js

[2017-04-28 15:26] bestander commented on #984
Looks like it is closed now.
Please reopen if can it is still broken in 0.23

[2017-04-28 15:26] #984 closed

[2017-04-28 15:28] bestander commented on #986
Discussion moved to RFC

[2017-04-28 15:28] #986 closed

[2017-04-28 15:30] bestander commented on #988
Fixed now

[2017-04-28 15:30] #988 closed

[2017-04-28 15:31] arcanis commented on #706
We currently have a settings to disable all scripts (`yarn install --ignore-scripts`), but not on a per-package basis. Feel free to open an RFC if you feel like it could be interesting!

[2017-04-28 15:31] #706 closed

[2017-04-28 15:31] torifat commented on #3258
claiming  #1073 - #1291

[2017-04-28 15:31] bestander commented on #990
Thanks everyone, a significant optimization for Windows landed in 0.24  https://github.com/yarnpkg/yarn/pull/3234#issuecomment-297552326

[2017-04-28 15:31] #990 closed

[2017-04-28 15:32] alanondra commented on #3241
I was working on a project some months ago and had to step away while I built a new computer. When I came back to the project I cloned my repository and just ran `yarn install` to fetch the packages. I've only been using Yarn to manage my dependencies. I haven't been altering the package.json file by hand at all.

I'll try to post the package.json and yarn.lock files where the issue comes up later

[2017-04-28 15:32] bestander commented on #991
This should be fixed now, please reopen if it is still an issue

[2017-04-28 15:32] #991 closed

[2017-04-28 15:34] arcanis commented on #700
I don't see how we could do it. Everyone has a different way to lint / test their projects.

You can ship binaries inside your packages, but that's not advised. It will break depending on various factors, such as the current Node version.

[2017-04-28 15:34] #700 closed

[2017-04-28 15:35] StarpTech commented on #3257
@rally25rs I hope the issue does not goes down because the referenced issue is 7 months old.

[2017-04-28 15:36] bestander commented on #1297
We are going to revamp link: feature soon, see https://github.com/yarnpkg/rfcs/pull/34

[2017-04-28 15:37] #1073 closed

[2017-04-28 15:39] bestander commented on #998
duplicate of https://github.com/yarnpkg/yarn/issues/3254.

[2017-04-28 15:39] #998 closed

[2017-04-28 15:39] voxsim commented on #653
@bestander I think you can close this.

[2017-04-28 15:40] #653 closed

[2017-04-28 15:40] arcanis commented on #696
I can't reproduce this bug. If you still experience it on the latest Yarn release, please update the script below to make it a viable reproduction, and reopen the issue.

[code]

[2017-04-28 15:40] #696 closed

[2017-04-28 15:42] bestander commented on #994
I think it is a great idea and I just recommend going to it and starting such a thing.
We are planning to publish a few blog posts in the near future but the workload is always large, it would be great if someone in the community would want to get this role.

[2017-04-28 15:42] #994 closed

[2017-04-28 15:42] arcanis commented on #692
What's wrong with `(cd /path/to/folder && yarn)`? It seems more unix-y this way.

[2017-04-28 15:43] bestander commented on #995
Fixed then?

[2017-04-28 15:43] #995 closed

[2017-04-28 15:47] bestander commented on #1011
Will be implemented in #2651.

[2017-04-28 15:47] bestander commented on #1011
duplicate #2621

[2017-04-28 15:50] arcanis commented on #686
The original issue doesn't seems like a bug, in that Yarn is (somewhat rightfully) trying to install the `git` package from the location `github.com:szemek/cheatsheets.git`. We could special-case this in order to solve the ambiguity for `git@github.com`, but it seems like the best fix would be to use git+ssh urls.

I'm going to close this issue for triage, but discussion is still open.

[2017-04-28 15:50] #686 closed

[2017-04-28 15:51] bestander commented on #1012
We'll sort out all this first/third-party development workflows with workspaces and link: feature.
Closing this for now

[2017-04-28 15:51] #1012 closed

[2017-04-28 15:52] #1008 closed

[2017-04-28 15:53] bestander commented on #1026
Covered with RFC.
Continue discussion there

[2017-04-28 15:53] #1026 closed

[2017-04-28 15:55] bestander commented on #1027
Looks like there are workarounds and it works in general now.
Feel free to open a new issue with a specific repro scenario if something is still broken

[2017-04-28 15:55] #1027 closed

[2017-04-28 15:56] arcanis commented on #681
This issue seems to be fixed. Let me know if it's not.

[code]

[2017-04-28 15:56] #681 closed

[2017-04-28 15:58] bestander commented on #1029
Seems fixed

[2017-04-28 15:58] #1029 closed

[2017-04-28 15:59] #1040 closed

[2017-04-28 16:00] bestander commented on #1042
Should be fixed I reckon

[2017-04-28 16:00] #1042 closed

[2017-04-28 16:02] #1050 closed

[2017-04-28 16:03] bestander commented on #1054
We actively work on performance.
As of 0.23 Yarn is a single file JS

[2017-04-28 16:03] #1054 closed

[2017-04-28 16:05] bestander commented on #1075
This is probably fixed now.
Could you reproduce on latest version of Yarn please?

[2017-04-28 16:05] #1075 closed

[2017-04-28 16:06] arcanis commented on #533
Closing for triage - Is there a way we can run those tests again?

[2017-04-28 16:06] #533 closed

[2017-04-28 16:06] #1056 closed

[2017-04-28 16:07] bestander commented on #1057
Fixed, according to last comment.
Feel free to reopen with repro steps

[2017-04-28 16:07] #1057 closed

[2017-04-28 16:09] bestander commented on #3258
claiming #2987 - #3044

[2017-04-28 16:11] arcanis commented on #3258
#2986-#2804

[2017-04-28 16:13] bestander commented on #2989
We'll be working on workspaces feature that will address multi folder projects

[2017-04-28 16:14] arcanis commented on #2986
Closing this one, since it's a dupe.

[2017-04-28 16:14] #2986 closed

[2017-04-28 16:16] arcanis commented on #2804
Hi, and thanks for your interest! We need a repro script to help us track down the issue. Please reopen this issue once you have a reproductible testcase.

[2017-04-28 16:16] #2804 closed

[2017-04-28 16:17] #2998 closed

[2017-04-28 16:17] bestander commented on #3002
@iarna, you are awesome!
It is implemented in 0.23

[2017-04-28 16:17] #3002 closed

[2017-04-28 16:18] bestander commented on #3003
I agree, send a PR.
We'll need to support ls for a while though with a warning that it goes away

[2017-04-28 16:24] arcanis commented on #2824
Both of these packages seem to work fine now. Please reopen if you still have an issue.

[2017-04-28 16:24] #2824 closed

[2017-04-28 16:25] voxsim commented on #3266
@rally25rs you are right @bestander we should close this.

[2017-04-28 16:26] voxsim commented on #3215
@bestander we can close this :D

[2017-04-28 16:26] arcanis commented on #2825
We will need a repro script to help you. From what I can see, the issue comes from the `svgo` package, not Yarn.

[2017-04-28 16:26] #2825 closed

[2017-04-28 16:27] arcanis commented on #2827
Can you check again on newer releases, and reopen this issue if it still happens?

[2017-04-28 16:27] #2827 closed

[2017-04-28 16:29] #3266 closed

[2017-04-28 16:29] voxsim commented on #668
@bestander for what I understand we can close this in favor of more specific issues.

[2017-04-28 16:30] #3215 closed

[2017-04-28 16:30] #668 closed

[2017-04-28 16:33] arcanis commented on #2832
No more warnings, but more errors :/ hmm ...

[2017-04-28 16:33] voxsim commented on #788
@bestander this is fixed. we can close it!

[2017-04-28 16:35] bestander commented on #3005
@bryanlarsen, can you provide a script to reliably reproduce the issue?

[2017-04-28 16:35] #788 closed

[2017-04-28 16:37] bestander commented on #3011
fixed

[2017-04-28 16:39] voxsim commented on #1600
@bestander we can close this because it is a duplicate

[2017-04-28 16:41] #1600 closed

[2017-04-28 16:41] #2498 closed

[2017-04-28 16:41] #2851 closed

[2017-04-28 16:41] #2942 closed

[2017-04-28 16:44] arcanis commented on #2853
I'll close this one as a duplicate of #1671 - thanks for reporting it!

[2017-04-28 16:44] #2853 closed

[2017-04-28 16:44] voxsim commented on #2192
@bestander  @Daniel15 maybe we can closw this or am i wrong? O.o

[2017-04-28 16:45] bestander commented on #3015
Contribution is welcome

[2017-04-28 16:46] #2192 closed

[2017-04-28 16:46] arcanis commented on #2856
Should be fixed in master (#3018)

[2017-04-28 16:46] #2856 closed

[2017-04-28 16:47] bestander commented on #3016
I don't know, I think it is a bug, feel free to send a PR to make them the same

[2017-04-28 16:49] voxsim commented on #2692
@bestander the duplicate is closed, can we close this?

[2017-04-28 16:50] #2692 closed

[2017-04-28 16:50] arcanis commented on #2861
Yeah - you were using an offline cache, but probably didn't passed it to your docker instance, so it wasn't able to find the tarballs. This should be fixed in the latest release (it will fallback on the network), but you should still make sure you don't have an unwanted offline mirror somewhere (check your `.yarnrc` files).

[2017-04-28 16:50] #2861 closed

[2017-04-28 16:53] arcanis commented on #2869
I'm going to close this one, since I've not been able to reproduce it. Maybe try to check again?

[2017-04-28 16:53] #2869 closed

[2017-04-28 16:53] voxsim commented on #2042
@bestander we can close this O.o

[2017-04-28 16:54] arcanis commented on #2871
Should be fixed by now, I'm going to close this issue. Feel free to reopen it if you still experience this issue.

[2017-04-28 16:54] #2871 closed

[2017-04-28 16:55] voxsim commented on #1321
@bestander we can close this because it is a duplicated.

[2017-04-28 16:56] voxsim commented on #1389
@bestander we can close this because it is a duplicated. @OmgImAlexis you are awesome O.o

[2017-04-28 16:56] moimikey commented on #1658
totes agree but what's difficult about adding `flat: true` to package.json?

[2017-04-28 16:59] voxsim commented on #1453
@bestander we can close it

[2017-04-28 17:03] arcanis commented on #2884
Closing in favor of #1102 👍

[2017-04-28 17:03] #2884 closed

[2017-04-28 17:06] arcanis commented on #2889
Why should we not warn about unmet peer dependencies? That feels like a pretty important issue, something that most users might want to know.

[2017-04-28 17:07] arcanis commented on #2893
Could you share a reproductible script, if it still happens with the latest release?

[2017-04-28 17:11] arcanis commented on #2897
We closed the related pull request, so I'm going to close this issue as well. Short story is: you probably should use forks urls rather than the main repo urls 😃

[2017-04-28 17:11] #2897 closed

[2017-04-28 17:13] arcanis commented on #2900
That should have been fixed, please try one of the latest releases, and open a new issue if it still break. Thanks!

[2017-04-28 17:13] #2900 closed

[2017-04-28 17:15] arcanis commented on #2901
It doesn't install all your modules, only those that change.

[2017-04-28 17:15] #2901 closed

[2017-04-28 17:15] arcanis commented on #2902
Yep! I'm going to close this issue :)

[2017-04-28 17:15] #2902 closed

[2017-04-28 17:19] arcanis commented on #2904
It's not u, it's me.

...
More seriously, I can't reproduce this issue on the latest release. Can you recheck on your side if you have sone time?

[2017-04-28 17:19] #2904 closed

[2017-04-28 17:19] ekevjn commented on #825
My  yarn log:
`yarn global v0.23.2
error An unexpected error occurred: "args.includes is not a function".
info If you think this is a bug, please open a bug report with the information provided in "/usr/local/share/.config/yarn/global/yarn-error.log".
info Visit https://yarnpkg.com/en/docs/cli/global for documentation about this command.
`
Fixed by update nodejs

[2017-04-28 17:21] arcanis commented on #2916
Closing this as a duplicate of #932

[2017-04-28 17:21] #2916 closed

[2017-04-28 17:22] arcanis commented on #2920
I'm going to close this one, since the error is most likely coming from a misconfigured offline mirror.

[2017-04-28 17:22] #2920 closed

[2017-04-28 17:24] arcanis commented on #2924
This issue does seem like related to your environment rather than to Yarn itself, so I'm going to close it for triage.

[2017-04-28 17:24] #2924 closed

[2017-04-28 17:26] arcanis commented on #2925
Can you please write a repro test script? It would help us :)

[2017-04-28 17:28] arcanis commented on #2928
Because `-v` means either `--version` or `--verbose`, depending on the program. It's not an industry standard (or rather, there is two different competing standards :).

As a good rule of thumb, always use `--version`, then if it doesn't work use `-V`, then only if it doesn't work use `-v`.

[2017-04-28 17:28] #2928 closed

[2017-04-28 17:31] arcanis commented on #2931
Can you please write an RFC? Cf https://github.com/yarnpkg/rfcs/

[2017-04-28 17:35] arcanis commented on #2936
Not sure we'll fix this. The resolution (ie the moment where we detect all the packages we'll need) happens before the packages are actually installed on the filesystem. Maybe this will get fixed with the `link:` proposal.

[2017-04-28 17:35] #2936 closed

[2017-04-28 17:36] arcanis commented on #2939
I'm going to close this issue, since it appears to have been resolved :)

[2017-04-28 17:36] #2939 closed

[2017-04-28 17:39] arcanis commented on #2952
I agree. It seems easier to just write `yarn remove <> && yarn add <>`

[2017-04-28 17:39] #2952 closed

[2017-04-28 17:41] arcanis commented on #2967
It seems that this issue is resolved, can you confirm? I'm going to close it in the meantime.

[2017-04-28 17:42] arcanis commented on #2968
`yarn add log-full` seems to work on the latest version. Can you check and reopen or ping me if it doesn't?

[2017-04-28 17:42] #2968 closed

[2017-04-28 17:51] awebdeveloper commented on #2889
But npm didn't that's where the confusion was

[2017-04-28 18:26] jakedahm commented on #3264
I am experiencing the same issue on CentOS, but not MacOS. I have verified that I can install my scoped packages with npm. I started seeing this error only when I upgraded to yarn@0.23.2

node: 6.10.1
yarn: 0.23.2
os: CentOS 7.3

[2017-04-28 18:27] andrewhavens commented on #3203
I'm having this issue also, but changing to `ssh://` as @webark mentioned did not solve the problem for me. This was working for me previously, but now it is not in version 0.23.2.

[2017-04-28 18:28] #2042 closed

[2017-04-28 18:28] XaserAcheron commented on #2897
It still happens with tags on the main repo (see my previous comment), which is particularly problematic for private Git repositories since there's no other way to reference a particular tagged version (that I know of).

[2017-04-28 18:28] #1321 closed

[2017-04-28 18:28] #1389 closed

[2017-04-28 18:28] #1453 closed

[2017-04-28 18:29] jharris4 opened #3274 "yarn installs unpublished npm packages"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Yarn installs packages that were unpublished on npm.

**If the current behavior is a bug, please provide the steps to reproduce.**

I use the `node-sass` package in one of my projects, and it has a dependency on a package called `sass-graph` (version ^2.1.1).

The author of `sass-graph` published versi

[2017-04-28 18:34] bestander commented on #3021
You can put .yarnrc to C:\ drive and it should work.
Please reopen if it does not work

[2017-04-28 18:34] #3021 closed

[2017-04-28 18:36] bestander commented on #3022
Seems to be fixed in 0.24

[code]

[2017-04-28 18:36] #3022 closed

[2017-04-28 18:37] DanBuild opened #3275 "yarn-homebrew #4 failed"
Build 'yarn-homebrew' is failing!

Last 50 lines of build output:

[code]

[View full output](https://build.dan.cx/job/yarn-homebrew/4/)

cc @Daniel15

[2017-04-28 18:41] bestander commented on #3023
Thanks for a very good bug report!
I can reproduce it.

Looks like on a second install yarn optimises yarn.lock and removes duplicate.
It should do that on first install

[2017-04-28 18:52] bhouser commented on #3016
I find having a command which upgrades a specific package to `lateset` quite useful.  I hope this feature isn't removed.

It would _also_ be useful to be able to upgrade a specific package the the latest allowed by the packages.json specified version range.

[2017-04-28 18:55] bryanlarsen commented on #3005
@bestander, here's a reproduction:  https://github.com/bryanlarsen/yarn-bug

[2017-04-28 18:57] bestander commented on #3005
Thanks

[2017-04-28 18:58] bestander commented on #3028
@georgesben, please provide a package.json to reproduce the issue, without it we won't be able to fix it.

[2017-04-28 19:04] bestander commented on #2719
Cache folder does not seem like the best place to store error log.
How about a configurable folder for install metadata, e.g. `.yarn` in the project?
We could put .yarn-integrity an yarn-error.log there if user opted in.

[2017-04-28 19:05] dwighthouse commented on #2967
@arcanis I can confirm IT IS NOT RESOLVED on my system. I get exactly the same results as described, running yarn version 0.22.0 (the latest version available via NPM) and 0.23.3 (the latest release of yarn period). I get almost identical results with the latest version. The output being a different length by one character, which is not significant in this case

[2017-04-28 19:07] bestander commented on #1323
Done in https://github.com/yarnpkg/yarn/pull/3004

[2017-04-28 19:07] #1323 closed

[2017-04-28 19:09] bryanlarsen commented on #3005
Sorry, that repo case isn't illustrating my problem.   It does show funny behaviour, but not my problem.  `jq .version c/node_modules/gauge/package.json` gives 2.7.4 in both cases.

[2017-04-28 19:15] milesj commented on #2042
@voxsim @bestander Why was it closed? Because of `upgrade-interactive`?

[2017-04-28 19:18] wearhere commented on #3016
In my opinion:

* `yarn upgrade` should behave the same for a single package as well as all packages.
* the default (and newly consistent) behavior should be to upgrade to the latest version based on the version range in the package.json file, since that's most conservative. It's also consistent with [`npm update`](https://docs.npmjs.com/cli/update).

@bhouser we could potentially add a flag to `u

[2017-04-28 19:21] voxsim commented on #2042
@milesj read here for more info https://github.com/yarnpkg/yarn/issues/3266!

[2017-04-28 19:21] bestander commented on #1123
I think it does not display second level dependencies anymore, looks like got broken

[2017-04-28 19:26] bestander commented on #3005
A repro would help a lot

[2017-04-28 19:27] bestander commented on #3034
You can set up env variables through .yarnrc now https://github.com/yarnpkg/yarn/pull/3218

[2017-04-28 19:27] #3034 closed

[2017-04-28 19:28] bestander commented on #3038
We are tracking all git related issues now

[2017-04-28 19:30] felixfbecker commented on #3034
Maybe I am misunderstanding that feature, but this is about configuring settings like the proxy with env vars _instead of_ .yarnrc, not the other way around

[2017-04-28 19:32] slester opened #3276 "Error: ENOENT: no such file or directory, symlink '' -> ..."
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**
When running `yarn`, I receive the following error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Run `yarn` with browserify in the `package.json` (perhaps others)

**What is the expected behavior?**
For it not to try to create empty symlinks.

**Pleas

[2017-04-28 19:33] bestander commented on #3034
And you can do vice versa.

If you pass an env var `yarn_something` then it will configure `something` that is read via `getOption()` in https://github.com/yarnpkg/yarn/blob/master/src/config.js.

This feature needs documentation at https://yarnpkg.com/en/docs/configuration, would be really great if someone sent a PR

[2017-04-28 19:35] felixfbecker commented on #3034
But that was supposed to be the case before the linked PR, wasn't it?
It doesn't work as expected

[2017-04-28 19:35] bestander commented on #3258
I'll close the task as the triage session is finished.
But if anyone wants to continue, just keep tagging me to close or tag the issues.

Results:

1. Closed 88 issues
Open Issues before:
<img width="243" alt="screen shot 2017-04-28 at 3 53 48 pm" src="https://cloud.githubusercontent.com/assets/2121048/25544346/f47b1582-2c51-11e7-9786-a7dd1131d432.png">
Open Issues after:
<img width="238" alt="scr

[2017-04-28 19:35] #3258 closed

[2017-04-28 19:40] bestander commented on #3034
Seems to work on latest master

[code]

[2017-04-28 19:42] felixfbecker commented on #3034
👍

[2017-04-28 19:44] dchinn opened #3277 "Yarn throws error"
**What is the current behavior?**
yarn error when trying to restore packages

**If the current behavior is a bug, please provide the steps to reproduce.**
using angular-cli to generate a new project, foo
ng cli is set to use npm to restore the packages.
project gets created correctly, npm restores packages

cd to project folder, invoke yarn

**observed:
yarn throws an error...

[code]
**What is th

[2017-04-28 19:47] arxpoetica commented on #788
Thanks guys. this CHANGED MY LIFE. 😂

[2017-04-28 19:48] Daniel15 commented on #3275
I think I need to update the script to clean the repo before performing the change

[2017-04-28 20:21] daprahamian commented on #722
@BennyH26 what was the proper syntax that you used for the CI environment?

[2017-04-28 20:24] BennyH26 commented on #722
I'm using NPM for that specific task - wasn't worth the time to haggle around with Yarn in my specific context.

[2017-04-28 20:46] webark commented on #3203
@andrewhavens really? huh. We're using a private hosted stash repo for some packages. And with doing a `"ssh://git@stash:7999/ccfe/cc-paths"` seemed to work for us. ONLY for yarn though.. npm doesn't know what to do with it.

[2017-04-28 21:00] fruity4pie commented on #2825
If I use Ubuntu, should I install packages via -sudo ??)

28 апр. 2017 г. 19:26 пользователь "Maël Nison" <notifications@github.com>
написал:

[2017-04-28 21:06] adrianmcli opened #3278 "[Bug] gyp ERR! stack Error: `make` failed with exit code: 2"
This may potentially not be a Yarn bug, but nevertheless the equivalent commands work fine in NPM. Please direct me to a more suitable repo if it exists.

### Current Behaviour

I'm currently experiencing an issue installing native binaries like `yarn global add prettier` or `yarn global add create-react-app`. The equivalent commands work perfectly fine with NPM.

When I try to install these packa

[2017-04-28 21:49] destroyerofbuilds commented on #722
So it seems `yarn` prompts for a version:

[code]

Typically we just call `npm publish` and expect it to use the `version` field in `package.json`.

[2017-04-28 21:54] destroyerofbuilds commented on #722
@daprahamian and @BennyH26 I found #2445 to be related. Perhaps we can carry on this discussion over there.

[2017-04-28 21:55] destroyerofbuilds commented on #2445
Carrying on the conversation from #722, `yarn publish` prompts for a version, which means it can't be used as a drop in replacement for `npm publish`.

`npm publish` behavior is to use the value of the `version` field in `package.json`.

[2017-04-28 21:56] destroyerofbuilds commented on #2430
Related to #722 and #2445

[2017-04-28 21:56] destroyerofbuilds commented on #2445
Related to #2430

[2017-04-28 21:59] destroyerofbuilds commented on #610
The need to interactively provide a version number has been found confusing for people who have looked to adopt `yarn publish` as a drop-in replacement for `npm publish` within automated scripts.

#722 #2445 #2430

[2017-04-28 22:47] deecewan commented on #3209
also note that `npm@5` is going to run `prepublish` solely for pre-publish.

[2017-04-28 22:55] bestander commented on #3209
Honestly, those lifecycle phases stopped making sense to me quite a long time ago.
I think we should just break legacy and do the same as npm 5 when it is released.
Feel free to send and RFC.

[2017-04-28 23:25] binarykitchen commented on #3255
thanks for that - yeah, please document.

and `curl -o- -L https://yarnpkg.com/install.sh | bash` is not an option for me because it does not get automatically updates like apt-get and brew do.

[2017-04-28 23:28] bestander commented on #3255
This is a community project, we hope that people who need this would step in and help each other, e.g. send a PR for documentation.

[2017-04-28 23:35] tunnckoCore commented on #630
Same case as @delebash, but for ArchLinux. It seems that actual packages are still in "home" and seems not respects fully the `prefix`, because only the CLI/bins/cmds are there.

I totally want to have everything in one place. I have whole separate partition for caches, global, backups and such things. So currently i have `/rage/.nodejs` (rage comes from "storage" haha) as `prefix` and npm cache f

[2017-04-28 23:39] binarykitchen commented on #3255
alright, i ll do a PR next week. can you confirm the curl command installs only but doesn't update?

[2017-04-28 23:44] bestander commented on #3255
That script should update

[2017-04-28 23:47] reem commented on #422
This is stopping me from using yarn in production, which is very sad because it's really great in pretty much every other way!

[2017-04-28 23:49] bestander commented on #422
Well help us to get this feature in.
The logic is a bit spread between classes but you can start herehttps://github.com/yarnpkg/yarn/blob/master/src/package-resolver.js#L396.
Another good start is writing a test and submitting a PR with expectation how it should work

[2017-04-28 23:55] arcanis commented on #2897
Hm, I see. It seems it's a different issue from the one described in the OP (if I understand correctly, initial tags are correctly fetched, but not correctly updated, right?). Would you mind opening a new issue?

[2017-04-29 00:27] kriscarle commented on #932
For me this started happening again when I upgraded to 0.23.x. I reverted to 0.21.3 and it no longer builds each time. Also this led to this issue where my IP was blocked by unicode.org after upgrading a few packages in a row https://github.com/dodo/node-unicodetable/issues/16

[2017-04-29 01:36] harlantwood commented on #3266
For a decent workaround, see https://github.com/yarnpkg/yarn/issues/2042#issuecomment-269601927

[2017-04-29 01:43] n8agrin opened #3279 "yarn global add raises args.includes is not a function error"
v0.23.2

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
The following error is thrown:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Try to add a global package with the following command: `yarn global add phantomjs`.
2. 💥 error listed above is produced.

**What is the expected behavior?**
Package is insta

[2017-04-29 01:44] mindjuice commented on #1565
I'm seeing a similar, but slightly different error.  Trying to do `create-react-app my-app`, but it tells me `warning There appears to be trouble with your network connection. Retrying...`.

The full output is:

[code]

I tried `curl` on the failing URL and got a certificate error:

[code]

I can hit the URL from my browser though and see the expected JSON response.

I was able to run this no prob

[2017-04-29 02:23] mindjuice commented on #1565
Hmmm...ok...weird.  I closed that console and opened a new console and it worked right away.

[2017-04-29 06:56] SimenB commented on #3279
Update yarn to latest: https://github.com/yarnpkg/yarn/releases/tag/v0.23.3

[2017-04-29 10:10] whitecolor commented on #3209
@bestander

in simple cases this hooks may prevent errors, when don't use other tools to automate lifecycle besides package manager.

Btw how is `workspaces` feature going? I didn't find a place where it can be tracked or read about.

[2017-04-29 12:09] TimvdLippe commented on #2869
Seems to be fixed for now. Maybe it was flakiness introduced earlier and has since been fixed. Let's hope it does not regress :smile:

[2017-04-29 12:58] #1289 closed

[2017-04-29 13:00] #1275 closed

[2017-04-29 13:01] torifat commented on #1271
Closing due to no response.

[2017-04-29 13:01] #1271 closed

[2017-04-29 18:58] n8agrin commented on #3279
@SimenB 👍 fixed it for me. Thank you.

[2017-04-29 18:58] #3279 closed

[2017-04-29 19:00] johnunclesam commented on #3148
Can you answer why I can't install it with `npm i -g yarn`?

[2017-04-29 19:17] whitecolor opened #3282 "Default argumenst for yarn in package.json or .yarnrc"
At least I didn't found if it is possible now.
The case: in package json there is a dependency that required old node version (though it actually work ok), so need to use `--ignore-engines` flag, it would be nice if ti would be possible to specify for example in `pakcage.json`:

[code]

Or use `.yarnrc` for specifying this.

[2017-04-29 19:44] DanBuild opened #3283 "TEST-yarn-homebrew #1 failed"
Build 'TEST-yarn-homebrew' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](https://build.dan.cx/job/TEST-yarn-homebrew/1/)

cc @Daniel15

[2017-04-29 19:44] Daniel15 commented on #3283
Ignore, just testing.

[2017-04-29 19:44] #3283 closed

[2017-04-29 20:12] blikblum commented on #3243
Similar to #3160

[2017-04-29 22:29] justinfagnani commented on #1027
This doesn't seem to be working in general for me. I installed Yarn via Homebrew and by default I can't run anything installed globally with `yarn global add`. It seems like I can workaround with `--global-folder=\`yarn global bin\``, but that hardly seems like an ideal default behavior. Why isn't Yarn installing to the value of `npm root -g`?

[2017-04-29 23:26] claycephas commented on #2924
@arcanis are you saying that yarn will still require admin prompt when installing global packages on windows? If it writes to `C:\Users\<username>\AppData\Local\Yarn\.bin`, it shouldn't require an elevated admin prompt.

[2017-04-30 00:05] #3275 closed

[2017-04-30 00:53] mnpenner commented on #2739
Good to know about `--production=false`. I think that should be documented too.

I needed this feature too for CI because I need *all* the packages to build my project, but webpack (and the `react` library in particular) should have `NODE_ENV=production` to create a smaller bundle. After the bundle is built, I actually don't need any node_modules at all in production.

[2017-04-30 06:11] Daniel15 commented on #3278
Can you please post the entire log file?

[2017-04-30 06:12] Daniel15 commented on #3277
Can you please try installing Yarn using its installer rather than npm?

[2017-04-30 06:39] hamxabaig opened #3286 "Yarn install fails: rm: node_modules/x/x is a directory"
**Do you want to request a *feature* or report a *bug*?**
its a bug

**What is the current behavior?**
It fails saying can't remove because its a directory
**If the current behavior is a bug, please provide the steps to reproduce.**
ran `yarn install` following error pops up.
[code]
**What is the expected behavior?**
It should complete successfully

**Please mention your node.js, yarn and operatin

[2017-04-30 06:41] #3286 closed

[2017-04-30 06:42] hamxabaig commented on #3286
My bad, its not a problem with yarn. Same problem with npm too.

[2017-04-30 09:20] sivabudh commented on #3089
Real problem. Not sure what the problem is, so I just use `npm install global` Lol.

[2017-04-30 09:36] voxsim commented on #1297
Ok I will wait you guys, if you need some help let me know :)

[2017-04-30 12:43] whitecolor commented on #3187
@arcanis has it been fixed? How is it going to work?

1) will be cached involved at all for `file:` deps?
2) will be `file:` deps upgraded (copied to node_modules and deps checked) on just `yarn` (not `yarn --force`)?

[2017-04-30 12:54] voxsim commented on #2832
@arcanis which version do you use?

On my machine is working perfectly, my version:
[code]

[2017-04-30 16:05] nueko opened #3287 "yarn global bin not equal to npm global bin"
Halo,
On my windows machine, `yarn global bin` is not equal to `npm bin -g`

Thanks.

[2017-04-30 16:27] stereobooster commented on #2875
Technically speaking this is feature, not a bug, because this is not implemented in npm either.

I would expect following: when dependency installed from git and there is prepublish hook, install dev dependencies for this repo and run hook. If there is no prepublish hook, no need to install dev dependencies, just git clone.

[2017-04-30 17:09] oliversalzburg opened #3288 "yarn overwrites symlinked dependencies"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
I have a development checkout of the package `@company/foo` which I made globally available through `yarn link`. I then linked that packages into my project `@company/project`.

I also have package `@company/bar`, which is linked identically into `@company/project`.

When I now run `yarn upgrade @comp

[2017-04-30 20:01] vitch commented on #3093
I have the same issue with the same namespaced package:

[code]

I did figure out what was causing it in my case - it may or may not be the same for others...

Most projects on my machine have a local `.npmrc` file which points at an internal npm registry. It looks something like:

[code]

In my global `~/.npmrc` I had the following:

[code]

Not that I already had to tell npm where to look for th

[2017-04-30 20:03] wonkodsane opened #3289 "Yarn clobbers local-only node_module"
I couldn't find clear confirmation of expected behavior here or in npm for this.

Scenario:

Prepping a new project -
1. create package.json
2. include a few npm projects as dependencies in package.json
3. also copy in a full local project into node_module that I know I will need but that doesn't exist in npm, purely local (use case - eventually I will create an npm package, but no time today, too

[2017-04-30 20:06] jbruni commented on #686
Why close the issue rather than fix it? Community wants it working and is contributing for its solution.

[2017-04-30 20:07] jbruni commented on #686
As far as I understood, the fix relies on simply letting the URL informed in the command line *as it is*, instead of changing it to some kind of guess.

[2017-04-30 21:23] asfernandes commented on #2861
In my case I have a middleware (Nexus) mirror. Why this isn't a supported usage of yarn?

[2017-04-30 21:49] arcanis commented on #686
@jbruni There's an ambiguity in the command line grammar. If you write `foo@bar.com:a/b`, it can be interpreted as either the `foo` package at `bar.com:a/b`, or the package located at `foo@bar.com:a/b`. Considering you can still install the package by resolving the ambiguity (by using a `git+ssh://` protocol) and that reversing this behavior would remove this ability to solve the ambiguity, I'm no

[2017-04-30 21:54] arcanis commented on #2832
Hm, that's weird, I don't have these errors on my Bash on Windows setup, but I definitely saw them when I tried on osx 0.23.3 last friday. I'm gonna have to take another look :/

[2017-04-30 21:57] arcanis commented on #2861
Not sure we're talking about the same kind of mirror. I'm talking about the [offline mirror](https://yarnpkg.com/blog/2016/11/24/offline-mirror/), a Yarn feature that allows you to store the tarball of your packages inside a directory (so that they can be fetched even when offline). It seems you've (maybe accidentally) enabled this feature, but didn't mount the directory into your docker instance.

[2017-04-30 23:28] asfernandes commented on #2861
Message says "Tarball is not in *network* and can not be located in cache". If it's not in cache, it should be located in network. In my problem, when I delete the lock file it locates (and changes the lock file). In my understand, a offline mirror is a cache and same lock entries used for the cache should be valid and locate them in the internet when not in cache.

[2017-05-01 05:54] gpoole commented on #3115
@OmerHerera one other suggestion I have that does seem to work is you can find and delete the entry in the lockfile for the dependency you want to upgrade, before running `yarn upgrade`. Then when you upgrade the dependant package, Yarn will add the correct entry back in to the lockfile for the dependency as well.

[2017-05-01 08:45] JasonGoemaat commented on #1496
Switching to node 7.9.0 didn't speed it up for me.  Adding 'yarn', 'node' and 'npm' to windows defender (with and without .exe extensions, not sure what is required) did speed it up 3x for me, but still 50% longer than npm install.

[2017-05-01 10:55] voxsim commented on #3162
This is a duplicate of https://github.com/yarnpkg/yarn/issues/3142. @bestander you can close it ;)

[2017-05-01 12:42] #3162 closed

[2017-05-01 13:33] SonnyRajagopalan commented on #1290
I cannot install yarn on my 14.04 x86_64 system either. Fails for

    Reading package lists... Done
    Building dependency tree
    Reading state information... Done
    E: Unable to locate package yarn

After following the install instructions.

[2017-05-01 14:11] XaserAcheron commented on #2897
I can't seem to reproduce it in a test repo. Not sure if it was sneakily fixed in v0.23.3 or if it's a very odd set of circumstances that lead up to it.

I'll post an issue if I run across it again, but not until then. If anyone else has some insight, that'd be helpful.

[2017-05-01 15:38] RyanZim commented on #3195
I've had this problem too. The problem (at least for me) is that yarn's progress bar overwrites the prompt for my ssh passphrase. npm shuts off the progress bar in such situations. yarn doesn't.

I can get it working by running `yarn > /dev/null` to silence the progress bar and most of yarn's output, allowing me to see the prompt and input my passphrase.

[2017-05-01 15:45] bryanlarsen commented on #3005
Finally got it to reproduce to what we're seeing in our code base.  I've updated https://github.com/bryanlarsen/yarn-bug

[2017-05-01 16:28] bestander opened #3294 "Workspaces issue progress"
This issue will link all related discussions and RFC.

# Prior art (wrappers on top of yarn and npm):
- https://github.com/lerna/lerna
- https://github.com/whitecolor/yall and https://github.com/whitecolor/yalc
- https://github.com/sindresorhus/np (nice publish experience)

# RFC:
- [x] RFC for `link:` https://github.com/yarnpkg/rfcs/pull/34, will help when workspaces reference each other
- [x] RF

[2017-05-01 16:30] bestander commented on #3209
It would be great for Yarn to have a richer API that allows hooking up to
lifecycle events or even provide implementation for some phases, i.e.
resolving, fetching or linking.

As for Workspaces we are starting to actively working on solutions starting
this week.
I've created an issue that will link all the RFC and PRs related to it
https://github.com/yarnpkg/yarn/issues/3294.

On Sat, 29 Apr 2017

[2017-05-01 17:48] Daniel15 opened #3295 "Chocolatey/Homebrew scripts need to check if version is RC before pushing"
`scripts/build-chocolatey.ps1` and `scripts/update-homebrew.sh` can take a `YARN_VERSION` environment variable from Jenkins, but it should also take `YARN_RC` and exit if an RC is being published.

In the future, we could probably post RCs to Chocolatey.

[2017-05-01 17:49] Daniel15 commented on #3295
@bestander You're not going to push an RC today, right? I can fix this tonight, I just need to make sure we don't publish any RC releases in the meantime 😛

[2017-05-01 18:22] EEtancelin commented on #1503
@nathanhleung you rocks.

[2017-05-01 18:25] szhongren commented on #3003
Are the command line args passed to commander? I'm having trouble tracing it in a debugger.

[2017-05-01 19:00] #1925 closed

[2017-05-01 19:11] arcanis commented on #2861
The offline mirror and the cache are two separate things. If the offline mirror cannot be found, the installation will not proceed in the older Yarn releases. Starting from the 0.23 release, this behavior changed, and we will fallback on the network if the offline mirror cannot be found.

[2017-05-01 19:50] JesseObrien commented on #1684
In regards to https://github.com/yarnpkg/yarn/issues/1684#issuecomment-263764878, I'm curious as well. It seems that running `yarn` with `--modules-folder` will wipe out/modify any existing `node_modules` folders that yarn can see. Is this intended behaviour?

[2017-05-01 20:09] bestander commented on #3295
Nope :)
On Mon, 1 May 2017 at 18:49, Daniel Lo Nigro <notifications@github.com>
wrote:

[2017-05-01 21:21] kaiyoma commented on #2591
Also hitting this after installing yarn today and trying to run a shell script that invokes it. Node.js 6.9.1 on Windows 10, installed yarn 0.23.3 via the MSI. Thanks @Daniel15 for the `yarn.cmd` workaround, that works for me! (Would still like to see a real fix though.)

[2017-05-02 01:20] kaiyoma commented on #2530
I see this issue as well when running `yarn install`. I'm running git bash (part of Node.js 6.9.1) on Windows 10.

![progress-bar-issue-1](https://cloud.githubusercontent.com/assets/10719780/25600670/c5db8d24-2e9a-11e7-8a6b-db951240affc.png)

![progress-bar-issue-2](https://cloud.githubusercontent.com/assets/10719780/25600671/c5dc6e4c-2e9a-11e7-87f2-4b8e98e43ddb.png)

[2017-05-02 02:42] chrishyle opened #3296 ""resolutions" do not provide enough granularity when using git"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
We are using yarn with git urls for some dependencies, including occasionally using branches of those urls. Assume a tree like this:

<pre>
project
└ dep1: git+ssh://…dep1url…#feature1  (@1.0.0)
└ dep2: git+ssh://…dep2url…
    └ dep1: git+ssh://…dep1url…#master (@1.0.0)
</pre>

Note that in this examp

[2017-05-02 05:15] jannisg opened #3298 "Adding new packages on Ubuntu 16.04 (on Windows 10) using Yarn 0.23.3 fails with "Error: ENOTEMPTY""
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When trying to install a dependency with yarn using `yarn add {dep}` the install fails with `ENOTEMPTY` error when trying to *delete* the `node_modules/.bin` directory.

The bug is:
1. it should install the dependency but does not.
2. it surely shouldn't delete the entire `.bin` folder right?

**If the

[2017-05-02 05:39] griffinmichl commented on #3194
I am also seeing this problem in fact, it breaks `yarn-offline-mirror-pruning` because if the install points to https://registry.yarnpkg.com, the value in the name in the offline mirror does not equal the name in the lockfile and yarn deletes necessary packaged from your offline cache.

[2017-05-02 05:47] damiandennis commented on #980
not working anymore in 0.23.3

[2017-05-02 06:01] jasonewang opened #3299 "`yarn check` after clean `yarn install` reports errors"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running `yarn check` after a fresh `yarn install` (cleared cache, no `node_modules`, no lockfile present) reports an error.

**If the current behavior is a bug, please provide the steps to reproduce.**
package.json at https://github.com/jasonewang/yarn-check-test

Sample CLI output below
[code]
The ver

[2017-05-02 06:03] damiandennis commented on #841
all broken in 0.23.1, setting registry to http and strict-ssl to false worked but now it does not. I have issues also with the certificate being intercepted and is why I need http.

[2017-05-02 06:05] mrmckeb commented on #2530
It does look like this is caused by the typeface you use. @kaiyoma - which font are you using here?

[2017-05-02 06:22] levlaz opened #3300 "Yarn Installation Guide Broken"
On Safari and Firefox (on macOS)

On this page: https://yarnpkg.com/en/docs/install#linux

Clicking on any of the platform links does not pull up the associated documentation. It simply continues to say: " Select your platform above "
<img width="789" alt="screen shot 2017-05-01 at 11 22 28 pm" src="https://cloud.githubusercontent.com/assets/7981032/25606211/16bc8f3e-2ec5-11e7-89c6-1ff1baa741e0.pn

[2017-05-02 06:24] levlaz commented on #3300
Sorry, moved to website repo: https://github.com/yarnpkg/website/issues/474

[2017-05-02 06:24] #3300 closed

[2017-05-02 06:32] cpsubrian commented on #2945
The same issue prevents running this in a lerna environment with `lerna exec`. If any of the packages only have one upgradable package and you **dont** wish to upgrade it, you have to bail out and re-run `lerna exec` with manual exclusions.

[2017-05-02 06:58] voxsim commented on #3261
I close this issue because it is a duplicate, thanks @rally25rs ;)
@Sunyang730 if you have additional comments, please report it in the original issue!

[2017-05-02 06:58] #3261 closed

[2017-05-02 09:01] voxsim commented on #3287
@nueko could you please provide additional information?

[2017-05-02 09:03] villesau opened #3301 "yarn why does not tell if the package is a peer dependency"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn why` does not tell if the reason behind dependency is actually peer-dependency

**If the current behavior is a bug, please provide the steps to reproduce.**
have a dependency with peer-dependency (ie. sass-loader with node-sass)
ask `yarn why node-sass`
the result is following:

[code]

**What is

[2017-05-02 09:43] driesvints commented on #3203
I can confirm that this is also broken for us. Upgrading to the latest Yarn version (0.23.3) has broken our CI builds.

[2017-05-02 09:53] driesvints commented on #3203
Using `ssh://` instead didn't fix the problem for us unfortunately. Getting the same issues.

[2017-05-02 10:04] whitecolor commented on #3294
I used scripts before, now I made simple wrapper for running yarn in monorepo https://github.com/whitecolor/yall, so far so good

[2017-05-02 10:06] raido commented on #3203
Ran into this with v0.22 on CI after upgrading git+ssh:// linked package version. v0.23.3 fixed the issue.

[2017-05-02 10:10] bestander commented on #3294
Thanks for sharing, @whitecolor

[2017-05-02 10:32] FissionCat commented on #2856
@arcanis I've tested with 0.23.3, it's still failing on my machine:

[code]

[2017-05-02 10:57] jeffbski commented on #499
I believe hard links to the files would work well as long as you are not modifying the node_modules directly.

My program https://github.com/jeffbski/pkglink can be used to setup and maintain those hard links to your node_modules packages. In addition to checking the package version it also checks the file size and date before deciding to link a file so modified files will not be linked. On window

[2017-05-02 11:00] jeffbski commented on #499
hard links are really only supported and useful for files. Mac OS X allows on directories but then it only allows one link so it really is only useful for backup purposes. pkglink thus only does hard links at the file level.  I have never run into any problems blowing away the node_modules directory since hard links reference count at the file system level, it tracks all that for you.

[2017-05-02 11:54] pichouk commented on #3146
I just upgrade to version 0.23.3 and still get the same error. Any idea ?

[2017-05-02 12:13] arcanis commented on #3146
The fix will be released along with the 0.24 build, which will be published somewhere this week.

[2017-05-02 12:14] arcanis commented on #2856
The fix will be released along with the 0.24 build, which will be published somewhere this week.

[2017-05-02 12:19] FissionCat commented on #2856
Ah, okay - my bad, I assumed the fix had been released. Thanks for letting me know!

[2017-05-02 12:35] arcanis commented on #3154
Is it still an issue, @agibralter ? The `resolved` field has changed starting from 0.23, so it's completely expected that you now have full urls even when using an offline mirror.

[2017-05-02 12:39] tribou commented on #3154
@arcanis please see my comment above as I was using yarn v0.23 which couldn't get `console-polyfill` offline.

[2017-05-02 13:05] griffinmichl commented on #3194
Another potentially related ticket: #3194

[2017-05-02 13:54] rally25rs commented on #3287
Unable to reproduce. Please provide more configuration information.

On Windows 10:

[code]

On OSX:

[code]

[2017-05-02 14:02] rally25rs commented on #3059
@bestander triage; duplicate of #2874

[2017-05-02 14:06] rally25rs commented on #3201
I believe that the way Yarn currently works, this should result in a /.bin/eslint link to the 3.19.0 version of eslint because that is the one your project actually depends on.

See some discussion in #2874 - bin symlinks are sort of an open issue.

@bestander triage; duplicate of #2874

[2017-05-02 14:13] #3059 closed

[2017-05-02 14:14] #3201 closed

[2017-05-02 14:17] bestander commented on #3194
cc @arcanis

[2017-05-02 14:22] aouaki commented on #1981
I can confirm that 0.23.3 solved the issue. Thanks @kittens !

[2017-05-02 14:29] #3085 closed

[2017-05-02 15:08] jakewisse commented on #3194
Going through the steps outlined in [_Running Yarn offline_](https://yarnpkg.com/blog/2016/11/24/offline-mirror/), I think not. My `yarn.lock` has `resolved` fields pointing at `registry.yarnpkg.com`, yet after running `yarn cache clean`, `rm -rf node_modules`, and disconnecting all network connections, I'm still able to reinstall from the offline mirror.

[2017-05-02 15:14] arcanis commented on #3194
This issue shouldn't be relevant anymore starting from 0.23, since we now always use expanded registry urls.

[2017-05-02 15:17] jarekb84 commented on #3203
Same as others have mentioned, upgraded to v0.23.3 caused the issue and removing 'git+' fixed it as @webark mentioned.

[2017-05-02 15:31] ecbrodie commented on #2819
Just a comment from my point of view, regarding this warning message (as a response to @bestander's comment):

When I see this after running a `yarn install` command, I begin to worry that there is either a yarn bug or an issue with one of our yarn files (such as `yarn.lock`). But rather, hearing that this message signifies a normal use case for yarn (in this case, I am running `yarn install` beca

[2017-05-02 15:33] klouskingsley commented on #3023
In the file `src/package-resolver.js`, I found the code
[code]

[2017-05-02 15:37] SimenB commented on #2819
@ecbrodie That's fixed in #3248

[2017-05-02 15:42] griffinmichl commented on #3194
@arcanis I do not believe that is the case in 0.23. Did you mean 0.24?

[2017-05-02 15:48] ecbrodie commented on #2819
@SimenB excellent, thanks for letting me know. Which yarn version will this be released in?

[2017-05-02 15:51] voxsim commented on #2114
@doberkofler do you still have this issue?

[2017-05-02 15:53] kaiyoma commented on #2530
11-point Consolas. Pretty popular for programmers. :-)

[2017-05-02 15:59] SimenB commented on #2819
No idea 😄

[2017-05-02 15:59] griffinmichl commented on #3194
Nevermind. I was on the wrong nvm version.

[2017-05-02 16:01] liam-potter commented on #3203
After spending several hours today trying to figure out what was going wrong, it turns out an old Pageant (one of the PuTTY apps) config had manipulated my GIT_SSH environment variable so it was ignoring my `known_hosts` file.

Removing that environment variable has resolved the issue for me with using a private GitHub repository and using a URL in the format `git+ssh://git@github.com/{organisatio

[2017-05-02 16:02] bestander commented on #2819
It is in master branch right now
<img width="1127" alt="screen shot 2017-05-02 at 5 01 37 pm" src="https://cloud.githubusercontent.com/assets/2121048/25626957/0ded0002-2f59-11e7-9f2d-f69b4c5d2f66.png">

So will be released in next branch cut, i.e. 0.24 this Thursday

[2017-05-02 16:03] bestander commented on #3023
Thanks for more data, this needs a fix

[2017-05-02 16:26] wyattjoh commented on #3141
Also experiencing the same issue with the following:

[code]

[yarn-error.log.txt](https://github.com/yarnpkg/yarn/files/971095/yarn-error.log.txt)

[2017-05-02 16:27] wyattjoh commented on #3141
Yet when I download the linked file directly from the url logged out, I get a tar file that I can untar properly:

[code]

[2017-05-02 17:41] dsschnau commented on #1496
Adding my experience - adding node.exe/yarn.exe to windows defender's exception list cut our yarn install time in half (from 60s to 30s).

[2017-05-02 18:00] joeycadle opened #3302 "Install stalls on private packages that have private packages as a dependency."
yarn install consistently fails by either stalling indefinitely, or producing an ssh connection reset error when attempting to install a private package that has a private package as a dependency. Removing those dependencies allows the install to go through fine, which gives me cause to think private package-ception is the problem.

[2017-05-02 18:19] andrewhavens opened #3303 "Bug: Yarn fails to install (Exit code: 128)"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Yarn fails to install and does not provide any helpful error message for debugging. I have already done this:

[code]
..but it has not made any difference.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Yarn seems to install in other projects. Inspecting the di

[2017-05-02 18:50] zguillen commented on #2893
I had same issue but was able to resolve it by forcing babel-runtime to be at version 5.8.38 (although I did make another change at same time so not 100% sure thats what fixed it for me, but easy for others to try...)

[2017-05-02 19:07] DanBuild opened #3304 "yarn-homebrew #5 failed"
Build 'yarn-homebrew' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
- [noreply] bb45834217063e3480f9ce2fc85c611f1594b984 - Make update-homebrew.sh executable (#3132)

No changes
- [noreply] 4cdc52065f5ae74c42e24b6666e5deadb3aa25a8 - added request caches for linux (#3140)

- [nison.mael] f68c10198f2a91373a8dfb90cf38aec4978428ff - Fix bug when c

[2017-05-02 19:09] DanBuild commented on #3304
Build was fixed!

[2017-05-02 19:09] #3304 closed

[2017-05-02 19:11] Daniel15 opened #3305 "update-homebrew.sh needs to switch to master before deleting branch"
[code]

Need to `git checkout master` before doing that.

https://build.dan.cx/job/yarn-homebrew/6/console

[2017-05-02 19:49] jbinto opened #3306 "Removing a git package from package.json and running `yarn` does not update yarn.lock"
**Do you want to request a *feature* or report a *bug*?**
Bug report.

**What is the current behavior?**

For a regular package, things work fine:

[code]

But for git packages, this doesn't work:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

See above. I also have a small repro repo, just read through the commits, it's fairly apparent what's happening:

ht

[2017-05-02 22:06] StephanBijzitter commented on #3016
Personally, I would expect `yarn update [optional package]` to update to the latest version matching the version range (also updating the lockfile if needed) while `yarn upgrade [optional package]` would go to the latest version, ignoring the version ranges. Keeps it nicely separated, too.

[2017-05-02 23:03] gargsms opened #3307 "Retain custom command line flags while installation for use in native addons"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Custom CLI flags are dropped. `yarn install` is the same as `yarn install --some-flag=value`
`node-gyp` bindings can utilize the custom flags to change the build behavior for addons.

**If the current behavior is a bug, please provide the steps to reproduce.**
I have been working on a fork of [love

[2017-05-02 23:13] luislobo commented on #2824
Yeah, fixed!

[2017-05-02 23:46] mrmckeb commented on #2530
@kaiyoma, take a look at https://github.com/Microsoft/BashOnWindows/issues/1936. Sadly this isn't going to be fixed any time soon. I'm not sure if it's something the Yarn team could help with by doing something different...

[2017-05-02 23:49] grawlinson commented on #3142
This is happening for me also. I can still access the globally installed packages just fine.

Outputs:

`yarn bin` and `npm bin` both result in: `<currentPackage>/node_modules/.bin`
`yarn global bin` and `npm -g bin` both result in: `$HOME/.local/share/npm/bin`
[code]
`npm list -g --depth=0` returns a list of packages globally installed by npm, but none of the packages globally installed by yarn.

[2017-05-03 00:14] kaiyoma commented on #2530
Interesting. Are we sure this is the same issue? I'm using the git bash that comes with the Windows installer of Node.js and I haven't installed the "BashOnWindows" project for running Linux binaries. Are they the same thing?

[2017-05-03 00:25] simonbuchan commented on #2530
To my knowledge the issue is due to the new support for ANSI escape codes
added to the windows console since the updates as part of support for WSL,
but are by default enabled. Perhaps yarn's progress renderer started
detecting and using ANSI support? Git bash should still be using a windows
node. You could try fiddling with fonts or sizes or disabling advanced
console features in the console opti

[2017-05-03 00:32] kaiyoma commented on #2530
I've disabled progress bars for now (`yarn config set no-progress true`). Having a font I like is infinitely more important than progress bars, which I never had anyway when using npm.

[2017-05-03 01:43] lsamayoa commented on #2786
Bump

[2017-05-03 04:52] zhangjyr commented on #932
While 0.21.3 does not rebuild all the packages on add a new package, it rebuilds all the packages on remove. And it seems yarn doesn't regard it a failure if rebuilding fails.

[2017-05-03 05:01] ericgundrum opened #3309 "error Bad hash installing git+https dependency by branch"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

`error Bad hash.`

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
(The relevant repo snapshot is [a0aac3d](https://github.com/ericgundrum/pouch-websocket-sync-example/commit/a0aac3).)

**What is the expected behavior?**

Install all dependencies.

**Please mentio

[2017-05-03 05:07] ericgundrum commented on #3309
Possibly this is related to #3198 and #1916.

[2017-05-03 05:12] #3305 closed

[2017-05-03 05:25] ericgundrum commented on #3309
I can use an older `yarn` to build `yarn.lock`, then `yarn install` works with newer versions. Presumably the `resolved pouch-remote-stream` line in `yarn.lock` enables the code to bypass the failing hash check.

[2017-05-03 06:03] doberkofler commented on #2114
Solved in 0.23.4

[2017-05-03 06:03] #2114 closed

[2017-05-03 06:32] neolivz commented on #3141
I wasted a couple of hours on this. I think the publish is not gzipping the tarball.

[2017-05-03 06:36] nyon commented on #3056
I had a similar problem when using ember-cli and yarn together. After calling `yarn clean` instead of `yarn cache clean` a file named `.yarnclean` is created. This file contains, among other entries, a directive to remove folders called `assets`. This led to a number of weird errors.
So I don't think it is a bug here but rather a misunderstanding of yarn itself. To circumvent this I would propose

[2017-05-03 07:03] ok2ju commented on #3287
@rally25rs
macOS 10.12.4

$ node -v
v7.9.0

$ npm --version
4.2.0

$ yarn --version
0.23.4

$ npm bin -g
/usr/local/bin

$ yarn global bin
/usr/local/Cellar/node/7.9.0/bin

[2017-05-03 09:58] mormahr commented on #1751
@rmm5t please submit one 😊

[2017-05-03 11:32] rally25rs commented on #2874
Notes copied from #3272

-----

If you have something like:

[code]

and assume that the `standard` package also depends on a different version of eslint `eslint@3.7.1`

There is nothing in the current implementation of this PR that would guarantee that `node_modules/.bin/eslint` was a link to the 3.13.1 version of eslint, not 3.7.1

I believe result should be:

[code]
-----

I think we also need

[2017-05-03 12:23] jbruni commented on #686
Maybe we can improve the ambiguity resolution strategy - since in this case it is failing.

Maybe we can keep it as it is, but if there is a fail to install that package, then it could "make another guess", ie, assume the other possibility of interpretation is correct, and try it.

[2017-05-03 13:45] EugeneHlushko commented on #3303
Same thing, happened after `yarn cache clean` i run `yarn`

* node: 7.4.0
* yarn 0.23.2
* CentOS release 6.8 (Final)

[2017-05-03 13:49] wyattjoh commented on #3141
I may have thought this as well @neolivz, but I was able to untar the file via `tar xz` which to me implies that it was gzipped,

[2017-05-03 14:05] EugeneHlushko commented on #3303
Oh yes, if you fail to proceed with yarn install because of this error, just delete your lockfile (`yarn.lock`) and run `yarn install` again

[2017-05-03 15:57] jimtom2713 commented on #1684
We have also had this issue mentioned above and referenced by @JesseObrien. We use webpack to package code up and create our distribution folder. I notice that running the following command to generate production node_modules folder in our distribution directory deletes the other modules within other exisiting node_modules folders.
[code]
Is this intended? If so, what's the rationale behind removi

[2017-05-03 16:30] mdh-cc commented on #3309
I've encountered the same problem today.

The yarn.lock file resolves the branch/version entry to the commit hash of the target git repo and creates a zipped file within the offline mirror folder.
After cleaning the cache and trying to reinstall (from the offline mirror), yarn compares the commit hash of this entry with the file hash of the created zip file in the offline mirror folder, which is w

[2017-05-03 17:27] rufman commented on #3299
I'm seeing this as well. Both versions of `cliui` are installed, but yarn seems to only find one when it checks node_modules. Also, both `cliui` entries are in `yarn.lock`

[2017-05-03 17:46] pconerly commented on #1532
Today I had this problem using yarn v0.23.2 and yarn v0.23.4.

I was able to install a package from a github repo by doing:
[code]

[2017-05-03 17:51] kaiyoma commented on #3299
I'm also seeing this (on Windows). I can repro the issue with a really simple `package.json` that installs only `nyc`:

[code]

I've filed an issue against `nyc` as well since it's not clear who's at fault here: https://github.com/istanbuljs/nyc/issues/564

My setup:

Windows 10
Node.js 6.9.1
yarn 0.23.3

[2017-05-03 17:59] rally25rs commented on #3287
Ah so you have Yarn installed with Homebrew. I think this is possibly related to: #3078 and #3255 and #3142 and #1040

It looks like the brew-installed node has it's global bin mapped to `/usr/local/bin` but Yarn doesn't pick that up when setting its own bin.

#3142 mentions that you can do:

[code]

-----

Here is the code that gets the "prefix":

[code]

So it looks like you can set the config o

[2017-05-03 18:07] kohlmannj commented on #2822
@rally25rs Trying to do more research first, but this issue may affect installation from GitHub using the `git+https://` protocol. I've seen Yarn install a private GitHub dependency with its `src` _and_ `build` folder, despite its `package.json:files` array containing only the `build` folder.

[2017-05-03 18:29] ecbrodie commented on #1694
I ran into this issue too, but I have a pretty strong feeling about why I ran into the issue. I believe that the `prepublish` command specified in my `package.json` file errored out, but Yarn failed to bubble up this error and failed to correctly halt execution.

I know this because I attempt a `npm publish` command afterwards and it terminated due to the correct error message (I did not have `bab

[2017-05-03 18:30] ecbrodie commented on #3036
Perhaps related to #1694?

[2017-05-03 18:33] chrishyle commented on #3254
This feature would be great. Client-side projects really benefit from `yarn install --prod --flat` because it avoids potentially costly duplication of dependencies that would otherwise have to be shipped to the end-user's browser over the wire. That being said, client-side projects also generally rely on devDependencies for build/dev (things like babel plugins, eslint configs, etc) that have no ne

[2017-05-03 18:46] chrishyle commented on #3254
One additional complication. If you have directly declared a devDependency that conflicts with a sub-dependency version of the same package, what would yarn do when they are installed with the commands in my comment above?  My guess is that it would overwrite the hoisted production dependency, but that feels scary to me. What should it do?

Tree:
<pre>
project
└ dep: A
    └ dep: B @ 1.0.0
└ devDe

[2017-05-03 19:14] coreyfarrell opened #3312 "yarn install --prod installs many more packages than npm install --prod"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`yarn install --prod` installs many packages that are not requested by package.json.

**If the current behavior is a bug, please provide the steps to reproduce.**
* Download minimist - https://registry.npmjs.org/minimist/-/minimist-1.2.0.tgz
* Extract and enter folder.
* Run `npm install --prod`
* Note

[2017-05-03 20:55] cansin commented on #2763
@victornoel I have a `package.json` where I try to fixate certain library versions e.g.

[code]

But I still end up with a `yarn.lock` file that has multiple entries for jquery package. I was under the impression adding a resolution for a package would result in either:

1. Raise an error when resolution cannot be met,
1. Or fix the jquery version to 1.11.3 no matter what.

But in my case yarn sil

[2017-05-03 20:58] cansin commented on #2763
Wait for a second, I was right about asking the question to @mattma in the first place. As they claimed the issue is fixed, and not you @victornoel . Sorry about the confusion.

Anyway @mattma care to comment re: above?

[2017-05-03 22:27] ddgenome opened #3313 "The --frozen-lockfile command-line option does not work"
The `--frozen-lockfile` command-line option does not work as advertised. It behaves the same way as when the option is not supplied, modifying the yarn.lock.

Here's an example:

[code]

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

The yarn.lock can be overwritten when `--frozen-lockfile` is provided on the command line.

**If the current behav

[2017-05-03 22:42] birdsarah commented on #3144
I think this might have been solved - see #3221

[2017-05-04 00:17] sandlerr commented on #3061
@Daniel15 could you please take a look over this issue?

[2017-05-04 00:29] dcecile commented on #1538
This looks like a duplicate of #1016 -- both seem to be about _phantomjs-prebuilt_ failing due to `npm_config_tmp` not set :thinking:

[2017-05-04 01:15] paullryan commented on #2572
Probably need to switch to `yarn add github:tony19-contrib/polymer-build#dist-missing-file-handling-2` or try with the --verbose flag to see what's failing (I'm assuming a 401 or 403 in my answer above)

[2017-05-04 02:02] dcecile commented on #2485
This looks like a duplicate of #1016 -- both seem to be about _phantomjs-prebuilt_ failing due to `npm_config_tmp` not set :thinking:

[2017-05-04 02:03] robdodson commented on #3254
This occurred to me too. I prefer the `client_modules` approach because it would avoid this. As you said, the folks hard coding paths to `node_modules` should (hopefully) be able to patch in fixes for that.

[2017-05-04 02:05] dcecile commented on #1539
It looks like this has been fixed in `phantomjs-prebuilt` v2.1.8 via Medium/phantomjs@5e6598f.

(If you're finding this bug because you're using `prerender-spa-plugin`, *that* package has an open issue to upgrade from `phantomjs-prebuilt` v2.1.7 where it's currently stuck due to a Windows problem -- see chrisvfritz/prerender-spa-plugin#36.)

[2017-05-04 04:00] tony19 commented on #2572
Indeed, the `github:` prefix causes the `npm` behavior I was originally expecting (an error is emitted):

[code]

The `--verbose` flag doesn't reveal any failures for the prefix-less command:

[code]

[2017-05-04 06:18] maxime1992 commented on #2763
@cansin a simple fix is to edit `yarn.lock` while this issue is still open.

For example, in my project I use Typescript (v2.3.1) but sub dependencies relies on others Typescript versions. No matter what I try to do in `package.json`, my `yarn.lock` always ends up into something like that :

[code]

I just edit it by hand like that :
[code]

So yes, it ain't perfect solution to edit `yarn.lock` by

[2017-05-04 07:19] alexanderkartavtsev commented on #2147
+1

[2017-05-04 09:08] novemberborn commented on #3299
`nyc` [bundles these dependencies](https://github.com/istanbuljs/nyc/blob/55e826dd8aaa062957460c4b7b43a9339aac04b4/package.json#L130:L158).

I don't think `yarn check` should report these as errors.

[2017-05-04 09:17] arcanis commented on #2924
No, we shouldn't be requiring elevated rights when installing global packages, but this issue seems to have been caused by McAfee, right?

[2017-05-04 10:30] gwkunze opened #3314 "Yarn install deletes parts of installs after cache is cleaned"
**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
With certain packages (I think those that use binaries compiled with node-gyp) a second `yarn install` seems to delete part of the package, breaking the module.

**If the current behavior is a bug, please provide the steps to reproduce.**
With a simple package json:
[code]

- Run `yarn install`
- The

[2017-05-04 10:54] gwkunze commented on #3314
I did a `find .` in the directory before and after the second `yarn install`, this is the result of diff-ing the output:
[code]

[2017-05-04 11:42] Globegitter commented on #2428
Just running into a similar issue on gitlab ci.

[2017-05-04 11:56] yuricus commented on #3203
yarn 0.23.4 does not work for us, package specified with `git+ssh://git@myhost:myport/repo.git` when yarn generates git command it omits the protocol, resulting in connection timeout to default port
[code]

[2017-05-04 12:46] ddgenome opened #3315 "yarn.lock gets updated by collapsing dependencies when there is no need to"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When running `yarn` (install), the yarn.lock file gets rearranged when there is no need to.

**If the current behavior is a bug, please provide the steps to reproduce.**

I have found the following package.json to create different yarn.lock files on different machines.

[code]

Since yarn's heuristic

[2017-05-04 12:51] ddgenome opened #3317 "Yarn does not complain when provided invalid command-line options"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When you provide yarn an invalid command-line option, it just ignores it. This behavior hides typos and errors. For example, if you provide the command-line option `--pore-lockfile` rather than seeing an error about the incorrect command-line option, your yarn.lock may get overwritten.

**If the curr

[2017-05-04 13:00] benhunt29 commented on #3277
I have this same issue on Google App Engine. Unfortunately I can't change how it installs yarn. Here's the error

[code]

[2017-05-04 13:10] oliversalzburg commented on #1214
This is still happening. I just opened #3288 to report the same behavior. Happens with 0.23.4. We're not using file protocol.

[2017-05-04 13:12] cpojer opened #3318 "Use Prettier"
This repo must start using Prettier ;)

[2017-05-04 13:16] andreugrimalt commented on #3277
Same as @benhunt29 here...
[code]

[2017-05-04 15:35] pgporada commented on #1538
It's like 3 lines of code to default the var in both projects. If you're going to NPM compatibility, that would allow a `yarn` user to not have it blow up unexpectedly in their face. PhantomJS should handle it too because validating that you have vars is  proper programming.

[2017-05-04 15:48] joshburgess commented on #2614
I'm also running into this while trying to pull a forked npm package hosted in a private BitBucket repo.

[2017-05-04 16:02] dcecile commented on #1016
It looks like this has been fixed in `phantomjs-prebuilt` v2.1.8 via Medium/phantomjs@5e6598f.

(If you're finding this bug because you're using `prerender-spa-plugin`, *that* package has an open issue to upgrade from `phantomjs-prebuilt` v2.1.7 where it's currently stuck due to a Windows problem -- see chrisvfritz/prerender-spa-plugin#36.)

[2017-05-04 16:04] dcecile commented on #1538
The PhantomJS NPM was updated to fix the problem back in July 2016 (v2.1.8) via Medium/phantomjs@5e6598f.

It seems like for some reason people are still encountering this issue... maybe other NPM packages depending on a `phantomjs-prebuilt` earlier than v2.1.8?

[2017-05-04 16:18] pgporada commented on #1538
@dcecile Most likely. Auditing all of that is a pain in the ass :(

[2017-05-04 16:30] timaschew commented on #2147
For me, I'm using yarn 0.23.2 (0.23.4 is the latest btw) lodash 4.17.4 is installed at top level.
[code]

[code]

So either it was a bug that leads to install lodash 3 in earlier versions of yarn or it maybe the usage of lodash hash changed and it will pickup the most used version to install at top level.
In my case version 4 was used in two libraries **logs** and **react-dom-utils**.

Snippets of

[2017-05-04 16:46] saravvij commented on #2924
That's right. I had to disable McAfee to successfully install it.

On Thu, May 4, 2017 at 2:17 AM, Maël Nison <notifications@github.com> wrote:

[2017-05-04 17:07] gforceg opened #3320 "document yarn config settings"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**

I feel like this is staring me in the face and I'm just not seeing it. I can't find documentation that explains what settings are available. e.g., [npm configuration documentation](https://docs.npmjs.com/misc/config) explains how to set 'http-proxy' or an auth token in .npmrc. I don't see these op

[2017-05-04 17:17] gforceg commented on #3320
The following file works w/ npm
.npmrc
[code]
I copied it and renamed it '.yarnrc' and when I run `yarn config list` I get errors:
[code]

[2017-05-04 17:18] pichouk opened #3321 "Error "/usr/bin/yarn: [[: not found" with 0.24.0"
Using the latest yarn version `0.24.0`
[code]

**Do you want to request a *feature* or report a *bug*?**
Reporting a bug

**What is the current behavior?**
When I use the yarn command, it works but I *always* get this :
[code]
Then my command is executed normally.

**If the current behavior is a bug, please provide the steps to reproduce.**
- Using Debian (testing) with `4.9.0-2` kernel.
- Install

[2017-05-04 18:32] cansin commented on #2763
@maxime1992 thanks for the suggestion. Though since I am working with a relatively large team (>80 eng.), I cannot manually keep `yarn.lock` synced with the resolution requirements :(

[2017-05-04 18:52] rich-newman opened #3322 "Yarn ignores lockfiles in npm packages, doesn't fix dependencies"
**Do you want to request a *feature* or report a *bug*?**

Bug/issue/question - although possible it's user error, it's not entirely clear how this is meant to work

As far as I can work out, when publishing npm packages there's no way of locking dependencies using yarn.  It seems it just ignores any yarn.lock file in the package and uses the standard npm pattern matching to work out dependencies.

[2017-05-04 18:53] bestander commented on #3322
That is by design https://yarnpkg.com/blog/2016/11/24/lockfiles-for-all/

[2017-05-04 18:53] #3322 closed

[2017-05-04 18:55] bestander commented on #3321
Related to #3260 and #3245.
@Daniel15, do you know what trickery is this?

[2017-05-04 18:57] bestander commented on #3320
Yeah, we definitely need help in this, a PR to the website is very much welcome.

[2017-05-04 19:01] georgesben commented on #3028
Hi !

Sorry for the late. This is a minimal JSON for the bug:
[code]
This is quite similar with this ticket: #3041

[2017-05-04 19:08] Daniel15 commented on #3321
Hmm this is very weird. I thought `[[` is a standard shell thing.

I think the issue is that we use `/bin/sh` instead of `/bin/bash` in the shebang (https://github.com/yarnpkg/yarn/blob/master/bin/yarn), and we're using stuff that is not portable across shells. It's likely your `/bin/sh` is another shell such as `dash`.

This is intentional due to #3030. It's unrelated to this issue.

[2017-05-04 19:09] Daniel15 commented on #3321
@bestander  Simply changing the shebang in `bin/yarn` from `#!/bin/sh` to `#!/bin/bash`  is probably enough to resolve this.

[2017-05-04 19:31] Codelica opened #3323 ""yarn install --production" downloads/caches all dev dependencies"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

`yarn install --production` downloads and caches (in ~/.cache/..) all devDependencies found in package.json rather then just the production dependencies.

**If the current behavior is a bug, please provide the steps to reproduce.**

Run `yarn install --production` with any package containing devDepen

[2017-05-04 19:31] henryptung commented on #3313
Same here. Yarn is also annoyingly shifting dependency versions slightly during the build, which breaks the stable-dependency check we have, even when `--frozen-lockfile` is used:

[code]

Versions (CircleCI Ubuntu 12.04 node):
[code]

[2017-05-04 19:40] kslimani opened #3324 "[Feature request] Clean named package from local cache"
It is a request feature.

Current behaviour is `yarn cache clean` will clean all cached package from local cache.

Current behaviour is not a bug.

I think i could be a nice addition to have a feature to remove a "named package" from local cache. *(an alternative from removing all by default)*

For example :

[code]

*This syntax is just a proposition, there may be a better syntax to achieve this.

[2017-05-04 19:46] gaguirre commented on #685
I'm facing the same issue and it's really annoying. Currently I'm using `yarn`, removing my local modules from `node_modules` and then installing them using `npm`
😞

[2017-05-04 19:50] rich-newman commented on #3322
Thanks very much, that's an interesting read, indeed it's an interesting project.  I have to say the idea that your devs have locked versions of dependencies whilst your end users get the next version automatically seems completely the wrong way round to me.  I guess there's nothing stopping me using npm shrinkwrap for my packages though, so it's not an issue.

[2017-05-04 21:22] Chocanto commented on #2877
I confirm this bug, this not only make it unusable but it create a false `~` folder. I was also tempted to enter `rm -r ~` before taking me back ^^'

[2017-05-04 21:37] soulne4ny commented on #3323
As well when there is git url in devDependencies it requires git installed even when running with `--prod`.

[2017-05-04 21:43] benhunt29 commented on #3277
It's a known issue. Seems like it's with Google App Engine, not yarn. https://issuetracker.google.com/issues/37978206

[2017-05-04 22:30] mmucklo opened #3325 "yarn installation of self hosted git+ssh repos fail when there's a message returned from gitlab"
yarn 0.23.4
macOs 10.12.4

When working with a "self-hosted" gitlab repo (such as talked about in #513), there's a case where gitlab is setup to output a warning message before returning the contents.

In certain settings gitlab server could possibly return a header prior to every interaction like:

[code]

In these cases the following error is seen:

     TypeError: Cannot read property 'split' o

[2017-05-04 22:45] vith commented on #1552
I am in the same situation as @benjie

But it gets worse: there are other tools that run yarn and don't provide a way to pass extra args to yarn.

As a trivial [example](https://github.com/avajs/ava#add-ava-to-your-project), `ava --init` can't be used.

I am definitely for some kind of persistence. The only reservation I have about persisting it in `yarn.lock` is that it may not be desired to shar

[2017-05-05 00:10] TimvdLippe opened #3326 "Software Architecture analysis of Yarn"
Dear Yarn developers/community,

You might recognize our names, but we are @clanghout, @gijsweterings, @keraito and @timvdlippe. For the last couple of months, Yarn was our subject project for the Software Architecture course at the Delft University of Technology.

For this course, we wrote a detailed chapter of our analysis of the architecture of Yarn and investigated any potential deficiencies.

[2017-05-05 00:34] khaosdoctor commented on #3142
Just the same issue, all the globally installed packages I have, I did it with yarn so `npm list -g --depth=0` lists nothing as expected, but `yarn global ls` lists nothing too... Just "Done"

[2017-05-05 02:28] rockchalkwushock commented on #3142
@voxsim this looks to be solved in #3238 & will be rolled out in `yarn@0.24.0` correct?

Should we close?

[2017-05-05 04:40] natew opened #3327 "Yarn breaks in docker, but not outside"
**What is the current behavior?**
In simple docker container with new install of yarn, running lerna bootstrap with yarn is suddenly no longer working.

**If the current behavior is a bug, please provide the steps to reproduce.**
Hard to create steps due to complexity here, but error may be helpful.

**What is the expected behavior?**
It was working fine and installing earlier.

**Please mention y

[2017-05-05 06:16] maxime1992 commented on #2763
Indeed it's far away from a perfect solution but it's the only fix I could come up with right now ...
Maybe only one person should be in charge of upgrading your dependencies and you should keep an eye on `yarn.lock` in PR if you have some to make sure of this consistency ...

Of course, let's hope it's fixed soon because it's a real problem ;)

[2017-05-05 06:17] bcoe commented on #3299
nyc purposefully bundles its dependencies, because it helps prevent instrumentation errors when libraries when a library being tested has dependencies that overlap with nyc (this was resulting in weird bugs when module authors used a singleton pattern).

[2017-05-05 06:21] gugahoi commented on #3264
Experiencing same problem on OS X, yarn version 0.23.4. Any scoped package fails to download because it searches for them in `yarnpkg` or `npm` but not in the proper repository configured in `.npmrc`.

[2017-05-05 06:36] taileshrbamankar opened #3328 "yarn install issue unexpected error found"
Hi,

I am facing issue to install yarn in jhipster. yarn install command fails how be below error. I tried to install yarn from project and from globally also.

on fire of yarn install command on cmd
yarn install v0.23.4
[1/4] Resolving packages...
warning There appears to be trouble with your network connection. Retrying...
warning There appears to be trouble with your network connection. Retryin

[2017-05-05 06:55] voxsim commented on #3142
@rockchalkwushock yep I think so :) please let me know it is ok!

[2017-05-05 07:46] pichouk commented on #3321
On my configuration, I confirmed that it solved the issue.
Is that possible to add this on 0.24 version ?

[2017-05-05 07:57] prokopsimek commented on #3242
:+1:

[2017-05-05 08:30] g-plane opened #3329 "Creating yarn.lock file after running "yarn -v""
**Do you want to request a *feature* or report a *bug*?**

Feature request

**What is the current behavior?**
After I ran `yarn -v`, it will generate `yarn.lock` in a non-yarn project directory.

**If the current behavior is a bug, please provide the steps to reproduce.**

Run `yarn -v` in a non-yarn project directory which does not include `yarn.lock` file.

**What is the expected behavior?**
Jus

[2017-05-05 09:24] benjie commented on #1552
I definitely think the `--ignore-engines` flag should be checked into version control and shared between all users of the project - do you have an example @vith of when you'd want a per-package -`--ignore-engines` to apply locally but not, say, on production?

[2017-05-05 09:47] oliversalzburg commented on #1214
Is there any workaround for this which I am not aware of? Needless to say, having your working copies constantly overwritten by cached content without you realizing it has a major impact on development.

[2017-05-05 09:51] doxiaodong opened #3330 "yarn.lock should not include base registry(`http://registry.npmjs.org`)"
**Do you want to request a *feature* or report a *bug*?**

feature
**What is the current behavior?**
yarn.lock include registry
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
[code]
should be
[code]
 **Reason**
Most developers in china will use `--registry=https://registry.npm.taobao.org
`, and then, yarn.lock will be
[code]
But for

[2017-05-05 11:00] frank-dspeed commented on #1552
@benjie ignore engines need to happen on per package base no matter production dev it stays the same package greetings.

[2017-05-05 11:03] frank-dspeed commented on #1552
@vith to make your suggestion complet we shoukd add simply a ignoreEngines: register point in the  log where we simply do
[code]
then this is also per node version

[2017-05-05 11:15] wvankuipers commented on #2476
This is still an issue in yarn 0.23.4 (running on Node 7.10.0)

[2017-05-05 11:24] cpojer commented on #3326
wow, this is awesome! I hope your project was successful and that you'll pop up with pull requests to Yarn – we'd love to see you contribute more to Yarn in the future :)

[2017-05-05 11:28] cpojer commented on #3326
@TimvdLippe I'm managing the JavaScript Tools team at Facebook. Would you mind sending me your email addresses to cpojer@fb.com? I'd love to get in touch.

[2017-05-05 12:20] TimvdLippe commented on #3326
@cpojer You have got mail 😄

[2017-05-05 12:26] stryju commented on #3326
this is so cool!

[2017-05-05 13:25] ChristopheVandePoel commented on #3327
I see the same thing on WSL (Ubuntu 16.04, node v7.10.0, yarn v0.23,4)

Setting the concurrency to 1 helped for now.

No problems when I run it straight in windows.

[2017-05-05 13:32] orta commented on #2847
I'd also like to see this, as I'm not 100% certain all of the developers working on a project are using the same version of yarn as each other without a feature like this.  👍

[2017-05-05 13:37] bestander commented on #2847
Yeah, I think we should add it.

On 5 May 2017 at 14:32, Orta <notifications@github.com> wrote:

[2017-05-05 13:41] bestander commented on #3330
Yeah, that sounds like a useful feature.
@arcanis what do you think?

[2017-05-05 13:45] arcanis commented on #3330
Yup, completely agree. Ideally, I think the `resolved` field should be removed (because we don't care where the tarball come from, as long as it has the right hash), and replaced by a single `hash` field. The url can then be reconstructed at runtime when reading the lockfile.

[2017-05-05 13:49] bestander commented on #3330
@doxiaodong want to send an RFC?

We'll need to discuss backwards compatibility, this feature being an opt-in, defaults etc

[2017-05-05 14:02] ChristopheVandePoel commented on #3327
To be complete, I think this is probably an issue with the latest lerna-update, rather than with yarn itself:

https://github.com/lerna/lerna/issues/789
https://github.com/lerna/lerna/issues/793

I'll try reverting to rc.3 lerna next

[2017-05-05 14:02] dwiyatci commented on #3142
Can't wait for release 0.24! :grin:

[2017-05-05 14:28] bestander commented on #711
We are addressing this issue in https://github.com/yarnpkg/rfcs/pull/60

[2017-05-05 15:02] Sensiblemnd opened #3331 "uninstall Yarn when using Windows Installer?"
How do you actually uninstall yarn when installed by the windows installer???

[2017-05-05 15:10] cmoesel opened #3332 "Wrong ESLint plugin loaded (works w/ NPM)"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Our project uses _react-scripts_ and _eslint-config-airbnb_ devDependencies.  _react-scripts_ declares _eslint-plugin-import "2.0.1"_ as a dependency.  _eslint-config-airbnb_ declares _eslint-plugin-import "^2.2.0"_ as a peer dependency.  We've added _eslint-plugin-import "^2.2.0"_ as our own devDepend

[2017-05-05 15:26] davidpicarra opened #3333 "Yarn install folder name different from npm install"
**Do you want to request a *feature* or report a *bug*?**
Reporting a bug

**What is the current behavior?**
Repository created to show this bug: https://github.com/davidpicarra/yarn-bug

1. have a ```package.json``` with a dependency where the key is different than the name inside the imported dependency, for example:
```"fake-vue": "git+https://github.com/vuejs/vue.git#b977c77"```
2. execute ```

[2017-05-05 16:09] agibralter commented on #3154
@arcanis I just tested with `0.23.4`. I have a package in package.json as I described above (`"internal-pkg": "git+ssh://git@github.com/me/internal-pkg.git#abcdef0"`). When I start fresh (e.g. `rm -rf node_modules; rm -rf vendor/npm_cache; rm -rf yarn.lock`) and run `yarn`, my `internal-pkg` does not get added to `vendor/npm_cache`.

[2017-05-05 16:17] agibralter commented on #3154
[code]

I don't see how anyone has offline mirror working in `0.23.x` now... Can someone please confirm that offline mirror works at all anymore?

[2017-05-05 16:19] Profpatsch opened #3334 "ETIMEDOUT always for the same package"
[code]

I already deleted `~/.config/yarn`, `~/.yarnrc` and `~/.cache/yarn`, same error keeps happening

[code]

[code]

[2017-05-05 16:32] dizlexik commented on #3154
I've been keeping my eye on this issue hoping for it to get resolved.

I've been using v0.21.3 for a while now because offline mirror functionality seems to be completely broken in newer releases, and I was running into the same issues as you, @agibralter.

Among other reasons, I too rely on offline mirror to cache copies of my internal git dependencies so I don't have to massively overcomplicate

[2017-05-05 16:46] natew commented on #3327
Ah just found this before seeing!

https://github.com/lerna/lerna/issues/671#issuecomment-286207034

[2017-05-05 16:46] #3327 closed

[2017-05-05 17:02] agibralter commented on #3154
For what it's worth, I've had _some_ success with 0.22.0. It seems to have slightly inconsistent behavior about when it outputs a URL to yarn.lock vs. when it outputs a filename...

[2017-05-05 17:04] Daniel15 commented on #3326
This is awesome! Great work.

I just wanted to mention that in addition to Travis, CircleCI and AppVeyor, we're also using Jenkins (https://build.dan.cx/view/Yarn/) for a few tasks. We've got a nightly end-to-end test run that spins up a new Ubuntu Docker container, installs the nightly build of Yarn via `apt-get`, and does a  simple `yarn add` to ensure it's working as expected. Most of the relea

[2017-05-05 17:24] vance commented on #973
So before I open a new issue, posting this to see if it might be related. when I have a published module referencing a relative path that is not found, `"@something/my-thing":"file:.."` and that path does not contain the plugin, I get an error `error Couldn't find a package.json file in "/Users/mememe/dev/blah/packages"` even though i'm running it from `/Users/mememe/dev/blah/packages/my-app` and

[2017-05-05 17:50] arcanis commented on #3154
The offline mirror works fine, at least for regular packages. I'm not sure we have a unit test for git repositories, which might explain why something could have broke here :/

I've tried to reproduce your issues, and:

- I haven't been able to bring Yarn to **not** add the tarball to the offline mirror, even when it's from a git repository (I've tried with arcanis/private-pkg). If you still have

[2017-05-05 17:53] jaredru commented on #3154
@arcanis The tarball/commit hash comparison issue you mention is #3198.

[2017-05-05 18:50] vith commented on #1552
I was thinking along the lines that having each developer on a project set the persistent ignore for their own environment would be better so that if there was a real problem they'd each have more of a chance to realize it's due to the engine version that some other package tried to warn them about. Could also raise the chances that one of them makes a pull request to correct the engine range upst

[2017-05-05 19:55] agibralter commented on #3154
@arcanis Ok now I'm confused—I'm getting different behavior in my app's project than I am on a fresh project. I created this: https://github.com/agibralter/yarn-test/blob/master/test.sh

I can confirm that with that script I get:
[code]

When I run it on my project I get:
[code]

However, I realized that we have `yarn-offline-mirror-pruning true` in our `.yarnrc`. Without that line in there, the o

[2017-05-05 20:00] agibralter commented on #3154
Ooh, I'm realizing that a lock file never got created because of the error...

[2017-05-05 21:08] clanghout commented on #3326
Thanks a lot for all the great reactions! Even more motivation to keep looking into yarn!

[2017-05-05 21:22] caseywatts commented on #1981
We're still getting this issue on two of our apps (using yarn `0.23.3`), and I've had to add back in this line again:

[code]

(It seemed to work for some builds for a while, maybe it happened again when we updated packages or something?)

[2017-05-05 21:24] agibralter commented on #3154
Ok I've rebuilt my script to be more robust on a different branch: https://github.com/agibralter/yarn-test/tree/offline-mode-broken

I can reliably reproduce the broken behavior with git and also npm scoped repos:

[code]

[2017-05-05 21:57] jrop opened #3336 "yarn pack does not honor globs in "files" option of package.json"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**

My package.json "files" option specifies globs as entries:

[code]

When I run `yarn pack` it produces a `.tgz` file with the following entries:

[code]

However, when I run `npm pack`, it packs the following files instead:

[code]

**If the current behavior is a bug, please provide the steps to repro

[2017-05-05 22:06] cmoesel commented on #3332
As noted above, I filed a similar issue against eslint in case the problem is on their end.  Hoping someone from one of the teams might have an idea what is going on.

[2017-05-05 22:25] jrop commented on #3336
Keeping notes for myself:

yarn pack eventually calls: [this line](https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/pack.js#L119) with the following filters:

[code]

[2017-05-05 22:36] jrop commented on #3336
More notes: it ends up calling to [here](https://github.com/yarnpkg/yarn/blob/master/src/util/filter.js#L101) with the following context:

[code]

[2017-05-05 22:57] jrop commented on #3336
So this is effectively console.logging `filters` from pack.js:

Ignore list:
[code]

[2017-05-05 23:06] jrop commented on #3336
Interesting:

[code]

minimatch version: 3.0.3

[2017-05-06 03:19] frank-dspeed commented on #1552
@vith i agree so we should store ignore engine flag by node, package + version string

but i think then we are fine :+1:

[2017-05-06 05:27] Daniel15 commented on #3331
Same as any other Windows app. Go to "Add or remove programs" in control panel (or open the start menu and search for "remove program")

![](http://ss.dan.cx/2017/05/Program_Manager_05-22.25.08.png)

Then search for Yarn and click "uninstall"
![](http://ss.dan.cx/2017/05/Settings_05-22.26.20.png)

[2017-05-06 05:27] #3331 closed

[2017-05-06 06:32] adjohnson916 commented on #1732
@alexanderwallin @graingert:
I've just released a module that includes a CLI to do this (useful for `preinstall` scripts): https://github.com/adjohnson916/use-yarn

Stay tuned, as I may have more ideas coming, especially around CI.

[2017-05-06 09:17] whitecolor commented on #1214
@oliversalzburg I advice to try this for development with local packages: https://github.com/whitecolor/yalc

[2017-05-06 10:22] akxcv commented on #932
For me, downgrading to `0.21.3` did not help. `bs-platform` gets rebuilt on every add/remove.

[2017-05-06 12:24] sylvainpolletvillard commented on #2530
I have a similar problem with Hyper and IntelliJ terminal on Windows. It may be related to a new version of Yarn or a Windows update, I'm not sure. It works correctly on Powershell.

![2017-05-06_14-22-40](https://cloud.githubusercontent.com/assets/566536/25772269/8876c784-3267-11e7-92f3-c7bfdd58c2a6.gif)

[2017-05-06 14:31] jrop commented on #3336
See this line (#648) in [minimatch.js](https://github.com/isaacs/minimatch/blob/master/minimatch.js#L648)

[2017-05-06 15:46] agibralter commented on #3154
I think the problem I may have been seeing was the "with pruning" true + git. It seems to silently fail...

[2017-05-06 17:15] szarouski commented on #2671
Here is how I understand what Daniel says:
We have babel as a dependency which is setup as a monorepo with fixed mode for versions update - so every time babel need to release a change in one of its dependencies, all babel packages will get their version bumped. When yarn.lock is regenerated & yarn will update offline cache - all babel packages will be tracked as new by Git because they can't be d

[2017-05-06 17:50] szarouski commented on #2671
Sorry, just noticed there is an open discussion already: https://github.com/yarnpkg/yarn/issues/541

[2017-05-06 18:11] oliversalzburg commented on #1214
@whitecolor Awesome. Thanks a lot. I'll check it out.

[2017-05-06 19:14] ridz7 opened #3340 "Problème yarn with shoutem please"
i copy the problem
Thank if you can help me
I have the problemat the end 👍

yarn install v0.23.4
info No lockfile found.
[1/4] Resolving packages...
error Refusing to download the git repo {"protocol":"https:","hostname":"bitbucket.org","repository":"https://git@bitbucket.org/fiveminutes/react-native-calendar-manager.git"} over HTTPS without a commit hash - possible certificate error?
info Visit h