[2017-07-04 11:30] saikojosh commented on #3630
I love Yarn but this has repeatedly been raised as an issue over the last year and is always closed. Surely this is a common use case to have access to different packages in production and development?

My own situation is that I'm using a private Git dependency in development and in CI/production I am using a private module hosted on NPM. I don't want to give my CI system or production systems ac

[2017-07-04 11:30] rossgardt commented on #3700
It would be really helpful to have some instructions on how to accomplish this 👍  It is quite painful to always switch between different registries manually.

[2017-07-04 11:57] varnav commented on #3785
It's primarily not about "why", it's about "does yarn employ security mechanisms similar to npm". But, in case of npm, it is **safer** to run it as root.

[2017-07-04 12:07] rossgardt commented on #3093
Any further proogress, @xdumaine? I am having the same issue and cannot find any configuration that works 😕

[2017-07-04 12:13] imsurinder90 commented on #1747
Thanks

[2017-07-04 13:01] betalb commented on #3700
I have .npmrc & .yarnrc configured as following:

.npmrc
[code]
.yarnrc
[code]

And `yarn add @mycompany:package-name` works fine for me
And when running in verbose mode, I don't see any requests to `registry.yarnpkg.com`

[2017-07-04 13:24] LasaleFamine commented on #2238
Is this solved? I've got exactly the same problem today with `yarn` v0.27.5, loosing a lot of work...

[2017-07-04 15:12] AlastairTaft commented on #2238
I hit the issue again yesterday however I'm still on `v0.24.5`. This time it caught me unprepared and I had to write the code it wiped again.

[2017-07-04 15:34] OmgImAlexis opened #3821 "Yarn global not detecting license in package.json"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Installing global packages doesn't always detect license field.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

[code]

**What is the expected behavior?**
For it to install without a warning about missing license.

**Please mention your node.js, yarn and operating

[2017-07-04 16:10] EvHaus opened #3822 "0.26.1 breaks `yarn outdated` command"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

After upgrading from 0.24.6 to 0.27.5 via Homebrew, I can no longer use the `yarn outdated` command due to this error:

[code]

Downgrading back down to 0.24.6 makes the error go away.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavi

[2017-07-04 18:21] Daniel15 commented on #3822
Are you sure that error is coming from Yarn itself? The call stack contains Bluebird, which is a library that we don't use in Yarn.

[2017-07-04 18:24] Daniel15 commented on #3816
Hmm, it's working fine for me:
![](http://ss.dan.cx/2017/07/ConEmu_04-11.24.07.png)

Are you using a proxy at all? If so, maybe your proxy is throwing the error.

[2017-07-04 18:26] Daniel15 commented on #3804
This seems like a failure on npm's end... We might need to loop in someone from npm.

[2017-07-04 18:53] EvNaverniouk commented on #3822
Yeah, it's very strange indeed. It's almost like Yarn is calling into my node_modules directory for some reason. The reasons I suspect Yarn is because:

- It only happens after upgrading to `0.27.5`, downgrading makes the issue go away
- It doesn't happen when using `npm`

[2017-07-04 19:07] imsurinder90 commented on #3169
The above solution worked for me!!
I commented .yarnclean file and then re-run yarn add package-name (run only for package of which images directory missing)

[2017-07-04 20:26] jacek213 commented on #3804
It was resolved after about  half hour, however - not sure how that could be npm's fault - yarn's registry backend was the one that responded with 503.

[2017-07-04 20:27] Daniel15 commented on #3804
@jacek213 - Yarn's backend is simply a reverse proxy over the top of npm's one. It's powered by CloudFlare. The error is coming from a Varnish server (see `Via: 1.1 varnish`) which CloudFlare do not use, but npm do (via Fastly). This means the error is coming from the upstream npm servers rather than anything controlled by Yarn 😃

[2017-07-04 20:30] jacek213 commented on #3804
@Daniel15 ok thanks for clarifying - I thought it was yarn's varnish cache :)

[2017-07-04 21:25] GAumala commented on #3819
This was fixed a few days ago in #3706. I just tested latest commit from master and aliases like `c`, `i`, `la`, `ll`, `r`, `t`, and `v` are no longer listed.

[2017-07-04 22:20] arcanis commented on #3785
Hm, I see what you mean. No, we don't implement any such logic. That being said, are you sure npm still implements this behavior? According to the thread you've quoted, [npm install should *require* root privileges](https://github.com/npm/npm/issues/294#issuecomment-588688) (which is obviously not the case), and I can't find any meaningful reference to `setuid` [in their repository](https://github

[2017-07-04 22:22] GAumala commented on #3821
I tried to debug this, and it seems that what yarn is complaining about is not the license for package `xo`, but the license for the user's `package.json` file. When `yarn global` is used, yarn keeps a `package.json` with all the packages that the user has installed globally listed as dependencies.  Right now, mine looks something like this:

[code]
Those 3 are the only packages that I have instal

[2017-07-04 22:46] Ionaru commented on #3819
Glad to hear it!

[2017-07-04 22:46] #3819 closed

[2017-07-04 23:27] goodwillcoding opened #3823 "Deterministric yarn global install?"
Apologies if this is the wrong forum to ask this in, but I am wondering if there has been discussion on a deterministic `yarn global install` with it's own lockfile. I am fairly new to Node so forgive if below is nonsense.

**Need**
Installing completely identical tools (and their dependencies) into global via yarn can address a number of development concerns.

**Argument for it**
Since global ins

[2017-07-04 23:54] Daniel15 commented on #2504
@rodrigoBerlochi Can you please check your path and ensure `c:\Program Files (x86)\Yarn\bin` was added to it?

[2017-07-05 02:14] fundon opened #3824 "yarn installs binaries for dependencies after a global add"
### Yarn

[code]

### Install nodemon

nodemon dependence on touch@v1.0.0 and touch overrides the system touch command

[code]

### Problem

See https://github.com/isaacs/node-touch/blob/v1.0.0/bin/touch.js#L30

[code]

[2017-07-05 02:37] crashbell opened #3825 "Cannot read property 'config' of undefined"."
Latest version: 0.27.5

**Do you want to request a *feature* or report a *bug*?**
A Bug

**What is the current behavior?**
Install dependencies with command `rm -rf node_modules && yarn`

**If the current behavior is a bug, please provide the steps to reproduce.**
The installation failed with error: node_modules/flow-bin: Cannot read property 'config' of undefined".
In the verbose mode, I got this

[2017-07-05 03:25] xks19943 opened #3826 "Can i save changes in node_modules? (我能够保存我对node_modules下的更改吗？)"
当我修改node_modules 里面的 一些东西 但是当我yarn add 或者 yarn remove一个新package的时候 会把以前修改的东西又还原？我希望它不还原我对node_modules的更改 我应该怎么做？谢谢！

When i modify some of the things in node_modules but when I yarn add or yarn remove a new package when the previously modified things will be restored?

Can i save changes in node_modules? what should i do？ Thank you！

[2017-07-05 04:21] sudo-suhas opened #3827 "tape command not working with yarn in Windows 8"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
Not able to run test using `tape`. Fails with `Error: Cannot find module 'E:\Projects\repos\autodll-webpack-plugin\-r'`

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
`npm test` also fails with the same error.

**What is the expected behavior?**
If I run `npm inst

[2017-07-05 05:14] maxdwit commented on #3816
You are right. Put the machine into the void of the internet without a
proxy and it worked. Will verify what happend there. Thank you for your
help.

2017-07-04 20:25 GMT+02:00 Daniel Lo Nigro <notifications@github.com>:

[2017-07-05 05:15] #3816 closed

[2017-07-05 05:17] Daniel15 commented on #3816
No problem, feel free to let us know if you do see any other issues with Yarn in the future 😃

Is it possible your proxy is blocking all SSL connections? Try accessing some other server that uses SSL via the proxy and see  if it works. As a workaround, you could use `http://dl.yarnpkg.com/` instead of `https`.

[2017-07-05 05:39] anudeepr28 opened #3828 "Can't able to deploy react native ios app to app store"
![screen shot 2017-07-05 at 11 07 00 am](https://user-images.githubusercontent.com/8909945/27850443-516a899e-6172-11e7-8dcd-004c07e33197.png)

[2017-07-05 06:18] imsurinder90 commented on #1747
Hi

I forked the repo and add a package.json file to it. it works:
`yarn add git+https://github.com/imsurinder90/jquery-aciTree.git`

but i need to download specific version, so i tried:
`yarn add git+https://github.com/imsurinder90/jquery-aciTree.git#4.5.0-rc.7`

this time it fails with error:
error Couldn't find manifest in `git+https://github.com/imsurinder90/jquery-aciTree.git.`

Do i suppose

[2017-07-05 07:33] matthiasg commented on #3169
At least with vue `.yarnclean` is not the issue. I don't have any and vue does not either ?

[2017-07-05 08:01] crashbell commented on #3825
The issue was gone when I ran a bunch of commands:

[code]
Maybe yarn cache folder was corrupted somehow.

[2017-07-05 08:01] #3825 closed

[2017-07-05 08:21] zer0link commented on #3530
Same error:
Windows 10
node v8.1.3
yarn v0.27.5

[2017-07-05 08:42] bingzheyuan commented on #3826
No you can't and I don't think you should do that at all.

[2017-07-05 08:46] simonkberg commented on #3645
Seems to be a dupe of this: https://github.com/yarnpkg/yarn/issues/2611

[2017-07-05 10:01] you-fail-me commented on #3638
Turned out it was `rn-nodeify` to mess up the project. Will continue investigating with them, closing.

[2017-07-05 10:03] binarykitchen opened #3830 "Each time I try to publish it says I am not logged in??"
Happens on yarn v0.27.5 - each time I run a release procedure which has this command

$ yarn publish --new-version $VERSION

it prints following error

[code]

I don't understand. Why does it say I have to be logged in when that bash script just ran `yarn login` successfully before?

For reference, this is the release script I am using
https://github.com/binarykitchen/videomail-client/blob/develop

[2017-07-05 11:19] BYK commented on #3751
I think we should keep this high-prio and fix the underlying issue in 1.0

[2017-07-05 11:26] BYK commented on #3827
Looks like the bin definition from `faucet` overwrites the bin definition from your newer tape requirement from `devDependencies`. @bestander I remember you working on link creation recently (cc @arcanis if my memory is at fault). Any idea if we fixed this on master or not?

[2017-07-05 11:50] BYK commented on #3693
@bestander - I think we can close this issue now? Since Node 4 is an LTS and will be maintained until April 2018, I'd say we should support it. At least until 1.0 is out. I think the polyfill is a bit heavy handed and now CI should catch the issues so no further action needed?

[2017-07-05 12:29] Hanastaroth opened #3831 "Yarn publish does not work anymore"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I've just upgraded yarn from v0.25.3 to v0.27.5 and the `yarn publish` command does not work anymore.
The error message is the following: `You must be logged in to publish packages`.

Here is a verbose log of a publish attempt:
[code]
[yarn-error.log.txt](https://github.com/yarnpkg/yarn/files/1124590/y

[2017-07-05 12:33] BYK commented on #3830
Merging into #3831. Sorry about the trouble :(

[2017-07-05 12:33] #3830 closed

[2017-07-05 12:33] BYK commented on #3831
/cc @binarykitchen

[2017-07-05 12:35] BYK commented on #3828
Are you sure this is related to yarn?

If so, can you please provide more details about your project, package.json file and other details such as your yarn and node versions etc.

[2017-07-05 12:37] BYK commented on #3826
Hi @xks19943, the purpose of yarn is to create and maintain your `node_modules` folder based on your `package.json` and `yarn.lock` files. So any manual changes in your `node_modules` folder are likely to disappear when you run a `yarn` command.

I'm closing this since this is not a bug nor a feature request. I'd suggest you to ask your question on StackOverflow to get alternative approaches to yo

[2017-07-05 12:37] #3826 closed

[2017-07-05 12:40] BYK commented on #3824
I'm not sure if `yarn` is at fault here. If there's a module named `rm` with a binary, named `rm` and if you install it globally, it would override the native `rm` command too.

This seems more like an issue with the package and global installation. What do you think @fundon?

[2017-07-05 12:43] BYK commented on #3823
Hey @goodwillcoding!

This looks like a feature request but not so clearly defined. I'd encourage you to have a look at https://github.com/yarnpkg/rfcs/blob/master/README.md and try submitting a refined RFC for this.

That said, I personally don't think this would be accepted nor a great idea. If I had a similar problem (I actually did :D), I'd collect those general tools in a common package/repo

[2017-07-05 12:45] BYK commented on #3822
@EvNaverniouk would you mind providing more specific and isolated reproduction steps since right now this seems a bit hard to replicate and verify. That would also help you narrow down the issue to yarn (or not).

[2017-07-05 12:50] BYK commented on #3818
I think this makes a lot of sense. @bestander @arcanis @kittens objections?

I looked at the code and there doesn't seem to be anything that depends on a `-v` flag.

[2017-07-05 12:55] BYK commented on #3821
@bestander @arcanis I think this is the way to go. What do you think?

[2017-07-05 12:57] BYK commented on #3817
I think this is a bug. Are you willing to submit a PR? :)

[2017-07-05 12:59] BYK commented on #3815
Hi @jesstelford  - Can you provide a package.json or a small test repo/gist so we can reliably reproduce this.

[2017-07-05 13:00] BYK commented on #3812
I think #3792 would solve this. What do you think @domoritz and @jleclanche?

[2017-07-05 13:06] BYK commented on #3765
@bestander @arcanis I think we're good to close this one?

[2017-07-05 13:09] arcanis commented on #3824
I think the issue is that they installed `nodemon` globally which in turn installed `node-touch`. Since they didn't explicitely installed `node-touch` globally, it probably should override the native `touch` command.

[2017-07-05 13:10] BYK commented on #3524
I'll look into console reporter to see how hard this is to fix. Aiming for the 1.0 release for now.

[2017-07-05 13:12] BYK commented on #3028
@georgesben - Is this still happening with `yarn` 0.27.5?

[2017-07-05 13:14] BYK commented on #2385
@raybooysen can you verify this is solved in yarn 0.27?

If I don't hear back in a few days I'm just gonna assume this is fixed and close the issue. Feel free to reopen if you see my message afterwards and the issue persists.

[2017-07-05 13:41] arcanis commented on #3765
Not until we merge https://github.com/yarnpkg/yarn/pull/3774 into master - right now it has only been cherry-picked into 0.27. Currently have a few things on my plate, so it will take a few days.

[2017-07-05 13:57] georgesben commented on #3028
Yes, this is still happing with yarn 0.27.5 (and `npm install` works). Sorry ^^'

Maybe this is a problem with my computer and not with yarn ?

[2017-07-05 14:01] BYK commented on #3028
@georgesben no need to apologize! We've just shipped a few updates with 0.27 that might have resolved this issue, that's why I asked again.

You've just confirmed that I still need to debug but eliminated a possible cause so thanks!

[2017-07-05 14:04] BYK commented on #3824
@arcanis good point. I'll try to look into this.

[2017-07-05 14:56] bilby91 commented on #2014
I have a similar problem, after cache is restored, some packages are missing. I don't have the problem locally and I didn't have the problem before with Circle. I'm using this [docs](https://circleci.com/docs/1.0/yarn/)

[2017-07-05 15:07] Ionaru commented on #3817
Willing, yes. Able, no.

I'm not familiar with the working and codebase of yarn, I did spent a few hours trying to work something out but I couldn't find a way to implement it without breaking the saving of git URLs and version patterns in the package.json file.

[2017-07-05 15:12] uhoh-itsmaciek commented on #3801
As another data point, 0.24.6 works correctly for me, and 0.25.4 breaks (it means our yarn script uses the wrong eslint version and breaks our linting).

[2017-07-05 15:49] EvNaverniouk commented on #3822
Seems there are indeed some special conditions that need to be setup to be able to reproduce this. The 2 things of note are:

- You need to run `yarn outdated` via a Node script via `child_process.exec()`. Running via command line regularly works fine.
- You need to have a Github URL package in your `package.json` (eg. `"ginman86/jsonlint"`). Regular versioned packages work fine.

I have created a

[2017-07-05 16:26] gatimus commented on #3700
I just re-updated everything and made a simple test project and its now working for me.

node -v
`v8.1.3`

yarn --version
`0.27.5`

package.json
[code]

.npmrc
[code]

.yarnrc
[code]

yarn install
[code]

@rossgardt any luck?

[2017-07-05 16:26] #3700 closed

[2017-07-05 16:39] JesterXL commented on #841
I tried `yarn config set strict-ssl false`, but now am getting "404 Not Found". Mac Sierra, Node 8.1.2, yarn 0.27.5.

[2017-07-05 16:58] zackschuster commented on #3813
@bestander since you added the private registries label, i should note this is affecting a public scoped package on the npm registry, not a private one.

[2017-07-05 17:11] gatimus opened #3833 "`406 Not Acceptable` when npm succeeds"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`yarn add http://prerelease.componentone.com/wijmo5/npm-images/C1Wijmo-Enterprise-Eval-System-5.20172.328.tgz`
results in
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn add http://prerelease.componentone.com/wijmo5/npm-images/C1Wijmo-Enterprise-Eval-System-5.

[2017-07-05 18:10] moriczgergo opened #3834 "--python argument doesn't get passed to node-gyp"
**Do you want to request a *feature* or report a *bug*?**
Reporting a bug.

**What is the current behavior?**
The `--python` argument doesn't get passed to `node-gyp`.

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn add erlpack` with Python 3.x.x in path.

**What is the expected behavior?**
`--python` argument gets passed and `node-gyp` uses the executable defin

[2017-07-05 19:05] bestander commented on #2611
As reported in #1214 (comment)

I'm getting this issue on version 0.24.5.
I have some packages that i developed and they are not published on any server, they are just linked.
My projects uses this linked packages and some published packages like express or bluebird.
when I try to run "yarn" to install all or a specific package it returns the error:

error Couldn't find package "package-name" on t

[2017-07-05 19:05] bestander commented on #3645
https://github.com/yarnpkg/yarn/issues/2611

[2017-07-05 19:05] #3645 closed

[2017-07-05 19:15] bestander commented on #3827
Yep, package-linker.js->determineTopLevelBinLinks should have a run through top level patterns first.
https://github.com/yarnpkg/yarn/issues/3801 related

[2017-07-05 19:17] bestander commented on #3693
Up to you, @BYK.
The issue is at least mitigated.
Personally I'd like to be able to use .includes in the code one way or the other.

[2017-07-05 19:17] #3693 closed

[2017-07-05 19:23] bestander commented on #3818
This was raised many times, see this discussion https://github.com/yarnpkg/yarn/pull/3395.

v/V is ambiguous and everyone has an opinion what should they mean depending on their background.

We ended up on agreeing that there should be no shorthands at all and use `--verbose` and `--version`.

At the same time `install` is a default command of yarn so `yarn -v` and `yarn -V` should run install dis

[2017-07-05 19:24] bestander commented on #3818
I think this can be closed, @BYK up to you

[2017-07-05 20:12] bestander commented on #3813
we use the same level related to scoped and private packages, but thanks for clarifying

[2017-07-05 20:50] Ionaru commented on #3818
I'd disagree and argue Yarn should stay as close to the Node/NPM command style as possible, but it looks like the decision has been make. In my opinion `-v` is an essential shorthand command

[2017-07-05 20:53] bestander commented on #3818
Not a decision, more like a status quo.
I like `node/npm -v` myself but unix fanboys don't.

On 5 July 2017 at 13:50, Jeroen Akkerman <notifications@github.com> wrote:

[2017-07-05 20:53] craigjennings11 commented on #3773
Ran into this when I upgraded from 0.26.1 to 0.27.0

![image](https://user-images.githubusercontent.com/1683368/27884184-f8b1f0ea-6198-11e7-8bd6-f113211e296b.png)

My hunch is that this release [comment](https://github.com/yarnpkg/yarn/releases/tag/v0.27.0) has something to do with it

[2017-07-05 21:50] bestander commented on #1747
@imsurinder90 `--ignore-manifest` won't help you, this is not related to the feature you are looking for.

https://github.com/yarnpkg/yarn/pull/3624 - here was added capability to add git dependencies without package.json in yarn@0.27.
But I think it is not working end to end yet.

As for `yarn add git+https://github.com/imsurinder90/jquery-aciTree.git#4.5.0-rc.7`, `#4.5.0-rc.7` part is a tag and

[2017-07-05 22:08] Daniel15 commented on #3833
It'd be worth trying this out with a debugging proxy to see what the difference between npm and Yarn is. It's possible the server is discriminating based on User-Agent and blocking Yarn for some reason.

[2017-07-05 22:14] CrabDude commented on #3781
For posterity, this was exacerbated by a previous issues (seemingly fixed) that purged build artifacts, which caused previous failures (now fixed) to not get fixed since the dependency in question was cached and unchanged. (CAVEAT I think)

[2017-07-05 22:25] bfricka commented on #541
Hey there! It's been awhile, and since you're busy, I thought I'd make this as painless as possible.

Check out this [shrinkpack tar proof of concept](https://github.com/bfricka/shrinkpack-tar-poc)

[2017-07-05 22:42] gatimus commented on #3833
I can't seem to get Fiddler to proxy `npm` but here are the results of the yarn attempt.

Request
[code]

Response
[code]

[2017-07-05 22:46] Daniel15 commented on #3833
Looks like it's the `Accept: application/octet-stream` header that's doing it. It works fine if I remove that header, or if I change it to `Accept: application/octet-stream, application/x-tar`. It'd be worth seeing what npm is sending for the `Accept` header.

[2017-07-05 22:48] bestander commented on #541
This seems like a reasonable idea after all.

So how would it work?
1. (if file is missing in offline mirror) download tar.gz from registry
2. unzip and copy tar file to offline mirror
3. unpack tar to cache
4. if prune-offline-mirror is enabled and a tarball of a package was added to offline mirror and a another version was removed then register add/remove with `git/hg mv`

Results:
A. Potential

[2017-07-05 22:50] #3306 closed

[2017-07-05 23:40] binarykitchen commented on #3831
Ugh, thanks but how could this happen? This is a very important function and got broken. Questioning your test coverage here ... @BYK

[2017-07-05 23:49] gatimus commented on #3833
I agree it'd be worth seeing what npm sets for the `Accept` header but I'm having trouble getting FIddler to debug npm traffic currently.

I did some searching and it seems there are many MIME types for tarballs so the request header could be along the lines of `Accept: application/octet-stream, application/gzip, application/x-gzip, application/x-gtar, application/x-tgz, application/tar, applicati

[2017-07-06 00:27] Daniel15 commented on #3833
@bestander Do you know why we even have an `Accept: application/octet-stream` header? I don't think we really need to discriminate based on content-type. We might be able to just remove that header altogether.

[2017-07-06 00:32] bestander commented on #3833
Nope, that dates before Sep 2016 https://github.com/yarnpkg/yarn/commit/5300b482c851e2578ac1f3aa4908be4d0289dca8

[2017-07-06 01:12] jonleung commented on #629
Is anyone still experiencing this issue? I think I might be but need to really check all the nitty gritty details before I report that I am.

[2017-07-06 01:16] xks19943 commented on #3826
@BYK  Ok thank you

[2017-07-06 01:35] fundon commented on #3824
@BYK , As @arcanis says, those dependencies should not be global installation and override the native commands.

[2017-07-06 02:09] aimergenge commented on #743
Is there any solution now?
I has been waiting for this to fix since a long time ago.

[2017-07-06 02:10] bestander commented on #1496
This is a duplicate of https://github.com/yarnpkg/yarn/issues/990, there is a comparison chart and seems like latest versions of Yarn made some good progress there.
If it is still a problem please file a new issue with repro steps and a comparison with latest npm

[2017-07-06 02:10] #1496 closed

[2017-07-06 02:13] bestander commented on #2054
Thanks for the repro steps.
Indeed Yarn did some optimization on a second yarn install.
This should be fixed in yarn@0.27

[2017-07-06 02:13] #2054 closed

[2017-07-06 02:14] bestander commented on #1931
Go ahead, send a PR

[2017-07-06 02:17] bestander commented on #2489
Please confirm if it is fixed in yarn@0.23+
https://github.com/yarnpkg/yarn/pull/2811

[2017-07-06 02:17] #2489 closed

[2017-07-06 02:19] bestander commented on #2564
Discussion here https://github.com/yarnpkg/yarn/issues/3738

[2017-07-06 02:19] #2564 closed

[2017-07-06 02:20] bestander commented on #2615
merging https://github.com/yarnpkg/yarn/issues/2987

[2017-07-06 02:20] #2615 closed

[2017-07-06 02:22] bestander commented on #2929
Fixed in 0.27

[2017-07-06 02:22] #2929 closed

[2017-07-06 02:23] bestander commented on #2987
merging into https://github.com/yarnpkg/yarn/issues/2666

[2017-07-06 02:23] #2987 closed

[2017-07-06 02:26] bestander commented on #2680
merging into https://github.com/yarnpkg/yarn/issues/2666

[2017-07-06 02:26] #2680 closed

[2017-07-06 02:35] bestander commented on #1233
Merging into https://github.com/yarnpkg/yarn/issues/2666

[2017-07-06 02:35] #1233 closed

[2017-07-06 02:36] bestander commented on #2666
Optional deps should still be resolved and saved in lockfile but they should not be installed with this flag.
Looks like indeed Yarn checks for this flag only on top level

[2017-07-06 02:39] bestander commented on #2666
@BYK, I've reaised the priority to get it on your radar, feel free to lower as you see fits.
To others, a PR will be welcome

[2017-07-06 02:44] bestander commented on #2931
Indeed it makes sense to persist --flat, --ignore-optional etc on .yarnrc level.
Oh wait, we already have this feature https://yarnpkg.com/en/docs/yarnrc#toc-cli-args

[2017-07-06 02:44] #2931 closed

[2017-07-06 02:47] OmgImAlexis commented on #2931
@bestander this looks more like a dupe of https://github.com/yarnpkg/yarn/issues/2666

[2017-07-06 02:49] bestander commented on #2931
You are right they are related but this one raised an issue of persisting CLI arguments.

[2017-07-06 02:59] NicholasNC opened #3835 "yarn upgrade can't update the package.json file?"
I didn't understand why use `yarn upgrade` not update the  `package.json` file in the meantime？

[2017-07-06 03:23] cowwoc commented on #990
@vbfox Can you please add version numbers for `npm` and `yarn` in your benchmark?

[2017-07-06 04:06] evanw opened #3837 "regression: yarn fails to install the right version in node_modules/.bin"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

If package A requires B and C, and B requires an older version of C, then the older version will be linked into A's node_modules/.bin instead of the newer one.

**If the current behavior is a bug, please provide the steps to reproduce.**

This test case is reduced from a real issue that we're having

[2017-07-06 05:01] kzc commented on #2054
This appears to be the fix: https://github.com/yarnpkg/yarn/pull/3729

[2017-07-06 06:05] SimenB commented on #3778
This sounds ideal, and how I would expect it to work. Might be behind a flag, though, in case some transitive deps has to be in a specific version? _If_ behind a flag, I'd expect a warning printed that I can dedupe if I want to. ("warning pass `--dedupe` in order to deduplicate `left-pad`" or something like that).

Current behavior, right?

On `install` I agree it shouldn't dedupe. But that mandat

[2017-07-06 06:11] bestander commented on #3778
It should still dedupe but less aggressively, could depend on the dependencies order.

I agree with the other statements

[2017-07-06 07:37] bestander commented on #3834
duplicate https://github.com/yarnpkg/yarn/issues/3519

[2017-07-06 07:37] #3834 closed

[2017-07-06 08:45] raybooysen commented on #2385
@BYK I'm busy moving country at the moment so unlikely I'll be able to test for the next few weeks.  Happy to have it closed and test retrospectively

[2017-07-06 08:50] miukki commented on #1379
how to install only production deps ? (ignore devDep) any solution for now ?

[2017-07-06 09:23] e1himself commented on #2763
Hello,
We have a similar problem. But IMO it's more like a bug than a missing feature.

Setup

So we have a package fork as a top-level dependency.
We have a few packages that have that package as a dependency.

[code]

Expected behavior:

- yarn installs foo-bar package from a fork repository (v0.10.0)
- foo-bar-plugin package dependency is satisfied by a forked package installed on a top level

[2017-07-06 09:46] BYK commented on #2385
@raybooysen thanks for the response and good luck with the move!

I'll go ahead and close but as agreed, please feel free to reopen if you discover it is not resolved.

[2017-07-06 09:46] #2385 closed

[2017-07-06 10:03] BYK opened #3838 "Chore: create test cases for `--non-interactive` and `isCI`"
We need to add tests that checks if we honor the `--non-interactive` flag and `isCI` status. Spun off from https://github.com/yarnpkg/yarn/pull/3820#pullrequestreview-48285598

[2017-07-06 10:05] johnf commented on #3831
I'm pretty sure this commit is the problem
https://github.com/yarnpkg/yarn/commit/9c5311496ce9fe7d3e736e41397a20de7f419edb#diff-b053bee294c216269844e5874039b6caL69

When doing publish, alwaysAuth won't be true and nor in most cases is the packaged scoped.
I think the this.token not being there anymore is the issue. Since publish will set ```this.token```

[2017-07-06 10:07] BYK commented on #3831
@binarykitchen I feel the pain and agree with the importance. We are in the process of plugging all these holes. The problem with this particular scenario is us depending on a third-party to test the behavior (NPM's registry). I'll see if we can simulate it in a good way, we should definitely have tests covering this.

@johnf thanks for digging in!

[2017-07-06 10:08] BYK commented on #3831
/cc @arcanis for @johnf's comment

[2017-07-06 10:29] arcanis commented on #3831
Fixed in the PR that will be merged in 0.28, which should land early next week.

@binarykitchen The publish process is currently one of the rare untested commands, because of the extra setup required to make it work (we would need some kind of stub registry to run on the CI). We plan to work a lot on `pack` and `publish` during the next months, so testing should improve along the way 😉

[2017-07-06 10:56] BYK commented on #3817
@Ionaru - no worries. I think I've found the place so gonna submit a PR. Thanks for the help!

[2017-07-06 10:59] binarykitchen commented on #3831
good responses mates ;)

so, have you created an issue yet to improve test coverage of `publish` with stubs?

[2017-07-06 11:56] #2484 closed

[2017-07-06 11:59] aliem commented on #1059
also 0.27.5 will happily install `optionalDependencies` with the flag `--ignore-optional` down the chain of dependencies.

For me it's `serverless` => `apollo-client` => `@types/isomorphic-fetch`.

Of course it's breaking my builds due to that particular package being outdated for typescript.

[2017-07-06 12:06] BYK commented on #3818
I actually like this suggestion: https://github.com/yarnpkg/yarn/pull/3395#issuecomment-303689186

@bestander @arcanis - I think being compatible with `npm` is important, especially for 1.0. If you consider that both `node` and `npm` supports the `name -v` calls I'd rather add support for that. We can also stop printing the version at the top for each invocation with this (/cc @cpojer).

Currently

[2017-07-06 12:08] cpojer commented on #3818
Sounds good.

[2017-07-06 12:34] victornoel commented on #2763
@e1himself submit another bug report :)

[2017-07-06 13:26] pensierinmusica commented on #1952
@szarouski yep I confirm it comes back to me as well in `v0.27.5`. @arcanis @lumaxis @bestander any idea what is causing it?

relates #2507

[2017-07-06 13:30] arcanis commented on #1952
@pensierinmusica Can you try to check inside your ~/.npmrc or ~/.yarnrc file? Is there an `_auth=` key, or `_authToken=`?

[2017-07-06 13:30] #3810 closed

[2017-07-06 13:51] pensierinmusica commented on #1952
Ok, I've solved it. It looks like I had changed the password in the meantime and the `.npmrc` file was not updated accordingly. For future reference in case other users hit the same problem, you just need to run `npm login` and authenticate.

@arcanis maybe this could be suggested right there in the error message?

[2017-07-06 13:55] imsurinder90 commented on #1747
@bestander
Did you mean to clone from original repo with commit id and then add a package.json to it and push that all of code into my personal github account and then refer that repository.

It has nothing to do with forked repo?

[2017-07-06 14:13] maoueh opened #3841 "Yarn info fails with workspace-aggregator-<uuid> cannot be found on NPM registry"
**What is the current behavior?**
At workspace root:

[code]

In one of the workspace package:

[code]

**Reproduction Steps**

[code]

**What is the expected behavior?**
It should be possible to list dependencies from somewhere. Ideally, both incantation would work.

**Please mention your node.js, yarn and operating system version.**

Yarn: 0.27.5
Node.js: 7.9
OS: Mac OS X

[2017-07-06 15:16] BYK commented on #3827
Closing in favor of #3801.

[2017-07-06 15:16] #3827 closed

[2017-07-06 15:19] BYK opened #3842 "Chore: add basic tests for `yarn publish`"
Currently, `yarn publish` has no tests at all. We should at least have cursory integration tests to ensure we do the following:

 - Call the correct endpoints with correct HTTP methods
 - Send a non-empty, valid-looking payload
 - Send appropriate authentication headers

[2017-07-06 15:19] BYK commented on #3831
@binarykitchen here you go #3842.

[2017-07-06 16:41] #3817 closed

[2017-07-06 16:43] #3437 closed

[2017-07-06 16:45] BYK commented on #3822
@EvNaverniouk amazing work about reproduction steps, thank you! I'll look into this as soon as possible.

[2017-07-06 16:46] BYK commented on #3822
I don't know what may be wrong but I'd just use `git bisect` to pinpoint the diff that caused the issue.

[2017-07-06 17:27] Tin-Nguyen opened #3844 "Cannot find module 'babel-runtime/core-js/get-iterator'"
hi all,

After upgraded to the latest version of Yarn (0.27.5), we got the issue:
[code]

The process worked well on the old version of Yarn (0.24.6).

We're using node : v7.7.4, npm  : 4.1.2

The issue works well on my local (MacOS), but cannot work well in Jenkins using AWS Linux.

If someone got the same issue, please let me know if you can fix it.

Thanks

[2017-07-06 17:37] Daniel15 commented on #3822
@EvNaverniouk  Would you be able to try 0.25.x and 0.26.x and see if the issue occurs with those too? It'd be great to narrow it down to a particular version. You can find all versions in the release section: https://github.com/yarnpkg/yarn/releases

[2017-07-06 17:40] gaastonsr commented on #1503
I'm currently following @nikolakanacki model and it seems to work. I agree it can be confusing and I would prefer a `yarn install --peer` to install `dependencies`, `devDependencies` and `peerDependencies` but this works just as good to me.

[2017-07-06 18:31] bestander commented on #1747
Here is the workaround:
- create a branch from https://github.com/imsurinder90/jquery-aciTree.git#4.5.0-rc.7
- add package.json
- commit and push the new ranch
- do yarn add git+https://github.com/imsurinder90/jquery-aciTree.git#<hash of HEAD of your new branch>

[2017-07-06 18:40] bestander commented on #3818
As long as you deal with `yarn install -v` and don't make forward/backward breaking changes I don't have an opinion :)

[2017-07-06 18:41] dickeyxxx opened #3845 "TypeError: Cannot read property 'split' of undefined"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

Throws `TypeError: Cannot read property 'split' of undefined` when running: `yarn install` from within https://github.com/heroku/cli-engine. Something is going on with local packages. Trying to see if I can reproduce it outside of this project in a simpler fashion. Works fine on 0.24.6.

**If the current

[2017-07-06 18:49] dickeyxxx commented on #3845
I put together a simpler example. This has something to do with `yarn-mirror-offline-pruning true` as removing that makes it function: https://gist.github.com/dickeyxxx/dfb1f826ab80535889c6aba1d8df33d1

https://github.com/dickeyxxx/yarn-error-example

[2017-07-06 18:51] EvNaverniouk commented on #3822
@Daniel15 Looks like those versions aren't available on Homebrew. Where are the install instructions for MacOS? Not quite sure how to install directly from the release packages.

[2017-07-06 19:07] mblair commented on #3837
I think this is the same as #3801.

[2017-07-06 20:32] shdwjk commented on #2459
In the interim, I've created this wrapper script:
[code]
It will execute `yarn` in the first directory upwards that contains a `package.json` (edit `yarnbin` to point to where you have `yarn` installed).  I put this in my home dir in a directory higher in the path search order and named it `yarn` as a drop in replacement.  If starting a new repo, you can either explicitly run the real `yarn`, or `

[2017-07-06 21:01] BYK commented on #2709
Hey @eurochriskelly, sorry we missed this earlier. This is certainly a very important thing and we'll now prioritize it accordingly.

[2017-07-06 21:29] BYK commented on #2709
We may be able to use this code piece with minor changes: https://github.com/yarnpkg/yarn/blob/master/src/config.js#L573

[2017-07-06 21:31] binarykitchen commented on #3831
great, well done @BYK

[2017-07-06 22:15] jquense opened #3846 "Workspace bin files aren't linked or installed in root"
**What is the current behavior?**

When running `yarn install` in a package with workspaces, if any of the workspace packages declare a `bin` in their package.json it's ignored when hoisting dependencies

**If the current behavior is a bug, please provide the steps to reproduce.**

example repo here: https://github.com/jquense/workspaces-bin-repo

As a little aside if I used a published package na

[2017-07-07 01:04] monarajhans commented on #2522
@jleclanche Were you able to figure this out? I am stuck on the same issue.

[2017-07-07 01:14] jleclanche commented on #2522
Nope. using cwd overrides.

[2017-07-07 04:08] Volune commented on #3773
From what I understand, the issue appeared with #3627, but was somehow hidden in the code earlier.

It can be reproduced on Windows with a test on `util/execute-lifecycle-script.js`:
[code]

Looking at the code, I don't understand why we need to process and concatenate the arguments, because `child_process.spawn` can take an array of arguments.

[2017-07-07 04:16] pencilcheck commented on #1139
You mean `brew link --overwrite yarn` for the second command right?

[2017-07-07 07:53] ChristophAtAdlos opened #3849 "What does `yarn unlink package` do? Strange messages..."
**Do you want to request a *feature* or report a *bug*?**
A bug report?

**What is the current behavior?**
[code]

The last message will be displayed also if I did never `yarn unlink ProjectA` before.

**If the current behavior is a bug, please provide the steps to reproduce.**
See the console commands above.

**What is the expected behavior?**
 1. We can only once unlink a linked package from the

[2017-07-07 08:57] 2suyun commented on #944
anyone can tell me why?

[2017-07-07 09:06] cbrwizard commented on #3586
Just wanted to add that now this works as expected for me. I don't know what caused this (a theory is that Docker's volume prevented package.json from being updated, but I don't want to check it now)

[2017-07-07 10:26] cloakedninjas commented on #1297
This is borked for me too - only when my dependency is installed locally can I get things to work, otherwise:

[code]
[code]

[2017-07-07 10:35] rally25rs commented on #3822
@EvNaverniouk you can clone the git repo and run them directly if you want to do that. Off the top of my head, so sorry if one of these is wrong, but the steps are roughly:

* git clone {yarn url}
* cd yarn
* git fetch --tags
* git checkout tags/v0.24.6 {or whatever version}
* yarn build
* cd /projects/your-project
* node /projects/yarn/bin/yarn.js outdated

[2017-07-07 11:09] paleite commented on #1597
I'm having this exact problem with yarn ^0.27.0 (with the same library as @stoneo mentioned).

[2017-07-07 12:01] #3765 closed

[2017-07-07 13:06] Intrepidd commented on #3776
We investigated a bit with @Timpetricola and found the following:

- it's broken since b223d51f
- The offending check is https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/check.js#L291, before b223d51f the `pkg.version` would contain a "v" but not after apparently

I'm not familiar at all witht he codebase but maybe using `semver.satisfies`  instead of `!==` would fix it ?

cheers

[2017-07-07 13:26] whitecolor commented on #1508
I believe the better workaround would be to create a separate folder with needed dependency version in `package.json` and add it as file `file:` dependency to the project (using custom name needed), I believe it should work.

[2017-07-07 13:28] graingert commented on #1508
@whitecolor does that work with flat mode?

[2017-07-07 13:55] whitecolor commented on #1508
What you mean by "work"? This will install dependency in nested node_modules.

you may do in `index.js` file:

[code]

It will expose its nested `express`

[2017-07-07 13:58] pselden commented on #3801
Also, if there is one without a bin and one with, it won't even put anything in .bin.

Example:

[code]

sane depends on watch 0.10.0, which has no .bin, but watch 1.0 does. No watch command is added to node_modules/.bin

[2017-07-07 14:15] raphael22 opened #3850 "npm install -g yarn -> Cannot set property 'getDocsInfo' of undefined"
Last installation though npm lead to this error after cli usage.

[code]

**Please mention your node.js, yarn and operating system version.**
node : v6.9.4 / v6.11
yarn : tried v0.24 & v0.27.5
os : Lubuntu x64

[2017-07-07 14:16] emckay commented on #3850
I'm also having this issue on v0.24.5 and v0.27.5 on Ubuntu 16.04 with node 6.10.3

[2017-07-07 14:18] eluleci commented on #3850
Me too while creating Docker image from node:6.9.5-alpine .

[2017-07-07 14:19] talldan commented on #3850
We've also just started experiencing this out of the blue:

Node v6.10.3
Yarn: 0.27.5
Ubuntu (not sure on the version, it's a CI server)

[2017-07-07 14:19] yoyo837 opened #3851 "TypeError: Cannot set property 'getDocsInfo' of undefined"
**Do you want to request a *feature* or report a *bug*?**

bug
**What is the current behavior?**
when i upgrade yarn：npm i yarn@0.27.5 -g and run yarn first，it reply :TypeError: Cannot set property 'getDocsInfo' of undefined。
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system ver

[2017-07-07 14:22] yoyo837 commented on #3851
Every time reply this error, actually.

[2017-07-07 14:22] ot-juan-davila commented on #3850
same issue
Node v6.9.5
Yarn: 0.27.5
windows 10

[2017-07-07 14:22] ralt commented on #3851
Yeah, same here. All our builds are failing because of this error. 3 other people working on different projects are also getting this.

[2017-07-07 14:23] igeligel commented on #3851
Can report this too.

[2017-07-07 14:23] yoyo837 commented on #3851
I can't work, because yarn can't execute run dev, it's frustrating.

[2017-07-07 14:24] jdbevan commented on #3850
I got the same on:
Node v6.11.0
Yarn 0.27.5 / 0.27.3
macOS Sierra 10.12.5

and

Node v8.1.3
Yarn 0.27.5
macOS Sierra 10.12.5

[2017-07-07 14:25] jdbevan commented on #3851
This is a duplicate of https://github.com/yarnpkg/yarn/issues/3850

[2017-07-07 14:25] paulmillr commented on #3851
Drop yarn folks, no reason to use it with npm v5.

[2017-07-07 14:25] yakke commented on #3851
just updated the ubuntu package and having same issue as reported above. Also our builds using the npm's version are failing

[2017-07-07 14:27] hbeachey commented on #3851
It's because the package `node-emoji` updated with a new dependency of `lodash.toArray`

[2017-07-07 14:36] AChusuei commented on #3851
[code]

[2017-07-07 14:37] christoph-daehne commented on #3850
Got the same on
Node v6.3.1, v8.1.2
Yarn >= 0.24.0
macOS and Docker Image node:6.3.1

[2017-07-07 14:38] niieani commented on #3850
Workaround: `npm install -g node-emoji@1.4.3`

[2017-07-07 14:39] niieani commented on #3851
Workaround: `npm install -g node-emoji@1.4.3`

[2017-07-07 14:39] raphael22 commented on #3850
@niieani Same error with node-emoji in global.

[2017-07-07 14:41] omnidan commented on #3851
I released `1.6.1` reverting the changes in `1.6.0` - yarn should work again now.

We needed to use lodash toArray because it has a special behavior with emoji that other solutions didn't have.

[2017-07-07 14:42] mateuszdargacz commented on #3851
The issue is that the third `key` value when iterating  over `(_aliases || _load_aliases()).default` is `getKeyByValue`

[2017-07-07 14:43] omnidan commented on #3851
I'm still not sure why the new dependency would've broken yarn (the release works fine), but let me know if anyone finds out something!

[2017-07-07 14:44] AChusuei commented on #3850
I think it's fixed.

[2017-07-07 14:45] raphael22 commented on #3851
Got the same issue after ```npm install -g node-emoji@1.6.1```

[2017-07-07 14:45] jdbevan commented on #3851
@omnidan It's because this was a patch release, which yarn permits in its package.json

Anyone installing yarn via npm would get your latest patch

[2017-07-07 14:46] eluleci commented on #3850
Yes, it is working now.

[2017-07-07 14:46] rapha8l opened #3852 "Yarn fails to launch on debian"
Hi,

I've just installed yarn on Debian testing, with npm install -g yarn (yarn@0.27.5)
 npm -v 3.10.10
node -v v6.11.0 (from deb.nodesource.com)
And that's what I get when lauching yarn

 yarn
/usr/lib/node_modules/yarn/lib/cli/commands/index.js:322
  commands[key].getDocsInfo = getDocsInfo(key);
                            ^

TypeError: Cannot set property 'getDocsInfo' of undefined
    at Objec

[2017-07-07 14:46] bazyli-brzoska commented on #3851
Yarn should lock its dependencies to patch or strict versions. `^` is way to permissive.

[2017-07-07 14:47] cubikdavid commented on #3851
This will fix it - https://github.com/omnidan/node-emoji/pull/46

[2017-07-07 14:47] jdbevan commented on #3852
This is a duplicate of https://github.com/yarnpkg/yarn/issues/3851

[2017-07-07 14:48] omnidan commented on #3851
@jdbevan it was a minor release (from `1.5` to `1.6`) - the "fix" (reverting all changes from 1.6 in 1.6.1) was a patch release

[2017-07-07 14:49] raphael22 commented on #3851
Last ```npm install -g yarn``` successful !

[2017-07-07 14:49] raphael22 commented on #3850
Last ```npm install -g yarn``` successful !

[2017-07-07 14:49] duncanfinney commented on #3850
Works for me! Fixed.

[2017-07-07 14:50] ripexz commented on #3851
Yep, all working again since the reverts, even CI builds

[2017-07-07 14:51] omnidan commented on #3851
@raphael22 glad to know that fixed it! Next time I make a release I'll try and see if yarn still works 😅

[2017-07-07 14:52] jdbevan opened #3853 "To avoid breaking the internet, use strong dependency versioning"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When installing yarn via npm (which I know is not the official way but is still in significant usage) the install can break if a dependency releases a patch or minor change. See https://github.com/yarnpkg/yarn/issues/3850, https://github.com/yarnpkg/yarn/issues/3851 and https://github.com/omnidan/node-

[2017-07-07 14:57] yoyo837 commented on #3852
This is a duplicate of #3851 and #3850

[2017-07-07 14:58] jdbevan commented on #3851
@omnidan thanks for the correction!

[2017-07-07 14:59] ot-juan-davila commented on #3850
working after uninstall and reinstall

[2017-07-07 15:00] MikeN123 commented on #3853
Yarn 0.21.3 broke as well, with a different error.

[2017-07-07 15:04] hbeachey commented on #3853
Any version (we had all the way back to 0.16.1) which depend on the updating package breaks. Not sure previous versions really need the fix, but it's something to mention.

[2017-07-07 15:07] saravvij commented on #746
I am keep getting this error. I have tried at my work, and home network, but no luck.

**Environment: Windows 7, yarn 0.27.5, node v7.7.2**
[code]

Any solution to this problem?

[2017-07-07 15:09] JTWalraven commented on #3851
Thank you for the correction!!!

[2017-07-07 15:20] dsslimshaddy commented on #3831
Not working still

[2017-07-07 15:30] rapha8l commented on #3852
sorry, I close

[2017-07-07 15:30] #3852 closed

[2017-07-07 15:32] #3213 closed

[2017-07-07 15:40] arcanis commented on #3831
Well yeah, we haven't made a release yet ;) Should come early next week.

[2017-07-07 16:46] MystK commented on #944
It's an issue with our network adapter I believe. It can't handle all the connections yarn is making.

________________________________
From: 2suyun <notifications@github.com>
Sent: Friday, July 7, 2017 1:57 AM
To: yarnpkg/yarn
Cc: Antoine Pham; Mention
Subject: Re: [yarnpkg/yarn] ETIMEOUT 104.16.59.173:443 (#944)

anyone can tell me why?

—
You are receiving this because you were mentioned.
Reply

[2017-07-07 16:47] lirantal commented on #3822
I can confirm the above steps as I'm using the same to test local tweaks to yarn as a development branch.

[2017-07-07 17:09] monarajhans commented on #2522
Hey @jleclanche, I think my issues were because $(yarn bin) was not in the path when invoking scripts in package.json. I fixed this by doing the following:

#client/package.json
"scripts": {
   "postinstall": "echo \"Postinstall running - client/package.json\"",

#config/deploy/feature.rb (this should be production.rb if you are trying to deploy it to production environment)
set :yarn_flags, '--pr

[2017-07-07 17:40] bestander commented on #3850
merging into https://github.com/yarnpkg/yarn/issues/3853

[2017-07-07 17:40] #3850 closed

[2017-07-07 17:41] bestander commented on #3853
As described here https://github.com/yarnpkg/yarn/pull/3854#issuecomment-313746862.

We need to publish only the single-file-build yarn.js to npm.
Looking forward for a PR

[2017-07-07 17:42] Daniel15 commented on #3853
Publishing the `dist` directory after running `scripts/build-dist.sh` should be sufficient, we'd just need to have a modified `package.json` that removes all dependencies (since we'd no longer need any of the dependencies).

[2017-07-07 17:46] Daniel15 commented on #3851
I'm going to close this out since the package has been fixed, and the long-term fix is tracked in #3853

@bazyli-brzoska  That would work in some cases, but won't fully help. Even if Yarn has strict versions, packages that Yarn depends on may not. The ideal fix for us is to publish the single JS file build, which is what we do for all other distribution methods (tarball, Debian package, RPM packag

[2017-07-07 17:46] #3851 closed

[2017-07-07 17:46] bestander commented on #3586
Thanks for a follow-up, @cbrwizard

[2017-07-07 18:01] imsurinder90 commented on #1747
@bestander 👍
Thanks for the perfect solution :)

[2017-07-07 18:03] bestander commented on #3776
Thanks, @Intrepidd and @TimPetricola.
I see the strict check `pkg.version !== packageJson.version` was there before but maybe something else moved.

I would suggest calling `semver.clean` on the version from package.json.
Would you guys send a PR please?

[2017-07-07 18:05] #2849 closed

[2017-07-07 18:12] bestander commented on #1297
I think we are talking about different issues here.

@fugufish, do I understand it right that you `yarn link project-b` and also have a `project-b` in package.json?
I think Yarn may not work with linking and depending at the same time, it's probably a separate bug.
For a workaround you can try `"project-b": "link:./path/to/project-b"`, it will create a symlink when you run `yarn install`.

[2017-07-07 18:13] bestander commented on #1297
@cloakedninjas, yarn would not run install on linked project, this is expected behavior.
Workspaces feature should address this, it is still experimental

[2017-07-07 18:31] josiahruddell commented on #2786
0.27 does fix the hanging issue, however the publish is throwing an exception. The publish appears to have succeeded while the client failed afterward.

[code]

[2017-07-07 18:33] jquense commented on #2238
Same issue with `0.27.5` just today

[2017-07-07 18:51] dmbdesignpdx commented on #3738
I'm having somewhat of a similar situation as described by @gaearon: I'm getting warnings on dependencies that themselves use older dependencies and I guess they just haven't upgraded?

When I run `yarn upgrade` I get this at the start:

[code]
But when I look at the list that follows, those dependencies are up-to-date.

I agree with @gaearon, seeing a **warning** is a bit scary especially to me s

[2017-07-07 18:55] wtgtybhertgeghgtwtg commented on #3738
Using unsafe dependencies should give a warning, though.

[2017-07-07 18:56] jhabdas commented on #3738
Why are we talking about _scary_. This is software development, not kindergarten.

[2017-07-07 21:08] dmbdesignpdx commented on #3738
@wtgtybhertgeghgtwtg  What throws me is that the warning asks _me_ to update something that I can't update. Even though, in this case, I'm not the one using the unsafe dependency (I think Glob is), I do see your point and agree it should be a warning; but I think it can be worded to be more informative. Something as simple as "[dependency_A] is using an outdated [dependency_B]"—I'll know right off

[2017-07-07 21:09] bestander commented on #3738
Good idea to improve the message first, send a PR

On 7 July 2017 at 14:08, Daniel Blake <notifications@github.com> wrote:

[2017-07-07 21:15] jhabdas commented on #3738
If you're using a dependency you most certainly own it and everything it pulls in, and have the ability to fork and improve whatever comes with it. If it bothers you perhaps it's not worth using.

[2017-07-07 21:42] wtgtybhertgeghgtwtg commented on #3738
While I would argue that
[code]
tells you what you need to know, I agree that it could be worded in a way that summarizes it a bit better.

[2017-07-07 22:27] LukeTillman opened #3859 "Yarn outdated fails when workspaces enabled"
**Do you want to request a *feature* or report a *bug*?**
Bug. I didn't see anything in the existing plan for rolling out the workspaces feature that talked about the `outdated` command, so I'm going to assume this is a bug and not a "plan to support in a later stage".

**What is the current behavior?**
In a repository with the new workspaces feature enabled, `yarn outdated` always exits with the

[2017-07-08 00:35] johnf commented on #3831
This is in PR #3774 in case anyone is looking for it

[2017-07-08 00:51] gaearon commented on #3738
Can we keep this issue focused on one particular case please? I don't want this to turn into a bikeshed about all possible warnings.

I reported a specific warning where "fixing" the issue is impossible in principle, not even in the transitive dependencies. Everything works as intended.

Other cases described in this issue show legitimate problems that need to be reported and fixed by transitive d

[2017-07-08 04:11] Daniel15 commented on #3822
Download the tar.gz, extract it (`tar zvxf yarn-0.xx.xx.tar.gz`), then run `bin/yarn`

[2017-07-08 05:38] jhabdas commented on #3738
If it's related the conversation should probably go right here. Please notice the number of open issues, and that this is an enhancement request and not a bug.

[2017-07-08 16:03] pauldraper commented on #2581
I think so too. However, as others have pointed out, it was decided in https://github.com/yarnpkg/yarn/issues/570 that yarn install would by default recreate yarn.lock to match package.json. The problem is that it is inconsistent, i.e. it only works that way for half the edits.

I like using a text editor for editing source files (and package.json is truly a source file), not cat, yarn, etc.

[2017-07-08 16:17] gowthamgts commented on #3788
@pixelpax Thanks for reporting this, I'm able to reproduce this in my local environment. Working on this.

[2017-07-08 17:29] gaearon commented on #3738
Sounds good. I'll unsubscribe but I hope this discussion stays focused in the future. Thanks for participating!

[2017-07-08 17:33] gaearon commented on #2564
Note: `--ignore-optional` is not a correct solution.

In case of fsevents (most common case) ignoring it causes very slow watching solution to be used instead on OS X. The desired behavior is to *still install* it when possible but not warn if not.

I only leave this comment here for future readers who might think `--ignore-optional` is a good solution. Let's keep discussion in the other issue.

[2017-07-08 18:41] jhabdas commented on #3738
Maintainers, please close this. There's no one to follow through.

[2017-07-08 18:49] gaearon commented on #3738
@jhabdas, I appreciate your effort to get me to contribute more of my time to this issue, and pointing out that Yarn team has enough on their plate, but there is no need to keep reiterating this. This is not a very friendly behavior.

I apologize but as I already said before, I can’t really dedicate time to this issue. I trust Yarn maintainers to make the right choices in prioritization. If they t

[2017-07-08 19:35] Bnaya opened #3863 "workspaces - not linking .bin and not installing unhosited package if top level node_modules was cached"
**Do you want to request a *feature* or report a *bug*?**
bug

**Prologue**:
CI services, (In my case codeship) are caching the top level `node_modules` dir on the project
To speedup future npm/yarn installs

**What is the current behavior?**
 - On the first run on the CI, when's there's no node_modules dir, yarn will go and link the needed bins to the sub packages, install unhoisted deps, etc
 -

[2017-07-08 19:39] Bnaya commented on #3859
FYI: `yarn why` is also failing with the same error

[2017-07-09 00:57] bilby91 opened #3864 "Check like bundle check feature"
**Do you want to request a *feature* or report a *bug*?**
*feature*

I was wondering if `yarn` supports something similar to what bundler's command `bundle check` does.

[code]

Basically it will be a command that checks if the node_modules packages are installed or not. This is useful on automated scripts that check if the dependencies are correctly installed or a `yarn install` need to run.

[2017-07-09 01:06] bestander commented on #3788
@gowthamgts, that is great.
Go ahead, the list command source is here https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/list.js

[2017-07-09 04:19] pauldraper commented on #683
Is there any reason to not make `--mutex network` the default?

[2017-07-09 04:23] whitecolor commented on #683
Because sometimes it may work without it)

[2017-07-09 04:57] Daniel15 commented on #3853
https://github.com/yarnpkg/yarn/pull/3866

[2017-07-09 08:16] jhabdas commented on #3738
That's more like it. Thanks for putting in some clear thought and effort @gaearon.

[2017-07-09 08:21] SrihariThalla opened #3867 "Yarn cannot install socket.io but npm succeeds"
### **Do you want to report a *bug*?**
Yes, it's an issue and might be a bug. Thanks!

### **What is the current behavior?**
Yarn get stuck while installing `socket.io`. But it succeeds with npm!

It downloads `node-sass` and then is stuck with indefinite lines with "waiting..." stays on the screen.

[code]

### **If the current behavior is a bug, please provide the steps to reproduce.**
`yarn add

[2017-07-09 09:33] marc-guenther commented on #683
@pauldraper: Apparently, because the original authors use Yarn in a way which does not trigger this bug. Or they simply don't care. This is a serious serious bug, and I have not seen a single comment from them here so far.

As changing that default is so trivial, I will not even try to make a PR, as I guess it won't be merged. If what you wrote would be desired behavior for maintainers, they would

[2017-07-09 09:39] jhabdas commented on #3738
This is the depth of information I was hoping to draw out @gaearon. Thank you for taking the time to explain as it seems your empathy for the learner is shining and that's commendable.

I feel it's important we teach out learners to fish for themselves. And sometimes that means not shielding them from their fears but instead encouraging them to face fear head on.

In the case of an `fsevents` warn

[2017-07-09 10:21] whitecolor commented on #683
I believe everyone agrees that it is a bug, not by design decision. I'm pretty sure eventually yarn will be able to deal with concurrent installs correctly while making possible perform best.

As for "productions systems" that work automatically you can (need) always tune it, supply all flags, options, workaround bugs, etc not to worry and be happy.

[2017-07-09 10:50] jhabdas commented on #3738
@glen-84 do you care to share your opinion, or just cast your thumb around?

[2017-07-09 11:12] #3853 closed

[2017-07-09 11:20] #3530 closed

[2017-07-09 11:27] #3859 closed

[2017-07-09 11:36] #3776 closed

[2017-07-09 12:29] glen-84 commented on #3738
Sure.

* Showing a warning about something that is not actionable and does not cause any issues results in:
  * Wasted time by developers first having to find out why it's happening, and then having to ignore it each time (and ignoring warnings is a bad thing)
  * Wasted time by Yarn/npm developers, having to explain why it happens
  * [Downstream tooling errors](https://github.com/npm/npm/issues/

[2017-07-09 12:44] BYK commented on #3738
I agree that warnings that are not actionable are not useful and they can also be unnecessarily scary/noisy/<any other adjective>. Let's go with @dmbdesignpdx's suggestion as @bestander suggested?

PR's welcome.

[2017-07-09 12:45] jhabdas commented on #3738
You don't ignore it. You learn why it's happening and take action. Sometimes that will lead to another toolset or an issue in the repo addressing the root cause as suggested by @Vanuan in the related NPM issue.

It's not Yarn's responsibility to address issues from individual repositories or package managers. And NPM is not the only packager out there. And personally I'd prefer to see Yarn grow to

[2017-07-09 12:46] jhabdas commented on #3738
Welp, @BYK has spoken. Best of luck guys.

[2017-07-09 12:50] BYK commented on #3738
Removed the `cat-discusson` label since we had our discussion and now we have an actionable thing to do: make the warning more useful by stating which package depends on that other deprecated package.

@jhabdas I think we agree on the "learning" and "taking action" part. The part we seem not to agree too much is how we do it and whether it's `yarn`s duty or not. My approach for now is that the mor

[2017-07-09 12:59] BYK commented on #683
Hi folks. I feel like using `.yarnrc` with https://yarnpkg.com/en/docs/yarnrc#toc-cli-arguments would solve most of the complaints for now. What do you think?

In the mean time I'll try to understand the decision process behind this and whether it makes sense to defaulting to a `--mutex` value.

[2017-07-09 13:06] glen-84 commented on #3738
What action should we take?

It is Yarn and npm developers who will see repeatedly reported issues regarding this matter, and will have to spend time with unnecessary issue triage instead of working on new features and bug fixes.

It's all we have right now, and if you disagree with these changes, then your down-vote on the issue would help the maintainers with their decision making.

[2017-07-09 13:19] BYK opened #3869 "Enhancement: make deprecated sub-package warnings more informative"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently, when installing a package (`p1`) that depends on a deprecated package (`p2`), `yarn` just says version X of `p2` is deprecated in a warning.

**What is the expected behavior?**
The desired behavior is to tell the user what exactly uses the deprecated version of `p2` and possibly offer an

[2017-07-09 13:19] BYK commented on #3738
Okay @glen-84 kindly reminded me that the original issue was not about sub dependencies and the informative messages but simply not warning about a package that cannot be installed on a specific platform.

So now the action for this specific ticket is to simply lower it from a warning to info or debug since it doesn't add value. Objections? Moved the other part to #3869.

[2017-07-09 13:37] whitecolor commented on #683
@BYK If this drawn your attention, why not solve the problem with concurrent usage of cache?

[2017-07-09 13:38] BYK commented on #683
@whitecolor that's also something we can look into. I'd rather stop the immediate bleeding first.

[2017-07-09 14:59] DanBuild opened #3870 "Error releasing v0.28.0"
An error was encountered while processing the AppVeyor release build of v0.28.0:

[code]

Re-running the build on AppVeyor might fix it. [Click "Re-build Commit" on this page to trigger a rebuild](https://ci.appveyor.com/project/kittens/yarn/build/2993)

Full logs: https://release.yarnpkg.com/log/release_appveyor

cc @Daniel15 @arcanis

[2017-07-09 15:03] arcanis commented on #3870
That's weird, the job isn't yet finished :[

![image](https://user-images.githubusercontent.com/1037931/27995073-2442fa90-64c0-11e7-9b46-2151ec28369f.png)

[2017-07-09 16:05] DanBuild opened #3871 "Error releasing v0.28.0"
An error was encountered while processing the AppVeyor release build of v0.28.0:

[code]

Re-running the build on AppVeyor might fix it. [Click "Re-build Commit" on this page to trigger a rebuild](https://ci.appveyor.com/project/kittens/yarn/build/2994)

Full logs: https://release.yarnpkg.com/log/release_appveyor

cc @Daniel15 @arcanis

[2017-07-09 16:10] arcanis commented on #3871
Actual error:

[code]

[2017-07-09 18:30] Daniel15 commented on #3870
Hmm, I might have messed up some of the logic when I refactored the web
hooks to report errors as Github issues.

Sent from my phone.

On Jul 9, 2017 8:03 AM, "Maël Nison" <notifications@github.com> wrote:

[2017-07-09 18:36] Daniel15 commented on #3871
That error is from over a month ago :P

Let's follow up in #3870

[2017-07-09 18:36] #3871 closed

[2017-07-09 19:04] Daniel15 commented on #3870
Fixed it.

[2017-07-09 19:04] #3870 closed

[2017-07-09 19:33] gardner commented on #1136
I just wanted to say how impressed I am with yarn's performance and adoption by the community shows that everybody appreciates the changes. Thanks for making it.

Building new habits takes work. Working in a dynamic and sometimes fragmented ecosystem of forks and releases with breaking changes can be really tough just to keep up with the latest. I find a lot of value in tools that don't require me

[2017-07-09 19:42] paxperscientiam commented on #1458
I would also like to echo that I've had success with `yarn interactive-upgrade` whereas `yarn upgrade --latest` has not worked for me.
Using yarn v0.24.6 with node v7.10.0.

[2017-07-09 22:31] timfish commented on #3801
Our CI builds started failing only on linux because of this as our provider updated yarn to v0.27.5.
This repo reproduces the issue: https://github.com/timfish/yarn-test

Running `yarn build:html` used to work and now it fails as the version of `html-minifier` in `.bin` is an older version which is a dependency of `aurelia-bunder`.

[2017-07-10 00:32] kaylieEB commented on #3801
I have a working PR to fix this issue here https://github.com/yarnpkg/yarn/pull/3877

[2017-07-10 01:55] Daniel15 commented on #770
This was fixed a long time ago. Tarballs are now only built via CI using GNU tar and thus don't have this issue.

[2017-07-10 01:55] #770 closed

[2017-07-10 01:56] Daniel15 commented on #1407
This was fixed.

[2017-07-10 01:56] #1407 closed

[2017-07-10 02:59] Hal-pan opened #3878 "install phantomjs-prebuilt too long"
yarn :0.27.5
node: 8.1.3
npm:5.1.0
macOS:10.12.5
**Do you want to request a *feature* or report a *bug*?**

bug
**What is the current behavior?**

info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...
[-/2] ⡀ waiting...
[2/2] ⡀ phantomjs-prebuilt: Receiving...
[-/2] ⡀ waiting...
[-/2] ⡀ waiting...
[-/2] ⡀ waiti

[2017-07-10 05:14] Daniel15 opened #3879 "Publish lockfile parser as separate npm package"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Yarn lockfile parser is not available as a separate package

**What is the expected behavior?**
Yarn lockfile parser should be published (eg. as `@yarnpkg/lockfile` or something similar) so that people can use it in their own apps. Also see #3397

[2017-07-10 08:42] stelf commented on #1214
I believe this issue is not solved in v0.27.5. node here is 6.11 and npm 5.04.

Steps:
1. yarn link / npm link module A (a symlink goes into the local $PREFIX/lib/node_modules/)
2. chdir into module B's dir
3. yarn link A (a symlink to A goes into B/node_modules)
3. yarn install => complains about versions from npmjs.com, rather than just using the local one

[2017-07-10 08:58] whitecolor commented on #1214
@stelf yarn takes into account what is in your package.json to keep consistency. So it actually doesn't take into account that you linked the module, there is `link:` dependencies in yarn, but it is more for linking local deps in monorepo. For working with external modules I successfully use [`yalc`](https://github.com/whitecolor/yalc)

[2017-07-10 09:44] jhabdas commented on #3869
Upvoted as this issue seems it would benefit security beyond introspecting packages using CLI commands. I've been using Snyk over the last 2 years to monitor the [security of dependencies](https://snyk.io/test/github/jhabdas/react-native-webpack-starter-kit) used in the [React Native Starter Kit](https://github.com/jhabdas/react-native-webpack-starter-kit), which has been deprecated for more than

[2017-07-10 09:48] arcanis commented on #3878
PhantomJS downloads itself, Yarn is not involved into fetching these binaries.

[2017-07-10 09:48] #3878 closed

[2017-07-10 09:51] arcanis commented on #3867
Hey @SrihariThalla!

Small remark, `node-sass` (a CSS-like language) isn't related to `socket.io` (a networking library).

Anyway, the line you've quoted (`Downloading binary ...`) is printed by node-sass itself, when it downloads its own binaries from github. If this command hangs, Yarn itself is not responsible, your network probably is.

[2017-07-10 09:51] #3867 closed

[2017-07-10 10:26] smeijer commented on #853
@theinterned
- run tests
- apply hacks

The last one sounds dirty, but take `materializecss` for example. They have a dependency that is incorrectly positioned in my version, I use the postinstall to fix this dependency and copy a file (`picker.js`) back into the correct folder.

There are valid scenarios for a `postinstall` hook. Some ideas:

- fix system rights
- cleanup cache
- (re)store databa

[2017-07-10 10:33] formatlos opened #3880 "can't install/add from private github repository anymore [v0.27.5]"
I recently upgraded to yarn v0.27.5 (from 0.24.5) and installing from private github repositories via git+ssh doesn't work anymore. It's working fine in v0.24.5 and npm.

node: v8.0.0
npm: v5.0.0
yarn: v0.27.5
os: macOS 10.12.5

[2017-07-10 10:56] BYK commented on #3880
@formatlos We can really use more details for reproduction steps and the error you are getting.

[2017-07-10 11:04] BYK commented on #3879
@Daniel15 @arcanis I think we should include this in 1.0 plans if possible since it would be even harder to undo #3397 after 1.0 (breaking change)

[2017-07-10 11:04] formatlos commented on #3880
when trying to add a private github repository
[code]

I get a permission denied error:
[code]

Installing the same repository with yarn v0.24.5, npm or git directly works as expected..

[2017-07-10 11:18] SrihariThalla commented on #3867
Hi, @arcanis!

Yes, I've tried multiple times for the past few days and the installation hangs right after this download!

I'll post the issue on `socket.io` and will try to get more info about it.

Thanks for the help!

[2017-07-10 11:36] BYK commented on #3880
Can you try the latest 0.28.1? I think your `git` was relying on certain environment variables for authentication which were stripped due to a bug in 0.27.

[2017-07-10 11:56] formatlos commented on #3880
The same error occurs with 0.28.1 (with clean cache).

[2017-07-10 12:13] BYK commented on #3880
Can you confirm that you can `git clone` that repository from your shell?

[2017-07-10 12:14] formatlos commented on #3880
yes, as I said `git clone` and `npm install` works fine

[2017-07-10 12:17] BYK commented on #3880
@formatlos are you running SSH agent? Can you provide more details please?

[2017-07-10 12:26] tailhook opened #3881 "Latest yarn creates `.bin/xx` links in cwd, rather than modules folder"
When I do `yarn install --modules-folder=/usr/bin/node_modules` binary links are created in `./node_modules/.bin` rather than in `/usr/bin/node_modules/.bin/`

In previous versions, binaries were linked from `/usr/bin/node_modules/.bin` (i.e. subdir of `modules-folder`). It looks like it was broken in #3545 in particular by this commit: c5a32cc. But I'm not 100% sure.

I tried yarn 0.27.5 and 0.28

[2017-07-10 12:30] formatlos commented on #3880
I got it working now using SSH agent. I was using just keychain before, but adding `AddKeysToAgent` to my ssh config fixed it.

[code]

[2017-07-10 12:31] BYK commented on #3880
Glad you got it sorted out. Do you think this was a bug on Yarn's side or can we close this?

[2017-07-10 12:32] rally25rs commented on #3881
Duplicate of #3724 should be fixed by #3792

[2017-07-10 12:32] #3881 closed

[2017-07-10 12:35] formatlos commented on #3880
Good question. As it is working with `git clone` and `npm install` I'd still think that it's an issue on Yarn's side, but I don't  mind closing it, if using SSH agent fixes the issue.

[2017-07-10 12:35] BYK commented on #1136
@gardner would this work you: https://yarnpkg.com/en/docs/migrating-from-npm

[2017-07-10 12:38] BYK commented on #3880
@formatlos if you'd be comfortable sharing some of your configuration or are willing to debug and try fixing this issue, it may help other people. I suspect some ENV variable not getting passed properly or getting mangled but can't really prove that without access to your system. What do you think, can you help us?

[2017-07-10 12:41] formatlos commented on #3880
depends a little on which kind of configuration I'd have to share but in general I can help fixing the issue, just tell me what I have to test or send.

[2017-07-10 12:51] BYK commented on #3880
@formatlos actually, one thing that came to my mind: were you entering any password during `npm install` or `git clone` or it was completely non-interactive once you issued the command?

[2017-07-10 12:57] thomasfr opened #3882 "Workspaces - Is it possible to exclude some node_modules from beeing hoisted to the root node_modules folder?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**
yarn --version: 0.27.5
node -v: v6.11.0

We are currently using `hoist` feature from lerna. I tried to move to yarn workspac

[2017-07-10 12:58] formatlos commented on #3880
haven't entered the passphrase for quite some time (at least a few months) as I added it to the keychain when I created the ssh key.

[2017-07-10 13:15] BYK commented on #3880
I'm pretty sure this is related to #3633 but I can't really make the connection. May be if you can share the values of those environment variables or any local git overrides that may affect these settings we may be able to figure it out?

[2017-07-10 13:19] BYK commented on #3882
@thomaschaaf is this a feature request? :) (since you haven't mentioned that in the first question)

[2017-07-10 13:19] BYK commented on #3882
//cc @bestander

[2017-07-10 13:22] formatlos commented on #3880
all of the env vars are empty and I also don't have any other local git overrides. I'm on git version 2.13.0

[2017-07-10 13:24] BYK commented on #3880
Okay then I'm gonna close this as a fluke for now and just hope if other people have any similar issues, they report it here.

Thanks a lot for your help!

[2017-07-10 13:24] #3880 closed

[2017-07-10 13:38] BYK commented on #2786
@josiahruddell can you file a new issue for that?

[2017-07-10 13:48] nikolakanacki commented on #1503
If I'm getting this right @kyleholzinger / @gaastonsr, you're not looking to install `peerDependencies` in development mode (`cd`-ed into the repo / package which has `peerDependencies`, fresh clone, need to develop on those peer deps) but add them to the target project once you install the package which has peer deps?

To clarify: You install `eslint-find-rules` which complains that you need `esl

[2017-07-10 13:52] gaastonsr commented on #1503
This is what I'm looking for. Installing peerDependencies when I'm developing a package.

[2017-07-10 13:58] thomasfr commented on #3882
@BYK If its not yet possible (maybe it is not documented?) than it is a feature request.

[2017-07-10 13:59] kyleholzinger commented on #1503
Yeah exactly @nikolakanacki! I feel like there's a great opportunity for us to help people out with managing their peer deps.

[2017-07-10 14:00] nikolakanacki commented on #1503
@gaastonsr need to add it to `devDependencies` then - it's as simple as that. Your package is broken for development otherwise. Once you clone the project and run `yarn` - everything should run.

Two simple and totally unrelated questions one should ask before installing said dependency in cases like this:

1. My package depends on this package, but I expect the target project to include it since

[2017-07-10 14:02] Atretoname opened #3883 "'yarn run' don't find commands in package script"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
after execution of the following command
[code]
yarn give the following unexpected output
[code]

it's not only for karma but also other scripts is involved
all commands binary exist in .bin directory
with npm all things are right

this occurs after update yarn to 0.27.5

**What is the expected behavio

[2017-07-10 14:20] BYK commented on #3432
I think this is very similar to #2709 so shall we merge them?

[2017-07-10 14:22] BYK commented on #3555
@jharris4 shall we close this one in favor of #3728?

[2017-07-10 14:34] roelandvanbatenburg opened #3884 "Yarn crashes when no dependencies are specified, node_modules does not exist and --check-files is specified"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn install --check-files`

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
- to reproduce the error use:
`docker run -it --rm node:alpine sh -c 'echo "{}" > package.json && yarn install --check-files'`

- compared to the case where a dependency exists:
`docker ru

[2017-07-10 14:36] BYK commented on #3728
@jharris4 hey, just tried to reproduce this with latest master and using node 8.1.3 and I got a `yarn.lock` file. Can you try with the latest `yarn` version that is `0.28.0` or may be from master and let me know if this is still happening?

[2017-07-10 14:43] BYK commented on #2522
Can you provide more details about why and how you need this and about your environment so we can assess?>

[2017-07-10 14:45] alexilyaev commented on #1503
@nikolakanacki When we build a plugin for a package we should depend on the installed package version by the user, if we add it as a `devDependency`, we'll inevitably install a different version and it will be used instead of the user's version.

Unless we defined the dependency as `*`, but then Yarn should be somehow deterministic and prefer the user installed package instead of ours.

Currently

[2017-07-10 14:47] robations commented on #1576
Sorry about issue-necromancy, but I've seen this problem when working with different versions of yarn. Build server had got stuck on 0.24.5, developer copies (generating lock file) were 0.27.x. Every time running `yarn install` on the server it modified the lock file.

[2017-07-10 14:49] gaastonsr commented on #1503
@alexilyaev  I think  @nikolakanacki means to install it both as a peerDependency and devDependency.

This has the problem that we need to keep both in sync. For me it works good for now but I don't think it's ideal.

[2017-07-10 14:51] nikolakanacki commented on #1503
When you declare a `peerDependency` you declare its version as well. Unless target project has the version of that peer dependency installed which also satisfies the version you defined - `yarn` / `npm` will report an error (missing peer dependency, something like that).

Non the less `devDependency` has nothing to do with it, it is the one getting installed when running `yarn` or `npm install` in

[2017-07-10 14:54] jleclanche commented on #2522
@BYK this is needed for example if we want to avoid using `cwd` directives when deploying using eg. ansible, or anything else that is cwd-agnostic.

[2017-07-10 14:55] BYK commented on #2522
@jleclanche what's wrong with using `cwd`, though? Because I'm pretty sure even if we introduce this feature, I'm guessing we'd do the switching internally.

[2017-07-10 15:02] nikolakanacki commented on #1503
I can see the pain of keeping them in sync, but you could easily write a `bash` / `javascript` / `<whatever>` script that would check this as a post-install step in the `package.json`.

The point I'm trying to make is that in no way should we break the `devDependencies` sentiment, or worse yet introduce "running `yarn` or `npm install` does not necessarily installs all the required dependencies of

[2017-07-10 15:08] BYK commented on #3883
@Atretoname can you provide more information about how to reliably reproduce this issue?

Also you report `yarn@0.27.5` but your `yarn run` command reports that it is `v0.15.1`. Are you sure the issue is not due to that?

[2017-07-10 15:12] BYK commented on #3863
/cc @bestander

[2017-07-10 15:16] jharris4 commented on #3555
@BYK sure, no need to have more than one issue open.

The main thing is that the issue seems to be related to `node-gyp` ...

[2017-07-10 15:22] BYK commented on #3555
Alright, thank you :)

[2017-07-10 15:22] #3555 closed

[2017-07-10 15:27] jharris4 commented on #3728
@BYK I just checked and the issue is still there with node 8.1.3 and yarn 0.27.5.

I'm using homebrew to install yarn, can you suggest some steps to test out yarn 0.28.x? (it doesn't seem to be published on npm, and the nightlies page doesn't list the tarball either)

[2017-07-10 15:30] alexilyaev commented on #1503
@nikolakanacki Let's say my plugin accepts `^7.0.0` and the latest of the peer is `7.9.0` and the user used in their `package.json` `7.4.0`, if I'll have `^7.0.0` in `devDependencies`, wouldn't Yarn install both `7.9.0` and `7.4.0`?

If it does, my plugin will mistakingly use the installed `7.9.0` instead of `7.4.0`.

[2017-07-10 15:31] BYK commented on #3728
@jharris4 - I'm downloading the `.tar.gz` package from Node's site for Node 8 and then use my local repo for yarn:
[code]

Then follow your repro steps. May be this is related to Homebrew?

[2017-07-10 15:36] BYK commented on #2064
Shall we honor this setting too?

I think this is a really subpar experience for Windows users. Node puts itself into the path along with npm right, why can't we use those directories directly?

[2017-07-10 15:37] jharris4 commented on #3728
I used `install.sh` from the nightlies build, and then copied over the latest tarball contents into `~/.yarn/`

Here's the output:

[code]

So looks like the bug is still not fixed in 0.28.x :-(

[2017-07-10 15:40] nikolakanacki commented on #1503
@alexilyaev Your package will always, as any other package in any other case, use the highest available version which satisfies the ["semver range"](https://docs.npmjs.com/misc/semver) defined in your package for this peer dep.

I'd be more specific but I don't quite understand the case you've presented, could you please clarify?

[2017-07-10 15:41] gaastonsr commented on #1503
It will warn you that you have a `peerDependency` incompatibility, your plugin expects `^7.0.0` and you have version `7.4.0`.

And yarn won't install the `devDependencies` of your plugin just the dependencies in `dependencies`.

Please somebody correct me if I'm wrong.

[2017-07-10 15:48] Daniel15 commented on #2064
The Windows installer (and Chocolatey package) automatically update the path, so this is mostly a non-issue.

On most systems, it would require you to run Yarn as administrator, as Node is normally installed at C:\Program Files\nodejs and Node.js doesn't expose the Win32 API for requesting elevation (getting admin rights after the app has started, like "sudo")

[2017-07-10 15:49] nikolakanacki commented on #1503
@gaastonsr you're absolutely right except that `^7.0.0` is satisfied by `7.4.0`.

Semver ranges explained by npm: https://docs.npmjs.com/misc/semver
When in doubt always check: http://jubianchi.github.io/semver-check/

[2017-07-10 15:51] BYK commented on #2064
@Daniel15 oh, okay so this clears my Windows-side questions :)

[2017-07-10 15:52] BYK commented on #2064
Well, with the exception of, when/if we install `yarn` via NPM or as a direct script. I'm not sure if we need elevated permissions when running `npm install -g` do we?

[2017-07-10 16:04] onurtemizkan commented on #3869
In current version, when there is a deprecated sub-dependency, dependency path is shown in the warning message:

[code]
But the message doesn't indicate that it is a deprecation warning.
Also, it may still be unclear what `A > B > .. > X` stands for; if the 'deprecated sub-dependency' information is not explicitly indicated in the message.

[2017-07-10 16:11] BYK commented on #3869
@jhabdas @dmbdesignpdx @wtgtybhertgeghgtwtg @gaearon thoughts?

[2017-07-10 16:25] jharris4 commented on #3728
I tried digging a little further into the issue. I'm a bit of a noob with await/generator syntax, but something seems to be going wrong with the `add node-gyp` part of the code.

It gets to this line: https://github.com/yarnpkg/yarn/blob/a3ce7c702f644efde783beb8e0b99dc08100f0df/src/cli/commands/_build-sub-commands.js#L33

In the source that line is: `const res = await command(config, reporter, fla

[2017-07-10 16:55] Daniel15 commented on #3879
Would workspaces help with this? I'm not very familiar with how workspaces work, but I understand that they're similar to Lerna in that they help manage when you have multiple npm packages in the same repo?

Otherwise, we could just have a separate deployment process where we manually publish the lockfile parser to npm if it changes. It could be versioned separately as it should be fairly standalo

[2017-07-10 17:03] DanBuild opened #3886 "yarn-npm #1 failed"
Build 'yarn-npm' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](https://build.dan.cx/job/yarn-npm/1/)

cc @Daniel15

[2017-07-10 17:16] Daniel15 commented on #2064
I think it'd depend on where Node.js is installed and what the permissions are on that directory.

[2017-07-10 17:16] Daniel15 commented on #2064
We could probably update Yarn so that it edits the path on first run. However I don't know if Node.js exposes an API for that. It's got extremely limited ffi capabilities.

[2017-07-10 17:21] Daniel15 commented on #3886
Forgot to make it executable. derp.

[2017-07-10 17:21] #3886 closed

[2017-07-10 17:22] DanBuild opened #3887 "yarn-npm #2 failed"
Build 'yarn-npm' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
- [Daniel Lo Nigro] f57778830733fa284a949c231144d8a78c75e9d9 - [ci skip] Make scripts/update-npm.sh executable

[View full output](https://build.dan.cx/job/yarn-npm/2/)

cc @Daniel15

[2017-07-10 17:23] arcanis commented on #3879
Not sure about adding this to the 1.0 goal - we really need to make it right and I think that would require extra time. A few notes:

- I don't think internal APIs should count as breaking changes. We very explicitly don't support plugins atm, and until then making guarantees about our code and file hierarchy seems perilous. Doing it too early would lock us without any possibility to fix things.

[2017-07-10 17:25] #3432 closed

[2017-07-10 17:25] arcanis commented on #3879
@Daniel15 Yup, workspaces would be the way to go for this. Yarn itself is a good candidate for showcasing the workspace feature 😃

[2017-07-10 17:26] bestander commented on #3882
Would a symlink to the hoisted location work?

[2017-07-10 17:28] DanBuild commented on #3887
Build was fixed!

[2017-07-10 17:28] #3887 closed

[2017-07-10 17:29] thomasfr commented on #3882
lerna installs it directly when using `--no-hoist`. But i think a symlink should also work, i can try that out later. I will let you know

[2017-07-10 17:33] JonathonRichardson commented on #3093
I had a similar problem when using scoped packages and a private registry hosted using Proget.  I was able to use [this fork](https://github.com/mheggeseth/yarn/tree/vsts) of Yarn, and then authentication worked using the default configuration in `.npmrc` generated from `npm login ...` and `npm config set @myco:registry ...`.  You can install the fork (`git clone`, `npm install`, `gulp build`, and

[2017-07-10 17:38] Atretoname commented on #3883
I'm confused for that brew show yarn version is 0.27.5
[code]

but yarn --version show below

[2017-07-10 17:45] #3801 closed

[2017-07-10 17:46] bestander commented on #3863
Thanks for reporting.
Yarn has a bug in integrity check for workspaces.
A workaround for you now is `rm node_modules/.yarn-integrity` before running `yarn install`.

[2017-07-10 18:27] MFry commented on #1503
@nikolakanacki to be able to easily install packages peerdependencies would be great!

[2017-07-10 18:44] bryanlarsen opened #3888 "Bug: linking at different directory depths causes broken links"
yarn 0.27.5
node 8.1.3
Ubuntu 16.04

I'm trying to use the new "link:" type.   It fails for me when modules are attached at different depths in the directory tree.

To reproduce:

[code]

Notice now that th/node_modules/a is a broken link

So let's try creating an explicit dependency first

[code]

th/node_modules/z is a broken link.  Note that behaviour is different if you use package name 'a' ra

[2017-07-10 18:55] #3883 closed

[2017-07-10 19:19] bestander commented on #1576
@robations, yeah, we had this bug between 0.24 - 0.27.
Does it work for you now with 0.27.5?

[2017-07-10 19:25] maoueh commented on #3841
I just tested `0.28.1`, and `yarn list` works correctly now at the root of the project.

The command in a sub-module still does not work however (`no  lockfile found`). So the initial issue is fixed.

Should we close and open a distinct issue form the sub-module part?

[2017-07-10 19:47] gardner commented on #1136
Thanks for the link @BYK. I understand that there is a mapping between some npm and yarn functionality. That is my point. The question is: Why does yarn throw an error instead of support npm style arguments? The error message tells me what the mapping is:

error `install` has been replaced with `add` to add new dependencies. Run "yarn add module" instead.

Why would we force users to use a differe

[2017-07-10 20:43] 0xj9 commented on #889
@egoist i still see `404 Not Found` after i set the registry using that command. using a private package on gemfury and their npm-proxy

[2017-07-10 20:52] DanBuild opened #3889 "Error releasing v0.28.2"
An error was encountered while processing the CircleCI release build of v0.28.2:

[code]

Re-running the build on CircleCI might fix it. [Click "Rebuild" on this page to trigger a rebuild](https://circleci.com/gh/yarnpkg/yarn/4440)

Full logs: https://release.yarnpkg.com/log/release_circleci

cc @Daniel15 @arcanis

[2017-07-10 20:53] voxsim opened #3890 "Enable Greenkeeper for yarn"
This issue is to enable Greenkeeper (https://greenkeeper.io/). The yarn project has multiple dependencies and this can help us to have everything update it.

We already tried https://github.com/yarnpkg/yarn/pull/3375 but the main problems were:
- Greenkeeper didn't support yarn.lock file (https://github.com/greenkeeperio/greenkeeper/issues/314). Now this is fixed thanks to greenkeeperio/greenkeepe

[2017-07-10 21:00] voxsim opened #3891 "Use bundlesize"
After working on https://github.com/yarnpkg/yarn/pull/3790, I think we should use https://github.com/siddharthkp/bundlesize to check the size of the legacy artifact before merging each pr.
One example of legacy artifact is https://nightly.yarnpkg.com/yarn-legacy-0.27.0-20170703.1704.js.

[2017-07-10 21:15] voxsim opened #3892 "Remove every unsupported-alias"
We should remove every unsupported-alias (https://github.com/yarnpkg/yarn/blob/master/src/cli/unsupported-aliases.js) from the codebase.

[2017-07-10 21:20] voxsim opened #3893 "Add tests for `yarn check`"
`yarn check` has not tests at all and we should at least cover:
* Do a check without `verifyTree` and `integrity` flags
* Do a check with `verifyTree` flag
* Do a check with `integrity` flag

[2017-07-10 21:27] voxsim opened #3894 "Add tests for `yarn tag`"
`yarn tag` has not tests at all and we should at least cover:
*   add
*   rm
*   list/ls

[2017-07-10 22:52] dmbdesignpdx commented on #3869
Maybe it's something as simple as taking the information that's provided in the current warning and making it more human friendly?

current:
[code]

to something along the lines of:
[code]

The wording can totally be changed as per @jhabdas suggestions; i.e. the security issue:
[code]
and the reason:

[code]

[2017-07-10 22:54] BYK commented on #3869
@jhabdas I think your suggestion is pretty great but it is also out of scope for this tiny ticket. Would you like to submit an RFC for that since it sounds like a larger effort with some spec-work required in it?

[2017-07-10 23:19] Igor-Vuk commented on #1285
I am still getting this error. I am using the latest version 0.27.5 on Windows.

[code]

[2017-07-10 23:29] andela-iamadi commented on #3894
Can I help out with this?

[2017-07-10 23:46] BYK commented on #1285
@Igor-Vuk that looks more like a `node-gyp` issue to me.

[2017-07-10 23:47] pgnd opened #3895 "yarn 0.28.2 clean install fails on exec, @ "Error: Cannot find module 'semver'""
**Before creating an issue please make sure you are using the latest version of yarn.**

[code]

**Please mention your node.js, yarn and operating system version.**

[code]

**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**

clean install of yarn 0.28.2 fails on exec,

[code]

**If the current behavior is a bug, please provide the steps to reproduce.

[2017-07-11 00:01] Igor-Vuk commented on #1285
@BYK it seems you are right. It happens when I install compression-webpack-plugin.

[2017-07-11 00:05] jhabdas commented on #3869
@BYK done - https://github.com/yarnpkg/rfcs/pull/72

[2017-07-11 02:32] mtraynham commented on #3778
I know this is a feature request, but did deduping change between 26.1 and 27.5?  After the upgrade, it seems my Webpack build is pulling in multiple versions of Angular and jQuery.  I'm not entirely sure how to go about actually resolving this issue besides manually editing the lockfile.

The angular example:
[code]

The latter here is a transitive dependency pulled in from another library, which

[2017-07-11 04:44] seansfkelley commented on #3882
Another use-case for disabling hoisting is that it helps prevent devs from creating accidentally-malformed packages.

I worked on a Lerna repo that had hoisting enabled. A number of the packages were erroneously using hoisted dependencies they had not specified because the code compiled/ran fine due to the way in which Node searches for modules -- namely, by traversing up the file hierarchy until

[2017-07-11 05:37] voxsim commented on #3894
@andela-iamadi yeah!

[2017-07-11 05:42] #3710 closed

[2017-07-11 05:48] voxsim commented on #3703
Can I help on this? I also have some other issue related to node 8.. should we build everything for node 8 too? For everything I mean:
- generate an artifact for node8
- add a travis/circleci/appveyor build
- maybe a babel part for node8 too
- everything that I don't know that we already do for node4, node6 :p

[2017-07-11 06:38] aracarie opened #3897 "Local packages with relative paths not correctly hoisted"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Local packages with relative paths may not be hoisted correctly.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

Examine `yarn.lock` and execute `ls node_modules/a/node_modules` to see duplicated dependencies.

**What is the expected behavior?**
Common dependencies

[2017-07-11 06:47] SimenB commented on #3778
@mtraynham I keep around an older installation of yarn in order to dedupe, as it's broken in newer versions of yarn.

You can manually edit the lockfile to dedupe it as well.

[2017-07-11 09:10] pbasista commented on #1183
I cannot reproduce this on linux. Adding `typescript` and `tslint` globally works fine:
[code]
The scripts are put in place as expected:
[code]
And work as expected:
[code]

[2017-07-11 09:16] pbasista commented on #1183
However, when adding `eslint` globally on the same linux machine:
[code]
Its scripts are *not* put in place for some reason:
[code]
Probably it is a separate issue, which is better described in #2360.

[2017-07-11 09:19] pbasista commented on #2360
No, #1183 does not seem to be related, because it deals with the actual execution of the installed package, not with its linking to yarn's global bin directory.

[2017-07-11 09:20] pbasista commented on #2360
Another package which fails to install properly (i.e. with symlinks in the global `bin` directory) is `eslint`.

[2017-07-11 09:40] robations commented on #1576
Yes yes, seems like I don't have the issue with 0.27.5 (unless the cause is more complicated). I got lost in the trail of related issues/PRs and wasn't aware this was officially fixed, so that's good news :)

[2017-07-11 09:50] pbasista commented on #2360
It is also *not* a duplicate of #1585, because that one deals with the behavior of `yarn link`, while this issue deals with the behavior of `yarn global add`.

[2017-07-11 09:55] pbasista commented on #2360
I am unable to reproduce this issue on linux with `torus-cli` package:
[code]
The scripts are in place:
[code]

[2017-07-11 10:02] pbasista commented on #2360
I was able to reproduce this with `eslint` a while ago, but not anymore. I experimented with adding, removing, linking and unlinking of various packages in the meantime. Now it works for me with both `torus-cli` and `eslint` packages, so I am confused.

The described behavior is definitely there, but I am not sure how to reliably trigger it.

[2017-07-11 10:32] andela-iamadi commented on #3894
Great! Will get on it when I'm back from work today.

[2017-07-11 11:17] arcanis commented on #3831
Howdy! This should have been fixed along with the 0.28, so I'll close this issue :)

[2017-07-11 11:17] #3831 closed

[2017-07-11 11:46] pkopac opened #3900 "yarn run <command> doesn't work with custom node_modules location"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I install into custom location `node_modules`, because I'm running vagrant linux virtual box VM on windows.
The installed dependencies have problems with long names, symbolic links & compiling, so I decided (as recommended) to move that off the mounted host file system into the VM FS.
But in our workfl

[2017-07-11 12:10] pribilinskiy commented on #2240
@luchillo17 the `--force` key probably should be used as the last resort. It will also make requests to the server.

[2017-07-11 12:49] bryanlarsen commented on #3888
Sorry for reporting against 0.27.5; I started this on Friday.   Testing against 0.28.1, the first clause appears to work but the second one still fails.

[2017-07-11 13:11] pgnd commented on #3895
This is not yarn-specific -- some issue with node itself ...

[2017-07-11 13:11] #3895 closed

[2017-07-11 13:12] luchillo17 commented on #2240
@pribilinskiy Indeed its a nuke solution.

[2017-07-11 13:35] wyle-e-coyote opened #3901 "Windows command prompt: Yarn changes the color scheme after executing a command"
This does seem to be a regression from at least v0.24.6.  I recently upgraded to v0.27.5 and noticed this behavior.

**What is the current behavior?**
Yarn changes the color scheme of the command prompt from my custom color scheme.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Set a color scheme within a command prompt to anything other than what the default colo

[2017-07-11 15:16] BYK opened #3903 "Chore: add code duplication detection tool to lint step"
Forking from https://github.com/yarnpkg/yarn/pull/3877#discussion_r126381876, I think it would be nice to add a code duplication detector to the lint stage (or as a separate stage) to avoid copy/pasting of commonly used functions.

A good project is https://yarnpkg.com/en/package/jsinspect but we may prefer https://yarnpkg.com/en/package/jscpd too.

[2017-07-11 15:49] moretti opened #3905 "Cannot read property 'config' of undefined""
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
I'm getting the following error when running `yarn install`:
[code]

Here's the full error log:
https://github.com/moretti/yarn-node-sass-bug/blob/master/yarn-error.log

I created a minimal repo where I can reproduce the issue (using yarn@0.27.5):
https://github.com/moretti/yarn-node-sass-bug

I think

[2017-07-11 15:56] BYK commented on #3905
I'm not getting the same error but I can reproduce the install failure with latest master.

[2017-07-11 15:57] BYK commented on #3905
This is probably a duplicate of #3728. What do you think?

[2017-07-11 16:44] moretti commented on #3905
@BYK Thanks for your help!
Seems slightly different, I don't see "success Saved lockfile." and I get exactly the same error if I run `yarn` twice.

[2017-07-11 16:45] mrchief opened #3906 "Cannot install koa-static due to node engine error"
Running into this issue while trying to add `koa-static` or `koa-webpack-hot-middleware`:

[code]

[code]

**Node version**
[code]

**npm version**
[code]

Doing an `npm i` works fine on both packages.

I've tried deleting node_modules and yarn lock and redoing the install. `yarn cache clean` also didn't help.

[2017-07-11 17:08] swansontec commented on #3823
The `yarn global` command creates a `package.json` and `yarn.lock` file in `~/.config/yarn/global`. Apart from being in a system-wide location, `yarn global` works in basically the same way as for any other local package. In other words, I think yarn already does what you want. All you have to do is share `~/.config/yarn/global/yarn.lock` using some method of your choice.

[2017-07-11 17:11] destroyerofbuilds opened #3907 "Can't install from GitHub when always-auth is set to true"
**Do you want to request a *feature* or report a *bug*?**

Bug report.

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Simply run `yarn add --dev npm-publish-git-tag` within any directory.

You may also run `yarn add --dev npm-utils`, as `npm-utils` is [the package that has the GitHub reference](https://github.com/bahmutov/n

[2017-07-11 17:34] Gozala opened #3908 "Yarn does not turns last published verison latest"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

Currently if I make a minor update say change package version from `0.2.0 -> 0.2.1` and then do `yarn publish` I expect that latest version of my package will appear to be `0.2.1` but instead it appears to be `0.2.0` even though `0.2.1` is listed under versions:

![image](https://user-images.githubusercon

[2017-07-11 17:49] #3738 closed

[2017-07-11 18:14] wbinnssmith opened #3909 "`yarn create`: consider a useful prompt to mitigate security issues"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
It's still pretty easy to goof up a name and download and execute something completely unexpected (for example for `yarn create react-appp`, ["create-react-appp"](https://www.npmjs.com/package/create-react-appp) with three `p`s is still available on the registry at this time).

**What is the expect

[2017-07-11 19:24] cwp commented on #3787
This also affects `yarn install`. If you have a dependency in package.json that begins with `~` yarn will replace the `~` with `userHome`, and then complain about the invalid version. Something like:

[code]

[2017-07-11 19:27] rockchalkwushock commented on #3787
I imagine the same holds true for:

[code]

[2017-07-11 19:30] #3892 closed

[2017-07-11 19:31] jquense commented on #3846
at the behest of @bestander, ping!

[2017-07-11 20:01] cwp commented on #3787
(Deleted report of `yarn install` being affected. It was just corrupted package.json files in the cache.)

[2017-07-11 20:14] bestander commented on #3882
All good points here.
We can discuss whether the no-hoist should be default later.
For now I can't dedicate enough time to work on this feature and help is needed.

The hoisting logic is isolated in https://github.com/yarnpkg/yarn/blob/master/src/package-hoister.js and you know whether the dependency is a workspaces if it's name is `workspaceLayout.virtualManifestName`.
Send a PR

[2017-07-11 20:43] markerikson opened #3910 "Yarn does not correctly use an offline mirror cache and saved resolutions for flat installations"
**Do you want to request a *feature* or report a *bug*?**

A _potential_ bug, although it's entirely possible that I'm misunderstanding intended behavior.  Yarn does not seem to make use of the designated `yarn-offline-mirror` folder and/or flattened "resolutions" values together, particularly if told to be in offline mode.

**What is the current behavior?**

I've got an in-progress app repo that

[2017-07-11 20:46] jquense opened #3911 "Workspaces don't run lifecycle scripts when linking local packages"
**What is the current behavior?**

When you do a yarn install in a workspaces enabled project, yarn doesn't run the various lifecycle scripts for workspace packages, e.g. `prepare` `prepublish` `preinstall` etc

**If the current behavior is a bug, please provide the steps to reproduce.**

Here is a commit adding a failing test case: https://github.com/jquense/yarn/commit/61eaf4239f707f772af5713ebc

[2017-07-11 20:48] bestander commented on #3911
PR is welcome BTW :)

[2017-07-11 20:57] bryanlarsen opened #3912 "link protocol results in multiple copies of dependent packages."
yarn 0.28.1
node 8.1.3

Given simple repo:  https://github.com/bryanlarsen/yarnbug2

a & b have a dependency on underscore, and foo has a and b as a link: dependency.

[code]

OK, that's strange & surprising behaviour.   If that's expected behaviour, it definitely needs to be documented.  But let's assume for now that's the desired behaviour, that unlike all other protocols, you have to do a yarn

[2017-07-11 22:49] keegan-lillo commented on #1625
One thing that worked for us was to:

1. look through your `yarn.lock` for anything using:
[code]
1. Comment out the entire block
1. Figure out which of your dependencies are using it and `yarn upgrade` the package to any new version. hopefully commenting out the block allows you to run the upgrade
1. `yarn upgrade` back to the version you were using before. The changes to the lock file should be

[2017-07-11 23:07] ricklove commented on #2240
Tried everything here, then realized I was in the wrong directory in my cli... 30 mins later 😭 😆

[2017-07-12 01:09] keegan-lillo commented on #1625
One thing that worked for us was to:

1. look through your `yarn.lock` for anything using:
[code]
1. Comment out the entire block
1. Figure out which of your dependencies are using it and `yarn upgrade` the package to any new version. hopefully commenting out the block allows you to run the upgrade
1. `yarn upgrade` back to the version you were using before. The changes to the lock file should be

[2017-07-12 02:14] ryardley commented on #3787
This looks like where it happened: https://github.com/yarnpkg/yarn/commit/35ee7de206e3078df32f1626d1dde6ba1ed41d0b

It seems there is an assumption that all values within the config are paths. Probably want to set out a whitelist or have a config schema things are built off so only path type values are normalized.

[2017-07-12 02:33] cettoana commented on #1671
Facing the same issue. May I know is there any update?

[2017-07-12 02:36] rockchalkwushock commented on #3787
@ryardley

Yeah I believe it stems from #630 this [comment](https://github.com/yarnpkg/yarn/issues/630#issuecomment-277837483).

[2017-07-12 02:54] ryardley commented on #3787
@rockchalkwushock yes I just noticed it is older than that one above trying to work out which version to install.

[2017-07-12 03:41] alexissantos commented on #2496
Also happening for me on:
- Node v7.8.0
- Yarn v0.27.5
- NPM 5.1.0
- Mac OS 10.12.3 (16D32)

[2017-07-12 04:48] rmm5t commented on #2090
Just ran into this problem myself. I was really surprised by the behavior, and it's causing the associated directory in our `node_modules` to sit at 12MB when using `yarn install`, but `npm install` correctly ignores the files from the repo leaving the directory at just 32KB.

It's important for us to keep our `node_modules` small, because they are packaged up as part of our deployments to AWS Lam

[2017-07-12 07:09] gutenye commented on #2411
@Daniel15 What about `@types/<package>` packages.

After setup the Chinese mirror, I still get

[code]

[code]

[2017-07-12 07:15] gutenye commented on #2411
@Daniel15 Never mind, fixed by remove yarn.lock

[2017-07-12 07:29] kvolkovich-sc opened #3914 "Force yarn.lock resolve always from yarnpkg.com"
Hi! :smile:

In our company we have a private registry with [sinopia](https://github.com/rlidwka/sinopia)
When we run `yarn`, we get records like

`resolved "http://private-sinopia-server:4873/glob/-/glob-5.0.15.tgz#1bc936b9e02f4a603fcc222ecf7633d30b8b93b1"`

Some of our packages are open-sourced. When we push **yarn.lock** to github, we want to have

`resolved "https://registry.yarnpkg.com:4873/g

[2017-07-12 07:36] g-plane opened #3915 "Add default "test" script for running test"
**Do you want to request a *feature* or report a *bug*?**
Feature request.

**What is the expected behavior?**
For a package or a project, if `test` script field isn't in `package.json`, when running `yarn run test` or `yarn test`, Yarn can find bin commands of unit test framework like Jest, Mocha and etc.

For example:
`package.json` may like (Note that `test` field is not existed):
[code]
In the

[2017-07-12 08:47] jhabdas commented on #3738
@gaearon A one line code change without unit test was made to resolve this issue.  Please remember that.

[2017-07-12 08:57] voxsim commented on #3738
@jhabdas I already answered in the PR. This is my philosophy https://stackoverflow.com/questions/153234/how-deep-are-your-unit-tests/153565#153565, but if you think that package-compatibility or that part in particular need some tests, please open a pull request and thanks in advance :)

[2017-07-12 09:23] jhabdas commented on #3738
I trust your good judgement but I trust SO about as far as I can throw a twig. But that's okay. I wanted to send my message for the benefit of others to see how a one line code change could have avoided this entire thread. Sometimes actions speak louder than words. Cheers.

[2017-07-12 10:11] MattJeanes commented on #3914
Why would you want to use a private npm repository in your company and then publish it open source and want people to use the public npm repo? Are you using Sinopia as a npm cache or something?

[2017-07-12 10:15] kvolkovich-sc commented on #3914
@MattJeanes We don't use our private repository for open source packages. Yes, we use sinopia as npm cache server and problem somewhere here.

[2017-07-12 10:17] MattJeanes commented on #3914
Ah okay, that makes sense. Was just trying to understand the use case of this, I'm not part of the Yarn team was just curious, and hopefully this gives them a bit more info to proceed.

[2017-07-12 10:42] BYK commented on #3738
@jhabdas as much as I appreciate your contributions, I'd like to remind you [our code of conduct](https://github.com/yarnpkg/yarn/blob/master/CODE_OF_CONDUCT.md#our-standards), specifically the following items:

- Using welcoming and inclusive language
- Being respectful of differing viewpoints and experiences
- Showing empathy towards other community members

[2017-07-12 11:52] jhabdas commented on #3738
My sincerest apologies. I will review the code of conduct and try and do better to be a good community citizen. Thanks for pointing me in the right direction, @BYK.

[2017-07-12 12:27] haines opened #3916 "yarn check reports errors after install succeeds"
**Do you want to request a *feature* or report a *bug*?**
Report a bug 🐛

**What is the current behavior?**
`yarn check` reports errors after a fresh and seemingly correct install.

**If the current behavior is a bug, please provide the steps to reproduce.**
Distilled from webpack/webpack#5262:

[code]

**What is the expected behavior?**
`yarn check` does not report errors.

It appears the problem

[2017-07-12 14:03] BYK commented on #2238
I can't reproduce this on latest master @jquense. May be try 0.28.0 or create a new issue with concrete repro steps?

[2017-07-12 15:15] jirehstudios opened #3918 ""yarn run watch" stops watching"
I am using Laravel 5.4 with the included webpack setup and Yarn 0.27.5.

My issue is that when I run `yarn run watch` it only watches the file once. If I make a change on a JS file and save it I can see the change right away after I refresh the browser. But after that, any new changes don't get compiled so it renders watch useless and instead I might as well run `yarn run dev` continously. I get t

[2017-07-12 15:30] destroyerofbuilds commented on #3907
Steps to reproduce issue:

[code]

[code]

I have the same Yarn nightly build on Windows 7 and Windows 10.

Yarn successfully installs `npm-utils` on Windows 7.

I get the error mentioned above only on Windows 10.

[2017-07-12 15:31] BYK commented on #3907
Can't repro on lastest master with macOS so gonna mark this as Windows-only for now. Thanks for the repro steps.

[2017-07-12 15:32] BYK commented on #3907
@destroyerofbuilds this is quite odd tho, are you sure your Windows 10 machine is not using a different DNS server or behind a proxy?

[2017-07-12 15:48] Rubemlrm commented on #3918
That happens with npm too , i think this is related with the modue that watch changes in the windows filesytem and not relatd to yarn or npm.

[2017-07-12 15:50] jirehstudios commented on #3918
@Rubemlrm I am running this on my Xubuntu 16.04 laptop, not Windows. running the command inside a docker container and outside does the same thing.

[2017-07-12 15:52] Rubemlrm commented on #3918
@jirehstudios can you try run the watch-poll ? just to check what happens. In a few hours i can try on my home laptop to check if this happens with debian system too. But this is a know issue on Windows and npm/webmix.

[2017-07-12 16:08] EvHaus commented on #3822
Finally got around to doing some version testing.

- v0.24.6 works fine
- v0.25.4 works fine
- v0.26.1 broken
- v0.27.0 broken
- v0.27.5 broken

So it looks like the issue was introduced between 0.25.4 and v0.26.1

[2017-07-12 16:09] onurtemizkan commented on #3903
I made a little research about those two tools, `jsinspect` seems more focused (supports flow syntax in AST comparison). It also has a gulp plugin. And I saw people claiming that `jsinspect` is faster and smarter than `jscpd` on javascript source. What do you think @BYK, @arcanis, @bestander, @voxsim, @kaylieEB?

[2017-07-12 16:09] destroyerofbuilds commented on #3907
@BYK thank you for hinting at the differences between settings on each system.

I began looking at the differences between my `.npmrc` and `.yarnrc` files between Windows systems.

The contents of my `.yarnrc` file;

``
`# THIS IS AN AUTOGENERATED FILE. DO NOT EDIT THIS FILE DIRECTLY.
# yarn lockfile v1

registry "http://artifactory.example.com/artifactory/api/npm/npm/"
"@company:registry" "http:/

[2017-07-12 16:16] BYK commented on #2064
Did some reading on https://docs.npmjs.com/files/folders#prefix-configuration and looks like the approach in the diff is correct. Just concerned about not using the `npm` folder (we use `Yarn` instead). I think this is fine until we get complaints.

[2017-07-12 16:21] BYK commented on #3903
+1 for `jsinspect` then.

[2017-07-12 16:21] jirehstudios commented on #3918
@Rubemlrm Using `watch-poll` didn't help either. Am I just gonna have to live with it?

[2017-07-12 16:22] voxsim commented on #3903
Let's try `jsinspect` :)

[2017-07-12 16:23] BYK commented on #3907
That's some great detective work @destroyerofbuilds, thank you very much!

Let us know if there's anything you need on our side if using bearer tokens doesn't fix it.

[2017-07-12 16:39] arcanis commented on #3903
Any tool will be fine, however it would be best if they were only raising temporary warnings rather than preventing a merge altogether (or worse, breaking the lint on master). I'm all for factoring code, but in some situations similar-looking codes might have different semantics, and in this regard we should have the final word over the tool :)

[2017-07-12 16:44] BYK commented on #3903
Completely agree with @arcanis there. This should never fail the CI builds. It should only warn in linting.

[2017-07-12 17:11] Rubemlrm commented on #3918
I think you should report this on webpack or laravel-mix repository.since this problem happens with npm/yarn. And i saw other People report the same problem on stackoverflow

_Sent from my HUAWEI HONOR-7 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-12 17:14] jirehstudios commented on #3918
@Rubemlrm Will do, thanks.

[2017-07-12 17:48] destroyerofbuilds commented on #3907
@BYK in the interest of fixing our internal CI environment to a known good version of Yarn (until we can upgrade Artifactory), I can across the fact that Yarn 0.27.3 works using the reproducer above, while Yarn 0.27.4 does not.

[code]

This change most likely changed the behavior of Yarn - 9c5311496ce9fe7d3e736e41397a20de7f419edb

Based on the commit message, I don't know whether the change in be

[2017-07-12 18:28] tspesh commented on #3189
@pekeler  and @dsblank  thanks for the help here!

[2017-07-12 18:37] gotenxds opened #3919 "manually inserting tar.gz to offline repo?"
Hi, My team and I are in an isolated network and we can only insert new data via dok or discs so I cant use
`yarn add` to add new files to the offline repo, I tried just putting a new file in the offline repo directory but yarn does not recognize it...

for example I had a package named `x` in version 1.2 in the offline repo dir.
having it in the package.json and using `yarn install` works

Now I

[2017-07-12 19:09] BYK commented on #3907
@arcanis - this looks like a bug to me. What do you think?

[2017-07-12 19:22] also opened #3920 "yarn doesn't use .npmrc from $HOME when run as root"
**Do you want to request a *feature* or report a *bug*?**

Bug; incompatibility with npm.

**What is the current behavior?**

When run as  the `root` user on Linux, yarn does not use `$HOME/.npmrc` but uses `/usr/local/share/.npmrc` instead.

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/yarnpkg/yarn/blob/v0.28.2/src/util/user-home-dir.js#L8
https

[2017-07-12 20:32] also commented on #3907
I'm also currently seeing this issue with other packages on codeload.github.com after updating to the latest yarn. I'm using 0.27.5 with `always-auth` on.

[2017-07-12 21:41] dylanfoster commented on #3920
It looks it doesn't use `./.npmrc` either. I had to downgrade to get it to work

[2017-07-12 21:43] vinicius73 commented on #3920
Same problem here

![image](https://user-images.githubusercontent.com/1561347/28141208-f9015fec-6731-11e7-8e62-90d13d275143.png)

[2017-07-12 21:58] elyobo commented on #3764
Sorry, was after emojis for all, not blocking them for darwin!

[2017-07-12 22:05] MrHayato commented on #3041
This is also an issue on our CI servers, using Node 8.1.4, Npm 5.2.0, yarn 0.27.5
We've had to roll back to node v6.3.1 and npm 3.9.5 to get it working again as a workaround...

[2017-07-12 22:18] arcanis commented on #3907
This commit didn't intended to change anything related to how github packages are fetched - however I'm not completely sure I know what's the right behavior Yarn should have, I'll need to check this to see what makes the most sense. If packages cannot be fetched from github with always-auth on, that seems like a problem :)

[2017-07-12 22:37] arcanis commented on #3895
You must not use the raw Yarn source code - it doesn't contain the Yarn dependencies. Use the single-file release instead (such as `yarn-0.28.1.js`).

[2017-07-12 23:24] pgnd commented on #3895
@arcanis

well that makes a difference, doesn't it!?  now ...
[code]
thx! o/

[2017-07-13 04:00] Spongman commented on #1538
seems like yarn isn't ready for prime-time :(

[2017-07-13 04:12] Volune commented on #3914
You may want to try `yarn add "glob@https://registry.yarnpkg.com/glob/-/glob-5.0.15.tgz"`

But you won't be able to benefit from the `outdated` command and probably some other features.

[2017-07-13 05:14] Dzenly commented on #761
I have such a problem with `phantomjs-prebuilt` module (ad dependence of dependence) with yarn 0.27.5-1.
So now I do dummy `yarn add phantomjs-prebuilt`, before `yarn install --production`.

[2017-07-13 06:42] Waldo000000 opened #3922 "Yarn config is empty when run from within an npm script"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The output of `yarn config` is empty if run from within a yarn script.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Create an empty project with a script in `package.json`:
[code]
2. Run the script with `yarn run debug`.

**What is the expected behavior?**

Expect

[2017-07-13 07:02] Pyrolistical commented on #1088
so `save-exact` set to `true` in npm means the same thing as `false` in yarn.

perfect.

[2017-07-13 07:18] Volune opened #3923 "`yarn add` Cannot find .yarn-metadata.json of already present git dependency"
Tested with yarn v0.27.5 and master branch. Windows 10

**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug description**

Reproduction steps:
[code]

The last command will fail with the following message:
[code]

**Notes**

I'm looking for a fix. @sheerun that may be an issue for your changes in bower.

[2017-07-13 08:20] metheglin opened #3925 "Can't yarn add for some packages"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Can't `yarn add` against some packages.

**If the current behavior is a bug, please provide the steps to reproduce.**

I guess the packages which includes `@` or `/` in its name give these errors.

[code]

I confirmed `@expo/bunyan`, `@expo/ngrok` give errors.

[code]

[code]

On the other hand, most

[2017-07-13 09:18] kaizvn commented on #1915
For anyone got this error, I fixed it by install `node-gyp` globally.
[code]
The error 's gone. I guess it's the easiest way.

P.s: if you're installed `node-gyp` global already, try to remove it first.

[2017-07-13 11:20] codehag opened #3926 "Yarn add/Yarn install cannot install fsevents"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

STR:

When I try to run `yarn add jest` I get the following error

[code]

Then, running yarn test (our alias for jest) I get the following error
[code]

This is happening on: https://github.com/devtools-html/debugger.html

**What is the expected behavior?**
Than jest installs and runs.

**Please ment

[2017-07-13 11:36] pszalanski commented on #3076
I can confirm it is hanging with `--mutex`. It does not matter if it's a file or a network mutex.

At our company we use a custom build script written in Python, which launches a bunch of yarn instances with Popen. Sometimes, the yarn process simply stops its work and nothing happens until the process is killed.

[2017-07-13 11:46] simonkberg commented on #3926
This is not a yarn issue, but an issue with a sub-dependency depending on an old version of fsevents.

https://github.com/strongloop/fsevents/issues/181

[2017-07-13 11:51] codehag commented on #3926
Thanks!

[2017-07-13 12:17] bchoddny opened #3927 "Yarn publish package failed"
Reporting a bug. I'm trying to publish a new package, that doesn't exist in private npm registry. When publishing package to our private nexus registry, getting an error

$ yarn publish --new-version 2.0.1 --verbose

**What is the current behavior?**
.....
verbose 6.241 Request <url> finished with status code 201.
success Logged in.
[3/4] Publishing...
verbose 6.578 Performing "PUT" request to <ur

[2017-07-13 12:20] codehag commented on #3926
Hmm, but this works in older versions of yarn and with npm..

[2017-07-13 14:06] codehag commented on #3926
One more note: this works with yarn 0.24.x

[2017-07-13 15:26] daniel-nagy commented on #3765
This has broken installing private modules from our company's Bitbucket server.

[code]

I rolled back to version `0.27.4` and it correctly installs the package.

[2017-07-13 15:44] thomassuckow opened #3928 "Cannot install @mapbox/togeojson"
**What is the current behavior?**

Visit https://yarnpkg.com/en/package/@mapbox/togeojson
Copy install command "`yarn add @mapbox/togeojson`"
Run command
`$yarn add @mapbox/togeojson`

[code]

/Users/user/test/yarn-error.log:
[code]

If the package is in the package.json and lockfile you get:
[code]

Yet `wget https://registry.yarnpkg.com/@mapbox/togeojson/-/togeojson-0.16.0.tgz` works...

**What

[2017-07-13 16:10] bchoddny commented on #2786
Yes, I get the same error as josiahruddell, but the publish have succeeded

[2017-07-13 16:11] bchoddny commented on #3927
My fault, I was try to publish the package to hosted nexus group repository instead of private repository.

[2017-07-13 16:11] #3927 closed

[2017-07-13 16:23] jquense commented on #3911
I took a stab at it, but could figure out the code base unfortunately. All I can see is that `scripts` is empty for the linked packages when it gets to the `getInstallCommands` in the pacakge-install-scripts :/

[2017-07-13 16:25] Hanastaroth commented on #3831
Thanks all, works fine now ;)

[2017-07-13 16:30] thomassuckow commented on #3928
Derp. It is because my npmrc has auth info for a private registry which is down, so I removed the registry line but forgot to remove the auth lines.

The error message could be a lot better.

[2017-07-13 16:30] #3928 closed

[2017-07-13 16:37] BYK commented on #2786
@bchoddny as mentioned above, let's create a new issue to track the precise problem. That way we can also inform you easily once it's fixed.

[2017-07-13 17:15] mrchief opened #3930 "Cannot install packages due to node engine error"
**Do you want to request a *feature* or report a *bug*?**

*bug*
**What is the current behavior?**
installation fails with error:

[code]

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Simply try `yarn add koa-static` or `yarn add koa-webpack-hot-middleware` to any repo.

**What is the expected behavior?**
install should succeed with no errors.

**Please men

[2017-07-13 17:16] mrchief commented on #3906
Closing in favor of #3930

[2017-07-13 17:16] #3906 closed

[2017-07-13 19:19] csvan commented on #1538
Yarn is certainly ready for prime-time. We use it in production environments and it works great.

For this particular case, instead consider dropping PhantomJS. From what I gather it is abandoned, and vastly superior to e.g. Chrome Headless anyhow.

[2017-07-13 20:22] bchoddny opened #3932 "Yarn publish command not reading password from .yarnrc"
**Do you want to request a *feature* or report a *bug*?**
Can yarn publish step read password from .yarnrc file? I would like to publish my package as part of my continuous integration process
**What is the current behavior?**
yarn doesn't read password from .yarnrc file, but it does reads username. Is there any other alternative since the continuous integration process cannot work with interactio

[2017-07-13 20:29] CrabDude opened #3933 "Improper hoisting of peerDependencies: webpack, ajv, ajv-keywords"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

1. (Top-level) `foo` lists `dependencies`:
    - `bar@5`
    - `baz`
1. `baz` lists `peerDependencies` `bar@5`.
1. (Top-level) `qux` & `quux` list `dependencies` `bar@4`
    - Causes `bar@4` to hoist, invalidating `baz`'s peerDependency of `bar@5`)

The result is the following tree:

[code]

**If the

[2017-07-13 20:33] CrabDude commented on #2688
Still seeing in `yarn@0.28.1`:

[code]

[2017-07-13 20:35] CrabDude commented on #2889
Dupe: #2886

[2017-07-13 20:41] bvklingeren commented on #3529
"Unfortunately" the issue with the slow repository is resolved so it's just as difficult for me as for you to reproduce the issue. Do you have any other ways to test it?

[2017-07-13 21:11] CrabDude commented on #3933
For posterity, this can be circumvented by adding `ajv@5` to `package.json` to squat on the otherwise hoisted `ajv@4`'s tree position.

[2017-07-13 21:16] Spongman commented on #1538
I'm not in a position to drop it. It's a dependency of a dependency of a ....

[2017-07-13 21:16] mcmar commented on #3905
I'm getting the same error with the same trace in `yarn-error.log`
I'm getting it with `node-sass` and with `nodent-runtime`
Ex:
[code]

[2017-07-13 21:21] kaylieEB commented on #3933
This seems like the intended behavior to me. `baz` is a the top level because it's the only dependency, and ` bar@4` is at the top because hoisting prioritizes the number of occurrences (both qux & quux requires it). The idea of peerDependency is that you'd install it at top level as a peer. So if you're using baz, which requires bar@5 as a peer, then you should install bar@5 at top level (as you

[2017-07-13 21:29] bestander commented on #3529
You could try https://stackoverflow.com/questions/9659382/installing-apples-network-link-conditioner-tool on MacOS to simulate slow network

[2017-07-13 21:36] bestander commented on #3911
Thanks for giving it a try, @jquense.
The entry point is probably here https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/install.js#L477 - flattenedTopLevelPatterns only contains the top level dependencies of root package.json + a virtual dependency that refers all workspaces.
I think going deeper PackageInstallScripts should handle that https://github.com/yarnpkg/yarn/blob/master/src/p

[2017-07-13 21:58] mcmar commented on #3905
Success! I figured out what was breaking (for me). The issue was that node-gyp wasn't installed globally.
So yarn does tell you this
[code]
but when it says "Yarn will attempt to automatically install it", that code is actually broken atm.
So that's fine. I expected that. And I ran `yarn global add node-gyp` and it succeeded. Perfect! But it still broke! But when I ran `which node-gyp` I got nothi

[2017-07-14 00:16] mrichins commented on #2786
@bchoddny & @josiahruddell So this very well could have been with how I implemented checking response codes for different repositories 😢  Are you publishing to NPM or a private registry?

[2017-07-14 01:07] enphnt commented on #1321
i know this is closed but in case others stumble, i saw a package just for this issue. `$ npm install -g fix-yarn-global-packages`

then just run it to relink packages. refer to: https://www.npmjs.com/package/fix-yarn-global-packages

[2017-07-14 03:00] Daniel15 commented on #3889
@arcanis - What's the story with this release? It seems like this failure is legit as both the CircleCI and AppVeyor builds are in a broken state.

[2017-07-14 05:16] csvan commented on #1538
@Spongman I feel you, I had the same situation with a current project just recently. Took some dependency hacking but it was certainly worth getting rid off.

[2017-07-14 05:40] Volune commented on #3923
More information:

It is caused by dependencies with `github:` or `gitlab:` prefix to generate a cache folder in an invalid state, where the hash in the folder name doesn't match the hash in the `.yarn-metadata.json` file.

To reproduce:
- Clear the cache
- ```sh
yarn init # just make sure there is a package.json
yarn add "github:Volune/test-js-git-repo#bin"
yarn remove test-js-git-repo-bin
yarn a

[2017-07-14 06:41] scheMeZa commented on #827
yarn --ignore-engines works.

[2017-07-14 07:41] josiahruddell commented on #2786
Yep, private.

[2017-07-14 07:57] SebastianSchirmer commented on #3058
Same issue for me

[2017-07-14 08:31] Volune commented on #3822
After testing:
The command works as expected. `yarn outdated` exits with code `1` when there are outdated dependencies, and git (exotic) dependencies always count as outdated.
Please check #3483 for details.

[2017-07-14 08:37] cpxPratik commented on #1576
I am on yarn version 0.27.5. When doing `yarn install` on a 3 weeks old project (which already has yarn.lock but generated with old version of yarn, i  updated yarn this week), it installs dependencies but there is rather large git diff with the lock file, which i expect would not be changed. Hope it is rare case. Or `yarn install` changes lock file, is it norm?

[2017-07-14 08:46] jsroyal commented on #1122
@Daniel15 I am also getting error to install yarn

jsroyal@HP:~$ sudo apt-get update && sudo apt-get install yarn
Ign:1 http://dl.google.com/linux/chrome/deb stable InRelease
Hit:2 http://archive.ubuntu.com/ubuntu yakkety InRelease
Hit:3 http://archive.canonical.com/ubuntu yakkety InRelease
Hit:4 http://dl.google.com/linux/chrome/deb stable Release
Hit:5 http://archive.ubuntu.com/ubuntu yakkety-up

[2017-07-14 10:44] arcanis commented on #3888
Hi @bryanlarsen!

I've used the following testcase, which is essentially yours with some reformatting to make it easier to keep track of the current working directory:

[code]

However, I'm not sure I see what's wrong in the output: the `th/node_modules/z` symlink is indeed broken, but only because you're referencing `../z` instead of `../hub/z` (like you do in the final line of your testcase). If

[2017-07-14 11:19] arcanis commented on #3202
The following testcase is completely broken. The dependency itself isn't upgraded until the node_modules is removed:

[code]

[2017-07-14 12:03] Tin-Nguyen commented on #3844
downgraded to the old version 0.24.6, it works well

[2017-07-14 13:12] metheglin commented on #3925
Sorry, this was the same issue for
https://github.com/yarnpkg/yarn/issues/1952

The problem resolved with commenting out `_auth` section at `$HOME/.npmrc`.

[2017-07-14 13:12] #3925 closed

[2017-07-14 14:06] cpxPratik commented on #1576
@robations

You mean if `node_modules ` contains new versions of dependencies than the lock file (after doing `npm install`), `yarn install` updates lock file based on dependencies  on node_modules?

[2017-07-14 14:08] #3889 closed

[2017-07-14 14:30] EvHaus commented on #3822
@Volune I'm not seeing a regular exit code `1` however. I'm seeing a failure with this error message:
[code]

[2017-07-14 14:58] lirantal commented on #3815
I'm observing similar color/definition inconsistencies for my project at https://github.com/lirantal/dockly so you can easily reproduce using it's `package.json` file:

![image](https://user-images.githubusercontent.com/316371/28217523-080428d4-68be-11e7-8c01-f40607e1acfb.png)

[2017-07-14 15:07] smcguinness opened #3935 "Lock File Points to Non-existent Package Version"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn add json2csv` or `yarn add json2csv@3.9.0 -E`

Yarn installed package.json in node_modules
[code]

yarn.lock
[code]

**What is the expected behavior?**
The json2csv@3.9.1 does not exist and has never existed as of this date. The resulting install and generated lock file fails `yarn check`, howeve

[2017-07-14 15:36] Volune commented on #3822
@EvHaus  I think that one of the libraries you use is not aware that `yarn outdated` may now return `1`, and wrongly interpret an exception resulting from this incompatibility. The exception you provided is not from Yarn.

[2017-07-14 15:45] EvHaus commented on #3822
@Volune I was able to reproduce the issue without any third-party modules at all. See: https://github.com/EvHaus/yarn3822 for a tiny reproducible test case.

[2017-07-14 15:45] robations commented on #1576
@cpxPratik More like this:

[code]

`yarn.lock` is not compatible with the spec for `xyz-dep` in `package.json`, so instead it installs the best version to match `package.json` and writes a new `yarn.lock`.

The most common ways I've found this to happen are:

- using npm instead of yarn to install/uninstall a dependency
- editing package.json (e.g. delete unwanted package) and committing the resu

[2017-07-14 16:28] PolGuixe opened #3936 "Issues migrating from NPM to Yarn in a React-Native projects"
I am able to run:
[code]
Then yarn transforms `node_modules` and generates de `yarn.lock` file.
The only warnings reported are:
[code]

When I try to use `react-native run-ios` in order to compile the project I get this error:

[code]

It is working fine if I am using NPM.

Versions:
- Yarn: 0.27.5
- Node: 6.10.1
- React-Native: 0.46.2
- OS: macOS 10.12.5

[2017-07-14 17:17] #3846 closed

[2017-07-14 17:22] theandrewlane commented on #3041
I'm running into the same issue on Node 8.1.4 and Yarn 0.27.5 on Win 7 Enterprise. Following @dmr's recommendation, hopefully that resolves the node fibers/gyp issue.

[2017-07-14 17:32] arcanis commented on #3935
The `package.json` located inside `json2csv` contains `3.9.1`. Something should probably be done on Yarn's side, but the issue should primilarly be adressed by json2csv's maintainers.

[2017-07-14 18:23] jods4 commented on #3738
Thanks for fixing this. 😍 🙇

It was the **top voted** issue in NPM by a wide margin and caused real problems, yet after 1.5 years of not addressing it their bot just auto-closed it for being too old!

That kind of project management is one of the reasons I switched to Yarn.

Seeing how easy the fix was, it's agonizing how much time and effort was wasted over this. 😢

Thanks!

[2017-07-14 18:50] CrabDude commented on #3933
@kaylieEB Your argument definitely has some merit for superficially deep dependency trees like the original example, but there're some problematic implications of thinking about `peerDependencies` that way...

First, `yarn`'s current implementation is in contradiction to the design of `peerDependencies` (https://github.com/npm/npm/issues/1400). The `webpack` package authors ensured in their depend

[2017-07-14 18:53] CrabDude commented on #3916
Recommend closing this in favor of #3933, which contains a generalized reproduction (not specific to `webpack`) and a lengthy explanation of the rationale for treating `peerDependencies` as `npm` does.

[2017-07-14 19:04] paulirish commented on #3614
I expect this will change in the future, but... **What is the current best practice for handling both package-lock.json and yarn.lock?**

These are the options I'm seeing...

1. Don't, and **only support one** of these in your project.
1. Everyone manually keeps them in sync for every dependency change
1. Use some tool to rebuild one of the locks when you change the other. _(I'm hoping for this on

[2017-07-14 20:22] joggienl commented on #3614
I would opt for option 1 or 4.. keeping multiple files for the same in sync is tedious and error prone.
On the other side, a downside of choosing to support one of both is that you somewhat force your users to use either yarn or npm, but I think that this would be less harmful than different packages for different package managers.

[2017-07-14 20:23] zackschuster commented on #3813
this issue appears to be resolved with yarn@0.28.1.

[2017-07-14 20:24] #3813 closed

[2017-07-14 20:24] karfau commented on #3614
At work, we are currently in the following weird situation:
- using yarn for 95% of our CI, but one step is using npm, because it is the only way we could make it work inside docker.
- as we knew no way of syncing the files we decided to .gitignore package-lock.json for now, because our minimal version of npm is LTS, which doesn't support ti anyway.
- we will soon (days or weeks) upgrade to use no

[2017-07-14 23:20] apwelsh commented on #1684
IMHO.
The default of installing global node modules into the user's home directory is wrong, and illogical.  Never should a system library (the result of a global install) be symlinked back to a user directory.
Enterprise users usually have a single home directory that is mounted to all the systems.  This results in broken installs, and fickle environments.  NPM has the npm_config_prefix environme

[2017-07-14 23:31] cdaringe commented on #3879
i want to vocalize my support of this.  dependency reports are so important!  if we don't expose the parser soon, can we at least expose a command in the short term to do a JSON dump?  that should be cheap and non invasive.

`yarn lockfile --json` or `yarn dependencyReport`, etc?

[2017-07-15 00:55] caseyduquettesc commented on #1915
I was using `pyenv` and had to run `pyenv rehash` and remove node_modules and then `yarn install` to fix the error in my case.

[2017-07-15 02:05] bestander commented on #2863
Yarn workspaces are available for this use case

[2017-07-15 02:05] #2863 closed

[2017-07-15 02:05] bestander commented on #711
Implemented in workspaces

[2017-07-15 02:05] #711 closed

[2017-07-15 02:06] bestander commented on #2919
Workspaces are available and integrated with Lerna bootstrap

[2017-07-15 02:06] #2919 closed

[2017-07-15 03:28] richburdon commented on #2863
Hi @bestander. Every month or so I try to check in to see if https://github.com/yarnpkg/yarn/issues/3294 has come out of RFC phase. I can't find anything here: https://yarnpkg.com/en/docs. I can't find anything on Google either except for others eagerly awaiting it: https://medium.com/spektrakel-blog/yarn-workspaces-are-coming-477c3707f482?

Are there any docs?

[2017-07-15 08:46] sandys opened #3937 "yarn equivalent of npx ?"
how is yarn recommending we use npx (that is now core part of npm - https://github.com/npm/npm/pull/17685).

Basically, it acts somewhat like ruby's "bundle exec", other than that it launches the package manager if dependencies are missing. This will sidestep yarn and switch back to npm.

Is there a plan to create a "ypx" equivalent that leverages yarn to do this ?

[2017-07-15 11:06] e-cloud commented on #3093
same problem here:

[code]

[2017-07-15 18:57] Daniel15 commented on #3937
For what it's worth, I think npx was inspired by "yarn create" which is similar but only works for packages prefixed with "create-". Not sure what the plans are here.

[2017-07-15 18:59] Daniel15 commented on #3932
Looking at the code, it seems like `_username` and `_password` should work: https://github.com/yarnpkg/yarn/blob/3bfa1e3d6303c58aed9660e1a2af3a6d6f030bce/src/registries/npm-registry.js#L224-L243

You could try an auth token in `_authToken` instead. Log in to npm or Yarn then copy the auth token it saves to the `.yarnrc` or `.npmrc`.

[2017-07-15 19:42] richburdon commented on #3294
Visit https://yarnpkg.com/en/docs/cli/workspace for documentation about this command.

Returns 404

[2017-07-15 20:55] kaylieEB commented on #3933
Thanks for the explanation, I can now see the issue in your complex scenario. It seems like peer dependencies need to be aware of its requested context and be placed relative its parent dependency, instead of being deduped and being hoisted like other dependencies. In some scenarios, this may mean that a top level dependency somehow needs to be nested elsewhere since there's only 1 global peer, ev

[2017-07-15 23:08] Spongman commented on #1538
you misunderstand me. i don't have write access to that package.json. what you're suggesting is that, in order to work around a bug in yarnpkg, i need to find replacements for >90% of my dependencies.

that's like Linus saying 'yeah, sorry, we broken open(), find libraries that don't use it..."

[2017-07-16 02:29] bchoddny commented on #3932
Either password or _password didn't work.

How do I get the authentication token, can you please provide me some steps. I tried the command:
"yarn login", but it didn't provide any authentication token?

[2017-07-16 03:22] bchoddny commented on #2786
private registry

[2017-07-16 03:23] bchoddny commented on #2786
@mrichins, it's a private npm registry hosted in nexus3

[2017-07-16 03:29] bchoddny opened #3939 "Yarn package publish succeeded but responded with error"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
When running yarn publish command, the package is successfully published but the command response says publishing failed
**If the current behavior is a bug, please provide the steps to reproduce.**

$ yarn publish --new-version 2.0.1 --verbose
....
verbose 1.892 Error: Couldn't publish package.
    at M

[2017-07-16 03:30] bchoddny commented on #2786
@BYK, created a [bug](https://github.com/yarnpkg/yarn/issues/3939)

[2017-07-16 06:37] Spongman opened #3940 "bug: "yarn run" command quoting is broken on windows"
[code]

the 1st error is expected -- gulp can't find its file.
the 2nd & 3rd are a failure to execute gulp.

[2017-07-16 11:18] javinor opened #3942 "`yarn` fails to install with git url `git+ssh` - `npm install` works"
**Do you want to request a *feature* or report a *bug*?**
Bug - I looked through the issues, and couldn't find one with is ***exactly*** the same, only closely related ones.

**What is the current behavior?**
`yarn install` fails with the following message:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
In an empty dir, create the following `package.json` and

[2017-07-16 11:24] #2536 closed

[2017-07-16 12:19] Volune commented on #3940
Looks like duplicate of #3773

[2017-07-16 12:50] anitshrestha commented on #2331
Any update on the issue?

[2017-07-16 15:01] workmanw commented on #3313
I'm left confused by reading through this issue. I've found that version mismatches of yarn between our CI server and individual dev machines to cause `yarn.lock` files to be left with subtle little changes. What I believe was referred to as "range collapsing".

All I want to do is `yarn install --use-exactly-what-is-in-my-lockfile`. I originally thought that was `--pure-lockfile` because the name

[2017-07-16 17:39] dbaldon commented on #3028
FYIW, I was having trouble with yarn hanging at the `Linking dependencies...` step also. I hit CTRL+C and this is what I got;
[code]

I then went and installed yarn via Chocolately and then reran `yarn install` and this time this is what I got;
[code]
Huge difference. I suspect the problem in my case was that `yarn` was not in my path. Installing it with `choco install yarn` put it in my path.

[2017-07-16 19:29] Daniel15 commented on #3932
Try `npm login`, enter your username and password, and then look in `~/.npmrc`. I don't think Yarn does auth the same way, but it does support npm auth tokens. Using an auth token is more secure as it does not expose your password (so there's no possibility for your password to leak)

[2017-07-16 20:50] Spongman commented on #3773
`child_process.spawn(,,{shell:true})` already handles finding the shell, appending '/d /s /c' on windows and quoting the arguments, if necessary.

[2017-07-16 20:51] dandv commented on #1213
@ide or @wolfgang42 Can you please add a [current link to the RFC](https://github.com/yarnpkg/rfcs/blob/master/accepted/0000-yarn-knit.md) in your posts? Woflgang's pseudo-link ending in #30 doesn't seem to lead anywhere.

[2017-07-16 21:34] dandv commented on #2611
Same problem with 0.27.5. The only workaround was to not list my linked package among the `dependencies` in `package.json`, but then I get a linter warning on the `require`/`import` line that the dependent module is not listed in the  dependencies.

[2017-07-16 21:57] wolfgang42 commented on #1213
@dandv I've edited my comment to explain that the issue I created has been deleted, and to link to the RFC. Thanks for tracking this down; there seems to have been some early changes in the Yarn RFC process that weren't communicated well.

[2017-07-16 22:04] dandv commented on #2205
Is there another way to call a yarn script from a yarn script?

For example I want to run `prepare` before `test`.

[2017-07-17 01:21] dandv commented on #1213
@wolfgang42: Thanks. Deleted my previous comment since it's obsolete now, and will delete this one too.

[2017-07-17 02:05] zh-h commented on #1321
`yarn global bin`

[code]
But exactly binary file is here.
[code]

[2017-07-17 06:54] sudavid4 commented on #3880
I have the same issue on yarn 0.27.5, macOS Sierra. git clone and npm i work fine. updating the ssh config did not solve it for me. Adding `ssh-add -K` to my .zshrc did the trick. I would suggest this is a yarn bug though since it works fine with npm i and with git clone, without any "extra steps"

[2017-07-17 07:26] Volune commented on #3942
I'm not reproducing (Yarn 0.27.5, Node 6.9.4, Windows 10, Git 2.13.0.windows.1)

- What git version do you have?
- With yarn 0.24.6, do you need to input a password or something?
- Can you try to set `GIT_TRACE` environment variable, with an absolute path, like
  `GIT_TRACE=/tmp/git-trace.log yarn install`
  Then check/share the logs

[2017-07-17 08:09] javinor commented on #3942
current git version 2.8.2, I don't input passwords, I use ssh keys for github.

git-trace.log:
[code]

I upgraded git (brew) to version 2.13.3, and reran the trace:
[code]

output of `yarn config`:
[code]

When changing the package json to:
[code]
I get prompted by yarn, asking for which version to install, and once selecting, everthing install fine.

Any clues / ideas / leads?

[2017-07-17 09:00] 7rulnik commented on #3405
@DanBuild but for me it works

[2017-07-17 10:19] arcanis commented on #3888
Ping?

[2017-07-17 11:24] xdumaine commented on #3922
This causes authentication errors when `install` is in a script, if you have private repositories. Example:

[code]

[2017-07-17 12:07] pgergov commented on #2738
Hey guys, just wanted to share with you that in 0.27.5 the problem is solved https://github.com/yarnpkg/yarn/issues/3765

[2017-07-17 12:46] arcanis commented on #2394
This is by design - `yarn upgrade` upgrades your dependencies, not the dependencies of your dependencies. In your case, running `yarn upgrade meck-test-bb` is similar to using `yarn add` (you'll see that your package.json file has been updated).

The command is currently being revamped (#3847), but nested dependencies won't be part of this refactoring. Could be an interesting followup, tho - I'm n

[2017-07-17 12:52] robinduckett commented on #3942
I have the same issue, I am just after whatever release is in the master branch of a repo on github and it just pops up. Annoyingly, I have one that works, and one that doesn't. Maybe the tag name needs to match exactly? I tried #master and #{commit} and it didn't work

[2017-07-17 12:56] arcanis commented on #2394
Related PR: #54 - but there are extra considerations to take into account :/

[2017-07-17 12:57] BYK commented on #3942
@arcanis - I think this is fixed on master now, right?

[2017-07-17 12:58] arcanis commented on #2394
For example, the optimizer might choose to merge together two packages if it respects their dependents version ranges. What should be the `upgrade --deep` behavior, then? Force upgrade everything to the highest version, disabling optimizations? Or upgrade things to the highest versions, but keep running the optimizer (which means that some packages would not be upgraded)?

[2017-07-17 13:02] arcanis commented on #3115
I'll close this issue in favor of #2394, since it includes a very useful test git repository. I've also shared some thoughts there :)

[2017-07-17 13:02] #3115 closed

[2017-07-17 13:33] arcanis commented on #3942
I'm not sure - I can't reproduce this on 0.28.1, which is apparently what @robinduckett is using. Is it correct? Can you check the output of `yarn --version`?

[2017-07-17 13:46] robinduckett commented on #3942
0.27.5 -- I didn't say I was using any particular version

[2017-07-17 13:48] arcanis commented on #3942
Sorry then, I misunderstood :) Can you try using the 0.28.1?

[2017-07-17 13:54] robinduckett commented on #3942
Confirmed that it still fails at the 'Fetching packages' stage with 0.28.1. Anyway I can enable debugging and show you a log?

[2017-07-17 14:23] SaidTayebi commented on #872
yarn EACCES: permission denied

[2017-07-17 14:41] arcanis commented on #2611
I'm not sure this is a bug - even if you're using `yarn link` to install the dependency, we still need to resolve it according to its range in order to put it inside the lockfile 🤔

[2017-07-17 15:21] arcanis commented on #3202
*(note: please disregard my previous comment, it was about a different issue)*

I can't reproduce this issue (#3202). Running `yarn upgrade` doesn't upgrade `npmlog`, so `gauge` doesn't need to be updated either. Am I missing a step?

My repro script is the following:

[code]

[2017-07-17 15:30] arcanis commented on #3942
I'm not sure which command would tell me enough to reproduce this on my side - and if I can't reproduce it, I won't be able to debug or validate my fixes 😞 Maybe two things:

- It seems like your issue is different than the one reported by @javinor - they had issue during the resolution step (the first one), whereas you seem to be affected during the fetching step (the second one).

- I would sugg

[2017-07-17 15:53] agibralter opened #3943 "yarn does not ensure offline cache is in a good state after install"
(**Updated**)

If someone forgets to commit a file in the offline mirror by mistake, running yarn again does not fix the problem. You have to run yarn install --force. I guess this is just confusing because Ruby's bundler ensures that the offline cache is always in a good state after every run. Wouldn't that be nice behavior?

Previous issue description:
I've written a script here that demonstrate

[2017-07-17 15:56] deathweaselx86 commented on #3942
I am on OS X 10.12 Sierra and Yarn 0.28.0. I was getting this problem fetching modules from private repos. I was able to fix it by adding a new SSH key to Github and then adding the following to my `.ssh/config`

[code]

[2017-07-17 16:07] ggascoigne commented on #3879
I'd like to add a "me too" to this issue as well, we also have a dependency reporting problem that would be simplified by access to the parser.

[2017-07-17 16:14] bmv437 commented on #3907
I'm also seeing this issue. yarn version `0.27.5` with `always-auth` enabled. I need to fetch packages from a private registry, and having `always-auth` is the only way to do that currently.

[2017-07-17 16:47] arcanis commented on #3943
I'm not sure I understand - your testcase is basically this, is that correct?:

[code]

Is that correct? If this is the case, then this is to be expected - Yarn tries to be smart and to only run if it detects that something changed in the package.json or yarn.lock since the last time the node_modules has been updated.

What I don't understand is how you get from:

to

If you've added the package t

[2017-07-17 16:56] arcanis commented on #3773
Because the script can have multiple arguments, ie:

[code]

So if we were to use the version of `spawn` that takes an array of arguments, we would need to split those scripts, which might be a bit complex - more than quoting arguments.

We'll add a test and try to fix this one, thanks!

[2017-07-17 16:57] arcanis commented on #3940
Closing in favor of #3773

[2017-07-17 16:57] #3940 closed

[2017-07-17 17:01] arcanis commented on #3937
Yup, we currently have `yarn create` (try using `yarn create react-app`, for example). We might open it to others verbs in the future, but that's not on the roadmap yet.

[2017-07-17 17:04] arcanis commented on #3936
It seems your babel installation doesn't find the [object rest spread transform](https://babeljs.io/docs/plugins/transform-object-rest-spread/).

[2017-07-17 17:09] arcanis commented on #3930
I can't reproduce this on my side

[2017-07-17 17:13] arcanis commented on #3926
Can't reproduce here, `yarn add fsevents@1.1.1` works fine on 0.28.1 / Node 8.1.3

[2017-07-17 17:22] agibralter commented on #3943
Ah you're right—actually the issue is more this: if someone forgets to commit the file in the offline mirror by mistake, running `yarn` again does not fix the problem. You have to run `yarn install --force`. I guess this is just confusing because Ruby's bundler ensures that the offline cache is always in a good state after every run. Wouldn't that be nice behavior? I guess this is more of a featur

[2017-07-17 18:11] bestander commented on #2863
Hey, @richburdon.
I am writing a blog post about what stage workspaces are in now, how to use them and what is the future.
They are out of RFC and the available in 0.28 release, still tentatively calling it "experimental" to allow for breaking changes when the solution is refined.
Check out Jest for how it can be used https://github.com/facebook/jest/pull/3906.

[2017-07-17 18:14] bestander commented on #3294
Workspaces is not going to be a CLI command but rather a configuration.
I am planning to post about it here https://yarnpkg.com/blog/ and have a [section](https://github.com/yarnpkg/website/issues/573) on different ways to link local projects here https://yarnpkg.com/en/docs/.

[2017-07-17 18:25] bestander commented on #2738
Thanks for following up, @pgergov

[2017-07-17 18:25] #2738 closed

[2017-07-17 18:31] bestander commented on #3202
@arcanis, this can be reproduced by checking contents of
`node_modules/npm/node_modules/npmlog/node_modules/gauge/package.json` and `node_modules/npm/node_modules/npmlog/package.json`.

I think the problem is because those deps are bundled and Yarn does not treat them properly at linking phase.

[2017-07-17 18:33] zkat commented on #3937
I'm working on library-ifying npx. It's not a huge task to grab the existing npx code and just replace the npm-related guts with the yarn-equivalent commands.

I won't add that directly to npx itself, since it's _meant_ to be agnostic: npx performs no operations which clash with people using other package managers. It doesn't even require npm to be on the system, so you can `npm rm -g npm` and npx

[2017-07-17 20:24] levithomason commented on #3091
How about one of these?

[`yarn upgrade-interactive`](https://yarnpkg.com/lang/en/docs/cli/upgrade-interactive)

[`yarn upgrade`](https://yarnpkg.com/lang/en/docs/cli/upgrade)

[2017-07-17 21:07] peterschussheim commented on #3893
@voxsim Can I take this one?

[2017-07-17 21:08] voxsim commented on #3893
@peterschussheim yep go ahead!

[2017-07-17 21:09] peterschussheim commented on #3893
Great!  Are there any examples you know would be a good starting point?

[2017-07-17 21:54] pts-moog16 commented on #2738
I also had this issue today. I changed the registry to the github tarball url. I couldn't find what the npmjs url was, so I tried Github's found here.
`https://github.com/{USER}/{REPO}/tarball/{BRANCH}`

Just putting this here in case someone has the same issue as I did.

[2017-07-17 22:35] #2064 closed

[2017-07-17 22:39] BYK commented on #3812
Merging into #3724. LMK if you think that's not the correct action.

[2017-07-17 22:39] #3812 closed

[2017-07-17 22:47] BYK commented on #3937
@sandys - The issue @zkat referenced (npm/npm#6053) is not an issue on `yarn` since you can just do `yarn x` (or `yarn run x` if you want to be explicit) if `x` is in your `./node_modules/.bin` directory. So I don't think there's a pressing need for `npx` equivalency.

If you think there's a strong need, can you explain why you need it? Eg. what problem will it solve for you?

[2017-07-17 22:50] kubino commented on #3738
Hi, thanks for all the efforts about this. It's far more better that it will be now on my stdout instead of stderror ;). Yet still even info level will bring here tons of people. And the only output the will got after one one hour of reading related issues is that they need to live with it for the moment(who doesn't use babel) and that making platform specific optimization via optional dependencie

[2017-07-18 02:34] mrchief commented on #3930
@arcanis  I'm using Nodist on my end. I'll give a try without it. Are you on Windows?

[2017-07-18 03:00] markwoon opened #3944 "Use existing yarn directory during upgrade"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

When reinstalling/upgrading yarn on windows using the MSI, it should detect that yarn has already been installed and install into the existing directory.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Install old version of yarn into non-standard directory (e.g.

[2017-07-18 03:04] markwoon commented on #3778
I'm no longer seeing the dedupe problem with 0.27.5.

[2017-07-18 03:32] richburdon commented on #3294
Thanks very much @bestander

Any idea of the timeline (for the docs, and the features to land?)

Very much looking forward to it.

[2017-07-18 03:39] richburdon commented on #2863
Thanks @bestander; really looking forward to this.

I looked here (facebook/jest#3906) but don't see any docs on usage or the config. Is there a sample project? If not, do you have a timeframe in mind for your blog post.

Thanks again for the work.

[2017-07-18 03:51] bestander commented on #3294
I intend to finish the post by the end of the week.

On Mon, Jul 17, 2017 at 8:32 PM Rich Burdon <notifications@github.com>
wrote:

[2017-07-18 06:50] javinor commented on #3942
@Volune , @BYK: `git bisect run` and I go way back. I cloned and bisected the project. This is the problematic commit: 27e9922e97f28db9d0151478e39133ba0cb46926

Any thing else I can do from here?

[2017-07-18 06:55] javinor commented on #3942
bisect log (for reference):
[code]

[2017-07-18 08:37] bruha opened #3947 "The version of ui-select package is wrong in yarn CLI"
The version of [ui-select package](https://yarnpkg.com/en/package/ui-select) is wrong in yarn CLI. Current version is 0.19.8 (created 2017-04-18) but in yarn CLI version is 0.20.0 (created 2016-10-19). See code below
[code]

in npm everything is good:
[code]
node 8.0.0 yarn 0.27.5 macOS Sierra 10.12.5

[2017-07-18 09:10] gouzhiyuan commented on #3927
@bchoddny  how to set nexus repository?

[2017-07-18 09:13] PolGuixe commented on #3936
@arcanis do I need to include a specific Babel package for that?

[2017-07-18 09:37] hequ commented on #3926
I have yarn 0.27.5 and node 8.1.4 (both the latest you can install from `brew`). And I also get that 404 when trying to do:

`yarn add fsevents@1.1.1`

Runnin on Mac Os Sierra 10.12.5

[2017-07-18 09:48] BYK commented on #3942
@javinor - Then I'd ask you the values of the following environment variables: `GIT_ASKPASS`, `GIT_TERMINAL_PROMPT`, `GIT_SSH_COMMAND'.

Also, we had merged #3885 recently which fixed an issue with the commit you raised. Try using that may be?

[2017-07-18 09:56] marvinhagemeister opened #3948 "Hashes don't match for `bytes`"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. `yarn init && yarn add koa-logger`

**What is the expected behavior?**
Hashes should match

**Please mention your node.js, yarn and operating system version.**
- yarn 0.27.5
- Node 8.1.4
- MacOS Sierra

[2017-07-18 10:07] BYK commented on #3926
I also failed to repro. Tried with empty cache, both with node 6 and node 8.

@hequ @codehag can you try with the latest available yarn?

[2017-07-18 10:19] hequ commented on #3926
I created a new empty yarn project with `yarn init`, cleared the cache with `yarn cache clear` and then tried installing with `yarn add fsevents@1.1.1`. These were run on node 8.1.4 and yarn 0.27.5.

I tried this with yarn 0.28.1 and get the exact same error:

[code]

[2017-07-18 10:22] BYK commented on #3926
Well, yeah the file doesn't seem to exist. Not sure if this is Yarn's fault or fsevent's fault or node-gyp's fault.

[2017-07-18 10:25] hequ commented on #3926
Ah, yeah. Found corresponding issue from fsevents github page. So the 1.1.1 precompiled version is not on the s3, but 1.1.2 is.

https://github.com/strongloop/fsevents/issues/181

Trying to `yarn install fsevents@1.1.2` works as expected.

[2017-07-18 10:27] valeriashpiner opened #3949 "An unexpected error occurred: "EACCES: permission denied"
Yarn 0.27.5

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
An unexpected error occurred: "EACCES: permission denied, mkdir '/Users/lera/Library/Caches/Yarn/v1'".

**If the current behavior is a bug, please provide the steps to reproduce.**

I tried to re-install brew, yarn, node and npm.
Tried to install it with sudo, but it had conflict with bre

[2017-07-18 10:32] BYK commented on #3949
Looks like you don't have the correct permissions for one of the directories in the ` /Users/lera/Library/Caches/Yarn` chain. So may be a `sudo chown -R lera /Users/lera/Library/Caches` would fix it?

Nevertheless, this doesn't look like a Yarn bug.

[2017-07-18 10:32] #3949 closed

[2017-07-18 10:32] BYK commented on #3926
Thanks @hequ. Closing the issue then. LMK if we need to reopen it.

[2017-07-18 10:32] #3926 closed

[2017-07-18 10:34] BYK commented on #3944
Thanks for filing an issue for this @markwoon! No promises yet but we'll try to get to this some time.

In the meantime, feel free to try doing it yourself :)

[2017-07-18 10:34] BYK commented on #3944
@Daniel15, may be you can guide @markwoon about Windows MSI installer packaging?

[2017-07-18 10:44] emazv72 opened #3950 "yarn installs binaries for dependencies after a global add"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

yarn 0.27.5 installs binaries for dependencies after a global add.

**If the current behavior is a bug, please provide the steps to reproduce.**

`yarn global add @angular/cli && tsc --version`

`Version 2.3.4`

**What is the expected behavior?**

tsc binary is a dependency and shouldn't be installed

[2017-07-18 11:02] BYK commented on #3738
@kubino that's some great feedback, thank you! We are aware that moving it to `info` wouldn't fix it once and for all. For that @jhabdas actually spent some time to make it even better and generic and [submitted an RFC](https://github.com/yarnpkg/rfcs/pull/72). Would you be interested in providing feedback there and let us know if that RFC addresses your concerns?

[2017-07-18 11:03] codehag commented on #3926
Hi, I don't think this should be closed. this is a regression on the side of yarn / jest.

what works in other versions of yarn
`yarn add jest`

what does not work in yarn 0.27.5
`yarn add jest`

fsevents may install correctly if you use a specific version, but something changed in yarn to make it stop working. I do not think that users will manually go into their jest configuration to fix this

[2017-07-18 11:07] BYK commented on #3900
Hey @pkopac, looks like this will be addressed with #3792 and this issue is somewhat a duplicate of #3724 so closing in favor of that. LMK if this doesn't work for you and we'll reopen this one and track it separately.

[2017-07-18 11:07] #3900 closed

[2017-07-18 11:10] BYK commented on #3905
@mcmar would you say this is a duplicate of @2064 then, which has a PR attached?

Also can you please remove the stroked-out words from your previous message? Looks like you already know it's not a great idea to use that tone here so why leave them there? 😉

[2017-07-18 11:13] BYK commented on #1136
@gardner because we think `yarn` can be used to make certain things better and this is one of them. Since `yarn` is a separate tool, it is not burdened with the backwards-compatibility requirements of `npm`.

Which part of that messaging makes you upset and how can we improve it? Is the tone too aggressive or didactic? Would you appreciate a short link to the docs I've shared above in the command

[2017-07-18 11:14] hequ commented on #3926
@codehag at least on my machine, I get the 404 error with yarn 0.27.4 as well, so installing `fsevents@1.1.1` does not work neither on 0.27.4 or 0.27.5.

[2017-07-18 11:18] BYK commented on #3728
@jharris4 thanks for digging more and sorry for the late response. Sounds like this may also be a duplicate of #2064 as #3905. What do you think?

[2017-07-18 11:20] BYK commented on #3926
@codehag this looks like an issue with `fsevents`. What is your expectation on Yarn's side to mitigate this?

[2017-07-18 11:26] codehag commented on #3926
hm no, i expect that from one version of yarn to the next that things will work :/

[2017-07-18 11:31] codehag commented on #3926
I just tried again with 0.24 -- maybe you are right and something changed because it is no longer working. I don't have the time to investigate any further unfortunately. Thanks for your time.

[2017-07-18 11:53] javinor commented on #3942
I don't have any of those values defined in my `env`.

Still not working from `master` - SHA `f7aa742776e4689c040fed7664fd8f4b695903b2`

[2017-07-18 12:32] phelma commented on #3950
for me, doing `yarn global add foundation-cli` added npm@^2.1.12 who's binary was then added to my path (frustratingly before my regular npm@5 install)

[2017-07-18 12:47] BYK commented on #3950
Duplicate of #3824.

[2017-07-18 12:47] #3950 closed

[2017-07-18 13:00] BYK commented on #3933
I'm not entirely convinced that what Yarn does is incorrect here. The scenario explained to me looks more like a dependency clash where different dependencies require different versions of their peer dependencies, causing a clash during hoisting.

@CrabDude instead of explaining this in as prose, would you be okay creating a minimum test case that we can see with some `package.json` files? Then I'

[2017-07-18 13:05] BYK commented on #3942
@javinor then I honestly cannot understand how this can be related to that commit. Are you sure you haven't changed your GitHub credentials in the mean time? May be your tokens have expired etc.?

[2017-07-18 13:08] BYK commented on #3926
That's our expectation and aim too! 😀

As it happens, `yarn` and `fsevents` released new versions close to each other so you are attributing the fault on `fsevents`' part to Yarn which is understandable. Please give a read to [hequ's comment](https://github.com/yarnpkg/yarn/issues/3926#issuecomment-316022699) and see if using `fsevents@1.1.2` fixes your issue.

[2017-07-18 13:10] joe-at-startupmedia commented on #2528
Have the same issue.

[2017-07-18 13:11] arcanis commented on #3942
Does running `ssh -oBatchMode=yes git@github.com git-upload-pack lodash/lodash.git` work?

[2017-07-18 13:23] sthuck opened #3951 "difference between npm and yarn behavior with nested dependencies"
Hi all,
I found a slight difference in behavior between npm (v4) and yarn 0.24.5 to yarn 0.27.5.

my package.json dependencies has something like this:
[code]

now `@types/angular-mocks` package.json  looks like this:
[code]

In npm v4 and yarn 0.24.5, the `@types/angular: "~1.5.0"` I have in my package.json, satisfies this dependency, so I have only 1 `@types/angular` installed, in `node_modules/

[2017-07-18 13:44] BYK commented on #3951
Hmm this is interesting. I think we treat `*` as latest but it actually means "any would do". @arcanis @kaylieEB @voxsim can you back me up on this?

If so I think we have a bug in our hands.

[2017-07-18 13:55] kolaniyi commented on #907
I am still having this issue, on WSL windows. How do I implement the fixes

[2017-07-18 14:00] BYK commented on #3313
I understand the confusion between `--pure-lockfile` and `--frozen-lockfile`. From what you've explained here, I think you need `--frozen-lockfile`. That causing yarn to fail means your CI and development versions of yarn are not fully compatible in terms of their resolution algorithms and you should update one or downgrade the other to match them for a consistency guarantee.

[2017-07-18 14:14] rally25rs commented on #3948
Seems to work for me:

[code]

Possibly the registry somehow returned the wrong data, or the download was corrupted, or some proxy server is giving you back something else? `7d97196f9d5baf7f6935e25985549edd2a6c2339` is the correct hash according the the metadata for that package.

[2017-07-18 14:23] rally25rs commented on #3947
Wow that's weird. I don't know enough about the inner-workings of the online repository to comment, but can reproduce:

[code]

[2017-07-18 14:26] workmanw commented on #3313
@BYK Thank you for your response. I understand where you're coming from, but in reality it's going to be painful to coordinate the specific version of yarn on 6 developer machines, Travis-CI, our own CI server, what's required for OSS projects we contribute to, etc.

It would really be great if I could just direct the yarn cli to use exactly what's in the lockfile, don't update it, don't make any

[2017-07-18 14:29] rally25rs commented on #3915
Sounds a little "magical" to me... Yarn would have to know what installed dependencies could be executed as a test runner. What if `jest` and `mocha` are both installed?

[2017-07-18 14:44] kittens commented on #2331
You can fix this by removing the `test` line from your `.yarnclean` file.

[2017-07-18 14:44] #2331 closed

[2017-07-18 14:48] g-plane commented on #3915
If someone installed both Jest and Mocha, IMHO, `test` script field in `package.json` should be specified manually.

[2017-07-18 14:48] rally25rs commented on #2331
The docs also state

If the command breaks things, just don't run it.

[2017-07-18 14:54] BYK opened #3952 "Breaking: rename every `yarn <command> rm` to `yarn <command> remove`"
Spun off from https://github.com/yarnpkg/yarn/pull/3898#issuecomment-315584833

For the sake of consistency and clarity, we need to rename the `rm` command to `remove` and add a deprecation warning for `rm`.

[2017-07-18 14:55] javinor commented on #3942
I tried running the `ssh` command and it failed. Maybe you can help me decipher the debug log? I'm not sure exactly where things are going wrong...

[code]

[2017-07-18 14:57] BYK commented on #907
@kolaniyi upgrade your yarn? Or try adding the `--ci` flag to suppress fancy output?

[2017-07-18 15:03] BYK commented on #3942
I'd honestly try following these steps first: https://help.github.com/articles/error-permission-denied-publickey/

Looks like there's a confusion between your public and private SSH keys though.

[2017-07-18 15:06] BYK commented on #3915
I agree with @rally25rs this being too magical. Also, there's this package that would collide: https://yarnpkg.com/en/package/test

I was hoping the `test` package to do the magic for us though 😀

[2017-07-18 15:07] rally25rs commented on #3835
From the docs:

Since the version already specified in `package.json` is used to determine the latest version to upgrade to, the file doesn't need to be changed.

If my package.json contained `foo@^1.0.0` and I currently had version `1.1.0` installed, upgrade might move to a newer version, perhaps `1.2.0`. The package.json entry is still accurate in that I only want versions that match `^1.0.0` (a

[2017-07-18 15:07] #3835 closed

[2017-07-18 15:08] michalpanek opened #3953 "The problem with installing packages that has in a name "@" char."
Currently, I'm fighting with **Yarn**, because Yarn is behaving as I've written above. No problem with install dependencies from package.json without chars like _ **'@'.**_ Packages of course existed (node is installing it).

I'm using .nvm. Of course I removed node, npm, .nvm and reinstalled everything, was using different version of node, but yarn still behaves like in a some of the previous ver

[2017-07-18 15:15] brazorf commented on #2528
Same here

[2017-07-18 15:22] BYK commented on #3953
Hi @michalpanek! I can't see what you mean by "as I've written above" since that seems to be the very first sentence in your issue. May be you've written this somewhere else and then it got cut off somehow?

If you can follow our issue template, we'd be able to help you a lot faster and easier.

[2017-07-18 15:24] BYK commented on #2528
I'd like to quote @torifat here:

If you'd like to get your issue verified and resolved quickly, please follow our issue template and provide as many details as possible along with an isolated reproduction script.

[2017-07-18 15:27] michalpanek commented on #3953
@BYK  O, sorry. I'm mean the title of my isssue: "The problem with installing packages that have in a name "@" char". Probably I didn't express myself precisely. :)

[2017-07-18 15:29] BYK commented on #3313
The lock file only determines the resolved versions. The resolved tree differes between yarn versions and it is codified in the algorithm itself. See [kittens' post](https://yarnpkg.com/blog/2017/05/31/determinism/#hoisting-guarantees):

That said I think I have a solution for you: https://yarnpkg.com/blog/2016/11/24/offline-mirror/#did-you-know-that-yarn-is-also-distributed-as-a-single-bundle-js-

[2017-07-18 15:29] joe-at-startupmedia commented on #2528
I found out the issue on my end, it's the convention in which the repository is loaded, so you have to provide a public key to authenticate to git.

`yarn info is-arrayish@0.2.1`

You'll see

`git+https://github.com/qix-/node-is-arrayish.git`

Related to issue #513

[2017-07-18 15:30] kolaniyi commented on #907
Thanks man, I am using 0.27.5. The latest version as at now

[2017-07-18 15:30] kolaniyi commented on #907
@BYK Thanks man, I am using 0.27.5. The latest version as at now

[2017-07-18 15:30] BYK commented on #3953
@michalpanek hah, no worries. I'd still appreciate if you can follow the issue template along with isolated reproduction steps so we can try this locally and see if we can get a fix.

[2017-07-18 15:32] BYK commented on #907
@kolaniyi sorry, I referred to a non-existent option, `--ci` earlier :)

Try using the `--no-progress` option. You can put this into your `.yarnrc` file to make it the default too.

[2017-07-18 15:34] BYK commented on #2528
@joe-at-startupmedia it should fail instead of freezing if you are using a recent version of yarn. Can someone please use the issue template which tells you to mention the Node and yarn versions along with some other things so we can diagnose this? :)

[2017-07-18 15:37] rubennorte opened #3954 "Scripts that cause a segmentation fault exit with status 0"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Yarn returns an exit status 0 when a script inside the package.json "scripts" causes a segmentation fault.

This only happens when there is a single command in the script (e.g.: `"test": "./segfault"`). When there are several commands in the script (e.g.: `"test-alt": "true && ./segfault"`) it returns

[2017-07-18 15:45] joe-at-startupmedia commented on #2528
@BYK

Sorry don't know where the issue template is but here is my versioning:

[code]

[2017-07-18 15:56] workmanw commented on #3313
Hey that's kind of awesome. I'll give that some consideration, thank you!

One addition that might really make this awesome would be if you could list `yarn` in the `devDependencies` section of your package.json file and the yarn-cli would just invoke the version installed in `node_modules` if present, rather than the global one. This is how `ember-cli` works and it's really a god send. With yarn

[2017-07-18 15:59] kubino commented on #3738
@BYK thank you for still being interested in this. I am far from being expert and maybe I got it wrong. You pointing me to RFC where the title is "make deprecated sub-package warnings more informative". I think delivering DEPRECATED warnings to the users are correct by default (although having a way to suppress particular package warnings would be probably good).
My concern was about OPTIONAL depe

[2017-07-18 16:06] BYK commented on #3738
@kubino no need to be an expert. You know world is full of self-proclaimed experts, so better to claim not being an expert and may be you'll end up being one 🗡

Anyways, I haven't had the time to read that RFC completely yet but I think it falls under the `label = "Interoperability"` section. That said may be we should add a `optimization` section for these cases. That said let's continue the disc

[2017-07-18 16:09] BYK commented on #3313
Get out of my mind! I was actually thinking about something similar 😀

This is interesting and I'm okay trying to mimic an existing, well-established behavior. That said may be instead we can define `yarn` in scrips and point it to your local bundle file so when `yarn` sees that, it uses that one automatically? This avoids the download step and makes things a bit simpler.

I'd really encourage you

[2017-07-18 16:23] BYK commented on #2528
@joe-at-startupmedia you can file a new issue and you'll see the template there.

[2017-07-18 16:44] michalpanek commented on #3953
Ok, but I don't think so this a problem with yarn library itself:) I think this is a problem with some of my conf.

**Do you want to request a *feature* or report a *bug*?**

I request for an advice.

**What is the current behavior?**
When I tried install anything with '@' in name then I got an error:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
As above: I t

[2017-07-18 16:51] voxsim commented on #3952
@BYK I will rename the task and add 'help-wanted' and 'good-first-contribution' label

[2017-07-18 16:54] voxsim commented on #3893
@peterschussheim nope, you can take inspiration from the other tests in the test forlder (for example https://github.com/yarnpkg/yarn/blob/master/__tests__/commands/licenses.js)

[2017-07-18 16:54] ahmehri opened #3956 "--non-interactive flag is not documented"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**
No documentation for `--not-interactive` flag which has been added in #2770.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Documentation for the flag is available.

**Please mention your node.js, yarn and operating system ver

[2017-07-18 17:22] bryanlarsen commented on #3888
Hmm, yes, I suspect you're right.   I don't have the original code I extracted the test case from any more.   We bit the bullet and switched to workspaces so that we only have a single node_modules tree and that seems to have cleaned up some of these niggling issues we've been having.

[2017-07-18 17:22] #3888 closed

[2017-07-18 17:44] marvinhagemeister commented on #3948
Indeed, it is fixed now. Seems like it was a problem with the npm registry itself...

[2017-07-18 17:44] #3948 closed

[2017-07-18 18:23] brandonsturgeon commented on #841
`yarn config set strict-ssl false` Isn't a good permanent solution.

If you can, use the solution that @jeffbski suggested!

[2017-07-18 21:28] arcanis commented on #3953
You forgot the most important part, your package.json :)

[2017-07-18 21:52] onurtemizkan commented on #3939
This issue seems to be fixed by #3861

[2017-07-18 22:54] mnpenner commented on #1508
@whitecolor Will yarn recursively install dependencies from nested package.json files?

[2017-07-18 22:57] CrabDude commented on #3933
@BYK Which of the 5 examples (4 w/package names substituted, 1 w/real package names *copied below*) or their diagrams specifically are unconvincing and why? All are real examples (with real names substituted) demonstrating why hoisting w/o regard to `peerDependencies` is breaking from the node.js ecosystem, in addition to the `webpack` issue referenced (https://github.com/webpack/webpack/issues/52

[2017-07-18 23:13] gardner commented on #1136
Thanks @BYK. The error message is fine. It is more just an inconvenience for me to have hit and error message and then change the command that I type even though the software explains that it knows what I want to do and then requires that I do it the new way. It forces me to accommodate it instead of it accommodating me.

I understand if there are a different opinions on the way syntax should be a

[2017-07-18 23:26] g-plane commented on #3915
I have read readme of `test` package, and it seems we should specify `test` script in `package.json`. But what I have said is, if `test` script isn't existed, Yarn would choose a test runner. In other word, once `test` script is specified, Yarn would run the specified command.
If there's something I misunderstood, discussion is welcomed.

[2017-07-19 04:08] Daniel15 commented on #3944
I think I know what we're doing wrong, I'll take a look.

[2017-07-19 05:23] Daniel15 commented on #3944
@markwoon - If you don't mind, could you please try this one and see if it works for you: https://ci.appveyor.com/api/buildjobs/8q0wl7dlfep73210/artifacts/artifacts%2Fyarn-0.28.0-20170719.0508-unsigned.msi. It should use the existing directory by default. Since this is an unsigned dev build, you'll need to bypass SmartScreen by clicking "more info" than "Run anyway"

[2017-07-19 07:24] javinor commented on #3942
When I omit the `-oBatchMode` flag, it works fine. I ran through the github troubleshooting you sent me, and for some reason, after running `ssh-add -l` it just started working.

Thanks very much for your quick help!

[2017-07-19 07:24] #3942 closed

[2017-07-19 08:10] BYK commented on #3942
Glad we could help and thanks for trying all those and reporting back here!

[2017-07-19 08:26] markwoon commented on #3944
@Daniel15 That did the trick!

[2017-07-19 08:52] JosefJezek opened #3959 "Support for package.json5"
Could you add support for `package.json5`? We need comments and other features of JSON5. ;-)

https://github.com/json5/json5/releases/tag/v0.5.0

[2017-07-19 10:30] BYK commented on #1136
It is not great to make people feel that way. Honest question: if it said `Please, run "yarn add module" instead` would it change how you look at it? :)

[2017-07-19 10:35] BYK commented on #3920
Thanks for reporting. Anyone willing to submit a PR for this?

[2017-07-19 10:36] BYK commented on #3959
I would be hesitant TBH. @yarnpkg/core, thoughts?

[2017-07-19 10:38] cpojer commented on #3959
I don't think this is necessary at this point in time.

[2017-07-19 10:39] BYK commented on #3915
@g-plane sorry for not being more specific. I was trying to say I'd wish a package named `test` do this since you can just run `yarn test` which would invoke that binary automatically.

Although I find the idea interesting, since it is not very feasible to keep track of all test frameworks, I don't think this should be in yarn.

That said you can submit PR's to your favorite test frameworks for th

[2017-07-19 10:39] #3915 closed

[2017-07-19 10:41] #3944 closed

[2017-07-19 10:54] pkuczynski opened #3961 "Yarn fail to install faker.js-2.0.0"
When running

`yarn add --dev faker.js`

I receive output

`error An unexpected error occurred: "https://registry.yarnpkg.com/faker.js/-/faker.js-2.0.0.tgz: Request failed \"404 Not Found\"".`

The same package installs with `npm` without any issue.

Node: 7.10.0
Yarn: 0.27.5
OS: macOS Sierra 10.12.5

[2017-07-19 11:21] arcanis commented on #3959
Yeah .. it would also open another slew of issue, the first of which being: "my comments are being removed when I run `yarn add`"

[2017-07-19 11:27] rarkins commented on #3313
@BYK so is it correct to conclude the following, or have I misunderstood?

Although it is essentially mandatory to coordinate/sync the version  of `yarn` between teams to get deterministic behaviour, there is not currently any standard or convention for how to *define* which version `yarn` a repository uses?

I tried pinning the version of `yarn` in `package.json` > `engines` and using a shell scr

[2017-07-19 11:48] BYK commented on #3313
Not really. I've just mentioned this in my earlier comments. The convention is to check-in the build yarn.js file into the repo unless you are using something like Chef to sync everything across all devices.

I liked your approach but don't understand the concern around

Wasn't that the point then: to lock yarn versions and enforce everyone to use the exact same one?

[2017-07-19 12:07] #3959 closed

[2017-07-19 12:12] matt-pattinson opened #3963 "v"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**

[2017-07-19 12:13] arcanis commented on #3963
You might want to edit this issue?

[2017-07-19 12:13] #3963 closed

[2017-07-19 12:15] rarkins commented on #3313
Yes, but it also locks versions for anyone attempting to *install it* globally as a CLI tool. Perhaps that's a bug/unintended side effect?

What I *want* is to make sure that anyone/anything (collaborators, CI, etc) that interacts with the `yarn.lock` is doing so with a coordinated `yarn` version. What I don't want is to restrict *end users* who just want to install it. i.e. there needs to be a wa

[2017-07-19 12:17] arcanis commented on #3961
That's weird. It seems to be an issue on the npm registry, tho:

https://registry.npmjs.org/faker.js

<img width="776" alt="screen shot 2017-07-19 at 1 16 41 pm" src="https://user-images.githubusercontent.com/1037931/28366419-891b4366-6c84-11e7-9a2d-bc2c57b7e249.png">

https://registry.npmjs.org/faker.js/-/faker.js-2.0.0.tgz

<img width="616" alt="screen shot 2017-07-19 at 1 17 05 pm" src="https:/

[2017-07-19 12:26] BYK commented on #3313
@rarkins  - I see your point. I'd still suggest checking in the `yarn` bundle into the repo and instruct people to use that instead of their global yarn. If you think that's not a great idea may be you can submit an RFC detailing your ideal solution (may be make yarn install the specified version automatically, locally and defer itself to that?): https://github.com/yarnpkg/rfcs

I think this may b

[2017-07-19 12:28] arcanis commented on #3951
I wouldn't class this as a bug. We have no strict guarantee on how the hoisting process will put things in the end - for what it worth, we could implement a `--no-hoisting` flag and your use case would break similarly.

I feel like the fix should be on `@types/angular`, not us - they just have to use a `peerDependencies` entry instead of `dependencies`.

[2017-07-19 12:33] rarkins commented on #3313
@BYK after a few more minutes for the idea to bounce around, I think it's as simple as "yarn should not include yarn version in published package.json" or maybe "yarn should ignore yarn engines field when installing". Given that `yarn.lock` is not meant to be published, I can't see what benefit is derived from a `yarn` engines field passing through the publish stage. This can presumably be done qu

[2017-07-19 12:48] pkuczynski commented on #3961
Hmm, looks like it works now. Maybe it was a temporary npm issue?

[2017-07-19 12:48] #3961 closed

[2017-07-19 12:54] arcanis commented on #3313
A few:

- The principle of least surprise would be broken. A field would behave differently from the others with no clear reason. People would be more likely to think this is a bug than an intentional behavior.

- Other package managers would have to adopt the same convention (and since I doubt they would, this alone makes this solution not applicable).

- We're toying around with exposing a set o

[2017-07-19 13:03] whitecolor commented on #1508
from what nested `package.json`? if your say add `my-express: file:...` module dependency to your `/project/package.json` and this module will contain only express dependency (that is not compatible with express that resides in `/project/node_modules`) it will install this `express` in `/project/node_modules/my-express/node_modules/express` and all express dependencies will go to ``/project/node_m

[2017-07-19 13:12] buncismamen opened #3964 "yarn using latest release instead given git branch"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
yarn using latest release instead given git branch

**If the current behavior is a bug, please provide the steps to reproduce.**
add the git repository
`yarn add https://github.com/aksonov/react-native-router-flux.git#master`

but it only use latest release instead given branch/commit
[code]

and whe

[2017-07-19 13:42] jhabdas commented on #3738
@kubino I've updated the RFC issue description to make it a little easier to use.

The RFC is a proposal to try and help address a number of related use cases which might pop-up by introducing a small (seemingly unrelated) feature which, when used creatively, will help satisfy needs such as those you've raised while also adding additional benefit to the great work Yarn has already accomplished for

[2017-07-19 13:58] BYK commented on #3964
It does install it from GitHub. The package version on GitHub is set to `4.0.0-beta.12`: https://github.com/aksonov/react-native-router-flux/blob/master/package.json#L3

[2017-07-19 13:58] #3964 closed

[2017-07-19 14:02] buncismamen commented on #3964
@byk yeah it is now, becaus the owner of repo just[ released it ](https://github.com/aksonov/react-native-router-flux/releases)

also I still got this warning is ok?

[code]

[2017-07-19 14:05] kurayama opened #3966 "EISDIR error due to filename with a single number"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
Having a file named 0, 1, 2 or 3 breaks install when using native dependencies.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Errors with:
[code]

**What is the expected behavior?**
Install dependencies normally

**Please mention your node.js, yarn and operatin

[2017-07-19 14:13] rarkins commented on #3313
Your solution may still be right, but I think nearly all of the reasoning is flawed.

Yarn smashed that principle to pieces in the first place by enforcing engines by default, while "other package managers" did not. It seems a bit flawed to *now* be claiming compatibility of behaviour with other managers is somehow sacred while before it was not. In fact we're only having this issue *because* yarn

[2017-07-19 14:13] jhabdas commented on #3614
In the general packager case Yarn could potentially be used for Packagist (there's a prototype floating around), and perhaps even CocoaPods, in addition to NPM. A PHP project, for example, might have a `composer.lock` and a `package.json` for managing NPM scripts. Might leaning too far into NPM locking behaviors limit some of these future possibilities for packager extensibility?

[2017-07-19 14:15] xdumaine commented on #3778
I'm on 0.27.5 and still have duplication problems. I have a dependency tree like this

[code]

And when I `yarn upgrade shared-dep` (say when 1.2.0 is released) it causes duplication in yarn.lock where the resolution for `shared-dep` doesn't change for the version pulled in by dep-1 and dep-2 and it adds a new (duplicate) resolution for shared-dep so that now it's pulling in 1.1.0 and 1.2.0.

[2017-07-19 14:16] BYK commented on #3966
Can't repro on latest master. Can you share your `package.json` file?

[2017-07-19 14:20] rarkins commented on #3313
By the way, I don't have a problem with `yarn` enforcing the node version, which was the main topic of discussion in #1102. My point of linking to that was just to show that doing things differently - literally including the engines field - hasn't stopped yarn before.

[2017-07-19 14:22] panalbish commented on #2738
I am on latest version 0.27.5. I also experience the *Request failed 404 Not Found yarn* error. Downgrading the version to 0.27.3 works.

[2017-07-19 14:24] BYK commented on #3951
@arcanis - `semver` clearly defines `*` as _any version_: https://github.com/npm/node-semver#x-ranges-12x-1x-12-

No matter how and what we hoist, we should accept anything for `*`, right?

[2017-07-19 14:27] xdumaine opened #3967 "Yarn upgrade creates duplicate dependency resolution"
On latest yarn 0.27.5

**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**

I have a dependency tree like this

[code]

And when I `yarn upgrade shared-dep` (say when 1.2.0 is released) it causes duplication in yarn.lock where the resolution for `shared-dep` doesn't change for the version pulled in by dep-1 and dep-2 and it adds a new (duplicat