[2017-05-23 21:33] DanBuild commented on #3486
Build was fixed!

[2017-05-23 21:33] #3486 closed

[2017-05-24 01:32] Daniel15 commented on #2064
Adding `~/.config/yarn/global/node_modules/.bin` to your `$PATH` is probably a reasonable workaround for now.

The issue is that Yarn symlinks the executables into the wrong directory (the Node.js directory rather than somewhere reasonable). It doesn't really make sense to use the Node.js directory for these scripts, and on many systems that directory is not even writable by regular users. I fixed

[2017-05-24 03:46] artlogic commented on #3468
Thanks for explaining. After reading this and taking another look, I now understand this behavior. Much appreciated.

[2017-05-24 07:08] davidrobin commented on #3061
Same issue here, when I do an upgrade, ALL packages are being rebuilt, that is for sure a waste of time and efficiency.

[2017-05-24 07:56] nidhinmtw commented on #2754
I have the same issue. I was trying to run the create-react-app command which defaulted to yarn and the same error came.
error An unexpected error occurred: "http://registry.npmjs.org/is-obj: connect ECONNREFUSED 127.0.0.1:3128".
yarn add command also gives the same error.
But npm is working fine.

[2017-05-24 08:05] wildeyes opened #3488 "Feature request: Add who requested package from original dependencies in verbose"
doing `yarn install --verbose` outputs a lot of output similar to:
[code]
I have a package that is misbehaving, but I don't have it in my package.json. It makes yarn install fail. It would be super useful to have a "breadcrumb" text added to the verbose output to indicate the chain of package.json's that lead to the download of the eventual package.

something akin to:

my.package > a.dependency.i

[2017-05-24 08:16] villesau commented on #3301
true. But the actual dependency might exist only because it's a peer dependency of some other package :)

[2017-05-24 08:28] krtek commented on #1184
`yarn config set strict-ssl false` works for me with latest yarn.

[2017-05-24 08:30] bestander opened #3489 "package resolver is sensitive to order"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

From https://github.com/yarnpkg/yarn/pull/3477#issuecomment-303537660:

With 2 patterns, a@1.0.1 (A) and a@^1.0.0 (B), current version 1.0.2, the following can happen:
Order 1

A resolves, adds version 1.0.1
B resolves, finds matching version 1.0.1, delays
final resolve for B, to version 1.0.1
Outcome

[2017-05-24 08:32] bestander commented on #3489
@blexrob, you've done a great fix for pattern resolver in https://github.com/yarnpkg/yarn/pull/3477, would you have time to solve this one?

[2017-05-24 08:59] hossameldeen commented on #2932
Wow, that was really weird. Had a similar problem, but with slightly-different reproduction steps.

### Summary
Make sure `process.env.NODE_ENV` is not `production`. And perhaps it's `production` because your terminal is a child process of a Node application that has `NODE_ENV` set to `production`.

### Diagnosis of my case
- Windows.
- `yarn install` was not installing & removing dev dependencies

[2017-05-24 09:53] burkhardr commented on #3034
@bestander Am I right in assuming that this wouldn't work for options like `--install.offline true` since `yarn_--offline-cache=true yarn` wouldn't be valid env var syntax?

I want my CI to only use my offline mirror. Any suggestions?

[2017-05-24 09:55] felixfbecker commented on #3034
@burkhardr I think the env var for that would be `YARN_OFFLINE_CACHE`

[2017-05-24 10:03] bestander commented on #3034
@burkhardr, I think `--offline` is configured only as a CLI argument.
So `--install.offline true` in .yarnrc should force this flag for you, that should be enough to force offline mirror.

[2017-05-24 10:09] amarnus commented on #2932
@hossameldeen: I didn't know that `yarn install --production=false` works. So, that overrides the behavior caused by the `NODE_ENV` environment variable being set to `production`, is it?

[2017-05-24 10:12] #2660 closed

[2017-05-24 10:14] burkhardr commented on #3034
@felixfbecker I can't find any documentation or code reference for an `offline-cache` option. Where did you find that?

@bestander Yeah, that's what I was doing initially, but I don't want to run this locally (only on CI/heroku), that's why I was looking for an env var solution.

What I've tried so far:

[code]

[code]

If it was just on the CI, I could simply append `--install.offline true` to `.

[2017-05-24 10:18] bestander commented on #3034
It might need a code change then.
This https://github.com/yarnpkg/yarn/blob/master/src/config.js#L305 needs
to be more like this
https://github.com/yarnpkg/yarn/blob/master/src/config.js#L260

On 24 May 2017 at 11:14, Burkhard Reffeling <notifications@github.com>
wrote:

[2017-05-24 10:20] bestander commented on #3274
If anyone has some knowledge of how node-sass is installed and wants to help Yarn team to debug the issues with it, that would be awesome!

[2017-05-24 10:28] #3441 closed

[2017-05-24 10:46] felixfbecker commented on #3034
@burkhardr In your comment 😄

[2017-05-24 10:54] burkhardr commented on #3034
@bestander Just been digging a little further. Without knowing the yarn cache in detail, this looks tricky at the moment because the `this.registry` gets built in https://github.com/yarnpkg/yarn/blob/master/src/config.js#L222, after `_init` is being called.

[2017-05-24 11:27] xzyfer commented on #3274
I'm the maintainer, happy to help

On 24 May 2017 12:20 pm, "Konstantin Raev" <notifications@github.com> wrote:

[2017-05-24 11:43] oskarrough commented on #1860
Also seeing what I think is a form of this bug https://github.com/pocketjoso/penthouse/issues/162

[2017-05-24 12:01] hossameldeen commented on #2932
@amarnus, seems so #2167. But it's not documented yet. Sent a PR yarnpkg/website#510.

[2017-05-24 13:01] bestander commented on #3489
On top of it, I think we should disable this lockfile optimization if `--pure-lockfile` is passed otherwise does it mean that we may have different trees resolved with the same lockfile?

Another idea to discuss, should we make this dependency optimization an opt-in feature?

[2017-05-24 13:02] bestander commented on #3489
Related to this https://github.com/yarnpkg/yarn/issues/3313

[2017-05-24 13:24] bestander opened #3490 "package-resolver should not optimize yarn.lock by default"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**

If yarn.lock has this entry

[code]

Yarn would try to optimize it and use the highest compatible resolution everywhere, specifically after yarn install the lockfile will be optimized into

[code]

And the packages will be installed 6.23 everywhere.

**What is the expected behavior?**

Yarn should

[2017-05-24 13:25] bestander commented on #3489
Raised this one https://github.com/yarnpkg/yarn/issues/3490

[2017-05-24 14:06] stephanieder commented on #3203
Hello,
Someone has try with v0.24.5 ?

[2017-05-24 14:15] bestander commented on #3474
claiming #792 - #1143

[2017-05-24 14:21] bestander commented on #792
Just send a PR for --registry, FYI though that config.getOption('registry') is used in multiple places

[2017-05-24 14:24] bestander commented on #806
Should be fixed now

[2017-05-24 14:24] #806 closed

[2017-05-24 14:28] bestander commented on #820
The issue above should have been fixed around 0.19.
@diervo, please open a new issue with repro steps.

[2017-05-24 14:28] #820 closed

[2017-05-24 14:30] bestander commented on #869
Looks like this was mitigated by now

[2017-05-24 14:30] #869 closed

[2017-05-24 14:32] bestander commented on #872
Can't reproduce this issue anymore, following the steps https://github.com/yarnpkg/yarn/issues/872#issuecomment-256284723.

Please open a new one with repro steps if you see it

[2017-05-24 14:32] #872 closed

[2017-05-24 14:34] bestander commented on #877
Yarn should dedupe things by default.
If you think deduping will be useful as a separate step feel free to start an RFC, this needs discussion and PROS/CONS consideration

[2017-05-24 14:34] #877 closed

[2017-05-24 14:42] bestander commented on #886
PR to fix this is welcome.
In the end the issue is in the packages as they declare bundledDependencies but actually they are not included.
I think Yarn should fetch the non bundled dependency anyway so a fix is relatively straightforward.

[2017-05-24 14:43] bestander commented on #907
The title issue should have been fixed

[2017-05-24 14:43] #907 closed

[2017-05-24 14:44] bestander commented on #928
Please provide repro steps

[2017-05-24 14:44] #928 closed

[2017-05-24 14:45] bestander commented on #931
@AntJanus, could you send your package.json if you still have problems with the installation?
I'll close the task for now as I can't act on it without repro steps

[2017-05-24 14:45] #931 closed

[2017-05-24 14:53] bestander commented on #937
Can repro.
The problem is in `linkedModules` field in node_modules/.yarn-integrity.
Yarn would ignore a missing folder if it is a modules globally registered as linked.

It should at least check if symlink exists

[2017-05-24 14:53] bestander commented on #941
Send an RFC.

[2017-05-24 14:58] bestander commented on #946
Workspaces will be a Yarn-native solution to Lerna

[2017-05-24 14:58] #946 closed

[2017-05-24 14:59] bestander commented on #1096
Looks like this is a configuration issue

[2017-05-24 14:59] #1096 closed

[2017-05-24 14:59] #1101 closed

[2017-05-24 15:01] bestander commented on #1121
Should be fixed now

[2017-05-24 15:01] #1121 closed

[2017-05-24 15:03] bestander commented on #1136
Should be resolved now

[2017-05-24 15:03] #1136 closed

[2017-05-24 15:07] bestander commented on #1143
Fixed

[2017-05-24 15:07] #1143 closed

[2017-05-24 15:09] bestander commented on #1100
Send a PR to support it

[2017-05-24 15:12] bestander commented on #955
Seems to be fixed now

[2017-05-24 15:12] #955 closed

[2017-05-24 15:29] andreineculau commented on #877
@bestander just to make sure - you are requesting that this issue gets transformed into a pull request to https://github.com/yarnpkg/rfcs , right?

[2017-05-24 15:30] bestander commented on #877
Yes, please

[2017-05-24 15:37] kakumei12 opened #3491 "Anyone know how to do a manual installation of yarn ???"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**

[2017-05-24 15:40] bestander commented on #3485
linking https://github.com/yarnpkg/yarn/issues/3274

[2017-05-24 15:43] hmarr commented on #3489
I think I've hit this one too - I've found a case where upgrading a package then running a `yarn install` results in a changed lockfile (even with yarn 0.26).

I've put a script together that reproduces the issue here https://github.com/hmarr/yarn-lock-inconsistency

[2017-05-24 15:45] bestander commented on #3489
Thanks for repro, @hmarr.

[2017-05-24 15:47] bestander commented on #3485
cc @xzyfer, who offered helping with making Yarn work with node-sass.

So, correct me if I am wrong, Yarn runs install scripts of node-sass package which generates `node-sass/vendor` folder.
Turns out, sometimes this folder gets deleted by Yarn?

Does anyone have a repro step?

[2017-05-24 15:48] bestander commented on #3274
That is awesome, @xzyfer, I've linked you in another issue.
Could you help out with the repro step?

[2017-05-24 15:53] blexrob commented on #3489
This is a first try for a deterministic algorithm. No early outs based on earlier registry resolves,
so resolving order won't influence the final outcome.

[code]

This algorithm has a 2 drawbacks:
- it iterates dependencies of versions that won't be used later on, so lower perf than current algorithm
- its decisions won't always be clear from the resulting tree. Some dependencies can introduce us

[2017-05-24 15:53] bestander commented on #3491
The most manual is download a .js file from releases https://github.com/yarnpkg/yarn/releases.
Or the installer.
Otherwise here https://yarnpkg.com/en/docs/install#alternatives-tab

[2017-05-24 15:53] #3491 closed

[2017-05-24 16:04] #3483 closed

[2017-05-24 16:15] leosco commented on #1458
@iamfreee I'm running Yarn v0.24.5 and running `yarn upgrade` doesn't update package.json, only yarn.lock. This can't (or at least shouldn't) be intentional, because first of all, the versioning in package.json is to set the actual version of the package first, and then dictate upgrade constraints, i.e. `^` or `~`. Second of all, running `yarn upgrade` on an individual package changes the package.

[2017-05-24 16:15] terribleplan commented on #2698
We are observing this during a docker container build...

[code]

This is as a `RUN` step inside our Dockerfile with commands such as `RUN yarn && yarn build && rm -rf node_modules && yarn --production `.

[2017-05-24 16:30] xzyfer commented on #3485
I'm currently on holidays but will be back to normal activity next week.
IIRC the repro is to installal node-sass, rm node_modules, and run yarn
install again.

On 24 May 2017 5:47 pm, "Konstantin Raev" <notifications@github.com> wrote:

[2017-05-24 16:35] leosco opened #3492 "CLI - yarn upgrade's behavior is not as expected"
I'm running Yarn v0.24.5 on Windows 10 x64 and Node v7.10.0.

Running `yarn upgrade` doesn't update package.json, only yarn.lock. This can't (or at least shouldn't) be intentional, because first of all, the versioning in package.json is to set the actual version of the package first, and then dictate upgrade constraints, i.e. `^` or `~`. Second of all, running `yarn upgrade` on an individual packa

[2017-05-24 16:52] iamfreee commented on #1458
@leosco In my case `npm update` didn't update the `package.json` too and also `yarn upgrade [package]` didn't did the trick. That's why i think the issue is related to version constraint `^`, or is the expected behavior.

[2017-05-24 16:55] leosco commented on #1458
@iamfreee Nope, you've gotta do `npm update --save` which is supposed to be Yarn's default behavior.

[2017-05-24 16:55] valnub commented on #1458
`yarn upgrade-interactive` does the trick for me https://yarnpkg.com/lang/en/docs/cli/upgrade-interactive/

[2017-05-24 16:58] leosco commented on #1458
I posted a new issue detailing all this, see here https://github.com/yarnpkg/yarn/issues/3492 and perhaps continue the discussion there.

[2017-05-24 17:22] AlexxNica commented on #1570
@whitecolor I think [yall](https://github.com/whitecolor/yall) would be a better call for this problem. Even though I think this should be fixed/added to the package manager itself, this seems like a good workaround for now.

[2017-05-24 18:00] jirehstudios opened #3493 "Problem running production task"
I am using Laravel 5.4 with the default package.json except I removed some dependencies. When I run `yarn run dev` there is no issue, but `yarn run production` produces the following:

    undefined:1625
    throw new JS_Parse_Error(message, filename, line, col, pos);
    ^
    SyntaxError: Unexpected token: punc ())
    at JS_Parse_Error.get (eval at <anonymous> (/home/marcos/Repos/ada-app/node_m

[2017-05-24 18:05] whitecolor commented on #1570
Well, `yall` is a tool for mainly installing dependencies TO monorepo not FROM) anyway installing from git often doesn't work as now packages require build step, so not sure if the original issue is really actual.

[2017-05-24 18:22] FrankFang commented on #1496
[code]

[code]

[code]

:(

[2017-05-24 18:22] psaussure opened #3494 "Error 500 on registry.yarnpkg.com while installing a package"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Our CI, trying to install packages on an Angular solution, fails with an Error 500.

Running `npm install` instead of `yarn install` works perfectly.

**Please note**: this is intermittent bug. Sometimes the install go through complete process without 500 Error.

**What is the expected behavior?**
No 5

[2017-05-24 18:25] juanca commented on #1570
This would be ideal for https://github.com/yarnpkg/e2e-test-repo/issues/2

[2017-05-24 18:32] MadaraUchiha commented on #3481
Here's a hint we've found @bestander, there's an empty file named `1` in our root directory. Removing it resolves the issue.

We didn't find anything overly useful with `--verbose` except that the exception is thrown in the file resolver.

[2017-05-24 18:53] bestander commented on #3489
After thinking a bit more about this today I think we should step back actually.

Yarn guarantees that node_modules will be installed the same way for the same lockfile and developers won't get surprisingly different results every time install command runs.

That is why Yarn should not optimize lockfile while resolving dependencies during install.
It can offer deduping but that should be a volunta

[2017-05-24 18:54] bestander commented on #3489
@blexrob, thanks for offering your insight!
And no pressure if you can't work on it now.

[2017-05-24 19:09] sindrenm opened #3495 "Installation Problem: Arch Linux – invalid PGP signature"
**Which operating system are you using:**

Arch Linux

**Please describe the steps you took when trying to install Yarn and what went wrong:**

Tried installing from the official repositories:
[code]

Firstly, I'm getting a ton of 404s from several mirrors:
[code]
(Truncated for brevity, can post full errors if needed.)

Then I'm finally able to resolve one package, but the signature seems to be o

[2017-05-24 19:13] KishanBagaria commented on #2064
**Windows and macOS**
`/usr/local/bin` is writable in a default macOS installation and that's where Homebrew writes stuff. When node/npm is installed from Homebrew, [Homebrew edits the prefix config in `.npmrc` so that npm links the global binaries in `/usr/local/bin` too](https://github.com/Homebrew/homebrew-core/blob/master/Formula/node.rb#L115).

For Windows and macOS, we can use `%LocalAppData

[2017-05-24 19:51] danilo-drs commented on #1214
I'm getting this issue on version 0.24.5.
I have some packages that i developed and they are not published on any server, they are just linked.
My projects uses this linked packages and some published packages like express or bluebird.
when I try to run "yarn" to install all or a specific package it returns the error:

steps to reproduce:

cd path/to/a-dev-package
yarn link
cd path/to/a/project
ya

[2017-05-24 21:27] JasonEtco opened #3496 "Typo in warning message"
**Do you want to request a *feature* or report a *bug*?**
It's a lil' ol' typo bug

**What is the current behavior?**
There's a typo in the `Lockfile has incorrect entry` warning message. `Ingoring` instead of `Ignoring`

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/yarnpkg/yarn/blob/8ede3c41cfb389ee408ae1094503649dc11b11cc/src/reporters/lang/en.j

[2017-05-24 23:45] acburdine commented on #3485
I've got a repro that I've hit 3 or 4 times in a row with the same steps.

My project uses `gulp-sass`, which uses `node-sass`, so my project doesn't depend on node-sass explicitly, but I've ran into this issue with `ember-cli-sass` as well on another project so I don't know if it has anything to do with sub-dependencies.

Steps:
1. yarn install (with no `node_modules` folder)
2. `yarn add <dep>`

[2017-05-25 00:20] olingern commented on #1845
Looked at this tonight. A couple of problems. The main one being that yarn flattens the dep tree for output.

This may be a different command or need a flag to invoke the npm style tree output structure, as I see building the dependency tree for this to be somewhat different than what `yarn list` currently does

[2017-05-25 03:17] gpoole commented on #3313
The `integrityError` I'm seeing is `LOCKFILE_DONT_MATCH`, but `missingPatterns` is empty. In my case it seems to be because Yarn isn't changing the lockfile due to missing entries, it's just rearranging stuff. I've put up a failing test and hopefully a working fix in #3497.

[2017-05-25 04:48] binarykitchen commented on #3011
hello??

[2017-05-25 04:49] binarykitchen commented on #3011
@bestander cc

[2017-05-25 07:18] xakep139 commented on #1222
There is similar issue with Jest: https://github.com/facebook/jest/pull/3626

[2017-05-25 07:50] klofi commented on #521
I can confirm that private scoped packages with scope and registry defined in `.npmrc` started working in Yarn 0.24.6 (did not work in Yarn 0.24.5). Thank you!

[2017-05-25 09:55] EugeneHlushko commented on #3495
More to say, 0.24.6-1 is not available

[2017-05-25 10:14] mjesun commented on #3393
Hi, I'll be working on this.

[2017-05-25 10:17] bestander commented on #3393
@mjesun, consider making it generic so that other config settings could use it.

[2017-05-25 10:26] bestander commented on #3496
Thanks, would you send a PR please?

[2017-05-25 10:29] bestander commented on #3493
Hi, could you please create a repro scenario on github?
I.e. a project with a guide how to reproduce the issue?
I'll close but feel free to reopen with repro steps.

[2017-05-25 10:29] #3493 closed

[2017-05-25 10:31] bestander commented on #3485
Thanks!

On 25 May 2017 at 00:45, Austin Burdine <notifications@github.com> wrote:

[2017-05-25 10:33] bestander commented on #3011
Thanks for reporting, @binarykitchen.
If it gets stuck then probably it tries to prompt for authentication.
Please open a new issue

[2017-05-25 11:32] Daniel15 commented on #3495
Please contact the maintainer of the Arch Linux package. It's not maintained by the Yarn team. cc @svenstaro - Looks like that's your email address in the GPG signature 😃

[2017-05-25 11:34] Daniel15 commented on #3487
This seems to have fixed itself somehow.

[2017-05-25 11:34] #3487 closed

[2017-05-25 11:50] EekoS opened #3498 ""command not found" when executing globally installed package"
Hi,

I'm trying to install Angular CLI globally with yarn, but I can't seem to get it to work (`ng -v` doesn't work).

I get the following warning, and `ng -v` doesn't work - not on the same terminal window, not on a new terminal window, and not after closing this terminal window and opening a new one :(

[code]

[code]

[code]

I saw a [similar issue](https://github.com/yarnpkg/yarn/issues/1285)

[2017-05-25 12:49] bestander opened #3499 "create-react-app install issues"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

See

https://github.com/facebookincubator/create-react-app/issues/2352#issuecomment-303804799
https://github.com/facebookincubator/create-react-app/issues/2360#issuecomment-303986953

[2017-05-25 12:51] bestander commented on #3499
If anyone hits a problem with create-react-app and Yarn please add your repro steps here.
We'll deal with them before releasing 0.26

[2017-05-25 13:21] matt3224 opened #3500 "Yarn upgrade-interactive check should ignore exact or subversion dependencies"
**What is the current behavior?**

Currently if you have something like this in your dev dependencies:
`"clean-css": "~3.4.26"` or `"clean-css": "=3.4.26"`
it will still offer an update to 4.x.x

**What is the expected behavior?**

I would expect yarn upgrade-interactive to not offer the update at all if i have set `=` and only offer subversion updates if i supply `~`

**Please mention your node.j

[2017-05-25 14:33] wangtao0101 commented on #3328
+1

[2017-05-25 15:01] wincent commented on #2989
@bestander: This doesn't necessarily have anything to do with multi-folder projects. `npm_package_config` is generic mechanism for defining variables in the `package.json` and then referencing them in scripts in a way that users can control using `npm config`. From [the docs](https://docs.npmjs.com/files/package.json#config):

[2017-05-25 15:22] bestander commented on #1952
This should be quite easy to fix, as the code that reads those .npmrc settings is easy to find, a PR is welcome.

[2017-05-25 15:27] mjesun commented on #3393
Hi @bestander,

There is not much we can do here. [Tilde expansion](https://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html) happens before we can intercept it; so when we read it there is no access to the original value. However, when you quote it (i.e., `yarn config set cache-folder '~/yarn-caches'`) it works.

[2017-05-25 15:29] bestander commented on #3393
Yeah, we can cover this case.
I am more interested in ~ expansion at read time

On 25 May 2017 at 16:27, Miguel Jiménez Esún <notifications@github.com>
wrote:

[2017-05-25 15:31] mjesun commented on #3393
Ok, sounds cool :)

[2017-05-25 17:18] JasonEtco commented on #3496
Thanks @ppsmirnov for getting to it before I could 🥇

[2017-05-25 17:38] eigood commented on #2693
npm install, npm run, both find the correct root.  yarn variants don't.  It's enough to make me not use yarn.

[2017-05-25 18:30] BendingBender opened #3503 "yarn upgrade-interactive doesn't show links to READMEs any more"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
Yarn used to show links to packages' README files in a third column next to the packages' old and new versions. This was very convenient as one could navigate directly to the projects' pages to look at what has changed before doing an upgrade.

**If the current behavior is a bug, please provide the st

[2017-05-25 19:20] alecharmon commented on #3450
@bestander  👋  im gonna give a crack

[2017-05-25 19:23] munsellj commented on #2702
This issue also stemmed from an invisible ssh key password prompt.  I was using a fresh setup from a clean macOS install when I ran into the problem and had not yet remembered to [add my ssh key to the ssh agent](https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/).  After doing so the problem was resolved.

[2017-05-25 19:46] snewell92 commented on #1222
Yarn was working for me fine last week, this week it seems I am also experiencing this as well. Here is my environment, hopefully can help track it down/repro.

Windows 10Pro 64-bit Version 10.0.15063 Build 15063.

![vscodestats](https://cloud.githubusercontent.com/assets/25957964/26467533/9e986c48-4158-11e7-91a0-a7972184470d.JPG)

![nodenpmyarnstats](https://cloud.githubusercontent.com/assets/259

[2017-05-25 20:14] alecharmon commented on #3450
@Ramblurr

can you give an explicit example of how you are trying to log in programmatically

[2017-05-25 21:06] YUzhva commented on #2824
Got the same issue in v0.24.6

[code]
¯\_(ツ)_/¯

[2017-05-25 21:25] Gozala opened #3504 "yarn hangs when I attempt to publish package with it"
**What is the current behavior?**

When I do `yarn publish --verbose` for pretty much any of my packages I see following output:

[code]

And from that point on no activity seems to be taking place. Associated node process does not seem to be doing anything either at least it's memory usage is around 50mb on my machine and CPU usage stays at 0%.

I also have no problem at all when publishing with

[2017-05-25 21:36] LandonSchropp opened #3505 "Non-interactive login"
**Do you want to request a *feature* or report a *bug*?**

Request a feature

**What is the current behavior?**

I'm writing a simple script to automatically publish my package to NPM when the version has been bumped.

[code]

This fails because the `yarn publish` command prompts me for a login. Since this script will be run in CircleCI, I need a way to log in programmatically.

**What is the expe

[2017-05-25 21:51] asaletnik commented on #2426
+1

[2017-05-25 22:28] Gozala commented on #3504
I've updated node to `v7.10.0` but that did not resolve this issue.

[2017-05-25 22:37] collinsauve opened #3506 "Yarn install --pure-lockfile deleting artifact folders for dependencies that already existed and were not reinstalled"
**What is the current behavior?**

I have discovered some cases where some dependency artifact folders are deleted when running `yarn install --pure-lockfile`.  In particular this affects [node-sass](https://www.npmjs.com/package/node-sass) for my day-job project if I have deleted some *other* `node_modules/package-name` folder.  I have created a small repo that reproduces this problem.

**If the

[2017-05-25 23:48] #3496 closed

[2017-05-25 23:49] mkxml commented on #2251
If I'm not wrong this issue has been addressed with [yarn-offline-mirror-pruning](https://yarnpkg.com/en/docs/prune-offline-mirror). Can this issue be closed?

[2017-05-26 00:35] #2251 closed

[2017-05-26 01:57] arichiardi commented on #610
👍  throwing ideas at this 😁 `yarn semver` should probably do something like this `clojure` boot task https://github.com/degree9/boot-semver#task-options, where you can pass these https://github.com/degree9/boot-semver#helpers

[2017-05-26 02:05] gsklee commented on #3157
@illegalnumbers Could you please provide some more information? Did you mean that your Bash `alias` were being overridden? Or was it something similar to what was described in #2337?

[2017-05-26 02:23] gsklee commented on #1432
@bestander close

* This is not a bug and is not specific to `yarn pack`; it's the current behavior of adding the `--json` flag to any Yarn command

* The non-parsable claim appears to be a subjective one; the output follows an open data format called [NDJSON](http://specs.okfnlabs.org/ndjson/) which is designed exactly to make JSON streaming parsing a friendly task

[2017-05-26 02:33] gsklee commented on #3474
This is a note-to-myself for issues that lack information:

#3036 #3157

[2017-05-26 04:16] Daniel15 commented on #1159
I don't think this is an issue any more. We can consider `bundledDependencies`, but most remotely-hosted CI systems preinstall Yarn now, so installation time of Yarn itself is not an issue. Additionally, we dramatically improved the installation speed of all the non-npm installation methods with the most recent Yarn release.

[2017-05-26 04:16] #1159 closed

[2017-05-26 04:18] Daniel15 commented on #3498
Try running `yarn global bin` and check that the directory it prints out is on your `PATH`.

Also try with `sudo` (ie. `sudo yarn global add @angular/cli`) as there may  still be an issue with Yarn incorrectly using the Node.js installation directory as the executable directory, which is not writable by normal users.

[2017-05-26 04:19] Daniel15 commented on #3479
The error says "Try to update node-gyp" - maybe try that? `yarn global add node-gyp`.

[2017-05-26 06:12] gsklee commented on #773
@Daniel15 If you're still looking to pursue this idea, the scale of this feature request means that it needs to go through the [proper RFC process](https://github.com/yarnpkg/rfcs).

[2017-05-26 06:14] Daniel15 commented on #773
Yeah... This issue was created before the RFC process was finalized, hence why it's in the repo.

[2017-05-26 06:27] gsklee commented on #773
Well in that case, is it safe to say that we can close this issue for now? I'm helping out with #3474 :-p

[2017-05-26 07:34] julien-f commented on #3479
I've never installed it by myself but maybe the version packaged with yarn is too old for 7.10.0 indeed.

I'll try :)

[2017-05-26 08:54] Ramblurr commented on #3505
Duplicate of #3505

[2017-05-26 08:57] Ramblurr commented on #3450
My actual example might not be too helpful as it is in gradle. However what I'm trying to do is the equivalent of:

[code]

However this doesn't work when their is no tty.

A way to login with env vars or flags would be great.

[2017-05-26 09:08] swernerx opened #3507 "Does not compile from source when binary not available (like NPM does)"
I see a bug when trying to install a package which depends on node-zopfli. There currently does not seem to be a binrary available for my platform: NodeJS 7.10 + Mac OS 10.12.5.

Behavior of NPM (@5.0.0):
- Trying to download the package.
- Fails with 403
- Downloads & compiles source package

[code]

Behavior of Yarn (@0.24.6):

- Trying to download the package.
- Fails with 403
- No attempt to d

[2017-05-26 10:28] #1432 closed

[2017-05-26 10:37] aios commented on #1961
Problem still happens

[2017-05-26 10:38] sindrenm commented on #3495
Ahh, sorry about that, @Daniel15. Since it was documented in the README, I figured it was also maintained by the maintainers of Yarn. And I thought it'd be nice to have installation issues in one place for others with the same problem. :smile:

[2017-05-26 10:41] sindrenm commented on #3495
Hmm … I just tried installing it on another machine (also running Arch) and I had no issues there. Was the package updated? If not, then perhaps there's something wrong with my setup on the first computer I tried it on when I opened this issue. Strange. Feel free to close unless you wish, as it does seem to work on this laptop, so I guess the package is probably fine. :+1:

[2017-05-26 10:53] whitecolor commented on #1961
@aios what version?
Probably [PR](https://github.com/yarnpkg/yarn/commit/e56cdb8f0a68aa8e7c0992698a0f9b3225052d5b) is not landed in stable?

[2017-05-26 10:55] aios commented on #1961
@whitecolor Yep verison was 0.12.0

[2017-05-26 11:00] bestander commented on #1961
Should be fixed in 0.26

[2017-05-26 11:00] #1961 closed

[2017-05-26 11:08] aios commented on #1961
@bestander Great)
So can i use nightly build to development environment?

[2017-05-26 11:09] bestander commented on #1961
Yep

On 26 May 2017 at 12:09, Dave <notifications@github.com> wrote:

[2017-05-26 11:36] aios opened #3508 "Trace: Error: ENOENT: no such file or directory, symlink '../gulp/bin/gulp.js' -> '/app/node_modules/.bin/gulp'"
Arguments:
  /usr/bin/nodejs /usr/share/yarn/bin/yarn.js install

PATH:
  /composer/vendor/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

Yarn version:
  0.26.0-20170525.2353

Node version:
  7.10.0

Platform:
  linux x64

npm manifest:
[code]

After answer in #1961 just that trace
`
Trace:
  Error: ENOENT: no such file or directory, symlink '../gulp/bin/gulp.js' -> '/app/node_m

[2017-05-26 13:22] Mart112358 commented on #521
yarn install v0.24.6
info No lockfile found.
[1/4] Resolving packages...
warning cldr-data > cldr-data-downloader > npmconf@2.0.9: this package has been reintegrated into npm and is now out of date with respect to npm
warning cldr-data > cldr-data-downloader > request > node-uuid@1.4.8: Use uuid module instead
[2/4] Fetching packages...
warning There appears to be trouble with your network connect

[2017-05-26 14:17] alecharmon commented on #3450
ok so it sounds like env variables are the way to go.
So the procedure that I have in mind is to check if the session is not tty, if not then check to see that there exists env vars `$NPM_USER`, `$NPM_EMAIL`. If they exist we pipe them into the login procedure and raise an error otherwise. I'm still looking into all of the instances where the password is required, but I imagine it would be almost

[2017-05-26 14:40] mkxml opened #3509 "yarn is not syncing scoped packages with the offline mirror when automatic pruning is enabled"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When using and offline mirror and setting `yarn-offline-mirror-pruning` to `true` the offline mirror does not sync scoped packages.

**If the current behavior is a bug, please provide the steps to reproduce.**

I've put up a [repo](https://github.com/mkxml/yarn-scoped-offline-bug) reproducing the bug

[2017-05-26 15:43] ilatypov commented on #743
Cygwin's mintty returns false to ``node -p -e "Boolean(process.stdout.isTTY)"``.

[2017-05-26 15:49] ericsoco commented on #2337
From another dev, here is a workaround (untested by me):
- `brew link --overwrite yarn` to install `yarnpkg`
- create a script to put hadoop yarn earlier in your path, and execute that initialization script before you do any hadoop yarn work

[2017-05-26 16:51] LandonSchropp commented on #3505
@Ramblurr I think you accidentally tagged this ticket instead of the other one. 😃

[2017-05-26 16:51] destroyerofbuilds commented on #3485
I've put the following repository together to reproduce the issue - https://github.com/destroyerofbuilds/yarn-sass

Developers at the company I work for actually run into the issue when using `--force-lockfile`, but I haven't been able to create a reproducer for that flag.

[2017-05-26 16:54] brianhorst commented on #3469
I just started with yarn to be able to use offline mode, but ran into the same issue you describe here. It doesn't seem like this issue is addressed in any way. Do you just need to constantly rebuild the offline mirror? Maybe this issue should be re-opened if that's the case.

[2017-05-26 17:46] vesterij commented on #3469
In my case CI build happens with internet and I only need to rebuild offline mirror just before pushing version to production environment. So I just rebuild offline mirror from scratch roughly twice a month.

But I agree that this is not working properly and should be fixed or at least explained better in documentation.

I don't have time to study this or try to narrow problem down. I'll reopen th

[2017-05-26 18:07] silverwind commented on #2693
The desired behaviour should be to search for `package.json` in parent directories up to the filesystem root and then install into its parent directory.

I run into this issue almost daily when I forget to `cd` to the project root before `yarn add`.

[2017-05-26 18:12] wtchangdm commented on #859
Hi, I just installed 0.24.5 by npm. It can install global package now but still not executable.

[code]

[2017-05-26 18:53] truckingsim commented on #3503
This also happens with `yarn outdated`

[2017-05-26 18:55] Subzidion commented on #3495
Make sure that your [system is up to date](https://wiki.archlinux.org/index.php/System_maintenance#Upgrading_the_system). Can you install packages other than yarn?

[2017-05-26 19:17] svenstaro commented on #3495
Arch does not support partial updates. Always use -Syu when installing a package.

[2017-05-26 19:40] chamini2 commented on #573
This could be closed now, right?

[2017-05-26 20:27] exogen commented on #1661
I've been experiencing a strange issue off and on with `graphql` and `graphql-relay`, and I just tracked it down to this (or a similar) Yarn issue.

* My project depends on `graphql` and `graphql-relay` (and they both definitely need to be in `dependencies`, not `devDependencies` nor `peerDependencies`).
* `graphql-relay` has a `peerDependency` on `graphql`, and it's common for its `graphql` peerD

[2017-05-26 20:44] bilby91 commented on #573
Last version fixes the problem.

[2017-05-26 21:01] #573 closed

[2017-05-26 23:30] sindrenm commented on #3495
Yeah, my system is up to date and I'm able to install other packages. I just managed to install it using the exact same command I tried with two days ago. Strange. :stuck_out_tongue:

Thanks for the quick responses, guys. :smile:

[2017-05-26 23:30] #3495 closed

[2017-05-27 00:09] dohpaz42 commented on #1496
Adding in my +1 on Mid-Summer 2010 MacBook Pro (Sierra 10.12.4) using yarn 0.24.5, node 7.10.0, and npm 4.2.0:

    "dependencies": {
        "@angular/animations": "^4.1.3",
        "@angular/common": "^4.0.0",
        "@angular/compiler": "^4.0.0",
        "@angular/core": "^4.0.0",
        "@angular/forms": "^4.0.0",
        "@angular/http": "^4.0.0",
        "@angular/material": "^2.0.0-beta.5

[2017-05-27 00:40] matthew-dean commented on #764
I'm new to yarn. Tried it for the first time. Ran `yarn install`. Result: hanging indefinitely during install of packages. (Specifically, the `jsesc` package, but not sure that matters.)

Turns out, yarn botched all my NPM commands? o_O "npm clean" now no longer works after a simple `brew install yarn` and `yarn install`. That's all I did in a project folder, and my GLOBAL Node modules are now bor

[2017-05-27 01:14] Daniel15 commented on #859
If you install Yarn via npm, you'll need to manually add
%LocalAppData%\Yarn\bin to your path.

Sent from my phone.

On May 27, 2017 4:13 AM, "W.T. Chang" <notifications@github.com> wrote:

Hi, I just installed 0.24.5 by npm. It can install global package now but
still not executable.

C:\>yarn --version
0.24.5

C:\>yarn global add pm2
yarn global v0.24.5
warning No license field
[1/4] Resolving p

[2017-05-27 01:21] matthew-dean commented on #764
For me, it hangs here indefinitely:
![screen shot 2017-05-26 at 6 21 03 pm](https://cloud.githubusercontent.com/assets/414752/26516735/242f1270-4240-11e7-9328-bec9d68c1a48.png)

[2017-05-27 08:12] whitecolor commented on #683
@marc-guenther

This is a tool for monorepos, not for big environments. If the cache error happens it fixes it up the cached directory re-run failed processes without concurrency. It's a kind of hack of course, but it works. And in non-first time installations where you have most of the packages in cache already the chache error is not likely to appear at all even. And the tool is for monorepos no

[2017-05-27 08:36] mlazowik commented on #683
This can fail silently, see https://github.com/yarnpkg/yarn/issues/683#issuecomment-258863739

This depends on many variables, number of packages and their dependencies, how often versions change. I think it's next to impossible to calculate the probability of a collision and I'd strongly advise against trying out your luck here in any non-toy projects.

[2017-05-27 08:44] marc-guenther commented on #683
Thanks!

[2017-05-27 10:01] borekb commented on #2847
So how does this behave in 0.25, exactly? I've started seeing a lot of yarn.lock diffs on this (I am on 0.25 beta, other team members aren't yet). If this is in yarn.lock:

[code]

what will happen if a colleagues has `0.25.1`? Will the installation be aborted and he needs to upgrade? What if he's on a newer version like `0.26`?

Thanks.

[2017-05-27 10:03] borekb commented on #2847
Possibly related: https://github.com/yarnpkg/yarn/pull/2779#issuecomment-282787540

[2017-05-27 10:20] Volune commented on #2875
There was a [suggestion on npm](https://github.com/npm/npm/issues/3055#issuecomment-139665209) from @gagern:

It was not implemented because the npm code was [too complex at that time](https://github.com/npm/npm/pull/11092#issuecomment-226125975).

I think this behavior can be implemented in Yarn, either as the default behavior, or with an option somewhere.
Regarding all the discussions about this

[2017-05-27 11:30] Daniel15 commented on #3507
It sounds like the node-gyp version bundled with your NPM version isn't working properly. Try `yarn global add node-gyp` and see if it fixes it.

[2017-05-27 11:46] lekhnath opened #3514 "Invalid tar header"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
An unexpected error occurred: "Invalid tar header. Maybe the tar is corrupted or it needs to be gunzipped?".

**What is the expected behavior?**
Should install all npm dependencies

**Please mention your node.js, yarn and operating system version.**
node v6.9.1
OS Ubuntu 16.04.2
yarn 0.24.5

**yarn-err

[2017-05-27 12:57] Daniel15 commented on #3436
Interesting idea! I've been meaning to look into how to use Snap. I'll try to take a look.

Is there a way to specify dependencies (for example, specify that the Yarn snap depends on Node.js)? Or is the idea that you bundle all the dependencies within the snap itself?

[2017-05-27 14:49] slikts commented on #3448
The key fingerprint is still only authenticated using a TLS CA, so the only advantage of using signed system packages is that the public key gets cached when adding the repo.

You're still conflating 'global' with 'system-wide', which does not apply to setups where npm only uses local user privileges. A local npm setup does not have a system-wide security impact, while adding a system package repo

[2017-05-27 15:02] volkanunsal commented on #648
Same issue in Node v7.8.0 and Yarn version v24.6... I also tried using `--prefix` flag

[code]

It doesn't work.

[2017-05-27 17:13] Lekensteyn commented on #1168
No idea why `yarn upgrade` would always resolve in a different order, but in the end I used the following and got a deterministic ordering:

    yarn upgrade
    yarn upgrade --prefer-offline

Versions: yarn 0.24.6, node v4.7.10.0. package.json used for testing:
[code]

[2017-05-27 17:19] swernerx commented on #3507
The workaround you mentioned indeed fixes the problem. The question remaining is: Why is this only affecting Yarn but not NPM itself.

[2017-05-27 19:53] chrisdothtml opened #3515 "Locally installed binaries not working when package directory contains colon"
I originally thought this was caused by having a nested package, but it turns out if the package directory has a `:` in it, local binaries stop working.

Once I changed the directory name from `project:dev` to `project-dev`, the local binaries started working again.

---

**node**: v7.10.0
**yarn**: v0.24.6
**OS**: macOS Sierra v10.12.5

[2017-05-27 21:02] kaylieEB commented on #3460
I think this is happening because on the latest install, your vue-router package was already updated to `2.5.3` and modified yarn.lock's version. Since `upgrade-interactive` command checks the `version` field in the existing lockfile (version is 2.5.3, and satisfies ^2.3.1) , it technically is up-to-date. On the other hand, `upgrade [package]` command does a fresh install based on `latest` tag and

[2017-05-28 00:19] Daniel15 commented on #3507
I think it's just an issue with node-pre-gyp, packages that use the regular
node-gyp are fine. I remember seeing another task for node-pre-gyp; you
might be able to find it by searching.

Sent from my phone.

On May 28, 2017 3:20 AM, "Sebastian Werner" <notifications@github.com>
wrote:

[2017-05-28 02:37] GAumala commented on #685
It seems yarn is not reading `.npmignore` in the `yarn publish` command. I can publish my modules with npm, but not with yarn.

[2017-05-28 04:58] ksmithut opened #3517 "yarn clean removes files/folders required for packages to work"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
When installing a package, if there is a subfolder called `docs`, it is removed.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

I expect that folders don't just get removed. I understand the need, but maybe it should be less a

[2017-05-28 05:41] ksmithut commented on #3517
I do see that there is a new `.yarnclean` file in there, which yarn seems to respect. All I'm saying is, there could be users of yarn who will get `Cannot find module './docs'` with a stack trace that will lead them to a library they're using, and not understand that yarn cleaned it out.

I think it's something that will probably blow over quickly, or people will learn just to tweak their .yarncle

[2017-05-28 07:23] Haroenv commented on #2814
In a similar vein, a `yarn browse` could be opening the default browser (able to override) to show the detail page. For example:

[code]

[2017-05-28 19:08] esd100 commented on #648
I'm not sure why this issue is closed, if people are still having trouble figuring out where the heck yarn is putting binaries, seemingly installing them in one or more folders (.config and .npm) but pointing to another (cellar), & if the yarn website hasn't clearly documented this issue with recommendations for clarity.

[2017-05-28 19:27] volkanunsal commented on #648
I managed to get around this. The issue seems to be that the Homebrew version of Node is adding itself to the PATH later than NVM installation. Once I figured that out,  all I did was to uninstall the Node Homebrew had installed, and it worked.

[2017-05-28 19:43] esd100 commented on #648
@volkanunsal I'm not sure I understand what you mean

[2017-05-28 19:56] volkanunsal commented on #648
Sorry, what I meant is in my case the the issue was that I also had another
installation of Node. The path of that installation was added after the NVM
installation, and so was taking precedence. That's where yarn was putting
the global packages, but it wasn't the Node I was using so my commands to
the package I installed with yarn global were failing. That may not be the
same problem in your case

[2017-05-28 21:43] andrsnn commented on #764
This appears to still be a persistent issue.  I'm able to reproduce with:

yarn@v0.19.4
yarn@v0.21.3
osx@10.10.4
osx@10.10.5
amazon linux@2017.03
node@v5.12.0
node@v4.4.6

appears to be successful for node@>=6.9.5

As far as I can tell, the issue seems to be related to git repo dependencies due to a race condition when extracting the tar produced from `git archive` .

I made a repo that exhibits t

[2017-05-28 21:49] bestander commented on #764
Thanks a lot for the repro stapes and analysis.
We had an issue of a tar to be download twice and that caused and exception
during untarring.

The core team will focus on stability all through next week before
releasing 0.26

On 28 May 2017 at 22:44, andrsnn <notifications@github.com> wrote:

[2017-05-28 21:55] recaro commented on #2897
With yarn v0.24.6 issue is still present:
[code]

[2017-05-28 22:36] ntwb commented on #3255
I don't see that option in the formula: https://github.com/Homebrew/homebrew-core/blob/master/Formula/yarn.rb, I've opened https://github.com/Homebrew/homebrew-core/issues/14026 for this to be added to the Yarn Homebrew package.

[2017-05-28 23:04] Daniel15 commented on #3255
I think there's a `--skip-dependencies` flag.

[2017-05-28 23:05] Daniel15 commented on #3255
I think there's an `--ignore-dependencies` flag

Sent from my phone.

[2017-05-29 04:00] binarykitchen commented on #3011
@bestander why not reopen it? it's the same original issue - happy to examine and to submit another PR here

[2017-05-29 05:07] ctcoulter commented on #1648
I was bashing my head against this one for a while. Hopefully this helps someone out.

The problem I had was that the installer placed the Yarn files in two locations that were both in my path. The wrong one was being picked up when trying to execute.

C:\Program Files\nodejs\yarn.cmd
C:\Program Files (x86)\Yarn\bin\yarn.cmd

I just moved the files out of my nodejs directory and it worked. The err

[2017-05-29 05:09] ctcoulter commented on #2504
posted this on the other read.. if anyone else is running into this issue, might help:

[2017-05-29 05:10] Daniel15 commented on #2504
Hmmm... This is very strange... The trailing backslash shouldn't matter, and the current MSI has worked fine on various VMs I've tested it on, as well as on my Windows build server (which is running Windows Server 2012).

[2017-05-29 05:10] epicallan commented on #3498
I am having a similar error on a travis build

[2017-05-29 05:12] Daniel15 commented on #3498
@epicallan - Do you mean the "fsevents" thing? The `fsevents` warning can be ignored - fsevents is only for Mac OS, so it will fail to install on all other platforms.

Or do you mean the "command not found" after installing a global module?

[2017-05-29 05:19] epicallan commented on #3498
I am having an error with "fsevents" thing
with yarn v0.24.5
<details>
warning fsevents@1.1.1: The platform "linux" is incompatible with this module.
info "fsevents@1.1.1" is an optional dependency and failed compatibility check. Excluding it from installation.
[3/4] Linking dependencies...
[4/4] Building fresh packages...
</details>

[2017-05-29 06:35] epicallan commented on #3498
@Daniel15 I have realized the "fsevents" thing was being introduced by one particular dev dependency install that i don't even need for my builds, removed it  and everything works fine.

[2017-05-29 07:54] mesaugat opened #3518 "yarn --help shows same command twice"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`yarn --help` shows some commands twice.

- generate-lock-entry
- run-script
- upgrade-interactive

<img width="330" alt="screen shot 2017-05-29 at 1 13 06 pm" src="https://cloud.githubusercontent.com/assets/4240991/26540489/6920a834-4471-11e7-9567-afae5bdf18b2.png">

**If the current behavior is a bug

[2017-05-29 08:08] mesaugat commented on #3518
I quickly looked into the code and found this.

The `run-script` is appearing twice from here: https://github.com/yarnpkg/yarn/blob/master/src/cli/unsupported-aliases.js#L27-L28

For the other two commands`generate-lock-entry` and `upgrade-interactive`. It is coming from https://github.com/yarnpkg/yarn/blob/master/src/cli/aliases.js

While exporting `commands` the aliases get repeated because the

[2017-05-29 08:16] bestander commented on #3011
Thanks @binarykitchen, looking forward to get a fix

[2017-05-29 08:18] ViceIce commented on #2724
This seems to be the issue: chalk/chalk#145

[2017-05-29 08:50] Ramblurr commented on #3450
This would make using env vars not possible when there is no tty, which is a valid use case. For example some CI servers run their commands in an interactive shell.

I would say, use the env vars if present, else fall back to prompting. If there is no tty and no env vars, then display an appropriate error message.

[2017-05-29 11:47] OmgImAlexis opened #3519 "Yarn missing python flag"
**Do you want to request a *feature* or report a *bug*?**
Feature request

**What is the current behavior?**
`yarn add x --python` ignores the flag.

**What is the expected behavior?**
Yarn should use the specified version of python when building modules since npm does.
Yarn should also check the python flag set in the npm config for example running this command doesn't change the python version b

[2017-05-29 11:51] orta opened #3520 "Create app missing some arguments"
I may be getting confused between CRNA and CRA here, will update in a second. Yep - my bad - sorry for the issue.

I'm not seeing any error messages but I'm on 0.24.4

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I wanted to use `yarn create` to simplify running [this script](https://github.com/wmonk/create-react-app-typescript):

[code]

Which

[2017-05-29 11:56] orta commented on #3520
Closing this as I mixed up args between create-react-app and create-react-native-app 👍

[2017-05-29 11:56] #3520 closed

[2017-05-29 13:09] bys92 opened #3521 "YARN :: called from CMD disable choosing version"
**What is the current behavior?**
Currently Yarn tries to resolve the dependencies.
During this it's detecting conflicts and want that the user solve them by choosing one of the suggested version.

**What is the expected behavior?**
There should be a mode to disable this.
_Reason_:
Your Jenkins tries to build a project where some module versions conflicting.
Then Yarn want's that a user entering t

[2017-05-29 13:38] maslenkov opened #3522 "After `yarn install` version in one of dependency's package.json changed"
**Do you want to request a *feature* or report a *bug*?**
It looks like a bug. But it is more like a question because I'm not sure that it is really a yarn's bug.

**What is the current behavior?**
`yarn install` use another package.json then npm and this behavior creates problems with https://github.com/brunch/brunch
More in next section

**If the current behavior is a bug, please provide the ste

[2017-05-29 13:42] jonashans1991 commented on #3485
test

[2017-05-29 13:45] joha91 commented on #3521
Similar to that one: #2770

[2017-05-29 16:30] ncuillery opened #3524 "Child process is exited prematurely when running a info command"
When running the info command in the child process, the child process exits right after the reception of the first chunk of data:

[code]

Output:
[code]

The first chunk of data contains `yarn info v0.24.5` (first line of the output). Then, the second chunk contains the first 8192b of the info command output. Then the process is closed properly (error code 0).

This bug has been discovered by usi

[2017-05-29 17:18] taylor1791 opened #3525 "yarn --production install devDependencies of dependencies"
**Current Behavior**
When a dependency has devDependencies, those devDependencies are installed when using `yarn --production`.

**Expected Behavior**
When a dependency has devDependencies, those devDependencies are _not_ installed when using `yarn --production`.

**System Information**
$ yarn --version
0.24.6
$ node --version
v7.8.0

I can reproduce this on both macOS Sierra and Ubuntu

**Steps t

[2017-05-29 18:52] nanoxd opened #3526 "process.env.npm_config_global value does not match npm"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When installing a package with `yarn`, it incorrectly sets `process.env.npm_config_global`.

**If the current behavior is a bug, please provide the steps to reproduce.**
I created a [Sample Project](https://github.com/nanoxd/yarn-bug-global-flag) with HEAD yielding a failing [test case](https://travis-

[2017-05-29 22:37] nueko commented on #648
For me, fixed by set the yarn prefix and reinstall all modules
[code]

[2017-05-29 22:43] stereobooster commented on #2875
Update:

[2017-05-29 23:20] fvgs commented on #685
I just tested `yarn pack` (which is the underlying command used by `yarn publish`) for packaging a module and encountered the same results as others. `yarn pack` does not take into account the contents of `.npmignore`. The same goes for `.yarnignore`. Thus, files which should be ignored are being packaged and published.

I'm using the latest v0.24.6 and this behavior is unexpected and inconsistent

[2017-05-29 23:21] blimmer commented on #3485
I'm able to consistently reproduce this problem on the latest version of yarn (0.24.6) with these steps (also reported [here](https://github.com/ember-cli/ember-try/issues/126#issuecomment-304741970)):

[code]

[2017-05-29 23:38] ntwb commented on #3255
I created https://github.com/yarnpkg/website/pull/516 per the above

[2017-05-30 00:01] blimmer commented on #3485
Here's some more info after I did some investigation:

what this ember-try thing is doing is replacing the original package.json file with this diff:

[code]

From a totally clean repo, if I run:
[code]

See how the bindings disappear there? The verbose output from the second `yarn install` that removes the bindings is [here](https://gist.github.com/blimmer/46b0d3ca319a5fc98cb3a6a722fab274#file-ya

[2017-05-30 00:03] zkat commented on #2875
Please let me know if y'all have any questions about how this works in npm now, and please note that it's fairly fresh and it's bound to have some kind of crap in there that I didn't realize would be a problem (and thus subject to change -- so if *you* find something, please let us know!)

The code in question npm-side is: https://github.com/npm/npm/blob/latest/lib/pack.js#L151-L221, which isn't e

[2017-05-30 02:04] chamini2 commented on #3507
It happens with `node-gyp` for me:

[code]

[2017-05-30 04:30] i-prashant commented on #2822
For private git repositories, if npm is able to filter packages by reading the files:[] property, shouldn't yarn be doing the same ?

[2017-05-30 04:59] JulianLeviston commented on #764
Was having this issue for the last few week since updating yarn, and fixed it eventually by bumping the version of node from `6.2.0` to `6.9.0`. Hope this helps others.

[2017-05-30 06:05] Daniel15 commented on #3448
Yeah, the idea is that you only add the key once, and then you can be sure that all future releases were signed using that same key.

That's a reasonable point. I guess it would be nice for dpkg, rpm, etc. to have some concept of "local packages" that are not installed system-wide. However, if that's what you're worried about, you could just manually extract the Yarn tarball after verifying its GP

[2017-05-30 07:13] binarykitchen commented on #3011
hmmm, i figured out that

[code]

in publish.js is the problem. when I added a data listener while debugging, publishing suddenly worked. like that

[code]

probably the stream needs a data sink to make this actually work?

@bestander have an idea what that is?

[2017-05-30 08:42] iwinux commented on #1060
I guess this is related with `chroot`?

[code]

[2017-05-30 08:46] bys92 commented on #3521
Already solved with flag
--non-interactive

but the official yarn documentation is not adjusted.

[2017-05-30 08:46] #3521 closed

[2017-05-30 09:07] oliversalzburg commented on #3288
In case it wasn't clear, I was hoping for some support from someone with better knowledge of how yarn *should* work. But, apparently, nobody does know, which is why we have the issue in the first place.

Very disappointing community.

[2017-05-30 09:14] bestander commented on #1060
If someone can add a repro step that would help a lot.
I think the failure is related to how Yarn is installed.

[2017-05-30 09:21] Arnaud-Nauwynck commented on #2541
It seems to me that whatever is written in .npmrc or .yarnc registry key, the real http request sent is always using the default https://registry.yarnpkg.com/ prefixed url.
This work fine except when you are behind a corporate firewal, and you absolutely need to used corporate registry (I use Nexus3)...
(Another workaround is to use http-proxy options with your user/password, but this is not ok to

[2017-05-30 09:26] bestander commented on #2541
Yarn would make requests to the URLs listed in yarn.lock file.
If yarn.lock exists Yarn would skip resolution step.

This discussion is related https://github.com/yarnpkg/rfcs/pull/64
But people wanted to revamp the whole yarn.lock file while I was looking
for something simple similar to what you did.

Do you want to pick it up and lead the fix?

On 30 May 2017 at 10:22, arnaud.nauwynck <notificat

[2017-05-30 09:33] Arnaud-Nauwynck commented on #2541
I made a pull request https://github.com/yarnpkg/yarn/pull/3528
My fix was "simple", but I don't know all the impacts in your yarn.lock file.
I just wanted to fix my corporate firewall problem!
Thank you for offering me to "lead the fix", but I am not the right person for leading it.

[2017-05-30 09:37] bestander commented on #2541
Thanks, I'll have a look at the PR

On 30 May 2017 at 10:33, arnaud.nauwynck <notifications@github.com> wrote:

[2017-05-30 09:40] beatrizaldaz commented on #521
yarn install v0.24.6
info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...
error An unexpected error occurred: "http://registry.npm.telerik.com/@progress%2fkendo-angular-l10n/-/kendo-angular-l10n-1.0.0.tgz: connect ETIMEDOUT 23.253.4.114:80".
info If you think this is a bug, please open a bug report with the information p
rovided in "....\\yarn-error.log".
info Visit https

[2017-05-30 09:42] bestander commented on #521
Looks like you can't connect to telerik.com, is http proxy confiugred?

[2017-05-30 09:52] beatrizaldaz commented on #521
The problem is yarn are searching by http://registry.npm.telerik.com, when I have configured yarn with strict-ssl to true:

info yarn config
{ 'version-tag-prefix': 'v',
  'version-git-tag': true,
  'version-git-sign': false,
  'version-git-message': 'v%s',
  'init-version': '1.0.0',
  'init-license': 'MIT',
  'save-prefix': '^',
  'ignore-scripts': false,
  'ignore-optional': false,
  registry: '

[2017-05-30 09:57] bestander commented on #521
I don't have much experience using private registries :(
If someone sets up an account and a project package.json/yarn.lock for me
to test I could help out.

On 30 May 2017 at 10:53, beatrizaldaz <notifications@github.com> wrote:

[2017-05-30 10:10] beatrizaldaz commented on #521
OK, I will create a project, with a telerik trial account, to test the problem and I will send you the project link in github.

[2017-05-30 10:13] bestander commented on #521
That would be great, @beatrizaldaz.
Can you open a new issue just for that case then?
It would be easier to track it isolated.

[2017-05-30 10:19] bvklingeren opened #3529 "Flag --network-timeout is not respected when performing upgrade"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Executed `yarn upgrade --network-timeout 60000 <package>` where the package is on a slow private repository and the requests timeout within 30 seconds instead of 60 seconds.

**If the current behavior is a bug, please provide the steps to reproduce.**
See above.

**What is the expected behavior?**
Th

[2017-05-30 10:39] guigrpa opened #3530 "Yarn create fails on Windows with "spawn UNKNOWN""
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Running `yarn create` with `create-react-app` or with the tool I'm building (`create-monorepo`) fails, throwing a `spawn UNKNOWN` error (more details below).

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Global installation of `create-react-app` actually succe

[2017-05-30 10:49] geart891 opened #3531 "[BUG]Cannot add global nodemon with yarn"
I am using the latest stable version of yarn 0.24.6 for windows
**Do you want to request a *feature* or report a *bug*?**

Recently, I used yarn to install nodemon on my windows 10x64,

**What is the current behavior?**
`$ yarn add global nodemon
yarn add v0.24.6
[1/4] Resolving packages...
[2/4] Fetching packages...
warning fsevents@1.1.1: The platform "win32" is incompatible with this module.
in

[2017-05-30 10:50] beatrizaldaz opened #3532 "Support for private packages (yarn is searching for http instead of https)"
Yarn version:
  0.24.6

Node version:
  6.9.5

Platform:
  win32 x64

npm manifest:
  {
    "name": "kendo-test",
    "version": "0.0.0",
    "license": "MIT",
    "scripts": {
      "ng": "ng",
      "start": "ng serve",
      "build": "ng build",
      "test": "ng test",
      "lint": "ng lint",
      "e2e": "ng e2e"
    },
    "private": true,
    "dependencies": {
      "@angular/common": "^4.

[2017-05-30 10:57] guigrpa commented on #3530
Actually, I'm a bit confused. Yarn's latest stable release seems to be 0.24.6 (the one I have installed via .msi installer), the [online docs](https://yarnpkg.com/en/docs/cli/create) include `yarn create`, there's even [a blog post](https://yarnpkg.com/blog/2017/05/12/introducing-yarn/) covering this feature, and `yarn create` seems to *do something*, but the [release notes for **0.25.0**](https:/

[2017-05-30 12:03] sschuberth commented on #3155
Looks like the issue has been fixed in Yarn 0.24.

[2017-05-30 12:11] RupaliPatwa opened #3533 "Yarn installation problem with yum : Error: Package: yarn-0.24.5-1.noarch (yarn)Requires: nodejs"
Hi ,
I have installed nodejs with nvm(Node version manager) and its installed successfully on linux and PATH environment variable has path of nodejs bin folder.
However if i try to run sudo yum install yarn I get the following error

$sudo yum install yarn
Loaded plugins: priorities, update-motd, upgrade-helper
Resolving Dependencies
--> Running transaction check
---> Package yarn.noarch 0:0.24.5-

[2017-05-30 12:35] blackholegalaxy commented on #3494
Similar problem today
`error An unexpected error occurred: "https://registry.yarnpkg.com/@types/node/-/node-6.0.68.tgz: Request failed \"500 Internal Server Error\"".`

[2017-05-30 12:39] blackholegalaxy commented on #3353
Bug is still occuring.

[2017-05-30 12:40] rally25rs commented on #3517
It looks like by default `yarn clean` removes:

[code]

with the assumption that these are files that don't have an affect on the package, and are dev-time tools or reference material.

The docs for the `clean` command state:

[2017-05-30 13:01] rally25rs commented on #3500
The docs aren't entirely clear, but `upgrade-interactive` has always ignored the package.json specified version ranges.

IMO it's been the most confusing part of Yarn;

* `yarn upgrade` - uses package.json version range
* `yarn upgrade <package>` - ignores package.json version range
* `yarn upgrade-interactive` - ignores package.json version range

-----

Perhaps this should be a feature request;

[2017-05-30 13:03] matt3224 commented on #3500
Okay good to know, it should watch the package.json range by default IMO, don't think I can label though so we shall leave it to the pro's

[2017-05-30 13:41] bestander opened #3535 "eslint problem"
from https://github.com/eslint/eslint/issues/8547#issuecomment-304878486

This is not a react-scripts issue, but seemingly a Yarn bug.
In https://github.com/cmoesel/eslint-8547, run:
[code]
It prints:

`../react-scripts/node_modules/eslint-plugin-react/node_modules/eslint/bin/eslint.js`
In other words, despite there being a top-level ESLint dependency, Yarn links `./node_modules/.bin/eslint to an

[2017-05-30 13:42] bestander commented on #3535
Could this cause the issue https://github.com/yarnpkg/yarn/pull/3310?

[2017-05-30 13:51] cmoesel commented on #3535
This is just a continuation of the story already documented in #3332.  But... this issue immediately gets down to what is likely the real root of the problem!

[2017-05-30 13:53] cmoesel commented on #3332
See #3535 for what looks like it may be a smoking gun.

[2017-05-30 14:00] jonschlinkert commented on #3288
why was this closed?!??! this problem is not solved, I'm also participating in this issue.

[2017-05-30 14:09] bestander commented on #3288
@jonschlinkert, your contribution is welcome, thanks for speaking up.

[2017-05-30 16:25] nuzz commented on #2340
I ran into an issue that appears to be caused by this yarn.lock file format difference. The version that  is created by `yarn generate-lock-entry` causes `yarn install --prefer-offline` to fail...

example:

[code]

So I'm forced to use the file generated by yarn install. This feels like a bug.

[2017-05-30 16:41] brianhorst commented on #3469
Hey I looked into this a bit more and my issue was caused by a scoped package not being saved in the offline cache. See #3509

[2017-05-30 17:45] rajshrimohanks commented on #3514
Also, occurs in npm 5 with Node 7.10.0 (not in npm 4.6.1)

[2017-05-30 17:47] rajshrimohanks commented on #3514
I'm guessing this is more of an angular issue. It occurs to me too when I use Node 7.10 and npm 5 (doesn't occur with npm 4.6.1)

[2017-05-30 19:16] binoculars commented on #2914
The only way yarn link is actually useful is if it installs dependencies. Most packages have dependencies and if you're testing one package in another, you need those dependencies.

[2017-05-30 19:44] bestander commented on #3535
With the [repro](https://github.com/cmoesel/eslint-8547) package I can confirm that eslint link in .bin is incorrect
[code]

Should be
[code]

Thanks @cmoesel!
Reverting https://github.com/yarnpkg/yarn/pull/3310 does not really fix it.

I'll look deeper tomorrow and prepare a patch for 0.25

[2017-05-30 20:10] rofrol commented on #743
I got the same error as @astudio8

[code]

[code]

Windows 10

[2017-05-30 20:34] GAumala commented on #685
The root of the issue is that yarn gives the same priority to both `.npmignore` and `.gitignore` while npm does not. I have sent a PR with a patch. In the meantime, you could temporarily delete your `.gitignore` before you run `pack` or `publish` as a workaround.

[2017-05-30 20:43] agibralter commented on #3154
@arcanis hi there! Any sense on this issue? Is there anything I can do to help?

[2017-05-30 20:57] whitecolor commented on #2914
@binoculars [yalc](https://github.com/whitecolor/yalc)

[2017-05-30 20:58] binoculars commented on #2914
@whitecolor I don't want to

[2017-05-30 21:03] elyscape commented on #2324
That doesn't help for me with `yarn v0.24.6`. It looks like the issue is that the install script for dtrace-provider [makes some assumptions about the presence of and location of `node-gyp`][install], and those aren't true when invoked via `yarn`.

[install]: https://github.com/chrisa/node-dtrace-provider/blob/dbc47c8/scripts/install.js#L19-L33

[2017-05-30 22:25] rubenazevedoff commented on #3373
So, whenever you're running yarn, but there is a node_modules in their but no yarn.lock, should give a warning?
Tomorrow morning i will PR this :)

[2017-05-30 22:27] bestander commented on #3373
If there is a node_modules then there should be a package.json so it should
be fine.

On Tue, 30 May 2017 at 23:25, Rúben Azevedo <notifications@github.com>
wrote:

[2017-05-30 22:39] pekeler commented on #3189
I just ran into the same problem. For some reason, `echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list` didn't get pasted correctly. Also needed to `sudo apt-get remove cmdtest` to get it working.

[2017-05-31 00:02] fvgs commented on #685
@GAumala what version of yarn are you using? The issue I'm encountering goes further than what you're describing, as none of `.npmignore`, `.gitignore`, or `.yarnignore` seem to have an impact on the files `yarn pack` includes.

[2017-05-31 00:38] GAumala commented on #685
My system version is 0.24.5.  My patched version which has commits up to today's morning works fine for my use case while system version does not.

In my use case I have a single `.gitignore` at project root which says ignore all `.js` files and a single `.npmignore`, also at root, which says ignore all `.ts` files. yarn 0.24.5 ignores both `.js` and `.ts` files, while my patched version only igno

[2017-05-31 02:36] kaiyoma opened #3540 "After upgrading yarn on Windows, bash scripts won't run without hitting Enter"
I upgraded from 0.23.3 to 0.24.6 today on my Windows 10 laptop and I'm seeing a problem whenever I run a bash script through yarn. I have several tasks defined in my package.json that look like this:

[code]

Now when I execute `yarn run lint`, the system hangs at this point:

[code]

Normally this script finishes in a few moments, but I noticed after the upgrade today that it was stuck after a mi

[2017-05-31 03:24] kaiyoma commented on #3540
I went back and installed old versions of yarn, upgrading incrementally, until I hit the problem. Version 0.24.3 worked fine, but 0.24.4 has the issue. As mentioned in the original post, 0.24.6 has the issue too. I tried installing the release candidate (0.25.3) and it suffers from the same issue as well.

[2017-05-31 03:42] kaiyoma commented on #3540
I think I spoke too quickly; 0.24.1 has this issue too. The problem seems to be a bit non-deterministic, so it can be tricky to tell if the installed yarn is affected. I can't test 0.24.0 (there's no MSI file). Version 0.23.4 seems to be the last good version; I've run all my bash scripts multiple times and everything works fine. If I upgrade from this to 0.24.1 and try running my tests, something

[2017-05-31 05:55] dreamingblackcat commented on #2790
On my ubuntu 16.04 machine , it worked when I added `export PATH="$PATH:`yarn global bin`:$HOME/.config/yarn/global/node_modules/.bin"
` to my `~/.zshrc` file.

[2017-05-31 07:27] scinos opened #3541 "Yarn 0.24.6 not available in debian repository"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

Running

    curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
    echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
    sudo apt-get update && sudo apt-get install yarn

Installs yarn 0.24.5 despite 0.24.6 being released

[2017-05-31 07:29] rubenazevedoff commented on #3373
But this can only happen when you're making the import  right?

[2017-05-31 07:38] bestander commented on #3373
Yeah or if you don't care that preserve existing node_modules and just
start using yarn.

On Wed, 31 May 2017 at 08:29, Rúben Azevedo <notifications@github.com>
wrote:

[2017-05-31 07:38] oliversalzburg commented on #3288
Yeah, your contribution is welcome, but don't expect any help.

[2017-05-31 07:39] donaldpipowitch opened #3542 "Dependencies installed via file protocol contain unnecessary files"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

When I install a dependency with via `file:` protocol it contains more files like a normal dependency, because white- and blacklists for publishing (`.gitignore`, `.npmignore`, `"files"` in `package.json`...) aren't respected.

Now directories like `node_modules/` of _this_ one dependency land in t

[2017-05-31 09:03] clarenced commented on #3454
Hi @bestander, can I contribute to this issue?

[2017-05-31 09:28] bestander commented on #3454
You don't need to ask for a permission:)
Just send a PR

On Wed, 31 May 2017 at 10:04, Charles Dimitri <notifications@github.com>
wrote:

[2017-05-31 10:50] pichouk commented on #3525
Duplicate #3312

[2017-05-31 11:31] ksmithut commented on #3517
So I went through my bash history and found that I was attempting to clear my yarn cache after I was getting some warnings about hashes mismatching, and I did run `yarn clean`.

Also, good catch on the version.

Apologies for any undue time you spent on this, I appreciate the help that lead me to the conclusion that the problem was between keyboard and chair 😄

[2017-05-31 11:31] #3517 closed

[2017-05-31 11:35] will-stone commented on #3492
I totally agree. However may I suggest changing the title to something a little less opinionated? It's not "totally flawed" as it does satisfy a function; after all, you're ideally trying to attract the person who wrote this function and they may be less inclined to take a look at an issue that grinds on all their hard work. I'd suggest a tone of "I expect this... , however this is what happens...

[2017-05-31 11:44] sschuberth opened #3543 "Lines output by "yarn licenses list --json" can get very long"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

`yarn licenses list --json` outputs one JSON map per line, each to be parsed individually when using a JSON parser. The map of dependencies can get very long, exceeding 64k which is the [pipe buffer limit on Linux](https://unix.stackexchange.com/a/11954/53328), resulting in e.g. `yarn licenses li

[2017-05-31 12:24] AntonNiklasson commented on #1776
This is related: #3544

[2017-05-31 12:52] bestander commented on #3499
Looks like the linked issues are closed now, https://github.com/yarnpkg/yarn/pull/3545 should fix related ones as well

[2017-05-31 12:52] #3499 closed

[2017-05-31 13:53] bcruddy opened #3547 "Bad GPG signature"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Yarn install fails on Travis

**If the current behavior is a bug, please provide the steps to reproduce.**
Invalid GPG signature
https://gist.github.com/bcruddy/f901c0f510352ff14a5c9911007ee723

**What is the expected behavior?**
Valid GPG signature

**Please mention your node.js, yarn and operating sy

[2017-05-31 14:59] ipa1981 commented on #3142
Something is not good here (version v0.24.5).

[code]

[2017-05-31 15:06] arcanis commented on #3154
@agibralter This issue should be fixed by #3449 (already merged) and #3548 (soon-to-be-merged), which will both be released at the end of the week. Sorry for the delay!

[2017-05-31 15:11] akullpp commented on #3547
Same here building a docker image:

[code]

[2017-05-31 15:24] bestander commented on #2341
This is fixed now

[2017-05-31 15:24] #2341 closed

[2017-05-31 15:28] bestander commented on #3421
Does npm run install scripts before bin links are created and post install after?
If yes then yes, it makes sense

[2017-05-31 15:29] #1972 closed

[2017-05-31 15:31] #3535 closed

[2017-05-31 15:33] #3393 closed

[2017-05-31 15:38] bestander commented on #3508
@aios, how do I repro the ENOENT error with this package.json?

[2017-05-31 15:52] jppellerin commented on #3303
I was getting the same error when trying to `yarn add` our common library from bitbucket.  After reading this and trying a few things without success I thought I'd try `npm` to see how it would behave.  Also erroring out but I got a better error message :

```ENOTEMPTY: directory not empty, rmdir '/mnt/c/Users/[user]/Documents/workspace/[project]/node_modules/common-js/dist'```

Using WSL.  Seems

[2017-05-31 16:04] besarthoxhaj opened #3549 "Yarn website down?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
bug

**If the current behavior is a bug, please provide the steps to reproduce.**
Run `curl -o- -L https://yarnpkg.com/install.sh | bash`.
Check also https://travis-ci.org/yarnpkg/yarn/jobs/237976249

**What is the expected behavior?**
Should install yarn correctly

**Please mention your node.js, yarn and

[2017-05-31 16:05] realalexhomer opened #3550 "https://yarnpkg.com/install.sh gives 522"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

Currently when our circleCI tries to install yarn using https://yarnpkg.com/install.sh the endpoint give a 522 causing our circelCI to fail.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

`https://yarnpkg.com/install

[2017-05-31 16:06] johnsudaar commented on #3550
It should be related to #3549

[2017-05-31 16:15] destroyerofbuilds commented on #3549
Duplicate of yarnpkg/website/issues/519

[2017-05-31 16:15] destroyerofbuilds commented on #3550
Duplicate of yarnpkg/website/issues/519

[2017-05-31 16:25] LandonSchropp commented on #3505
Thanks! I'm closing this.

[2017-05-31 16:25] #3505 closed

[2017-05-31 16:39] Dakuan commented on #3550
also breaking heroku deploys

[2017-05-31 16:42] mathewjordan commented on #3550
Back online now with a _brew install yarn_

[2017-05-31 16:45] Sibiraj-S commented on #3549
Site is up now...

[2017-05-31 17:36] aios commented on #3508
need docker container with yarn 0.26.0 and volume to this package.json with something_name
docker-compose run --rm something_name yarn install
profit...)

@bestander

[2017-05-31 17:39] bestander commented on #3508
I know almost nothing about docker.
If you could set up a script to get everything bootstrapped then someone could have a look how to debug this issue :)

[2017-05-31 17:41] aios commented on #3508
@bestander need some time. i will make that today)

[2017-05-31 19:25] besarthoxhaj commented on #3549
Panic is over people:) As mention site is up. Closing

[2017-05-31 19:25] #3549 closed

[2017-05-31 19:33] rardoz commented on #685
I am also seeing this issue. I can validate that moving the .gitignore, running the yarn pack command, and then putting it back does indeed work for now. Make sure to ignore the .gitbackup file or that will come through in the package.

`mv .gitignore .gitbackup &&  yarn pack && mv .gitbackup .gitignore`

[2017-05-31 19:51] welkie commented on #3541
Can confirm this. I just tried to install yarn on my fresh Kubuntu 17.10 install, and it was able to install it, but it grabbed version 0.24.5. I saw a warning about using an outdated version when I began to use it.

[2017-05-31 20:02] welkie opened #3551 "Not creating bin files when installing globally"
Unfortunately, I can't try it with the latest version of Yarn because the latest version is not yet in the Kubuntu repositories. I am using version 0.24.5.

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Installing a package globally seems to work, there are no error messages when specifying a --prefix (like the /usr/local example [here](https://ya

[2017-05-31 20:49] solocommand opened #3552 "Missing package version glob@4.4.1 using yarn import"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When attempting to do a `yarn import` to generate a lockfile I'm unable to proceed because a package version throws a 404 when attempting to install it.

**If the current behavior is a bug, please provide the steps to reproduce.**

Included output from `yarn import` [yarn-error.log](https://github.com/

[2017-05-31 21:43] vinodronold commented on #3530
I am also getting this error:
[code]

Yarn version:
  0.24.6
Node version:
  8.0.0
Platform:
  win32 x64
Trace:
[code]

[2017-06-01 02:36] ScottFreeCode commented on #1761
Is there anywhere that the discussion formerly at https://github.com/yarnpkg/rfcs/issues/18 could still be viewed? It's linked from one of the Node PRs but apparently that repo has turned off issues (and GitHub retroactively hides existing issues when that happens, I guess).

[2017-06-01 05:40] donaldpipowitch commented on #2165
Does this means that whenever I call `$ yarn` inside a package which has `"foo": "file:../"` as a dependency a new copy of `"file:../"` will be created?

E.g. I have a package with multiple examples which are also packages:

[code]

And it looks I have `foo` 10 times now in the yarn cache. I also test my examples on every version change of `foo` (and I have multiple modules configured in that way,

[2017-06-01 06:06] krzysztofzuraw commented on #3447
Hello, I would like to work on that issue - from whom can I get more info about this problem?

[2017-06-01 07:56] gameslayer commented on #3436
error: cannot install "yarn": snap not found

[2017-06-01 08:02] aitchkhan commented on #1139
On Ubuntu 16.04, yarn automatically updates via Software & Updates.

[2017-06-01 09:44] bestander commented on #3447
Thanks for stepping in, @krzysztofzuraw

[2017-06-01 09:47] bestander commented on #2165
I think it is a better alternative than having a stale version in your cache.
With yarn 0.26 you can use `link:` to create symlinks instead of copying files.
Also we are working on workspaces that will automate the symlink creation, https://github.com/yarnpkg/yarn/issues/3294

[2017-06-01 09:47] #2165 closed

[2017-06-01 09:50] bestander commented on #1761
![screencapture-github-yarnpkg-rfcs-issues-18-1496310591605](https://cloud.githubusercontent.com/assets/2121048/26674369/2b4d298a-46b8-11e7-8512-aefa559f6d61.png)

[2017-06-01 09:51] bestander commented on #1761
Attached a screenshot of it

[2017-06-01 09:55] bestander commented on #1761
I think at this point we don't want to symlink/hardlink from cache.

However Yarn should be more open to such experiments and allow third party code to override the linking phase with plugins, e.g. replace copy operations with linking, or JS copy commands with Native copy commands or some smarter hoisting algorithms.

If anyone wants to lead this effort, speak up and send an RFC.

[2017-06-01 09:57] clarenced commented on #3454
Hi @bestander , do you have any idea what message to display for explaining the legend colors? My correction will put a key in `src/reporters/lang/en.js` to displa the content of the message.

[2017-06-01 10:02] bestander commented on #3454
I don't have an opinion here :)
Use your best judgement and let's see how it looks

On 1 June 2017 at 10:57, Charles Dimitri <notifications@github.com> wrote:

[2017-06-01 11:05] donaldpipowitch commented on #2165
Yeah, looking forward to workpaces 👍
``

[2017-06-01 13:51] vinodronold commented on #3530
@guigrpa even I tried yarn@0.25.4
I am getting the same error, may be something to do with windows. I used npm to install yarn globally.

[code]

[2017-06-01 14:16] mikew commented on #3485
I get the error when using `--pure-lockfile`, I haven't tried `--no-lockfile`, but without any args `yarn install` works.

[2017-06-01 16:03] tbroyer commented on #3541
Moreover, Yarn warns:
[code]

[2017-06-01 16:50] rardoz commented on #1694
NooooOOOOooo very disappointed. Experiencing the same issue on a linux/alpine docker container. This was working fine until yesterday.

[2017-06-01 20:14] owenauch opened #3554 "Migrating from NPM to Yarn when package.json is incorrect"
Hello,

I recently started working on a pre-existing react-native project, and upon setup I encountered a lot of dependency and versioning errors. The versions on package.json are incorrect for our project, and it caused errors when I ran it until we finally decided to just copy the node_modules folder into my repository from another team member's working repo instead of using `npm install`.

We'd

[2017-06-01 20:51] solocommand commented on #3554
@owenauch Check out [`yarn import`](https://yarnpkg.com/lang/en/docs/cli/import/).

`yarn install` is designed to update your `node_modules` folder with the contents specified in your `yarn.lock` file or `package.json` if you don't have a lockfile yet.

`yarn install` is designed for your use case, migrating to `yarn` from `npm` or `npm-shrinkwrap`. Check to make sure that your installed versions

[2017-06-01 20:53] jharris4 opened #3555 "yarn.lock sometimes not created despite success Saved lockfile message"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

yarn.lock is not created even though yarn cli reports that it was.

**If the current behavior is a bug, please provide the steps to reproduce.**

rm -rf node_modules
rm yarn.lock
yarn install
ls yarn.lock

**What is the expected behavior?**
The lock file should always be created

**Please mention you

[2017-06-01 21:05] arichiardi commented on #1235
I have run across this one as well, I can confirm that the entry in the `.yarnclean` works around the problem. After yarn clean `tslint` keeps working.

[2017-06-01 21:05] jharris4 commented on #3555
ok, its happening much more frequently now. Perhaps it's aggravated by node 8 somehow.

[2017-06-01 21:08] jharris4 commented on #3555
Here's the output from it just happening again. The first time, no lock file was generated but the second time it was.

[code]

[2017-06-01 21:45] philostler commented on #2341
I'm still encountering this bug with v0.24.6. Is the fix yet to be released?

[2017-06-01 22:12] dlong500 commented on #3492
FWIW, with npm v5 the `npm upgrade` (or `npm update`) command now does update the dependencies in package.json.  I believe this is because npm commands now default to adding the `--save` parameter.

[2017-06-01 22:12] bestander commented on #2341
Try 0.25.4

On Thu, 1 Jun 2017 at 22:45, Phil Ostler <notifications@github.com> wrote:

[2017-06-01 22:45] nschonni commented on #3485
I wonder if yarn could use the `files` element in `package.json` to figure out that there is a folder it should keep https://github.com/sass/node-sass/blob/master/package.json#L45

[2017-06-01 22:55] xealot commented on #3509
This post enabled me to fix my issue, but excluding `yarn-offline-mirror-pruning true` from my `.yarnrc` file.

[2017-06-01 23:38] mkxml commented on #3509
Yes, I can confirm that without setting `yarn-offline-mirror-pruning` to `true` the problem does not appear.

[2017-06-01 23:52] jasonkuhrt opened #3556 "Local Yarn configurations"
This is a feature proposal.

Currently yarn configuration is global. E.g. `yarn config list` and `yarn config set version-tag-prefix` will affect how yarn operates on the users system. I proposal that these instead affect local configuration just like `add` et al. do. Configuring global configuration would changed to be consistent with how it works for said `add` et al, e.g.: `yarn global add ...`

[2017-06-02 00:32] juanca commented on #3303
I got this same error. I was able to reproduce and fix the issue (it was direct mistake from me).

Basically, I have a git dependency (and it's pointing a branch) that is tracked in the yarn lockfile. At some point during the day, I force pushed my git branch which clobbered the tracked sha. I verified that the clobbered sha was the `git archive CLOBBERED_SHA` presented in the error message.

The

[2017-06-02 01:02] brendo commented on #3541
The same is true for [NPM](https://www.npmjs.com/package/yarn) as well, the last version published there is 0.24.5.

[2017-06-02 06:08] sefo opened #3557 "Error 403 Forbidden when adding bootstrap"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Running yarn add bootstrap returns a 403 error.
"An unexpected error occurred: "https://registry.yarnpkg.com/bootstrap: Req
uest \"https://registry.yarnpkg.com/bootstrap\" returned a 403".

The issue seems to be similar to this https://github.com/yarnpkg/yarn/issues/2793 but with the add command.

[2017-06-02 08:36] OpenGG opened #3558 "Yarn should allow users to override registry host in yarn.lock"
**I want to request a *feature*.**

**What is the current behavior?**

- When `yarn.lock` exists, Yarn install command will always try to access `resolved` url, ignoring registry in `.yarnrc`.
- When the host inside `resolved` is not accessible, Yarn install command will fail.
- The only way for users to override the host in `resolved` is modifying the lock files.

**What is the expected behavior?

[2017-06-02 08:38] OpenGG commented on #3558
Related issues:
https://github.com/yarnpkg/rfcs/pull/64
https://github.com/yarnpkg/yarn/issues/3330

[2017-06-02 08:39] eTorAken commented on #2165
From [npm 5 patchnote](http://blog.npmjs.org/post/161081169345/v500), files are now automatically symlinked with the `file:` syntax:

So yeah, there is no `link` with npm.

[2017-06-02 08:42] Nickman87 commented on #3530
Same issue here. Running create-react-app manually after the error does work so it seems to be an actual yarn issue.

[2017-06-02 09:06] hzzhujf opened #3559 "A mistake command 'isntall' in the help of yarn"
**Do you want to request a *feature* or report a *bug*?**

I will request a bug
**What is the current behavior?**
The help doc of yarn seems to have a mistake
**If the current behavior is a bug, please provide the steps to reproduce.**

Use the command 'yarn -h', then the Commands contains 'install' and 'isntall', I guess the 'isntall' is a mistake?
**What is the expected behavior?**

**Please men

[2017-06-02 09:15] smelukov opened #3560 "Yarn installs wrong version"
**Do you want to request a *feature* or report a *bug*?**

Report a *bug*

**What is the current behavior?**

- put `"dependencies": { "css-tree": "^1.0.0-alpha17" }` in package.json
- exec `yarn`

`yarn.lock` is
[code]

With NPM it's ok (NPM installs `1.0.0-alpha17`)

**What is the expected behavior?**

Resolve and install `1.0.0-alpha17` instead of `1.0.0-alpha9`

**Please mention your node.js,

[2017-06-02 09:26] smelukov commented on #3560
https://github.com/yarnpkg/yarn/blob/master/src/util/misc.js#L9
`sortAlpha('1.0.0-alpha7', '1.0.0-alpha9') // -2`
`sortAlpha('1.0.0-alpha17', '1.0.0-alpha9') // -8 (but +8 is expected)`

[2017-06-02 09:28] satya164 commented on #2165
Kinda unfortunate. File deps never behaved the same due to copying everything (including `node_modules`) and not respecting `.npmignore` or `files` field. Now it's worse with symlink.

[2017-06-02 09:37] bestander commented on #2165
I think file: and link: could be improved further, there are different strategies that have their own PROs and CONs and Yarn should allow people to choose one.
For example `knit` RFC could be implemented as one of the strategies https://github.com/yarnpkg/rfcs/blob/master/accepted/0000-yarn-knit.md

[2017-06-02 10:00] wakeful commented on #2181
@Couto you can work around .config location by simply overwriting the $HOME env variable before running yarn

e.g.: `HOME=$(pwd) yarn install`

[2017-06-02 12:53] skipjack commented on #3547
We're seeing the same thing over at webpack/webpack.js.org... see [this build](https://travis-ci.org/webpack/webpack.js.org/builds/237914513?utm_source=github_status&utm_medium=notification).

[code]

[2017-06-02 12:54] clarenced commented on #3454
Hi @bestander, here is the PR #3561

[2017-06-02 15:06] djenriquez commented on #3531
Hi, we're having issues with this version of yarn, 0.24.6, and nodemon also. Reverting back to 0.24.4 solves the problem, but otherwise yarn cannot find nodemon.

With the exact same `package.json` and `code`, we experience the following:

**0.24.6**
[code]

**0.24.4**
[code]

Reference:
- https://github.com/djenriquez/vault-ui/issues/128
- [package.json](https://github.com/djenriquez/vault-ui/blo

[2017-06-02 17:09] aabreur commented on #2426
++

[2017-06-02 17:57] jasonkarns opened #3562 "Yarn leaves invalid characters (like `.`, `:`, `-`, and `/`) in env var names"
**Do you want to request a *feature* or report a *bug*?**: Bug

**What is the current behavior?**

The environment variables that yarn sets during execution of scripts are not normalized to account for invalid characters. This means these variables cannot actually be referenced in the shell from package scripts. (And they can't be read from `process.env` in a cross-compatible way with npm.)

npm c

[2017-06-02 18:03] jasonkarns opened #3564 "Yarn does not embed license text in env var npm_package_licenseText like npm"
**Do you want to request a *feature* or report a *bug*?**: Bug

**What is the current behavior?**
Npm embeds the text of a package's license as `npm_package_licenseText` env var. Yarn does not do this. Therefore the environment in which a package script or node process runs is inconsistent between a yarn-executed script and npm-executed script.

Given package.json:
[code]

npm yields:
[code]

yarn

[2017-06-02 18:07] jasonkarns opened #3565 "Yarn does not canonicalize repository URLs when setting `npm_package_repository_url` env var"
**Do you want to request a *feature* or report a *bug*?**: Bug

**What is the current behavior?**
Npm normalizes package repository URLs to a canonical form before setting the corresponding env var (`npm_package_repository_url`). Yarn does not normalize the URLs but instead sets the value of the env var as it exists in the package.json. This leads to an inconsistency between the environments in wh

[2017-06-02 18:15] #3564 closed

[2017-06-02 18:16] jasonkarns commented on #3564
Was documenting differences between yarn and npm by doing a diff and got the left/right incorrect. Yarn is the one that adds the embedded licenseText, not npm.

[2017-06-02 18:36] jasonkarns opened #3566 "Yarn does not support `yarn run env` as npm does"
**Do you want to request a *feature* or report a *bug*?** inconsistency with npm

**What is the current behavior?**
One can run `npm run env` in any package and it will print the environment under which package scripts would run. It is in essence as if the script `"env": "printenv"` existed in the package.

Yarn, however, does not do this.

[code]

**If the current behavior is a bug, please provid

[2017-06-02 18:45] bestander opened #3567 "Appveyor build got broken"
https://ci.appveyor.com/project/kittens/yarn/build/2493 - Appveyor got red on this build and never recovered.

[code]

On other OS it passes.

[2017-06-02 18:46] bestander commented on #3567
cc @arcanis, without this we can't release 0.26, windows binaries won't build.

[2017-06-02 19:15] destroyerofbuilds commented on #3485
I updated my comment above to reflect that the issue I was originally having was not with `--frozen-lockfile`, but solely with `--pure-lockfile`.

We've been running into problems while using the NodeJS buildpack, and that buildpack uses `--pure-lockfile` - https://github.com/heroku/heroku-buildpack-nodejs/blob/c883f50251537f0e4cccd95749c79dd044a4357f/lib/dependencies.sh#L67

[2017-06-02 19:27] bestander commented on #3485
Thanks, we are looking into the issue now.
A fix is coming next week

On Fri, 2 Jun 2017 at 20:15, Hutson Betts <notifications@github.com> wrote:

[2017-06-02 19:48] mmmurf commented on #2914
I would want yarn link to also install deps that are linked by the package I'm linking... IOW I might have multiple nested "links" that I want to all link to the working directory for that project.  Is this possible? It doesn't seem to be the default behavior.

[2017-06-02 23:17] mapsam commented on #1952
I hit this as well - can confirm commenting out the `_auth` line in the `~/.npmrc` file does the trick.

[2017-06-03 06:52] ScottFreeCode commented on #1761
Thanks for the screenshot!

[2017-06-03 11:03] rogovdm opened #3568 "Confusion while running using yarn why and yarn remove"
Running `yarn why kerberos` displayed that is exist only in package.json.
[code]

My expectation was that is was an unused module.

Running `yarn remove kerberos` got me to
[code]

I expected that kerberos was an unused dep and it was safe to remove. But during removal turned out that it is used by mongodb-core.

yarn 0.24.6
mongodb: "^2.2.27"
kerberos: "^0.0.23"

[2017-06-03 11:47] siriwut opened #3569 "`yarn list --depth 0` list all installed dependencies in node_modules beside in package.json"
**`yarn list --depth 0` list all installed dependencies in node_modules beside in package.json**

I need `yarn list` able to list only installed dependencies in package.json

node.js version 6.10.3 macOS Sierra 10.12.5

[2017-06-03 12:22] dsblank commented on #3189
Also note that after adding the yarn package, you need to `sudo apt update` before attempting to install it again.

[2017-06-03 12:59] brandiqa opened #3570 "Upgrade Problem: Stuck at version 0.24.5-1"
**Which operating system are you using:**
Linux Mint 18.1 Serena 64-bit, Kernel Linux 4.4.0-53-generic x86_64

**Please describe the steps you took when trying to upgrade Yarn and what went wrong:**

I keep getting the warning:
warning Your current version of Yarn is out of date. The latest version is "0.24.6" while you're on "0.24.5".

So I tried to upgrade

[code]

The version still remains at v

[2017-06-03 13:34] nsarafa opened #3571 "Suggestion: yarn unpack"
##### `yarn unpack`

###### Creates an uncompressed from files, and directories compiled using `yarn pack`

***

Extra points if `unpack` can account for flags commonly passed with `yarn pack` (`--production --no-lockfile --no-emoji --verbose --perfer-offline --proxy` etc.)

[2017-06-03 13:40] miclill commented on #944
Still having this problem with yarn v0.24.5
`--network-concurrency 1` solves the problem, still annoying though...

[2017-06-03 16:37] dlong500 commented on #3492
@leosco I'm not sure I follow your last paragraph implying that version constraints are being ignored.  The issue, as far as I can tell is simply that the command doesn't save the updated version identifiers in package.json.  It _does_, however, correctly install the latest version of each package matching the semver rules set in package.json.

I personally am a bit torn on what the correct behavi

[2017-06-03 17:01] will-stone commented on #3492
I agree, a flag would useful. This would also not confuse users that are used to the current functionality.

[2017-06-03 17:54] paulirish commented on #3547
I got the exact same results as @bcruddy on [this travis build](https://travis-ci.org/samccone/fidgetspin.xyz/builds/239125926). ([raw log](https://s3.amazonaws.com/archive.travis-ci.org/jobs/239125927/log.txt?X-Amz-Expires=30&X-Amz-Date=20170603T175427Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170603/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signatur

[2017-06-03 20:03] skipjack commented on #3547
Yeah, somehow restarting the build fixed the issue for us. I'll report back if we see it again.

[2017-06-03 23:41] ruifortes opened #3572 "when installing from git yarn ask to choose version"
Hi.
When installing from a git repo yarn asks to choose a version.
Is this the expected behavior?

[2017-06-04 04:51] rarkins commented on #3313
Am I missing something, or does this bug mean that `yarn`'s main value proposition (deterministic, repeatable installs) is now broken as a result? Is there any way to ensure a team still gets identical installs?

[2017-06-04 05:26] joncursi opened #3573 "Install fails for private git package after deleting old repos"
After cleaning out my Github profile by deleting old, unused repositories, I started getting errors running `yarn install` on my projects that used to depend on those old repos. My guess is that references to those repos are baked into the git history of the project, and yarn can't resolve the paths or something.

The package that fails is a private module that I pull in through git:

[code]

Ever

[2017-06-04 05:33] taoeffect commented on #3313
Hey, there's [NPM 5](http://jpospisil.com/2017/06/02/understanding-lock-files-in-npm-5.html) out. :)

[2017-06-04 05:37] joncursi commented on #3573
Oh, boy. I finally tracked it down and the problem is completely unrelated. Npm install failed as well, but NPM at least gave a clearer error on what was going on:

[code]

The problem was with my git lfs setup. I had installed `husky` which over-wrote my git-lfs `prepush` hook, which messed everything up.

Running:

[code]

restored the git lfs hook and allowed yarn to do its thing.

[2017-06-04 05:37] #3573 closed

[2017-06-04 08:46] xmlking commented on #3555
same thing for me here.
Node 8.0.0 and yarn v0.24.6
https://github.com/xmlking/hub/tree/master/server
I also have `socket.io-client`  warning

[2017-06-04 12:11] vass-david commented on #764
Same problem. Got stuck on the last package while "Fetching packages". Not happening in every project, but most of my projects got this issue. I've reinstalled my system yesterday so may be that previous version didn't have this issues or the package that is doing mess was already cached or whatever.

Yarn version: v0.24.6
Node version: tried v8.0.0, v7.10.0, v7.9.0, nothing worked
OS: macOS 10.12

[2017-06-04 17:07] GAumala commented on #3424
Does yarn even handle SIGTERM? if so, where? It would have to keep a reference to every child process and call `child.kill()` on every one of them when SIGTERM is received.

[2017-06-04 20:29] skylize commented on #2629
I had this problem installing prop-types module. Each time I tried to install it would ENOENT on a different filename. For me the problem went away after installing npm 5.0.2
[code]

[2017-06-04 21:27] adamostrogorski opened #3574 "Yarn how to upgrade version"
I have Yarn version 0.22. I must upgrade Yarn to version 0.23.4 (at least).

I try with commends from Yarn doc:

    sudo apt-get update && sudo apt-get install yarn

    yarn upgrade v0.23.4

but I still have version 0.22.

How can I upgrade Yarn?

[I need Yarn to install gulp, beacuse in Yarn version 0.22 some packages of gulp  not install]

[2017-06-04 22:02] justinhessdev opened #3575 "Create-react-app not working with yarn"
yarn version -- v0.24.6
node version - v6.10.1
MacOS Sierra - 10.12.5

From the terminal:

[code]

yarn-error.log:

[code]

I installed yarn via Homebrew-- `brew install yarn` -- did not work
Then uninstalled/reinstalled via `curl -o- -L https://yarnpkg.com/install.sh | bash` -- did not work

When I uninstall Yarn, create react app works via npm/node

[2017-06-05 04:37] bendetat commented on #2821
`cmdtest` seems to be installed by default on Ubuntu 17.04 at least, so perhaps this should be added to the installation instructions...

[2017-06-05 05:38] Daniel15 commented on #2629
@skylize That's likely to be coincidental - Yarn doesn't use the npm client at all, so the version of npm does not affect execution of Yarn at all.

[2017-06-05 05:47] Daniel15 commented on #1761
Yeah, this is a very annoying behaviour of GitHub. The RFC repo was never supposed to have issues enabled (RFCs are only submitted via pull requests), but issues were accidentally enabled in the beginning. We gave people time to create new PRs based on issues before disabling the issue tracker. It would have been nice for GitHub to keep read-only access to the existing issues. Oh well.

[2017-06-05 06:32] #3255 closed

[2017-06-05 08:38] xakep139 commented on #1222
https://github.com/Microsoft/vscode/issues/24604

[2017-06-05 10:38] jhabdas opened #3577 "Installed devDependencies with --prod flag set"
This is an extension of https://github.com/yarnpkg/yarn/issues/3473, which was closed during issue pruning. This is _not_ the same issue.

**Do you want to request a *feature* or report a *bug*?**
It's a bug.

**What is the current behavior?**
Installs all package development dependencies when `--prod` flag set.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

[2017-06-05 10:48] arcanis commented on #3567
@bestander For some reason my local tests also stopped passing - any idea?

<img width="1184" alt="screen shot 2017-06-05 at 11 47 30 am" src="https://cloud.githubusercontent.com/assets/1037931/26781121/dc9725e0-49e4-11e7-87bb-1335f0d00a34.png">

[2017-06-05 11:38] m-andrew-albright commented on #3169
Still happening for me in `0.24.6`

I determined that it is copying all the files over properly, but then during step `[5/5] Cleaning modules...` some of the files are removed.

[2017-06-05 12:32] bestander commented on #3567
Are you testing on windows locally?

On Mon, 5 Jun 2017 at 11:48, Maël Nison <notifications@github.com> wrote:

[2017-06-05 12:33] kslimani commented on #3324
I close the issue, as #3523 is merged.

[2017-06-05 12:33] #3324 closed

[2017-06-05 12:41] rally25rs commented on #3473
Kinda late to this already-closed issue, but I can't repro it in 0.24.4 either

[code]

I'm not sure where `camelcase` would have even come from, as it isn't even a devDependency of fetch-inject.

[2017-06-05 12:44] jhabdas commented on #3473
Exactly. There are no `devDependencies`. Out of intrigue and extreme curiosity, @rally25rs, are you running a Node LTS?

[2017-06-05 12:45] jhabdas commented on #3473
Please note also I validated using a file system search, and not the `yarn list` command when I saw the unexpected dependency in `0.24.4`. (And thanks for checking.)

[2017-06-05 12:48] rally25rs commented on #3577
I'm unable to reproduce this on osx sierra, yarn 0.24.4

[code]

Is it possible that you had previously added `fetch-inject` as a dev dependency? What does your package.json and yarn.lock file contain?

[2017-06-05 12:51] arcanis commented on #3567
Nope, that's the Linux tests. I'm testing on Windows via Appveyor. Worth noting that all tests seem to pass on CI, it's just my environment that breaks, but I have no idea what might cause these issues ...

[2017-06-05 13:01] jhabdas commented on #3577
Thanks for taking a look @rally25rs. I'm doing a little more digging on my end to provide a better minimal test case for reproduction.

[2017-06-05 13:07] rally25rs commented on #3568
I think I remember seeing a bug somewhere that `why` only prints the first dependency that it finds, not all of them. Might be related to #3228

[2017-06-05 13:09] jhabdas commented on #3577
@rally25rs I noticed your repro steps did not match my own. Here's a `package.json` file. Please try again without the `yarn init -y` (which I assume creates an initial lock):

[code]

[2017-06-05 13:15] rally25rs commented on #3016
While working on PR #3510 I discovered why this happens.

When you don't specify a package name, it loads the list of dependencies from your `package.json` file, including the version ranges.

When you specify a package name, it doesn't load `package.json` and instead uses what you passed in as the dependency list.

So `upgrade` is actually expecting something like: `yarn upgrade foo@^1.2.3`
But m

[2017-06-05 13:25] jhabdas commented on #3577
https://yarnpkg.com/en/docs/migrating-from-npm

Pulling doc for reference:

[2017-06-05 13:29] jhabdas commented on #3577
And here's a gist containing the `yarn.lock` produced after following the NPM migration instructions: https://gist.github.com/jhabdas/a09a019ff5e3e41e3cb4e61cc70a3e87

[2017-06-05 13:38] jhabdas commented on #3577
The crux of this issue seems to be `--prod` flag is not respected when no `yarn.lock` is present, resulting in the download of unexpected development dependencies.

I raised https://github.com/yarnpkg/yarn/issues/3473 two weeks ago as I was attempting to update my project README to add a `yarn` install command in addition to the following commands:

- Get it on NPM with `npm i -p fetch-inject`
- B

[2017-06-05 13:38] solocommand commented on #3552
@yarnpkg Any update on this?

[2017-06-05 13:44] rally25rs commented on #3577
You know what, I'm thinking the `--production` flag might just be broken.

`yarn install --production` seems to install all the `devDependencies`

This might be related to #3439 and #2304

[2017-06-05 13:46] jhabdas commented on #3577
Thanks for the quick follow-up, @rally25rs. Updating title to reflect the true nature of this issue now that it seems we've nailed it and because the related issues are currently closed.

[2017-06-05 13:53] rally25rs commented on #3577
Tested in 0.24.4 and 0.24.6. Both had the same behavior.

`yarn install --production` installs `devDependencies` listed in package.json

[code]

[2017-06-05 14:10] rally25rs commented on #3556
As a workaround you can manually create / edit a `.yarnrc` file in your project, but you don't get the convenience of being able to use the `yarn config` commands.

It would have been nice to have `yarn config` work on the local project and `yarn global config` to set things globally, but in the interest of backward compatibility, I'm not sure that is a change that could be made.

[2017-06-05 14:14] rally25rs commented on #3542
This is a duplicate of a couple other issues, but I can't seem to find them right now (I feel like GitHub search is totally broken sometimes!).

Yarn currently (v0.24.x) checks the file lists (`files` in package.json for example) when publishing a package, but not when extracting/installing a package.

If I can find those related issues I'll link them here... but I at least wanted to comment that

[2017-06-05 14:17] khushkaran commented on #536
Dunno if this will help anyone - I found that after trying a `yarn install` a few times - one time it popped up for a passphrase (as one of my dependencies are stored in git and fetched over SSH)... I couldn't enter my passphrase for some strange reason, so I changed my SSH config to use the keychain (https://superuser.com/questions/1127067/macos-keeps-asking-my-ssh-passphrase-since-i-updated-to-s

[2017-06-05 14:20] rally25rs commented on #3542
Ah, found them...

Duplicate of #2822 #3385

[2017-06-05 14:26] rally25rs commented on #2276
I'm actually curious what the use case is for even running `yarn clean`? The docs basically say "don't use this" so why even make the command available?

I can only venture to guess that the intent was to remove files that _probably_ weren't needed for a production deployment to run, saving some HD space, but it doesn't seem like the `clean` command should ever be run under a development environme

[2017-06-05 15:02] crh225 commented on #3574
https://github.com/yarnpkg/yarn/releases
has a tar.gz or a deb package

or you can try yarn upgrade

[2017-06-05 15:05] jhabdas commented on #3577
Did a quick pass through some of the source and issues and found:

**Related issues:** #2739, #2819
**Duplicate issues:** #3312, #3525, #3546, #3439, #3468 (suggested this is expected: https://github.com/yarnpkg/yarn/issues/3468#issuecomment-303383004), #3323, #2944, #3263, #2304, #2703. I gave up after that. Here's [a search](https://github.com/yarnpkg/yarn/search?p=3&q=production&type=Issues) to

[2017-06-05 15:25] jhabdas commented on #3574
@adamostrogorski you may need to find a mirror with a more current version of the package. all you should need to do is `apt-get remove yarn && apt-get update && apt-get yarn` again.

[2017-06-05 16:19] ide commented on #1326
Thanks to @mhart, Yarn is now included in the alpine-node (v8+) Docker image: https://github.com/mhart/alpine-node/issues/65#issuecomment-305056795. This is especially useful since we've found some issues with npm 5 so having an alternative out of the box is great.

[2017-06-05 17:10] whitecolor commented on #1326
Now images should be updated more often)  as Yarn and NPM5 still have a lot of minor bugs

[2017-06-05 17:20] arcanis commented on #3567
Will be fixed by #3578

[2017-06-05 17:27] ivan1986 opened #3580 "unable to import packages using git+ssh"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
use example package.json
[code]
clear yarn cache, run npm install, run yarn import

**What is the expected behavior?**
success Saved lockfile.

**Please mention your node.js, yarn and operating system version.**
Node

[2017-06-05 17:39] donaldpipowitch commented on #3542
Cool, Thank you for sharing the issues ❤

[2017-06-05 17:39] #3542 closed

[2017-06-05 17:40] arcanis commented on #3575
I can't reproduce this issue - do you also have it if you try to run `yarn add @timer/detect-port`?

[2017-06-05 18:07] agibralter commented on #3154
Any updates here? Looks like those got merged. Is there a release?

[2017-06-05 18:25] jasonkuhrt commented on #3556
@rally25rs Totally understand, it would be a tough change as I proposed! Thanks for the tip too.

[2017-06-05 18:34] benmarten commented on #648
When switching through node versions through nvm, my yarn global bin is not updating, which seems to be the root cause of the problem as well.

[2017-06-05 19:18] Mletter1 commented on #2401
Like @Jamiewarb said Still experiencing this issue today. Above fix worked Homebrew 0.9.9

[2017-06-05 19:41] arcanis commented on #3154
Yeah, just waiting for #3578 to be merged, otherwise the Windows artifacts won't be correctly generated.

[2017-06-05 20:06] rally25rs commented on #3577
You know what, I just played with this some more, and realized some interesting behavior...

The yarn.lock file still lists the dev deps, as does `yarn list` and `yarn why` but the files for them are not actually extracted to `node_modules/`

[code]

So now I'm questioning my above comment where I was thinking that devDependencies were being installed. I was relying on `yarn list` to tell me what

[2017-06-05 20:08] adrukh opened #3581 "Yarn introduces extraneous dependencies"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
Running `yarn` introduces an extraneous dependency. That is, a dependency is placed in `node_modules`, but cannot be traced to a parent dependency that exists in `package.json`.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. `git clone https://github.com/Apicurio/api

[2017-06-05 20:50] leosco commented on #3492
@will-stone As long as it's changing the version correctly per your upgrade constraints and reflecting the change in the package.json then it's working as expected, in line with how npm is designed to work.

@dlong500 I think you're right, I may have been mistaken about it not following the proper semver constraints, perhaps my versioning in my package.json was incorrect when I first tested it.

A

[2017-06-05 21:13] jhabdas commented on #3577
Scientific method states we shouldn't change any variables between steps of issue reproduction. To reproduce the issue simply grab the `package.json` I left in the [above gist](https://github.com/yarnpkg/yarn/issues/3577#issuecomment-306187515), replicate the environment, which uses a Node LTS, and follow the repro steps using the `--prod` flag and you will arrive at: https://pastebin.com/mSvkRazx

[2017-06-05 21:45] davidaurelio opened #3582 "Yarn can’t install `tap-prettify`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Yarn fails with

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn add tap-prettify`

**What is the expected behavior?**
Installation without failure

**Please mention your node.js, yarn and operating system version.**
v8.0.0, v0.24.6, macOS

[2017-06-05 22:09] rally25rs commented on #3577
Seems to be dependent on what specific packages are in your `devDependencies`. Some (`rimraf`) will not have any deps installed after an `install --prod`.

Cut your package.json devDeps down to just this one:

[code]

After a `yarn install --prod`:

[code]

So it doesn't actually install _your_ devDependencies, but _some_ transient deps somehow get included, but not _all_ of them either. I haven't

[2017-06-05 22:18] rally25rs commented on #3577
OK, It looks like this is already fixed in `master`, which is actually why the previously mentioned issue was marked closed...

[code]

[2017-06-05 22:35] rufman opened #3583 "cmd-shim using octal without `o`"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
Running `yarn test` through `nyc` fails because strict mode does not allow the usage of octals without `o` (which cmd-shim does). The error produced is `Invalid number`

**If the current behavior is a bug, please provide the steps to reproduce.**

Create a project with nyc being used for code coverage

[2017-06-05 22:37] dlong500 commented on #3492
@leosco In terms of what's "healthy", the scenarios you propose really only get solved by committing the yarn.lock file anyway.  Just using package.json to try to "sync" environments between developers has two major problems:
1) It doesn't track sub-dependencies at all, so you could easily end up with multiple developers on the same version of direct dependencies but wildly varying on the versions

[2017-06-05 22:48] jhabdas commented on #3577
Can we leave this one open until the release is dist tagged this time?

[2017-06-05 23:09] leosco commented on #3492
Yeah, you're right. The whole point of yarn means the lock file makes
syncing deps between devs a seamless process :D so this isn't a real issue.

On Jun 5, 2017 18:37, "Davison Long" <notifications@github.com> wrote:

[2017-06-05 23:26] BYK commented on #1952
Working on this

[2017-06-06 02:43] buu700 commented on #1658
In case it's helpful to anyone, here's the temporary workaround I'm using until this is resolved:

[code]

I can't speak to anyone else's use case, but in my case we have a script that generates and commits a new package.json and yarn.lock with the latest versions of a list of modules, after which point yarn.lock is used as you suggest.

[2017-06-06 03:08] mikestead commented on #1016
If you switch over to `phantomjs-prebuilt` to solve this problem, you then can't run it in an Alpine based docker container as it's not built for musl... so you also have to change your Linux distro too.

[2017-06-06 03:12] kyanh-huynh opened #3585 "Yarn doesn't understand url replacement from ~/.gitconfig"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Yarn (version 0.24.5) doesn't understand URL replacement configuration from `~/.gitconfig`.

[code]

**What is the expected behavior?**

Yarn should use new URL (https://github.com/myorg/utilities.git) instead of `git+git@github.com:myorg/utilities.git`.

**Please mention your node.js, yarn and opera

[2017-06-06 03:40] kyanh-huynh commented on #3585
See also https://github.com/yarnpkg/yarn/issues/2614 . Maybe this is a duplication.

[2017-06-06 04:34] tkssharma commented on #3533
[ alackarte-admin]$ sudo yum install yarn
Loaded plugins: priorities, update-motd, upgrade-helper
Resolving Dependencies
--> Running transaction check
---> Package yarn.noarch 0:0.24.5-1 will be installed
--> Processing Dependency: nodejs for package: yarn-0.24.5-1.noarch
--> Finished Dependency Resolution
Error: Package: yarn-0.24.5-1.noarch (yarn)
           Requires: nodejs
 You could try using

[2017-06-06 05:34] cbrwizard opened #3586 "Running `yarn add PACKAGE` doesn't add the package to `packages.json`"
**Do you want to request a *feature* or report a *bug*?**

Bug
**What is the current behavior?**
Running `yarn add PACKAGE` doesn't add the package to `packages.json`

**If the current behavior is a bug, please provide the steps to reproduce.**

1. cd to a folder with yarn.lock, package.json
2. run `yarn add koa-helmet` (or any other package)
3. It outputs
[code]
4. No updates in package.json

**W

[2017-06-06 05:39] cbrwizard commented on #3586
Tried with reinstalling yarn using brew, got the same result.

[2017-06-06 07:54] ErisDS commented on #3093
I am still having this problem. It randomly went away of it's own accord for a while, and randomly came back.

I'm now on yarn 24.6:

[code]

I have also seen:

[code]

And

[code]

And

[code]

Here's a gist of [yarn-error.log](https://gist.github.com/ErisDS/a6a496c31c921ce5f6652a1e882da373)

My .npmrc file looks like:

[code]
I have tried adding `@glimmer:registry=https://registry.npmjs.org/` as

[2017-06-06 08:02] ErisDS commented on #3378
I'm having the same issue https://github.com/yarnpkg/yarn/issues/3093, would be good to get these triaged together? There seems to be something specifically wrong with fetching packages from @glimmer?

[2017-06-06 08:10] ErisDS commented on #3093
Found 2 related (newer 😞 ) issues:

- https://github.com/yarnpkg/yarn/issues/3378
- https://github.com/yarnpkg/yarn/issues/3407

Commenting out the auth, registry and new @glimmer lines in my `.npmrc`  file allowed me to get past this issue:

[code]

There definitely appears to be a bug but it is probably best explained by #3407 if anyone is around to triage.

[2017-06-06 08:11] ErisDS commented on #3378
For anyone else who runs into this, based on #3407 I've managed to [figure out a workaround](https://github.com/yarnpkg/yarn/issues/3093#issuecomment-306413909), by commenting several lines of my `~/.npmrc` file.

[2017-06-06 08:11] ErisDS commented on #3407
For anyone else who runs into this, based on #3407 I've managed to [figure out a workaround](https://github.com/yarnpkg/yarn/issues/3093#issuecomment-306413909), by commenting several lines of my `~/.npmrc` file.

[2017-06-06 08:12] vitch commented on #3093
@ErisDS - Did updating the `_auth` line in your `~/.npmrc` so that it was scoped to a specific registry not help (see my previous comment for details)?

[2017-06-06 10:26] arcanis commented on #3581
`node-pre-gyp` is required by `fsevents`:

[code]

[2017-06-06 10:27] arcanis commented on #3581
I'm gonna close this issue, feel free to reopen it if I'm mistaken :)

[2017-06-06 10:27] #3581 closed

[2017-06-06 10:28] arcanis commented on #2708
This issue is related to an old version, so I'm gonna close it - feel free to open a new one if you experience a similar issue on the latest releases!

[2017-06-06 10:28] #2708 closed

[2017-06-06 10:32] arcanis commented on #3586
Cannot reproduce :(

[code]

[2017-06-06 10:48] arcanis commented on #3577
[code]

My guess is that it's because we always resolve all modules (including development modules) even when running in production mode, because otherwise the dependency tree could end up very different between production and development mode. We don't actually install the dependencies (or at least we shouldn't), but we still need to resolve them somehow :)

[2017-06-06 11:12] jhabdas commented on #3577
I'll give it another try in a few months. Looking forward to seeing a 1.0 release. Hope to see the CLI tidied up a bit so production installs don't also create a lock file without an extra flag as that to me is where opinion crosses the line for libs (but not apps).

Also, smashing work on the Jekyll site. I've been ogling it's source code. Digging the i18n.

[2017-06-06 11:40] xdumaine commented on #3093
My team has had to completely abandon scoped registries and use our private registry as a complete mirror of public, because of yarn's auth issues with scoped registries. We tried every configuration of `.npmrc` that we could think of, to no avail.

[2017-06-06 13:40] arcanis commented on #3572
I'm not sure I understand the problem. Can you detail what commands you're typing?

[2017-06-06 13:41] arcanis commented on #3571
What would be the use case?

[2017-06-06 13:45] arcanis commented on #3566
TIL. It would be nice to have this feature, I myself often typed `"env": "env"` in my scripts to have the same behavior. Would you be willing to make a PR?

[2017-06-06 13:47] arcanis commented on #3559
I don't reproduce this on the latest release:

[code]

[2017-06-06 14:05] adrukh commented on #3581
Wow `yarn why`! Thanks :)

But still, even though yarn is happy with how things are placed in `node_modules`, the incompatibility with npm introduces friction for some users. Is this an issue for yarn folks?

I'll rephrase the expected behaviour for this case - I expect yarn to produce a `node_modules` structure that is compatible with how npm does it, in terms of metadata etc. Is this just me exp

[2017-06-06 14:08] MtDalPizzol opened #3587 "Permission denied for package after using yarn link"
I have a package where I ran **yarn link**. Then, I ran **yarn link my-package** at another folder.
Then, when I ran **my-package** I got:

`bash: /home/myuser/.npm-global/bin/my-package: Permission denied`

I had not the same problem with **npm link**.

Seems like Yarn isn't linking binaries the same way as NPM.

Node: 6.10.3
Yarn: 0.24.5
OS: Linux Mint 18 Cinnamon 64-bit

[2017-06-06 14:31] BYK commented on #3028
I can't reproduce this on latest master neither with Node 6 nor with Node 7. I was able to see this happen with Yarn 0.24 and Node 7 so I'd say close the issue.

_-Anonymous_

[2017-06-06 15:19] arcanis commented on #3554
As @solocommand said, `yarn import` should be the way to go 👍

[2017-06-06 15:19] #3554 closed

[2017-06-06 15:22] arcanis commented on #3558
Yep, I'll close this one in favor of #3330 :)

[2017-06-06 15:22] #3558 closed

[2017-06-06 15:24] jasonkarns commented on #3566
@arcanis I don't have the time to PR this. Though as an aside, I would recommend you use `printenv` as the command for your "env" script, because `env` does more than just print the environment.

[2017-06-06 15:31] arcanis commented on #3552
I don't think the problem comes from us. Look at this json object: https://registry.npmjs.org/glob. Despite the `4.4.1` release being available in the `time` field, it is not listed into the `versions` object. Actually, if you try to run `npm install glob@4.4.1`, npm will also tell you that this version cannot be found.

My best guess is that this version has been unpublished when it was still pos

[2017-06-06 15:31] #3552 closed

[2017-06-06 15:36] bestander commented on #3028
@BYK, did you check on windows as https://github.com/yarnpkg/yarn/issues/3028#issuecomment-300499214?

[2017-06-06 15:41] targos opened #3588 "yarn.lock changes after removing node_modules"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

After installing two dependencies with `yarn add`. Removing node_modules and running `yarn` again changes `yarn.lock`.

**If the current behavior is a bug, please provide the steps to reproduce.**

Shown in the following test repo: https://github.com/targos/yarn-bug-mime-db
1. Create a new project wi

[2017-06-06 15:50] arcanis commented on #3582
Apparently `tap-consumer` is a bundled dependency of `tap`, but it isn't available in `tap`'s node_modules - either because it never got copied there during the linking, or because it got somehow removed, possibly when linking its non-bundled dependencies.

[2017-06-06 15:53] arcanis commented on #3557
I can't reproduce this on my side - do you have a particular configuration, like in the issue you've mentionned, where they had a custom registry url?

[2017-06-06 15:53] bestander commented on #3424
@GAumala, would you send a PR?
The code is here https://github.com/yarnpkg/yarn/blob/master/src/util/execute-lifecycle-script.js

[2017-06-06 15:57] arcanis commented on #3555
I haven't been able to reproduce it yet, and I've ran Yarn a lot of time :(

[2017-06-06 16:07] georgesben commented on #3028
The problem is not solved for me :'(

Yarn version: 0.24.5
Node: 7.7.2

The command `npm install` works but `yarn` doesn't (waiting forever) :/
This is my logs:
[code]

[2017-06-06 16:11] jharris4 commented on #3555
It's happening on every project I am currently working with at least 50% of the time for me right now.

I don't know if it has any effect, but all the projects have some git dependencies of the style `git+https://domain.com/r/repo.git#semver`, and those git urls have their own dependencies in their respective package.json files.

[2017-06-06 16:15] arcanis commented on #3568
Yep! I'll close this in favor of #3228 :) If someone wants to make a PR to fix this, I'll gladly merge it.

[2017-06-06 16:15] #3568 closed

[2017-06-06 16:16] #3550 closed

[2017-06-06 16:20] arcanis commented on #3547
@Daniel15 Do you think we could add the file size / Nth first bytes / Nth last bytes in the error messages? It could make it easier to detect corrupted downloads

[2017-06-06 16:22] arcanis commented on #3588
Thanks for the report! I'm going to close it in favor of #3490, which I think is the reason you're experiencing this issue.

[2017-06-06 16:22] #3588 closed

[2017-06-06 16:23] conceptlogic opened #3589 "r"

[2017-06-06 16:55] BYK commented on #3028
@bestander - not on Windows yet since I hadn't set it up and then I saw comments claiming this happened on macOS too. Will try and debug on Windows too.

@georgesben - That's great! I mean not the issue still existing but you reproducing and providing all this information. Can you also share your package.json file (or at least the relevant parts)? Looks liek you're on Windows. Which version?

[2017-06-06 17:01] georgesben commented on #3028
I'm on Windows 7 (64 bits) Integral version

The package.json file is the following:
[code]
The command was executed in the following folder: `C:\Users\USER_NAME\test`

If you need more informations, please tell me :)

[2017-06-06 18:05] mfb commented on #692
This option would allow yarn to be a drop-in replacement for npm in build scripts.  And if we want to bikeshed, I'd agree that gulp --cwd flag (and also composer's --working-dir flag) was more clear to me than npm --prefix flag

[2017-06-06 19:22] manuq opened #3590 "Yarn fails to install Electron from the "Offline mirror" folder"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
Yarn fails to install Electron from the "Offline mirror" folder. Fails with "Can't make a request in offline mode".

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

The exception is:
[code]

This is my .yarnrc:
[code]

**What is the expected behavior?**
According

[2017-06-06 19:57] CrabDude opened #3591 "bundledDeps[rootDep].includes is not a function"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**

`yarn check` fails on node 4 with:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

No error.

**Please mention your node.js, yarn and operating system version.**
node: 4.8.2
yarn: 0.26.0

Offending commit: https://gith

[2017-06-06 20:15] BYK commented on #3028
@georgesben - Alright. I don't have access to Win 7 (have Win 10 at home) but I'll it there. If I can't repro, I'll come back and ask for more :)

[2017-06-06 20:35] RobertWHurst commented on #2738
For all those having this issue please check for an .npmrc file in your project directory as well as every parent directory above it. If one exists it will override the .npmrc file in your home directory.

[2017-06-06 20:43] BYK commented on #3309
Couldn't reproduce with `0.24.6` or latest master with the provided steps (with or without the yarn config)

[2017-06-06 20:44] BYK commented on #3309
@ericgundrum - Can you confirm that this is resolved on master at least? (or update the instructions so I/we can repro)

[2017-06-06 21:27] justinledford commented on #2108
[code]

If you don't want a short delay every time your .zshrc or .bashrc is sourced when opening a new terminal, you can just append the path directly without calling a subcommand:

`export PATH="$PATH:~/.yarn-global/bin"`

[2017-06-06 21:56] ericgundrum commented on #3309
@BYK - I am not able to reproduce this issue using `0.24.6`.

The git repo dependency is no longer being stored in the offline mirror cache, but I see from #3449 that is intentional. Hopefully that will change when #3449 is resolved.

Otherwise this looks good to me.

[2017-06-06 22:02] BYK commented on #764
@vass-david with your latest edit, are you still having the issue?
@andrsnn  - I've tried to reproduce the issue with your repo using various combinations of Node 4.8, Node 6.10, Node 7, Node 8 and yarn 0.24, 0.25, master. I couldn't reproduce the issue. can you confirm it is not there anymore?

[2017-06-06 22:28] BYK commented on #3313
Working on this. Located the reason and place to fix. PR on the way after I figure out the tests part.

[2017-06-06 22:30] BYK commented on #3313
Oh wait I missed @gpoole's patch. Still, working on this :)

[2017-06-06 22:55] Daniel15 commented on #3547
`no valid OpenPGP data found` means that the GPG signature is totally missing for some reason, whereas `BAD signature from "Yarn Packaging <yarn@dan.cx>"` means that the GPG signature file (`.asc`) is fine but the signature doesn't match the tarball. Usually this means the tarball is somehow corrupted, and redownloading it will fix the problem

@arcanis - That sounds doable. I guess we could use `

[2017-06-06 23:01] Daniel15 opened #3593 "Release script should open GitHub issue on failure"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Errors returned by the release script (CircleCI webhook) don't appear anywhere in CircleCI's UI 😢

I do have logs, but that requires me to manually check them. The script should either open GitHub issues or send an email to the maintainers to make the errors more obvious.

cc @arcanis

[2017-06-06 23:03] Daniel15 commented on #3574
Check that `/etc/apt/sources.list.d/yarn.list` exists. If not, create it with this text:
[code]

Then `apt-get update && apt-get install yarn` will give you the latest Yarn. This repo should always have the latest version of Yarn.

Please let me know if this doesn't work for you :)

[2017-06-06 23:03] #3574 closed

[2017-06-06 23:10] Daniel15 commented on #3541
Good catch. The RPM and Debian packages are updated as part of the same build job, and it seems like the RPM one isn't working properly:
[code]

[2017-06-06 23:41] grahamb commented on #3575
I can reproduce this as well on macOS 10.12.4, yarn 0.24.6 and both Node 6.10.1 and 8.0.0.

[code]

[2017-06-06 23:44] Daniel15 commented on #3541
Seems like a new release of RPM broke the script, as it fixed [Debian bug #858998](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=858998)
[code]

Fixed in https://github.com/yarnpkg/releases/commit/0e638627e97f7643a76abe294aca719d0e20bf52, and then the update script kicked in and worked as expected: https://github.com/yarnpkg/releases/commit/e9b29323d6b782c568e0720874093c4f49e70875

[2017-06-06 23:44] #3541 closed

[2017-06-07 02:39] bfricka commented on #541
From an implementation standpoint, what sort of risks and level of effort would you foresee simply by making this a flag that you can pass to the CLI? Shrinkpack is written so that uncompressed tarballs are the default, but you can opt into compressed packages with a flag. What would the impact be for simply implementing the inverse behavior (opt-in to uncompressed with a flag)?

It seems like thi

[2017-06-07 03:15] kirs commented on #764
@vass-david @JulianLeviston can you use `strace` on the stuck yarn process to find out what exactly is stuck? [Here](https://jvns.ca/zines/#strace-zine) is a great manual how to use it.

[2017-06-07 05:16] wereHamster opened #3595 "`yarn run` removes quotes around arguments"
Note how yarn removes the quotes around the argument. Some shells (zsh in my case) expands the glob when it's not quoted, and that leads to different semantics of the command.

[code]

Double-quoting arguments seems to fix it. Though I'd argue that yarn should preserve the original form of arguments:

[code]

[2017-06-07 05:41] xakep139 commented on #1222
Apparently, it is not Yarn issue: https://github.com/Microsoft/vscode/issues/19665
It seems like there is a bug in Windows with Creators Update, KB4020102 should fix this bug

[2017-06-07 05:52] sefo commented on #3557
No I use the default configuration. I tried changing the registry from https to http but it didn't help.
Manually accessing https://registry.yarnpkg.com works.
I also tried setting strict-ssl to false

The company I work for has strict network rules. That has to do with my issue. (npm on the same package file does work though)

[2017-06-07 06:42] Levino commented on #2738
I also have somewhere else to look. We have these issue usually with ```yarn install``` and usage of scoped private packages **in CI**. Yesterday I had the issue again. The team member who created the new service had not configured ```registry.npmjs.org``` as the registry for the scope in his local .npmrc. This lead to the fact that the yarn.lock had ```registry.yarnpkg.com``` links for all packag

[2017-06-07 06:45] aalpgiray commented on #1222
unfortunately "KB4020102"  did not fix the issue for me .

[2017-06-07 07:05] Daniel15 commented on #1222
@mmoreaux

This would be Node.js' [readline.cursorTo](https://nodejs.org/api/readline.html#readline_readline_cursorto_stream_x_y) function.

[2017-06-07 08:27] bestander commented on #541
Yarn puts the same tarballs that it downloads from the registry into
offline mirror folder.

To allow non compressed tarballs you would need to unzip it first and then
zip it again.

Also the tarballs have versions in file names, so git won't be able to
track version updates as small diffs.

On Wed, 7 Jun 2017 at 03:40, Brian Frichette <notifications@github.com>
wrote:

[2017-06-07 08:35] Daniel15 commented on #541
You wouldn't need to unzip then zip again, you'd simply need to decompress
the tarball. The inner .tar can stay the same, it'll just not be
compressed.

Not sure about Git, but Mercurial tracks copied files, so it could track
new versions of dependencies as copies of old ones if they're similar
enough.

Sent from my phone.

On Jun 7, 2017 6:27 PM, "Konstantin Raev" <notifications@github.com> wrote

[2017-06-07 09:09] vass-david commented on #764
@BYK no, since now I understand what is the issue and that I should simply enter my passphrase for ssh. On the other side it shouldn't swallow this prompt message, so if user is not aware of this, he might never realise that happened.
@kirs do you still need this even if now I know what is the issue?

[2017-06-07 09:20] bestander commented on #541
Thanks, Daniel, good to know.

Although someone needs to show that this advanced mercurial/git tracking
would happen on a real example then before we consider this change, right?

On Wed, 7 Jun 2017 at 09:35, Daniel Lo Nigro <notifications@github.com>
wrote:

[2017-06-07 10:12] #3591 closed

[2017-06-07 10:13] arcanis commented on #3589
No, we don't plan to rewrite Yarn using the R programming language.

[2017-06-07 10:13] #3589 closed

[2017-06-07 10:21] arcanis commented on #3575
Thinking about it, I think it's a duplicate of #1952. @BYK is working on it, we should ship a fix in the next minor release, possibly patch.

Going to close this one as a duplicate, but thanks for the report :)

[2017-06-07 10:21] #3575 closed

[2017-06-07 12:06] szarouski commented on #541
Hi @bestander, we use git with bitbucket & npm + shrinkwrap on some projects. Here is what it looks like when minor version of the tar changes:
![image](https://user-images.githubusercontent.com/911388/26877310-76c766e8-4b57-11e7-9c46-6c182e73aa9a.png)

Here are sample tar files for package from screenshot that was tracked as renamed:
[tars.zip](https://github.com/yarnpkg/yarn/files/1057863/tars.z

[2017-06-07 12:48] matthiasg commented on #3169
Same is happening with just running `yarn install vue` .. the resulting `node_modules/vue` folder is missing all script files in `node_modules/vue/dist`. Only the README is downloaded.

This reminds me of an error in a decompression library I once used

[2017-06-07 12:52] cpojer opened #3598 "Workspaces creates self-references"
I tried workspaces on Jest and the symlinks it created referred to itself:

<img width="962" alt="screen shot 2017-06-07 at 1 52 22 pm" src="https://user-images.githubusercontent.com/13352/26879313-8bc319ee-4b88-11e7-8a05-99948f612f15.png">

I could repo this two out of three times.

[2017-06-07 14:20] arcanis commented on #3154
@agibralter We just published the 0.26.1 release! Could you please try and confirm that it fixes the issue on your side? 🙏

[2017-06-07 14:45] csvan commented on #2311
Reproducible using Yarn 0.24.5 on Windows 7. This is a complete dealbreaker which stops us from using Yarn at all. Anyone have an idea what to do?

[2017-06-07 14:47] csvan commented on #2311
@curio77 @ghostd @fengcen @gdipkf1986 are you guys by any chance on Windows as well? Starting to suspect this is an OS specific issue.

[2017-06-07 14:57] curio77 commented on #2311
Nope, Linux.

[2017-06-07 14:57] curio77 commented on #2311
Nope, Linux.

[2017-06-07 15:05] arcanis commented on #3598
Seems like the inter-dependency files are generated inside the source rather than inside the node_modules :/

[2017-06-07 15:21] BYK commented on #3575
@grahamb and @justinhessdev can you tell us whether you have an `auth=` line in your `npmrc` files? (please do not share the value since it contains very sensitive info about your npm account)

[2017-06-07 15:21] kavi87 commented on #3590
I have the same error with typescript @types definitions that are not added to the offline mirror.  If I remove the node_modules, turn off wifi and install --offline everything work but after clearing the cache I get the same error "Can't make a request in offline mode". I'm using Yarn 0.26.

@manuq  Yarn 0.26 will log the name of package it failed to fetch now.

[2017-06-07 16:20] brianhorst commented on #3590
I have run into this too. There is an issue with pruning true and scoped dependencies where they are not saved in the offline cache. Take a look at #3509.

[2017-06-07 16:27] kavi87 commented on #3590
@brianhorst Thanks, removing `yarn-offline-mirror-pruning true` did the trick.

[2017-06-07 17:00] megamindbrian commented on #1462
Getting this error too.

[2017-06-07 17:24] eventualbuddha opened #3600 "TravisCI sometimes fails to install yarn via curl + `install.sh`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
TravisCI builds sometimes fail to install yarn.

**If the current behavior is a bug, please provide the steps to reproduce.**
This is not reliable behavior, but I've seen several TravisCI builds fail because of what appears to be a problem with yarnpkg.com. See [this](https://travis-ci.org/decaffeinate

[2017-06-07 17:28] grahamb commented on #3575
@BYK Yes, I do have `auth=` in my .npmrc file.

[2017-06-07 17:38] VimalRaj571 opened #3601 "unexpected end of file at Zlib._handle.onerror (zlib.js:370:17)"
Yarn Version : 0.24.6
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
When i try to install the create-react-native-app my-app it shows errors

**If the current behavior is a bug, please provide the steps to reproduce.**

``
Arguments:
  C:\Program Files\nodejs\node.exe C:\Program Files (x86)\Yarn\bin\yarn.js add --dev --exact --ignore-optional react-na

[2017-06-07 17:57] ganny26 opened #3602 "Yarn install throw gyp ERR [Binary has a problem]"
**Do you want to request a *feature* or report a *bug*?**

Bug
**What is the current behavior?**

1. I cloned this angular 2 repo git clone **https://github.com/preboot/angular-webpack.git my-app**
.  and did yarn install
2. It took almost 5 mins to show status

**If the current behavior is a bug, please provide the steps to reproduce.**
1.cd my-app
2.yarn install

[code]
**What is the expected be

[2017-06-07 18:06] rally25rs opened #3603 "(discussion) upgrade vs upgrade [package] version inconsistency"
_this is a discussion issue spawned from #3510_

## Existing Behavior

Currently (yarn 0.24 & 0.25) the `upgrade` command has this behavior:

Given a package.json

[code]

And the `left-pad` package has these versions defined in the registry:

[code]

Upgrades to 1.1.1 because it matches the package.json semver range (<=1.1.1)

Upgrades to 2.0.0 because a package was passed with no explicit versio

[2017-06-07 18:12] rally25rs commented on #3455
From discussion in 3510:

If the tests making web requests and hitting live metadata repos, this could be a cause for fragile tests in the future.

It would be good to make a plan to make the tests run as "offline" as possible.

Since Yarn already supports a fully offline install through use of the cache and "offline mirror" features, would it be feasible to load all packages and metadata used for

[2017-06-07 18:22] rally25rs commented on #3455
Alternatively, could we just load the metadata package.json file from the repository into `__tests__/fixtures/request-cache/GET/...`?

[2017-06-07 19:09] genu commented on #3540
I can confirm this as well on Windows.

[2017-06-07 22:51] junosw commented on #3555
Just had this start happening on a project I'm working on today. Same exact specs as OP:
MacOS 10.12.5
Node 8.0.0
Yarn 0.24.6

Can't get the yarn.lock to generate even though console output says it does.  Additional piece of info - I discovered this issue when adding a new package and noticed that package.json was not being updated either.

[2017-06-07 23:00] CraigglesO commented on #3209
Hey, just want to add my frustration. Slows yarn dramatically for `yarn add` or `yarn install`. Theres no point IMO. I'm not ready to publish, I just want to add a dependency. The major shift to yarn for me was speed, but if I have a pre-publish script I'm not going to see that efficiency anymore.

[2017-06-07 23:28] Daniel15 commented on #541
I've been meaning to test it out, I just haven't had time to do so.

[2017-06-08 00:42] Daniel15 opened #3606 "Create "release debugger" page"
Create a release debugger page for questions that commonly come up when releasing new versions of Yarn. Mainly answering the question "why did the release fail?" (eg. CircleCI build error, AppVeyor build error, GitHub API error) and "how do we fix it?". Include logs from the release scripts so I don't need to manually check them.

[2017-06-08 00:43] Daniel15 commented on #3602
Sounds like an issue while building a native module:

Please ensure you have the .NET Framework SDK installed and then try again.

[2017-06-08 00:44] Daniel15 commented on #3600
Both build jobs that you linked to show up as successful builds for me. Could you please include the raw build logs?

[2017-06-08 00:46] Daniel15 commented on #3583
If the error is in cmd-shim, please file an issue for the cmd-shim project.

[2017-06-08 01:19] BYK commented on #1952
Okay, I realized this only happened if you had an old `_auth` entry which did not contain your current, valid login information (hence why it was hard to track it down). Also I noticed this was fixed on master so I started bisecting. Looks like https://github.com/yarnpkg/yarn/commit/33820719e2c049ff93e86d29251b96d496f2b6e8 solved it which made it into the `v0.26.x` releases so upgrading your yarn

[2017-06-08 01:40] Daniel15 commented on #1952
0.26.x is still an RC release though, so only upgrade to it if you're comfortable testing an RC 😃

[2017-06-08 04:03] GAumala commented on #3424
I'd love to give it a shot, but I have some questions.

So `execCommand` is in `execute-lifecycle-script.js`, and then that function eventually calls `spawn()` in [`child.js`](https://github.com/yarnpkg/yarn/blob/master/src/util/child.js), which uses [Node's API for spawning child processes](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options). A refere

[2017-06-08 04:14] GAumala commented on #3559
I'm on Arch Linux with node 7.10.0 using latest commit b9fe9833 and I get this output:

[code]

[2017-06-08 04:32] GAumala commented on #3559
isntall is exported in [`unsupported-aliases.js`](https://github.com/yarnpkg/yarn/blob/master/src/cli/unsupported-aliases.js#L26). All those exports are then added to the `commands` object whose keys are iterated to display the help message. I guess yarn could group aliases in a single row to avoid this sort of thing.

[2017-06-08 05:14] ViceIce commented on #2724
I would like to submit a PR to workaround this problem by simply reset colors after bold usage.
Would this be an options until ms fixed the escape codes?

Until then using legacy console mode fixes the problem too, but then all new features (like copy&paste) are disabled. :-(

[2017-06-08 05:36] mapsam commented on #1952
Thanks for investigating @BYK!

[2017-06-08 06:15] mika76 commented on #2724
@ViceIce I vote yes - although will this only reset the color and not indentation? I have the same problem reported by @kumarharsh in ConEmu. I guess anything is better 😄

[2017-06-08 06:27] gunta987 commented on #3590
I think the issue may be with packages beginning with '@' not matching the lock file. The same thing happens with the packages installed by react create app: the package called "@timer/detect-port@1.1.3" in the lock file corresponds to the offline mirror file @time-detect-port-1.1.3.tgz. At the very end of the online install process, the tgz file is removed from the offline mirror folder.

[2017-06-08 06:34] JulianLeviston commented on #764
@kirs Mine's working since I updated yarn.

[2017-06-08 07:07] elyscape commented on #2446
In addition to warnings, `yarn global ls` currently lists binaries provided by global packages:
[code]
Two thoughts about this:
1. The warning that there is no license field doesn't make a lot of sense here.
2. `yarn global ls` really should list the packages installed globally, rather than their binaries. I shouldn't have to look in `~/.config/yarn/global/package.json` to remember what packages I

[2017-06-08 07:41] iwarner commented on #1496
Switching back to npm install fixed it for me.. I was getting - u'stream': u'[3/4] Linking dependencies in yarn and no error in NPM..

Something has gone wrong with the latest build perhaps

Running this through Docker.

[2017-06-08 08:55] ViceIce commented on #2724
PR should work now but failed with test timeouts. 😞

[2017-06-08 11:06] dheerajbhaskar commented on #3041
Wow! I was trying to file an issue because I encountered this issue and found my own issue that I'd filed earlier.

Is more info required to fix this?
Here's a package.json to reproduce this:

[code]

[2017-06-08 11:30] vernak2539 opened #3608 "Issue installing from git+ssh"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
We get a failure during install, which seems to be related to the `git+ssh` paths

**_Output (initial run, not verbose)._**
You can see it collects the changes correctly from the git repos, so it has access
[code]

**_Output  w/ verbose_**
[code]

**If the current behavior is a bug, please provide the

[2017-06-08 11:45] jharris4 commented on #3555
Just happened for me on a project without git dependencies, so definitely not related to that. Must be related to having upgraded to Node 8.

[2017-06-08 11:56] vernak2539 commented on #3608
Even tried switching all `#master`'s to use tags. no dice

[2017-06-08 12:09] VadimKhoroshiltsev commented on #3530
I am getting the same error on Windows 10 with node 8.0.0 and yarn version 0.24.5

[2017-06-08 12:37] arcanis commented on #3603
My opinion is that we should have the following behaviors:

command | no arg | `--latest`
--- | --- | ---
`upgrade` | respect package.json | ignore package.json
`upgrade <name>` | respect package.json | ignore package.json

instead of the current:

command | no arg | `--latest`
--- | --- | ---
`upgrade` | respect package.json | ignore package.json
`upgrade <name>` | ignore package.json | ignore pa

[2017-06-08 12:43] cpojer commented on #3603
fwiw I agree with @arcanis.

[2017-06-08 12:50] develar opened #3609 "yarn upgrade --latest doesn't preserve range specifier"
https://github.com/yarnpkg/yarn/pull/3510#issuecomment-307064171

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

`yarn upgrade --latest` doesn't preserve range specifier.

**If the current behavior is a bug, please provide the steps to reproduce.**

`"electron-osx-sign": "0.4.6"`

changed after `yarn upgrade --latest` to

`"electron-osx-sign": "^

[2017-06-08 12:56] develar commented on #3609
Related to #2367.

BTW — Yarn FTW! This flag will allow me to get rid of npm-check-updates module and rely only on Yarn. Thanks a lot.

[2017-06-08 12:57] arcanis commented on #3609
Thanks @develar ! If you don't mind I'll merge this issue with #2367 (my bad, I forgot this issue was already opened) 😃

[2017-06-08 12:57] #3609 closed

[2017-06-08 12:58] rally25rs commented on #3016
I'm going to mark this issue closed because the original question (why does it behave like this) is answered.

I'd like to move the discussion about making a breaking change to redefine how upgrade and upgrade-interactive determine version ranges to #3603

[2017-06-08 12:58] #3016 closed

[2017-06-08 13:14] rally25rs commented on #3603
## Additional feature - Preserve version ranges:

Related to #2367 and #3609 there have been requests that `upgrade` and `upgrade-interactive` when upgrading to a new major version will preserve the `package.json` specified version range, if it exists.

So for example if package.json specifies the dependency

[code]

Then if `upgrade --latest` jumps to a new major version, it will preserve the ran

[2017-06-08 13:17] rally25rs commented on #3603
## Additional feature - Make `upgrade-interactive` follow the same version ranges

It is also confusing that `upgrade-interactive` always ignores package.json and just checks latest.

It seems like `upgrade-interactive` should just be an "interactive" version of `upgrade` and follow the same version resolution. The `--latest` flag could be implemented there to cross major versions.

In other words

[2017-06-08 13:20] eventualbuddha commented on #3600
Looks like there's no way to get the logs for a previous run of a build (I ran re-build to get it to pass). I can tell you that the first line of the output that bash choked on was `<!DOCTYPE…` (ellipsis indicating I don't remember after that). I think curl may have indicated a 500 response, but that I'm less sure of. If I see it again I'll post here.

[2017-06-08 13:22] arcanis commented on #3603
I think that if we choose to support this, we can just support the 99% case where the reference matches `^[>~^]{version}$`. For all other references, we can just fallback to `{reference} || {new-version}`, possibly writing a warning so that the user knows that they should probably take a look at this and fix the range themselves.

[2017-06-08 13:50] junosw commented on #3555
@jharris4 I suspect that is the case.  I rolled back to 7.10 and it started working fine.

[2017-06-08 14:34] onbjerg commented on #906
Ping pong

[2017-06-08 14:58] davidpicarra commented on #3333
NPM 5.0.3 doesn't seem to install anything now. It appears since the key `fake-vue` doesn't match the name of the repo/package-name `vue` then it just doesn't install it. If I change the key to the correct one it will install normally.

Not sure what to take out of this new NPM version, is it worth investigating this yarn issue still? I've been trying to get it sorted out but taking way longer tha

[2017-06-08 15:14] VolleMelk commented on #1060
@bestander I think you're right. I had the same problem. I had yarn installed through npm. I uninstalled yarn and gulp:
`npm uninstall yarn gulp --global`
I installed yarn using the recommended practices here (in my case apt-get): https://yarnpkg.com/lang/en/docs/install/#linux-tab (See how it mentions that installing yarn with npm is not recommended on the alternative tab.. I never knew that)

I

[2017-06-08 16:27] kaylieEB commented on #3603
Thanks for the `--latest` flag @rally25rs, I think the consistency between `yarn upgrade` and `yarn upgrade [name]` clarifies a lot of things!

This may be beyond the scope (pun not intended :), but what do you guys think about making `upgrade-interactive` actually be able to choose the scope and the version, instead of current behavior

| command        | current behavior         |
| ------------

[2017-06-08 16:38] cpojer commented on #3603
Hey @kaylieEB! We really appreciate your contributions to Yarn recently. We have a #development channel on our discord server – would you like to join us there for discussions? We'd love to have you.

See https://discordapp.com/invite/yarnpkg

[2017-06-08 19:16] khaosdoctor opened #3610 "Yarn Version returns fatal"
**What is the current behavior?**
Running `yarn version` works ok until it executes `git add <thefullpathtomyrepo>`, then I get a "Fatal: <thefullpathtomyrepo>/package.json is outside repository"

Line: https://github.com/yarnpkg/yarn/blob/c1fe8a16c6c66d4c0fe7a0955b8432aa01a01587/src/cli/commands/version.js#L150

**If the current behavior is a bug, please provide the steps to reproduce.**
Checkout

[2017-06-08 19:41] rally25rs commented on #3455
@arcanis It looks like some of the tests don't hit real HTTP requests.

There is a mock requester in `__tests__/__mocks__/request.js` that first checks for a file in `__tests__/fixtures/request-cache/GET/...`

If the file exists, it just returns it.

If the file does not exist, then it does the actual HTTP request, and writes the response to the request-cache directory (where a dev could then chec

[2017-06-08 20:08] bestander commented on #2724
Is the reset only for win platform?

Tests may fail for other reasons, they can be flaky at times

On Thu, 8 Jun 2017 at 09:55, Michael Kriese <notifications@github.com>
wrote:

[2017-06-08 20:25] #3313 closed

[2017-06-08 20:27] rarkins commented on #3313
@BYK could you link to the commit or release its fixed in?

[2017-06-08 20:33] szarouski commented on #3154
@arcanis works for me with something like: `yarn add https://github.com/user/repo.git#tag`

[2017-06-08 20:56] BYK commented on #3313
@rarkins - https://github.com/yarnpkg/yarn/commit/7515772eabc91b741244a4f19aa34dce0a5dc5f4

[2017-06-08 21:26] BYK commented on #3610
I'm assuming your repo doesn't have a `package.json` file in it?

[2017-06-08 21:40] manuq commented on #3590
- Running Yarn install --verbose and without the --offline, I can see the fetch is for Node, the only package in my yarn.lock that has a `@types`.  So @gunta987, worth checking if the issue is general to all packages starting with `@`.

[code]

- @brianhorst, @kavi87 I can confirm that removing `yarn-offline-mirror-pruning true` from .yarnc does the trick, and makes @types-node-7.0.29.tgz file app

[2017-06-08 21:49] franzrecinos opened #3612 "Registry settings on .npmrc file being ignored"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
Yarn fails to use registry specified in `.npmrc`.

**If the current behavior is a bug, please provide the steps to reproduce.**
Create a project with a `package.json` and `.npmrc`
Add `@troveng/turbokit@0.3.31` to dependencies in `package.json`

Run yarn install

**What is the expected behavior?**
Yarn sho

[2017-06-08 21:58] manuq commented on #2204
Shouldn't this be closed now that #2994 was merged?

[2017-06-09 03:29] hudsonof opened #3613 "yarn init freeze"
I am using Windows 10 and PowerShell as console

I installed yarn normally by the installer downloaded from the official website
When I do a yarn --version it returns me the normal version
But when I do a yarn init I type the name of the project and press Enter, then the version line appears but does not enter anything because the console is frozen.

[2017-06-09 04:26] ViceIce commented on #2724
Yes. I can make it conditional.

Then i have to modify the [ConsoleReporter.header](/yarnpkg/yarn/blob/25890c8cf90ff23c3230ab7b8debe73ef9a80b34/__tests__/reporters/console-reporter.js#L25) test, because the output will be conditional too.

[2017-06-09 04:37] xakep139 commented on #1222
Progress bar is now fixed for me after KB4020102 and VS Code 1.13.0

[2017-06-09 07:12] csvan commented on #3330
+1 for this. In our case (which I think is shared by many) we have one repository in our local dev environment, and another in the actual build environment. Currently, tracking the lock file with git causes it to contain references to the dev registry which in turn leads to builds failing. The only solution we have found so far is to not track the lock file at all, which incurs a performance hit d

[2017-06-09 07:52] bestander commented on #2724
Sounds good, thanks

On Fri, 9 Jun 2017 at 05:27, Michael Kriese <notifications@github.com>
wrote:

[2017-06-09 08:43] kof opened #3614 "Idea: support package-lock.json from npm 5"
I think we will face the issue in the near future that we get 2 lock files in one project, especially because npm creates it by default. Is there any chance that yarn could use the package-lock.json from npm by default if it is detected?

It would be especially useful for libraries when maintainer uses package-lock, others can still use yarn when installing it.

[2017-06-09 09:37] ViceIce commented on #2724
Done.

[2017-06-09 11:33] iamkdev commented on #872
error An unexpected error occurred: "EACCES: permission denied, mkdir '/home/user/path/to/app/node_modules/escodegen/node_modules/estraverse'

[2017-06-09 11:39] NorbertPiskorz commented on #3328
I am encountering the same issue with another package that is accessible through a normal request in the browser. https://registry.yarnpkg.com/mobx.

[code]

node v6.9.5
yarn 0.19.1
mac

[2017-06-09 11:53] khaosdoctor commented on #3610
No, it has. When I run the install command it works just fine

[2017-06-09 11:59] vesterij commented on #3469
It seems that while buildin your mirror you have to use
`yarn-offline-mirror-pruning false`

Otherwise some packages are missing, even if you build everything from scratch

If you run following with and without yarn-offline-mirror-pruning you might get different amout of packages in your npm-packages-offline-cache folder

[code]

[2017-06-09 12:05] marvinhagemeister commented on #3041
This seems to be related to https://github.com/nodejs/node/issues/13557.

[2017-06-09 12:05] rally25rs commented on #3590
Just to confirm, are we in agreement that this is fixed in 0.26.1? If so, can we close this issue since it's already fixed?

[2017-06-09 12:07] rally25rs commented on #3613
Could you please specify:

* Version of Yarn
* Version of NodeJS

Thanks!

[2017-06-09 12:14] rally25rs commented on #3610
If you manually run `git add <thefullpathtomyrepo>` then I would expect Git to output the same error message. What is `<thefullpathtomyrepo>`? Is your Git repo set up in some non-standard way?

[2017-06-09 13:07] hudsonof commented on #3613
Yarn 0.24.6
NodeJS 8.1.0

[2017-06-09 13:20] redstrike commented on #1222
It seems that this **[Unicode character width improvements](https://code.visualstudio.com/updates/v1_13#_unicode-character-width-improvements)** in **VS Code 1.13** has fixed this issue.

![image](https://user-images.githubusercontent.com/2168227/26977065-aeeea37e-4d50-11e7-8a21-8076800764aa.png)

[2017-06-09 13:43] khaosdoctor commented on #3610
Let me give a more customized example.

I usually set all my repos on `~/Documents/Repositories`, so I created a new folder called `personal` inside it and then cloned one of my repos called `knoblr`, so the full path is `~/Documents/Repositories/Personal/knoblr`.

When I run `yarn version` (or `npm version`) it gives me this error. If I run `git add /Users/myuser/Documents/Repositories/Personal/k

[2017-06-09 13:44] snewell92 commented on #1222
Woo! :D The issue can be closed now. 👍  🎉

[2017-06-09 14:03] mmoreaux commented on #1222
No, the issue cannot be closed; the issue @xakep139 started talking about is different from the issue described in the starting post (different type of corruption, and the issue from the OP also happens on non-Windows hosts).

[2017-06-09 14:10] web-padawan opened #3615 "registry.yarnpkg.com returns 503"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**

[code]
**Please mention your node.js, yarn and operating system version.**
[code]

[2017-06-09 14:46] jharris4 commented on #3555
Just tried with the newly realeased Node 8.1 and still having the issue.

[2017-06-09 14:56] jharris4 commented on #3555
Just noticed that if `node_modules` are present, the lock file is reliably created. If `node_modules` are absent, the lock file is never properly created. I can reproduce this 100% of the time. Not sure how I can help someone else reproduce though.

[2017-06-09 14:59] black-snow opened #3616 "install fails - can't tell why"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
`yarn` will fail to install my deps, output:

[code]

(`install-app-deps` is a binary from [electron-builder](https://github.com/electron-userland/electron-builder) - all `bins` are missing 'cept for `semver` - see dev deps below)

**If the current behavior is a bug, please provide the steps to reprod

[2017-06-09 15:21] hakanderyal commented on #3613
Same thing happening to me on macOS.

Yarn installed with brew, using --ignore-dependencies option.
Yarn 0.24.6
NodeJs 8.1.0, using nvm.

[2017-06-09 15:28] hakanderyal commented on #3613
Just tried with Node 8.0.0, using nvm, everything works. There seems to be a problem with node 8.1.0.

[2017-06-09 16:04] kaylieEB commented on #3560
I started looking into this, and it's that the `semver.maxSatisfying` doesn't return the expected max version.
[code]
Technically css-tree has the incorrect semver, since pre-release tags should be dot-separated (http://semver.org/#spec-item-9)  such as `1.0.0-alpha.17`. Should we still try to patch this on our end?

fyi, this works
[code]

[2017-06-09 16:24] sarupbanskota opened #3617 "Error message could be better"
**Do you want to request a *feature* or report a *bug*?**

bug / minor enhancement

**What is the current behavior?**

[code]

_Notice the double add_

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

would be nicer to have had something like:

[code]

**Please mention your node.js, yarn and operating system version.**
node 8, yarn v

[2017-06-09 17:10] rally25rs commented on #3560
The `semver` that Yarn is calling here is just using https://github.com/npm/node-semver right?

If so, then I think it should be filed as an issue there... from a quick search I saw this: https://github.com/npm/node-semver/issues/30 where the 3rd-to-last comment points out this same issue.

[2017-06-09 17:39] alexkieling opened #3618 ""yarn install --flat" freezes on nodejs 8"
Bug found on yarn v0.26.1, node.js v8.1.0, and Fedora 25.

The `yarn install --flat` command freezes in the second question to choose a package version.

package.json attached.
[package.json.zip](https://github.com/yarnpkg/yarn/files/1064818/package.json.zip)

[2017-06-09 17:43] kaylieEB commented on #3560
thanks! From that issue's last comment, it looks like `node-semver` won't be supporting invalid prerelease versions. I'll look into a patch for yarn. I guess another alternative is to file an issue with css-tree to fix their semver.

[2017-06-09 17:56] jotatoledo commented on #3615
maybe related to #17117 in the npm repo

[2017-06-09 19:03] smelukov commented on #3560
Thanks. We'll try to fix csstree version

[2017-06-09 19:14] byokota commented on #3028
I still see it happen from time to time. I have to delete yarn.lock for it to work

[2017-06-09 19:38] web-padawan commented on #3615
@jotatoledo I supposed so but was not suree. Thanks for explaration! Anyway, I think this should be closed now.

[2017-06-09 19:38] #3615 closed

[2017-06-09 22:19] StephenFluin commented on #2154
Any update on this? This is affecting release of things like Angular. An upcoming release was put on npm with the tag `@next` but everyone pinned to the major ('^4.0.0') started getting it early.

[2017-06-09 22:54] Dbuggerx commented on #3613
Same problem here on Fedora 25.
Yarn v0.24.5
NodeJs v8.1.0 (using nvm)

[2017-06-10 03:09] OmgImAlexis commented on #3424
@frank-weindel can you update the OP as this is an issue with `yarn x` as well as `yarn run x`.

[2017-06-10 06:41] Lytol commented on #3613
Same on Debian strectch (testing)
Yarn 0.24.6
Node 8.1.0

[2017-06-10 12:16] dcefram commented on #1383
I know this is closed, but just in case other opensuse users would need to install yarn... I did this, and it worked:

[code]

There were a couple of warnings, like `yarn-0.24.6-1.noarch (Yarn): Signature verification failed [4-Signatures public key is not available]`, I just ignored that (pressed <i>) when asked.

Btw, I got the rpm URL by peeking into the yarn.repo file that Yarn officially prov

[2017-06-10 13:04] georgesben commented on #3028
There is no lock file when I launched the command (see the third line in the log)

[2017-06-10 13:55] acodercat opened #3619 "不建议把yarn默认成yarn install"
我今天就看看yarn有没有安装，结果就把我项目里面的包又给装了一次

[2017-06-10 16:34] krzysztofzuraw commented on #3447
@bestander is there any place (IRC, slack) where can I ask questions about how to run yarn in development mode? Or what is a structure of project?

[2017-06-10 17:52] FrankFang commented on #1496
@iwarner   npm 5.0 is a good choice.

[2017-06-10 18:25] sarupbanskota opened #3620 "yarn global list isn't supported"
**Do you want to request a *feature* or report a *bug*?**
bug / enhancement

**What is the current behavior?**
[code]

[code]

**What is the expected behavior?**

the same as `yarn global ls`

also based on what the website says, it sounds like `list` should be supported as a yarn subcommand.
https://yarnpkg.com/lang/en/docs/cli/global/

yarn bin: displays the location of the yarn bin folder.
yarn

[2017-06-10 18:34] rockchalkwushock commented on #3620
@sarupbanskota

How do you have your PATH setup? This will matter with where `yarn global ls` is looking at. You can refer to #630. I also made note of what this says in this [gist](https://gist.github.com/rockchalkwushock/a1b58cc38b0a59d11284a4715393d1fd#2-cli-installs). You'll have to scroll down to the bit about `yarn`. Hope this is what the issue is an you can get it working 👍

[2017-06-10 20:10] robsonrosa commented on #3620
@rockchalkwushock I'm not sure if its related with current PATH setup. The documentation itself is ambiguos. At the first paragraph we have:

And at the "read more" section, the command list changes to:

So, locally we should use `yarn list` and globally `yarn global ls`. And it's pretty confusing to me.

[2017-06-10 20:59] sarupbanskota commented on #3620
yeah, what @robsonrosa said, basically :-)

I'm happy to send a PR if y'all think it makes sense, although that would be my first and will probably take a short while ;)

[2017-06-10 21:16] bestander commented on #3447
There is a disqus channel https://discordapp.com/invite/yarnpkg

If you find not much activity there feel free to send me an email, it is in
the profile

On 10 June 2017 at 17:34, Krzysztof Żuraw <notifications@github.com> wrote:

[2017-06-10 21:21] rockchalkwushock commented on #3620
@sarupbanskota @robsonrosa

I see my mistake I saw your code snippet and thought you were not able to get `yarn global ls` to work. I agree this should either be a sub-command or `ls` should be the pattern used between local and global use of `yarn`.

[2017-06-10 21:25] sarupbanskota commented on #3620
Personally I think `list` reads better, but `ls` is more unix-like.

Why don't we support both, that way we aren't breaking the experience for somebody who's gotten used to either approaches?

As far as documentation goes, we could provide a preferred way.

-----

we could do a 👍 for `list`, ❤️ for `ls`

(... just kidding)

[2017-06-10 22:43] kaylieEB commented on #3620
This is fixed with 26.0.0 release.

[2017-06-11 06:38] stanleyxu2005 commented on #3142
@jmsmrgn I'm using yarn 0.24.6 on MacOS 12.5. The command `yarn global ls` still shows nothing.

[2017-06-11 09:59] sarupbanskota commented on #3620
Wow that was faast @kaylieEB - thanks!

[2017-06-11 12:44] thenoen commented on #3613
Same on Windows 10
Yarn 0.24.6 (msi installer)
Node 8.1.0 (msi installer)

[2017-06-11 13:34] asoaasoa opened #3621 "Installation Problem: [title]"
**Which operating system are you using:**

**Please describe the steps you took when trying to install Yarn and what went wrong:**

[2017-06-11 13:35] #3621 closed

[2017-06-11 17:11] calidion commented on #3315
having the same problem with the latest version.

[2017-06-11 20:11] alexkieling commented on #3618
The same command works fine on node.js v6.11.0.

[2017-06-11 20:25] pavinthan opened #3622 "Request failed \"404 Not Found\""."
yarn add v0.23.4
[1/4] Resolving packages...
[2/4] Fetching packages...
error An unexpected error occurred: "https://registry.yarnpkg.com/babel-helpers.js/-/babel-helpers.js-6.24.1.tgz: Request failed \"404 Not Found\"".
info If you think this is a bug, please open a bug report with the information provided in "D:\\movies\\mnhdp\\yarn-error.log".
info Visit https://yarnpkg.com/en/docs/cli/add for

[2017-06-11 20:34] AnnaMag opened #3623 "'yarn add' with a local node build fails to recognize node version"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
I built node from current master and experience issues installing dependencies with this '-pre' build.  Local executable is in the $PATH tagged as v9.0.0-pre. I set npm nodedir to the local build dir and, when installed via npm, dependencies are installed correctly. However, e.g.
```yarn add babel-esli

[2017-06-11 21:19] luchillo17 commented on #3142
@ipa1981 You need to set either yarn prefix to npm's one, or the other way around, and then reinstall all packages that aren't listed.

I've also noticed that yarn will list only those packages with binaries.

[2017-06-11 21:48] alexkieling commented on #1694
Having the same error with public scoped packages. Using yarn 0.24.6, node 6 and Fedora 25.

[2017-06-11 21:49] alexilyaev commented on #1088
With the bloat of tools that pop up every day, it's really frustrating to configure every little bit, especially if you already configured it for npm.

I use `save-exact` because many projects don't follow proper semver and break things in minor versions (or even patch versions), and after spending many hours debugging why "it works on my machine but not in production/test/staging" that's the only

[2017-06-12 00:32] alexilyaev commented on #1503
@nikolakanacki If you author a package that relies on another package that the user installs, you don't want it in devDependencies, that may result in a duplicate of that package in a different version., and won't makes sense in some cases...

## Use case [eslint-find-rules](https://github.com/sarbbottam/eslint-find-rules)

The package looks up rules available in ESLint that are not configured in

[2017-06-12 11:42] prewk commented on #3202
FYI: just deleting `node_modules/npm` followed by a `yarn install` is sufficient to make it work correctly again. No need to delete the whole `node_modules` dir.

[2017-06-12 12:57] rally25rs commented on #3603
Here is an interesting tidbit for discussion:

Let's say you have in package.json:

[code]

and let's say you currently have left-pad `1.0.0` installed, but latest according to the registry is `1.1.3`.

Currently, if you `yarn upgrade` then `1.1.3` is installed but your package.json is not modified:

[code]

If you `yarn upgrade left-pad` then your package.json is modified to match latest:

[code]

[2017-06-12 14:33] arcanis commented on #3603
That seems reasonable, yeah 👍

[2017-06-12 16:02] #3619 closed

[2017-06-12 16:03] arcanis commented on #3619
Please write issues in english :)

[2017-06-12 16:34] jaydp17 commented on #3054
or should be there in the docs.
https://yarnpkg.com/lang/en/docs/cli/upgrade-interactive/

[2017-06-12 17:38] brandiqa commented on #3570
This issue has now been fixed.

[2017-06-12 17:38] #3570 closed

[2017-06-12 18:24] agibralter commented on #3154
@arcanis appears to be working now 🎉🎉🎉

[2017-06-12 19:01] BYK commented on #3028
Hey, apologies for the radio silence. I'm in between computers right now so didn't have chance to try and debug this on Windows yet. Still on my list.

[2017-06-12 19:11] ipa1981 commented on #3142
@luchillo17 shouldn't this work out of the box?

[2017-06-12 22:53] jedwards1211 commented on #756
I think I'm seeing an issue in CI where the `phantomjs-prebuilt` package is cached and up-to-date but the binary is not built and installed, so it would be nice to be able to run the concurrent rebuilt manually from yarn instead of npm's serial rebuild.

[2017-06-12 22:55] Diokuz commented on #696
Another issue here: some packages are private, so docker cannot install them. I want to copy all the stuff to docker context, then just _remove_ devDeps. No reinstall – it fails.

[2017-06-13 00:00] luchillo17 commented on #3142
Yes, that's just a hack for you to get going meanwhile.

[2017-06-13 00:46] wearhere opened #3625 "[question] Why does hoisting algorithm change so much version-to-version?"
Hi folks, my team switched from npm 2 to Yarn recently and we love its speed and determinism—within versions. Probably the only thing we _don't_ love about it is that the `yarn.lock` invariably changes when we upgrade versions, which means that we have to keep telling each other to upgrade so we stay in sync; and given the speed of Yarn's development (otherwise a great thing!) this ends up being p

[2017-06-13 01:56] Cathy93 commented on #3530
I am getting the same error on Windows 10 with node 7.9.0 and yarn version 0.24.5

[2017-06-13 02:30] gsklee commented on #573
Just tried it and it does work (github repo shorthand with private repo); it prompted me to enter my ssh key's passphrase but I cannot actually enter anything at all.

[2017-06-13 03:41] metaunicorn commented on #1747
I am also having the same issue with Yarn `0.24.5`
@kittens your merge seems that it didn't solve the problem, probably it would be worth to add a
`--ignore-manifest` option to the `yarn add` CLI ?

[2017-06-13 03:54] kellyselden opened #3626 "npm_package_ env vars use "-" instead of "_" as delimiter"
When printing `console.log(Object.keys(process.env))`

`yarn test`:

[code]

`npm test`:

[code]

It seems like a bug, but could be a design decision?

node 7.10, yarn 0.24.6, win 10

[2017-06-13 08:51] springuper opened #3628 "`yarn remove package` doesn't trigger `preuninstall` and `postuninstall` scripts"
**What is the current behavior?**
there is a  `preuninstall` and `postuninstall` in my package.json:

[code]

but `yarn remove package` doesn't trigger them:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

reproduce steps:

1. config `preuninstall` and `postuninstall` scripts in package.json
2. run `yarn remove package`
3. check stdout

**What is the expected

[2017-06-13 12:30] dmiorandi commented on #521
About @beatrizaldaz post / Telerik. I've got same issue. In detail I've made some attemps
using following config (.npmrc). It seems almost to work but connections is made in http instead https
so is refused. Are there any temporary workaround about this (strict mode does not work)?

[code]

[2017-06-13 12:54] hankeypancake commented on #3204
Is it just me, or does this behaviour seem very incoherent?

the upgrade-interactive should behave like normal upgrade in my mind, and consider the version range specified in the package.json.

There's flags documented as well -T and -E, do they even do anything? I don't get any different result, upgrade interactive always upgrades the selected packages to the latest version, ignoring my version r

[2017-06-13 12:59] rally25rs commented on #3204
There is discussion about this in #3603 ; I'm trying to put some of my spare time into re-working `yarn upgrade` and `yarn upgrade-interactive` to behave the same.

[2017-06-13 13:00] khaosdoctor commented on #3142
Yarn 0.24 corrected it for me

[2017-06-13 13:06] rally25rs commented on #3204
@hankeypancake the current behavior if `upgrade-interactive` is to always consider `latest` and always ignore package.json.

The -T and -E flags are supposed to alter the result of the range in package.json.

So if `yarn upgrade-interactive` returns:

[code]

Then in package.json, you would normally get `code@^4.0.0` because 4.0.0 is latest, and caret is the default range operator.

If you specifi

[2017-06-13 13:25] rally25rs commented on #3616
Is there any error listed in the error log?

This installs successfully for me on:

Yarn 0.24.6
Node 8.0.0
OSX Sierra

Unfortunately I don't have my Win10 Creators machine with me, but I can try it on there later. My guess is that it has something to do with building native dependencies.

[2017-06-13 13:31] black-snow commented on #3616
Works on my mac, too.

There's no additional error. Might be an misconfiguration in my PowerShell, though (NODE_ENV) - gonna give it another shot and report back.

[2017-06-13 13:41] cebor commented on #2154
@StephenFluin Angular should not be affected, because it uses a suffix like `-rc.x` in its rc releases.

Only repos using normal semver versions and tag these as `rc` with npm like `typescript` does are affected.

[2017-06-13 13:56] cebor commented on #2154
@StephenFluin Angular should not be affected, because it uses a suffix like `-rc.x` in its rc releases.

Only repos using normal semver versions and tag these as `rc` with npm like `typescript` does are affected.

For Example:
* Angular
[code]
[code]

* Typescript
[code]
[code]

[2017-06-13 14:57] luchillo17 commented on #3142
@khaosdoctor `0.24.x` which patch version? i have `0.24.6`, i guess i'll try RC version.

[2017-06-13 15:35] smelukov commented on #3560
[code]

Any ideas? :)

[2017-06-13 15:37] sjelfull commented on #2977
I'm getting this error on any package I'm trying to install globally.

[2017-06-13 15:41] #3595 closed

[2017-06-13 15:46] arcanis commented on #3567
Fixed 👍

[2017-06-13 15:46] #3567 closed

[2017-06-13 15:49] arcanis commented on #3309
@ericgundrum What do you mean, the git repo dependency is no longer being stored in the offline cache? It should - the only change in #3449 is that it disables the hash check, since we're currently storing inadequate data in our lockfile when it comes to git repos.

This issue should be resolved, going to close it 👍 Next step will be to move the hash into an external field, but that's another task

[2017-06-13 15:49] #3309 closed

[2017-06-13 15:52] arcanis commented on #1952
Apparently fixed, so I'm going to close this issue for now 👍

[2017-06-13 15:52] #1952 closed

[2017-06-13 16:17] kaylieEB commented on #3560
@rally25rs It used to be that npm [also used maxSatisying](https://github.com/npm/npm/blob/d46015256941ddfff1463338e3e2f8f77624a1ff/lib/utils/pick-manifest-from-registry-metadata.js#L18) but it seems like that file is no longer being referenced and they moved onto using their new library [pacote](https://www.npmjs.com/package/pacote), which gets the correctly requested package in the scenario abov

[2017-06-13 17:04] arcanis commented on #3560
Good job tracing the issue! :) I'm not fond of the idea of adding a hack to the codebase to fix this, tho ... the alternative would be to fork `semver` to implement this behavior, but I'm not convinced either.

I would suggest `csstree` to fix the versioning - unless I'm mistaken, the worst side effect is that people currently tracking your alpha channel will stop getting update until they switch

[2017-06-13 17:06] rally25rs commented on #3560
I thought the move to `pacote` was parts of the NPM5 work. @smelukov could you try your install with an NPM version over than 5? If they were using `maxSatisfying` in NPM <=4 then I would expect it to fail in the same way Yarn does.

[2017-06-13 17:29] rally25rs commented on #2977
Confirmed on Yarn v0.24.6, OSX Sierra:

[code]

This seems to be an issue with NPM's `semver` package:

[code]

So 6.3.0 does not satisfy >6, but does satisfy >6.0.

IIRC I think I read somewhere that NPM stopped erroring on engines mismatches, only a warning. Yarn stops the install. This may explain the difference in functionality.

[I opened an issue on npm-semver](https://github.com/npm/node-se

[2017-06-13 17:41] rally25rs commented on #2977
Ah, here we go:

[code]

So `>6` actually means `7.0.0 or higher`. Makes sense 😉
So according to NPM semver, Yarn is correct in reporting that the engine does not match.

We can wait and see what the NPM folks say, but I think this is because by this rule on https://docs.npmjs.com/misc/semver:

so if `1` is equivelant to `>=1.0.0 <2.0.0` then `>1` has to be `> (>=1.0.0 <2.0.0)` which would be the

[2017-06-13 17:41] #2977 closed

[2017-06-13 17:41] kaylieEB commented on #3560
I've only tested it with npm5 since that was the original version in the issue, but I think they do other fixes and normalization to support dist-tags and things that yarn doesn't. @arcanis yeah i'm not 100% happy with the solution either since adding that normalization will slow things down for every package and main reason why I like using yarn is due to speed. On the other hand, semver can be f

[2017-06-13 18:04] ipa1981 commented on #3142
@luchillo17 @jmsmrgn mentioned it was Fixed in RC v0.24.2, but it doesn't look to be so in our cases.

[2017-06-13 18:13] rally25rs commented on #3623
This is due to the way that npm-semver determines the match https://github.com/npm/node-semver

[code]

So according to semver, `9.0.0-pre` does not satisfy `>=4`.

From the docs here: https://github.com/npm/node-semver#prerelease-tags

-----

As a workaround, you can use the `--ignore-engines` flag.

[2017-06-13 18:13] #3623 closed

[2017-06-13 18:35] khaosdoctor commented on #3142
@luchillo17 I'm using 0.24.6 and it is corrected here 😮

[2017-06-13 18:39] ipa1981 commented on #3142
@khaosdoctor I use 0.24.6 and it doesn't produce same list as npm.

[code]

[2017-06-13 18:39] ericgundrum commented on #3309
@arcanis To test this in the `yarn-test` repo created above, I perform these steps within `yarn-test/`

0. `yarn config list` shows 'yarn-offline-mirror': '/Users/eric/vault/annex/yarn-cache'
1. `ls -l ~/vault/annex/yarn-cache/pouch-remote-stream*` to confirm the dependency is not in the mirror
2. `rm -rf yarn.lock node_modules/`
3. `yarn install`
4. `ls -l ~/vault/annex/yarn-cache/pouch-remote-st

[2017-06-13 19:04] luchillo17 commented on #3142
@khaosdoctor What i refer is the output of @ipa1981, the list of global packages is different between `npm` & `yarn`, in my case and his with 0.24.6.

[2017-06-13 19:13] smelukov commented on #3560
@rally25rs NPM4 installs `alpha19` instead of `alpha9` and it's ok

[2017-06-13 19:24] antonellil commented on #2717
Same here, fails with a 201 error

[2017-06-13 19:26] khaosdoctor commented on #3142
@luchillo17 @ipa1981 Indeed, My yarn command returns mostly the same modules, but not all of the listed on npm and vice versa

[2017-06-13 20:33] fpauser commented on #944
Same problems here. Tried with node 6.11.0 & 8.1.0, yarn 0.24.x & 0.26.x, with & without --network-concurrency 1. All under linux (64 bit).

[2017-06-13 23:02] Diokuz opened #3630 "Yarn --productions tries to resolve devDeps as well"
**Do you want to request a *feature* or report a *bug*?**
This is a bug, or unexpected behaviour.

**What is the current behavior?**
1. Have a `package.json` which have `devDependencies` and one of them are private
2. Run `yarn --production`
3. Yarn tries to resolve all packages and fails, because have no access to private packages

**What is the expected behavior?**
Yarn shoud only resolve produc

[2017-06-13 23:09] melloc opened #3631 "Lifecycle scripts only get run once per package/version pair"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

If the dependencies of a `package.json` pull in multiple copies of the same version of a package, then the lifecycle scripts only seem to get run in one of the copies.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Only 3 of the 12 packages were built: `dtrace-p

[2017-06-13 23:20] mohseenrm opened #3632 "Child concurrency format not consistent with documentation"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Want to use three thread for installing dependencies
contents of current .yarnrc
[code]
uses 3 threads. It shouldn't.

**If the current behavior is a bug, please provide the steps to reproduce.**

1) Create .yarnrc with given config
2) yarn install
3) Three threads run, installing dependencies.

**What

[2017-06-13 23:41] Diokuz commented on #1379
Have same problems here: `caniuse-db` (and some other packages) installed from nowhere when `yarn --production`. But they are in devDeps.

[2017-06-14 01:24] hvindin commented on #3118
@Daniel15 RPM packages can Recommend other packages in versions since 4.12.0 [Release Notes Here](http://rpm.org/wiki/Releases/4.12.0) however Centos7 and RHEL7 still run 4.11.3 (in the lastest RHEL7.4 beta) so Recommends don't work. Although you could always package up and el* and fc* version of yarn and include in the fpm call --rpm-tag "Recommends: ..." in the fc* version and --rpm-tag "Require

[2017-06-14 01:36] xdumaine commented on #3093
... and now we're back to it failing entirely.

[2017-06-14 02:43] BYK commented on #3610
I couldn't find any git documentation around absolute paths and `add` but I think your assessment is correct.

So the solution then would be normalizing the path according to the git root and seems like we can get that easily by running `git rev-parse --show-toplevel`.

Sounds good? //cc @arcanis @bestander

[2017-06-14 03:17] gsklee commented on #573
Answering myself: https://github.com/yarnpkg/yarn/pull/2992#issuecomment-308024798

[2017-06-14 03:37] rarkins opened #3634 "Generate yarn.lock programmatically from package.json"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

It is necessary to run `yarn install` and download all packages in order to generate a `yarn.lock` file.

**What is the expected behavior?**

`yarn` can be required as a lib, with a function to return a `yarn.lock` if provided a `package.json`

**Please mention your node.js, yarn and operating sy

[2017-06-14 05:04] gsklee commented on #3036
@bestander close

Without further information, it would be hard to actually act upon this issue.

[2017-06-14 05:04] gsklee commented on #3157
@bestander close

Without further information, it would be hard to actually act upon this issue.

[2017-06-14 05:39] gsklee commented on #2800
Just checked again with `node` v8.1.1, `yarn` v0.24.6, `npm` v5.0.3:

For both package managers, the `engines` field only concerns itself with dependencies of your module, not your module.

@bestander close; non-issue

[2017-06-14 05:48] gsklee commented on #2179
@bestander close; dupe of #1924

[2017-06-14 07:23] aviram83 commented on #3575
@grahamb thanks for the tip, I had same issue and when I have delete the line everything start to flow

[2017-06-14 08:21] black-snow commented on #3616
Alright. Since my console plugin in atom switched from `cmd` to `PowerShell` `NODE_ENV` wasn't set to `development` and thus most of my deps were missing.

[2017-06-14 08:21] #3616 closed

[2017-06-14 08:24] develar commented on #3616
Yarn FTW. electron-builder will warn you if you still use unreliable, buggy and slow npm.

[2017-06-14 08:55] doits opened #3636 "`yarn run` changes `PATH` and breaks `rbenv`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`yarn run` changes the `PATH` variable. In my case, in addition to adding some `node_module`-paths it also prepends `/usr/bin` to the existing PATH even though it is already present.

For example, my normal PATH is `/usr/local/rbenv/shims:/usr/local/rbenv/bin:/usr/local/bin:/usr/bin:/bin`. Having `/usr

[2017-06-14 09:54] BrockReece commented on #976
For anyone else struggling with this, we have just fixed this issue by setting ``autoInstall: true`` in our semantic.json

Thanks @jdickey and @choliver

[2017-06-14 10:39] Ant59 commented on #3540
Can also confirm this issue. Scripts do not execute after `yarn run x` until another input into the Git Bash prompt on Windows.

[2017-06-14 10:56] TLDay commented on #976
@jdickey No, I was facing trouble in `flexjs` installation process. Thanks for your reply.😊

[2017-06-14 11:16] #2179 closed

[2017-06-14 11:17] torifat commented on #2179
Sorry, my bad. I wrote the comment but missed to close it 😞

[2017-06-14 11:50] Noiwex commented on #570
Is this resolved? Yarn doesn't overwrite lockfile anymore?

[2017-06-14 12:31] devdavidkarlsson commented on #787
you can point towards a nexus where you host your packages in your company environment or even running in a local docker container...

[2017-06-14 12:50] frontsideair commented on #887
I also needed this today, but with a completely different use case. @glenjamin will you open an RFC or shall I? I may never have the time though, so go ahead if you do.

[2017-06-14 12:51] sth commented on #3485
A related ticket with steps to reproduce the issue: #3506

[2017-06-14 12:55] glenjamin commented on #887
Go for it, looks like I forgot to do this!

[2017-06-14 12:58] danez commented on #2953
This is fixed by #3231 in 0.26.0

[2017-06-14 12:58] danez commented on #2151
This is fixed by #3231 in 0.26.0

[2017-06-14 14:18] rmm5t commented on #2319
I just ran into this as well. Here's a simplified use-case showing the problem in a more severe way:

Add an `echo` script to `package.json`

[code]

💚 As expected:
[code]

💚 As expected:
[code]

💔 Sad panda 🐼:
[code]

[2017-06-14 14:19] balanceiskey commented on #521
So I just ran into this recently. I'm not sure exactly what caused it as it's been working fine for awhile. My solution was to remove both the `.npm` folder and `.npmrc` file altogether, login again with `npm login` and things appeared to work fine after that. I've been jumping between versions of node and npm via `nvm` more lately, possible culprit?

[2017-06-14 14:34] #2724 closed

[2017-06-14 16:33] FezVrasta commented on #570
Any chance to get at least an option to set the desired default behavior?

[2017-06-14 17:19] you-fail-me opened #3638 "yarn doesn't install deps, installing only some 'aliases' instead"
yarn doesn't actually install deps, populating node_modules with some weird stuff instead, see screenshots [here](https://stackoverflow.com/questions/44542377/yarn-doesnt-install-dependencies)

It doesn't happen always, but affects that my one repo.

mac os sierra 10.12.5 node 4.8.3 yarn 0.24.6

[2017-06-14 18:29] balanceiskey commented on #521
One more note, if it's even relevant, when attempting `yarn login` during the course of these steps it would hang on the password prompt for some reason, which is why I did `npm login`.

[2017-06-14 21:07] bestander commented on #570
Currently we are fixing this issue https://github.com/yarnpkg/yarn/issues/3490, sometimes `yarn install` may cause lockfile to be optimized which is not expected behavior and we will fix it.

You can set --pure-lockfile/--frozen-lockfile to true in .yarnrc and it will be appended to the install command by default:
[code]