[2017-06-14 21:14] FezVrasta commented on #570
My problem is that if I don't use pure-lockfile I get the wrong version of the dependencies installed. It's not related the unwanted yarn.lock changes

[2017-06-14 21:18] 75lb opened #3639 "`yarn link` should create a global symlink to the binary"
**Do you want to request a *feature* or report a *bug*?**

Request a feature.

**What is the current behavior?**

`yarn link` does not register the binary as a global symlink the way `npm link` does.

**What is the expected behavior?**

Running `yarn link` should create links to both the package `main` file *and* the `bin` file, the same way `npm link` does.

So, if my package.json contains a `bin

[2017-06-14 21:25] bestander commented on #570
Can you submit an issue with repro steps?
We'll sort it out

[2017-06-14 21:27] bestander commented on #3506
Thanks for a good repro step

[2017-06-14 21:40] #764 closed

[2017-06-14 21:48] #2800 closed

[2017-06-14 21:52] #3157 closed

[2017-06-14 21:53] #3036 closed

[2017-06-15 00:16] bestander commented on #3315
@calidion, could you post repro steps in a separate issue?

[2017-06-15 00:21] bestander commented on #3424
@GAumala, sorry for a delay.

I don't think yarn has a SIGTERM handler except for onDeath() callback when Yarn is executed in mutex mode https://github.com/yarnpkg/yarn/blob/master/src/cli/index.js#L232.

I think returning reference should be a cleaner solution rather than attaching to global process.

[2017-06-15 00:42] bestander commented on #2204
Thanks!

[2017-06-15 00:42] #2204 closed

[2017-06-15 00:49] bestander commented on #3333
After thinking about it a bit more I think Yarn does it right here.

[2017-06-15 01:51] bestander commented on #3209
Anyone wants to champion this change?

We need to build a chart which scripts and when they should run.
If npm@5 does not run prepublish on install anymore makes sense for Yarn to do the same

[2017-06-15 01:52] bestander commented on #3598
Looking into in this Friday

[2017-06-15 01:53] deecewan commented on #3209
Yeah, I'm happy to give this a shot.

So we need a list of what hooks to run and when, and then update the code to run the hooks at the right time?

[2017-06-15 01:55] bestander commented on #3209
Thanks for volunteering, @deecewan.

Yeah, are you up to create an RFC https://github.com/yarnpkg/rfcs?
There might be some arguments about this or that hook change.

[2017-06-15 01:57] deecewan commented on #3209
sure thing. i'll have a crack over the next couple of days. exam on saturday, but free after that.
I think this'd be a good first crack at the yarn codebase.

[2017-06-15 01:58] gsklee commented on #3430
@bestander Looks like it's by design: https://github.com/yarnpkg/rfcs/pull/69

[2017-06-15 02:02] gsklee commented on #3282
@bestander close

Forcing developers to pass the `--ignore-engines` flag explicitly is by design; see [this comment](https://github.com/yarnpkg/rfcs/pull/69#issuecomment-308567694).

[2017-06-15 02:03] #3282 closed

[2017-06-15 02:04] gsklee commented on #2342
@bestander close

This is by design; see [this discussion](https://github.com/yarnpkg/rfcs/pull/69).

[2017-06-15 02:06] gsklee commented on #1552
@bestander close

Forcing developers to pass the `--ignore-engines` flag explicitly is by design; see [this comment](https://github.com/yarnpkg/rfcs/pull/69#issuecomment-308567694).

[2017-06-15 02:09] #1552 closed

[2017-06-15 02:09] #2342 closed

[2017-06-15 02:11] gsklee commented on #1102
@bestander close; non-issue

[2017-06-15 02:12] #1102 closed

[2017-06-15 02:19] gsklee commented on #1363
@bestander close

Can't do anything here because this is exactly how [`node-semver`](https://github.com/npm/node-semver) works; eg. if you require a `react` version `>=15`, you will not get version `16.0.0-alpha.13`. You should bring this issue to `node-semver` instead.

[2017-06-15 02:23] gsklee commented on #2172
@bestander close

On the original issue that `"yarn": ">=0.18.0"` couldn't match `0.18.0-20161123.1451`, can't do anything here because this is exactly how [`node-semver`](https://github.com/npm/node-semver) works; eg. if you require a `react` version `>=15`, you will not get version `16.0.0-alpha.13`. You should bring this issue to `node-semver` instead.

[2017-06-15 03:30] gsklee commented on #2355
@bestander close

Can't do anything here because this is exactly how [`node-semver`](https://github.com/npm/node-semver) works; eg. if you require a `react` version `>=15`, you will not get version `16.0.0-alpha.13`. You should bring this issue to `node-semver` instead.

[2017-06-15 03:30] hbetts commented on #1102
It should be noted that this issue was closed as the current Yarn behavior is working as designed.

Please see - https://github.com/yarnpkg/rfcs/pull/69#issuecomment-308567694

[2017-06-15 03:31] gsklee commented on #1102
@hbetts Yep, thanks for the linking 😄

[2017-06-15 04:34] bestander commented on #2355
Actually Yarn decided to break semver here after multiple requests from the community.
This should be implemented in 0.25

[2017-06-15 04:34] #2355 closed

[2017-06-15 04:34] bestander commented on #2172
Actually Yarn decided to break semver here after multiple requests from the community.
This should be implemented in 0.25

[2017-06-15 04:35] bestander commented on #1363
Actually Yarn decided to break semver here after multiple requests from the community.
This should be implemented in 0.25

[2017-06-15 04:35] #1363 closed

[2017-06-15 06:54] DCKT commented on #1625
Hi,

I got this error too on **yarn v0.24.6**. Any idea about this ?

[2017-06-15 07:37] jbreckel commented on #2738
Thank you!

Also having `.npmrc` in the cwd helped us on gitlab-ci.

[2017-06-15 07:49] erwinw commented on #3613
Seems to be a Node v8.1.0 bug, triggered via read and readline: https://github.com/nodejs/node/issues/13557 .

To quote: "it'll be fixed in the next v8.x release, scheduled for next Tuesday"  (June 20th).

[2017-06-15 08:16] MatthiasRMS commented on #536
Have the same problem (hangs when loading is-number@^2.0.2), but without --har

[2017-06-15 08:43] larserikfinholt commented on #1625
Hi, got the same issue on v0.23.. I upgraded to v0.24.6 but got same issue. I'm unsure of what info I should provide, but this is the last lines of yarn-error.log

[code]

[2017-06-15 08:53] larserikfinholt commented on #1625
Deleted yarn.lock and everything works fine.

[2017-06-15 09:16] vernak2539 commented on #1248
Is this going to be picked up? would be very nice to get

[2017-06-15 09:33] vernak2539 commented on #3608
This seems to be related to https://github.com/yarnpkg/yarn/issues/1248#issuecomment-255855737

[2017-06-15 09:59] gedgaudasnikita commented on #1488
While i hope this issue is getting some research invested into it, this placeholder workaround, that I despise with all my soul, might serve as a temporary solution for all of us waiting

In package.json of a module being fetched, add a following script
`"postinstall": "grep url .gitmodules | sed 's/.*= //' | while read url; do git clone $url; done",`

[2017-06-15 10:44] evilj0e opened #3641 "yarn doesn't create all expected symlinks to bin"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Installing of dependencies doesn't create symlinks to .bin for all dependencies with bin property in package.json

**If the current behavior is a bug, please provide the steps to reproduce.**
For example, install [eslint-plugin-react](https://github.com/evilj0e/eslint-plugin-react). It depends from e

[2017-06-15 10:48] evilj0e commented on #3641
Feat @denchistyakov

[2017-06-15 10:52] vastus commented on #3636
I've got the same problem. Our deploy scripts depend on a ruby command and updating to yarn 0.24.6 broke it. Using npm works though.

[2017-06-15 11:24] whitecolor commented on #3282
This issue actually has nothing to dot with implicitness/explicitness of particular arguments (`--ignore-engines`), but simplier management of the process of deps installations.

[2017-06-15 13:32] ds300 commented on #1661
I'm getting this same issue with yarn@0.24.5

there is a repro over here: https://github.com/ds300/styled-components-native-warning-example

in this case `styled-components` gets a nested version of react@15 despite the fact that react is just a peer dependency for `styled-components` and the project has react@16 as a direct dependency.

[2017-06-15 15:29] rally25rs commented on #3641
`eslint-plugin-react` has a peerDependency on `eslint` but peer deps are not installed automatically

[code]

Do you have `eslint` added to your project some other way? (does node_modules/eslint exist?)

[2017-06-15 16:00] chase commented on #3608
@vernak2539 This should have been resolved with #2384

[2017-06-15 17:20] pgnd commented on #2069
fyi, with

[code]
after

[code]
exec of

[code]

fails with

[code]

but checking, the file does exist

[code]

[2017-06-15 17:25] rally25rs commented on #3638
Could you share your package.json and yarn.lock files? Does it _always_ happen with this one project, or only sometimes?

[2017-06-15 17:32] rally25rs commented on #3630
This happens because Yarn needs to consider the peerDependencies so that it can produce a deterministic build between prod and dev builds (packages will be hoisted to the same locations).

[2017-06-15 18:27] bestander opened #3642 "feature: separate fetcher cache from poistinstall scripts artifacts cache"
**Do you want to request a *feature* or report a *bug*?**
feature to mitigate bugs

**What is the current behavior?**

We have quite a lot of issues happening at the [install scripts](https://github.com/yarnpkg/yarn/issues?q=is%3Aopen+is%3Aissue+label%3Abug-install-scripts) phase of installation and some of them are related to possible cache issues (e.g. issues with node-sass).

We should have a s

[2017-06-15 20:19] bestander commented on #685
That should not be hard to fix, anyone volunteers?
The code is here https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/pack.js

[2017-06-15 20:38] bestander commented on #3332
This is fixed via #3545

[2017-06-15 20:38] #3332 closed

[2017-06-15 20:56] bestander commented on #3011
@binarykitchen, thanks for reporting more.
There may be lots of reasons for streams to get stuck, e.g. https://github.com/ludios/why-are-my-node-streams-hanging.
Maybe adding a `data` handler affects scheduling a bit and your publish does not get stuck.

Do you have a repo where this issue can be reproduced 100%?

[2017-06-15 20:59] domoritz opened #3643 "Yarn doesn't create lockfile although it said it did"
Although yarn says that it saved a lockfile, it didn't.

[code]

OS X 10.12.6
Node v8.1.2
NPM 5.0.3

[2017-06-15 21:20] slester commented on #3276
@bestander Here's a small script that will reproduce the issue. It seems to show up only if you're installing something from GitHub:

[code]

[2017-06-15 21:21] bestander commented on #2989
@wincent, you are right, we should support it.

[2017-06-15 21:29] bestander commented on #3276
Thanks, @slester, I can repro this.

[2017-06-15 21:43] pharazon commented on #1496
I run yarn in Vagrant (Ubuntu Xenial) and by Jenkins. There are two sub-projects with package.json.
npm -v 3.10.10

We switched from npm to yarn some time ago, because we had a timeout problem (4hours was not enough) for npm install.

Now yarn works about 30% of the time, but for 70% of the time we get 4h timeout at some point. It might the first yarn install, or the second, or we might timeout wh

[2017-06-15 21:44] binarykitchen commented on #3011
yeah, good idea with `data` handler but i am afraid, i have switched back to npm5 and do not have the time right now :(

[2017-06-15 22:02] bestander commented on #3011
@BYK, you said you have an idea where the bug is coming from.

[2017-06-15 22:03] Diokuz commented on #3630
Not sure I got it... lets consider two situations:

1. We have `package.json` with deps and devDeps, and we run `yarn --production`
2. We remove all devDeps from that `package.json` and run `yarn`

Will there be the difference in `node_modules`? If yes, why?

[2017-06-15 22:03] bestander commented on #3011
@binarykitchen, thanks for reporting anyway, hope we can win you back soon. :)

[2017-06-15 22:05] Diokuz commented on #3630
Actually, I think this is related to my another problem https://github.com/yarnpkg/yarn/issues/1379

[2017-06-15 22:08] bestander opened #3644 "esy/pjs/cross language support progress"
This ticket tracks the progress of making Yarn work with native languages.

- PJS spec implementation draft https://github.com/yarnpkg/yarn/pull/2792
- esy spec https://github.com/esy-ocaml/esy

[2017-06-15 22:30] bestander opened #3645 "yarn link: Couldn't find package "package-name" on the "npm" registry"
As reported in https://github.com/yarnpkg/yarn/issues/1214#issuecomment-303832748

I'm getting this issue on version 0.24.5.
I have some packages that i developed and they are not published on any server, they are just linked.
My projects uses this linked packages and some published packages like express or bluebird.
when I try to run "yarn" to install all or a specific package it returns the erro

[2017-06-15 22:31] bestander commented on #1214
Thanks, @danilo-drs, I've extracted this into a separate issue https://github.com/yarnpkg/yarn/issues/3645

[2017-06-15 23:01] domoritz commented on #3643
It's happening for example in https://github.com/vega/vega

[2017-06-16 00:14] #3636 closed

[2017-06-16 00:33] bestander commented on #685
fixed via https://github.com/yarnpkg/yarn/pull/3538

[2017-06-16 01:36] gsklee commented on #3282
@whitecolor Regarding the proposal of adding or modifying `package.json`/`.yarnrc`, the current rule is that you need to submit the feature request through the [RFC process](https://github.com/yarnpkg/rfcs).

[2017-06-16 04:00] thedrow opened #3647 "Getting ECONNREFUSED and ETIMEOUT from yarn registry"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
When I `yarn install` I consistently get ECONNECTIONREFUSED and ETIMEOUT from the registry.
**What is the expected behavior?**
I should be able to install packages using yarn
**Please mention your node.js, yarn and operating system version.**
node v8.1.0 and Ubuntu 17,04

[2017-06-16 07:03] zaknuces commented on #3622
Any updates on this issue. I faced the same issue with "wrench-js" package. It is not available and i tried upgrading but face the similar 404 issue. Very annoying.

[2017-06-16 09:15] txiaocao opened #3649 "how to hide the unuseful info"
![image](https://user-images.githubusercontent.com/3929991/27220267-289f23b8-52b7-11e7-9926-25d0e6bee195.png)

[2017-06-16 09:17] hangyangws opened #3650 "How did I get global install list?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**

[2017-06-16 09:18] txiaocao commented on #3619
The default "yarn" is mean "yarn install" is not recommended
beause if i only want see the version ; I type yarn ,but the install all package

[2017-06-16 09:21] hangyangws opened #3651 "How did I get global install lists?"
I can use `npm list -g` get the global npm list?

Due to yarn document, I use  `yarn global ls` ,but no use.
And `yarn list` just get packages in current file path ..

[2017-06-16 10:15] luftywiranda13 commented on #3650
Don't ignore the issue template and read docs on yarnpkg.com, it's there

[2017-06-16 10:27] csvan commented on #3647
Are you behind a proxy?

[2017-06-16 10:29] csvan commented on #3651
Dup: https://github.com/yarnpkg/yarn/issues/3142

[2017-06-16 10:31] csvan commented on #3649
This looks like an issue with your console, not yarn.

That said, you are probably looking for the `--silent` flag, see https://github.com/yarnpkg/yarn/pull/2420

Also please note that this is an issue tracker, not a support forum. Use StackOverflow for that, there is a `yarn`tag there.

[2017-06-16 10:36] csvan commented on #2311
FWIW we eventually solved this by not giving yarn any proxy config settings at all, but only using the `proxy` and `https_proxy` system variables. Works fine, though I have no idea why. They are identical to the corresponding config values we set for yarn.

[2017-06-16 12:14] #3650 closed

[2017-06-16 12:17] rally25rs commented on #3651
What version of Yarn? (`yarn --version`)
`yarn global ls` should be fixed as of 0.24.2

[2017-06-16 12:19] rally25rs commented on #3649
Please fill out the issue template when submitting issues.
What version of Yarn, what OS, and what console are you using? We can't reproduce the issue unless we know what environment causes it.
Thanks for any additional info!

[2017-06-16 12:24] rally25rs commented on #3641
@evilj0e I'm going to close this issue for now, since Yarn exhibits the same behavior as NPM (at least as far as I can tell).
If you have additional comments or still believe this is an issue, please comment with additional info and we can re-open this issue if needed.
Thanks!

[2017-06-16 12:24] #3641 closed

[2017-06-16 12:46] rally25rs commented on #3643
I'm on OSX Sierra, Node 8.1.2, Yarn 0.24.6, tried to reproduce.

Since the `yarn.lock` file is already in your repo, I had to delete it after clone.

I end up getting an error in one of your tests:

[code]

However the yarn.lock file is created for me:

[code]

-----

I'm curious if removing your `prebuild`, `build` and `postbuild` scripts from package.json fixes the issue for you. Maybe there is

[2017-06-16 12:58] rally25rs commented on #3630
Possibly. Consider something like:

[code]

And `A` also has a dependency:

[code]

-----

With devDependencies, the dependency tree is:

[code]

so A@1 can not longer be hoisted to top level, resulting in:

[code]

-----

Without devDependencies, the dependency tree is:

[code]

But `B` can be hoisted to the top level, so the result is:

[code]

(This is non-deterministic because B@1 could end up

[2017-06-16 13:11] rally25rs commented on #3630
@Diokuz I haven't tried it myself, but you might see if NPM5 has the same issue. If I understand the NPM5 lockfile correctly, I think it saves the resolved / hoisted position for each package in their lockfile (Yarn does not), so it might not need to query the metadata for your private repos. As much as I hate to steer anyone toward NPM, this might be a case where NPM5 works better. It's worth a t

[2017-06-16 14:36] M-D-M commented on #1139
I had a similar problem, and the problem wasn't that npm wasn't updating yarn (it was), but that there were apparently two links in my environment:

One for /usr/bin/yarn that was pointing to /usr/lib/node_modules/yarn/bin/yarn.js (this was the most recent version installed by npm)

And one for /usr/local/bin/yarn that was pointing to /usr/local/lib/node_modules/yarn/bin/yarn.js (this was an old v

[2017-06-16 15:16] tp4k opened #3653 "postinstall doesn't trigger when running yarn again"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
when i run `yarn` first time postinstall executes, after this it does not
i have a dev dependency for `gulp-imagemin` it depends on `gifsicle` and `optipng-bin`
they got postinstall scripts and they are not found on the second time and later
got the same problem for `hogan-browser`
**If the current beha

[2017-06-16 15:47] graingert commented on #2155
see https://github.com/yarnpkg/yarn/pull/3544

[2017-06-16 15:55] caesarsol commented on #2155
@adrienko that is a pretty smart and clean idea! does it work smoothly even in rebase cases?

[2017-06-16 16:40] domoritz commented on #3643
@rally25rs Thank you so much for looking into this. I just tried it again after temporarily removing all scripts from my `package.json`. Running yarn with `--verbose` didn't show anything useful.

Btw, I'm seeing the same issue in a repo that depends on vega: https://github.com/vega/vega-lite.

[2017-06-16 17:43] ahundt commented on #1222
I can confirm this issue appears on OS X and Linux just like the other screenshots/videos with the Keras [Progbar](https://github.com/fchollet/keras/blob/master/keras/utils/generic_utils.py#L210) on 1.13.1.

[2017-06-16 17:51] #3011 closed

[2017-06-16 17:51] Diokuz commented on #3630
@rally25rs thank you so much for explanation!

So, I think I get my answer. The only question now: will that be done in near future? I mean, saving positions in lock file.

[2017-06-16 18:07] h3adache commented on #3141
I think this is the same as #1619? It's preventing me from using yarn atm.

[2017-06-16 18:11] rally25rs commented on #3643
Hmm, it always seems to work for me, which unfortunately puts me in the position of not being able to help debug it. Perhaps someone else can reproduce it in their environment.

If you have the time and motivation, you could also clone Yarn and use it to run your install and help debug into it. (I can give you the list of commands to build and run yarn from the cloned repo if you want).

[2017-06-16 18:14] arcanis commented on #3630
It's not only a question of position. Let's say you have this package.json:

[code]

And that the following are true:

  - `a@1.0.0` and `a@1.1.0` both exist
  - `b@1.0.0` exists and depends on `a@1.0.0`

If we don't resolve devDependencies, then in prod we'll have the following:

[code]

And in dev, because of the deduplication optimization, we'll have the following:

[code]

Note that we end up

[2017-06-16 18:21] arcanis commented on #3630
Now that I think about this, maybe in practice it could work, since the lockfile would still pin the version - at least assuming that this lockfile has been generated in dev mode.

Still, I'm not convinced this is an issue worth fixing right now. I feel like this is something that could probably be better solved through your build environment.

[2017-06-17 05:42] csvan commented on #1016
For anyone still having this issue, I recommend switching over to Chrome Headless. It does everything phantom does better, and is actively supported across all platforms.

[2017-06-17 06:35] thedrow commented on #3647
No, I am not. This happened on multiple wifis. I can no longer reproduce it.
I thought I'd report this because something was wrong with either a CDN node (I'm from Israel) or the service itself.

When this happens, yarn stops at the 1st stage of the installation. I think there should be a retry logic instead.

[2017-06-17 06:39] dchinn opened #3658 "Yarn doesn't restore packages for angular cli correctly"
Bug Report or Feature Request (mark with an x)

- [x ] bug report -> please search issues before submitting
- [ ] feature request
Versions.

@angular/cli: 1.0.1
node: 6.10.2
os: win32 x64
yarn says 0.24.6 in 'Programs and Features' list;
yarn --version says v0.22.0

Repro steps.

The log given by the failure.

Cannot find module 'remove-trailing-separator'
Error: Cannot find module 'remove-trailin

[2017-06-17 14:41] sockmonk commented on #770
In order to create a tarball in OSX, but extract it on linux, you need to add this keyword to the extraction path (using the default GNU tar):

tar --warning=no-unknown-keyword -zxf my_archive.tar.gz

[2017-06-17 17:16] richburdon commented on #946
@thejameskyle @kittens Guys -- thanks for working on the monorepo issues. The thing is though, lots of us are really struggling with lerna/yarn due to this issue. I.e., totally dependent on lerna for mono repo, want to use yarn (and have the yarn option for lerna ON), but tragically have to manually edit package.json files every time we add a package to the sub package. I.e., yarn is totally utter

[2017-06-17 18:31] #3651 closed

[2017-06-17 21:29] crazy-max opened #3659 "Display current Node.js version"
Hi,

It would be nice to diplay the current Node.js version used by Yarn when we use the option `-V`.

Example:

[code]

Thanks!

[2017-06-18 02:32] nodeyu opened #3660 "How can I disable emojis output by default ?"
I am using:
macOS Sierra 10.12.5
node v8.1.2
yarn v0.24.5

When I pass '--no-emoji' flag to a command explicitly, it works.
![image](https://user-images.githubusercontent.com/16318438/27257644-97ed2882-5410-11e7-88d5-1cedd96c6fc6.png)

Then I tried config a default setting to my global `.yarnrc` file.
![image](https://user-images.githubusercontent.com/16318438/27257649-0a3ccff0-5411-11e7-91c1-144c

[2017-06-18 03:13] gardner commented on #1136
Where is the appropriate place to provide feedback on changes like this?

[2017-06-18 03:18] bestander commented on #1136
@gardner, for discussion probably an issue here.
For a change proposal that may involve breaks an RFC https://github.com/yarnpkg/rfcs

[2017-06-18 07:30] rapee commented on #1487
+1

[2017-06-18 10:11] mchro opened #3661 "Cannot install the package named "optional" in offline mode"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
`yarn install --offline` with the package "optional" in the cache fails with
`error Can't make a request in offline mode`

**If the current behavior is a bug, please provide the steps to reproduce.**

In an empty new NPM project (`npm init`):
[code]

**What is the expected behavior?**
That `optional`

[2017-06-18 12:45] mchro commented on #3661
Debugging a bit further, the issue seems to be the "v" in the version field of `optional`'s package.json: "v0.1.3".

[2017-06-18 16:52] Slapbox commented on #1671
This also seems to be the case for forked projects added via Github address.

[2017-06-18 18:09] jhabdas commented on #3614
Introducing the new `.gitignore` file:

[code]

[2017-06-18 18:28] jhabdas commented on #3660
Perform an IoC on the CLI and pass flags every time.

[2017-06-18 18:30] jhabdas commented on #3659
Why would that be nice?

[2017-06-18 18:39] jharris4 commented on #3643
This is a duplicate of #3555

[2017-06-18 18:40] jhabdas opened #3662 "Disallow Cyclical Dependencies"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
npm i fetch-inject && cd $_ && yarn add fetch-inject && yarn why fetch-inject

outputs:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
n/a

**What is the expected behavior?**
does not allow dependency to be a dependency of itself

**Please mention your node.js,

[2017-06-18 18:40] jharris4 commented on #3555
This bug has been driving me nuts, so I just finally put together a reliably reproducible example.

Copy the attached `package.json` file to an empty directory. Then do:

[2017-06-18 18:46] jharris4 commented on #3555
@arcanis Can you let me know if you can now reproduce this issue? (I'm currently running Node 8.1.2 and Yarn 0.24.6)

[2017-06-18 18:49] jhabdas commented on #3661
https://github.com/sindresorhus/semver-regex/issues/7#issuecomment-264404109

[2017-06-18 18:51] domoritz commented on #3643
Yes! Thank you @jharris4 for reproducing the issue.

[2017-06-18 18:51] #3643 closed

[2017-06-18 18:52] jhabdas commented on #3658
@dchinn this is very hard to read. could you spend a few minutes cleaning up your markdown and following the issue template? i'm sure maintainers would approve

[2017-06-18 18:55] jharris4 commented on #3643
@domoritz I'm curious, are you able to reproduce it with the example package.json I attached?

[2017-06-18 18:57] selfagency commented on #3485
I don't know if this is the right place to put this, but since updating to the latest yarn, every time I run yarn in my project's folder, which uses nvm, I have to rebuild node-sass with npm because the bindings are to my system's version of node instead of the nvm installed version my project uses.

[2017-06-18 18:58] jhabdas commented on #3622
@pavinthan @zaknuces are you both using windows? if so, are you using cmder?

[2017-06-18 19:26] dchinn commented on #3658
sorry; the bug has been re entered in the proper template, and the markdown has been cleaned up.

[2017-06-18 19:45] jhabdas commented on #3612
@franzrecinos have you found any workarounds for this?

[2017-06-18 20:21] skeggse opened #3663 "Yarn inconsistency"
Running yarn@`0.24.6`

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

After running `yarn` in a directory with this `package.json`, and a clean cache, `yarn check` reports errors.

`package.json`:

[code]

output from `yarn check`

[code]

output from `yarn check` on a separate run of the repro steps

[code]

**If the current behavior is a bug, p

[2017-06-18 20:37] pgnd commented on #1285
@kittens

b4 just (re)opening ...

Is the following still evidence of this^ issue, unresolved?  Or a new issue?
[code]

[2017-06-18 21:56] pgnd opened #3664 "'yarn add' fails to install from remote git#master, OK from git#(numbered branch or tag)"
**Before creating an issue please make sure you are using the latest version of yarn.**

@ https://github.com/yarnpkg/yarn/releases
	-> v0.26.1

[code]

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

yarn fails to install from git master branch; ok with numbered branch/tag

**What is the expected behavior?**

yarn successful @ installing from git

[2017-06-18 21:57] deecewan commented on #3660
you could do `alias yarn="yarn --no-emoji"` in your `.profile`/`.bashrc`/`.zshrc`

[2017-06-18 22:51] mrG0bliN opened #3665 "allways i see this"
[2/4] Fetching packages...
error fsevents@1.1.2: The platform "win32" is incompatible with this module.
error Found incompatible module
info Visit https://yarnpkg.com/en/docs/cli/upgrade for documentation about this command.

[2017-06-18 22:57] crazy-max commented on #3659
@jhabdas If several tools like [n](https://github.com/tj/n) are used to install multi version of Node.js and since Yarn requires Node.js, i think it would be interesting to have the version of Node.js for info.

[2017-06-19 01:35] olalonde commented on #869
I had a similar error on CircleCI but with npm@5: https://discuss.circleci.com/t/getting-a-weird-einval-error-with-npm-on-circleci-2-0/13465

[2017-06-19 02:10] domoritz commented on #3555
Can confirm

<img width="1034" alt="screen shot 2017-06-18 at 19 09 48" src="https://user-images.githubusercontent.com/589034/27266936-bf7c9eac-5459-11e7-81ea-c66a1513c3c9.png">

[2017-06-19 02:44] #3649 closed

[2017-06-19 03:08] jhabdas commented on #3659
What if Yarn didn't require Node?

[2017-06-19 05:07] export-mike commented on #3353
It seems to be happening right now.

[1/4] Resolving packages...
⠁ [2/4] Fetching packages...
error An unexpected error occurred: "https://registry.yarnpkg.com/markdown-it-emoji/-/markdown-it-emoji-1.3.0.tgz: Request failed \"500 Internal Server Error\"".
info If you think this is a bug, please open a bug report with the information provided in "/home/ubuntu/jerrick-media-magazine/yarn-error.log".

[2017-06-19 05:08] export-mike commented on #3353
Whats strange is I request https://registry.yarnpkg.com/markdown-it-emoji/-/markdown-it-emoji-1.3.0.tgz manually and it works fine

[2017-06-19 06:21] olalonde commented on #2738
I'm having the same issue in a docker container.

.npmrc is:

[code]

NPM_TOKEN is correctly set. Getting following error:

[code]

[2017-06-19 06:50] olalonde commented on #521
Related: https://github.com/yarnpkg/yarn/issues/2738

[2017-06-19 08:34] jbreckel commented on #2738
@olalonde I had the same error. Setting the registry on my machine to `https://registry.npmjs.org/` and creating the `yarn.lock` solved the issue for me.

[2017-06-19 08:59] pgergov commented on #2738
Hello,

Since I had the same problem and I managed to solve it, I'm gona share my experience.
I tried all of the `random` workarounds, but as @rogchap said - going back to npm worked for me.

After successful installation with npm `yarn install` stopped giving `404 Not Found`.

I have no idea whatsoever what happened and how it got fixed.
I'll keep an eye on this issue. Hope someone solves this my

[2017-06-19 09:15] vernak2539 commented on #3608
No idea why, or how, but it seems like it has been resolved. Thanks

[2017-06-19 09:15] #3608 closed

[2017-06-19 09:35] crazy-max commented on #3659
@jhabdas It is ?

[2017-06-19 09:55] jhabdas commented on #3659
Heh. What does Node require? Should we print that too?

[2017-06-19 10:01] crazy-max commented on #3659
Ok forget it...

[2017-06-19 10:15] jhabdas commented on #3659
@crazy-max Just trying to understand the value of adding a feature that would cause individuals to have to parse the output of the `-V` flag. The reason I ask what seems like an obvious question above is because I've seen projects build on Node and then remove the Node dep entirely once they got on their feet. YMMV

[2017-06-19 10:44] calidion opened #3668 "hide packages not listed in package.json from node_modules?"
**Do you want to request a *feature* or report a *bug*?**
feature.

**What is the current behavior?**

node_modules is filled with numerous non direct dependent packages which make it very hard to locate packages.

**What is the expected behavior?**

node_modules only shows packages listed in package.json at the root directory.

**Please mention your node.js, yarn and operating system version.**

[2017-06-19 11:39] anudeepr28 opened #3669 "Unable to find sdk tools in my android studio 2.3"
![screen shot 2017-06-19 at 5 08 33 pm](https://user-images.githubusercontent.com/8909945/27283461-08127214-5512-11e7-8d92-9289c81115b5.png)

[2017-06-19 11:40] anudeepr28 commented on #3669
And in edit configuration...
![screen shot 2017-06-19 at 5 09 58 pm](https://user-images.githubusercontent.com/8909945/27283492-315edc70-5512-11e7-97e0-57a6ab690d75.png)

[2017-06-19 11:52] crazy-max commented on #3659
@jhabdas Oh ok, thanks for this clarification, now it seems legit ;)

[2017-06-19 11:52] #3659 closed

[2017-06-19 12:15] ChristophAtAdlos opened #3670 "Local packages named by *.git extension are handled as remote sources instead local ones."
**Do you want to request a *feature* or report a *bug*?**
This is a bug report.

**What is the current behavior?**
In package.json:
`"myBackendModule": "file:../myBackendModule.git"`
[code]

Renaming the folder to myBackendModule.got, it works. But on next checkout, it fails again, because the repos are named *.git.
**If the current behavior is a bug, please provide the steps to reproduce.**
Link

[2017-06-19 12:43] vvo commented on #2935
Had the same issue and same workaround: that's the only command we run inside an npm run'ed script rather than yarn script.

[2017-06-19 12:54] jhabdas commented on #3659
Thanks, hoss.

Not sure. But since this project is still not at a 1.0 anything goes, really.

BTW looked at some of your repos. Cool stuff. Makes me want to do some gaming. 🎮

[2017-06-19 13:55] EddiG opened #3671 "Yarn doesn't print script output when it contains yarn command"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

If the `yarn` executes another `yarn` command in the script, then it does not print output of the executed `yarn` command.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
![screenshot from 2017-06-19 18-59-53](https://user-images.githubusercontent.com/4124316/272

[2017-06-19 14:43] pyotruk commented on #1671
+1
The same issue - forked project is not built before importing. Will come back to plain old NPM.

[2017-06-19 16:03] arcanis commented on #3665
We need more info to help you (your package.json, for example).

[2017-06-19 16:05] arcanis commented on #3664
I'm not sure I understand. 3.9.1 [is the version currently available on master](https://github.com/gulpjs/gulp/blob/master/package.json#L4), what is failing?

[2017-06-19 16:08] arcanis commented on #3671
Probably caused by #3536 - @kittens is there a way to force-disable the quiet mode?

[2017-06-19 16:10] arcanis commented on #3668
We can't really do that, that's the deduplication algorithm. If we remove it, you'll end up with the same package being copied a lot of time inside your dependency tree (could be an option, true).

[2017-06-19 16:11] #3668 closed

[2017-06-19 16:12] arcanis commented on #3660
Or you can add `--no-emoji true` (or `--emoji false`) to your `.yarnrc` file.

[2017-06-19 16:12] arcanis commented on #3669
Is this issue related to Yarn?

[2017-06-19 16:12] #3669 closed

[2017-06-19 16:17] pgnd commented on #3664
ugh!  that explains it ...

I assumed -- wrongly -- that after 'all this time' that master WAS already >=4.0 branch.

my bad :-(

[2017-06-19 16:17] #3664 closed

[2017-06-19 16:18] #3598 closed

[2017-06-19 16:21] EddiG commented on #3671
Thanks for guess @arcanis.
[code]
With `YARN_SILENT=0` works as expected.

[2017-06-19 16:25] #3671 closed

[2017-06-19 16:30] bestander commented on #3474
I'll close this one and start another one this week.
Thanks a lot for everyone who helped

[2017-06-19 16:30] #3474 closed

[2017-06-19 16:54] bestander commented on #2849
@rally25rs, @gsklee, @torifat would you guys want to give this feature a try?
According to CDN logs a hundred or so times a day we get random 500 responses, they should be fixed by a retry.

[2017-06-19 16:56] bestander commented on #3353
Should be fixed via https://github.com/yarnpkg/yarn/issues/2849, feel free to send a PR

[2017-06-19 17:04] rally25rs commented on #2849
I've been trying to spend my spare time on issue 3603 (reimplementing upgrade and upgrade-interactive), but if no one else has time, I can give it some attention.

[2017-06-19 17:09] rally25rs commented on #3665
Please fill out the issue template when submitting a new issue.

What OS are you on?
What version of Yarn?
What version of Node?

[2017-06-19 17:14] SEAPUNK commented on #3353
@bestander This will only partially fix this issue. The second half of the solution should be to implement a status page for the Yarn registry for the times it really starts having problems, and the 500s don't go away on next request (which is what was happening at the time the OP was posted).

[2017-06-19 17:15] rally25rs commented on #3647
Related: #2849

[2017-06-19 17:18] bestander commented on #3353
@SEAPUNK, that is a good idea, we already expose stats for the downloads per day https://stats.yarnpkg.com/.

According to the CDN logs we only have 100s of `500` responses a day out of 100s of millions, hopefully that fix should be good enough.
But we can take it one step further if the issue still affects people.

[2017-06-19 17:56] shdwjk commented on #2459
Love to see some comments on this topic.  Is this something yarn is not planning on supporting at all?

[2017-06-19 19:24] milesje commented on #859
Using Yarn installed via .msi installer, then ran `yarn add global polymer-cli` it installs fine but get error when trying to use polymer-cli.
![image](https://user-images.githubusercontent.com/537359/27302026-f00370b8-54fa-11e7-981b-b1eb2ad8153e.png)

[2017-06-19 20:22] jharris4 commented on #3587
Just hit the exact same issue. Seems to have worked at first, but then I started getting `permission denied`. I tried deleting the symlink and recreating manually, but no luck.

Node 8.1.2
Yarn 0.24.6
MacOS 10.12.5

[2017-06-19 20:26] jharris4 commented on #3587
Fixed it by doing `chmod +x` on the linked bin file

[2017-06-19 20:30] pichouk commented on #3454
Just read this issue and seems it can be closed since PR where merged ;)

[2017-06-19 20:47] bestander commented on #3454
Thanks for the ping

[2017-06-19 20:47] #3454 closed

[2017-06-19 22:31] franzrecinos commented on #3612
@jhabdas We had to manually set the config already set on `.npmrc` like so:
`yarn config set registry https://registry.npmjs.org/`
`yarn config set @troveng:registry https://registry.npmjs.org/`
If yo do a `yarn config list` before and after you would see the change.

[2017-06-19 22:59] navarroaxel commented on #2734
With the new webpack@3.0.0 an error appears when I use ``--link-duplicates``. This didn't happen with webpack@2.6.1.

Steps to reproduce:
[code]
result:

I tested it using several version combinations:
node@6.11.0 and node@8.1.2
yarn@0.24.6 and yarn@0.26.1

[2017-06-19 23:04] glasser commented on #3353
It is pretty easy to set up a status page with something like statuspage.io or status.io.

[2017-06-19 23:51] torifat commented on #2849
I will give it a try tonight :) if @rally25rs has not done already.

[2017-06-19 23:53] bestander commented on #2849
You guys rock!

[2017-06-20 00:34] olalonde commented on #2069
Dupe of https://github.com/yarnpkg/yarn/issues/756

[2017-06-20 00:58] export-mike commented on #3353
As a work around use the npm registry with Yarn. https://registry.npmjs.org/

[2017-06-20 01:47] alexilyaev commented on #1713
@kittens I don't see `--ignore-scripts` documented in https://yarnpkg.com/en/docs/cli/
Or any of the other `--` flags.

The CLI help description is not clear enough "don't run lifecycle scripts".
Does that mean it won't run my own lifecycle scripts or also the installed package's scripts?

[2017-06-20 02:05] gsklee commented on #2849
Guess I can go picking something else then :-p

[2017-06-20 02:26] bestander opened #3676 "JUNE 20 ISSUES TRIAGE SESSION"
We'll use this task to coordinate triage session this Tuesday (20.06.2017).
See our previous session https://github.com/yarnpkg/yarn/issues/3258.

We need to add some order to the issues and are going to do our first group triage session.

Goals:
- Reduce the number of duplicated issues by grouping them by category first
- Close non actionable issues
- Prioritize important issues over the rest

Wh

[2017-06-20 02:26] bestander commented on #3676
Ok, GitHub is not really great at permissions granularity and so this is what we can do this time.

Mention me in a comment and I'll do the trick, e.g.

@bestander label bug, bug-resolution
@bestander duplicate #xxxx

We want to categorize issues by the phase of Yarn installation, increase visibility of high priority issues and increase visibility of good issues for beginners.

Also we want to clo

[2017-06-20 02:28] bestander commented on #3676
Inviting everyone new as well as our regulars: @rally25rs, @gsklee, @torifat, @BYK, @arcanis.
Anyone who has time to give issue some developer eyes and understand if it is a duplicate or requires repro steps please join.

I'll start morning PDT.

[2017-06-20 02:57] Daniel15 commented on #3353
I added a status page at https://status.yarnpkg.com/ that we can use to report any major issues.

[2017-06-20 03:17] Volune opened #3677 "Allow `git+file://` dependencies"
Yarn 0.24.6 and master branch

`yarn add git+file:///path/to/git/repo#branch` is not supported, it'll try to find the package in npm registry.
It does work in NPM (5.0.3).

Expected behavior: `file:///path/to/git/repo#branch` should be treated as a git remote repository, the same way as if it was accessed by SSH or HTTPS.

I traced the problem to [git-resolver.js:16](https://github.com/yarnpkg/yar

[2017-06-20 04:38] dschinkel opened #3678 "rror running install script for node_modules/fsevents: Command failed."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When running `yarn` I get:

[code]

**package.json**
[code]

**Please mention your node.js, yarn and operating system version.**
node v8.1.0
npm v5.0.3

[2017-06-20 05:16] mxmul opened #3679 ""yarn check --integrity" fails with npm as a dependency"
**Do you want to request a *feature* or report a *bug*?**
I'm pretty sure this is a bug.

**What is the current behavior?**
In an empty directory with the following `package.json`, `yarn` produces a lockfile that does not recreate `node_modules` and will fail `yarn check --integrity`.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expect

[2017-06-20 05:46] mxmul commented on #3679
Also, after the first yarn invocation (without a lockfile) `node_modules` contain modules that `yarn why` can't explain:

[code]

[2017-06-20 07:04] binarykitchen opened #3680 "yarn and npm behaving differently when installing same modules"
just found out that `yarn` and `npm` in a branch of mine do not "produce the same results".initially discovered in https://github.com/rollup/rollup/issues/1441 but reporting this here in a separate ticket.

to reproduce, use this one experimental branch:
https://github.com/binarykitchen/videomail-client/tree/feature/rollupjs

1. with npm

[code]

2. with yarn

[code]

you see both print different

[2017-06-20 09:33] tuvokki opened #3681 "-"
Sorry, typing in the wrong window.

[2017-06-20 09:34] #3681 closed

[2017-06-20 09:58] JasonBoy commented on #3533
same problem :(

[2017-06-20 10:04] pichouk commented on #3435
Ping @bestander. I guess this issue was fixed by #3467 and can be closed.

[2017-06-20 12:25] rally25rs commented on #3676
Also if you hit any [bug-high-priority] bugs, consider adding them to the v1 project.

[2017-06-20 12:47] rally25rs commented on #3680
I feel like this is an NPM bug and not a Yarn bug. NPM5 isn't installing the `micromatch` dependency.

In fact NPM seems like it botched a whole lot of this install:

[code]

-----

On the other hand, Yarn actually installs the dependencies and seems to work:

[code]

-----

Seems like an NPM5 problem, not a Yarn problem, unless I am misunderstanding your question...

[2017-06-20 12:51] rally25rs commented on #2849
Thanks for looking into this @torifat 👍

If you end up needing a hand, let me know.

[2017-06-20 13:04] torifat commented on #2849
@rally25rs Setting up Charles Proxy 😂 ...

[2017-06-20 13:05] rally25rs commented on #3663
Confirmed on 0.24.6.
Seems to be a bug in the `check` command reporting incorrect "errors".

[code]

so it seems like `check` thinks the `erik` package is going to use the hoisted `jasmine-core@2.3.4` instead of the unhoisted `jasmine-core@2.6.4` that is in its own subdir.

[2017-06-20 13:18] rally25rs commented on #2448
Confirmed this is still an issue in 0.24.6.

NPM5 behavior is to replace the previous dep type with the newly specified one.

[code]

[2017-06-20 13:25] rally25rs commented on #3676
I'll try to triage page 12. Not sure how much time I'll have today though...

[2017-06-20 13:33] rally25rs commented on #2485
Unable to reproduce on Yarn v0.24.6. I think this issue has been fixed.

[2017-06-20 13:33] #2485 closed

[2017-06-20 13:41] rally25rs commented on #2484
The `keyczarjs` package has since removed that comment, but Yarn v0.24.6 still does not support `"//"` comments in package.json.

NPM seems to handle it fine.

Yarn should remove "comment" items from the loaded package.json. There are several existing libraries that can be used to do this.

[2017-06-20 13:57] rally25rs commented on #2479
Seems to still be an issue in 0.24.6

NPM5 behavior is that if you install/add a dependency that already exists and specify a new dep type (prod, dev) then it _moves_ the dependency in package.json to that explicitly specified dep type.

In other words:

[code]

results in only react in `dependencies` and not in `devDependencies`

For compatibility, this is probably how `yarn add` should work too.

[2017-06-20 14:05] rally25rs commented on #2448
Closing as a duplicate of #2479

[2017-06-20 14:05] #2448 closed

[2017-06-20 14:09] jchook commented on #3680
I'm not having any problems installing with either `npm i` or `yarn`. Are you guys nuking node_modules before attempting to install??

![screen shot 2017-06-20 at 10 06 35 am-1](https://user-images.githubusercontent.com/193530/27337421-61f852e2-55a0-11e7-8108-340346bd9ab1.png)

[2017-06-20 14:14] rally25rs commented on #2472
Could be a good first contrib for someone; determine what env variables NPM makes available during script execution, and mimic them in Yarn.

oh ok, I'll do the first step... 👟

Add this script to package.json

[code]

and then run `npm test` and get these env vars being set:

[code]

Wow, that's a lot of stuff...

[2017-06-20 14:21] rally25rs commented on #3680
@jchook in my case it was a new/fresh clone of the repo.

[2017-06-20 14:24] rally25rs commented on #3634
Duplicate #2465

[2017-06-20 14:24] #3634 closed

[2017-06-20 14:30] rally25rs commented on #2462
Closing this as it is a Node/Win issue.

[2017-06-20 14:30] #2462 closed

[2017-06-20 14:48] rally25rs commented on #2453
This was fixed by #2497 and confirmed fixed in v0.24.6.

Side-note, the original issue uses the `--cache-folder cache ` option. This would break the caching anyway, because `app1` would have an `app1/cache` dir where it's deps got downloaded and cached.

When you move to `app2` and try to `yarn --cache-folder cache` it looks for the cached files in `app2/cache` which does not exist, so it has to t

[2017-06-20 14:48] #2453 closed

[2017-06-20 14:53] rally25rs commented on #2446
This should be fixed in latest Yarn. See #3142

[2017-06-20 14:53] #2446 closed

[2017-06-20 14:57] rally25rs commented on #2445
Closing as a dup of #610 since the longer conversation is held there.

[2017-06-20 14:57] #2445 closed

[2017-06-20 15:00] torifat commented on #2849
I have spent some time on this. We already have a retry mechanism in `RequestManager`. But, in `TarballFetcher` we are using `process` to leverage `stream`. But, retry in `stream` is not straight forward like `Promise` or `async-await`. We have to end up doing something similar to https://github.com/stephenplusplus/retry-request/

Any suggestion? @bestander @rally25rs

[2017-06-20 15:47] jchook commented on #3680
Okay, it was hard to tell what was happening... but it looks like the public feature branch history was rebased since I last cloned. The problem is fixed by downgrading from rollup 0.43 to 0.42.

Seems that [rollup#1441](https://github.com/rollup/rollup/issues/1441) should be reopened, and possibly a ticket for npm.

[2017-06-20 16:38] #3435 closed

[2017-06-20 16:38] bestander commented on #3435
thanks

[2017-06-20 17:08] dschinkel opened #3682 "GPG signature for this Yarn release is invalid! This is BAD and may mean the release has been tampered with"
Seriously?  Why am I getting this.  This is output from my Travis build.
[code]

[2017-06-20 17:23] tocttou commented on #2459
I am facing the same issue.
[code]
`yarn run dev` shows: error Couldn't find a package.json file in ".../someDir/" while `npm run dev` works as expected. I guess this is something many people would like to have.

[2017-06-20 17:33] pmorch commented on #3435
Wonderful! Thanks!

[2017-06-20 18:05] dschinkel commented on #3682
well what happened is in my travis.yml, I had specified node as 8.  So it upgraded to 8.1.2.  That caused this error so you might want to be aware of this, others might get this too.  I specified 8.1.0 in travis.yml and it's fine now.

[2017-06-20 18:05] #3682 closed

[2017-06-20 20:51] bestander commented on #2849
Use your best judgement, retry-request code does not look too bad.

[2017-06-20 21:02] #2875 closed

[2017-06-20 21:04] bestander commented on #3676
claiming #3612 - #3679

[2017-06-20 21:30] chrissrogers commented on #3678
Experiencing this as well.

Here's the error formatted a bit nicer

[code]

[2017-06-20 21:33] bestander opened #3683 "Extract loadConfig from YarnRegistry/NpmRegistry responsibility (reading .npmrc/.yarnrc configs)"
**Do you want to request a *feature* or report a *bug*?**
code improvement

YarnRegistry extends NpmRegistry.
YarnRegistry reads .yarnrc into config object and NpmRegistry reads .npmrc into config object.

In some cases YarnRegistry is used for requests in other NpmRegistry.
This makes it confusing to track down when settings are used from .npmrc and when from .yarnrc and this causes issues like h

[2017-06-20 21:35] binarykitchen commented on #3680
thanks guys, this is interesting ... @jchook npm v5 does generate the package-lock.json i think, but why do you think the above problem is stemming from that file when yarn isn't supposed to parse it?

what happens now? is this a yarn or npm problem? if npm, then i ll triage it in their issue tracker ...

(yeah, better fresh clone from this branch since i am doing forced git pushes here)

[2017-06-20 21:40] chrissrogers commented on #3678
Looks like the fsevents binary has gone AWOL for some reason and isn't falling back to compiling. v1.1.2 is present, however, so if you're able to update your dependency to that version, you'll be good to go

[2017-06-20 21:56] bestander commented on #3679
@mxmul, I can't repro this error.
Can commit node_modules from your system and push it to a public repo?
I'd like to inspect .yarn-integrity file

[2017-06-20 22:03] bestander commented on #3678
Thanks for repro steps.
I think @chrissrogers is right, the binary was not uploaded to node-pre-gyp storage yet.
I can't repro this anymore with Node 8, I think it should be resolved now.

[2017-06-20 22:03] #3678 closed

[2017-06-20 22:25] bestander commented on #3613
Ok, closing as it should be fixed by latest Node.

[2017-06-20 22:25] #3613 closed

[2017-06-20 22:25] bestander commented on #3618
Should be fixed by latest Node https://github.com/yarnpkg/yarn/issues/3613

[2017-06-20 22:25] #3620 closed

[2017-06-20 22:29] bestander commented on #3625
Thanks for asking, @wearhere.
It is not under heavy development, there were just a few changes since February https://github.com/yarnpkg/yarn/commits/master/src/package-hoister.js.

[2017-06-20 22:32] mxmul commented on #3679
@bestander I've got a repo [here](https://github.com/mxmul/repro_yarn_3679) the reproduces the error.

[2017-06-20 22:32] bestander commented on #3628
It should be running those https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/remove.js#L68

[2017-06-20 22:49] bestander commented on #3679
Thanks for reporting, @mxmul.
This looks interesting.

Your .yarn-integrity does not contain `debuglog@*` entry however yarn.lock has it.
That is why integrity check fails.

Removing node_modules does not fix it.
But removing yarn.lock does but only for one installation.

[2017-06-20 22:54] kaylieEB commented on #3628
The scripts are relative to the package, so if I understand the original issue correctly, `yarn remove ignore-loader` should trigger the scripts for `ignore-loader` package, not the ones on your own `package.json`--those get triggered when your package gets removed. So I think this already works as expected.

[2017-06-20 22:54] bestander commented on #3632
CHILD_CONCURRENCY is the env variable that we support as well.
I think documentation needs to be updated.
@mohseenrm would you send a PR?

[2017-06-20 22:56] bestander commented on #3628
Yeah, seems right

[2017-06-20 22:56] #3628 closed

[2017-06-20 22:58] bestander commented on #3639
PR is welcome, the code is here https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/link.js

[2017-06-20 23:02] jchook commented on #3680
It's either a problem with your repo or the way npm handles its new lockfile. You have package-lock.json checked-into source control already. From a fresh clone, I just deleted it to solve the build problem.

1. `rm package-lock.json`
2. `npm i`

[2017-06-20 23:03] bestander commented on #3647
Thanks, @thedrow.
I don't think we can follow up with this one right now, probably it was a temporary network issue.

[2017-06-20 23:03] #3647 closed

[2017-06-20 23:03] binarykitchen commented on #3680
do you mean i shouldn't check into source control that package-lock.json @jchook ?

[2017-06-20 23:09] mohseenrm commented on #3632
Alright, I'll create a PR, just for clarity, I'll add
[code]
as an optional config, right?

[2017-06-20 23:10] bestander commented on #3632
Yeah, just lower case it in the .yarnrc doc please.
Env var doc has a correct upper case notation.

[2017-06-20 23:12] bestander commented on #3658
@dchinn, could you commit a project with node_modules to a public github repo?
It seems I can't run `ng set --global packageManager=yarn` on my computer, throws an error about incorrect JSON.

[2017-06-20 23:13] bestander commented on #3676
claiming #3566 - #3670

[2017-06-20 23:16] bestander commented on #3569
Thanks for your request but it is not clear what you want could you provide an example?
I'll close for now but feel free to reopen with needed data.

[2017-06-20 23:17] #3572 closed

[2017-06-20 23:19] bestander commented on #3577
As it is fixed in master we plan to release 0.27.0 early next week.

[2017-06-20 23:19] #3577 closed

[2017-06-20 23:21] bestander commented on #3582
merging https://github.com/yarnpkg/yarn/issues/886

[2017-06-20 23:21] #3582 closed

[2017-06-20 23:21] bestander commented on #3582
PR to fix is welcome.
Otherwise it is actually a bug in the package.

[2017-06-20 23:23] bestander commented on #3583
It is not clear if the issue is in Yarn.
Please provide a repro script and reopen the issue

[2017-06-20 23:23] #3583 closed

[2017-06-20 23:24] bestander commented on #3585
Looks like a duplicate.

[2017-06-20 23:24] #3585 closed

[2017-06-20 23:28] bestander commented on #3601
It looks like internet connection is bad there and .tgz file is delivered broken.
We plan to implement retries soon, that might help a bit.

[2017-06-20 23:29] bestander commented on #3601
https://github.com/yarnpkg/yarn/issues/2849

[2017-06-20 23:34] #3632 closed

[2017-06-20 23:36] bestander commented on #3661
I think we could clean version when reading the manifest.
PR is welcome

[2017-06-20 23:39] bestander commented on #3662
@jhabdas, could you explain what is needed?
Currently I see a mix of npm and yarn commands and I don't understand the goal

[2017-06-20 23:40] bestander commented on #3665
Most important - what package you are trying to install.
I'll close it for now, feel free to reopen with more data

[2017-06-20 23:40] #3665 closed

[2017-06-20 23:42] bestander commented on #2672
They are actually independent, opened an issue to clarify more https://github.com/yarnpkg/yarn/issues/3683

[2017-06-20 23:42] #2672 closed

[2017-06-21 00:10] bestander commented on #3683
BTW if you want to make Yarn work better with .npmrc speak up and send a PR.

[2017-06-21 00:18] bestander commented on #3603
@rally25rs what would be your next step?
Do you want to copy your issue into an RFC and send a PR as a followup?

I think all the points above make sense, would be great to get the commands consistent.

[2017-06-21 01:21] VimalRaj571 commented on #3601
@bestander Thanks bro

[2017-06-21 02:05] gsklee commented on #1169
@kittens @samccone Is it possible for us to have a blog post dedicated to this topic sometime?

[2017-06-21 02:10] jchook commented on #3680
No, you should... but it's just got some wonky dependencies or something, causing the build to fail.

The bug is probably just a growing pain of npm trying to copy yarn's lock file. I would recommend you just delete the lock file, reinstall, and commit any changes to the lock file.

[2017-06-21 02:29] bestander commented on #2734
looking into it now

[2017-06-21 02:41] gsklee commented on #1164
@jh3y Is this still happening on the latest version of Yarn (v0.24)?

[2017-06-21 02:49] binarykitchen commented on #3680
ugh, this is getting ugly ... will try later on today

[2017-06-21 03:00] gsklee commented on #1150
@destroyerofbuilds indeed, thanks!

[2017-06-21 03:00] #1150 closed

[2017-06-21 03:03] gsklee commented on #1149
@fridaymeng Is this still happening with the latest version of Yarn (v0.24)?

[2017-06-21 03:15] gsklee commented on #1148
@otakustay The scope of such a feature request would mandate an [RFC](https://github.com/yarnpkg/rfcs) be submitted to enable further discussions. If you still feel like it, please feel free to head over there and submit this idea 😄

[2017-06-21 03:15] #1148 closed

[2017-06-21 03:21] hampusohlsson commented on #648
The resolution dicussed [here](https://github.com/yarnpkg/yarn/issues/1151#issuecomment-269195959) seems to fix it. Add this to `.bash_profile`

`export PATH="$PATH:$HOME/.config/yarn/global/node_modules/.bin"`

[2017-06-21 04:47] thedrow commented on #3647
No you probably can't. But #2849 should help with this.

[2017-06-21 05:31] gsklee commented on #941
@oieduardorabelo The scope of such a feature request would mandate an [RFC](https://github.com/yarnpkg/rfcs) be submitted to enable further discussions. If you still feel like it, please feel free to head over there and submit this idea 😄

[2017-06-21 05:31] #941 closed

[2017-06-21 05:54] gsklee commented on #1304
@Kirill89 This is exactly how [node-semver](https://github.com/npm/node-semver) works. If you believe that it should work in another way, you should raise this issue there.

[2017-06-21 05:54] #1304 closed

[2017-06-21 05:56] gsklee commented on #1327
@maybeec Does https://github.com/yarnpkg/yarn/releases work for you?

[2017-06-21 06:17] gsklee commented on #1297
@RusPosevkin could you confirm that if this issue has been resolved in v0.26 prerelease?

[2017-06-21 06:27] binarykitchen commented on #3680
ah yeah, i confirm deleting lock files did the trick. ugh. thanks guys

[2017-06-21 06:27] #3680 closed

[2017-06-21 07:23] maybeec commented on #1327
@gsklee if you keep naming and upload of packages as well as naming of the tag stable for each release, this works like a charm. In specific, I already see there are packages with and without 'v' character in the current prerelease v0.26.1. I don't mind to have the differences in linux vs. everything else packages. But naming should be kept stable to be able to resolve the download URL using the v

[2017-06-21 07:28] jhabdas commented on #3662
@bestander I'd wager mixing or not mixing commands wouldn't make a difference. The expected behavior is this:

Adding a dependency as a dependency of itself is a logic violation and creates a circular dependency, which should be caught and throw.

[2017-06-21 07:28] pichouk commented on #3525
@bestander said in #3577 that it was fix in master, so I guess it can be closed.

[2017-06-21 07:29] pichouk commented on #3312
@bestander said in #3577 that it was fix in master, so I guess it can be closed.

[2017-06-21 07:34] jhabdas commented on #3577
Still jumping the gun a little IMO. But I'll settle for a promise.

[2017-06-21 09:46] gossi commented on #648
No, not really. This works for situations where you have access to your `.bash_profile`. Most programs itself don't have this (run `npm test` and your package.json uses a binary, that is globally installed with yarn, you are out of luck). If you install something globally it should instant be available without any further configuration. It's fine if the binaries are installed into a yarn specific

[2017-06-21 12:24] houssem-yahiaoui commented on #2828
Even though sometimes this approach won't going to fully work, i've tested the solution over yarn 0.24.6 my solution was to replace **bcrypt** for **bcryptjs** same package, same methods and behaviour last one is more js compatible without any dependencies, and it works flawlessly over **docker** !

Hope this helps people with same issue.

[2017-06-21 12:41] jeffrson opened #3685 "Cannot execute globally installed packages (Windows)"
On Windows,
"yarn global add typescript" installs to %LOCALAPPDATA%\Yarn\config\global\node_modules (actually expanded to "c:\users\<user>\AppData\Local\Yarn\...) - executable scripts go that folder's subfolder .bin

However, "yarn global bin" shows %LOCALAPPDATA%\Yarn\bin, or "c:\users\<user>\AppData\Local\Yarn\bin", respectively. This folder doesn't exist at all.

**What is the expected behavior

[2017-06-21 13:01] rally25rs commented on #3603
Closing this issue.
Opened RFC PR: https://github.com/yarnpkg/rfcs/pull/71

[2017-06-21 13:01] #3603 closed

[2017-06-21 13:49] Bosek commented on #3350
Same here with (https://github.com/Bosek/gametracker)[https://github.com/Bosek/gametracker/tree/9746e95d182e070c87db139686c0518a2c56e3e5]

![image](https://user-images.githubusercontent.com/6001235/27387470-1c269d10-5699-11e7-8d2e-779abcb96534.png)

[2017-06-21 14:55] bentolor opened #3688 "yarn upgrade-interactive does not recognize/apply typescript 2.3.4 ❯ 2.4.0; yarn upgrade does"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`yarn upgrade-interactive` offers "upgrade" of `typescript  2.3.4  ❯  2.3.4.`

Accepting the upgrade has no effect. The next run of `yarn upgrade-interactive` reoffers the same update again.

Deleting the `yarn.lock` file and running `yarn install` again _does have an effect_ and typescript 2.4.0 gets

[2017-06-21 16:21] ohir opened #3689 "error message of failed install is not informative"
yarn install v0.24.6

**Do you want to request a *feature* or report a *bug*?**

bug

As in current state it is impossible to tell what package caused install to fail if yarn is used within a script
Also the __expected__ hash in shown below message varies from package to package, but __got__ one seems always the same ("da39a3ee5e6b4b0d3255bfef95601890afd80709").

**What is the current behavior?**

[2017-06-21 17:18] Vanuan commented on #3353
Happened approximately one hour (58-59 minutes) ago
[code]

[2017-06-21 18:01] ohir commented on #3689
__Update__: I got to immediate cause of errors - corrupted tarballs fetched to the yarn offline folder. Should I open another issue for that (yarn does not verify tarballs put to the offline folder)?

__Workaround__: after seeing ghost hashes go to your offline folder and make list of corrupted tarballs. Eg: `cd yarnofflinefolder && for f in *.tgz; do tar -ztf $f >/dev/null 2>&1 || echo $f; done`

[2017-06-21 18:11] ganny26 commented on #3602
Issue resolved after upgrading to .net framework

[2017-06-21 18:11] #3602 closed

[2017-06-21 19:54] Diokuz commented on #3630
Well, we have solved our problem via `NPM_TOKEN` env var. But if _npm_ is better here, why dont you want to make _yarn_ even better in near (or far) future?)

Anyway, thanks for answers)

[2017-06-21 20:52] brennongs commented on #1916
Also seeing this issue with different dependencies. Just pulled from github and can't install due to bad hash error. Any updates on this?

[2017-06-21 21:26] billxinli commented on #932
Seeing this issue with Ubuntu 16.04LTS, with latest yarn v0.24.6, with node 8.1.2

I am seeing `gdal`, `node-sass` rebuilding every time I add a module, this is causing yarn add to take way longer to run than necessary.

[2017-06-21 22:14] rodrigobdz commented on #3626
How can I reproduce this behavior?

[2017-06-21 23:10] bestander commented on #3559
@GAumala, correct.
Looks like this leaked into help command.
Help is needed, PR is welcome

[2017-06-22 00:05] bestander commented on #3662
Technically Yarn supports cyclic dependencies, e.g. `a -> b -> c -> a`, there are a few packages in the wild like that.
We could think of `a -> a` as an edge case of the above example.

[2017-06-22 00:07] #3525 closed

[2017-06-22 00:07] #3312 closed

[2017-06-22 00:41] #3618 closed

[2017-06-22 00:45] #3586 closed

[2017-06-22 00:46] bestander commented on #3566
Done

[2017-06-22 00:46] #3566 closed

[2017-06-22 00:49] bestander commented on #3560
FYI we have special code for alpha versions here https://github.com/yarnpkg/yarn/blob/master/src/util/semver.js

[2017-06-22 00:51] bestander commented on #3557
The issue is probably in your internet proxy configuration.
Yarn has a setting for that.

[2017-06-22 00:51] #3557 closed

[2017-06-22 00:52] bestander commented on #3556
Yeah, that would be very convenient.
Send a PR!

[2017-06-22 00:55] bestander commented on #3676
claiming #3488 - #3689

[2017-06-22 01:17] mridgway commented on #3506
I have found that just running `yarn install --pure-lockfile` twice will remove artifacts:

[code]

The first `ls` will contain `extension_binary` but the second it will be gone.

[2017-06-22 01:53] bestander commented on #3689
@ohir, yes a separate issue would be nice please

[2017-06-22 01:54] bestander commented on #3688
Related to https://github.com/yarnpkg/rfcs/pull/71 maybe

[2017-06-22 02:03] bestander commented on #3532
Please see other issues with https://github.com/yarnpkg/yarn/labels/feature-private-registries, I think there should be a workaround

[2017-06-22 02:03] bestander commented on #3532
Maybe a setting in .yarnrc IIRC

[2017-06-22 02:08] bestander commented on #3531
You need to add `yarn global bin` to your PATH.

@djenriquez, there are no changes between 0.24.4 and 0.24.6 that touch global or path https://github.com/yarnpkg/yarn/commits/0.24-stable.

[2017-06-22 02:11] bestander commented on #3529
And install/add works correctly?

[2017-06-22 02:13] bestander commented on #3526
Looks like Yarn does not set this variable.
What should be there?
Should it be `npm_...` or `yarn_...`?

[2017-06-22 02:24] bestander commented on #3524
Thanks for reporting.
According to npm fix process.stdout.write need to have a callback, should Yarn do the same?
Help welcome

[2017-06-22 02:25] bestander commented on #3524
I'll raise the priority to get keep it on radar.

[2017-06-22 02:29] bestander commented on #3522
I think Yarn does not validate/correct versions in package.json of dependencies.
`historyjs` version contains the incorrect value https://unpkg.com/historyjs@1.8.0-b2/package.json.

[2017-06-22 02:30] bestander commented on #3522
Feel free to send a PR with validation

[2017-06-22 02:31] bestander commented on #3522
Could be related https://github.com/yarnpkg/yarn/issues/3560

[2017-06-22 02:34] bestander commented on #3519
Python is not a feature of Yarn, it is used by node-gyp.
You probably can pass python version via environment variables

[2017-06-22 02:35] bestander commented on #3518
Same as https://github.com/yarnpkg/yarn/issues/3559.
PR with a fix is welcome

[2017-06-22 02:35] #3518 closed

[2017-06-22 02:36] bestander commented on #3515
Is `/` allowed to be in directory names?

[2017-06-22 02:44] bestander commented on #3514
Can't repro locally, can you still reproduce it?

Try clearing caches, switch node version.

[2017-06-22 02:45] bestander commented on #3509
PR with a fix is welcome

[2017-06-22 02:47] bestander commented on #3509
pruneOfflineMirror is just a function in install.js, should be a straight forward fix.
cc @dguo

[2017-06-22 02:51] bestander opened #3693 "Fix .includes issue once and for all"
**Do you want to request a *feature* or report a *bug*?**
Node 4 compat issue

**What is the current behavior?**

1. Jest tests on Node 4 don't catch compatibility issues like having `.includes` in `-legacy.js` builds.
2. We need to include proper polyfil for Node 4

[2017-06-22 02:58] bestander commented on #3488
Nice idea.
An option would be to have this data only for failed requests.
The data should be there PackageRequest contains parentRequest field

[2017-06-22 02:59] bestander commented on #3498
similar to https://github.com/yarnpkg/yarn/issues/3685

[2017-06-22 02:59] #3498 closed

[2017-06-22 03:00] bestander commented on #3500
Should be resolved in https://github.com/yarnpkg/rfcs/pull/71

[2017-06-22 03:00] #3500 closed

[2017-06-22 03:01] nanoxd commented on #3526
It should be `npm_...` to maintain compatibility.

[2017-06-22 03:01] bestander commented on #3503
Looks fixed now
<img width="705" alt="screen shot 2017-06-21 at 8 01 07 pm" src="https://user-images.githubusercontent.com/2121048/27415559-6d72fc9a-56bc-11e7-89a2-6c87b5b68f2e.png">

[2017-06-22 03:01] #3503 closed

[2017-06-22 03:07] bestander commented on #3504
Fixed by https://github.com/yarnpkg/yarn/pull/3646

[2017-06-22 03:07] #3504 closed

[2017-06-22 03:07] bestander commented on #1694
Fixed by https://github.com/yarnpkg/yarn/pull/3646

[2017-06-22 03:07] #1694 closed

[2017-06-22 03:12] bestander commented on #2983
Is the workaround working?
If so I'll close the issue

[2017-06-22 03:12] #2983 closed

[2017-06-22 03:16] bestander commented on #2981
This RFC https://github.com/yarnpkg/rfcs/pull/68 should address issues when you want to avoid a specific version of a dependency.

Right now what you ask is to choose the minimum version for a range, e.g. `^1.0.0` would result in `1.0.0` even if `1.3.2` is available.
I don't think we want that because there will be edge cases like `*` or `<2.0.0`.
I'll close the issue but feel free to discuss and

[2017-06-22 03:16] #2981 closed

[2017-06-22 03:20] bestander commented on #2899
Yeah, I think Yarn and npm can serve other languages.
I started this issue to track the progress of other languages support https://github.com/yarnpkg/yarn/issues/3644.

[2017-06-22 03:20] #2899 closed

[2017-06-22 03:21] bestander commented on #2934
Help is welcome

[2017-06-22 03:25] Daniel15 commented on #3644
@torifat had a proof-of-concept/WIP diff for supporting Composer packages too.

[2017-06-22 03:29] bestander commented on #2364
1. So to the original question, Yarn should respect semver of transitive dependencies.
The original issue does not reproduce anymore
[code]
2. Ability to upgrade deep version is quite important, I am looking forward for #54 as well

3. In larger projects we don't want to have 10 different versions of `start-babel-cli`, so Yarn may pick 1 that fits 10 different semvers even if it is not the highest

[2017-06-22 03:29] #2364 closed

[2017-06-22 03:32] bestander commented on #2978
Sounds like a great opportunity for a PR

[2017-06-22 03:32] bestander commented on #3676
Good results - no more untriaged issues in May - June.

[2017-06-22 03:32] #3676 closed

[2017-06-22 03:36] bestander commented on #2381
We used some hack to generate a .tgz and modify yarn.lock file.
I thin ka script to do that would be nice.

Why can't you use file:/ specifier for a local dependency?

[2017-06-22 03:37] bestander commented on #3469
Tracking the prune issue here https://github.com/yarnpkg/yarn/issues/3509

[2017-06-22 03:37] #3469 closed

[2017-06-22 03:39] bestander commented on #3296
@chrishyle to better understand what you want it would be great if you could set up a few public git repos with the setup you describe.

[2017-06-22 03:51] chrisdothtml commented on #3515
@bestander apparently I had it backwards. Finder represents`:` in dir names as`/`. So when you create a dir in Finder with `/`, it's actually a `:`. I'll update the title based on that.

I also setup a [test repo](https://github.com/chrisdothtml/yarn-3515) for replication

[2017-06-22 04:01] torifat commented on #3644
It's here -> https://github.com/torifat/yarn/tree/feature/packagist

[2017-06-22 05:37] himanshuphirke commented on #2983
Sorry about my typo in comment. But it's not working on mounted partition in a Virtual box VM

[2017-06-22 06:48] Volune commented on #3693
The simple way would be to add a dependency to [`babel-polyfill`](https://yarnpkg.com/en/package/babel-polyfill) and require it at the beginning.

Node 4 already supports several ES6 features ([compatibility table](https://kangax.github.io/compat-table/es6/)). I think it would be better to add a dependency to [`core-js`](https://yarnpkg.com/en/package/core-js), and only require the necessary polyf

[2017-06-22 07:26] raix commented on #2381
We are kinda using the `file://` but indirectly when setting the version to a `tgz`

From my point it's not possible for us to have a "npm proxy" and we cannot publish private packages on npm. Yarn makes our lives easier due to the offline-mirror feature. We might be exploiting it when publishing "insourcing" modules. *(we don't benefit from update/upgrade resolver features on our private packages

[2017-06-22 07:49] OmgImAlexis commented on #3519
Since it can be passed in npm it should work the same in yarn. Most users with issues ended up having to move back to npm just to get their deps installed and they really shouldn't have to rely on environment variables when there's a npm setting for this.

[2017-06-22 07:55] gkaran commented on #1823
Having the same problem with @francisoud and have tried both 0.22.0 and 0.26.1

- Yarn version: 0.22.0 or 0.26.1
- Node version: 7.0.0
- Platform: win32 x64

Some builds pass while most fail.

[2017-06-22 08:10] skeggse commented on #3663
Hmm, interesting. The bug I was hoping to demonstrate was actually an issue with `yarn`, but it seems this reproduction only showed an issue with `yarn check`. I'll try to follow up with an issue that demonstrates the more important issue.

Just a little more background: I was able to run `yarn`, and have a module reference a dependency that it could not resolve with node's module resolution algor

[2017-06-22 10:08] kasienna opened #3694 "Inconsistent dist creation in angularjs + yarn"
I have an error I have never seen before. It appears in one spot only and after compiling on one machine only.

Before compiling, it looks like this:

[code]

After compiling, in this particular situation the code is:

[code]

It seems also that object machine looks different, maybe due to some race, but it was working before switching to yarn.

Did anyone had problem like that? It doesn't look li

[2017-06-22 11:32] kasienna commented on #3694
I solved it by changing dataflow. What might be useful for future issues is fact that after switching from npm to yarn minimized js didn't manage to operate on component binding

[2017-06-22 11:32] #3694 closed

[2017-06-22 12:57] Haroenv opened #3696 "Add a `yarn browse pkg` command"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

To go to a package detail page, you’d have to manually enter `open https://yarnpkg.com/en/package/whatever` instead of being able to do `yarn browse whatever`

**What is the expected behavior?**

`yarn browse whatever` opens <https://yarnpkg.com/en/package/whatever>  in your default browser.

[2017-06-22 13:24] ohir opened #3697 "yarn does not verify tarballs put to the offline folder"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Yarn likely does not verify tarball written to the configured offline folder. On chocked (mobile) connection
happens that it writes even zero sized one. Then yarn fails with uninformative message of mysterious bad hash:
[code]
without even a failed package name.

*Note, that "__da39a .... 80709__" is a

[2017-06-22 14:02] BYK commented on #610
Another idea (from @davidaurelio): Put publish behind a company SSO so all company projects are published by the same, single user account on NPM).

[2017-06-22 14:03] julien-f commented on #3479
I don't reproduce with Node 8.1.

[2017-06-22 14:03] #3479 closed

[2017-06-22 14:19] julien-f opened #3698 "[upgrade-interactive] Add a flag for pre-release"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Only shows non-prerelease versions.

Would be useful for instance to upgrade all related packages to Babel 7 alpha.

**What is the expected behavior?**

[code]

It should then include pre-releases as well.

[2017-06-22 14:40] ujaroe commented on #3685
For the records - since I've been playing around with the prefix config, I cannot reproduce this bug anymore. I removed the prefix config and it still installs fine.

For me it looks like yarn hadn't been able to write to "c:\users\<user>\AppData\Local\Yarn\bin", but now it is. I cannot tell, however, where the difference is :-(

[2017-06-22 14:55] timkelty commented on #3489
I have an example of this occurring here: https://github.com/timkelty/yarn-order-bug

`package.json`s are identical except for swapping order of 2 deps. Resulting in very different node_modules.

[2017-06-22 15:24] OwnerOfThisIsle commented on #3350
Same here with yarn 0.24.6.
After freshly installing **karma** the binary karma.cmd ends with garbage characters.
Not every time, but roughly every forth time, my CI is really unstable that way..

OS: Windows 7

[2017-06-22 15:27] p-fernandez opened #3699 "yarn install not prompting passphrase required"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running `yarn install` gets stuck without prompting passphrase required when trying to install package in external repository, having the RSA key with passphrase.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. package.json with external private repository dependency:
[

[2017-06-22 15:46] skube commented on #1139
@M-D-M How did you remove the `/usr/local/bin/yarn` link if you didn't know where it was coming from?

[2017-06-22 15:56] dchinn commented on #3658
sure... https://github.com/dchinn/FailedProject.git

[2017-06-22 16:24] dupski commented on #2526
peerDependencies are a deprecated feature in npm, and I no longer need this to work, so closing this issue. One off the list :)

[2017-06-22 16:24] #2526 closed

[2017-06-22 16:32] gatimus opened #3700 "Scoped Registries"
What is the syntax for scoped registries?
This [issue](https://github.com/yarnpkg/yarn/issues/606) was closed before this [comment](https://github.com/yarnpkg/yarn/issues/606#issuecomment-252968146) was resolved.

**What is the current behavior?**
`@[scope]:registry=[registry URL]` in `.npmrc` is ignored / results in `"https://registry.yarnpkg.com/@[scope]%2f[package]: Not found"`

`@[scope]:regis

[2017-06-22 16:40] richkzad commented on #932
I'm seeing this too, it's super annoying on a Raspberry Pi Zero W where building packages (like bleno) can take several minutes.

[2017-06-22 17:23] #3562 closed

[2017-06-22 17:24] #3023 closed

[2017-06-22 17:32] arcanis commented on #3699
The message *is* prompted, but overwritten by the progress bar.

Since install from Yarn should work without interaction with the using (think CI, etc), we decided to completely disable prompting for password with git and ssh. Because of this, starting at the next 0.27 release, the install will fail instead of hanging eternally. If you wish to avoid this, we recommend you to use an ssh agent.

[2017-06-22 17:32] #3699 closed

[2017-06-22 17:40] kellyselden commented on #3626
Should be fixed in https://github.com/yarnpkg/yarn/pull/3687

[2017-06-22 17:40] #3626 closed

[2017-06-22 17:44] kentor commented on #3630
@arcanis We don't control the build environment. For example I am using Netlify which does not have access to private dependencies through github (not npm private registry, so I can't do something like `NPM_TOKEN`). I thought it would be ok to move the private deps to `devDependencies` but yarn in production mode still tries to resolve it. The lock file should be enough to determine the positions

[2017-06-22 18:19] talkingtab commented on #2459
same issue here. NPM works fine when run in a subdirectory, and adds a dependency to the parent package.json rather than creating a new one. Is there some way around this?

[2017-06-22 18:21] p-fernandez commented on #3699
I agree with the 0.27 release approach. Thank you.

[2017-06-22 19:14] M-D-M commented on #1139
```sudo unlink /usr/local/bin/yarn```

[2017-06-22 19:28] jh3y commented on #1164
Sorry for the delayed response 😅

Wanted to make sure and try this out with a fresh clone of the same project that prompted opening the issue. Good news! Seems the issue has gone for me :tada: `HMR` and everything else working as expected. It may have been resolved some time/versions ago.

Happy to close this 👍

[2017-06-22 20:38] amaschas commented on #648
This is a big problem when you're trying to use Yarn inside a Docker container. This is my first time using Yarn as an alternative to NPM and having a core feature like this fail is not particularly encouraging.

[2017-06-22 21:18] bestander commented on #648
@gossi, this is not an issue with a straight forward fix.
On many OS /usr/local/bin is not available, you might need root access to it, a single location may not be enough if you use multiple versions of Node (nvm).

Feel free to propose an ideal solution.

[2017-06-22 21:21] ebitonte opened #3703 "Error fetching dependencies in node >= 8"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
When running `yarn` with a clean cache on node v8.1.2, receive an error during `Fetching packages` with the following message:

[code]

This behavior is inconsistent, and appears to be a [race condition within node 8](https://github.com/nodejs/node/issues/13539).

**If the current behavior is

[2017-06-22 21:30] ebitonte commented on #3703
I've made a test repo in which I'm able to very consistently reproduce this error

https://github.com/ebitonte/yarn-test

[2017-06-22 23:15] gsklee commented on #1164
@jh3y Great to know! 👍

[2017-06-22 23:15] #1164 closed

[2017-06-22 23:30] jpommerening commented on #3485
Ok guys, this problem bothered me for the last few days so I did some digging.

Here's what I found:

- The removal of the `node-sass/vendor`directory is triggered in `package-linker.js`, [here](https://github.com/yarnpkg/yarn/blob/a3ce7c7/src/package-linker.js#L299)
- The `possibleExtraneous` files set (which the `vendor` dir ended up in) is populated by `buildActionsForCopy` and `buildActionsFor

[2017-06-22 23:40] AvinashGandhasiri commented on #859
Installing npm modules globally din't work for me.
I tried installing then in project folder and they worked fine.
config:
windows 10
node.js 4.5.0
npm 2.15.9
run cmd as an administrator and look if the versions are latest.

[2017-06-23 00:35] bestander commented on #3485
Yarn should record the files int .yarn-integrity file, something is getting lost over there I suppose.

[2017-06-23 00:44] bestander commented on #3693
@Volune, would you send a PR for that please?

[2017-06-23 01:26] bestander commented on #2983
@himanshuphirke, does it work with --no-bin-links flag?
Could you explain the situation with the read-only FS? Why does it install node_modules fine but not the symlink?

[2017-06-23 02:09] bestander commented on #3485
As @destroyerofbuilds described in https://github.com/destroyerofbuilds/yarn-sass, the issue was that `--pure-lockfile` resulted in no .yarn-integrity file saving.
Fix is coming

[2017-06-23 02:11] bestander commented on #3485
Merging this issue into #3506

[2017-06-23 02:11] #3485 closed

[2017-06-23 02:16] bestander commented on #3217
Fixing in #3506

[2017-06-23 02:16] #3217 closed

[2017-06-23 02:18] bestander commented on #1168
Thanks for reporting, we are tracking this issue in #3490

[2017-06-23 02:18] #1168 closed

[2017-06-23 04:09] selfagency commented on #3485
I wasn't using --pure-lockfile to install anything when Yarn broke my node-sass bindings.

[2017-06-23 04:49] terdia commented on #630
This is the only reason why I have not switch to yarn, I need to install my front end packages in a specific folder.

[2017-06-23 05:08] bestander commented on #3485
@selfagency this is another issue.
The reason is that we don't ship node-gyp with Yarn and rely on the global one.
Probably something is wrong with the paths

[2017-06-23 05:11] thevtm commented on #3580
It only does that with password protected keys.
If you remove the password It should work.
`openssl rsa -in ~/.ssh/id_rsa -out ~/.ssh/id_rsa_new`

[2017-06-23 05:19] kaylieEB commented on #3693
I also think that `babel-polyfill` is quite heavy, if you want to fix just .includes issue, then we should use airbnb's .includes polyfill https://www.npmjs.com/package/array-includes.

[2017-06-23 05:25] bestander commented on #3693
Makes sense.
On top of that we need to make jest run without polyfills, these issues
should be caught by CI

On 22 June 2017 at 22:19, kaylieEB <notifications@github.com> wrote:

[2017-06-23 05:41] kaylieEB commented on #3693
hm, looking at [babelrc](https://github.com/yarnpkg/yarn/blob/c844df7236ec122ca6b803b9f2943352c9b09a7e/.babelrc)
it looks like jest already runs without the polyfill? I actually think we just need to add a [plugin](https://www.npmjs.com/package/babel-plugin-array-includes)
 to the pre-node setting. Happy to send a PR.

[2017-06-23 06:11] bestander commented on #3693
Go ahead, thanks

On Thu, Jun 22, 2017 at 10:41 PM kaylieEB <notifications@github.com> wrote:

[2017-06-23 06:17] kaylieEB commented on #3693
Thanks! https://github.com/yarnpkg/yarn/pull/3705

[2017-06-23 06:35] Volune commented on #3693
I think we should have a look at [babel-preset-env](http://babeljs.io/docs/plugins/preset-env/#optionsuse-built-ins) to fix all similar potential issues at once.

[2017-06-23 07:08] FDiskas commented on #3370
Used as alternative `optipng-bin` for now

[2017-06-23 07:16] rycastaneda opened #3707 "webdriverio with phantomjs works fine with modules installed by `npm` not with yarn."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
webdriverio with phantomjs works fine with modules installed by `npm` not with yarn.
I am running `./node_modules/.bin/wdio wdio.conf.js --suite sanity`

**If the current behavior is a bug, please provide the steps to reproduce.**

Create a wdio conf and a normal spec file and begin testing with yarn a

[2017-06-23 09:17] #3661 closed

[2017-06-23 09:20] #3506 closed

[2017-06-23 11:34] voxsim commented on #3693
@bestander here, https://github.com/yarnpkg/yarn/pull/3652, I upgraded babel and used babel-preset-env.. If you want I can move some commits and arrange a pull request for the next week. This is propedeutic for the new release of Jest too.
I saw the pull request https://github.com/yarnpkg/yarn/pull/3705 and imho we should avoid include babel plugins that are not followed and upgraded as well, othe

[2017-06-23 14:03] SDhalor opened #3708 "ERROR: [Errno 2] No such file or directory: 'add'"
ERROR: [Errno 2] No such file or directory: 'add'

this is the error i get when I try running yarn add
my current yarn version is 0.10.

[2017-06-23 14:36] gossi commented on #648
@bestander ok, let's constrain it to platforms where `/usr/local/bin` is available ;)
Nvm is another problem that should subordinate to this to play hand-in-hand with each other.

[2017-06-23 15:33] amaschas commented on #648
@bestander how does NPM solve this problem? Is their solution applicable?

[2017-06-23 15:41] destroyerofbuilds commented on #3485
@bestander has merged in #3704 to resolve this issue.

Using the nightly 0.27 build (0.27.0-20170623.1327), which contains the fix, I no longer get the missing file error (`Error: ENOENT: no such file or directory`).

Thank you @bestander

[2017-06-23 16:04] arcanis commented on #3577
The 0.27.0 has been released! @jhabdas can you check that it fixes your use case?

[2017-06-23 16:06] jhabdas commented on #3577
On it

[2017-06-23 16:06] arcanis commented on #3023
@klouskingsley We just released the 0.27.0, that should ship with a fix regarding this issue - care to try again and tell me if it's ok for your use case?

[2017-06-23 16:11] jhabdas commented on #3577
That's what I wanted to see:

[code]

This issue may be closed now (half joking there, half not). By the way, I speculate NPM is about to become a general purpose front-end package manager as a result of the Bower deprecation notice. I hope you guys are able to capitalize on this opportunity quickly by introducing a pattern to define the split. Cheerio!

[2017-06-23 16:11] pichouk commented on #3577
Just test it and it seems to work.
[code]

[2017-06-23 16:52] bestander commented on #648
Is there anyone out there who wants to wrap their head around all this global bin PATHs across OS?
Feel free to start a new issue and send PRs.
The code that updates global bins is here https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/global.js#L72, looks quite straight forward.

I think we can have some great user experience here but we need some help.

[2017-06-23 17:10] bestander commented on #3693
Thanks for chiming in @voxsim.

A few points.

1. I think it is bad to allow Node 4 to hold us back.

2. Jest in Node 4 mode should run with the same babel settings as production builds of Yarn.
Otherwise there is less value in testing in Node 4.
However I understand there may be some configuration cost to this.

3. Could you explain what is the problem with babel-preset-env?

[2017-06-23 17:40] yeskunall commented on #3317
@bestander I'd like to take this up as my first contribution to `yarn`.

I think I have isolated the issue to [L83-87](https://github.com/yarnpkg/yarn/blob/master/src/cli/index.js#L83-L87) of `src/cli/index.js`.
I've only just begun digging into the code base, but it looks like this problem also extends to every command. If you provide an invalid flag to a command, it seems to just ignore it and c

[2017-06-23 17:40] kaylieEB commented on #3693
@voxsim I agree we should move to `babel-preset-env` regardless of support for .includes, to be futureproof. Per the original issue, the only way to use `.includes` is to include babel-polyfill or a syntax plugin like the one I added, and preset-env doesn't provide it out of the box. But the use of `BuiltIns` looks promising https://babeljs.io/docs/plugins/preset-env/#optionsuse-built-ins. It will

[2017-06-23 17:55] josebalius commented on #3288
We are also affected by this. Would love to contribute or help on the issue but need guidance as to where this functionality is found. I'll be browsing the source code either way.

[2017-06-23 17:55] bestander commented on #3317
@yeskunall, welcome!
Give it a try, also I think commander.js throws and exception when there is an unknown CLI param.
Maybe you could add a warning in the exception handler

[2017-06-23 17:57] bestander commented on #3288
Welcome, @josebalius!
The reason might be related to package-linker.js where it decides whether a folder is  extraneous

[2017-06-23 18:00] masaeedu commented on #1776
Isn't @IanVS's approach compatible with having the lockfile be a binary file? If I understand correctly the idea is to never merge, just throw away what you have and replay your `yarn install` on top of whatever `yarn.lock` is already present in the branch you're merging into.

[2017-06-23 18:02] mgmeyers commented on #3288
I can confirm this issue and can hopefully provide additional details. I'm running yarn v0.24.5 and node v6.9.5

I have two repos I'm working on: `app-common` and `app-index`

`cd app-common && yarn link` successfully creates a link to `app-common`
`cd app-index && yarn link app-common` successfully links `app-common` in `app-index`

Now, I want to upgrade `app-index`'s `package.json` and `yarn.lo

[2017-06-23 18:12] yeskunall commented on #3317
Awesome! Thanks for the quick response!

`commander`, from what I understand _does_ throw an exception, but in the form of a `console.error();` with the error message. What's weird is when you first instantiate a `commander` object, it sets a [flag ](https://github.com/tj/commander.js/blob/master/index.js#L86) called `_allowUnknownOption` to false, which should technically throw an error and then,

[2017-06-23 18:18] bestander commented on #3317
That is ok.

I think commander should have something like
`commander.onUnkonwnCommandException((error) => {reporter.warn(error)})`.

On 23 June 2017 at 11:13, Kunall Banerjee ✌️ <notifications@github.com>
wrote:

[2017-06-23 19:55] niccofyren commented on #3169
Im pretty sure this issue is caused by the yarn module cleanup step as @m-andrew-albright mentioned.

**To fix:**
1. Check your project directory for a file named: `.yarnclean`
2. Delete the file, or uncomment any suspect entries
3. Try a clean `yarn install`, `yarn install --force`, or similar

The source of the `.yarnclean` file in questions seems to be running the `yarn clean` command. The file

[2017-06-23 20:12] alunny opened #3710 "Peer dependency resolved from sibling, not root"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

As far as I can tell, yarn satisfies peer dependencies by finding the closest match anywhere in the tree. This is unexpected when the top-level project depends on module A at version x, a dependency B depends on module A at version y, and another dependency C peer depends on module A for some versio

[2017-06-23 21:10] nueko commented on #648
@bestander I think the issue is in the updateCwd

[2017-06-23 21:13] bestander commented on #648
send a PR :)

[2017-06-23 21:14] bestander commented on #3317
@yeskunall have a look at this https://github.com/yarnpkg/yarn/pull/2623.
Would be great if you take over

[2017-06-23 21:17] yeskunall commented on #3317
Yes, I will look into it!

Kunall Banerjee

[2017-06-23 21:27] bestander commented on #648
https://github.com/yarnpkg/yarn/pull/3458 - somewhat related as well

[2017-06-23 21:33] #1194 closed

[2017-06-23 21:37] bestander commented on #3696
This feature can be done by a standalone tool.
I think Yarn should focus on package management.

[2017-06-23 21:37] #3696 closed

[2017-06-23 21:40] bestander commented on #3697
Yes, that is a great idea.
Please send a PR, code is here https://github.com/yarnpkg/yarn/blob/master/src/fetchers/tarball-fetcher.js#L162

[2017-06-23 21:41] bestander commented on #3698
Related https://github.com/yarnpkg/rfcs/pull/71

[2017-06-23 21:43] bestander commented on #3708
Thanks for reporting but there is not enough information to act on this.
Please follow the draft and add more data so that we could reproduce.
Current Yarn version is 0.26

[2017-06-23 21:43] #3708 closed

[2017-06-23 21:58] bestander commented on #3710
Thanks for reporting.

This looks crazy, node_modules/karma-webpack/node_modules/webpack/ should not be installed at all and Yarn should display a warning that webpack peer dependency is not satisfied.

[2017-06-23 23:09] Haroenv commented on #3696
fish:

[code]

bash:

[code]

You can add these to you respective .profile

(for future reference)

[2017-06-23 23:25] jiaweihli commented on #3485
The original issue I filed wasn't related to #3506 - I get this issue despite using none of `--pure-lockfile`, `--no-lockfile`, or `--frozen-lockfile`.

Can you de-merge this from that and re-open this?

[2017-06-23 23:34] bestander commented on #3485
@jiaweihli to avoid confusion would you please open an issue with repro steps?

[2017-06-24 03:03] mxstbr commented on #587
Famous last words :wink:

[2017-06-24 07:39] zyy7259 commented on #760
Any progress on this issue? `yarn@0.24.6` still have this problem.

[2017-06-24 10:12] nicostuhlfauth opened #3716 "Overriding Node LTS version when installing with Choco"
I am running a Windows system with Node LTS version installed. Yesterday, I downloaded yarn using the choco package manager.

What happend?
Choco has overridden my existing nodejs installation and replaced it with node v8.

Expected behavior:
Recognize LTS version, do not override existing system without asking.

[2017-06-24 13:56] skube commented on #1139
@M-D-M Thanks. So I did `unlink /usr/local/bin/yarn` which seemed to work.
and then in order to update to the latest, ran `npm i -g yarn` which seemed to just link up again
[code]
And yet I'm still not updated to the latest 0.24.6
[code]

[2017-06-24 14:53] drdaeman commented on #746
Using vanilla `node:7` Docker base image, with Yarn 0.24.4 preinstalled. `docker build` has `RUN yarn install` as one of the steps.

I had a semi-persistent "There appears to be trouble with your network connection" issue. The actual exception was ESOCKETTIMEDOUT, like this (I've put `console.log` in [`onError`](https://github.com/yarnpkg/yarn/blob/25890c8cf90ff23c3230ab7b8debe73ef9a80b34/src/util

[2017-06-24 16:52] klouskingsley commented on #3023
@arcanis  It works fine in 0.27.0. 😄

[2017-06-24 18:44] M-D-M commented on #1139
Interestingly enough, when I do ```sudo npm install --global yarn```, the /usr/local/bin links aren't being created, so there's some difference in our environments I can't account for.  As for 0.24.5 being the available version, that seems maybe be an npm problem -- 0.24.6 isn't being installed, for some reason.

[2017-06-24 18:46] m8r1x opened #3717 "Conflict with Apache Hadoop YARN"
There seems to be some sort of conflict on my machine with **Apache hadoop YARN** when running the **yarn** command. I keep getting :

which is an **Apache hadoop YARN** error.

Can anyone help me separate the commands?

I am currently using a 64-bit windows 10 machine and also just installed yarn 5 minutes ago.

[2017-06-24 18:51] jeff-kilbride commented on #1139
I can confirm that 0.24.6 is not being installed. I have 0.24.5 and when I run `npm outdated -g`, npm doesn't recognize there's an update available. I don't know if this is an npm issue or an issue with the yarn package.

I am using nvm to manage my node installations, so I don't really have a choice. I need to use npm to install yarn.

[2017-06-24 18:56] m8r1x commented on #3717
At the moment I have to run

to initialize a yarn project.

[2017-06-24 21:05] chrisdothtml commented on #3515
I've been debugging this, and yarn seems to be populating the PATH correctly, so now I'm wondering if it's a child.spawn issue

[2017-06-25 03:32] mrG0bliN commented on #3665
λ yarn upgrade
yarn upgrade v0.24.5
[1/4] Resolving packages...
warning gulp-clean > through2 > xtend > object-keys@0.4.0:
warning lite-server > browser-sync > localtunnel > request > node-uuid@1.4.8: Use uuid module instead
[2/4] Fetching packages...
error fsevents@1.1.2: The platform "win32" is incompatible with this module.
error Found incompatible module
info Visit https://yarnpkg.com/en/docs/

[2017-06-25 11:52] choliver commented on #2457
@bestander / @cliffmeyers - Setting the mutex globally (i.e. in .yarnrc) leads to problems of its own in some cases.  For example, the mapbox-gl postinstall step [explicitly invokes Yarn](https://github.com/mapbox/mapbox-gl-js/blob/master/package.json#L132), which leads to deadlock.

[2017-06-25 16:11] samosale commented on #1981
I am using Yarn v0.24.6 and it has the same issue with node-sass rebuilding, as described here.

[2017-06-25 17:51] bestander commented on #3717
merging to https://github.com/yarnpkg/yarn/issues/2337

[2017-06-25 17:51] #3717 closed

[2017-06-25 19:41] jylin commented on #3010
Per what @binarykitchen was saying, the "~/.yarnrc" should not contain local state or things like "# THIS IS AN AUTOGENERATED FILE. DO NOT EDIT THIS FILE DIRECTLY.". RC files should be stateless files describing user configuration. In it's current state, you can't really add it to your dotfiles repo.

[2017-06-25 19:44] adamreisnz commented on #3042
`npm install -g yarn` is the only thing that works. The message should be updated, even though `upgrade` should work, it clearly doesn't.

[2017-06-25 19:52] adamreisnz opened #3718 "Remove or make the out of date warning less in-your-face for patch releases"
**Do you want to request a *feature* or report a *bug*?**
Enhancement

**What is the current behavior?**
Yarn shows "warnings" about being out of date for patch releases, e.g.

[code]

**What is the expected behavior?**
The warning message in yellow is distracting, I really can't be bothered to install a new version of yarn every single time a new patch release comes out. And the yellow color alwa

[2017-06-25 20:56] yeskunall commented on #3317
So @bestander, after spending some time on this, I have not been able to fix this.

As I mentioned before, we can enable or disable unknown options using `commander#allowUknownOption`, but that doesn't seem to work in this case. Any pro tips?

[2017-06-26 03:38] ouranos opened #3720 "Branch/tag resolution for git dependencies"
**Do you want to request a *feature* or report a *bug*?**

a *bug*

**What is the current behavior?**

We have a repository where we have a branch for the minor version (eg `1.1`) and then tag releases for patch versions in this branch (`v1.1.0`, `v1.1.1`, ...)

I want to point a project the branch so I can have changes that are not released yet, if I put:
[code]
It actually resolves to the last p

[2017-06-26 06:49] domoritz commented on #3555
@rally25rs, I could reproduce the error with @jharris4 script.

[2017-06-26 08:34] uasi opened #3722 "Typo in .yarn-integrity property: "topLevelPatters""
**Do you want to request a *feature* or report a *bug*?**

a bug

**What is the current behavior?**

- Run `yarn install` in an arbitrary project
- See `node_modules/.yarn-integrity`
- It is JSON and contains "topLevelPatters" property

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
**What is the expected behavior?**

`node_modules/.yarn-integrity` contains top

[2017-06-26 08:42] uasi commented on #3722
I'm not absolutely sure but it seems that the property is not read anywhere, so it could be fixed by simply replacing `topLevelPatters` with `topLevelPatterns` in src/integrity-checker.js.

[2017-06-26 08:49] joe4mg commented on #1058
This might help someone else who stumbles across this page - I had this error when my directory/package.json didn't have the right file permissions

[2017-06-26 09:18] pjordaan opened #3724 "custom node_modules folder breaks .bin since yarn 0.25.4"
In our setting we install all our yarn packages in a different folder then the default node_modules folder with the --modules-folder setting.
e.g.:
[code]

**What is the current behavior?**
The current behaviour (version 0.24.*)  will install them in vendor/node_modules/.bin
After upgrading to version 0.25.4 it installs them incorrectly in node_modules/.bin, the packages are still installed in ven

[2017-06-26 10:07] SDhalor commented on #3708
So whenever I am trying to add a package with yarn, lets say
yarn add stickybits

it throws an error which is,
ERROR: [Errno 2] No such file or directory: 'add

[2017-06-26 10:34] SDhalor opened #3725 "not able to install current version of yarn"
Somehow I am only getting 0.10 version of yarn after the installation though the current version is 0.24.5
And it does not even work properly.
I am using ubuntu 14.4 and node 6.10.2

[2017-06-26 10:47] mrG0bliN opened #3726 "reOpen - allways i see (thiserror fsevents@1.1.2: The platform "win32" is incompatible with this module)"
last theme: https://github.com/yarnpkg/yarn/issues/3665
---

* OS Win10 x64  update 1607

* yarn --version
0.24.5

* node --version
v8.1.2
---
λ yarn upgrade
yarn upgrade v0.24.5
[1/4] Resolving packages...
warning gulp-clean > through2 > xtend > object-keys@0.4.0:
warning lite-server > browser-sync > localtunnel > request > node-uuid@1.4.8: Use uuid module instead
[2/4] Fetching packages...
error

[2017-06-26 12:31] sakivks opened #3727 "Consistency issue: why diff command -> ls in global and list in normal mode"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, yarn and operating system version.**

[2017-06-26 13:11] luisfpg commented on #786
I've got another insight on this one:
If the node-sass package is not installed and one runs "npm update" this error triggers.
Tested with Node v8.1.2 and NPM v5.0.3.

[2017-06-26 13:21] BYK commented on #2385
This should be fixed by #3627. Can you upgrade to the latest version of `yarn` and verify it is fixed?

[2017-06-26 13:29] jharris4 commented on #3555
I've spent some time narrowing it down. It is the `socket.io` package that is causing the lock file not to be created. The following package.json is reliably reproducing the issue for me:

[code]

[2017-06-26 13:49] arcanis commented on #3489
I may have a fix, will post a PR soon

[2017-06-26 13:53] jharris4 opened #3728 "Adding optionalDependencies causes yarn.lock file to not be created when yarn says it was"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Adding an `optionalDependencies` section to a package.json causes yarn to report that it created the lock file successfully, but the lock file does not exist.

**If the current behavior is a bug, please provide the steps to reproduce.**

Create an empty folder with the following `package.json` file:

[2017-06-26 13:56] jharris4 commented on #3555
Ok, it's the `optionalDependencies` section in `engine.io` package that's causing this bug. I've filed a new issue to draw attention to the specific details about the bug. https://github.com/yarnpkg/yarn/issues/3728

[2017-06-26 14:06] markstos commented on #1194
#3454 only "fixed" this issue for the OS X case, this issue should remain open because the issue was not addressed on other platforms.

[2017-06-26 14:41] jharris4 commented on #3728
Actually, just discovered that it seems to be specific to the `uws` package. Moving from optional dependencies to regular dependencies still causes the lock file to not be created.

[2017-06-26 14:41] rodrigoBerlochi commented on #2504
I see also the same issue after installing Yarn  v0.24.6
Node v6.9.0
'yarn' is not recognized as internal or external  command :(
I used the msi installer for Windows.

[2017-06-26 14:56] jaygorrell opened #3730 "Latest tag is missing release versions (v0.26.0)"
We have builds scripts that pull the `latest` release .tar.gz but this started failing when v0.26.0 was promoted to latest with only an msi available. Any idea what happened here? I see that the new pre-releases have the .tar.gz files back so it seems only this version is missing them.

![screen shot 2017-06-26 at 10 51 52 am](https://user-images.githubusercontent.com/12174604/27545480-edcecad2-5a

[2017-06-26 15:50] jcrowe206 commented on #3708
@SDhalor I had this issue as well. Running it with `sudo` fixed it for me

[2017-06-26 16:16] jharris4 commented on #3728
`npm install -g node-gyp` fixes the issue. It seems that with Node 7, node-gyp was bundled with Node. But with Node 8 it is not...

[2017-06-26 16:16] jharris4 commented on #3555
`npm install -g node-gyp` seems to resolve this issue with Node 8.

[2017-06-26 16:50] domoritz commented on #3728
Can confirm. This fixes the issue for me.

[2017-06-26 17:54] bestander commented on #3718
Yeah, warnings suck if you see them a lot.
You can opt out with `disable-self-update-check` setting.

Curious to see more discussion here.

[2017-06-26 17:57] bestander commented on #3724
The bug should be somewhere in package-linker.js, PR is welcome

[2017-06-26 17:57] bestander commented on #3725
Try other methods of installing Yarn https://yarnpkg.com/en/docs/install#linux-tab

[2017-06-26 17:57] #3725 closed

[2017-06-26 18:00] bestander commented on #3726
Does it proceed with installation after that?
fsevents is a Mac-only dependency, if it is not marked as optional then you can't install the dependency on a Windows machine.

A way around is to use `--ignore-engines` flag IIRC.

[2017-06-26 18:01] bestander commented on #3727
We are going away from shorthand commands.
Should be list everywhere

[2017-06-26 18:01] #3727 closed

[2017-06-26 18:02] XaserAcheron commented on #3042
+1 for changing the help text to `npm install -g yarn`. Some thoughts on why:

Though this indeed is technically an npm bug, the relevant GitHub issue ( https://github.com/npm/npm/issues/11534 ) has fallen victim to their new [auto-close policy](http://blog.npmjs.org/post/161832149430/npm-the-npm-github-issue-tracker-and-you). Even if this was sneakily fixed at some point anyway, yarn users are no

[2017-06-26 18:05] bestander commented on #3730
Thanks for reporting, I marked 0.26.0 as pre-release.

Looks like 0.26.0 was unsuccessful and it was fixed in 0.26.1.
We decided to fix a bunch of bugs and are going to make 0.27.1 as next stable.

[2017-06-26 18:05] #3730 closed

[2017-06-26 18:06] bestander commented on #3722
That is embarrassing :)
Thanks, sending a PR

[2017-06-26 18:29] bestander commented on #3720
@sheerun wanted to address a similar issue https://github.com/yarnpkg/yarn/pull/3624#issuecomment-310521753

[2017-06-26 18:31] bestander commented on #3720
The feature of yarn.lock is that it guarantees repeatable builds.
I think yarn.lock should "freeze" the branch/tag to a specific commit when the lockfile is generated.

[2017-06-26 18:36] bestander commented on #3317
sorry, not a pro here, hoping someone could help us here :)

[2017-06-26 18:38] bestander commented on #2457
That is why we should pressure package owners not to call package manager from within a package manager installation, in most cases Yarn/npm is used as curl there.

[2017-06-26 18:43] adamreisnz commented on #3718
Well removing it altogether is an option, but I think a warning can a good thing, provided it's actually warning you about something meaningful. Being one or two patch or even minor versions behind is not that big of a deal imo, unless one of them contains a critical/urgent fix. So maybe the version differences combined with some urgency flag could dictate when/how often warnings do show up.

[2017-06-26 18:44] adamreisnz commented on #3042
Is there a particular reason by the way why we can't use yarn to upgrade yarn?

[2017-06-26 18:45] madilks opened #3732 "`yarn install` fails on local .tgz dependencies."
Currently, when `yarn install` is run in a directory with a package.json that has a dependency on a local .tgz file, it fails to install. Instead of using the local file, it tries to get a remote version from registry.yarnpkg.com, even though one may not exist. Yarn should use the local .tgz file instead.

I was able to reproduce this bug with the following steps:

1. Create a new directory.
2. Cr

[2017-06-26 18:55] bestander commented on #3718
From Yarn point of view we want everyone to be on the latest version, this is easier to triage bugs.
From developers point of view they want to be annoyed less and need to have meaningful and actionable warnings.

Can we make the warning less annoying while keeping people up to date?
The good thing is that this check only happens once a day.

Not sure if patch warnings should be a less priority th

[2017-06-26 18:59] adamreisnz commented on #3718
Fair enough, I understand the point of view from Yarn. Less annoying warnings (e.g. greyed out text) would help, with it turning yellow when you're behind a fair bit.

Maybe another crazy idea, but how far fetched would it be to have an opt-in auto update under the hood? Nearly every app and their dog out there are doing it, so why not look into that option?

[2017-06-26 19:08] bestander commented on #3718
We had it actually :)
One of the problems is that there are 10 ways to install Yarn across all OS, package managers etc and some of the require sudo permission.
When Yarn had autoupdater it would install another version of Yarn into a folder inside previous Yarn installation, this avoided the need to check for a permission.
But in the end it created a huge confusion regarding what is the current v

[2017-06-26 19:11] adamreisnz opened #3733 "Caching on OS X"
This is more of an enquiry, as I noticed yesterday when going through my disk usage that Yarn was taking up a fair bit of space for it's cache. This is not a problem in itself, but what I found odd is that there were seemingly two cache locations, so I was wondering if Yarn is using both, or if one of them is a legacy location that hasn't been cleaned up.

I found cache files both in my user direc

[2017-06-26 19:21] sakivks commented on #3727
That was the issue
shorthand(ls) works but list doesn't work in global
![screen shot 2017-06-27 at 12 49 40 am](https://user-images.githubusercontent.com/9475630/27556336-cac9d368-5ad2-11e7-84e9-c7f10c617bd0.png)

[2017-06-26 19:27] pgnd commented on #3485
with latest

[code]

adding latest node-gyp

[code]

initial node-sass install is OK

[code]

as is upgrade, tho it takes quite awhile 'Rebuilding all packages',

[code]

I haven't yet been able to cause another similar node-sass related fail ... so far (fingers crossed)

[2017-06-26 19:33] bestander commented on #3727
This should be fixed in 0.26 https://github.com/yarnpkg/yarn/pull/3308

[2017-06-26 19:34] bestander commented on #2354
Should be fixed https://github.com/yarnpkg/yarn/pull/3308

[2017-06-26 19:34] #2354 closed

[2017-06-26 19:38] bestander commented on #2633
Can repro in 0.27.0

[2017-06-26 19:40] #3722 closed

[2017-06-26 20:41] Daniel15 commented on #3696
For what it's worth, I think this would be a useful feature.

I registered a short domain for these - https://yarn.fyi/ will redirect (eg. https://yarn.fyi/react)

[2017-06-26 21:40] #2734 closed

[2017-06-26 21:49] skube commented on #1139
Interestingly, on another machine I was able to...
[code]
So I did
[code]

[2017-06-26 22:08] ouranos commented on #3720
Thanks @bestander.

In this case, we'd still freeze the branch to its current commit.
When doing `yarn upgrade`, it'd update to the new commit (if it has changed).
The problem is that it currently resolves `#1.1` as a tag/version instead of a branch.

[2017-06-26 22:17] bestander commented on #3720
I see, there is still confusion, I think we need to have more fields tracking git dependencies: branch, tag, commit hash, tarball hash (if using offline mirror).

Regarding this bug, help from community members is welcome

[2017-06-26 22:45] bestander commented on #3733
I think ~/.yarn-cache is from an older version.
I guess it would not hurt if cache clean would clean all known cache locations.

[2017-06-26 22:47] bestander commented on #3732
This just got fixed yesterday https://github.com/yarnpkg/yarn/pull/3709.
Meanwhile try `file:./lib/abus-0.3.1.tgz`

[2017-06-26 22:47] #3732 closed

[2017-06-26 22:49] bestander commented on #2786
This got fixed in 0.27 https://github.com/yarnpkg/yarn/pull/3646

[2017-06-26 22:49] #2786 closed

[2017-06-26 22:50] bestander commented on #2368
We have --silent now

[2017-06-26 22:50] #2368 closed

[2017-06-26 23:00] madilks commented on #3732
Thanks for the fix. As you suggested, I pre-pended the .tgz path with "./" and it successfully found the file locally.

[2017-06-26 23:16] sirlancelot commented on #2615
Neither `--no-optional` nor `--ignore-optional` seem to work for me. I have an app with a dependency of `linkifyjs@2.1.4`. LinkifyJs has 3 large `optionalDependencies` which I don't want but Yarn will still install them.

[2017-06-27 00:55] Rowno commented on #3177
Looks like the documentation is incorrect, the code is using [`version-sign-git-tag`](https://github.com/yarnpkg/yarn/blob/v0.27.0/src/cli/commands/version.js#L145).

[2017-06-27 04:13] Daniel15 commented on #3730
@jaygorrell - If you want the latest version, please pull `https://yarnpkg.com/latest.tar.gz` in your scripts, rather than relying on the GitHub releases :)

[2017-06-27 05:19] lopopolo commented on #3384
bundler uses `--strict` for `--SOMETHING`

[2017-06-27 06:34] SDhalor commented on #3725
This is exactly what i followed. I even tried npm install but nothing helps

[2017-06-27 06:38] SDhalor commented on #3708
Thank you but it did not work for me

[2017-06-27 06:41] bestander commented on #3725
Please copy the logs of installation from your console here

[2017-06-27 07:40] kavi87 commented on #2333
It works without the pruning option, see #3154

[2017-06-27 09:01] Volune commented on #3720
Is there any documentation or specification about the algorithms in [`src/util/git.js`](https://github.com/yarnpkg/yarn/blob/master/src/util/git.js)?
The algorithm that resolves the commit hash from the git url is there, and seems to be confusing. And it was already there in the "first commit", so the git history is not helping.

If I understand well, the _git-url-hash_, if not a _commit-hash_, is

[2017-06-27 09:08] jhabdas commented on #3644
Please god make Composer go away.

[2017-06-27 09:13] crucialfelix commented on #3042
I've installed yarn with brew now (OS X). Then it is available with any version of node I have active (I use nvm). Otherwise you have to install yarn in each node version global.

[code]

[2017-06-27 09:16] adamreisnz commented on #3042
I use n instead of nvm and never have had to reinstall it globally for a
new version of Node (OS X too).

On Tue, Jun 27, 2017, 21:13 Chris Sattinger <notifications@github.com>
wrote:

[2017-06-27 09:47] #3490 closed

[2017-06-27 10:37] dmr commented on #3041
@dheerajbhaskar did you solve the problem? Same issue here...

[2017-06-27 13:10] gergelyke opened #3736 "Yarn add fails with scoped packages"
### Steps to reproduce

[code]

It fails with:

[code]

### Test environment

Node.js 8.1.2
Yarn 0.24.5
OSX Sierra

[2017-06-27 14:03] evancarter-iex opened #3737 "Yarn does not install dependencies correctly for package"
**Do you want to request a *feature* or report a *bug*?**

Bug Report

**What is the current behavior?**

Yarn does not handle the dependencies for the Jade package properly.  It does not install "uglify-js" despite it clearly being listed in the dependencies section of the package.json.

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/pugjs/pug/tre

[2017-06-27 14:07] gaearon opened #3738 "Don't warn about incompatible optional dependencies"
Currently Yarn behavior matches npm in that it warns about optional dependencies that are incompatible (and thus skipped). `fsevents` on Windows is a good example of this.

Since the warning is almost never actionable, and looks a bit frightening to beginners, I propose that we downgrade its log level. I'm not sure if Yarn even has a concept of log levels, but I wouldn't want to see this warning u

[2017-06-27 14:19] aj0strow commented on #756
It would be sweet to upgrade node versions, then run `$ yarn rebuild` or simply `$ yarn` and have native extensions rebuild.

[2017-06-27 14:41] jedwards1211 commented on #756
@aj0strow yeah no kidding :)

[2017-06-27 14:51] williamboman commented on #756
How would yarn know which Node runtime version a dependency tree has been installed & built with?

[2017-06-27 15:20] mrG0bliN commented on #3726
what about optionalDependencies?

[2017-06-27 15:41] marvinhagemeister commented on #3041
Just tried it on my machine and it installs fine with the `package.json` posted above

OS: MacOS Sierra
node `8.1.2`
yarn `0.24.6`

[2017-06-27 17:26] bestander commented on #3720
@Volune, there is no documentation, the code evolved trying to satisfy the use cases that Yarn faced, we call this "self documenting code" :)
The git resolution logic is covered with some tests here https://github.com/yarnpkg/yarn/blob/master/__tests__/package-resolver.js.

Feel free to explore this code, we can afford making a breaking change here if it is justified.

[2017-06-27 17:28] bestander commented on #3720
So what priority of these references would you set up:

(none) master => #tag => #branch => #git-hash?
That is at resolution time.

What  hash should go to the lockfile?

[2017-06-27 17:38] bestander commented on #3726
Yes, fsevents should be an optional dependency

[2017-06-28 01:28] ouranos commented on #3720
I think we should still keep the git sha1 in the lockfile. This way we keep the deterministic property when using branches.
If matching on tags, we could use the full tag as it's supposed to be an immutable reference.

For the resolution priority, I'd suggest as @Volune:
`(none) master => commit-hash => tag/branch (exact match) => SemVer`

[2017-06-28 01:43] shankarshastri commented on #2989
@bestander, This feature is so important to migrate from npm to yarn. But yarn doesnt support it still? Can you tell in which yarn version will it available?

[2017-06-28 01:54] bestander commented on #2989
@shankarshastri, this is a community project and this feature will be available right after you submit a PR for this feature.

[2017-06-28 02:48] Volune commented on #3720
I tested a little on NPM5, it doesn't seem to use the "SemVer" algorithm on tags.

I think we should always keep the git sha1 in the lockfile (or the tarball hash, I saw another discussion about that). The tag is only _supposed_ to be immutable, it can still be messed with. In my opinion, using sometimes the sha1 sometimes the full tag would be both more complex and less secure.

Also I've seen so

[2017-06-28 02:59] bestander commented on #3720
Sounds good, @Volune.
When the PR is coming? :)
Any idea how to cover it with tests so that we don't regress?

[2017-06-28 04:15] Daniel15 commented on #3726
Yes, this is not a Yarn bug. You're specifying `fsevents` as a `devDependency`,  but `fsevents` doesn't work on Windows. You'll need to make it an optional dependency, otherwise you'll be unable to `yarn install` on Windows.

[2017-06-28 04:15] #3726 closed

[2017-06-28 04:16] Daniel15 commented on #3622
`babel-helpers.js` doesn't look like a valid package name. I think you're looking for `babel-helpers` without the `.js`.

[2017-06-28 06:05] dheerajbhaskar commented on #3041
@marvinhagemeister this is am issue on windows.

@dmr nope, just using npm for now. Was too much trouble using yarn. Also npm now has lock file feature now and is faster than before I think

[2017-06-28 06:51] jhabdas commented on #3622
@Daniel15 good eyes sir. good eyes <<

[2017-06-28 06:55] jhabdas commented on #3736
https://github.com/RisingStack/trace-nodejs/issues/144

[2017-06-28 07:09] jhabdas commented on #3736
Simplifying the problem, `yarn add node-pre-gyp` results in the dependency coming down without a `package.json` file and an unexpected, empty `node_modules` directory inside the installed package.

[2017-06-28 07:12] jhabdas commented on #3736
@gergelyke Thanks for open issues and cross-linking them. I'm seeing lots of upvotes already on the `trace` package. Have you been able to do any additional debugging?

**Note to triage:** Issue replicated under `yarn@0.27.0` as well.

[2017-06-28 07:18] jhabdas commented on #3737
Under `0.27.0` ran `yarn add jade --production` and had no issues installing package.

[2017-06-28 07:21] jhabdas commented on #3738
Seems like an appropriate use of warn to me.

[2017-06-28 07:46] RunningV commented on #1491
check `yarn global bin` on CLI, then copy the path to add the global environment path.

[2017-06-28 07:47] dmr commented on #3041
My problem was solved by removing node_modules, uninstalling node, reinstalling everything.

[2017-06-28 08:02] dheerajbhaskar commented on #3041
Thanks for the update @dmr

I think I'm going to sit this one out. This way too many hoops to be worth it. I can just do `npm install`and be done with it.

I've reported the bug because I care for the project

[2017-06-28 08:24] jardakotesovec opened #3740 "Bug? Symlinks to all workspaces are created in root node_modules"
If I understand the [rfc](https://github.com/yarnpkg/rfcs/blob/master/accepted/0000-workspaces-link-phase-3.md) correctly, it seems to me that the symlinks should be created only if there are some cross references between workspaces in package.json's, which is also behavior I would expect.

But I don't have any such cross references and it still creates symlinks in node_modules for all workspaces:

[2017-06-28 09:50] xp6530 opened #3741 "Cannot find module 'rx'"
![image](https://user-images.githubusercontent.com/18676317/27631114-0a3b93e4-5c2a-11e7-95d9-9491d304e3d1.png)
node v7.5.0
npm 4.1.2

[2017-06-28 10:15] #3741 closed

[2017-06-28 11:04] qknight commented on #617
can someone point out alternatives then? or should one still stick to `bower` at the time being?

[2017-06-28 11:35] graingert commented on #617
`yarn install --flat` or yarn with webpack

On 28 Jun 2017 12:05 pm, "Joachim Schiele" <notifications@github.com> wrote:

[2017-06-28 11:46] ds300 commented on #1658
Bash scares the hell out of me so I also made a script to automate this, but in javascript: https://gist.github.com/ds300/158250f230d1825af8a3edd6e7af9cc0

[2017-06-28 11:48] BYK opened #3742 "Git does not have access to regular environment variables when cloning"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Git fails to connect to repos behind a proxy since certain environment variables are not passed to it when making the call. Internal reference: t19705486.

**If the current behavior is a bug, please provide the steps to reproduce.**

Block git access without a proxy and then try to use the proxy. Norm

[2017-06-28 13:16] artf commented on #3600
I think I got the same error, here is the interested part
[code]
Using this config
[code]

[2017-06-28 13:24] aschrijver opened #3744 "Error starting packager: Any reason for npm v5.0.3 not supported?"
Just after clean install of Yarn and on `yarn start` I get the following error:
[code]

Is this intentional and should I downgrade `npm`, or is this a project dependency that can be updated?

Node: v8.1.2
Yarn: v0.24.6
OS: Ubuntu 16.04.1 LTS

[2017-06-28 13:34] rally25rs commented on #3744
There is an open issue for this over here: https://github.com/react-community/create-react-native-app/issues/275

I suspect some dependency up the chain requires that version of NPM.

[2017-06-28 13:38] #3742 closed

[2017-06-28 14:03] wtgtybhertgeghgtwtg commented on #3738
Wouldn't it be better to fix the thing that is giving the warning instead of just hiding it?

[2017-06-28 14:09] dschep opened #3746 "Yum repos and GPG keys not available"
**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**
https://dl.yarnpkg.com/rpm/yarn.repo
and
https://dl.yarnpkg.com/rpm/pubkey.gpg

are intermittently returning 503 errors now, making yarn imposible to use in CI builds & deploys.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**
20

[2017-06-28 14:15] dschep commented on #3746
Well, it works now. But maybe there should be a status.yarnpkg.org since yarn also provides a lot of infrastructure, not just a local piece of software.

[2017-06-28 14:18] gaearon commented on #3738
@wtgtybhertgeghgtwtg

What do you mean by "fix"? As explained in https://github.com/npm/npm/issues/11632, everything is working as intended. Some packages depend on `fsevents` specifically on macOS (because it offers superior experience) but fall back to other behavior on Windows/Linux. The fact that `fsevents` is incompatible with Windows should not be surfaced to the users: it's just a platform-

[2017-06-28 14:35] aj0strow commented on #756
@williamboman put it at the top of `yarn.lock`.

[code]

[2017-06-28 14:39] wtgtybhertgeghgtwtg commented on #3738
I would say that requiring a dependency and adding binaries for a specific OS should not be how it works.
I'm sure that there are other packages that make this issue pop up, but `fsevents` is the most predominate one, getting issues in `babel`, `webpack`, your `create-react-app`, and I sure very soon `sane` and `jest`.  I think that it would be more productive to find a better file watching soluti

[2017-06-28 14:39] williamboman commented on #756
How would it know when a dependency requires a rebuild? I don't think a diff on the major version number of the Node runtime necessarily requires a rebuild. Also, would that require every developer installing dependencies to run the exact same Node version?

[2017-06-28 14:56] eventualbuddha commented on #3600
@artf yep, that's what I saw. Thanks for capturing it!

[2017-06-28 15:04] gaearon commented on #3738
If you have an alternative suggestion about what packages using `fsevents` (or `fsevents` itself) could do, I'd like to hear that! I don't think there's anything "wrong" about having a package that's OS-specific though. It solves a real problem, and some problems are platform specific.

[2017-06-28 15:42] mirague commented on #1981
I still see this on Heroku today after making the move from `npm` to `yarn`.

[2017-06-28 15:43] aj0strow commented on #756
@williamboman on a team of just me. You're right it doesn't belong in `yarn.lock`.

How often do you update node? I do maybe 2-3 times a year. Considering how infrequent, auto detecting likely has diminishing returns. `yarn rebuild` that rebuilds everything is probably the way to go.

If detecting is important, it would be ideal to introspect the binaries instead of writing a node version file (ha

[2017-06-28 16:38] cramhead commented on #3678
I installed it manually, `yarn global add node-pre-gyp` and it installed fine. I did have the error though

[2017-06-28 17:09] fugufish commented on #1297
it does not seem to to work on latest prerelease

[2017-06-28 17:20] AlicanC opened #3747 "Test fixtures are huge"
The `__tests__/fixtures/` is around 80MB. The files which take most of the space are the `.tgz.bin` files which I assume are regenerable.

(If you also agree that this is a problem, then) a solution to this could be adding a `pretest` script to download these files.

[2017-06-28 17:50] bukzor opened #3748 "a stable release?"
Currently yarn has six pre-release versions spanning three minor bumps.

 * v0.27.1 -- pre-release -- a day ago
 * v0.27.0 -- pre-release -- 5 days ago
 * v0.26.1 -- pre-release -- 21 days ago
 * v0.26.0 -- pre-release -- 22 days ago
 * v0.25.4 -- pre-release -- 27 days ago
 * v0.25.3 -- pre-release -- 32 days ago
 * v0.24.6 -- latest stable -- 36 days ago

Are these all *intended* to not be avail

[2017-06-28 17:54] jharris4 commented on #3728
It appears that yarn is supposed to be adding `node-gyp` as a dependency, but it's just not working properly: https://github.com/yarnpkg/yarn/blob/23dd84b4ba2e7aff585cadf98b41edad0c925cfe/src/util/execute-lifecycle-script.js#L245

[2017-06-28 17:56] bukzor commented on #3748
These are stable releases as far as the yarn debian repository is concerned:
https://github.com/yarnpkg/releases/tree/gh-pages/debian/pool/main/y/yarn

So either the git releases are wrong or the debian packaging is.

[2017-06-28 18:17] mgol commented on #756
@williamboman

This is a solved problem; `npm` & `node-gyp` already know that, no need to reinvent the wheel. On the C side there's `NODE_MODULE_VERSION` and on the JS side there's `process.versions.modules`.

@aj0strow

I update Node wherever a new minor/patch release comes out. Sometimes twice in a week. Different people have different needs, rebuilds should happen only when `NODE_MODULE_VERSION

[2017-06-28 18:38] mridgway commented on #3748
The tag for yarn in the npm registry is `rc`, not `pre-release`: `yarn add yarn@rc`.

[2017-06-28 20:20] bukzor commented on #3748
@mridgway: `yarn add yarn@rc` gives the same behavior as `yarn add yarn@nonsense`; it brings up a list of versions for me to choose among.

[2017-06-28 20:56] #3677 closed

[2017-06-28 21:07] aij commented on #3689
#3269 already fixed this, didn't it?

[2017-06-28 21:15] #2098 closed

[2017-06-28 21:25] lvlirko commented on #743
Git Bash error ..
[code]
`$ git --version 2.13.1.windows.2`

-----

Good thing is, Windows PowerShell works without errors.

[2017-06-28 21:40] bestander commented on #3748
thanks

[2017-06-28 21:44] bestander commented on #3748
Thanks for raising, @bukzor.
Between 0.24.6 and 0.27.1 we have seen a few regressions that made us a bit cautious and not to promote them to stable yet.
Just give us 1-2 days to fix the last couple of regressions and make a 0.27.x stable release

[2017-06-28 21:44] #3748 closed

[2017-06-28 21:47] bestander commented on #3747
Yeah, they are.
The solution is between repo size and convenience, having everything in one repo makes it easy to check in the cache and also easy to see when a new file needs to be committed.
However this setup does not scale very much.

Feel free to suggest and implement something that would be both convenient and scalable.

[2017-06-28 21:48] bestander commented on #3746
cc @Daniel15, the master of GPG keys and stat pages

[2017-06-28 21:49] #3744 closed

[2017-06-28 21:50] Daniel15 commented on #3746
Hmm that's strange. It's likely that either GitHub Pages or CloudFlare were encountering issues. If you do see 503 errors again, it would be good to get the exact text of the error so we can report it to our providers.

We do have https://status.yarnpkg.com/, however there are no known issues at the moment.

[2017-06-28 21:50] Daniel15 commented on #3746
Wait, why are you using the RPM repo on Ubuntu?

[2017-06-28 21:52] Daniel15 commented on #3747
Could we could put them in a separate repo and include them as a submodule? It would avoid bloating out this repo.

Alternatively, why do we need 80 MB of fixtures? Could we have fewer test fixtures?

[2017-06-28 21:52] bestander commented on #3740
This is an implementation detail.
All dependencies are automatically hoisted to the workspace root's node_modules unless there is a dependency name conflict at the root.

From Node.js resolution logic this works fine because it automatically searches for a `require` resolution in the parent folder and it would find it at the root.

I think we could make the links unhoistable but I could not come u

[2017-06-28 21:54] bestander commented on #3740
I'll close the issue for now because it is not actionable but happy to answer more questions and solutions

[2017-06-28 21:54] #3740 closed

[2017-06-28 21:56] Daniel15 opened #3750 "Commit messages in releases repo has incorrect version number for RC releases"
https://github.com/yarnpkg/releases/commits/gh-pages

There's a bunch of "Automated upgrade to Yarn 0.24.6" commits. In fact, only one of these is 0.24.6, all the others are newer RC versions

The issue is that `update-and-push.sh` always includes the latest **stable** version number in the commit message, even when an RC is being added: https://github.com/yarnpkg/releases/blob/gh-pages/update-and

[2017-06-28 22:00] bestander commented on #3738
Looks like opinions are split.
I suppose warning on a non actionable thing could be annoying.
On the other hand similar warnings, e.g. "this module does not work on Node.js < 4", are quite useful.
Is there a settings people can turn on to disable warnings?

[2017-06-28 22:03] bestander commented on #3747
I suppose it could be a middle ground.
However submodules are fun at first but people tend to hit edge cases where working with them is annoying. I don't think we can just "plug in" a submodule and be happy.

Yes but it would take developers time to extract very specific and describe it in a shallow copy.
It is cheaper to pay extra cost via infra, at this scale.

[2017-06-28 22:11] bestander commented on #3736
Is it because `event-loop-stats` has a bundledDependency without a package.json?

[2017-06-28 22:12] bestander commented on #3736
Can repro this with
[code]

[2017-06-28 22:14] bestander commented on #1910
merging with https://github.com/yarnpkg/yarn/issues/886

[2017-06-28 22:14] #1910 closed

[2017-06-28 22:15] bestander commented on #3289
Yes, this is expected behavior, Yarn owns node_modules folder and cleans it up during installation.
However you can refer projects locally via `file:` and `link:` specifiers

[2017-06-28 22:15] #3289 closed

[2017-06-28 22:16] bestander commented on #3736
Merging into https://github.com/yarnpkg/yarn/issues/886

[2017-06-28 22:16] #3736 closed

[2017-06-28 22:16] albertbuchard commented on #1045
same problem on 0.24.5

[2017-06-28 22:16] bestander commented on #886
Raising pri.
We should fix it before 1.0

[2017-06-28 22:19] bestander commented on #3737
Yep, can't repro either.

[2017-06-28 22:19] #3737 closed

[2017-06-29 01:42] dschep commented on #3746
doh. sorry that was from my box but the error was in CI which is running amazon linux, a rh derivative

[2017-06-29 05:04] bestander commented on #3707
Thanks for reporting but it is not clear how to reproduce the issue.
Please describe the steps how to get the error.
I'll close the issue for now as I can't act on it.

[2017-06-29 05:04] #3707 closed

[2017-06-29 05:09] bestander commented on #3277
Is it still an issue?

[2017-06-29 05:12] bestander commented on #3264
I think people were fixing it via .yarnrc settigns same as npmrc

[2017-06-29 05:12] bestander commented on #3262
It is probably a one-off network issue

[2017-06-29 05:12] #3262 closed

[2017-06-29 05:14] bestander commented on #3259
We don't expect npm commands to work with yarn installation and vice versa

[2017-06-29 05:14] #3259 closed

[2017-06-29 05:16] bestander commented on #3252
Yarn would update yarn.lock if there were changes to package.json, for example.

[2017-06-29 05:16] #3252 closed

[2017-06-29 05:18] bestander commented on #3082
Yarn may try to optimize the dependency list and sometimes will not force updating subdepdendencies.
These RFC could be interesting https://github.com/yarnpkg/rfcs/pull/71 https://github.com/yarnpkg/rfcs/pull/54

[2017-06-29 05:18] #3082 closed

[2017-06-29 05:24] bestander commented on #3230
Yeah, afaik there is no way to ignore only script of top level package.

[2017-06-29 05:26] bestander commented on #3227
could be an issue at the gate, probably a one-off thing

[2017-06-29 05:26] #3227 closed

[2017-06-29 05:32] #3225 closed

[2017-06-29 05:34] #3212 closed

[2017-06-29 05:35] bestander commented on #3204
Merging into https://github.com/yarnpkg/yarn/issues/3603

[2017-06-29 05:35] #3204 closed

[2017-06-29 05:37] bestander commented on #3203
We just landed this PR #3735 (will be in 0.28).
Can anyone check if it works?

[2017-06-29 05:44] bestander opened #3751 "bundledDependencies are not handled properly causing issues and warnings"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
[code]
[code]

Check introduced in #3712

Another example
[code]

[2017-06-29 05:44] m0k1 commented on #617
https://medium.com/@andrejsabrickis/bye-bye-bower-or-how-to-migrate-from-bower-to-npm-and-webpack-4eb2e1121a50

Meybe this post can help you about migrating from bower ...

[2017-06-29 05:45] bestander commented on #3751
Scheduled to be released in 0.28 - either revert the check or find out why a folder is copied twice

[2017-06-29 05:46] bestander commented on #3200
Nice idea, send a PR

[2017-06-29 05:47] bestander commented on #3200
similar to https://github.com/yarnpkg/yarn/pull/3734

[2017-06-29 05:47] bestander commented on #3200
cc @helloandre do you want to do this one too? :)

[2017-06-29 05:50] bestander commented on #3202
Can repro on 0.27.

[2017-06-29 05:51] amcgee commented on #3200
@helloandre if you want to tackle this be my guest, otherwise I'm happy to take a stab at it.

[2017-06-29 05:52] bestander commented on #3197
Should be implemented via https://github.com/yarnpkg/rfcs/pull/70

[2017-06-29 05:52] #3197 closed

[2017-06-29 05:53] bestander commented on #3186
This should be fixed in > 0.26

[2017-06-29 05:53] #3186 closed

[2017-06-29 05:57] bestander commented on #3200
The rules of dibs work here, don't wait, @amcgee, send a PR :)

[2017-06-29 05:59] bestander commented on #3187
Yes, this was fixed now.
Afaik it creates a new entry in cache every time you install a file: dependency.
Alternatively you can use `link:` specifier that creates symlinks instead of copying files

[2017-06-29 05:59] #3187 closed

[2017-06-29 06:13] whitecolor commented on #3187
Oh I didn't know `link:` is implemented. This is good this https://github.com/npm/npm/pull/15900 caused a lot of undesirible behaviour with npm 5 that decided to treat `file:` as symlinks.

[2017-06-29 06:38] jardakotesovec commented on #3740
@bestander My point is why it should create these symlinks there at all, since I don't have explicit dependencies between the workspaces.

I thought from the rfc that it creates symlinks only if there are actual dependencies between workspaces (defined in individual workspace package.json's).

[2017-06-29 06:56] bestander commented on #3740
The reason is because it was a lot easier to implement it like this :)
So I have allowed myself to not follow that part of the RFC and do a shortcut.

So far it proves to be working fine like that and Node.js applications work fine by resolving requires to sibling workspaces via the parent's node_modules.
In the end we could update the RFC or fix this aspect in the implementation depending on peop

[2017-06-29 07:00] bestander commented on #2558
Discussion is here https://github.com/yarnpkg/rfcs/pull/54

[2017-06-29 07:00] #2558 closed

[2017-06-29 07:03] bestander commented on #3183
What would you achieve by that?
Seems like you'll get a partial node_modules and your application would likely not work

[2017-06-29 07:34] #3689 closed

[2017-06-29 07:42] d4rky-pl commented on #1981
This issue has got even worse since I think v0.24.6, now it ruins node-sass every time I add a new library to the project. This is happening to me and other people in my team on different projects. I will try to find some time to investigate or at least create a reproducible example.

[2017-06-29 07:44] bestander commented on #1981
Thanks, Michal.

A repro step is very important.
Considering the number of comments in this issue please raise a new issue
with the repro steps and ping me, we'll sort it out

On 29 June 2017 at 00:42, Michał Matyas <notifications@github.com> wrote:

[2017-06-29 07:45] patrickmarabeas commented on #3313
Is there a reason why `--frozen-lockfile` fails, rather than warning on version conflicts?

[2017-06-29 08:08] d4rky-pl opened #3752 "Yarn removes compiled libraries if "Linking dependencies" was interrupted by user"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If I stop yarn during `Linking dependencies` (via ^C, for example because I made a mistake and wanted to stop and add `--dev`) then when installing any new package, compiled files in unrelated packages are removed and not recompiled properly.

**If the current behavior is a bug, please provide the step

[2017-06-29 08:10] d4rky-pl commented on #1981
@bestander apologizes, seems that the bug I found is a mixture of Yarn bug and user behaviour and it might be completely unrelated to this issue. I have created a separate issue - #3752 - but since it's necessary for the user to make a mistake first, I'd say it's definitely lower priority than I initially suspected :)

[2017-06-29 08:55] nextlevelshit commented on #1139
@octopitus In my case I had to add permissions with `sudo yarn add global yarn`.

[2017-06-29 12:56] cpojer opened #3754 "Remove "yarn <command> <version>" and "Done in X" by default."
I believe there is little value in printing both of these lines by default, for every single Yarn command.

Could we hide them behind a `--verbose` flag?

[2017-06-29 14:02] chrisdukey commented on #3203
I've just built from master and it's fixed the problem for me. Thanks!

[2017-06-29 14:20] jhabdas commented on #3738
@gaearon given this is an open source repo, how about a PR to add a CLI flag to suppress by log level. It would be very incorrect to paper over a downstream issue in the packages you're referencing whether it be a superior computer or just a $35 RPi which can do most of the same stuff.

[2017-06-29 14:26] betalb opened #3755 "Yarn tries to authenticate against registry.yarnpkg.com instead of private registry during publish"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
We have scoped package that should be published to private npm registry, served by internally hosted Nexus (http://nexus.dev/repository/npm-releases)

When we try to publish them, log indicates that yarn is trying to authenticate against _registry.yarnpkg.com_ instead of our hosted Nexus registry

[cod

[2017-06-29 14:28] gaearon commented on #3738
@jhabdas

I would have loved to send a PR but, like @bestander, I also work full time on maintaining other open source projects, and unfortunately don’t have the time to work on this particular feature. I raised an issue to discuss whether it is desirable or not.

I don’t understand this comment. I am not suggesting to “paper over a downstream issue”. **`fsevents` is not doing anything wrong.** It

[2017-06-29 14:40] benhunt29 commented on #3277
nope, fixed. Thanks!

[2017-06-29 14:43] #3203 closed

[2017-06-29 14:46] pgnd commented on #3061
similarly, with a number of git deps,

[code]

'rebuild' occurs on every repetition.

[2017-06-29 15:10] ctumolosus commented on #2042
I also wanted `yarn upgrade` to update `package.json` for the same reasons as everyone else, but there is also something important for me that command provides: it upgrades all dependencies within their respective semver range. It doesn't seem like there is an option or command available to do this when running `yarn upgrade <package>` or `yarn upgrade-interactive`. At times, I want to avoid intro

[2017-06-29 16:11] cpojer opened #3757 "Upgrade to Jest 20"

[2017-06-29 16:16] cpojer opened #3758 "Cleanup release artifacts from having dist folder"

[2017-06-29 16:18] cpojer commented on #3455
@BYK this is resolved, right? https://github.com/yarnpkg/yarn/pull/3667

[2017-06-29 16:19] #3371 closed

[2017-06-29 16:41] BYK commented on #3455
Yup. Closing for now.

[2017-06-29 16:41] #3455 closed

[2017-06-29 16:52] glen-84 commented on #3738
... but that's actionable – you can upgrade your version of Node.js.

[2017-06-29 17:04] aracarie commented on #3306
I'm actually having this issue for regular packages too - Yarn 0.24.6 / Node.js v6.10.3.

I can work on this if you'd like?

[2017-06-29 17:16] bchoddny commented on #2717
Getting the same error.
verbose 5.4 Performing "PUT" request to <url>.
verbose 5.641 Request <url> finished with status code 502.
verbose 5.644 Error: Couldn't publish package.
    at MessageError (/Users/testuser/.nvm/versions/node/v6.9.4/lib/node_modules/yarn/lib/errors.js:8:5)
    at /Users/testuser/.nvm/versions/node/v6.9.4/lib/node_modules/yarn/lib/cli/commands/publish.js:96:13
    at next (n

[2017-06-29 17:26] arcanis commented on #3489
Should be fixed in 0.27.2 👍

[2017-06-29 17:26] #3489 closed

[2017-06-29 17:27] arcanis commented on #3363
Should be fixed in 0.27.2 👍

[2017-06-29 17:27] #3363 closed

[2017-06-29 18:16] nynexman4464 commented on #1625
Keep running into this setting up new devs.  Deleting `yarn.lock` is not a good solution as it defeats the purpose of having the file in the same place (eg everyone installs the same versions of dependencies).  It also is only temporary - once the yarn.lock is generated it can't be used by anyone else due to this issue.

Has anyone else found a different workaround?

[2017-06-29 18:21] kevinpumpup commented on #2698
I am using `yarn` to run test suite (mocha) and a mocha "heap out of memory" error (code 134) is being swallowed by yarn, resulting in false-positive return code from test/CI.

[2017-06-29 19:47] alexbet opened #3761 "No v0.24.6 on Npm?"
Trying to install the newest v0.24.6 of Yarn from Npm, but the latest one there is 0.24.5.

[2017-06-29 20:31] sharikovvladislav commented on #3761
It is available:

[code]

[2017-06-29 20:57] DanBuild opened #3762 "yarn-homebrew #25 failed"
Build 'yarn-homebrew' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [bestander] 30d3e53ecc861b9a959ee5bd35bab0174e055a4c - Add path to remaining fetchBadHash error (#3749)

- [noreply] 08411a05a4f2a722d51c7fc0bb69d51702781b91 - Fix: Make tests great again on Travis CI macOS (#3667)

- [noreply] 08a9c7b57cd852f1cae435ddeeb7a68dd1fa6a84 - Yarn workspaces

[2017-06-29 20:58] DanBuild commented on #3762
Build was fixed!

[2017-06-29 20:58] #3762 closed

[2017-06-29 21:02] Daniel15 commented on #3761
We just published a new stable version (0.27.3) so this is likely not relevant any more.

[2017-06-29 21:02] #3761 closed

[2017-06-29 21:07] bestander commented on #3738
OS limitation could be actionable as well.
I suppose the question is whether it is worth displaying the same wanring every time you install a IO tool not on a Mac, I think we should give windows users a chance to not show them when the dependencies are optional.

I'll reopen, it seems worth discussing more.

[2017-06-29 21:14] bestander commented on #3306
Of course, @aracarie, please do

[2017-06-29 21:31] bestander commented on #3752
Thanks, @d4rky-pl.
Yeah, yarn should be atomic and should indicate that install scripts started but have not finished.
The logic is in package-linker.js, help is welcome

[2017-06-29 21:47] destroyerofbuilds commented on #3761
@Daniel15 would y'all please point `latest` to 0.27.3?

[code]

Since Heroku resolves Yarn (when not specified in the `package.json` file) against the `latest` dist-tag in `npm`, 0.27.3 isn't available in Heroku.

[2017-06-29 22:27] bestander opened #3764 "💩💩💩💩 EMOJI STOPPED WORKING 💩💩💩💩"
caused by https://github.com/yarnpkg/yarn/pull/3126

<img width="291" alt="screen shot 2017-06-29 at 3 26 57 pm" src="https://user-images.githubusercontent.com/2121048/27713220-6bf30c6a-5cdf-11e7-8ccb-f8adfc875768.png">

[2017-06-29 22:55] #2930 closed

[2017-06-29 22:59] spencer-brown opened #3765 "yarn@0.27.3 consistently 404s on private packages"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
yarn@0.27.3 fails to install private packages on every run of `yarn` across several different projects/lockfiles, with a 404.

eg
<img width="1131" alt="screen shot 2017-06-29 at 3 55 41 pm" src="https://user-images.githubusercontent.com/5354793/27714033-7590524c-5ce3-11e7-9049-6f2f82372fe7.png">

**I

[2017-06-29 23:58] bestander commented on #3765
Thanks, looks like this one slipped.
I am thinking of rolling back 0.27.3 to RC

[2017-06-30 00:02] bestander opened #3767 "Running jest via `yarn run` breaks jest"
After updating to 0.27.3 Travis started failing tests https://travis-ci.org/yarnpkg/yarn/jobs/248542037.

This can be reproduced locally:

- install yarn@0.27.3
- yarn run jest

However running jest directly works

- ./node_modules/.bin/jest

[2017-06-30 00:02] wearhere commented on #3765
Thanks for the quick response @bestander. Curious about "looks like this one slipped"—does Yarn not have tests for private module support? That's a huge part of our (and I would assume many folks') use of npm.

[2017-06-30 00:06] bestander commented on #3765
I think we have never set up e2e tests for private modules.
Would you want to help us out, set up an account and write a test?
We can take care of the billing

[2017-06-30 00:10] Daniel15 commented on #3765
We don't necessarily need something like npm enterprise, we could just have some simple server that we host ourselves

[2017-06-30 00:39] #3764 closed

[2017-06-30 00:42] bestander commented on #3755
related https://github.com/yarnpkg/yarn/issues/3765?

[2017-06-30 00:54] bestander commented on #3767
Issue was introduced between 0.26 and 0.27

[2017-06-30 01:02] bestander commented on #3767
This PR broke the tests https://github.com/yarnpkg/yarn/pull/3536

[2017-06-30 03:03] Daniel15 commented on #3718
The warning should only appear once per day, so it shouldn't be too annoying. We could change it to only show once per week instead maybe? Making it greyed out seems reasonable too.

We used to have a "self-update" command, so `yarn self-update` would update Yarn. However, it broke. #1139 tracks fixing it.

We could try auto update, however the update could take a while (which might not be what th

[2017-06-30 03:03] Daniel15 commented on #3758
I thought we already had a task for this, but I can't find it now.

[2017-06-30 04:00] robinst commented on #3765
@bestander Looks like the Debian archive still has 0.27.3, is it possible to roll that back as well?: http://dl.yarnpkg.com/debian/dists/stable/main/binary-all/Packages

[2017-06-30 04:16] bestander commented on #3765
I think it is more work than fix the 2 issues we have, we'll fix them ASAP

[2017-06-30 04:20] Daniel15 commented on #3765
@robinst No need to roll it back, you can install a specific version like this:
[code]

To keep it at that version (and never install a newer version), you can use mark the package as "held back":
[code]

Then just do `sudo apt-mark hold yarn && sudo apt-get upgrade` to get the newer version at some point in the future.

[2017-06-30 04:23] Daniel15 commented on #2711
Closing this out since we haven't heard back.

[2017-06-30 04:23] #2711 closed

[2017-06-30 04:25] robinst commented on #3765
@Daniel15 Thanks. Yeah, that's what I'm doing as a workaround (except with `0.24.6-1`). The `apt-get install` is in a Docker image, so it would be nicer if we could keep using stable instead.

[2017-06-30 04:33] bestander opened #3769 "Follow up on release 0.27.3"
- [x] #3759 was reverted because of jest complains, need to reland it with the fixes
- [x] We don't have tests that cover how current Yarn will run Yarn's jest tests https://github.com/yarnpkg/yarn/issues/3767. Circle CI could compile Yarn and use it to drive `test-ci` command
- [ ] We don't cover private packages installation e2e https://github.com/yarnpkg/yarn/issues/3765

[2017-06-30 04:37] Daniel15 commented on #3769
We could make CircleCI use the latest nightly build of Yarn, rather than the current release build. This would help us more easily catch issues with Yarn itself. That's a one-line change in `scripts/bootstrap-env-ubuntu.sh`:
[code]

Or the RC instead.

Having said that, that also means that a broken version of Yarn would also break the build, and the build won't be fixed until the fix is committed

[2017-06-30 04:41] bestander commented on #3769
I think nightly on Circle and stable on Travis could be a good mix.

[2017-06-30 04:42] Daniel15 commented on #3769
Given CircleCI is the backbone of our release infra, it might be safer to use nightly on Travis 😛

[2017-06-30 04:44] bestander commented on #3769
True!

[2017-06-30 04:46] bestander commented on #3769
As a matter of fact Circle is using yarn v0.21.3 and is green.
We might configure one matrix rule on Travis to run on nightly (or compiled current)

[2017-06-30 05:18] bestander commented on #3755
@betalb, can you confirm if this is a regression from current stable (0.24.6)?

[2017-06-30 05:23] bestander commented on #3765
@spencer-brown can you confirm in what version it worked for you?
Have you tried 0.26?

[2017-06-30 05:32] betalb commented on #3755
@bestander Looks like #3765 is about `yarn install` while this issue is about `yarn publish` of scoped packages, initially I found it on 0.24.6, so personally I don't think that this bug blocks RC promotion to stable

[2017-06-30 05:53] bestander commented on #3755
Thanks, @betalb.

[2017-06-30 05:55] betalb commented on #3700
@gatimus Putting `"@[scope]:registry"` into quotes inside of .yarnrc works for me

[2017-06-30 06:47] betalb commented on #3767
Is it breaking only jest run? I have the same issue with grunt. Grunt is not referenced in script section of package json and I launch it using following command `yarn run -- <task name>`, it worked find in 0.24.6

[2017-06-30 06:52] bestander commented on #3767
If you add YARN_SILENT=0 in package.json similar to https://github.com/yarnpkg/yarn/issues/3770, does it fix for you?
Otherwise please share how exactly grunt got broken

[2017-06-30 07:09] betalb commented on #3767
Actually my issue is not solved be env variable, steps to reproduce below

* yarn init
* yarn add grunt
* yarn run grunt -- --version

**Expected result:**
[code]

**Actual result:**
[code]

adding dummy record to scripts, fixes the problem
[code]

[2017-06-30 07:14] bestander commented on #3767
Looks like a Windows related bug, can't repro on Mac.
I don't think it is related to this task.
Could you please raise another issue?

On 30 June 2017 at 00:10, Виталий <notifications@github.com> wrote:

[2017-06-30 07:17] betalb commented on #2591
@Daniel15 yarn init in git bash produces slightly different error message, but seems to be related

Aliasing doesn't help

[code]

[code]

[2017-06-30 07:17] betalb commented on #3767
sure

[2017-06-30 07:25] betalb opened #3773 "Yarn run no longer works on windows with executables not mentioned in package.json/scripts"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When running executable, that is not mentioned in scripts section of package.json using `yarn run`, yarn fails

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
* yarn init
* yarn add grunt
* yarn run grunt -- --version

Adding grunt to scripts resolves an issue
[cod

[2017-06-30 09:49] arcanis commented on #3765
0.26 is also affected, please use 0.25.4 instead. The commit that introduced the bug is https://github.com/yarnpkg/yarn/commit/33820719e2c049ff93e86d29251b96d496f2b6e8.

[2017-06-30 11:39] himanshuphirke commented on #2983
The project folder is on a mounted partition. The OS on which this is worked is a Ubuntu VM (VirtualBox). The mounted partition works for installing only sym links are errored

[2017-06-30 11:43] arcanis commented on #3773
Hm, we do have a [test](https://github.com/yarnpkg/yarn/blob/master/__tests__/commands/run.js#L69-L76) to check this, and it seems to be passing, even on Windows :/ Does anybody reproduce this? I can't make this happen on OSX.

[2017-06-30 11:45] arcanis commented on #3769
Re: private packages; I've setup a private package at @arcanis/private-pkg for debugging and fixing the issue, but it would be better to have something on the @yarnpkg organization.

[2017-06-30 11:57] #3757 closed

[2017-06-30 12:56] luchillo17 commented on #2240
@pribilinskiy @raido I've found `yarn --force` or `yarn install --force` does the trick as well, what's the difference?

[2017-06-30 14:21] brianhorst commented on #3509
I tried offline pruning true with scoped packages on the 0.27.3 RC and it is working as expected. I don't know exactly what changed, but it was probably something for #3154. This can probably be closed.

[2017-06-30 14:28] dguo commented on #3509
Thanks for the update. I was planning to look into this issue today, but I'm glad to hear it appears to be fixed already.

[2017-06-30 15:14] gatimus commented on #3700
So like `"@[scope]:registry" "[registry URL]"`?

I now get `error Couldn't find package "@[scope]/[package]" on the "npm" registry.` like it is ignored.

Is there documentation I'm not finding?

[2017-06-30 15:33] jgerigmeyer commented on #681
This issue was fixed, but now I'm seeing it again with v0.27.3. (It was working in v0.24.6.)

package.json:
[code]

v0.24.6:
[code]

v0.27.3:
[code]

[2017-06-30 16:06] jgerigmeyer opened #3775 "Regression: Pinning dependencies behaves differently than npm."
**Do you want to request a *feature* or report a *bug*?**
Bug (regression)

**What is the current behavior?**
This is a regression of #681: "Pinning a package to an exact version in `package.json` does not also pin it for dependencies, even if the pinned version satisfied the range."

**If the current behavior is a bug, please provide the steps to reproduce.**
I've pinned `left-pad@1.1.1` and `col

[2017-06-30 16:39] dchinn commented on #3277
sorry i haven't been commenting on this; i haven't been getting all the notices of activity on this thread.

At the suggestion of daniel15, i uninstalled yarn and re installed using the installer.

Now yarn --version says i'm running 0.24.6

On windows 10, yarn is still not installing all the packages correctly...

[2017-06-30 16:42] arcanis commented on #3775
I'm not sure Yarn should make any guarantee regarding the layout of the dependencies (except that any installed dependency satisfies the dependency specified inside its parent `package.json`), since that would prevent us from improving the package tree resolution later (for example the issue you've noticed is caused by a fix that actually makes Yarn give more stable when generating the disk tree).

[2017-06-30 16:57] Daniel15 commented on #3750
This issue was moved to yarnpkg/release-infra#15

[2017-06-30 16:57] #3750 closed

[2017-06-30 16:58] Daniel15 commented on #3606
This issue was moved to yarnpkg/release-infra#16

[2017-06-30 16:58] #3606 closed

[2017-06-30 16:58] Daniel15 commented on #3593
This issue was moved to yarnpkg/release-infra#17

[2017-06-30 16:58] #3593 closed

[2017-06-30 16:58] Daniel15 commented on #3108
This issue was moved to yarnpkg/release-infra#18

[2017-06-30 16:58] #3108 closed

[2017-06-30 17:00] alexre0 commented on #1297
+1
v0.27.3

[2017-06-30 17:41] bestander commented on #3509
Thanks for reporting

[2017-06-30 17:41] #3509 closed

[2017-06-30 17:43] bestander commented on #2983
Thanks for clarification, @himanshuphirke, so the solution would be to disable symlinks inside node_modules completely?
I guess --no-bin-links flag should be the only solution

[2017-06-30 18:06] #3767 closed

[2017-06-30 18:12] jgerigmeyer commented on #3775
@arcanis That RFC would certainly work for me! 👍

[2017-06-30 18:14] jeffrey-xiao opened #3776 "Yarn check fails when version is prefixed with a 'v'"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`yarn check` fails when version is prefixed with a 'v'.

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/jeffrey-xiao/yarn-check-error-repro
[code]

**What is the expected behavior?**
Should not error.

**Please mention your node.js, yarn and operating sy

[2017-06-30 18:36] bestander commented on #3775
I agree with @arcanis that Yarn should not give guarantees because this depends on the order when dependencies are resolved.
Let's defer to that RFC 68.
Later on we should improve how Yarn optimizes the resolution tree

[2017-06-30 18:36] #3775 closed

[2017-06-30 18:38] bestander commented on #3776
There is a package that sanitizes version.
Feel free to send a PR to use it in the check.js command.

[2017-06-30 18:51] bdukes commented on #3773
This appears to only be an issue when there are additional arguments passed.  `yarn run gulp` works for me, but `yarn run gulp -- --verbose` or `yarn run gulp -- watch` do not

[2017-06-30 18:58] brybrophy opened #3777 "Incorrect dependency "lilacie-promise" listed under package "read-all-stream""
I'm reporting a bug the happens when installing the package, "read-all-stream".

The package has a dependency called "pinky-promise", but the yarn.lock file lists the dependency as "lilacie-promise".

When adding "read-all-stream", yarn generates the following error:
[code]
This issue is not reproducible when installing "read-all-stream" with npm.

I'm using yarn version 0.24.5, node version 8.1.2

[2017-06-30 19:23] #2151 closed

[2017-06-30 19:23] #2953 closed

[2017-06-30 19:30] bestander commented on #3765
Commented on a change that probably introduced the break.
We need to start the fix with proper tests in place https://github.com/yarnpkg/yarn/pull/3231#issuecomment-312353919

[2017-06-30 19:41] bestander commented on #1297
I could not reproduce on latest yarn@0.27.3.
Closing.

@fugufish and @alexre0, please provide a test script how I can reproduce it not working.
Better open a new issue with the steps.

[2017-06-30 20:01] gaearon commented on #3738
We could probably downgrade this to an "info" log level (and introduce concept of log levels like npm has).

[2017-06-30 20:12] cibernox commented on #3751
FWIW, I've also experienced this using `--nightly` with the install script

[2017-06-30 20:13] jhabdas commented on #3738
@gearon Could you provide two complimentary test cases please? I read the details and heard the suggestion. But I'd like to personally take in what you consider a frightening experience for beginners for something that is "almost never actionable". You mentioned Webpack above. To me Webpack itself is frightening and I don't use it as a result. There are a lot of great things that can be done with

[2017-06-30 20:14] bestander commented on #3751
Thanks, I'll investigate + convert the check into a warning

[2017-06-30 20:17] cibernox commented on #3751
Pinning to 0.27.3 works for me.

[2017-06-30 20:18] bestander commented on #3751
Yeah, it is only in master right now

[2017-06-30 20:27] #3559 closed

[2017-06-30 20:45] bestander opened #3778 "[feature] improve resolution deduping"
**Do you want to request a *feature* or report a *bug*?**
*feature*

Tentative about making it into 1.0 release because I think it is an important improvement over the existing experience.

**What is the current behavior?**

As described in https://github.com/yarnpkg/yarn/issues/3775 whether Yarn will download 2 different versions of left-pad depends on the order dependencies are resolved (it's al

[2017-06-30 20:45] bestander commented on #3778
Up For Grabs - comment here if you want to give it a try.

[2017-06-30 20:56] bestander commented on #3765
@spencer-brown, can you confirm if the issue is still there in 0.27.4?

[2017-06-30 21:26] mxmul opened #3780 "yarn --flat sees a version conflict where there is none"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`yarn --flat` sees a version conflict where there is none (in >=0.27.0).

If I have package A that requires 'left-pad@>=1.0.1" and package B that requires both A and "left-pad@1.1.1", and install package B with `yarn --flat` there is a conflict.

**If the current behavior is a bug, please provide the s

[2017-06-30 21:30] CrabDude opened #3781 "Packages with build artifacts missing, but listed in .yarn-integrity, should be rebuilt."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Packages are not rebuilt if all non-build artifacts already exist at the destination. This results in errors like:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

If a file contained in `.yarn-integrity` is missing (or

[2017-06-30 21:37] scottyeck commented on #3765
@bestander Please ignore if I'm being another cook in the kitchen, but I can confirm the issue in 0.27.4...

![build__1780_-_fabrictech_cashmere_-_travis_ci](https://user-images.githubusercontent.com/3766777/27754883-a710ed18-5dba-11e7-9f13-e446340f84c8.jpg)

[2017-06-30 21:41] bestander commented on #3765
@scottyeck, you are most certainly welcome.
Can you help us out a bit and check in which releases it worked.

These are the recent releases
[code]

[2017-06-30 21:43] scottyeck commented on #3765
I just rolled us back to `0.24.6`, which was our last usage without failure. I'll try the incremental upgrades over the next few moments and report back.

[2017-06-30 22:20] scottyeck commented on #3765
Reporting back...
[code]

[2017-06-30 22:26] jods4 commented on #3773
Same here: `yarn run webpack -- --config webpack.config.vendor.js` used to work.
Not anymore.

[2017-06-30 22:27] arcanis commented on #3765
That's really weird ... I just checked the 0.27.4 with my private pkg (`@arcanis/private-pkg`), and it works fine o0

[2017-06-30 22:32] arcanis commented on #3765
I managed to reproduce the issue! For some reason, `yarn add <pkg-name>` manages to fetch the package when the cache is empty, but `yarn install` doesn't.

[code]

[2017-06-30 22:54] binarykitchen opened #3783 "Document yarn publish --new-version"
This is a new feature we added recently in https://github.com/yarnpkg/yarn/issues/3011 but is not documented yet here
https://yarnpkg.com/lang/en/docs/cli/publish/

[2017-06-30 23:02] bestander commented on #3765
0.27.5 is coming with a patch in 20 minutes

[2017-06-30 23:37] bestander commented on #3765
@scottyeck, can you test 0.27.5, it is available?

[2017-06-30 23:39] bestander commented on #3780
Related to https://github.com/yarnpkg/yarn/issues/3778 and https://github.com/yarnpkg/rfcs/pull/68

[2017-06-30 23:40] scottyeck commented on #3765
@bestander Just a moment.

[2017-06-30 23:42] bestander commented on #3781
Good find

[2017-06-30 23:42] bestander commented on #3781
Send a PR please :)

[2017-06-30 23:45] bestander commented on #3777
Can't reproduce neither via `yarn add read-all-stream` nor `yarn add pinky-promise`.

Please provide a package.json to repro

[2017-06-30 23:49] brybrophy commented on #3777
[code]

[2017-06-30 23:49] scottyeck commented on #3765
`0.27.5` is available and OK on my end.

[2017-06-30 23:50] DanBuild opened #3784 "yarn-homebrew #28 failed"
Build 'yarn-homebrew' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://build.dan.cx/job/yarn-homebrew/28/)

cc @Daniel15

[2017-06-30 23:53] bestander commented on #3777
Nope, no `lilacie-promise` in my installation.
Try removing yarn.lock and running install again.
Also try latest yarn@0.27.5

[2017-06-30 23:58] brybrophy commented on #3777
I wonder if it had to do with the yarn version. Homebrew was installing yarn 0.24.5, but it worked after moving to 0.27.5.

Thanks for the quick response!

[2017-07-01 00:00] bestander commented on #3777
Ok, let's resolve it as fixed in 0.27, thanks for reporting

[2017-07-01 00:00] #3777 closed

[2017-07-01 00:10] DanBuild commented on #3784
Build was fixed!

[2017-07-01 00:10] #3784 closed

[2017-07-01 03:45] #3329 closed

[2017-07-01 03:45] #2710 closed

[2017-07-01 04:09] gsklee commented on #1149
Issue closed due to lack of further information; if you can still reproduce it on the latest Yarn (v0.27), please submit a new issue with detailed info, thanks!

[2017-07-01 04:09] #1149 closed

[2017-07-01 04:16] gsklee commented on #1327
@bestander Any idea why there is a `v` for tar files eg. `yarn-v0.27.5.tar.gz`, but no `v` for all other files in a release?

[2017-07-01 05:06] bestander commented on #1327
Afaik no real reason.
There might be CI systems that depend on it though so I would consider that
before changing.

On Fri, Jun 30, 2017 at 9:16 PM G. Kay Lee <notifications@github.com> wrote:

[2017-07-01 05:24] fugufish commented on #1297
create a brand new package that is not registered on npm, use `yarn link <package-name>`
create project that references that package and version, use `yarn link <package-name>`
package correctly shows up in node_modules
call `yarn install`
an error will be thrown saying the package does not exist.

[2017-07-01 06:05] bestander commented on #1297
first time you need to call `yarn link` without package name.

[2017-07-01 08:00] varnav opened #3785 "Is it safe to run yarn as root?"
[It is safe to run npm as root since version 0.3.0](https://github.com/npm/npm/issues/294)
Actually it's even safer than running it as non-root.

But what about yarn? Does it have similar protective mechanisms or it's on the roadmap at least?

[2017-07-01 08:46] #3177 closed

[2017-07-01 09:34] Volune commented on #3720
Working on it. Looking at the code made me realise there are a lot of things unclear regarding git dependencies, like some optimisations are not shared between git resolvers and git fetchers, or that dependencies using "github:", "bitbucket:" ... prefixes will not have their `prepare` script executed.
I try to focus on the branch/tag resolution for the moment.

[2017-07-01 10:42] twooster commented on #3724
Seeing this in 0.27.5 as well.

[2017-07-01 11:37] whitecolor commented on #1326
Isn't there automatic publishing in alipne repo? https://pkgs.alpinelinux.org/packages?name=yarn&branch=&repo=&arch=&maintainer=

The latest available version is still 0.24

[2017-07-01 11:43] rockchalkwushock opened #3787 "Prefix added to version of packages in package.json"
[code]

I did not see a similar issue opened and this could just be based on my own local settings with `yarn`. Seems after upgrading to `@0.27.5` whenever I install a package I get the following:

[code]

My guess is that `yarn` is now using the whole prefix of where to find the cached modules on my machine. Not very well versed in my understanding of how some of that works 😕 . Figured I'd report

[2017-07-01 11:48] rockchalkwushock commented on #3787
I just noticed that support was added in `@0.27.0` for `~` to be seen as `$HOME`. I'm now wondering if the fact I have `save-prefix: "~"` could be resulting in a translation from `~15.16.1` to `/Users/codybrunner15.16.1`. I'm going to check this out and get back with an answer soon 😉

[2017-07-01 11:55] rockchalkwushock commented on #3787
Yep absolutely the problem!

After running:

[code]

## Result

[code]

Unfortunately I have not the slightest idea of how to resolve something like this in the underlying source code :confused:; but at least I now know that the change made in `@0.270` to support `~` being seen as `$HOME` is the underlying issue. I will leave this to someone on the `yarn` team or someone that knows more about how

[2017-07-01 15:32] fugufish commented on #1297
either way it doesn't work.

[2017-07-01 15:36] pixelpax opened #3788 "`yarn list` shows devDependencies on a production install."
I boot a production version of my container with a Dockerfile that includes commands

**Do you want to request a *feature* or report a *bug*?**
I believe this is a bug as I receive misleading information.

**What is the current behavior?**
I have a container built from an image with the following in its Dockerfile
[code]

I am expecting it to be building in production and ignoring devDependencies.

[2017-07-01 17:25] voxsim commented on #3693
@kaylieEB @bestander I opened a pull request with an experiment that seems to work O.o I am using babel-polyfill and babel-preset-env, please let me know if you like it :) I hope it works!

[2017-07-01 19:45] szarouski commented on #1952
@arcanis just came back after update to 0.27.5 from 0.26.1

[2017-07-01 20:10] arcanis commented on #1952
The commit that fixed this issue was breaking installing private package :/ @BYK I kinda remember you worked a bit on this, what do you think would be the best way to solve this issue? If I understand correctly:

- When fetching a private package from the NPM registry, the auth token must be sent (logic)
- When fetching a public package from the NPM registry, the auth token must NOT be sent (weird

[2017-07-01 20:48] Narven opened #3791 "yarn config get init-version returns true"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
When run `yarn config get init-version` it returns `true`

**If the current behavior is a bug, please provide the steps to reproduce.**
run `yarn config get init-version`

**What is the expected behavior?**
It should return '0.0.0' which is what it shows when you run `yarn config list`

**Plea

[2017-07-01 22:01] twooster commented on #3724
I'll have a pull-request which kind of fixes this, but it looks like it's a hairier problem than I originally gave it credit for, so I'm not entirely satisfied with my solution. My personal use-case is to get more sanity in Docker dev environments whereby I can use a `node_modules` folder outside of my source path so that there's no files being written thru docker into my local environment. For th

[2017-07-01 22:14] Daniel15 commented on #1326
The Alpine repo is community maintained; it's not maintained by the Yarn team.  You'd need to contact its maintainer to get the package updated.

[2017-07-01 23:26] alexilyaev opened #3793 "Wrong version resolution with ^ of sub-dependency and failed to dedupe"
## **Do you want to request a *feature* or report a *bug*?**

Bug

## **What is the current behavior?**
A package being installed twice with different versions where it should be installed once.
Failing to dedupe.

## **If the current behavior is a bug, please provide the steps to reproduce.**

In `package.json`:

[code]

`stylelint-webpack-plugin` has in it's `package.json`:

[code]

### Installi

[2017-07-01 23:31] alexilyaev commented on #3793
For now updated in `yarn.lock` the `7.11.0` version to `7.12.0` and ran `yarn --force` and it worked:

[code]

[2017-07-02 03:13] localredhead commented on #1139
`brew upgrade yarn` and `brew link --overwrite node` worked for me.

[2017-07-02 05:18] cooperka commented on #1334
Confirmed still an issue with `yarn install v0.27.5`.

This bug causes `npm start` to fail in React Native libraries that include an example app (a common pattern) due to `@providesModule` collisions (similar to https://github.com/facebook/react-native/issues/13364). One workaround is to simply install again using `npm`.

[2017-07-02 07:33] rameshvishnoi90904 commented on #3708
i am also facing same issue

[2017-07-02 09:33] #2349 closed

[2017-07-02 09:36] cebor commented on #3406
Issue is still in `0.27.5`.

[2017-07-02 09:41] stepankuzmin commented on #1337
Any news?

[2017-07-02 09:42] Narven opened #3797 "Documentation: yarn licenses generate-disclaimer wrong description"
**Do you want to request a *feature* or report a *bug*?**
Documentation bug

**What is the current behavior?**
[https://yarnpkg.com/en/docs/cli/licenses#toc-yarn-licenses-generate-disclaimer](https://yarnpkg.com/en/docs/cli/licenses#toc-yarn-licenses-generate-disclaimer) shows in the description:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Go to [https://y

[2017-07-02 10:28] imsurinder90 commented on #1747
@metaunicorn your solution didn't worked for me.
I tried running:
yarn add https://github.com/dragosu/jquery-aciTree/tarball/master --ignore-manifest

it still given error:
Couldn't find a package.json file

Am i missing anything?

[2017-07-02 13:41] cliffmeyers commented on #2457
@choliver thanks for the heads up.

[2017-07-02 14:08] anfomin commented on #2724
This bug still presents in 0.27.5 on my Windows 10 machine:
<img width="860" alt="2017-07-02 19 06 25" src="https://user-images.githubusercontent.com/1905503/27770540-c82dc836-5f59-11e7-9dd0-65ea389bed85.png">

[2017-07-02 15:39] A opened #3798 "Yarn reinstall fork to original module on install and on add every new module"
### Current Behaviour and how to reproduce

I'm forked `react-native-elements` and made few patches for it. Then I added it to my project by `yarn add a/react-native-elements`. In package.json I also have `a/react-native-elements`. All works good till `add` any other module to project.

After I'm adding any other module into my project, my fork is replaced to original repository I forked. There is

[2017-07-02 16:28] metaunicorn commented on #1747
@imsurinder90 my suggestion to @kittens was to add a NEW option called `--ignore-manifest` to the CLI, but it doesn't exist yet :(

[2017-07-02 16:49] bestander commented on #1747
This should be fixed in master,
0.28 release

[2017-07-02 16:49] #1747 closed

[2017-07-02 17:12] mattbishop opened #3799 "Installation Problem: Don't install node6 if node already installed"
**Which operating system are you using:**
MacOS 10.12.5

**Please describe the steps you took when trying to install Yarn and what went wrong:**
I am using MacPorts to install yarn. I also use NodeJS 8. I do not want to use node6.

However, yarn installs node6 even though `node` is on the path. Please consider searching for an existing `node` before installing one.

[2017-07-02 17:17] magicmark commented on #3778
I'm looking at this now, happy if someone beats me to the punch though :)

[2017-07-02 19:07] Daniel15 commented on #1747
Running `echo '{}' > package.json` before `yarn add` should work too.

[2017-07-02 19:09] jrock2004 opened #3800 "Yarn global apps command not found"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

When running the command `yarn global add gulp`. Its telling me its successful, but when I try to use itm I am getting command not found

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

I can execute gulp command

**Please mention your node

[2017-07-02 19:09] Daniel15 commented on #2724
@anfomin  - It's likely the fix hasn't yet been cherry-picked into a stable release. You could try the latest nightly and see if it's fixed there. https://nightly.yarnpkg.com/latest.msi

[2017-07-02 19:39] domoritz opened #3801 "Yarn installs old versions in .bin"
Reproduce with

[code]

Prints `uglify-js 2.8.29` but should print version 3.

[2017-07-02 20:41] TheDeadCode opened #3802 "SSL handshake failed"
Using brew on macos latest

Error 525 Ray ID: 37846989ce13185e • 2017-07-02 20:39:03 UTC
SSL handshake failed

Seems to happen on certain edges
https://check-host.net/check-report/3424ac1kb5e

![CF](https://i.imgur.com/k20ZgHb.png)

[code]

[2017-07-03 02:02] cooperka commented on #610
It would be great to have a `--dry-run` flag for publishing.

With npm you can use `npm pack` to generate a tar that's exactly the same as the release contents, but using `yarn pack` seems to include every single file (it doesn't respect your `files` array or `.npmignore` settings). I assume these would be excluded when actually publishing, but there's no way to know without a dry-run.

[2017-07-03 02:16] Daniel15 commented on #3802
That's strange... Looks like it's not happening any more. Have you seen this again?

[2017-07-03 02:18] Daniel15 commented on #3799
MacPorts is community maintained; it's not maintained by the Yarn team. You'll need to contact whoever maintains the Portfile for Yarn to make this change. See https://github.com/macports/macports-ports/blob/master/devel/yarn/Portfile

[2017-07-03 02:18] #3799 closed

[2017-07-03 02:19] Daniel15 commented on #3746
Are you still seeing issues here, or can this be closed out?

[2017-07-03 03:28] anfomin commented on #2724
@Daniel15 I've just tries version you specified. Bug is still there:

<img width="592" alt="2017-07-03 8 26 06" src="https://user-images.githubusercontent.com/1905503/27777103-56271a60-5fc9-11e7-9f10-1745596f29ea.png">

This happens only in **non-legacy Powershell** console. If I switch to legacy mode then colors are OK.

<img width="382" alt="2017-07-03 8 27 36" src="https://user-images.githubuse

[2017-07-03 03:58] TheDeadCode commented on #3802
Took a few hours to work again; Works now.

[2017-07-03 03:58] #3802 closed

[2017-07-03 05:59] Daniel15 commented on #3716
Did you install Node.js via Chocolatey or via some other mechanism?

[2017-07-03 06:33] MFry commented on #648
Just wanted to add that this issue is present on Windows 7 and Ubuntu 16.04.2

[2017-07-03 07:19] nicostuhlfauth commented on #3716
@Daniel15 First I installed it using Chocolatey. The install itself worked, but my node LTS version has been replaced with node v8. So I needed to reinstall node LTS. Installing yarn with its default installer works pretty well. The Chocolatey installer seems not to be recognizing the already installed LTS version...

[2017-07-03 07:25] nicostuhlfauth commented on #3716
@Daniel15 Node.js has been installed using Chocolatey.

[2017-07-03 08:58] app commented on #3255
@Daniel15

Thanks. It works!
And what about next time I run `sudo apt upgrade` ? Will new version of `yarn` install nodejs?

[2017-07-03 09:42] jacek213 opened #3804 "Unable to install dependencies, 503 from registry backend"
$ curl -I https://registry.yarnpkg.com/
    HTTP/1.1 503 No healthy backends
    Date: Mon, 03 Jul 2017 09:41:20 GMT
    Content-Type: text/html; charset=utf-8
    Connection: keep-alive
    Set-Cookie: __cfduid=d1286fdfaf8c35d860c79024cf2ce60711499074880; expires=Tue, 03-Jul-18 09:41:20 GMT; path=/; domain=.yarnpkg.com; HttpOnly
    Retry-After: 0
    Accept-Ranges: bytes
    Via: 1.1 varnish

[2017-07-03 10:54] imsurinder90 commented on #1747
@Daniel15 i tried but it displays the same error on terminal

[2017-07-03 11:25] IgorAufricht opened #3806 "yarn upgrade --latest error"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
When using `yarn upgrade --latest`, in some cases there's an error (even though `yarn` and `yarn upgrade` work fine).

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Create an empty directory with the following `package.json` (this is the minimal example that shows the

[2017-07-03 11:29] IgorAufricht commented on #3806
Removing `phantomjs-prebuilt` finishes correctly both for the minimal example above and for our full `package.json`.

[2017-07-03 11:34] wmertens commented on #932
Still seeing this with Yarn v0.27.5 and `uws`. Every time something in my packages changes, uws is rebuilt.

The only interesting thing I can see about `uws` is that it [does not have a dependencies field in package.json](https://unpkg.com/uws@8.14.0/package.json).

[2017-07-03 11:59] dschep commented on #3746
Nope, issue is resolved. Thanks for the info, tho I would like to point out that the status page didn't' reflect this outage, which would be nice (we've added the RSS feed for it to our slack notifications).

[2017-07-03 12:00] zifeo opened #3807 "Wrong packaged version, got 0.24.6 instead of 0.27.5"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Installing yarn 0.24.6 instead of 0.27.5 through some package providers (Debian repositories, shell script, npm).

**If the current behavior is a bug, please provide the steps to reproduce.**
`docker run --rm -it node "curl -o- -L https://yarnpkg.com/install.sh | bash && yarn --version"` outputs the

[2017-07-03 13:15] BYK commented on #1952
I think NPM allows you to make authenticated requests for public packages without a problem provided that your tokens are valid. May be we can retry with/without a token if the first request fails?

We can also probably save the token/no-token preference per package to somewhere for future requests?

[2017-07-03 15:17] voxsim opened #3808 "Add https://github.com/prettier/eslint-config-prettier to avoid future conflicts in eslint rules"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
If we add an eslint rules that conflicts with prettier we need to turn off it.

**What is the expected behavior?**
Add https://github.com/prettier/eslint-config-prettier and forget about that :D
When I tried the cli tool [prettier/eslint-config-prettier#cli-helper-tool](https://github.com/prettier/

[2017-07-03 15:30] kaylieEB opened #3809 "Use BABEL_ENV in webpack/gulp configuration files"
**Do you want to request a *feature* or report a *bug*?**

Minor dev enhancement

**What is the current behavior?**

Uses babel configuration by manually parsing babelrc json

**If the current behavior is a bug, please provide the steps to reproduce.**

N/A

**What is the expected behavior?**

babel-loader's `query` field has been deprecated with webpack2 so that can be replaced by using the envir

[2017-07-03 15:33] arcanis opened #3810 "Link: protocol dependencies are not removed when the dependency changes"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
The symlink is not removed even once the dependency has been removed from the package.json

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
The symlink should be removed

**Please mention your node.js, yarn and operating system ver

[2017-07-03 15:35] arcanis commented on #3785
We recommand not running Yarn as root, and installing your global packages in your home directory (which is what Yarn does). Why do you want to run it as root?

[2017-07-03 15:37] arcanis commented on #3787
I guess the easy fix would be to check for `~/` instead of `~`. Thanks for investigating!

[2017-07-03 15:49] GBeauny commented on #3277
FYI: I solved this issue by upgrading node.js.

[2017-07-03 15:51] BYK commented on #3769
@bestander I did the second item on Travis CI instead since it was easier: https://github.com/yarnpkg/yarn/pull/3805

[2017-07-03 16:06] MathieuDoyon commented on #1823
Same here after I ran `yarn cache clean`
- Yarn version : 0.21.3
- Node version: 8.1.2
- Platform: macOS Sierra 10.12.5

[2017-07-03 16:29] #3424 closed

[2017-07-03 16:44] jrock2004 commented on #3800
Reinstalled NodeJS and npm and now it seems to work. Hmmm

[2017-07-03 16:44] #3800 closed

[2017-07-03 16:44] A commented on #3798
As I got this issue is related to incorrect cache. By some reasons `PackageLinker` is copying wrong cache folder on each Install. I can't reproduce issue after `yarn cache clean`.

[code]

[code]

[2017-07-03 16:45] #3798 closed

[2017-07-03 16:46] bestander commented on #1747
@Daniel15, the problem is that package.json is missing from https://github.com/dragosu/jquery-aciTree/tarball/master not the project that adds it.

This PR (in yarn 0.28) added ability to refer git repos without package.json https://github.com/yarnpkg/yarn/pull/3701.
But I am not sure it will work for a tarball git dependency.

[2017-07-03 16:47] #3746 closed

[2017-07-03 17:02] bestander commented on #3693
❤️

[2017-07-03 17:09] bestander commented on #3724
The original --modules-folder idea IIRC is to support other languages, e.g. `python_modules`, `c_modules`.
I agree that it would be better to configure folder in one place

[2017-07-03 17:25] aij commented on #3617
There are similarly confusing error messages when other flags are specified before the command as well. Rather than recognizing the command that is after the flags, yarn will infer the command as `install`, and then complain about the `install` being used inappropriately. This is particularly surprising on GNU/Linux where the position of flags tends to be quite flexible. (Some of) the BSDs tend to

[2017-07-03 18:45] Daniel15 commented on #3807
Every other software program has the same problem - This is not specific to Yarn. I'm not sure what we could do to prevent this. Searching the entire `$PATH` every time Yarn executes would needlessly slow it down for most users.

[2017-07-03 18:46] rockchalkwushock commented on #3787
@arcanis

I figured it would be something like this. I've never done much with CLI related libraries so I was hesitant to make any changes. I'll open a PR if I can find where in the source code to make the change and submit when the tests are passing locally.

[2017-07-03 19:05] zifeo commented on #3807
Could at least the `install.sh` perform the check?

[2017-07-03 19:06] jleclanche opened #3812 "Missing .bin folder as of 0.25.4"
I use the following command to install some application (on vagrant):

`yarn install --modules-folder "$NODE_MODULES" --pure-lockfile --no-progress`

Where $NODE_MODULES is a couple of folders up.

This command no longer creates a .bin directory. After doing a regression test, it looks like it's being created just fine in **0.25.3**, but breaks in **0.25.4**.

If I am to believe the 0.25-stable br

[2017-07-03 19:41] domoritz commented on #3812
Could that be related to https://github.com/yarnpkg/yarn/issues/3801?

[2017-07-03 20:04] arcanis commented on #1952
I was probably tired, I can't reproduce this issue on the computer I thought it failed... Just tried with 0.27.5, and it worked just fine with both public & private scopped packages 😶

[2017-07-03 23:33] zackschuster opened #3813 "error publishing scoped packages on windows"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
yarn publish throws an error for a scoped package. the package still publishes correctly (as far as i can tell), but creating a version commit/tag is left undone (and maybe other things i'm not aware of).

this was first observed after upgrading to 0.27.3 from 0.24.6, continuing through 0.27.5.

**If t

[2017-07-03 23:39] rockchalkwushock commented on #3787
DISCLAIMER: I am not strong in my regex-fu:

[code]

Not understanding what the initial intent here was 😕. If `userHome` is whatever the users home directory is whether `linux` or `macOS` Then I'm reading this as we should replace the provided string argument with the user's home directory matched to `~ || ~/`. What I'm not understanding is that after some reading `(?=ABC)` is a positive look ahea

[2017-07-04 05:16] imsurinder90 commented on #1747
@bestander Will it work if i fork this repo and add a package.json to it ?
and then run yarn add git+forkUrl
Also, i found the latest version of yarn(0.27) is yet not available at npm package repository.

Can someone tell when latest version of yarn will be available on npm pkg repo ?

[2017-07-04 06:19] bestander commented on #3793
https://github.com/yarnpkg/yarn/issues/3778 duplicate

[2017-07-04 06:19] #3793 closed

[2017-07-04 06:25] joint-song commented on #686
I also got this error, and checked the git config and repo auth setup, but got nothing. Then removed nvm, node(installed from brew), yarn(installed from brew), then just install node from official web, and yarn from npm. Did not install nvm. Then, it's allright!!!
I cannot able to explain why it is. Maybe nvm or not. Hope can help anyone.
url pattern of installed pkg in package.json:
`"pkgFoo": "g

[2017-07-04 06:25] bestander commented on #1747
and then run yarn add git+forkUrl

Yes

thanks, we do it manually, I'll promote 0.27 to stable now

[2017-07-04 06:42] bestander commented on #3801
Can repro this with latest Yarn.
Worked in 0.24

[2017-07-04 06:43] bestander commented on #3801
[code]

[2017-07-04 07:03] bestander commented on #3751
The problem is in bundledDependencies.
Sending a PR to make the issues non breaking installation

[2017-07-04 07:10] bestander commented on #3751
The bug is mitigated, the PRI can be lowered

[2017-07-04 07:14] jesstelford opened #3815 "upgrade-interactive row colours are incorrect"
## Bug report

### Current behaviour:

<img width="669" alt="screen shot 2017-07-04 at 5 07 42 pm" src="https://user-images.githubusercontent.com/612020/27819003-90263210-60db-11e7-81de-d40d88d2bf01.png">

### Reproduction steps:

Have a repo with various out of date packages, and run `yarn upgrade-interactive` to see the incorrect colours applied to the rows.

### Expected behaviour:

- `@domain-

[2017-07-04 07:15] maxdwit opened #3816 "Syncing Debian Repository http://dl.yarnpkg.com/debian/"
**What is the current behavior?**
As in https://github.com/yarnpkg/yarn/issues/3044 the debian repo is not providing any files.
Sadly I couldn't see any fix in the triage chat that was attached.

[code]
Any request to the repo gives:
[code]
HTTP Error 403

Tried both:  direct Internet access /  with a proxy.

**What is the expected behavior?**
No Error 403, but providing the content of the reposit

[2017-07-04 07:16] himanshuphirke commented on #2983
Isn't it a problem while installing over a VM partition? I mean there is a workaround but the original problem still exists

[2017-07-04 07:20] bestander commented on #3801
package-linker.js `determineTopLevelBinLinks` has incorrect logic inside.
It needs to go through top level dependencies first and then through the flat tree.

[2017-07-04 07:32] jseminck commented on #2484
I'm taking a look at this. Hopefully can make a PR later today or tomorrow.

[2017-07-04 07:33] Narven commented on #3791
This is a problem with my configuration. I was messing around with the config.

Sry

[2017-07-04 07:33] Narven commented on #3791
All works fine now. thanks

[2017-07-04 09:31] RadoRado commented on #2738
This problem is randomly occurring on Codeship builds. Any progress or ideas what's causing that?

[2017-07-04 10:19] Ionaru opened #3817 "Save selected version from version prompt to package.json"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Yarn saves the entered version number to package.json, even if it did not exist and another version was selected from a list. This will make yarn prompt the user with the version list each time `yarn` is ran.

Example:
I run `yarn add typescript@99`. Version 99 does not exist, so Yarn will prompt me wi

[2017-07-04 10:25] Ionaru opened #3818 "Return yarn version with yarn -v"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
`yarn -v` runs `yarn install`.
`yarn -V` returns version of yarn

**What is the expected behavior?**
`yarn -v` returns version of yarn
This would be in line with Node and NPM version outputs (`node -v` and `npm -v` respectively).

**Please mention your node.js, yarn and operating system version.**

[2017-07-04 10:31] Ionaru opened #3819 "Entries from 'yarn help' do not work"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
`yarn help` returns a list of commands, of which a few do not function.
Among them are `c`, `i`, `la`, `ll`, `r`, `t` and `v`

**If the current behavior is a bug, please provide the steps to reproduce.**
Run `yarn help`
Try `yarn <command>`, enter one of the commands mentioned above.

**What is the ex